@font-face {
	font-family: 'governorregular';
	src: url('fonts/governor-webfont.eot');
	src: url('fonts/governor-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/governor-webfont.woff') format('woff'),
		 url('fonts/governor-webfont.ttf') format('truetype'),
		 url('fonts/governor-webfont.svg#governorregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'proxima_nova_regularregular';
	src: url('fonts/proximanovaregular-webfont.eot');
	src: url('fonts/proximanovaregular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/proximanovaregular-webfont.woff') format('woff'),
		 url('fonts/proximanovaregular-webfont.ttf') format('truetype'),
		 url('fonts/proximanovaregular-webfont.svg#proxima_nova_regularregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'proxima_nova_semibolddemibold';
	src: url('fonts/proximanovasemibold-webfont.eot');
	src: url('fonts/proximanovasemibold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/proximanovasemibold-webfont.woff') format('woff'),
		 url('fonts/proximanovasemibold-webfont.ttf') format('truetype'),
		 url('fonts/proximanovasemibold-webfont.svg#proxima_nova_semibolddemibold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'proxima_nova_boldbold';
	src: url('fonts/proximanovabold-webfont.eot');
	src: url('fonts/proximanovabold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/proximanovabold-webfont.woff') format('woff'),
		 url('fonts/proximanovabold-webfont.ttf') format('truetype'),
		 url('fonts/proximanovabold-webfont.svg#proxima_nova_boldbold') format('svg');
	font-weight: normal;
	font-style: normal;
}
*{
	max-height:10000px;
	margin:0; 
	padding:0;
}
ul, ol, dl, p, h1, h2, h3, h4, h5, h6, address, form, table, blockquote, applet, embed, object, iframe, frameset{margin:0 0 14px;}
html, body, div, span, applet, embed, object, iframe, frameset,
p, q, blockquote, sub, sup, a, abbr, acronym, font, img, small, center,
h1, h2, h3, h4, h5, h6, b, strong, big, u, ins,
i, cite, em, var, dfn, address, s, strike, del,
dl, dt, dd, ol, ul, li, pre, code, kbd, samp, tt,
fieldset, legend, form, label, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header,
hgroup, menu, nav, section, summary, time, mark, audio,video{
	border:0;
	background:none;
}
label{vertical-align:middle;}
button, input{
	width: auto;
	overflow: visible;
}
h1, h2, h3, h4, h5, h6, b, strong, th{font-weight:bold;}
h1{font-size:200%;}
h2{font-size:150%;}
h3{font-size:120%;}
h4{font-size:110%;}
h5{font-size:100%;}
h6{font-size:90%;}
i, cite, em, var, dfn, address{font-style:italic;}
u, ins {text-decoration: underline;}
s, strike, del {text-decoration: line-through;}
blockquote, blockquote:before, blockquote:after, q, q:before, q:after {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';}
table, caption, tbody, tfoot, thead, tr, th, td{
	border-collapse: collapse;
	border-spacing: 0;
}
th, td{
	border:1px solid #ccc;
	padding:3px 7px;
	text-align:left;
	vertical-align:top;
}
th{
	border-color:#999;
	text-align:center;
	vertical-align:middle;
}
ul{margin-left:1px;}
ul li, ol li{list-style-position:inside;}
ul li{list-style-type:disc;}
body{
	margin:0;
	color:#000;
	font:16px/22px 'proxima_nova_regularregular', Arial, Helvetica, sans-serif;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust: none;
	min-width:960px;
	overflow:scroll;
	background:#fff;
}
img{
	border-style:none;
	max-width:100%;
}
a{
	text-decoration:none;
	color:#eb4410;
}
a:hover{text-decoration:underline;}
a:active{background-color:transparent;}
input, textarea, select{
	font:100% 'proxima_nova_regularregular', Arial, Helvetica, sans-serif;
	vertical-align:middle;
}
button::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
[type="button"]::-moz-focus-inner {
	padding:0;
	border:0;
}
form, fieldset{
	margin:0;
	padding:0;
	border-style:none;
}
input[type="image"]{padding:0;border:none;}
input[type=text], input[type=password], input[type=file], input[type=submit], textarea{-webkit-appearance:none; border-radius:0;}
header, footer, article, section, nav, figure, aside { display: block; }
figure { margin:0; padding:0; }
/* placeholder input styles */
::-webkit-input-placeholder {
	color:#bdbdbd;
}
::-moz-placeholder {
	color:#bdbdbd;
	opacity: 1;
}
:-moz-placeholder {
	color:#bdbdbd;
}
.alignleft{
	float:left;
}
.alignright{
	float:right;
}
.aligncenter{
	text-align:center;
}
img.aligncenter{
	display:block;
	margin:0 auto;
}
img.placeholder{
	display:block;
}
#wrapper{
	width:100%;
	overflow:hidden;
	position:relative;
}
#header{
	background:#fff;
	border:1px solid #e8e8e8;
	border-width:0 0 1px;
	box-shadow: 0 0 1px rgba(0,0,0, 0.1);
	margin:0 0 37px;
}
.home-page #header{
	margin-bottom:35px;
	max-width:none;
	border:none;
	box-shadow: none;
}
.header-holder{
	position:relative;
	padding:11px 0 10px;
	min-height:36px;
	max-width:940px;
	margin:0 auto;
}
.header-holder:after{
	content:'';
	display:block;
	clear:both;
}
.logo{
	float:left;
	margin:10px 0 0 18px;
	font-size:19px;
	line-height:28px;
	font-weight:bold;
	color:#e78667;
}
.logo a{
	display:block;
	background:url(images/logo.png) no-repeat;
	height:17px;
	width:182px;
	text-indent:-9999px;
	overflow:hidden;
	background-size:100% 100%;
}
.logo span{
	display:block;
	padding:20px 0 0;
	text-shadow:1px 1px 0 rgba(0,0,0, 0.6);
}
a.btn-login{
	font:16px/22px 'proxima_nova_semibolddemibold', Arial, Helvetica, sans-serif;
	color:#fff;
	text-align:center;
	float:left;
	min-width:56px;
	padding:6px 10px 7px;
	margin:0 9px 0 27px;
	background:#0e4d6c;
	border-radius: 3px;
	transition: background .25s ease-in-out;
}
a.btn-login:hover{
	text-decoration:none;
	background:#013853;
}
#nav{
	float:right;
	font:15px/18px 'proxima_nova_semibolddemibold', Arial, Helvetica, sans-serif;
}
#nav ul{
	margin:0;
	padding:9px 0 0;
	list-style:none;
	float:left;
	text-transform:uppercase;
}
#nav ul li{
	float:left;
	margin:0 0 0 26px;
	list-style:none outside;
}
#nav ul a{
	color:#f09477;
	transition: color .25s ease-in-out;
}
#nav ul a:hover,
#nav ul .active a{
	text-decoration:none;
	color:#000;
}
.open-close .js-slide-hidden{
	position:static !important;
}
a.nav-opener{
	position:absolute;
	right:0;
	top:0;
	width:60px;
	height:100%;
	text-align:left;
	text-indent:-9999px;
	overflow:hidden;
	background:#f09477 url(images/nav-opener.png) 50% 50% no-repeat;
	display:none;
}
#main{
	width:100%;
}
.content-section{
	background:#fff;
	border:1px solid #e0e0e0;
	border-width:1px 0;
	padding:46px 37px 41px;
	box-shadow: 0 0 1px #e5e5e5;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 3px;
}
.section-holder{
	max-width:920px;
	margin:0 auto;
}
.content-section:after,
.section-holder:after{
	content:'';
	display:block;
	clear:both;
}
.content-section h1{
	font-size:23px;
	line-height:28px;
	font-weight:600;
	color:#0e4d6c;
	margin:0 0 20px;
}
.content-section h1 span{
	display:inline-block;
	vertical-align:top;
	padding:0 0 4px;
	border-bottom:5px solid #f09477;
}
.tabs-area{
	overflow:hidden;
	position:relative;
	padding:26px 0 0 15px;
}
.tabset{
	margin:0 15px -24px 0;
	padding:0;
	list-style:none;
	float:left;
	width:48.5%;
	font-size:16px;
	line-height:27px;
}
.tabset li{
	overflow:hidden;
	list-style:none outside;
	border-top:2px solid #ccc;
}
.tabset li:first-child{
	border:none;
}
.tabset li:first-child a{
	padding-top:17px;
}
.tabset h1{
	font: 19px/24px 'proxima_nova_semibolddemibold', Arial, Helvetica, sans-serif;
	color:#0e4d6c;
	margin:0 0 25px;
}
.tabset p{
	margin:0 0 29px;
}
.tabset a{
	display:block;
	padding:43px 0 22px;
	color:#000;
	opacity:0.4;
	transition: opacity .4s ease-in-out;
}
.tabset a:hover,
.tabset .active a{
	text-decoration:none;
	opacity:1;
}
.tab-content{
	position:relative;
	overflow:hidden;
}
.pseudofixed{
	top: 20px;
}
.pseudofixed > *{
	right: 0;
	margin:0 7px 0 0;
	position: absolute;
	top: 0;
}
.tab-content img{
	display:block;
	width:100%;
	height:auto;
	position:relative;
	max-width:315px;
}
.tab-content .text-box{
	font-size:14px;
	line-height:16px;
	display:none;
}
.tab-content .text-box p{
	margin:0 0 10px;
}
.visual{
	position:relative;
	overflow:hidden;
	box-shadow: 0 1px 1px rgba(0,0,0, 0.22);
}
.visual-block{
	max-height:375px;
	overflow:hidden;
	box-shadow: none;
}
.info-section .visual{
	box-shadow: none;
}
.visual img{
	display:block;
	width:100%;
	height:auto;
}
#main .visual{
	margin:0 0 34px;
}
img.bg{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:auto;
	min-width:940px;
}
.visual .image{
	float:right;
	width:36.71%;
	margin:0 0 0 10%;
}
.visual .logo{
	position:absolute;
	width:918px;
	left:11px;
	bottom:63px;
	padding:0 11px;
	margin:0;
}
.visual .logo a{
	background:url(images/logo-1.png) no-repeat;
	height:30px;
	width:258px;
}
.visual .frame{
	overflow:hidden;
	position:relative;
	max-width:790px;
	margin:0 auto;
	padding:19px 105px 0 45px;
}
.visual .text-box{
	overflow:hidden;
	position:relative;
	font-size:18px;
	line-height:28px;
	color:#fff;
	white-space:nowrap;
	padding:56px 0 30px;
}
.visual .text-box:after{
	content:'';
	display:inline-block;
	vertical-align:middle;
	width:1px;
	height:100%;
	position:relative;
	margin:0 -1px 0 0;
}
.visual .text-box .holder{
	display:inline-block;
	vertical-align:middle;
	margin:13px 0 10px;
	white-space:normal;
}
.visual .text-box h1{
	font: 24px/30px 'proxima_nova_semibolddemibold', Arial, Helvetica, sans-serif;
	text-shadow:0 1px 0 rgba(0,0,0, 0.8);
	margin:0 0 19px;
}
.visual .text-box p{
	margin:0 0 29px;
	text-shadow:1px 1px 0 rgba(0,0,0, 0.7);
}
.visual .button{
	background:#e78667;
	border-radius: 4px;
}
.visual .button:hover{
	background:#b45f44;
}
.visual .centered-box{
	text-align:center;
	width:auto;
	padding:20px 10px;
	line-height:27px;
	position:relative;
}
.visual .text-box .divider{
	display:block;
	background:url(images/divider-01.png) no-repeat;
	height:18px;
	max-width:91px;
	margin:36px auto 36px;
	background-size:100% auto;
}
.visual .centered-box .button{
	margin-top:15px;
}
.visual .centered-box p{
	margin:0 0 39px;
}
.visual .centered-box .holder{
	margin:61px 0 66px;
}
.visual .centered-box h1{
	font-size:29px;
	line-height:31px;
	text-shadow:none;
}
.info-box{
	overflow:hidden;
	font-size:18px;
	line-height:27px;
	padding:0 32px 24px 0;
	margin:0 0 53px;
	border-bottom:2px solid #ccc;
}
.info-box .description{
	overflow:hidden;
	padding:15px 0 0;
}
.info-box h1{
	margin:0 0 48px;
}
.info-box .image{
	width:33%;
	margin:0 0 0 12.5%;
}
.columns{
	overflow:hidden;
	color:#3e3931;
	margin:0 0 40px;
}
.columns .col{
	float:right;
	width:42.41%;
}
.columns .col:first-child{
	float:left;
}
.columns h2{
	font:17px/20px 'governorregular', Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	color:#0e4d6c;
	margin:0 0 15px;
	letter-spacing:4px;
}
.columns .list{
	margin:0;
	padding:0;
	list-style:none;
}
.columns .list li{
	list-style:none outside;
	background:#f1f6fc;
	padding:6px 9px;
}
.columns .list .title{
	display:block;
	overflow:hidden;
	font-family:'proxima_nova_semibolddemibold', Arial, Helvetica, sans-serif;
}
.columns .list li.even{
	background:#fff;
}
.columns .list .number{
	float:right;
	margin:0 0 0 5px;
	color:#0e4d6c;
}
.section-caption{
	display:block;
	font-size:14px;
	line-height:20px;
	color:#a29895;
	font-weight:normal;
	text-align:center;
	padding:20px 0;
}
.faq-section{
	font-size:14px;
	line-height:24px;
	text-align:center;
	padding:62px 190px 45px;
}
.faq-section h1 span{
	border:none;
}
.faq-section h1:after{
	content:'';
	display:block;
	width:85px;
	height:7px;
	background:#f09477;
	margin:42px auto 0;
}
.faq-section h2{
	font:16px/20px 'proxima_nova_semibolddemibold', Arial, Helvetica, sans-serif;
	margin:0 0 25px;
}
.faq-list{
	margin:0 auto 35px;
	padding:0;
	list-style:none;
	max-width:460px;
}
.faq-list li{
	margin:64px 0 0;
	list-style:none outside;
}
.faq-list li:first-child{
	margin:53px 0 0;
}
.faq-section p{
	margin:0 0 20px;
}
a.button{
	display:inline-block;
	vertical-align:top;
	font:16px/22px 'proxima_nova_semibolddemibold', Arial, Helvetica, sans-serif;
	color:#fff;
	text-align:center;
	min-width:50px;
	padding:7px 18px;
	background:#0e4d6c;
	border-radius: 4px;
	transition: background .25s ease-in-out;
}
a.button:hover{
	text-decoration:none;
	background:#013853;
}
.contact-section{
	padding-bottom:0;
}
.about-box{
	padding:7px 28px 68px 0;
	font-size:14px;
	line-height:24px;
}
.about-box:after{
	content:'';
	display:block;
	clear:both;
}
.about-box .description{
	overflow:hidden;
}
.about-box h1{
	margin:0 0 25px;
}
.about-box h2{
	font:16px/20px 'proxima_nova_semibolddemibold', Arial, Helvetica, sans-serif;
	margin:37px 0 25px;
}
.about-box p{
	margin:0 0 15px;
}
.about-box .image{
	width:36.3%;
	margin:37px 0 0 10%;
}
img.rounded{
	border:2px solid #909090;
	border-radius: 6px;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.contacts-block{
	overflow:hidden;
	margin:0 -9999px;
	padding:27px 9999px;
	background:#f5f5f5;
	border-radius: 0 0 3px 3px;
}
.contacts-block .column{
	float:right;
	width:30.21%;
}
.contacts-block .column:first-child{
	float:left;
	width:58.47%;
}
.contacts-block h2{
	font:16px/20px 'proxima_nova_semibolddemibold', Arial, Helvetica, sans-serif;
	margin:0 0 17px;
	color:#333;
}
.contact-form{
	padding:3px 0 0 2px;
}
.contact-form .row{
	width:100%;
	padding:0 0 18px;
}
.contact-form .row:after{
	content:'';
	display:block;
	clear:both;
}
.contact-form .input-field{
	margin:0;
	padding:15px 9px 16px;
	background:#fff;
	border:1px solid #cacaca;
	width:100%;
	font-size:15px;
	line-height:19px;
	color:#bdbdbd;
	float:left;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(200,200,200, 0.5) inset;
}
.contact-form textarea{
	margin:0 0 19px;
	padding:13px 0 0 9px;
	background:#fff;
	border:1px solid #cacaca;
	width:100% !important;
	min-width:100% !important;
	max-width:100% !important;
	height:165px;
	min-height:165px;
	font-size:15px;
	line-height:20px;
	color:#bdbdbd;
	overflow:auto;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(200,200,200, 0.5) inset;
}
.contact-form [type="email"]{
	float:left;
	width:57.2%;
}
.contact-form [type="text"]{
	float:right;
	width:39.5%;
}
.contact-form input[type="submit"]{
	margin:0;
	padding:0 5px;
	border:none;
	background:#0e4d6c;
	font:16px/18px 'proxima_nova_semibolddemibold', Arial, Helvetica, sans-serif;
	cursor:pointer;
	color:#fff;
	width:100%;
	height:52px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 3px;
	transition: background .25s ease-in-out;
}
.contact-form input[type="submit"]:hover{
	background:#013853;
}
.contacts-list{
	margin:-12px 0 36px;
	padding:0;
	list-style:none;
	font-size:14px;
	line-height:22px;
}
.contacts-list li{
	list-style:none;
	position:relative;
	padding:11px 5px 11px 45px;
	border-top:2px solid #e4e4e4;
}
.contacts-list li:first-child{
	border:none;
	margin:0;
}
.contacts-list a{
	color:#000003;
}
.contacts-list .phone:after{
	content:'';
	position:absolute;
	left:1px;
	top:14px;
	width:16px;
	height:17px;
	background:url(images/icons.png) no-repeat;
}
.contacts-list .email:after{
	content:'';
	position:absolute;
	left:1px;
	top:14px;
	width:16px;
	height:16px;
	background:url(images/icons.png) -38px 0 no-repeat;
}
.contacts-list .address:after{
	content:'';
	position:absolute;
	left:1px;
	top:14px;
	width:13px;
	height:18px;
	background:url(images/icons.png) -78px 0 no-repeat;
}
.posts-list{
	margin:-13px 0 12px;
	padding:0;
	list-style:none;
	font-size:14px;
	line-height:24px;
}
.posts-list li{
	list-style:none;
	position:relative;
	padding:12px 5px 11px 39px;
	border-top:2px solid #e4e4e4;
}
.posts-list li:first-child{
	border:none;
}
.posts-list li:after{
	content:'';
	position:absolute;
	left:0;
	top:17px;
	width:21px;
	height:21px;
	background:url(images/icons.png) -116px 0 no-repeat;
}
.posts-list .date{
	display:inline-block;
	vertical-align:baseline;
	font-style:normal;
	font-size:12px;
	color:#828282;
	padding:0 0 0 7px;
}
a.social-button{
	font-size:12px;
	line-height:15px;
	padding:7px 15px;
}
.content-box{
	background:#fff;
	margin: 0 auto 39px;
	overflow: hidden;
	padding: 41px 46px 39px;
	font-size:18px;
	line-height:27px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.content-box > .holder{
	max-width:920px;
	margin:0 auto;
}
.content-box > .holder:after{
	content:'';
	display:block;
	clear:both;
}
.content-box .image{
	float:right;
	width:44.96%;
	margin:0 0 0 4.8%;
}
.content-box .image.alignleft{
	float:left;
	margin:0 4.8% 0 0;
}
.content-box .description{
	overflow:hidden;
	padding:10px 0 0;
}
.content-box h1{
	font:23px/28px 'proxima_nova_semibolddemibold', Arial, Helvetica, sans-serif;
	margin:0 0 16px;
	color:#342b28;
}
.content-box h1 a{
	color:#342b28;
}
.content-box p{
	margin:0 0 32px;
}
.home-page #nav{
	float:none;
	overflow:hidden;
	margin:-11px auto -10px;
	max-width:940px;
}
.home-page #nav ul{
	float:left;
	padding:0;
}
.home-page #nav ul li{
	padding:20px 29px 4px;
	height:36px;
	margin:0;
}
.home-page .btn-login{
	float:right;
	margin:12px 10px 0 10px;
}
.info-section{
	background:#fff;
	overflow:hidden;
	margin:0 0 28px;
}
.info-columns{
	max-width:780px;
	margin:0 auto 45px;
	font-size:0;
	line-height:0;
	padding:0 0 0 15px;
}
.info-columns .col{
	display:inline-block;
	vertical-align:top;
	width:33%;
	padding:34px 15px 35px 0;
	min-height:186px;
	font-size:15px;
	line-height:24px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.info-columns h1{
	font:18px/22px 'proxima_nova_semibolddemibold', Arial, Helvetica, sans-serif;
	margin:0 0 13px;
	color:#333;
}
.info-columns p{
	margin:0;
}
.reviews-section{
	overflow:hidden;
	border:2px solid #e6e6e6;
	border-width:2px 0;
	background:#fff;
	padding:57px 20px 36px;
	margin:0 auto;
	text-align:center;
	font-size:15px;
	line-height:24px;
}
.reviews-holder{
	max-width:877px;
	margin:0 auto;
}
.reviews-holder:after{
	content:'';
	display:block;
	clear:both;
}
.reviews-section h1{
	font:24px/28px 'proxima_nova_semibolddemibold', Arial, Helvetica, sans-serif;
	color:#333;
	margin:0 0 60px;
}
.reviews-section .holder{
	overflow:hidden;
	max-width:706px;
	margin:0 auto;
	padding:0 0 15px 59px;
}
.reviews-section .box{
	float:left;
	width:50%;
	padding:0 15px 38px 0;
	text-align:left;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.reviews-section .photo{
	float:left;
	margin:1px 18px 0 0;
}
.reviews-section blockquote{
	margin:0;
	padding:0;
	overflow:hidden;
}
.reviews-section blockquote cite{
	display:block;
	font:16px/20px 'proxima_nova_semibolddemibold', Arial, Helvetica, sans-serif;
	margin:0 0 9px;
}
.reviews-section blockquote .address{
	display:block;
	font:12px/15px 'proxima_nova_semibolddemibold', Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	color:#a0a0a0;
	margin: 0 0 8px;
}
.reviews-section blockquote q{
	display:block;
}
.reviews-section .button{
	background:#e78667;
}
.reviews-section .button:hover{
	background:#b45f44;
}
.locations-box{
	font-size:14px;
	line-height:24px;
}
.locations-box:after{
	content:'';
	display:block;
	clear:both;
}
.map-box{
	float:right;
	position:relative;
	width:41.75%;
	margin:64px 0 0 4.27%;
	border:2px solid #b1b1b1;
	border-radius: 5px;
	box-shadow: 0 3px 3px rgba(0,0,0, 0.2);
}
.map-box > img{
	width:100%;
	height:auto;
	border-radius: 3px;
}
.map-box .marker{
	position:absolute;
	left:29.545%;
	top:38.92%;
	min-width:156px;
	padding: 9px 8px 9px 0;
	background:#0b4c6c;
	font-size:14px;
	line-height:21px;
	color:#fff;
	border-radius: 3px;
	box-shadow: 0 3px 4px rgba(0,0,0, 0.4);
}
.map-box .marker:after{
	content:'';
	position:absolute;
	top:100%;
	left:17px;
	width:9px;
	height:5px;
	margin:-1px 0 0;
	background:url(images/icons.png) -159px 0 no-repeat;
}
.map-box .marker-holder{
	float:left;
	white-space:nowrap;
}
.map-box .marker .caption{
	position:absolute;
	left:0;
	top:0;
	height:100%;
	width:38px;
	overflow:hidden;
	text-align:center;
	font:22px/39px 'governorregular', Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	background:#576d87;
	border-radius: 3px 0 0 3px;
}
.map-box .marker p{
	margin:0 0 0 48px;
}
.locations-box .info-holder{
	overflow:hidden;
	padding:6px 0 0 4px;
}
.locations-box address{
	padding:9px 0 0;
	margin:0 0 22px;
	font-style:normal;
}
.locations-box p{
	margin:0 0 18px;
}
.locations-box address span{
	display:block;
	font:16px/22px 'proxima_nova_semibolddemibold', Arial, Helvetica, sans-serif;
}
.locations-form{
	overflow:hidden;
	background:#fefcea;
	border:2px solid #f6f3e0;
	padding:18px 18px 25px;
	margin:0 0 0 -4px;
	border-radius: 4px;
}
.locations-form .form-title{
	display:block;
	font:16px/22px 'proxima_nova_semibolddemibold', Arial, Helvetica, sans-serif;
	margin:0 0 3px;
}
.locations-form .row{
	width:100%;
	padding:0 0 8px;
}
.locations-form .row:after{
	content:'';
	display:block;
	clear:both;
}
.locations-form .input-field{
	margin:0;
	padding:15px 10px 16px;
	background:#fff;
	border:1px solid #cacaca;
	width:56.55%;
	font-size:15px;
	line-height:19px;
	color:#bdbdbd;
	float:left;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(200,200,200, 0.5) inset;
}
.locations-form .code-field{
	float:right;
	width:41.5%;
}
.locations-form .email-field{
	width:74.27%;
}
.locations-form input[type="submit"]{
	margin:0;
	padding:0 5px;
	border:none;
	background:#0e4d6c;
	font:16px/18px 'proxima_nova_semibolddemibold', Arial, Helvetica, sans-serif;
	cursor:pointer;
	color:#fff;
	float:right;
	width:23.31%;
	height:52px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 3px;
	transition: background .25s ease-in-out;
}
.locations-form input[type="submit"]:hover{
	background:#013853;
}
.pricing-section{
	padding:38px 48px 39px 41px;
	margin:0 auto 14px;
}
#footer{
	max-width:940px;
	overflow:hidden;
	text-align:center;
	color:#848484;
	margin:14px auto;
	font-size:13px;
	line-height:18px;
}
#footer p{
	margin:0;
}
@media only screen and (max-width: 959px) {
	body{
		min-width:320px;
	}
	.faq-section{
		padding:20px 60px;
	}
	.open-close .js-slide-hidden{
		position:absolute !important;
	}
	.open-close #nav,
	.home-page .open-close #nav{
		position:absolute;
		top:100%;
		width:100%;
		background:#fff;
		padding:0 0 10px;
		margin:0;
		border-bottom:2px solid #d0d0cf;
		z-index:1000;
	}
	#nav ul,
	.home-page #nav ul{
		float:none;
		padding:0;
		margin:0 0 10px;
		font-size:17px;
		line-height:20px;
		text-align:center;
		border-top:2px solid #d0d0cf;
	}
	#nav ul li,
	.home-page #nav ul li,
	.home-page #nav ul li:first-child{
		float:none;
		height:auto;
		margin:0;
		padding:0;
		border:2px solid #d0d0cf;
		border-width:0 0 2px;
	}
	#nav ul a,
	.home-page #nav ul a{
		display:block;
		padding:5px 10px;
		transition: background .25s ease-in-out, color .25s ease-in-out;
	}
	#nav ul a:hover,
	#nav ul .active a{
		color:#fff;
		background:#f09477;
	}
	a.btn-login,
	.home-page a.btn-login{
		float:none;
		display:block;
		width:auto;
		margin:0 10px;
	}
	a.nav-opener{
		display:block;
	}
	.info-box .image{
		width:45%;
	}
	.columns .col,
	.columns .col:first-child{
		width:48%;
	}
	.pricing-section h1{
		margin:0 0 20px;
	}
	.pricing-section,
	.content-section{
		padding:20px;
	}
	.contact-section{
		padding-bottom:0;
	}
	.info-box{
		padding:0 0 20px;
	}
	.tabs-area{
		padding:20px 0 0;
	}
	.visual .text-box{
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	.contacts-block{
		margin:0 -20px;
		padding:15px 20px;
	}
	.contacts-block .column,
	.contacts-block .column:first-child{
		float:none;
		width:auto;
		margin:20px 0 0;
	}
	.contacts-block .column:first-child{
		margin:0;
	}
	.contact-form{
		padding:0;
	}
	.contact-form .row{
		padding:0;
	}
	.contact-form .input-field{
		float:none;
		width:100%;
		margin:0 0 15px;
	}
	.contact-form textarea{
		margin:0 0 15px;
	}
	.about-box{
		padding:0 0 15px;
	}
	.about-box .image{
		float:none;
		display:block;
		width:auto;
		margin:0 auto 15px;
	}
	.about-box h1{
		margin:0 0 20px;
	}
	.about-box h2{
		margin:0 0 15px;
	}
	.visual .frame{
		padding:10px 10px 0;
	}
	.visual .text-box{
		padding:30px 0 10px;
	}
	.visual .logo{
		width:auto;
		left:11px;
		margin:0;
	}
	.tab-content{
		position:relative;
	}
}
@media only screen and (max-width: 767px){
	.faq-section{
		padding:15px 10px;
	}
	.info-box .image{
		display:block;
		float:none;
		width:auto;
		margin:0 auto 10px;
	}
	.columns .col,
	.columns .col:first-child{
		float:none;
		width:auto;
		margin:30px 0 0;
	}
	.columns .col:first-child{
		margin:0;
	}
	.map-box{
		float:none;
		margin:0 auto 20px;
		width:auto;
		max-width:310px;
	}
	.locations-form {
		padding:10px;
	}
	.locations-form .row{
		padding:0;
	}
	.locations-form .input-field,
	.locations-form input[type="submit"]{
		float:none;
		display:block;
		width:100%;
		margin:0 0 15px;
	}
	.visual .text-box{
		font-size:14px;
		line-height:16px;
		padding:10px 0;
	}
	.visual .text-box h1{
		font-size:16px;
		line-height:20px;
		margin:0 0 10px;
	}
	.visual .text-box p{
		margin:0 0 10px;
	}
	.visual .text-box .divider{
		display:none;
	}
	.visual .centered-box{
		width:auto;
	}
	.visual .text-box .holder{
		margin:0;
	}
	.visual .centered-box .holder{
		margin:20px 0;
	}
	.visual .text-box .button{
		font-size:12px;
		line-height:14px;
		margin:0;
	}
	.content-box{
		padding:15px 10px;
		font-size:15px;
		line-height:20px;
		text-align:center;
	}
	.content-box h1{
		font-size:18px;
		line-height:22px;
		margin:0 0 10px;
	}
	.content-box p{
		margin:0 0 10px;
	}
	.content-box .image,
	.content-box .image.alignleft{
		float:none;
		display:block;
		width:auto;
		margin:0 auto 10px;
	}
	.content-box .description{
		padding:0;
	}
	.info-columns{
		padding:15px;
		margin:0;
	}
	.info-columns .col{
		float:none;
		width:auto;
		padding:0 0 15px;
		min-height:0
	}
	.reviews-section{
		padding: 15px;
		margin:0;
	}
	.reviews-section h1{
		margin:0 0 30px;
	}
	.reviews-section .holder{
		padding:0;
	}
	.reviews-section .box{
		float:none;
		width:auto;
		padding:0 0 15px;
	}
	.visual .logo{
		bottom:10px;
	}
	.visual .image{
		width:40%;
		margin:0 0 0 5%;
	}
}
@media only screen and (max-width: 479px){
	.visual .text-box h1{
		font-size:14px;
		margin:0 0 3px;
	}
	.visual .text-box p{
		margin:0 0 5px;
	}
	.visual .text-box .button{
		padding:3px 10px;
	}
	.visual .text-box .holder{
		margin:0;
	}
	.visual .centered-box .holder{
		margin:15px 0;
	}
	.visual .text-box{
		font-size:12px;
		top:5px;
		bottom:5px;
	}
	.visual-block .logo a{
		width:181px;
		height:21px;
		background-size:100% 100%;
	}
	.visual .logo span{
		font-size:14px;
		line-height:18px;
		padding:10px 0 0;
	}
	.tabset{
		font-size:12px;
		line-height:15px;
		text-align:center;
		float:none;
		width:100%;
		display:table;
		table-layout:fixed;
		margin:0 0 20px;
		height:auto !important;
	}
	.tab-content{
		height:auto !important;
	}
	.tabset li{
		display:table-cell;
		vertical-align:middle;
		padding:0 10px;
		border:1px solid #ccc;
		border-width:0 0 0 2px;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	.tabset li a,
	.tabset li:first-child a{
		display:inline-block;
		vertical-align:middle;
		padding:0;
	}
	.tabset h1{
		font-size:15px;
		line-height:17px;
		margin:0;
	}
	.tabset p{
		margin:0 0 15px;
		display:none;
	}
	.tab-content img{
		margin:0 auto 20px;
		width:62%;
	}
	.tab-content .text-box{
		display:block;
	}
}