#menu {
	list-style:none;
	width:100%;
	margin:0px auto 0px auto;
	height:43px;
	padding:0px 0px 0px 0px;

	/* Rounded Corners */
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;

	/* Background color and gradients */
	
	background: #CCC;
	background: -moz-linear-gradient(top, #EAEAEA, #CCC);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EAEAEA), to(#CCC));
	
	/* Borders */
	
	border: 1px solid #b5b5b5;

	-moz-box-shadow:inset 0px 0px 1px #edf9ff;
	-webkit-box-shadow:inset 0px 0px 1px #edf9ff;
	box-shadow:inset 0px 0px 1px #edf9ff;
}

#menu li {
	float:left;
	display:block;
	text-align:center;
	position:relative;
	padding: 4px 10px 4px 10px;
	margin-right:30px;
	margin-top:7px;
	border:none;
}




#menu li a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px; 
	color: #FFF;
         font-weight:bold;
	display:block;
	outline:0;
	text-decoration:none;
	text-shadow: 1px 1px 2px #000;
}

#menu li:hover a {
	color:#161616;
	text-shadow: 1px 1px 1px #ffffff;
}
#menu li .drop {
	padding-right:21px;
	background:url("img/drop.png") no-repeat right 8px;
}
#menu li:hover .drop {
	background:url("img/drop.png") no-repeat right 7px;
}

/*
#menu li:hover {
	border: 1px solid #777777;
	padding: 4px 9px 4px 9px;
	
	/* Background color and gradients 
	
	background: #F4F4F4;
	background: -moz-linear-gradient(top, #F4F4F4, #EEEEEE);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F4F4F4), to(#EEEEEE));
	
	/* Rounded corners 
	
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
}
*/