/*
 * This file is used by the print firnedly plugin to display only the content in the main_panel div.
 * Note, this file is referred to by its absolute URL by the print friendly plugin.
 */

#main_panel {
    margin: 0px !IMPORTANT;
}
#admin_sidebar {
    display: none;
}
#toggle_div {
    display : none;
}

#codeigniter_profiler {
    display: none;
}
#header {
    display : none;
}
#footer {
    display : none;
}
#admin_sidebar {
    display: none;
}
#ddcolortabs {
    display : none;
}
