/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08/03/2018, 11:09:42
    Author     : leo
*/

body {
    overflow-x: hidden;
}

label, main_quick_register_success * {
    color: #ffffff;
}

.page-wrapper {
    background-color: #23B7EB;
    overflow: auto;
}

.header .logo {
    padding: 20px 0 20px 0;
}

.floating-icon {
    position: absolute;
    right: 20px;
    top: 35px;
}

.header .logo img {
    width: 440px;
    max-width: 100%;
    height: auto;
}

[readonly], [readonly] *, .readonly, .readonly * {
    background-color: #EAEAEA;
    color: #333333;
}

.main_quick_register_success .content *{
    color: #ffffff;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

.main_quick_register_success .return-button {
    position: absolute;
    bottom: 30px;
    left: 30px;
}

.return-button, .register-button {
    background-color: #91d050;
}

.fb-button {
    background-color: #456DB0;
}

.alert {
    margin-top: 2px;
    margin-bottom: 0;
}

.alert * {
    margin: 0;
}

.alert ul {
    list-style: none;
}

/* sm */
@media (min-width: 576px) {
}

/* md */
@media (min-width: 768px) {
    .floating-icon {
        top: 5px;
    }
}

