.collapseomatic {
	background-image: url(images/arrow-down.png);
	background-repeat: no-repeat;
	padding: 0 0 10px 16px;
	cursor: pointer;
}
.arrowright {
	background-position: top right;
	padding: 0 16px 10px 0;
}
.noarrow {
	background-image: none !important;
	padding: 0 0 10px 0;
}
.colomat-hover {
	text-decoration: underline;
}
.colomat-close {
	background-image: url(images/arrow-up.png);
}
.colomat-swap {
	display: none;
}
.collapseomatic_excerpt, .collapseomatic_content {
	margin-top: 0px;
	margin-left: 16px;
	padding: 0px;
}
.content_collapse_wrapper {
	position: absolute; left: -999em;
}
.collapseall, .expandall {
	cursor: pointer;
}
.collapseall:hover, .expandall:hover {
	text-decoration: underline;
}
.maptastic {
	position: absolute !important;
	left: -10000px !important;
	display:block !important;
}
.span_fix {
	padding: 0 !important;
	margin: 0 !important;
}
.span_fix:before, .span_fix:after {
	content: none;
}