@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/newash/OpenSansLight.woff2") format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/newash/OpenSans.woff2") format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/newash/OpenSansSemiBold.woff2") format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/newash/OpenSansBold.woff2") format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url("/fonts/newash/OpenSansExtraBold.woff2") format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: url("/fonts/newash/OpenSansLightItalic.woff2") format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/newash/OpenSansItalic.woff2") format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: url("/fonts/newash/OpenSansSemiBoldItalic.woff2") format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: url("/fonts/newash/OpenSansBoldItalic.woff2") format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: url("/fonts/newash/OpenSansExtraBoldItalic.woff2") format('woff2');
}

$navbar-font: bold 13px/20px 'Open Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
$h2-font: 600 25px/36px 'Open Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
$h3-font: 600 18px/27px 'Open Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
$text-font: 300 14px/24px 'Open Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
$button-font: 700 13px/20px 'Open Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
$footer-font: 12px/20px 'Open Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;