@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/newash/OpenSansLight.woff2") format("woff2"); }
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/newash/OpenSans.woff2") format("woff2"); }
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/newash/OpenSansSemiBold.woff2") format("woff2"); }
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/newash/OpenSansBold.woff2") format("woff2"); }
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url("/fonts/newash/OpenSansExtraBold.woff2") format("woff2"); }
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: url("/fonts/newash/OpenSansLightItalic.woff2") format("woff2"); }
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/newash/OpenSansItalic.woff2") format("woff2"); }
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: url("/fonts/newash/OpenSansSemiBoldItalic.woff2") format("woff2"); }
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: url("/fonts/newash/OpenSansBoldItalic.woff2") format("woff2"); }
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: url("/fonts/newash/OpenSansExtraBoldItalic.woff2") format("woff2"); }

/*# sourceMappingURL=fonts.css.map */
