@import "../account/base";
@import "fonts";

body {
  overflow-x: hidden;
  color: #818181;
  font: $text-font;
}

h1, h2, a {
  color: #373c40;
}

h2 {
  font: $h2-font;
  border-bottom: 1px solid #373c40 !important;
}

h3, h3 a {
  font: $h3-font;
  color: #373c40;
}

#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-left: 100px;
}

.navbar {
  margin: 8px 0;
}

.navbar .logo {
  float: left;
  height: 50px;
  width: 179px;
}

.navbar .nav {
  float: left;
  margin-left: 30px;
}

.navbar .login {
  list-style: none;
  float: right;
  margin-top: 25px;
  padding-left: 15px;
  background: url("/images/boomeranggr/padlock.svg") no-repeat;
}

.navbar .nav > li > a {
  text-transform: uppercase;
  float: none;
  padding: 15px;
  color: #333;
  text-decoration: none;
  text-shadow: none;
  font: $navbar-font;
}

.navbar .nav > li > a:hover {
  color: #FFF;
  background-color: #373c40;
}

.social-div {
  float: right;
  padding-top: 16px;
  margin-right: 40px;
  .social {
    color: #737c7c;
    font-size: 20px;
    text-decoration: none;
  }
  .social.fa.fa-instagram {
    margin-right: 8px;
    padding-top: 0;
  }
}


.btn {
  border: 2px solid #373c40;
  border-radius: 5px;
  padding: 12px 14px;
  cursor: pointer;
  font: $button-font;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1em;
  color: #373c40;
  background-color: #CCC;
  background-image: none !important;
  box-shadow: none;
  text-shadow: none !important;
}

.alert-info * {
  text-shadow: none;
}

#kiosk_cardNumber {
  width: 150px;
}

#footer {
  position: absolute;
  left: 0;
  background: #3e4347;
  padding-top: 30px;
  height: 70px;
  .footer {
    width: 940px;
    margin: 0 auto;
  }
  .social-div {
    float: right;
  }
  .logo_footer {
    float: left;
  }
  .footer_copyright {
    font: $footer-font;
    float: left;
    margin-left: 20px;
    line-height: 44px;
  }
}

@media (max-width: 979px) {
  body {
    padding: 0;
    background: url("/images/boomeranggr/header-bg.jpg") no-repeat;
  }

  .container {
    padding: 0;
  }

  .navbar .btn-navbar {
    min-width: auto;
  }

  .navbar .nav {
    float: none;
    width: 100%;
    margin-top: 0;
  }

  .navbar .nav > li {
    border-bottom: 1px solid #FFF;
    background-color: #3e4347;
  }

  .navbar .nav > li > a {
    padding: 20px;
    color: #FFF;
  }

  #interior_mobile_menu .navbar-inner {
    background: #FFF;
    box-shadow: none;
    border-bottom: 1px solid #0971ce;
  }

  #interior_mobile_menu .brand,
  #interior_mobile_menu .btn-group {
    color: #0971ce;
  }

  #footer {
    .footer {
      width: auto;
      margin-left: 20px;
    }
  }
}