/*
 Theme Name:     Bubble & Stitch - Divi Child Theme
 Theme URI:      http://www.bubble-stitch.com	
 Description:    Divi Child Theme for Bubble&Stitch
 Author:         Robbert de Kuiper
 Author URI:     http://www.robbertdekuiper.com
 Template:       Divi
 Version:        1.0.0
*/ 
/* --- General --- */

@font-face{ 
	font-family:"lavanderia";
	src: url('assets/fonts/lavanderia_sturdy-webfont.eot'); 
	src: url('assets/fonts/lavanderia_sturdy-webfont.eot?#iefix') format('embedded-opentype'), 
		 url('assets/fonts/lavanderia_sturdy-webfont.woff') format('woff'), 
		 url('assets/fonts/lavanderia_sturdy-webfont.ttf') format('truetype'), 
		 url('assets/fonts/lavanderia_sturdy-webfont.svg#webfont') format('svg'); 
}

#main-content h3,
#main-content h4,
.script {
  font-family: lavanderia;
  font-size: 30px;
  padding-bottom: 7px;
}

#main-content h3 {
 font-size:36px;
}

#main-content h3,
.script {
	font-size: 30px;
}

hr {
  color: #CCC;
  background: #CCC;
  border-width: 59px;
  border: none;
  height: 1px;
}

.text-center {
	text-align:center;
}

.et_pb_widget a {
	color:#66bba7;
}

.et_pb_button:after {
	margin-left:0 !important;
}


.home .page .et_pb_row_7 img,
.home .page .et_pb_row_9 img,
.home .page .et_pb_row_11 img,
img.bordered {
  border: 1px solid #66BBA7;
  padding: 10px;
  border-radius: 3px;
  box-sizing: border-box;
}

body.et_pb_button_helper_class .et_pb_button, .woocommerce.et_pb_button_helper_class a.button.alt, .woocommerce-page.et_pb_button_helper_class a.button.alt, .woocommerce.et_pb_button_helper_class button.button.alt, .woocommerce-page.et_pb_button_helper_class button.button.alt, .woocommerce.et_pb_button_helper_class input.button.alt, .woocommerce-page.et_pb_button_helper_class input.button.alt, .woocommerce.et_pb_button_helper_class #respond input#submit.alt, .woocommerce-page.et_pb_button_helper_class #respond input#submit.alt, .woocommerce.et_pb_button_helper_class #content input.button.alt, .woocommerce-page.et_pb_button_helper_class #content input.button.alt, .woocommerce.et_pb_button_helper_class a.button, .woocommerce-page.et_pb_button_helper_class a.button, .woocommerce.et_pb_button_helper_class button.button, .woocommerce-page.et_pb_button_helper_class button.button, .woocommerce.et_pb_button_helper_class input.button, .woocommerce-page.et_pb_button_helper_class input.button, .woocommerce.et_pb_button_helper_class #respond input#submit, .woocommerce-page.et_pb_button_helper_class #respond input#submit, .woocommerce.et_pb_button_helper_class #content input.button, .woocommerce-page.et_pb_button_helper_class #content input.button {
	color:#fff;
}

.no-border img{
	padding:0 !important;
	border:none !important;
}

.et_pb_button.secondary-button {
    background: #adadad;
}

.et_pb_button.secondary-button:focus,
.et_pb_button.secondary-button:hover {
    background: #969696 !important;
}

/* --- Layout ---*/

.color-page a {
	color:white !important;
	border-bottom: 1px solid white;
}

.color-page a:focus,
.color-page a:hover {
	color:#eee !important;
	border-color:#eee;

}


/* --- Header --- */

.et_fixed_nav #logo {
  max-height: 72px;
}

#main-header.et-fixed-header #logo {
  max-height: 43px;
}

#top-menu .login a,
.et_mobile_menu li.login a{
  background: #66BBA7;
  color: #FFF;
  font-weight: bold;
}

#top-menu li {
	padding-right:14px;
}

#top-menu .login a{
  padding: 10px 12px;
  border-radius: 3px;
}

#top-menu .login a:hover,
.et_mobile_menu li.login a:focus {
  background:#57A18F;
}

.et_header_style_left #et-top-navigation nav > ul > li.login > a,
.et_header_style_split #et-top-navigation nav > ul > li.login > a {
	padding-bottom:10px;
}

.et_header_style_left .et-fixed-header #et-top-navigation nav > ul > li.login > a,
.et_header_style_split .et-fixed-header #et-top-navigation nav > ul > li.login > a{
	padding-bottom:9px;
	margin-bottom:8px;
}

#top-menu-nav #top-menu .menu-item-has-children a:after {
  top: -2px;
  font-weight: 100;
}

@media screen and (min-width:981px) and (max-width:1150px){
	#et-top-navigation {
		padding-left:160px !important;
	}
	
	#top-menu li,
	.fullwidth-menu li {
		font-size: 13px;
  		padding-right: 12px;
	}

	#top-menu-nav #top-menu li a{
		letter-spacing:0.5px;
	}
}	


/* --- SIDEBAR --- */

.main-sidebar-widget {
	overflow:hidden;
	font-size: 14px;
	line-height:1.6;
}

#main-content .main-sidebar-widget h4 {
  padding-top: 9px;
  padding-bottom: 16px;
  line-height: 0.4;
  text-align: center;
  font-size:24px;
  font-weight:bold;
  font-family: 'PT Sans', Helvetica, Arial, Lucida, sans-serif;
  text-transform:uppercase;
}

.main-sidebar-widget h4 span {
  display: inline-block;
  position: relative;  
}

.main-sidebar-widget h4 span:before,
.main-sidebar-widget h4 span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-top: 4px solid white;
  top: 0;
  width: 100px;
}

.main-sidebar-widget h4 span:before {
  right: 100%;
  margin-right: 7px;
}

.main-sidebar-widget h4 span:after {
  left: 100%;
  margin-left: 7px;
}

.main-sidebar-widget + .main-sidebar-widget {
	padding-top:25px;
}

.contact-widget {
	text-align:center;
}

.contact-widget .et-pb-icon {
  font-size: 22px;
  color: #FFF;
  padding: 16px 10px 16px 0;
}

.contact-widget a:last-of-type .et-pb-icon {
	padding-right:0;
}

.contact-widget a:hover .et-pb-icon,
.contact-widget a:focus .et-pb-icon {
  color: rgba(255,255,255,0.7);
}

/* --- Footer --- */

#footer-widgets,
#footer-widgets h5,
.footer-bottom {
	color:#f4f4f4;
}

#footer-widgets {
	padding:40px 0;
}

.footer-widget {
	width:320px;
	margin:0 50px 0 0;

}

.footer-widget:last-child {
	margin-right:0;
}

#footer-widgets .footer-nav li{
	padding-left:0;
}

.footer-nav li:before {
	display:none;
}

.footer-bottom{
	background-color:#2D3740;
}

.footer-bottom .et_pb_row {
	width:100%;
}

.footer-bottom .et_pb_toggle {
	border-radius: 3px;
	padding: 0;
	background:transparent;
 	position: relative;
}

.footer-bottom .et_pb_toggle_close:hover,
.footer-bottom .et_pb_toggle_close:focus {
	border-color:#66bba7;
}

.footer-bottom .et_pb_toggle h5.et_pb_toggle_title {
	color:#fff;
	padding:15px;
}

.footer-bottom .et_pb_toggle_close:hover h5,
.footer-bottom .et_pb_toggle_close:focus h5{
	color:#66bba7;
}

.footer-bottom .et_pb_toggle_title:before{
	content:"\32";
	font-size: 28px;
	line-height: 18px;
	right: 7px;
}

.footer-bottom .et_pb_toggle_open .et_pb_toggle_title:before{
	content:"\33";
}

.footer-bottom .et_pb_toggle_open h5.et_pb_toggle_title {
	color:#f4f4f4;
}

.footer-bottom .et_pb_toggle_content {
	background:#66bba7;
	padding-top:0;
	position:absolute;
	top: auto;
	bottom: 100%;
 	left: 0;
	width: 100%;
	box-sizing: border-box;
	border-radius: 6px;
	font-weight: bold;
	overflow:hidden;
}

.footer-bottom .et_pb_toggle_content a:hover,
.footer-bottom .et_pb_toggle_content a:focus{
	background:#57A18F;
}

.footer-bottom .et_pb_toggle_content a{
	color:#f4f4f4;
	padding:10px 15px;
	display:block;
}

.footer-widget:before,
.footer-widget:after {
	  content: " ";
	  display: table;
}

@media only screen and (max-width: 980px){

	.footer-nav li{
		float:left;
		padding-right:10px;
	}

	.footer-bottom .footer-widget {
		width:100% !important;
	}

	#main-footer #footer-widgets .footer-widget{
  		  width: 28% !important;
		  margin: 0 7.5% 7.5% 0 !important;
	}

	#main-footer #footer-widgets .footer-widget:last-of-type{
  		  margin-right: 0 !important;
	}
}

@media only screen and (max-width: 767px){
	#footer-widgets .footer-widget{
  		margin-right: 0;
		float:left;
	}
}

@media only screen and (max-width: 560px){
	#footer-widgets .footer-widget{
		max-width:320px;
		margin:0 auto;
		float:none;
	}

}	

/* --- Homepage --- */

.home .page h2 {
  font-size: 26px;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom:1em;
}

.home .et_pb_fullwidth_header_0.et_pb_fullwidth_header{

  background-image   : url(assets/images/schoonmaak-shirt-reversed-500.png),
  					   url(assets/images/background-header-image.jpg);    

  background-repeat  : no-repeat,
                       no-repeat;

  background-position:  left bottom,
  						center center;

  background-size: auto, cover;
}

.et_pb_fullwidth_header_container.center .header-content{
	background-color: rgba(255, 255, 255, 0.9);
    max-width: 680px;
    padding: 50px;
    border-radius: 5px;
}

body.home #page-container .et_pb_fullwidth_header_0 .et_pb_button {
	width: 100%;
	max-width: 250px;
}

.home .page .et_pb_blurb_content h4{
	text-align:center;
}

.home .page .et_pb_section_5 a{
	border-bottom: 1px solid #66BBA7;
}

.home .page .et_pb_section_5 a:after{
	content: " \00BB";
}

.home .page .et_pb_section_5 a:focus,
.home .page .et_pb_section_5 a:hover{
	color:#4E9282;
	border-color:#4E9282;
}


.et_pb_main_blurb_image img{
	max-width:60%;
}

.max-centered {
	max-width:500px;
	margin:0 auto;
}

.bubbles {
  background-repeat: repeat-x;
  background-size: inherit;
  background-position: bottom center;
}

.stitch + div:before {
    border-top: 2px dashed #395565;
    background: rgba(0, 0, 0, 0);
    padding-top: 67px;
    content: " ";
    width: 100%;
    height: 2px;
    position: absolute;
    top: -17px;
}

#wpsl-wrap #wpsl-search-wrap {
	float:none;
	max-width: 770px;
	margin: 0 auto;
}

#wpsl-wrap .wpsl-search {
	background:transparent;
	border-bottom:1px solid #C8C5C5;
}

#wpsl-wrap #wpsl-search-btn {
	color: #F4F4F4;
	background-color: #66BBA7;
	border: 1px solid #5EAB99;
	border-radius: 3px;
	background-image:none;
	font-size:13px;
	font-weight:bold;
}

#wpsl-wrap .category {
    color: #FFF;
    background: #6D9E56;
    padding: 3px 6px;
    border-radius: 3px;
}

#wpsl-wrap .category.niet-openbaar,
#wpsl-wrap .category.non-public {
    background: #3680B2;
}

@media screen and (max-width: 481px){
	.home .et_pb_fullwidth_header_0.et_pb_fullwidth_header .header-content h1 {
		font-size:32px;
	}
}


@media screen and (max-width: 693px){
	.et_pb_fullwidth_header .et_pb_fullwidth_header_container .et_pb_button_one{
		margin-right:0px;
	}
}

@media screen and (max-width: 981px){
	.home .et_pb_fullwidth_header_0 {
		height:auto!important;
	}
	.home .et_pb_fullwidth_header .et_pb_fullwidth_header_container.center .header-content {
		width:100%;
		padding:20px;
	}
}


/* ---- PRICELIST ---*/

#price-list .et_pb_pricing_table {
	border:none;
	padding-right: 12px;
}

#price-list .et_pb_pricing_content_top {
	display:none;
}

#price-list .et_pb_pricing_content{
	padding: 15px 6px;
}

#price-list .et_pb_pricing li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding: 14px 0 5px 14px;
}

/* --- FAQ --- */
.et_pb_tabs {
	border:none;
}

.et_pb_tabs_controls {
  border: none;
  background: transparent;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.et_pb_tabs_controls .et_pb_tab_0 {
	border-top-left-radius: 5px;
}

.et_pb_all_tabs {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.et_pb_tabs_controls li.et_pb_tab_active {
	bottom:0;
}

.et_pb_tabs_0 .et_pb_tabs_controls li {
  background-color: #EEE;
  border-right: 3px solid #4E748B;
}

@media only screen and (max-width: 903px){
	.et_pb_tabs_0 .et_pb_tabs_controls li {
  		float: none;
  		border-right: none;
  		border-bottom: 1px solid #D9D9D9;
	}
	.et_pb_column_1_3 .et_pb_tabs_controls li,
	.et_pb_column_1_4 .et_pb_tabs_controls li,
	.et_pb_tabs_controls li, .et_pb_tabs_controls li:last-child,
	.et_pb_column_3_8 .et_pb_tabs_controls li {
		float:none;
	}
}

.arconix-faq-accordion-title{
  border-radius: 0;
  background-color: #FAFAFA;
  border: 1px solid #DDD;
}

.ui-widget-content {
  border: 1px solid #DDD;
}

/* --- ZO WERKT HET --- */

.et_pb_gutters3 .locations .et_pb_column_1_4 {
	width: 23.875%;
}

.et_pb_gutters3 .locations .et_pb_column{
	margin-right:1%;
}

.location{
  text-align:center;
  border: 1px solid #66BBA7;
  padding: 15px;
  border-radius: 3px;
  box-sizing: border-box;
  position:relative;
}

.et_pb_button.et_pb_promo_button.button-how-it-works {
  font-size: 16px;
  padding: 3px 37px 3px 19px;
  margin:15px 0;
  cursor:pointer;
}


.et_pb_button.et_pb_promo_button.button-how-it-works:after {
  font-size: 23px;
  line-height: 26px;
  content: "\33";
  position: absolute;
}


@media screen and (min-width: 981px){
	
	.et_pb_button.et_pb_promo_button.button-how-it-works{
		position: absolute;
		left: 0;
		width: 80%;
		margin: 0px 20px;
		bottom: 10px;
	}

	.location {
		padding: 15px 15px 45px 15px; /*Bigger bottom padding, because we absolute the button position; */
	}
}


@media screen and (min-width: 981px) and (max-width: 1175px){
	.et_pb_button.et_pb_promo_button.button-how-it-works {
		font-size:14px;
		width: 90%;
		margin:0 10px;
	}
}

#locations-wrapper,
#locations-wrapper .locations {
	padding-bottom:0;
}

.et_pb_row.connection {
	padding: 0;
	height: 80px;
}

#steps-container{
	display:none;
}

@media only screen and (max-width: 980px){	

	.locations.et_pb_row_4col > .et_pb_column.et_pb_column_1_4 {
  		width: 100% !important;
		margin-right:0;
		margin-bottom:30px;
	}

	.location {
		padding:30px;
	}

	.location.toggled .et_pb_button.et_pb_promo_button.button-how-it-works:after {
  		font-size: 23px;
  		line-height: 26px;
  		content: "\32";
  		position: absolute;
	}

	.steps {
		display:none;
		background-color:#66BBA7;
		margin: 0;
		width: 100%;
  		margin-top: -32px;
	}

	.steps .et_pb_column_1_3 {
		padding:30px;
	}

	.steps.toggled{
		display:block;	
	}

}


@media only screen and (min-width: 980px){

	.locations .location {
		margin-bottom:0;
	}

	.location.active {
  		background-color:#F9F9F7;
	}

	.location.active .button-how-it-works,
	.location.active .button-how-it-works:hover {
		opacity:0.5;
		background: #66BBA7 !important;
	}

	#connection .path {
  		stroke-dasharray: 1000;
 		stroke-dashoffset: 1000;
 		animation: dash 1s linear forwards;
		-webkit-animation: dash 1s linear forwards;
		-moz-animation: dash 1s linear forwards;
		-o-animation: dash 1s linear forwards;
	}

	connection .path,#notie8#hack { /* ie7, ie9, ie10, ie11+ only */
		stroke-dasharray: 0;
	}

	.steps {
		display:none;
    		opacity: 0;
	}

	.steps.active {
		display:block;
		opacity:1;
		-webkit-animation: fade-in 1.5s;
		-moz-animation: fade-in 1.5s;
		-o-animation: fade-in 1.5s;
    		animation: fade-in 1.5s;
	}

	@keyframes dash {
		from {
    			stroke-dashoffset: 1000;
  		}
  		to {
    			stroke-dashoffset: 0;
  		}
	}
	@-webkit-keyframes dash {
		from {
    			stroke-dashoffset: 1000;
  		}
  		to {
    			stroke-dashoffset: 0;
  		}
	}
	@-moz-keyframes dash {
		from {
    			stroke-dashoffset: 1000;
  		}
  		to {
    			stroke-dashoffset: 0;
  		}
	}
	@-o-keyframes dash {
		from {
    			stroke-dashoffset: 1000;
  		}
  		to {
    			stroke-dashoffset: 0;
  		}
	}

	@-webkit-keyframes fade-in {
    		from {opacity: 0}
    		to {opacity: 1}
	}	
	@-moz-keyframes fade-in {
    		from {opacity: 0}
    		to {opacity: 1}
	}
	@-o-keyframes fade-in {
    		from {opacity: 0}
    		to {opacity: 1}
	}
	@keyframes fade-in {
    		from {opacity: 0}
    		to {opacity: 1}
	}

	@-webkit-keyframes fade-out {
    		from {opacity: 0}
    		to {opacity: 1}
	}	
	@-moz-fade-out {
    		from {opacity: 0}
    		to {opacity: 1}
	}
	@-o-keyframes fade-out {
    		from {opacity: 0}
    		to {opacity: 1}
	}	
	@keyframes fade-out {
    		from {opacity: 0}
    		to {opacity: 1}
	}
}

/* --- 404-PAGE --- */
.four-o-four{
	background-color: #66BBA7;
	padding:2% 0 10%;
}

.four-o-four .et_pb_section{
	background-color: #66BBA7;
	color:#fff;
}

.four-o-four h1 {
  font-weight: bold;
  font-size: 35px;
  letter-spacing: 6px;
  text-align:center;
  text-transform: uppercase;
}

.four-o-four h2 {
  color:#fff;
}

.four-o-four .et_pb_post_title {
  text-align: center;
}

.four-o-four .et_pb_sidebar_0{
  padding: 20px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 3px;
}