html { height: 100; }
body { height: 100%; line-height: 1.5; font-family: Helvetica Neue, Arial, Helvetica, sans-serif; color: #333333; font-size: 75%; background: #393e45; }

.container { width: 950px; margin: 0 auto; overflow: hidden; display: block; position: relative; }

#header { height: 110px; position: relative; color: #2e6ab1; clear: both; background: #fff; border-bottom: 1px solid #ccc; }
  #header a { color: #2e6ab1; }
  #header a:hover { color: #555; }
  #header #logo { float: left; margin: 28px 0 0 10px; }
  #header #login-bar { display: block; float: right; }
  #header #top_contact_info { position: absolute; bottom: 3px; left: 28px; font-size: 1.1em; color: #555555; }
  #header #top_contact_info a { text-decoration:none; }
    #header #top_contact_info span { margin-left: 5px; }
  #header .container { overflow: visible; }
  
#main_body { background: #fbf9ff url(/images/main_body_bg.png) top repeat-x; }
body.pages-home #main_body { background: #fbf9ff url(/images/home_bg.png) top repeat-x; }
#sub-header { height: 40px; margin-bottom: 10px; padding: 0 0 20px 0; border-bottom: 1px dashed #ccc; position: relative; }
  /*#sub-header #top_contact_info { position: absolute; top: 3px; left: 0px; font-size:1.05em; }*/
    /*#sub-header #top_contact_info span { margin-left: 10px; }*/
body.pages-home  #sub-header { border-bottom:none; height:0; }
.to_contact { margin-bottom: 10px; }

#content { height:auto; min-height:370px; }
body.two-col #content { display: inline; float: left; width: 650px; }
  .product-listing { margin-top: 0.25em; }
  .product-listing li { width: 175px; min-height: 205px; background: transparent url(/images/product-box.png) top no-repeat; border:none;  }
    .product-listing li:hover { background: transparent url(/images/product-box-hover.png) top no-repeat; }
    .product-listing li .inner { min-height:175px; position: relative; }
    .product-listing li .inner a { position:absolute; bottom:0; left:0; width:100%; text-align: center; }
    .product-listing li a.info { background: none; border: none; width: 100%; position: relative; padding: 0; margin-top: 8px; }
    .product-listing .price.selling { display: none; }
#product-images h4 { padding-top:16px; display: none; }
#home_top { margin: 0px auto;}
#home_left { width: 450px; float: left; margin-top: 40px; }
#home_right { width: 450px; float: right; margin-right:10px; }
#home_right p.quote { font-size: 1em; font-style:italic; color:#393e45; width:300px; margin: 0 0 0 40px; padding:20px;}
#home_left h1 { color: #39c4e3; font-weight: bold; font-size: 2.6em; }
#home_left p { font-size: 1.7em; font-weight:normal; color:#393e45; width:340px; }

#right_col_bg { background: url(/images/content_bg.gif) no-repeat; padding: 20px; }

ul#language-bar { list-style-type: none; margin: 0px; padding: 0px; display: inline; }
  ul#language-bar li { margin: 2px; padding: 0px; display: inline; }
  ul#language-bar strong { font-weight: normal; }
  ul#language-bar { display: none; }

#header .container { height: 110px; }

#main_nav { position: absolute; bottom: 0px; right: 0px; margin: 0; font-size: 1.3em; }
  #main_nav li { float: left; margin-left: 30px; list-style: none; height: 32px;}
  #main_nav li a { color: #555; text-decoration: none; }
  #main_nav li a:hover { color: #ff7e12; text-decoration: none; }
  #main_nav li.green a { color: #05a230; }
  #main_nav li ul { display: none; position: absolute; z-index: 999; background: #fff; padding: 0; border: 1px solid #ccc; }
  #main_nav li ul#serv_drop { top: 28px; left: 0px; min-width:180px; font-size:15px; }
  #main_nav li ul#prod_drop { top: 28px; left: 100px; min-width:245px; font-size:15px; }
  #main_nav li:hover:first-child ul { display: block; }
  #main_nav li:hover:nth-child(2) ul { display: block; }
  #main_nav li ul:hover { display: block; }
  #main_nav li ul li { float: none; margin: 0; padding: 0px;}
  #main_nav li ul li a { display: block; padding: 5px 12px }
  #main_nav li ul li a:hover { background: #474D57; color: #fff; }

#wrapper { padding: 0 0 70px 0; position: relative; }
body.two-col #wrapper {  }

.taxon h2 { margin-bottom: 4px; }

#taxonomies ul#taxon-services { display:none; }

p.school-warning { font-size:1.3em; margin:30px 10px 50px 10px; }

/* Auto Complete */
.autocomplete-w1 { font-size:1.3em; background:url(/images/dormaid/shadow.png) no-repeat bottom right; position:absolute; top:0px; left:0px; margin:8px 0 0 6px; /* IE6 fix: */ _background:none; _margin:0; }
.autocomplete { border:1px solid #999; background:#FFF; cursor:default; text-align:left; max-height:350px; overflow:auto; margin:-6px 6px 6px -6px; /* IE6 specific: */ _height:350px;  _margin:0; _overflow-x:hidden; }
.autocomplete .selected { background:#F0F0F0; }
.autocomplete div { padding:2px 5px; white-space:nowrap; }
.autocomplete strong { font-weight:normal; color:#3399FF; }

/* School Selector */
#school-selector { padding: 0 2px; margin: 8px 0 0 17px; color: #999; position: relative; }
#school-text { font-size: 1em; white-space:nowrap; padding: 8px 0 0 10px; text-align:left; color:#555; }

/*#school-text span { white-space: nowrap; }*/
/*#school-selector span.end_cap { display: block; width: 4px; height: 4px; position: absolute; right: 0px; bottom: 0; background: url(/images/school_tab_cap.png) bottom right no-repeat;}*/
#school-text a { font-size:0.8em; margin-left:6px; text-decoration: none; }
#school-text a:hover { text-decoration: underline; }
input#school-input { font-size:1.3em; width:300px; margin-top: 0 !important; }

#home_selector { height: 140px; background: url(/images/home_selector_bg.png) no-repeat; position: relative; }
#home_selector #school-selector { width: 385px; margin-top: 6px; margin-left:0; }
#home_selector .inner { padding-top:16px; padding-left: 26px; }
#home_selector .get_started { font-size: 1.4em; color: #fff; }
#home_selector #school-text { padding:0; margin:0; text-align:left; }
#home_selector #school-text a { color:#39C4E3; }
#home_selector #school-text .name {
  display:block;
  color:#555;
  background:#fdfdfd url(/images/dormaid/input-bg.png) no-repeat scroll left top;
  border-color:#e5e5e5;
  border-style:solid;
  border-width:0 1px 1px 0;
  font-size:1.3em;
  margin:0;
  white-space:nowrap;
  padding: 6px 8px;
  overflow: hidden;
}
#home_selector input#school-input { float:none; width: 368px;}
#home_selector .error { background:#F7DEDA; color:#AC4E4E; }

#home_sub .sub_box { width: 190px; min-height: 250px; padding: 15px 15px 0 15px; float: left; margin-right: 20px; background: url(/images/feature-box.png) no-repeat; }
  #home_sub .sub_box a { display: block; text-align: center; }
  #home_sub .sub_box a.image { display: block; text-align: center; min-height: 144px; margin-bottom:12px; position: relative; }
  #home_sub .sub_box a .inner { position:absolute; bottom:0; left: 0; width:100%; height:auto; text-align:center; }
  #home_sub .sub_box h4 { text-align: center; color: #39C4E3; font-size: 1.3em; font-weight: bolder; margin: 0 0 10px 0; }
    #home_sub .sub_box h4 a { text-decoration: none; color: #39C4E3;}
  #home_sub .sub_box p { padding: 0 4px;}
  #home_sub.disabled { opacity:0.70; }
  
.product_col_l { width: 550px; float: left; padding-left: 20px; overflow:auto; }
  .product_col_l h1 { clear: both; text-align: left; color: #62dffc; font-size: 2.3em; }
  #product-description { 
    width: 490px;
    min-height: 340px; 
    background: url(/images/prod_desc_bg.png) top left no-repeat; 
    border: none; 
    font-size:13px;
  }
  #product-description .inner { padding:40px; }
  #product-images { width: 530px; margin-bottom:16px; }
  #product-images #main-image { width: 425px; }
  
#sidebar { display: inline; float: left; width: 280px; padding-right: 20px; background: url(/images/sidebar_shadow.png) top right no-repeat; }
  #sidebar h3 { margin-bottom: 0.5em; }
  #sidebar blockquote { display: block; width: 200px; padding: 0px 0px 0px 32px; background: url(/images/quote_1.png) no-repeat; position: relative; margin: 20px 0 0 0; }
/*  #sidebar blockquote .cap { display: block; width: 210px; height: 10px; position: absolute; left: 0; bottom: -10px; background: url(/images/quote_cap.png) no-repeat; }*/
  #sidebar ul { margin: 0; }
  #sidebar li { list-style: none; border-top: 1px dashed #ccc; padding: 0; }
  #sidebar li i { font-size: .8em; color: #ff7d10;}
  #sidebar_contact li { margin-top: 5px; }
  .side_block { padding: 20px; background: #fff; background: url(/images/sidebar_divide.png) bottom right no-repeat; }
  .side_block img { float: left; margin: 0 5px 5px 0; height: 60px; }
  #sidebar #search { display: none; }
  /*  DISPLAY NONE*/
  div.breadcrumbs { display: none; }
.product_col_r { width: 360px; float: right; }
  #cart-form { width: 320px; padding: 20px; background: url(/images/buy_bg.png) no-repeat; display: block; position: relative; }
  #cart-form label { font-weight: normal; }
  #cart-form .bot_cap { width: 360px; height: 22px; background: url(/images/buy_cap.png) no-repeat; position: absolute; bottom: -22px; left: 0; }
  .prices { font-weight: bold; }
  .buy_block { border-top: 1px dashed #d5d5d5; padding: 10px 0; }
  #related_products ul li { width: 90px; float: left; list-style: none; text-align: center; }
  #related_products ul li a { text-decoration: none; color: #62dffc; font-weight: bold; line-height: 12px; }
  #related_products ul li img { width: 75px; margin-bottom: 5px; }
  #product-variants { margin-bottom: 16px; }
  #product-variants ul li { margin-bottom: 8px; }
  #product-variants select { margin-top: 1px; }
  #product-variants option { margin: 5px 0; }

#contact_us label { display: block; }
#contact_us label select { padding: 2px; margin-top: 9px;}
#contact_us label span { display: block; float: left; width: 70px; margin-top: 13px; padding-right: 10px; text-align: right;}
#contact_us li { list-style: none; margin-bottom: 20px; }
#contact_us input[type="text"] { width: 295px;}

#edit_password,
#login #existing-customer,
#signup #new-customer { width: 340px; padding: 20px 20px 30px 20px; background: url(/images/login_bg.png) no-repeat; position: relative; margin-left:260px; margin-top:20px; }
#edit_password h2,
#login #existing-customer h2,
#signup #new-customer h2 { text-align: center; margin-bottom: 10px; }
#edit_password .login_cap,
#login #existing-customer .login_cap,
#signup #new-customer .login_cap { width: 380px; height: 22px; background: url(/images/login_cap.png) no-repeat; position: absolute; bottom: 0; left: 0;}
#edit_password #email, #user_openid_identifier, #user_email, #user_password, #user_password_confirmation, #user_session_login, #user_session_password, #user_session_openid_identifier { width: 325px;}


.flash { -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; font-size: 1.3em; margin-bottom: 1em; padding: 0.8em; }
.flash.notice { background: #ccddff url(../images/shadow_top.png) 0px -50px repeat-x; color: #556699; border: 1px solid #99aacc; }
.flash.errors { background: #f4b4b4 url(../images/shadow_top.png) 0px -50px repeat-x; color: #000000; border: 1px solid #000000; }

.img_left { float: left; margin: 0 5px 5px 0; }

#footer { background: #393e45; color: #e3e2e7; padding-top: 20px; padding-bottom:100px; }
  #footer h3 { color: #4d545e; font-size: 2em; font-weight: bold; }
  #footer h3 small { font-size: .5em; color: #eee; font-weight: normal; margin-left: 10px; }
  #footer .col_right, #footer .col_left {width: 50%; float: left; min-height: 200px; padding-bottom: 50px; }
  #footer .col_left input.email { width: 300px; padding: 10px; background: #474d57; border: none; color: #fff; }
  #footer .col_left textarea { width: 300px; height: 70px; background: #474d57; border: none; color: #fff; margin-top: 10px; margin-bottom:5px; }
  #footer .col_right br { display: block; clear: both; }
  #footer .col_right ul { margin: 0; }
  #footer .col_right ul li { padding: 10px 0; vertical-align: middle; border-bottom: 1px solid #41464d; font-size: 1em; list-style: none; clear: left; }
  #footer .col_right ul li span { font-size: 17pt; color: #62dffc; font-weight: bold; display: block; float: left; margin-right: 10px; }
  #footer .bottom { width: 100%; text-align: center; font-size: .9em; position: absolute; bottom: 0px; }
  #footer .bottom a { margin-left: 30px; color: #62dffc; }
  #footer .col_left input[type='text'] { width: 300px; background: #474d57; border: none; color: #fff }
  #footer a { color:#62dffc; text-decoration: none; }
  #footer a:hover { text-decoration: underline; }
  
  
/* Forms */
fieldset { }
legend { font-size: 123.1%; font-weight:bold; color:#4D4D4D; }
label { font-weight:bold; color:#4d4d4d; }
label.normal { font-weight:normal; }
label.big { font-size:116%; }
input { color:#555; font-size:108%; font-weight:normal; }
input[type="text"],
input[type="password"] {
  width:230px;
  background:#fdfdfd url(/images/dormaid/input-bg.png) no-repeat scroll left top;
  border-color:#e5e5e5;
  border-style:solid;
  border-width:0 1px 1px 0;
  font-size:116%;
  margin:0;
}

textarea {
  width:290px;
  height:75px;
  background:#fff url(/images/dormaid/input-bg.png) no-repeat scroll left top;
  border-color:#e5e5e5;
  border-style:solid;
  border-width:0 1px 1px 0;
  color:#555;
  font-weight:normal;
  margin:0;
  padding:10px 10px 8px;
}

select { color:#555; font-size:108%; font-weight:normal; margin:0; }

body.firefox input[type="file"] { background:#fdfdfd url(/images/dormaid/input-bg.png) no-repeat scroll left top; }
.file-upload input[type="file"] { margin-top:10px; font-size:116%; }

input[type="button"],
input[type="submit"] {
  display:block;
  background: transparent url("/images/dormaid/button-small.png") top left no-repeat;
  text-align:center;
  text-decoration:none;
  font-size:100%;
  font-weight:bold;
  color:#3d3c39;
  border:none;
  line-height:31px;
  overflow:visible;
  margin-right:5px;
}
input[type="button"]:hover,
input[type="submit"]:hover { color:#ff7e12 ; }
input[type="text"][size="3"] { width:40px; }
input[type="text"]#coupon-code { width:80px; }
button.large { font-size: 1.2em;}
button.large img { margin-right: 5px;}

#search { float:left; margin-top:10px; margin-left:4px; }
#search input[type="text"] {
  float:left;
  width:140px;
  height:20px;
  text-indent:0.2em;
  font-size:116%;;
}
#search input[type="button"] { float:left; margin:0; }
input[type="password"],
input[type="text"] { padding: 8px !important; margin-top: 5px !important;}
button, a.button, input.button {}

#registration #new-customer { margin-left:100px; }
#registration #guest_checkout { float:left; padding-left:40px; padding-top:40px; }

#variant-images span { font-weight:normal; }

