html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
*:focus { outline: 0; }
ol, ul { list-style: none; }
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
q, blockquote { quotes: "" ""; }
q:before { content: ""; }
q:after { content: ""; }
blockquote:before { content: ""; }
blockquote:after { content: ""; }
img a { border: none; }
hr {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
}
hr.space {
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
  background: transparent;
}
h1 {
  font-weight: normal;
  color: #222222;
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
h1 img { margin: 0; }
h2 {
  font-weight: normal;
  color: #222222;
  font-size: 2em;
  margin-bottom: 0.75em;
}
h3 {
  font-weight: normal;
  color: #222222;
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
h4 {
  font-weight: normal;
  color: #222222;
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
h5 {
  font-weight: normal;
  color: #222222;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
h6 {
  font-weight: normal;
  color: #222222;
  font-size: 1em;
  font-weight: bold;
}
h2 img { margin: 0; }
h3 img { margin: 0; }
h4 img { margin: 0; }
h5 img { margin: 0; }
h6 img { margin: 0; }
p { margin: 0 0 1.5em; }
p img.left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
p img.right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
a {
  text-decoration: underline;
  color: #2e6ab1;
}
blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}
strong { font-weight: bold; }
em { font-style: italic; }
dfn {
  font-style: italic;
  font-weight: bold;
}
sup, sub { line-height: 0; }
abbr, acronym { border-bottom: 1px dotted #666666; }
address {
  margin: 0 0 1.5em;
  font-style: italic;
}
del { color: #666666; }
pre {
  margin: 1.5em 0;
  white-space: pre;
}
pre, code, tt {
  font: 1em 'andale mono', 'lucida console', monospace;
  line-height: 1.5;
}
li ul { margin: 0 1.5em; }
li ol { margin: 0 1.5em; }
ul {
  margin: 0 1.5em 1.5em 1.5em;
  list-style-type: disc;
}
ol {
  margin: 0 1.5em 1.5em 1.5em;
  list-style-type: decimal;
}
dl { margin: 0 0 1.5em 0; }
dl dt { font-weight: bold; }
dd { margin-left: 1.5em; }
table {
  margin-bottom: 1.4em;
  width: 100%;
}
th { font-weight: bold; }
thead th { background: #c3d9ff; }
th, td, caption { padding: 4px 10px 4px 5px; }
tr.even td { background: #e5ecf9; }
tfoot { font-style: italic; }
caption { background: #eeeeee; }
.quiet { color: #666666; }
.loud { color: #111111; }
form p.field {
  margin-bottom: 0.5em;
  clear: both;
}
form p.field span.req {
  color: red;
  float: left;
  margin-left: 2px;
  position: relative;
  top: -3px;
}
form p.field input[type=text] {
  float: left;
  margin: 0 5px 7px 0;
}
form p.field select {
  float: left;
  margin: 0 5px 7px 0;
}
form p.field.radios { line-height: 150%; }
label { font-weight: bold; }
div#checkout #checkout_form_address #billing label.error {
  color: red;
  float: left;
  text-align: left;
  display: inline-block;
  top: 0px;
  font-size: 11px;
  border: none;
  padding: 0px;
  width: auto;
}
div#checkout #checkout_form_address #shipping label.error {
  color: red;
  float: left;
  text-align: left;
  display: inline-block;
  top: 0px;
  font-size: 11px;
  border: none;
  padding: 0px;
  width: auto;
}
fieldset { margin-bottom: 1em; }
legend {
  font-size: 150%;
  font-weight: bold;
  margin-bottom: 0.5em;
}
.no_margin_or_padding {
  margin: 0;
  padding: 0;
}
.leftie {
  float: left;
  width: 49%;
}
.rightie {
  float: right;
  width: 49%;
}
.clearfix {
  overflow: hidden;
  display: inline-block;
}
.clearfix { display: block; }
.nowrap { white-space: nowrap; }
.no-bullets { list-style: none; }
.inline-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: inline;
}
.inline-list li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
.colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #eeeeee;
}
div.left {
  float: left;
  width: 49%;
}
div.right {
  float: right;
  width: 49%;
}
a { outline: none; }
body.one-col #content {
  display: inline;
  float: left;
  width: 950px;
}
h1 { 
  font-size: 2.5em;
  color: #40454d;
  font-weight:bold;
}
.form-buttons, .clear { clear: both; }
input.title { width: auto; }
p.follow-all {
  font-size: 1.3em;
  text-align: center;
  display: block;
}
p img {
  float: left;
  margin-right: 5px;
  vertical-align: middle;
}
.no_margin_or_padding {
  margin: 0;
  padding: 0;
}
.leftie {
  float: left;
  width: 49%;
}
.rightie {
  float: right;
  width: 49%;
}
.clearfix {
  overflow: hidden;
  display: inline-block;
}
.clearfix { display: block; }
.nowrap { white-space: nowrap; }
.no-bullets { list-style: none; }
.inline-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: inline;
}
.inline-list li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
.colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #eeeeee;
}
.navigation-list {
  list-style: none;
  margin: 0 0 1.5em -15px;
}
.navigation-list li { margin: 0; }
.navigation-list li a {
  cursor: pointer !important;
  text-decoration: none;
  color: #333333;
  display: block;
  line-height: 2.5em;
  padding-left: 20px;
  width: 212px;
  white-space: nowrap;
  overflow: hidden;
}
.navigation-list li a:hover { background: url(../images/menu-hover.png) right center no-repeat; }
.navigation-list li.current { width: auto; }
.navigation-list li.current a {
  width: auto;
  background: url(../images/menu-current.png) right center no-repeat;
  white-space: nowrap;
  overflow: hidden;
}
.navigation-list li.current a.root { width: auto; }
.navigation-list a.root {
  color: #222222;
  font-size: 1.5em;
  text-indent: -5px;
  line-height: 2.2em;
}
.breadcrumbs { margin-bottom: 1em; }
h2 a.breadcrumbs { text-decoration: none; color:#2E6AB1; font-size: .95em; }
.breadcrumbs ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: inline;
  margin: 0;
  padding: 0;
  overflow: auto;
}
.breadcrumbs ul li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
.breadcrumbs ul li {
  line-height: 20px;
  color: #666666;
}
.breadcrumbs ul li a {
  text-decoration: none;
  padding: 5px 7px;
  color: #666666;
}
.breadcrumbs ul li span {
  text-decoration: none;
  padding: 5px 7px;
  color: #666666;
}
.breadcrumbs ul li span { color: #333333; }
div#login-bar { display: inline; }
ul#nav-bar {
  line-height: 50px;
  float: right;
  clear: both;
  font-size: 1.2em;
  list-style: none;
  margin: 0;
  padding: 0;
}
ul#nav-bar li {
  float: left;
  margin-left: 1em;
}
ul#nav-bar li.cart-indicator a {
  padding-right: 40px;
  background: transparent url(../images/cart-empty_x32.png) center right no-repeat;
  display: block;
}
ul#nav-bar li.cart-indicator a.full { background-image: url(../images/cart-full_x32.png); }
.pagination {
  padding-top: 10px;
  text-align: right;
}
.pagination a.page {
  padding: 0px 5px;
  margin: 0px 3px;
}
.pagination span.page {
  padding: 0px 5px;
  margin: 0px 3px;
}
.pagination a.page {
  text-decoration: none;
  border: 1px solid #9aafe5;
  color: #2e6ab1;
}
.pagination a.page:hover {
  border: 1px solid #2b66a5;
  color: #000000;
}
.pagination a.page:active {
  border: 1px solid #2b66a5;
  color: #000000;
}
.pagination a.next_page { font-weight: bold; }
.pagination span.disabled_page {
  border: 1px solid #929292;
  color: #929292;
}
.pagination span.current_page {
  font-weight: bold;
  border: 1px solid;
  border-color: #162f54;
  background-color: #2e6ab1;
  color: #ffffff;
}
.no_margin_or_padding {
  margin: 0;
  padding: 0;
}
.leftie {
  float: left;
  width: 49%;
}
.rightie {
  float: right;
  width: 49%;
}
.clearfix {
  overflow: hidden;
  display: inline-block;
}
.clearfix { display: block; }
.nowrap { white-space: nowrap; }
.no-bullets { list-style: none; }
.inline-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: inline;
}
.inline-list li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
.colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #eeeeee;
}
.formError {
  font-size: 1.3em;
  margin-bottom: 1em;
  padding: 0.8em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #f4b4b4 url(../images/shadow_top.png) 0px -50px repeat-x;
  color: #000000;
  border: 1px solid #000000;
}
.formError p { margin: 0px; }
.formError ul { margin-bottom: 0px; }
.formError h2 {
  font-weight: bold;
  font-size: 1em;
  margin: 0px;
}
.errorExplanation {
  font-size: 1.3em;
  margin-bottom: 1em;
  padding: 0.8em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #f4b4b4 url(../images/shadow_top.png) 0px -50px repeat-x;
  color: #000000;
  border: 1px solid #000000;
}
.errorExplanation p { margin: 0px; }
.errorExplanation ul { margin-bottom: 0px; }
.errorExplanation h2 {
  font-weight: bold;
  font-size: 1em;
  margin: 0px;
}
.fieldWithErrors { clear: none; }
.no_margin_or_padding {
  margin: 0;
  padding: 0;
}
.leftie {
  float: left;
  width: 49%;
}
.rightie {
  float: right;
  width: 49%;
}
.clearfix {
  overflow: hidden;
  display: inline-block;
}
.clearfix { display: block; }
.nowrap { white-space: nowrap; }
.no-bullets { list-style: none; }
.inline-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: inline;
}
.inline-list li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
.colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #eeeeee;
}
button, a.button, input.button {
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
  background: #efefef url(../images/buttons/bg-button.png) center left repeat-x !important;
  border-style: solid;
  border-width: 1px !important;
  border-color: #dddddd #999999 #999999 #dddddd !important;
  -moz-outline-radius: 0.3em;
  color: #111111;
  display: inline-block;
  font-family: Helvetica Neue, Helvetica, Arial, Sans-serif;
  font-size: 1.1em !important;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.2em;
  margin: 0px;
  overflow: visible;
  padding: 10px 17px;
  text-decoration: none;
  text-transform: lowercase;
  width: auto;
  height: auto;
  cursor: pointer;
}
button.primary, a.button.primary, input.button.primary {
  font-weight: bold;
  color: #000000;
}
button:hover { background-image: url(../images/buttons/bg-button-hover.png) !important; }
a.button:hover { background-image: url(../images/buttons/bg-button-hover.png) !important; }
input.button:hover { background-image: url(../images/buttons/bg-button-hover.png) !important; }
button.large, a.button.large, input.button.large {
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
  font-size: 1.4em !important;
  line-height: 1.4em;
}
button.small, a.button.small, input.button.small {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 0.9em;
  line-height: 1.4em;
  padding: 5px 10px;
}
button.small img { margin: 0 3px 0 0 !important; }
a.button.small img { margin: 0 3px 0 0 !important; }
input.button.small img { margin: 0 3px 0 0 !important; }
button.update img { margin-right: 7px; }
button.checkout img { margin-right: 7px; }
a.button.update img { margin-right: 7px; }
a.button.checkout img { margin-right: 7px; }
input.button.update img { margin-right: 7px; }
input.button.checkout img { margin-right: 7px; }
button img { vertical-align: middle; }
a.button img { vertical-align: middle; }
input.button img { vertical-align: middle; }
button:focus { outline: none; }
a.button:focus { outline: none; }
input.button:focus { outline: none; }
button::-moz-focus-inner {
  padding: 0px;
  border: none;
}
p a.button img { margin: 0 5px 0 0; }
p button img { margin: 0 5px 0 0; }
.prices { font-weight: bold; }
.prices #product-details .prices { font-size: 1.25em; }
.price.selling { color: #2e6ab1; }
#product-details .price.selling { font-size: 1.5em; }
.price.diff {
  font-style: italic;
  font-weight: normal;
  color: #666666;
}
.no_margin_or_padding {
  margin: 0;
  padding: 0;
}
.leftie {
  float: left;
  width: 49%;
}
.rightie {
  float: right;
  width: 49%;
}
.clearfix {
  overflow: hidden;
  display: inline-block;
}
.clearfix { display: block; }
.nowrap { white-space: nowrap; }
.no-bullets { list-style: none; }
.inline-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: inline;
}
.inline-list li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
.colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #eeeeee;
}
.product-listing {
  list-style: none;
  margin: 2em 0px 0px 0px;
  padding: 0px;
}
.product-listing li {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  height: 180px;
  width: 140px;
  text-align: center;
  float: left;
  margin: 10px;
  padding: 10px;
  border: 1px solid #dddddd;
  position: relative;
}
.product-listing li a {
  display: block;
  text-decoration: none;
  color: #111111;
}
.product-listing li a.info {
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 5px;
  width: 150px;
  min-height: 50px;
  background: #ffffff url(../images/shadow_top.png) 0px -35px repeat-x;
  border-top: 1px solid #ffffff;
}
.product-listing li a.info span { display: block; }
.product-listing li:hover { border-color: #1b1b1b; }
.product-listing li:hover a.info {
}
ul.thumbnails {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.thumbnails li {
  float: left;
  margin-right: 5px;
  padding: 3px;
  border: 1px solid #ffffff;
  min-height: 50px;
  width: 50px;
  position: relative;
}
ul.thumbnails li img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
ul.thumbnails li:hover { border-color: #cccccc; }
ul.thumbnails li.selected { border-color: #999999; }
.no_margin_or_padding {
  margin: 0;
  padding: 0;
}
.leftie {
  float: left;
  width: 49%;
}
.rightie {
  float: right;
  width: 49%;
}
.clearfix {
  overflow: hidden;
  display: inline-block;
}
.clearfix { display: block; }
.nowrap { white-space: nowrap; }
.no-bullets { list-style: none; }
.inline-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: inline;
}
.inline-list li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
.colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #eeeeee;
}
#product-variants { margin-bottom: 1em; }
#product-variants ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#product-images {
  display: inline;
  float: left;
  width: 270px;
  margin-right: 10px;
}
#product-images h4 {
  padding: 6px 0px;
  margin: 0px;
  font-weight: bold;
  clear: both;
}
#product-images #main-image {
  min-height: 250px;
  position: relative;
}
#product-images #main-image img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
#product-description {
  display: inline;
  float: left;
  width: 310px;
  margin-right: 10px;
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #eeeeee;
}
#taxon-crumbs {
  display: inline;
  float: left;
  width: 950px;
  margin-right: 10px;
  display: block;
  float: right;
  margin-top: 20px;
  width: 300px;
}
dl.table-display {
  margin: 0;
  padding: 0;
}
dl.table-display dt {
  float: left;
  margin: 0;
  padding: 5px;
  border-top: 1px solid #dddddd;
}
dl.table-display dd {
  float: left;
  margin: 0;
  padding: 5px;
  border-top: 1px solid #dddddd;
}
dl.table-display dt { width: 100px; }
dl.table-display dd { width: 180px; }
.no_margin_or_padding {
  margin: 0;
  padding: 0;
}
.leftie {
  float: left;
  width: 49%;
}
.rightie {
  float: right;
  width: 49%;
}
.clearfix {
  overflow: hidden;
  display: inline-block;
}
.clearfix { display: block; }
.nowrap { white-space: nowrap; }
.no-bullets { list-style: none; }
.inline-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: inline;
}
.inline-list li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
.colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #eeeeee;
}
div#subtotal {
  float: right;
  width: 49%;
  width: auto;
  text-align: left;
}
table { border-collapse: collapse; }
table th {
  background: transparent;
  border-bottom: 1px solid #dddddd;
}
table#cart tr td {
  border-bottom: 1px solid #dddddd;
  padding: 1em 0;
}
table#cart tr#none td { border-bottom: none; }
table#cart h4 { margin-bottom: 0em; }
.no_margin_or_padding {
  margin: 0;
  padding: 0;
}
.leftie {
  float: left;
  width: 49%;
}
.rightie {
  float: right;
  width: 49%;
}
.clearfix {
  overflow: hidden;
  display: inline-block;
}
.clearfix { display: block; }
.nowrap { white-space: nowrap; }
.no-bullets { list-style: none; }
.inline-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: inline;
}
.inline-list li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
.colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #eeeeee;
}
#signup #new-customer {
  display: inline;
  float: left;
  width: 470px;
  margin-right: 10px;
}
#signup #new-customer h2 { margin-bottom: 0.25em; }
#signup #new-customer p { margin-bottom: 10px; }
#signup #new-customer p input.title {
  padding: 3px;
  margin: 0px;
}
#signup #new-customer input[type=checkbox] { top: 0em; }
#login #existing-customer {
  display: inline;
  float: left;
  width: 470px;
  margin-right: 10px;
}
#login #existing-customer h2 { margin-bottom: 0.25em; }
#login #existing-customer p { margin-bottom: 10px; }
#login #existing-customer p input.title {
  padding: 3px;
  margin: 0px;
}
#login #existing-customer input[type=checkbox] { top: 0em; }
input.openid_url {
  background: #ffffff url(../images/openid-inputicon.gif) no-repeat scroll 0pt 50%;
  padding-left: 18px;
  border: 1px solid #bbbbbb;
  font-size: 1.5em;
}
.no_margin_or_padding {
  margin: 0;
  padding: 0;
}
.leftie {
  float: left;
  width: 49%;
}
.rightie {
  float: right;
  width: 49%;
}
.clearfix {
  overflow: hidden;
  display: inline-block;
}
.clearfix { display: block; }
.nowrap { white-space: nowrap; }
.no-bullets { list-style: none; }
.inline-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: inline;
}
.inline-list li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
.colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #eeeeee;
}
ol.progress-steps {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1em;
  font-size: 12px;
}
ol.progress-steps li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
  float: left;
  color: #999999;
  background-position: top left;
  background-repeat: no-repeat;
  background-image: url(../images/step-progress/incomplete-incomplete.gif);
}
ol.progress-steps li span {
  padding: 5px 14px 7px 24px;
  display: block;
  float: left;
  background-position: top right;
  background-repeat: no-repeat;
}
ol.progress-steps li a {
  text-decoration: none;
  color: #333333;
}
ol.progress-steps li.current-first span { padding-left: 14px; }
ol.progress-steps li.completed-first span { padding-left: 14px; }
ol.progress-steps li.current-first { background-image: url(../images/step-progress/current-first.gif); }
ol.progress-steps li.completed-first { background-image: url(../images/step-progress/completed-first.gif) !important; }
ol.progress-steps li.current { color: #ffffff; }
ol.progress-steps li.current-first { color: #ffffff; }
ol.progress-steps li.current-last { color: #ffffff; }
ol.progress-steps li.completed { background-image: url(../images/step-progress/completed-completed.gif); }
ol.progress-steps li.current { background-image: url(../images/step-progress/completed-current.gif); }
ol.progress-steps li.current-last { background-image: url(../images/step-progress/completed-current.gif); }
ol.progress-steps li.next { background-image: url(../images/step-progress/current-incomplete.gif); }
ol.progress-steps li.next-last { background-image: url(../images/step-progress/current-incomplete.gif); }
ol.progress-steps li.last span { background-image: url(../images/step-progress/incomplete-right.gif); }
ol.progress-steps li.next-last span { background-image: url(../images/step-progress/incomplete-right.gif); }
ol.progress-steps li.current-last span { background-image: url(../images/step-progress/current-right.gif); }
div#checkout { position: relative; }
div#checkout .progress-steps {
  position: absolute;
  top: 0.5em;
  right: 0;
}
div#checkout form {
  background-position: top right;
  background-repeat: no-repeat;
}
div#checkout #checkout_form_address { background-image: url("../images/steps/2.png"); }
div#checkout #checkout_form_delivery { background-image: url("../images/steps/3.png"); }
div#checkout #checkout_form_address #billing label {
  width: 190px;
  float: left;
  padding-right: 10px;
  text-align: right;
}
div#checkout #checkout_form_address #shipping label {
  width: 190px;
  float: left;
  padding-right: 10px;
  text-align: right;
}
div#checkout #checkout_form_address #billing input { width: 304px; }
div#checkout #checkout_form_address #shipping input { width: 304px; }
div#checkout #checkout_form_address #billing select { width: 304px; }
div#checkout #checkout_form_address #shipping select { width: 304px; }
div#checkout #checkout_form_address #billing p.checkbox { padding-left: 200px; }
div#checkout #checkout_form_address #shipping p.checkbox { padding-left: 200px; }
div#checkout #checkout_form_address .form-buttons { padding-left: 200px; }
div#checkout #checkout_form_address #billing p.checkbox label {
  width: auto !important;
  float: none !important;
}
div#checkout #checkout_form_address #shipping p.checkbox label {
  width: auto !important;
  float: none !important;
}
div#checkout #checkout_form_address #billing p.checkbox input { width: auto !important; }
div#checkout #checkout_form_address #shipping p.checkbox input { width: auto !important; }
div#checkout #checkout_form_payment { background-image: url("../images/steps/5.png"); }
div#checkout #checkout_form_payment select { width: 75px; }
div#checkout #checkout_form_payment #payment {
  display: inline;
  float: left;
  width: 310px;
  margin-right: 10px;
}
div#checkout #checkout_form_payment #order_details {
  display: inline;
  float: left;
  width: 470px;
  margin-right: 10px;
}
div#checkout #payment-methods {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
  width: 720px;
}
div#checkout #payment-methods li {
  display: block;
  display: inline;
  float: left;
  width: 190px;
  margin-right: 10px;
}
div#checkout #payment-methods li.last {
  display: inline;
  float: left;
  width: 190px;
}
