#team-images {
	
	display: block;
	text-align: center;
	margin: 0 0 50px 0;
	
}

#team-images li {
	
	display: inline-block;
	margin: 0 24px 0 0;
	opacity: 0.6;
	cursor: pointer;
	
	-webkit-transition: opacity 0.4s ease-out;	
	   -moz-transition: opacity 0.4s ease-out;
	        transition: opacity 0.4s ease-out;	
	        	
}

#team-images li.active, #team-images li:hover {

	opacity: 1; 
	
	-webkit-transition: opacity 0.4s ease-in;	
	   -moz-transition: opacity 0.4s ease-in;
	        transition: opacity 0.4s ease-in;	
	        
}

#team-images li img {
	
	margin-bottom: 5px;
	
}

#team-images li .member-name {
	
	display: block;
	white-space: nowrap;
	text-align: center;
	font-weight: bold;
	
}

#member-content-wrap {
	
	border: 1px solid white;
	padding: 35px;
	
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
	
}

#member-content-wrap .member-content { display: none; }

#member-content-wrap .member-content.active { display: block; }

#member-content-wrap .member-content p:last-child { margin: 0; }

#partner-with-us { text-align: center; }

#partner-buttons {
	
	margin-top: 50px;
	
}

#partner-buttons li {
	
	display: block;
	float: left;
	width: 300px;
	
}

#partner-buttons li .btn { 

	min-height: 48px; 
	display: block; 
	box-shadow: none; 
	text-align: center; 
	background: #4369c2; 
	line-height: 24px; 
	font-size: 14px; 
	height: auto; 
	padding-top: 16px; 
	padding-bottom: 16px; 
	
}

#partner-buttons li.alpha { margin-right: 50px; }
#partner-buttons li.alpha .btn { background: #537ee0; }

#partner-buttons li.omega { margin-left: 50px; }
#partner-buttons li.omega .btn { background: #3556a2; line-height: 48px; }