.question {
	
	color: inherit;
	text-transform: uppercase;
	display: block;
	text-align: center;
	margin-bottom: 40px;
	font-weight: 600;
	line-height: 18px;
	
}

.question .indicator {
	
	width: 20px;
	height: 20px;
	display: inline-block;
	margin: 0 6px 0 0;
	background: #e6262a;
	border: 1px solid #e6262a;
	line-height: 20px;
	color: white;
	font-weight: bold;
	text-align: center;

	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;        	
}

.question .indicator:before { 

	content: '+'; 
	display: block; 
	
	-webkit-transition: all 0.25s linear;
	   -moz-transition: all 0.25s linear;
	        transition: all 0.25s linear;
	        	
}

.question.open .indicator { background: transparent; color: #e6262a; }
.question.open .indicator:before {

	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	        transform: rotate(45deg);
	
	-webkit-transition: all 0.25s linear;
	   -moz-transition: all 0.25s linear;
	        transition: all 0.25s linear;
	        
}

.answer {
	
	display: none;
	border: 1px solid #c4cad3;
	padding: 25px;
	margin: -10px 0 50px;
	position: relative;
	
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;  
	        	
}

.answer:before {
	
	content: '';
	
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #ecf0f7;
	position: absolute;
	top: -5px;
	left: 50%;
	margin-left: -10px;
	z-index: 3;
	
}

.answer:after {

	content: '';
	
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #c4cad3;
	position: absolute;
	top: -7px;
	left: 50%;
	margin-left: -12px;
	z-index: 2;
	
}

.answer p:last-child { margin: 0; }

#faq h3 {
	
	text-align: center;
	margin: 90px 0 60px 0;
	color: #e6262a;
	
}