#masthead {
	
	background: #3556a2 url(../images/bg.jpg) no-repeat bottom center; 
	padding: 100px 0 150px 0;
	color: white;
	text-align: center;
	
}

#masthead h1 {
	
	margin: 0 0 40px 0;
	color: white;
	font-size: 48px;
	line-height: 1;
	
}

#masthead .desc {
	
	margin: 40px 0 0 0;
	font-size: 24px;
	text-transform: uppercase;
	
}

#masthead .desc a { color: inherit; }
#masthead .desc a:hover { color: #e6262a; }

#masthead .btn { margin-bottom: 10px; }

#masthead .scroll-down {
	
	color: #1b3164;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 49px;
	padding: 0 20px 0 57px;
	background: url(../images/down.png) 20px 16px no-repeat;
	display: inline-block;
	border: 1px solid #1b3164;
	font-size: 14px;
	
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
		
}

#easy-as li {
	
	float: left;
	width: 300px;
	text-align: center;
	
}

#easy-as li:first-child { margin-right: 50px; }
#easy-as li:last-child { margin-left: 50px; }

.easy-as-img { height: 311px; margin-bottom: 40px; vertical-align: middle; line-height: 311px; }
.easy-as-img img { display: inline-block; vertical-align: bottom; }

#easy-as li:last-child .easy-as-img img { vertical-align: top; }

.easy-as-desc { margin: 40px 0 0 0; text-align: center; }

.testimonial {
	
	float: left;
	width: 300px;
	text-align: center;
	margin-bottom: 0;
		
}

.testimonial.alpha { margin-right: 50px; }
.testimonial.omega { margin-left: 50px; }

.testimonial .avatar { margin-bottom: 16px; }

.testimonial .source {
	
	font-size: 18px;
	color: #e6262a;
	
}

.need-help {
	
	text-align: center;
	clear: both;
	
}