#how-it-works {

	position: relative;
	
}

#steps {
	
	position: relative;
	display: block;
	
}


#steps li {

	display: block;
	text-align: center;
	margin: 0 0 70px;
	
}

#steps li:last-child { margin: 0; }

#steps li p:last-child { margin: 0; }

#steps .icon {
	
	display: inline-block;
	background-image: url(../images/how-it-works-tileset.png);
	background-repeat: no-repeat;
	margin: 0 auto 30px auto;
	
}

#steps .icon.step1 {
	
	background-position: left top;
	width: 172px;
	height: 194px;
	
}

#steps .icon.step2 {
	
	background-position: -200px 0px;
	width: 168px;
	height: 148px;
	
}


#steps .icon.step3 {
	
	background-position: -400px 0px;
	width: 123px;
	height: 167px;
	
}

#steps .icon.step4 {
	
	background-position: -550px 0px;
	width: 171px;
	height: 194px;
	
}

#methods > li {
	
	float: left;
	width: 310px;
	
}

#methods > li.alpha { margin-right: 30px; }
#methods > li.omega { margin-left: 30px; }

#methods > li .icon {
	
	display: block;
	float: left;
	background-image: url(../images/how-it-works-tileset.png);
	background-repeat: no-repeat;
	
}

#methods > li .icon.online {

	background-position: -750px 0px;	
	width: 46px;
	height: 45px;
	
}

#methods > li .icon.text {

	background-position: -750px -50px;	
	width: 47px;
	height: 41px;
	
}

#methods > li .icon.app {

	background-position: -750px -100px;	
	width: 32px;
	height: 54px;
	
}

#methods > li .method-content { margin-left: 64px; }
#methods > li .method-content li { margin-bottom: 16px; }
#methods > li .method-content ol li:last-child { margin-bottom: 0; }

#features > li {
	
	margin-bottom: 80px;
	height: 120px;
	overflow: hidden;
	display: table;
	
}

#features > li:last-child { margin: 0; }

#features > li .feature-content {
	
	display: table-cell;
	vertical-align: middle;
	
}

#features > li .feature-content p:last-child { margin: 0; }

#features > li .feature-icon {

	display: table-cell;
	vertical-align: middle;
	width: 175px;
		
}

#features > li.alt .feature-icon { text-align: right; }

#features > li .feature-icon .icon {
	
	display: inline-block;
	background-image: url(../images/how-it-works-tileset.png);
	background-repeat: no-repeat;
	vertical-align: middle;
		
}

#features > li .feature-icon .icon.clock {

	background-position: -800px 0px;	
	width: 112px;
	height: 111px;
	
}

#features > li .feature-icon .icon.tracking {

	background-position: -950px 0px;	
	width: 120px;
	height: 80px;
	
}


#features > li .feature-icon .icon.customize {

	background-position: -1100px 0px;	
	width: 119px;
	height: 92px;
	
}

#features > li .feature-icon .icon.lifesaver {

	background-position: -1250px 0px;	
	width: 112px;
	height: 111px;
	
}

#features > li .feature-icon .icon.leaf {

	background-position: -1400px 0px;	
	width: 114px;
	height: 90px;
	
}

#features > li .feature-icon .icon.coupon {

	background-position: -1550px 0px;	
	width: 114px;
	height: 114px;
	
}

#features > li .feature-icon .icon.card {

	background-position: -1700px 0px;	
	width: 120px;
	height: 85px;
	
}