@charset "UTF-8";
@import "normalize.css";

body {
	
	background: white;
	
	font: 100%/1.5 "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	color: #2a2f3a;
	
	-webkit-font-smoothing: antialiased;
	
} 

/* Basic Styles */

p { margin: 0 0 24px; }

a { 
	
	color: #e6262a; 
	text-decoration: none; 

	-webkit-transition: color 0.25s ease-out;
	   -moz-transition: color 0.25s ease-out;
	        transition: color 0.25s ease-out;
	        	
}

a:hover { 

	color: #c62326; 

	-webkit-transition: color 0.25s ease-in;
	   -moz-transition: color 0.25s ease-in;
	        transition: color 0.25s ease-in;
	        	
}

h1, h2, h3, h4, h5, h6 { font-weight: normal; line-height: 1.25; }

h1 { 
	
	color: #e6262a;
	margin: 0 0 24px;
	padding: 0;
	text-transform: uppercase;
	font-size: 36px;

}

h1.headline {
	
	text-align: center;
	margin-bottom: 90px;
	position: relative;
	
}

h1.headline:after {
	
	content: '';
	display: block;
	position: absolute;
	bottom: -20px;
	left: 50%;
	margin: 0 0 0 -75px;
	
	
	width: 150px;
	height: 1px;
	background: #bcc3cf;
	
}

h1.headline:before {

	content: '';
	display: block;
	position: absolute;
	bottom: -25px;
	left: 50%;
	margin: 0 0 0 -10px;
		
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #bcc3cf;
	
	width: 0;
	height: 0;
	
}

h3 { font-weight: bold; text-transform: uppercase; font-size: 18px; margin: 0 0 16px; }

h4 { font-weight: bold; margin: 0 0 16px; }

ul, ul > li {
	
	padding: 0;
	margin: 0;
	list-style: none;
	
}

ol {
	
	list-style-type: disc;
	list-style-position: inside;
	margin: 0 0 24px;
	padding: 0;	
	
}

ol li {
	
	margin: 0 0 4px 16px;
	
}

ol li:last-child { margin-bottom: 0; }

ol.numeric { list-style: decimal; list-style-position: outside; }

ol.numeric li { margin-left: 21px; }

.btn,
button,
input[type=button] {
	
	background: #e6262a;
	display: inline-block;
	color: white;
	height: 50px;
	padding: 0 30px;
	text-transform: uppercase;
	font: 16px/50px "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-weight: bold;
	
	-webkit-font-smoothing: antialiased;
	
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25), 0 1px 2px rgba(0,0,0,0.5);
	   -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25), 0 1px 2px rgba(0,0,0,0.5);
	        box-shadow: inset 0 1px 0 rgba(255,255,255,0.25), 0 1px 2px rgba(0,0,0,0.5);
		
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
	        border-radius: 2px;

	-webkit-transition: opacity 0.2s ease-in;
	   -moz-transition: opacity 0.2s ease-in;
	        transition: opacity 0.2s ease-in;
	        		
}

.btn:hover,
button:hover,
input[type=button]:hover {
	
	opacity: 0.7;
	color: white;
	
	-webkit-transition: opacity 0.2s ease-out;
	   -moz-transition: opacity 0.2s ease-out;
	        transition: opacity 0.2s ease-out;
		
}

.btn.blue { background: #3f60ab; }

.btn.call-to { height: 58px; line-height: 58px; font-size: 18px; }

/* Layout */

#navbar {
	
	background: #3556a3;
	height: 210px;
	overflow: hidden;
	
}

.navbar-inner {
	
	width: 1200px;
	margin: 0 auto;
	
}

.nav li {
	
	display: block;
	float: left;
	margin: 0 24px 0 0;
	
}

.nav li a { display: block; }

.nav li:last-child { margin-right: 0; }

#navbar .nav li a{
	
	color: white;
	text-transform: uppercase;
	line-height: 50px;
	margin: 80px 0;
	
}

#navbar .nav li a:hover { color: #bdc4d4; }

.logo > img { display: block; }

#navbar .logo {
	
	display: inline-block;
	margin: 38px 24px 39px 0;
	
}

.container {
	
	width: 1000px;
	margin: 0 auto;
	
}

.panel { padding: 90px 0; }

.panel.secondary { background: #ecf0f7; }

.panel.blue {
	
	background: #3556a3;
	color: white;
	
}

.panel.blue h1.headline { color: white; }
.panel.blue h1.headline:after { background: white; }
.panel.blue h1.headline:before { border-top-color: white; }

#call-to {
	
	background: #363a42;
	color: white;	
	padding: 70px 0;
	text-align: center;
	font-size: 21px;
	
}

#call-to p { margin: 0; }

#call-to p .btn.call-to { margin-left: 16px; }

#footer {
	
	background: #2d2f35;
	height: 84px;
	line-height: 84px;
	overflow: hidden;
	color: #a1a5b0;
	font-size: 14px;
	
}

#footer a { color: white; }
#footer a:hover { color: #e6262a; }

#footer .up {
	
	position: relative;
	width: 46px;
	text-align: center;
	
}

#footer .up:after {
	
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -21px 0 0 -21px;
	width: 40px;
	height: 40px;
	border: 1px solid #212227;

	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	        transform: rotate(45deg);
	
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
	        border-radius: 2px;

	-webkit-transition: border 0.2s ease-out;
	   -moz-transition: border 0.2s ease-out;
	        transition: border 0.2s ease-out;
	        	        	
}

#footer .up:hover:after { 

	border-color: #e6262a; 

	-webkit-transition: border 0.2s ease-in;
	   -moz-transition: border 0.2s ease-in;
	        transition: border 0.2s ease-in;
	        	
}

#footer .social {
	
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url(../images/social.png) no-repeat;
	vertical-align: middle;
	margin-left: 4px;
	
}

#footer .social:hover { opacity: 0.6; }

#footer .social.pinterest { background-position: 0px 0px; }
#footer .social.facebook { background-position: -24px 0px; }
#footer .social.twitter { background-position: -48px 0px; }

span.atn { color: #e6262a; }

/* Helper */

.pull-right { float: right; }
.pull-left { float: left; }

.clear:before,
.clear:after {
	
	content: ' ';
	display: table;
	
}

.clear:after { clear: both; }


.kiosk-access-form .btn {
    padding: 5px;
    line-height: 1;
}

.kiosk-access-form p {
    margin: 5px 0 0;
}

#kiosk_cardNumber {
    text-indent: 10em;
}
