.service-list {
	
	
}

.service-list > li {

	display: table;	
	margin-bottom: 80px;
	
}

.service-list > li:last-child { margin-bottom: 0; }

.service-list > li .service-image {
	
	width: 320px;
	display: table-cell;
	vertical-align: middle;
		
}

.service-list > li.alt .service-image { text-align: right; }

.service-list > li .service-image img { vertical-align: middle; }

.service-list > li .service-content {
	
	display: table-cell;
	vertical-align: middle;
	
}

.pricing-table {
	
	width: 100%;
	margin-bottom: 50px;
	display: none;
	
}

.pricing-table.active { display: table; }

.pricing-table tr td,
.pricing-table tr th {
	
	height: 50px;
	border-bottom: 1px solid #bcc3cf;
	
}

.pricing-table tr td:first-child,
.pricing-table tr th:first-child { text-align: left; }

.pricing-table tr td:last-child,
.pricing-table tr th:last-child { text-align: right; }

#category-wrap {
	
	text-align: center;
	margin-bottom: 45px;
	
}

#category { width: 200px; }