div.wpcf7 {
	margin: 0;
	padding: 0;
}

div.wpcf7-response-output {
	margin: 2em 0.5em 1em;
	padding: 0.2em 1em;
}

div.wpcf7-mail-sent-ok {
	border: 2px solid #398f14;
}

div.wpcf7-mail-sent-ng {
	border: 2px solid #ff0000;
}

div.wpcf7-spam-blocked {
	border: 2px solid #ffa500;
}

div.wpcf7-validation-errors {
	border: 2px solid #f7e700;
}

span.wpcf7-form-control-wrap {
	position: relative;
}

span.wpcf7-not-valid-tip {
	position: absolute;
	top: 20%;
	left: 20%;
	z-index: 100;
	background: #fff;
	border: 1px solid #ff0000;
	font-size: 10pt;
	width: 280px;
	padding: 2px;
}

span.wpcf7-not-valid-tip-no-ajax {
	color: #f00;
	font-size: 10pt;
	display: block;
}

span.wpcf7-list-item {
	margin-left: 0.5em;
}

.wpcf7-display-none {
	display: none;
}

div.wpcf7 img.ajax-loader {
	border: none;
	vertical-align: middle;
	margin-left: 4px;
}

div.wpcf7 div.ajax-error {
	display: none;
}

div.wpcf7 .placeheld {
	color: #888;
}

.kiosk-access-bg {
    font-size: 90%;
}

.kiosk-access {
    margin-bottom: 2em;
}

.kiosk-access .control-group {
    margin-bottom: 0;
    padding-left: 10px;
}

.kiosk-access p {
    margin-bottom: 0;
}

.kiosk-access-form {
    height: auto !important;
    padding: 0 !important;
}

.kiosk-access-form form {
    margin-bottom: 0;
}

.kiosk-access form input {
    margin-bottom: 5px;
}

.cc-mask {
    font-size: 80%;
}

.btn-large i {
    position: relative;
    top: 5px;
}
