a, a:active, a:focus, a:hover, a:visited {
    color: #08c;
    outline: 0;
    text-decoration: none;
}

.btn.btn-primary, .btn-success.btn-large, .btn-info.btn-large {
    border-radius: 5px;
    border-color: rgba(0,0,0,.1);
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    background-color: transparent;
    color: #5472D2;
    border: 1px solid transparent;
    box-sizing: border-box;
    word-wrap: break-word;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    top: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    line-height: normal;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-size: 14px;
    padding: 14px 20px;
    color: #fff;
    background-color: #6AB165;
}

input[type="text"], input[type="email"], input[type="password"] {
    padding: 10px;
    border: solid 1px gainsboro;
    display: block;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    -ms-border-radius: none;
    -o-border-radius: none;
    border-radius: none;
}