@charset "utf-8";
/* CSS Document */

@font-face {

	font-family: "Myriad Pro";

	src: url('fonts/MyriadPro-Regular.eot');

	src: url('fonts/MyriadPro-Regular.woff') format('woff'),
         url('fonts/MyriadPro-Regular.ttf') format('truetype'), 
         url('fonts/MyriadPro-Regular.svg') format('svg');

	font-weight: normal;

	font-style: normal;

}



@font-face {

    font-family: 'MyriadProSemiboldCondensed';

    src: url('fonts/myriad-pro-semibold-condensed.eot');

    src: url('fonts/myriad-pro-semibold-condensed.eot') format('embedded-opentype'),

         url('fonts/myriad-pro-semibold-condensed.woff') format('woff'),

         url('fonts/myriad-pro-semibold-condensed.ttf') format('truetype'),

         url('fonts/myriad-pro-semibold-condensed.svg#MyriadProSemiboldCondensed') format('svg');

}



@font-face {

    font-family: 'GothamLightRegular';

    src: url('fonts/gotham-light-webfont.eot');

    src: url('fonts/gotham-light-webfont.eot?#iefix') format('embedded-opentype'),

         url('fonts/gotham-light-webfont.woff') format('woff'),

         url('fonts/gotham-light-webfont.ttf') format('truetype'),

         url('fonts/gotham-light-webfont.svg#GothamLightRegular') format('svg');

    font-weight: normal;

    font-style: normal;



}



@font-face {

    font-family: 'ScriptMtBold';

    src: url('fonts/script_mt_bold.eot');

    src: url('fonts/script_mt_bold.eot?#iefix') format('embedded-opentype'),

         url('fonts/script_mt_bold.woff') format('woff'),

         url('fonts/script_mt_bold.ttf') format('truetype'),

         url('fonts/script_mt_bold.svg#ScriptMtBold') format('svg');

    font-weight: normal;

    font-style: normal;



}



@font-face {

	font-family: 'ProximaNova-Reg';

	src: url('fonts/proximanova-regular-webfont.eot');

	src: url('fonts/proximanova-regular-webfont.woff') format('woff'), 
    url('fonts/proximanova-regular-webfont.ttf') format('truetype'), 
    url('fonts/proximanova-regular-webfont.svg#webfontgbHAUEFq') format('svg');

	font-weight: normal;

	font-style: normal;

}

@font-face {
    font-family: 'ChandstateRegular';
    src: url('fonts/chandstate.eot');
    src: url('fonts/chandstate.eot') format('embedded-opentype'),
         url('fonts/chandstate.woff') format('woff'),
         url('fonts/chandstate.ttf') format('truetype'),
         url('fonts/chandstate.svg#ChandstateRegular') format('svg');
}



@font-face {

	font-family: 'ProximaNova-Bold';

	src: url('fonts/ProximaNova-Bold.eot');

	src: url('fonts/ProximaNova-Bold.woff') format('woff'), 
    url('fonts/ProximaNova-Bold.ttf') format('truetype'), 
    url('fonts/ProximaNova-Bold.svg') format('svg');

	font-weight: normal;

	font-style: normal;

}



@font-face {

    font-family: 'thirsty_script_extrabold_deRg';

    src: url('fonts/thirstyscriptextrabolddemo-webfont.eot');

    src: url('fonts/thirstyscriptextrabolddemo-webfont.eot?#iefix') format('embedded-opentype'),

         url('fonts/thirstyscriptextrabolddemo-webfont.woff') format('woff'),

         url('fonts/thirstyscriptextrabolddemo-webfont.ttf') format('truetype'),

         url('fonts/thirstyscriptextrabolddemo-webfont.svg#thirsty_script_extrabold_deRg') format('svg');

    font-weight: normal;

    font-style: normal;



}



@font-face {

	font-family: "Sansation_Bold";

	src: url('fonts/Sansation_Bold.eot?') format('eot'), 
    url('fonts/Sansation_Bold.woff') format('woff'), 
    url('fonts/Sansation_Bold.ttf') format('truetype'), 
    url('fonts/Sansation_Bold.svg#SansationBold') format('svg');

	font-weight: normal;

	font-style: normal;

}


@font-face {
    font-family: 'lobster_1.4regular';
    src: url('fonts/lobster_1.4-webfont.eot');
    src: url('fonts/lobster_1.4-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lobster_1.4-webfont.woff') format('woff'),
         url('fonts/lobster_1.4-webfont.ttf') format('truetype'),
         url('fonts/lobster_1.4-webfont.svg#lobster_1.4regular') format('svg');
    font-weight: normal;
    font-style: normal;

}



body {

	margin: 0px;

	padding: 0px;

	font-family: Tahoma, sans-serif;

	font-size: 13px;

	background: #f8f8f8;

	color: #000;

}



.clear {

	margin: 0px;

	padding: 0px;

	clear: both;

}

p {

	margin: 0px;

	padding: 0px;

	line-height: normal;

}

p a {

	color:#fff;

}

a {

	text-decoration: none;

	color: #363636;

}

a:hover {

	text-decoration: none;

	color: #363636;

}

h1, h2, h3, h4, h5, h6 {

	margin: 0px;

	padding: 0px;

	font-weight: normal;

	line-height:normal;

}

img {

	border: none;

	outline: none;

}



/****************************** Header Start ***********************/



.header{

	margin:0;

	padding:0;

	display:block;

	background:url(img/header-bg.jpg) no-repeat center top #01b995;

}





.header_outer{

	margin:0 auto;

	padding:0;

	width:100%;

	max-width:1170px;

	min-width:320px;

}



.head_d{

	margin:0;

	padding:0;



	display:block;

	background:#fff;

	background:rgba(255,255,255,0.7);

}



.logo{

	margin:0;

	padding:0;

	width:143px;

	float:left;

}



.logo img{

	display:block;

}



.navigation {

	margin: 0;

	padding: 0;

	display: block;

	float: right;

	width: 642px;

}

.navigation ul {

	margin: 0;

	padding: 0;

	display: table;

}

.navigation ul li {

	margin: 0;

	padding: 0px;

	display: table-row;

	float: left;

	color: #4d4d4d;

	font-size: 14px;

	font-family: 'MyriadProSemiboldCondensed';

	text-decoration: none;

	font-weight: normal;

	border-right: #9c9c9c solid 2px;

	list-style: none;

	text-transform: uppercase;

	position: relative;

}

.navigation ul li:last-child {

	border: none;

}

.navigation img {

	vertical-align:middle;

}



.navigation img.nav_icon_hover{

	display:none;

}



.navigation span{

	display:inline-block;

	width:100%;

	line-height:15px;

}



.navigation ul li > a {

	display: table-cell;

	color: #4d4d4d;

	margin: 0;

	padding: 0 5px;

	text-align: center;

	width:80px;

	height:80px;

	vertical-align:middle;
	font-size: 16px;

}

.navigation ul li.active > a {

	background: #4bb3ad;

	color:#fff;

}



.navigation ul li.active > a img.nav_icon{

	display:none;

}



.navigation ul li.active > a img.nav_icon_hover{

	display:inline-block;

}



.clean_header{

	margin:0;

	padding:0;

	display:block;

	min-height:685px;

}



.clean_head_outer{

	margin:0 auto;

	padding:0;

	width:100%;

	min-width:320px;

	max-width:1002px;

}



.clean_head_title{

	text-align:center;

	padding:40px 0 25px;

}

.clean_head_desc1{

	font-size:43px;

	color:#212121;

	padding:0 0 25px;

	text-align:center;

	text-shadow:#212121 0 0 1px;

	letter-spacing:-0.5px;

	text-transform:uppercase;

	font-family: 'GothamLightRegular';

}



.clean_head_desc2{

	font-size:30px;

	color:#fff;

	text-align:center;

	padding:0;

	letter-spacing:-0.5px;

	text-shadow:#212121 0 0 1px;

	font-family: 'ScriptMtBold';

}



.clean_head_btn{

	text-align:center;

	display:block;

	padding:45px 0;

}



.g_start_btn{

	color:#fff;

	display:inline-block;

	/*background:#f8f8f8;*/

	border:#fff solid 2px;

	font-size:18px;

	margin:0 7px;

	padding:10px 70px;

	text-transform:uppercase;

	font-family: 'ProximaNova-Bold';

}



.head_promo{

	font-size:18px;

	color:#fff;

	text-align:center;

	text-transform:uppercase;

	text-shadow:#212121 0 0 1px;

	font-family: 'ProximaNova-Bold';	

}



.head_promo span{

	font-size:24px;

}



/************************ Content Start ************************/



.content{

	 margin:0;

	 padding:0;

	 display:block;

}



.content p{

	color:#363636;

	font-size:18px;

	line-height:26px;

	text-align:left;

	font-family: 'ProximaNova-Reg';

}



.how_work{

	margin:0;

	padding:0;

	display:block;

	background:url(img/h-w-bg.png) repeat-x bottom center #fff;

}



.how_work_outer{

	margin:0 auto;

	padding:0;

	width:100%;

	min-width:320px;

	max-width:970px;

}



.how_work_title{

	padding:25px 0 0;

	text-align:center;

}



.how_work_list{

	margin:0;

	padding:0 0 35px;

	display:block;

}



.how_work_list ul{

	margin:0;

	padding:0;

	display:block;

	text-align:center;

}



.how_work_list li{

	margin:0 28px;

	padding:0;

	display:inline-block;

	list-style:none;

}



.how_work_list span{

	display:block;

	font-size:22px;

	padding:25px 0;

	font-family: 'thirsty_script_extrabold_deRg';

}

.how_work_list span label{
	font-size:36px;
}



.how_work_list span#color1{

	color:#412b7c;

}



.how_work_list span#color2{

	color:#e17695;

}



.how_work_list span#color3{

	color:#188092;

}



.how_work_con{

	padding:35px 30px 20px;

	border:#95ca4f solid 1px;

	background:url(img/h-w-con-bg.png) no-repeat center top;

	background-size:100% 100%;

}



.watch_vid_d{

	margin:0;

	padding:40px 0;

	display:block;

	text-align:center;

}



.watch_vid_d a{

	display:inline-block;

	font-family: "Myriad Pro";

	color:#3c3c3c;

	font-size:26px;

	padding:8px 25px 10px;

	border:#5c5c5c solid 2px;

	text-transform:uppercase;

}



.watch_vid_d a img{

	margin-left:20px;

	display:inline-block;

	vertical-align:bottom;

}



.service_d{

	background:url(img/service-bg.jpg) no-repeat center top #528b9e;

}



.service_outer{

	margin:0 auto;

	padding:0;

	width:100%;

	min-width:320px;

	max-width:1152px;

}



.service_title{

	text-align:center;

	padding:35px 0 40px; 

}



.service_con{

	margin:0;

	padding:0 0 40px;

	display:block;

}



.service_lt{

	float:left;

	width:550px;

}



.service_rt{

	width:540px;

	float:right;

	padding:7px;

	margin-top:25px;

	background:#fff;

	background:rgba(255,255,255,0.4);

}



.service_rt_con{

	display:block;

	padding:0 18px 10px;

	border:#3b3d38 solid 1px;

	background:url(img/servive-con-bg.png) no-repeat center top;

	background-size:100% 100%;

}



.service_rt_con h1{

	display:block;

	color:#fff;

	font-size:24px;

	text-align:center;

	padding:15px 0 10px;

	font-family: "Sansation_Bold";

}



.service_rt_con p{

	color:#fff;

	font-size:15px;

	font-family: 'ProximaNova-Reg';

	line-height:20px;

	text-align:justify;

	margin:0 0 20px;

}



.service_rt_con span{

	display:block;

	font-size:16px;

	color:#393b36;

	text-transform:uppercase;

	font-family: 'ProximaNova-Bold';

}



.faq_d{

	margin:0;

	padding:0;

	display:block;

	background:url(img/faq-bg.jpg) repeat;

}



.faq_outer{

	margin:0 auto;

	padding:0;

	width:100%;

	min-width:320px;

	max-width:1030px;		

}



.faq_title{

	display:block;

	text-align:center;

	padding:45px 0 0;

}



.faq_desc{

	text-align:center;

	font-size:24px;

	color:#fff;

	padding:15px 0 25px;

	font-family: 'ScriptMtBold';

}



.faq_con{

	padding:12px 15px;

	display:block;

	border:#fff solid 1px;

	background:url(img/faq-c-bg.png) no-repeat center top;

	background-size:100% 100%;

}



.faq_list{

	margin:0;

	padding:0;

	display:block;

}



.faq_list ul{

	margin:0;

	padding:0;

	display:block;

}



.faq_list li{

	margin: 0 0 15px;

    padding: 0 0 5px;

	display:block;

	list-style:none;

	border-bottom:#a495db solid 1px;

}



.faq_list span{

	font-family: 'ProximaNova-Reg';

	font-size:18px;

	color:#fff;

	display:block;

	padding:0 0 10px;

}



.faq_list p{

	font-family: 'ProximaNova-Reg';

	font-size:15px;

	color:#fff;

	text-align:left;

	line-height:24px;

	margin-left:20px;

}



.faq_list span img{

	display:inline-block;

	vertical-align:bottom;

}



.faq_list img.minus-icon{

	display:none;	

}



.faq_list_title{

	display:block;

	cursor:pointer;

}



.faq_list_title.twistyOpen img.plus-icon{

	display:none;		

}



.faq_list_title.twistyOpen img.minus-icon{

	display:inline-block;

}



.watch_vid_d.faq_vid a{

	border-color:#fff;

	color:#fff;

}



.about_d{

	margin:0;

	padding:0;

	display:block;

	background:url(img/about-bg.jpg) no-repeat center top #5697b7;

}



.about_outer{

	margin:0 auto;

	padding:0;

	width:100%;

	min-width:320px;

	max-width:1120px;

}



.about_title{

	padding:45px 0 18px; 

	text-align:center;

}



.about_con{

	margin:0;

	padding:0;

	display:block;

}



.about_list{

	width:248px;

	float:left;

}



.about_list span{

	display:block;

	text-align:center;

	font-size:30px;

	color:#fff;

	padding:22px 0px 5px 0;
	/*
	text-transform:uppercase;
	*/
	font-family: 'lobster_1.4regular';

}



.about_content{

	width:485px;

	float:left;

	padding:25px;

	margin:0 40px;

	border:#fff solid 1px;

	background:url(img/about-img.png) repeat;

	opacity:.5;

	background-size:100% 100%;
	font-family: 'ProximaNova-Reg';

}



.about_content p{

	font-family: 'ProximaNova-Reg';

	font-size:16px;

	color:#000;

	text-align:justify;

	line-height:23px;

}



.pro_man_d{

	 margin:0;

	 padding:0 0 30px;

	 display:block;

	 background:url(img/pro-man-bg.jpg) no-repeat center bottom #2f9ac6;

}



.pro_man_outer{

	margin:0 auto;

	padding:0;

	width:100%;

	min-width:320px;

	max-width:1040px;

}



.pro_man_title{

	text-align:center;

	padding:38px 0 50px;

}



.request_loc{

	text-align:center;

	font-size:30px;

	color:#fff;

	font-family: 'GothamLightRegular';

}

.about_list p {
font-weight: bold;
}


.request_loc img{

	display:inline-block;

	vertical-align:middle;

}



.pro_man_desc{

	margin:0;

	padding:20px 0;

	display:block;

	font-size:17px;

	color:#fff;

	text-align:center;

	font-family: 'ProximaNova-Reg';

}



.request_frm{

	margin:0 105px;

	padding:5px 4px;

	display:block;

	background:#000;

	border-radius:3px;

	border:#161717 solid 1px;

	background:rgba(0,0,0,0.6);

}



.request_frm input[type="text"]{

	margin:0;

	padding:0 15px;

	height:42px;

	line-height:42px;

	/*background:#fff;*/

	border:none;

	border-radius:3px;

	color:#b4b4b4;

	font-size:16px;

	font-family: 'ProximaNova-Reg';

}

.input_error{ background-color:#FCC;}

.req_txt1{

	width:290px;

}



.req_txt2{

	width:152px;

}



.req_txt3{

	width:185px;

}



.req_submit{

	margin:0;

	padding:0;

	width:90px;

	height:41px;

	border:none;

	cursor:pointer;

	float:right;

	background:url(img/submit-btn.jpg) no-repeat;

}

.req_submit_loader{

	margin:0;

	padding:0;

	width:90px;

	height:41px;

	border:none;

	cursor:pointer;

	float:right;
	
	border-radius:4px;

	background:url(img/loader2.gif) no-repeat center center #80c31b;
 
}



.pro_man_con{

	margin:55px 0 0;

	padding:10px 15px 30px;

	display:block;

	border:#fff solid 1px;

	background:url(img/faq-c-bg.png) no-repeat center top;

	background-size:100% 100%;
	height:500px;
	overflow:auto;

}



.pro_man_con span{

	display:block;

	text-align:center;

	font-size:30px;

	color:#fff;

	padding:15px 0 0;

	font-family: 'ScriptMtBold';

}



.pro_man_con p{

	font-family: 'ProximaNova-Reg';

	font-size:16px;

	color:#fff;

	line-height:25px;

}



/**************************** Footer Start *******************/



.footer{

	margin:0;

	padding:0;

	display:block;

}



.footer_outer{

	margin:0 auto;

	padding:0;

	width:100%;

	min-width:320px;

	max-width:1076px;

}



.foo_get_touch{

	margin:0;

	padding:0;

	display:block;

	min-height:505px;

	background:url(img/get-touch-bg.jpg) no-repeat center top;

	background-size:100% auto;

}



.get_touch_title{

	text-align:center;

	padding:42px 0 38px;

}

.about_list p {
    color: #FFFFFF;
}





.get_touch_con{

	display:block;

}



.get_touch_lt{

	float:left;

	width:440px;

}



.get_touch_btn{

	display:block;

	margin:0 auto;

}



.foo_social{

	margin:0;

	padding:35px 0;

	display:block;

}



.foo_social ul{

	margin:0;

	padding:0;

	display:block;

	text-align:center;

}



.foo_social li{

	margin:0 2px;

	padding:0;

	display:inline-block;

	list-style:none;

}



.get_touch_rt{

	float:right;

	width:380px;

}



.get_touch_rt img{

	display:inline-block;

	vertical-align:bottom;

	margin-right:18px;

}



.get_touch_rt ul{

	margin:0;

	padding:0;

	display:block;

}



.get_touch_rt li{

	margin:0;

	padding:20px 0;

	display:block;

	list-style:none;

	font-size:24px;

	color:#fff;

	/*text-shadow:2px 3px 1px #1C606E;*/

	font-family: 'ProximaNova-Bold';

}



.footer_d{

	margin:0;

	padding:30px 0 40px;

	display:block;

	background:#f8f8f8;

}



.footer_policy{

	float:left;

	color:#428c41;

	font-size:14px;

	font-family: 'ProximaNova-Reg';

}



.footer_policy a{

	color:#428c41;

	font-size:14px;

	text-decoration:none;

}



.footer_policy a:hover{

	text-decoration:underline;

}



.footer_copyright{

	float:right;

	color:#272e27;

	font-size:14px;

	font-family: 'ProximaNova-Reg';

}





/************************** Scroll Bar Css **************************/



.scroll_eco{margin:0; width:100%; height:340px; padding:0px; overflow:auto; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}



.faq_con{ height:460px; overflow:auto; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;

}

.pricing_pop{
	/*min-width:500px*/
	/*width:640px;
	height:500px;*/
}

.how_work_title img {
  height: auto;
  width: 94%;
}

#cboxTopLeft {
display: none;
}
#cboxTopCenter {
display: none;  
}
#cboxTopRight {
display: none;
}
#cboxMiddleLeft {
display: none;
}
#cboxMiddleRight {
display: none;
}
#cboxBottomLeft {
display: none;
}
#cboxBottomCenter {
display: none;
}
#cboxBottomRight {
display: none;
}
#cboxContent {
  background: url(img/h-w-bg.png) repeat-x center bottom #FFFFFF;
  overflow: hidden;
  padding: 10px;
}


/************************** Responsive Css ***************************/

@media only screen and (min-width:1002px) {
	
.navigation ul li:hover > a, .navigation ul li.active > a {

	background: #4bb3ad;

	color:#fff;

}



.navigation ul li:hover > a img.nav_icon, .navigation ul li.active > a img.nav_icon{

	display:none;

}



.navigation ul li:hover > a img.nav_icon_hover, .navigation ul li.active > a img.nav_icon_hover{

	display:inline-block;

}


}

@media only screen and (min-width:1003px) and (max-width:1080px) {



.service_lt {

  margin-left: 10px;

}



.service_rt{

	width:430px;

	margin-right:10px;

}



.faq_con{

	margin:0 10px;

}



.about_list{

	margin:0 10px;

}



.about_content {

  margin: 0 15px;

  width: 406px;

}



.req_txt1 {

  width: 275px;

}



.pro_man_con{

	margin:55px 10px 0;

}



.get_touch_lt{

	margin-left:10px;

}



.foo_get_touch{

	min-height:420px;

}



.footer_d{

	padding:30px 10px 40px;

}


}





@media only screen and (min-width:801px) and (max-width:1002px) {



.navigation ul li > a {

  width: 64px;

}



.navigation {
    width: 550px;
}



.clean_head_desc1 {

  font-size: 32px;

}



.clean_head_desc2 {

  font-size: 26px;

}





.how_work_con{

	margin:0 10px;

}



.service_con{

	padding:0 10px 40px;

}



.service_lt {

  width: 375px;

}



.service_lt img{

	width:100%;

	height:auto;

}



.service_rt {

  margin-top: 0;

  width: 381px;

}



.faq_con{

	margin:0 10px;

}



.about_con{

	padding:0 10px;

}



.about_list{

	width:180px;

}



.about_list img{

	width:100%;

	height:auto;

}



.about_content {

  margin: 0 13px;

  width: 340px;

}



.pro_man_d{

	padding:0 10px 30px;

}



.request_frm{

	margin:0 15px;

}



.req_txt1 {

  width: 212px;

}



.foo_get_touch{

	min-height:inherit;

}



.get_touch_title {

  padding: 42px 0 40px;

}



.get_touch_con{

	padding:0 10px;

}



.get_touch_rt {

  width: 290px;

}



.get_touch_lt {

  width: 350px;

}



.get_touch_btn{

	width:100%;

	height:auto;

}



.get_touch_rt li {

  font-size: 18px;

}



.footer_d{

	padding:30px 10px 40px;

}

.how_work_title img {
  height: auto;
  width: 94%;
}

.content p {
    font-size: 12px;
}

.navigation ul li:hover > a, .navigation ul li.active > a {

	background: #4bb3ad;

	color:#fff;

}

.g_start_btn {
    padding: 10px 65px;
}
#cboxContent {
  width: 96% !important;
}

}



@media only screen and (min-width:767px) and (max-width:800px) {

	

.navigation ul li > a {

  width: 60px;

}



.navigation {
    width: 530px;
}



.clean_head_desc1 {

  font-size: 32px;

}



.clean_head_desc2 {

  font-size: 26px;

}



.g_start_btn{

	padding:10px 55px;

}





.how_work_con{

	margin:0 10px;

}



.how_work_list li{

	margin:0 24px;

}



.service_con{

	padding:0 10px 40px;

}



.service_lt {

  width: 338px;

}



.service_lt img{

	width:100%;

	height:auto;

}



.service_rt {

  margin-top: 0;

  width: 381px;

}



.faq_con{

	margin:0 10px;

}



.about_con{

	padding:0 10px;

}



.about_list {

  width: 175px;

}


.about_list p {
	
  font-size: 13px;
  
}



.about_list img{

	width:100%;

	height:auto;

}



.about_content {
	
  margin: 0 10px;
  
  width: 315px;
  
}



.pro_man_d{

	padding:0 10px 30px;

}



.request_frm{

	margin:0 15px;

}



.req_txt1 {

  width: 212px;

}



.req_txt3 {

  width: 152px;

}



.pro_man_con{

	margin-top:15px;

}



.foo_get_touch{

	min-height:inherit;

}



.get_touch_title {

  padding: 42px 0 40px;

}



.get_touch_con{

	padding:0 10px;

}



.get_touch_rt {

  width: 290px;

}



.get_touch_lt {

  width: 350px;

}



.get_touch_btn{

	width:100%;

	height:auto;

}



.get_touch_rt li {

  font-size: 18px;

}



.footer_d{

	padding:30px 10px 40px;

}



.footer_copyright {

  font-size: 13px;

}

	
.how_work_title img {
  height: auto;
  width: 94%;
}

.navigation ul li:hover > a, .navigation ul li.active > a {

	background: #4bb3ad;

	color:#fff;

}
#colorbox {
  margin:0 0 0 20px !important;
  outline: 0 none;
  right: 0 !important;
}

}



@media only screen and (min-width:651px) and (max-width:766px) {



.navigation ul li > a {

  width: 48px;

}



.navigation {

  width: 485px;

}



.clean_head_desc1 {

  font-size: 26px;

}



.clean_head_desc2 {

  font-size: 22px;

}



.g_start_btn{

	padding:10px 20px;

}





.how_work_con{

	margin:0 10px;

}



.how_work_list li{

	margin:0 7px;

}



.service_con{

	padding:0 10px 40px;

}



.service_lt {

  width: 280px;

}



.service_lt img{

	width:100%;

	height:auto;

}



.service_rt {

  margin-top: 0;

  width: 325px;

}



.faq_con{

	margin:0 10px;

}



.about_con{

	padding:0 10px;

}



.about_list {

  width: 130px;

}



.about_list img{

	width:100%;

	height:auto;

}



.about_content {

  margin: 0 10px;

  width: 300px;

}



.pro_man_d{

	padding:0 10px 30px;

}



.pro_man_title {

  padding: 38px 0 30px;

}



.request_frm{

	margin:0 15px;

}



.req_txt1 {

  width: 170px;

}



.req_txt2 {

  width: 78px;

}



.req_txt3 {

  width: 152px;

}



.pro_man_con{

	margin-top:15px;

}



.foo_get_touch{

	min-height:inherit;

}



.get_touch_title {

  padding: 42px 0 40px;

}



.get_touch_con{

	padding:0 10px;

}



.get_touch_rt {

  width: 290px;

}



.get_touch_lt {

  width: 300px;

}



.foo_social {

  display: block;

  margin: 0;

  padding: 12px 0;

}



.get_touch_btn{

	width:100%;

	height:auto;

}



.get_touch_rt li {

  font-size: 18px;

  padding:15px 0;

}



.footer_d{

	padding:30px 10px 40px;

}



.footer_policy{

	padding-top:12px;

}



.footer_copyright {

  font-size: 14px;

  line-height: 21px;

  text-align: center;

  width: 421px;

}


.how_work_title img {
  height: auto;
  width: 94%;
}
.video_pop iframe {
  width: 80% !important;
}
#colorbox {
  left: 0 !important;
  margin: 0 auto;
  outline: 0 none;
  right: 0 !important;
  width: 500px !important;
}




}



@media only screen and (min-width:526px) and (max-width:650px) {
	
/*************iphone-menu*************************************************************************/
.menuImage {
	float: right;
	height: 15px;
	margin: 0;
	padding: 0;
	position: relative;
	right: 10px;
	top: 50px;
	width: 75px;
	z-index: 9;
}
.iphon_navigation {
	background: none repeat scroll 0 0 #fff;
	border-top: medium none;
	margin: 0;
	position: absolute;
	width: 100%;
	z-index: 9;
	top: 100%;
}
.iphon_navigation ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.iphon_navigation ul li {
	background: none repeat scroll 0 0 #4bb3ad;
	border-top: 1px solid #4bb3ad;
	display: block;
	list-style: none outside none;
	margin: 0;
	padding: 0;
	text-align: left;
	width: 100%;
	position: relative;
	text-transform: uppercase;
}
.iphon_navigation ul li:first-child {
	border-top: none;
}
.iphon_navigation ul img {
	display: block;
	float: left;
	height: 20px;
	margin-right: 5px;
	width: 15px;
}
.parentMenu > div.subItem {
	width: 50px;
	height: 24px;
	float: right;
	background: url(images/faq-arrowup.png) no-repeat center;
	cursor: pointer;
}
.parentMenuActive > div.subItem {
	width: 50px;
	height: 24px;
	position: absolute;
	right: 0;
	top: 0;
	background: url(images/faq-arrowdown.png) no-repeat center!important;
	cursor: pointer;
}
.parentMenu > div.subItem {
	background: url(images/faq-arrowup.png) no-repeat scroll center center transparent;
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 0;
	width: 50px;
	height: 24px;
}
.iphon_navigation ul li a {
	background: none repeat scroll 0 0 #4bb3ad;
	color: #FFFFFF;
	display: block;
	font-family: "Myriad Pro";
	font-size: 13px;
	line-height: 24px;
	letter-spacing: 1px;
	list-style: none outside none;
	margin: 0 0 1px;
	padding: 5px 10px;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
}
.iphon_navigation ul li a:hover {
	color: #fff;
	text-shadow: inherit;
	text-decoration: none;
	background: #008769;
}

.iphon_navigation ul li img{
	display:none;
}

.iphon_navigation ul li img.nav_icon{
	display:block;
}

.iphon_navigation ul li:hover img{
	display:none;
}

.iphon_navigation ul li:hover img.nav_icon_hover{
	display:block;
}

/********adrodown***********/
.iphon_navigation > ul ul {
	background-image: none !important;
	margin: 0;
	padding: 0;
	width: 100%;
}
.iphon_navigation ul ul li {
	background: none repeat scroll 0 0 #000;
	list-style: none outside none;
	margin: 0;
	padding: 0;
	text-align: left;
	width: 100%;
	border: none;
}
.iphon_navigation ul ul li a {
	background: none repeat scroll 0 0 #292929;
	color: #FFFFFF;
	display: block;
	font: 13px "Myriad Pro";
	letter-spacing: 1px;
	list-style: none outside none;
	margin: 0 0 1px;
	padding: 6px 10px;
	text-decoration: none;
	text-transform: uppercase;
}
.iphon_navigation ul li a:hover {
	color: #fff;
	text-shadow: inherit;
	text-decoration: none;
	background: #008769;
}
.iphon_navigation ul ul ul {
	margin: 0;
	padding: 0;
	text-align: left;
	width: 100%;
	list-style: none;
}
.iphon_navigation ul ul ul li a {
	background: none repeat scroll 0 0 #212121;
	color: #FFFFFF;
	display: block;
	font-size: 12px;
	list-style: none outside none;
	margin: 0 0 1px;
	padding: 7px 10px 7px 20px;
	text-decoration: none;
	text-transform: uppercase;
}
.iphon_navigation ul ul ul li a:hover {
	color: #fff;
	text-shadow: inherit;
	text-decoration: none;
}
.sub-menu.subMenu {
	background: none repeat scroll 0 0 #fff;
}
/*************iphone-menu-end***************/	

.head_d{
	position:relative;
}

.clean_header{
	min-height:inherit;
}

.clean_head_title {
  padding: 25px 2% 25px;
}

.clean_head_title img{
	width:100%;
	height:auto;
}

.clean_head_desc1{
	font-size:20px;
	line-height:30px;
	padding:0 2% 15px;
}

.clean_head_desc2{
	padding:0 2%;
	font-size:22px;
}

.clean_head_btn{
	padding:45px 2%;
}

.clean_head_btn {
  padding: 20px 2%;
}

.g_start_btn {
  display: block;
  margin: 0 0 12px;
  padding: 10px 10px;
  width: inherit;
  font-size:14px;
}

.head_promo{
	padding:0 2%;
	padding-bottom:15px;
}

.how_work{
	padding:0 2%;
}

.how_work_title {
  padding: 30px 0 15px;
}

.how_work_title img{
	width:auto;
	height:24px;	
}

.how_work_list li{
	display:block;
	float:none;
	margin: 0 28px;
    padding: 0 0 18px;
}

.how_work_list span {
  padding: 8px 0;
}

.service_d{
	padding:0 2%;
	background-size:auto 100%;
}

.service_title{
	padding:35px 0 20px;
}

.service_title img{
	width:auto;
	height:24px;	
}

.service_lt{
	width:inherit;
	float:none;
}

.service_lt img{
	width:100%;
	height:auto;
}

.service_rt{
	width:inherit;
	float:none;
}

.faq_d{
	padding:0 2%;
}

.faq_title img{
	width:auto;
	height:24px;
}

.faq_list p{
	margin:0;
}

.about_d{
	padding:0 2%;
}

.about_title img{
	width:auto;
	height:24px;
}

.about_list{
	width:inherit;
	float:none;
	padding:10px 0;
}

.about_list img{
	margin:0 auto;
	display:block;
}

.about_content {
  margin: 0;
  padding: 12px;
  width: inherit;
}

.pro_man_d{
	padding:0 2% 15px;
	background-size:auto 100%;
}

.pro_man_title {
  padding: 30px 0 20px;
}

.pro_man_title img{
	width:auto;
	height:18px;
}

.request_loc {
  font-size: 20px;
}

.pro_man_desc {
  font-size: 17px;
  line-height: 26px;
}

.request_frm{
	margin:0 15px;
}

.request_frm input[type="text"]{
	margin-bottom:5px;
}

.req_txt1, .req_txt2, .req_txt3 {
  width: 94%;
}

.foo_get_touch{
	padding:0 2%;
	min-height:inherit;
	background-size:auto 100%;
}

.get_touch_title {
  padding: 20px 0 15px;
}

.get_touch_title img{
	width:auto;
	height:24px;
}

.get_touch_lt{
	float:none;
	width:inherit;
}

.get_touch_lt img{
	width:100%;
	height:auto;
}

.foo_social {
  padding: 20px 0;
}

.get_touch_rt{
	float:none;
	width:inherit;
	padding-bottom:10px;
}

.get_touch_rt li{
	font-size:21px;
	padding:12px 0;
}

.footer_d{
	padding:20px 2%;
}

.footer_policy{
	float:none;
	padding-bottom:8px;
	text-align:center;
}

.footer_copyright{
	float:none;
	text-align:center;
	line-height:21px;
}

.how_work_title img {
  height: auto;
  width: 94%;
}

.content p {
    text-align: center;
}

.get_touch_rt ul {
    text-align: center;
}
.video_pop iframe {
  width:93% !important;
}
#colorbox {
  width: 322px !important;
}

#cboxContent {
  width: 92% !important; 
}
#cboxLoadedContent {
  width: 108% !important;
}
#cboxClose {
  right: 24px;
}
.pricing_pop {
  width: 298px;
}
}



@media only screen and (max-width:525px) {


/*************iphone-menu*************************************************************************/
.menuImage {
	float: right;
	height: 15px;
	margin: 0;
	padding: 0;
	position: relative;
	right: 10px;
	top: 50px;
	width: 75px;
	z-index: 9;
}
.iphon_navigation {
	background: none repeat scroll 0 0 #fff;
	border-top: medium none;
	margin: 0;
	position: absolute;
	width: 100%;
	z-index: 9;
	top: 100%;
}
.iphon_navigation ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.iphon_navigation ul li {
	background: none repeat scroll 0 0 #4bb3ad;
	border-top: 1px solid #4bb3ad;
	display: block;
	list-style: none outside none;
	margin: 0;
	padding: 0;
	text-align: left;
	width: 100%;
	position: relative;
	text-transform: uppercase;
}
.iphon_navigation ul li:first-child {
	border-top: none;
}
.iphon_navigation ul img {
	display: block;
	float: left;
	height: 20px;
	margin-right: 5px;
	width: 15px;
}
.parentMenu > div.subItem {
	width: 50px;
	height: 24px;
	float: right;
	background: url(images/faq-arrowup.png) no-repeat center;
	cursor: pointer;
}
.parentMenuActive > div.subItem {
	width: 50px;
	height: 24px;
	position: absolute;
	right: 0;
	top: 0;
	background: url(images/faq-arrowdown.png) no-repeat center!important;
	cursor: pointer;
}
.parentMenu > div.subItem {
	background: url(images/faq-arrowup.png) no-repeat scroll center center transparent;
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 0;
	width: 50px;
	height: 24px;
}
.iphon_navigation ul li a {
	background: none repeat scroll 0 0 #4bb3ad;
	color: #FFFFFF;
	display: block;
	font-family: "Myriad Pro";
	font-size: 13px;
	line-height: 24px;
	letter-spacing: 1px;
	list-style: none outside none;
	margin: 0 0 1px;
	padding: 5px 10px;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
}
.iphon_navigation ul li a:hover {
	color: #fff;
	text-shadow: inherit;
	text-decoration: none;
	background: #008769;
}

.iphon_navigation ul li img{
	display:none;
}

.iphon_navigation ul li img.nav_icon{
	display:block;
}

.iphon_navigation ul li:hover img{
	display:none;
}

.iphon_navigation ul li:hover img.nav_icon_hover{
	display:block;
}

/********adrodown***********/
.iphon_navigation > ul ul {
	background-image: none !important;
	margin: 0;
	padding: 0;
	width: 100%;
}
.iphon_navigation ul ul li {
	background: none repeat scroll 0 0 #000;
	list-style: none outside none;
	margin: 0;
	padding: 0;
	text-align: left;
	width: 100%;
	border: none;
}
.iphon_navigation ul ul li a {
	background: none repeat scroll 0 0 #292929;
	color: #FFFFFF;
	display: block;
	font: 13px "Myriad Pro";
	letter-spacing: 1px;
	list-style: none outside none;
	margin: 0 0 1px;
	padding: 6px 10px;
	text-decoration: none;
	text-transform: uppercase;
}
.iphon_navigation ul li a:hover {
	color: #fff;
	text-shadow: inherit;
	text-decoration: none;
	background: #008769;
}
.iphon_navigation ul ul ul {
	margin: 0;
	padding: 0;
	text-align: left;
	width: 100%;
	list-style: none;
}
.iphon_navigation ul ul ul li a {
	background: none repeat scroll 0 0 #212121;
	color: #FFFFFF;
	display: block;
	font-size: 12px;
	list-style: none outside none;
	margin: 0 0 1px;
	padding: 7px 10px 7px 20px;
	text-decoration: none;
	text-transform: uppercase;
}
.iphon_navigation ul ul ul li a:hover {
	color: #fff;
	text-shadow: inherit;
	text-decoration: none;
}
.sub-menu.subMenu {
	background: none repeat scroll 0 0 #fff;
}
/*************iphone-menu-end***************/	

.head_d{
	position:relative;
}

.clean_header{
	min-height:inherit;
}

.clean_head_title {
  padding: 25px 2% 25px;
}

.clean_head_title img{
	width:100%;
	height:auto;
}

.clean_head_desc1{
	font-size:20px;
	line-height:30px;
	padding:0 2% 15px;
}

.clean_head_desc2{
	padding:0 2%;
	font-size:22px;
}

.clean_head_btn{
	padding:45px 2%;
}

.clean_head_btn {
  padding: 20px 2%;
}

.g_start_btn {
  display: block;
  margin: 0 0 12px;
  padding: 10px 10px;
  width: inherit;
  font-size:14px;
}

.head_promo{
	padding:0 2%;
	padding-bottom:15px;
}

.how_work{
	padding:0 2%;
}

.how_work_title {
  padding: 30px 0 15px;
}

.how_work_title img{
	width:auto;
	height:24px;	
}

.how_work_list li{
	display:block;
	float:none;
	margin: 0 28px;
    padding: 0 0 18px;
}

.how_work_list span {
  padding: 8px 0;
}

.service_d{
	padding:0 2%;
	background-size:auto 100%;
}

.service_title{
	padding:35px 0 20px;
}

.service_title img{
	width:auto;
	height:24px;	
}

.service_lt{
	width:inherit;
	float:none;
}

.service_lt img{
	width:100%;
	height:auto;
}

.service_rt{
	width:inherit;
	float:none;
}

.faq_d{
	padding:0 2%;
}

.faq_title img{
	width:auto;
	height:24px;
}

.faq_list p{
	margin:0;
}

.about_d{
	padding:0 2%;
}

.about_title img{
	width:auto;
	height:24px;
}

.about_list{
	width:inherit;
	float:none;
	padding:10px 0;
}

.about_list img{
	margin:0 auto;
	display:block;
}

.about_content {
  margin: 0;
  padding: 12px;
  width: inherit;
}

.pro_man_d{
	padding:0 2% 15px;
	background-size:auto 100%;
}

.pro_man_title {
  padding: 30px 0 20px;
}

.pro_man_title img{
	width:auto;
	height:18px;
}

.request_loc {
  font-size: 20px;
}

.pro_man_desc {
  font-size: 17px;
  line-height: 26px;
}

.request_frm{
	margin:0 15px;
}

.request_frm input[type="text"]{
	margin-bottom:5px;
}

.req_txt1, .req_txt2, .req_txt3 {
  width: 90%;
}

.foo_get_touch{
	padding:0 2%;
	min-height:inherit;
	background-size:auto 100%;
}

.get_touch_title {
  padding: 20px 0 15px;
}

.get_touch_title img{
	width:auto;
	height:24px;
}

.get_touch_lt{
	float:none;
	width:inherit;
}

.get_touch_lt img{
	width:100%;
	height:auto;
}

.foo_social {
  padding: 20px 0;
}

.get_touch_rt{
	float:none;
	width:inherit;
	padding-bottom:10px;
}

.get_touch_rt li{
	font-size:20px;
	padding:12px 0;
}

.footer_d{
	padding:20px 2%;
}

.footer_policy{
	float:none;
	padding-bottom:8px;
	text-align:center;
}

.footer_copyright{
	float:none;
	text-align:center;
	line-height:21px;
}

.how_work_outer, .service_outer, .faq_outer, .about_outer, .pro_man_outer, .footer_outer{
	min-width:inherit;
}

.how_work_title img {
  height: auto;
  width: 94%;
}

.popup_pop{
	width:275px;
}

.pricing_pop{
	width:280px;
}

.video_pop{
	width:280px;
}

.video_pop iframe{
	width:100%;
	height:auto;
}

.content p {
    text-align: center;
}

.get_touch_rt ul {
    text-align: center;
}

#colorbox {
  width: 303px !important;
}



}

