/* Themify Styling */
h1 {
 	
	font-family:Cabin;	font-weight:bold;
	
	color: #ffffff;
	color: rgba(255,255,255,1.00); 
}

#headerwrap {
 	
	background-color: transparent; 
}

#header {
 	
	background-color: transparent;	
	font-family:Cabin; 
}

#site-logo img {
 	width: 330px;
	height: 223px; 
}

#site-logo a {
 	width: 330px; 
}

#site-description {
 	
	font-family:Arial, Helvetica, sans-serif;	font-weight:bold;
display: none; 
}

#main-nav {
 	width: auto;	height: auto;	
	padding-top: 10px;
	padding-bottom: 10px; 
}

#main-nav a {
 	
	font-family:Arial, Helvetica, sans-serif;	font-weight:bold;
	font-size:13px;
	line-height:12px;
	
	color: #2a80b9;
	color: rgba(42,128,185,1);	
	background-color: transparent;	
	padding: 5pxpx; 
}

#main-nav a:hover {
 	
	background-color: transparent;	
	color: #f79f35;
	color: rgba(247,159,53,1); 
}

#main-nav .current_page_item a,  #main-nav .current-menu-item a {
 	
	background-color: #2a80b9;
	background-color: rgba(42,128,185,1);	
	color: #ffffff;
	color: rgba(255,255,255,1.00); 
}

#main-nav .current_page_item a:hover,  #main-nav .current-menu-item a:hover {
 	
	background-color: #f79f35;
	background-color: rgba(247,159,53,1); 
}

#footerwrap {
 	
	background-image: url(img/pinstripe.png);
	background-repeat: repeat; 
}

#footer {
 	
	color: #e6e6e6;
	color: rgba(230,230,230,1);	
	font-family:Arial, Helvetica, sans-serif;	line-height:19px;
 
}

#footer a {
 	
	color: #e6e6e6;
	color: rgba(230,230,230,1); 
}

#footer a:hover {
 	
	color: #f79f34;
	color: rgba(247,159,52,1);	
	font-family:Arial, Helvetica, sans-serif; 
}

#footer .widgettitle {
 	
	color: #e6e6e6;
	color: rgba(230,230,230,1.00);	
	font-family:Arial, Helvetica, sans-serif;	font-weight:bold;
 
}

/* Themify Customize Custom CSS */
#footerwrap {
	  background-size: 50px 500px;
}
