/*
Theme Name: LockerGenie
Description: Custom theme for LockerGenie
Author: ZM
Template: flat
*/

/* @import url("../flat/style.css"); */

/* write custom css below */

/* GENERAL */

.anch {
	display:block;
	visibility:hidden;
	margin-top:-100px;
}

.hideme {
	display:none;
}

p {
	padding: .2em 0 1em !important;
	margin:0 !important;
}

a.shortcode.button {
	letter-spacing: 0 !important;
	padding: 10px 35px 10px !important;
	font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1em !important;
	margin: 0 0 1em !important;
}

.module-image {
	text-align:center;
}

.row_inner_wrapper {
	max-width:1024px;
	margin: 0 auto;
}

/* NAVIGATION */

#headerwrap{
	background-color: transparent;
}

#header{
	background-color: transparent;
}

nav{
	background-color: rgba(255,255,255,.9);
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #f0f0f0;
	border-top-color: rgba(240,240,240,1.00);
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: #f79f34;
	border-bottom-color: rgba(247,159,52,1);
	margin-top: 6px;
}

#site-logo {
padding: 0;
}

#main-nav {
padding: 0 0 20px 0;
width:1064px !important;
margin: 0 auto;
}

#main-nav {
	padding: 0 0 0 0 !important;
}

#main-nav a {
	padding: 10px 9px 9px 11px;
	font-size: 12px !important;
}
#main-nav ul {
	background-color: #fff;
	border: 1px solid #eee;
}

#main-nav ul:before {
	border-bottom: 8px solid #eee;
}

#main-nav ul a, #main-nav .current_page_item ul a, #main-nav ul .current_page_item a, #main-nav .current-menu-item ul a, #main-nav ul .current-menu-item a {
	color: #2980b9;
	font-size: .7em;
}


.social-widget {
	display:none;
}

#cloud-left {
	background: url(img/cloud-left.png) no-repeat left bottom;
	background-size: 463px 264px;
	width: 463px;
	height: 264px;
	position: absolute;
	z-index:-5;
}

#cloud-right {
	background: url(img/cloud-right.png) no-repeat left bottom;
	background-size: 463px 264px;
	width: 463px;
	height: 264px;
	position: absolute;
	right:0;
	z-index:-5;
}

.fixed-header #cloud-left {
	margin-top: -211px;
}

.fixed-header #cloud-right {
	margin-top: -211px;
}

#menu-item-2367, #menu-item-2368 {
	float:right;
}
#menu-item-2367 a, #menu-item-2368 a {
	background-color:#3fa3db !important;
	color:white !important;
	border-radius: 5px !important;
	margin: 0 0 0 25px !important;
}
#menu-item-2367 a:hover, #menu-item-2368 a:hover {
	background-color:#f79f34 !important;
}


/* FOOTER */

.social-links {
	text-align:right !important;
}

.social-links .icon-medium i {
font-size: 30px !important;
padding: 12px !important;
width: 30px !important;
height: 30px !important;
}

.back-top {
	margin-top:30px !important;
	float:right;
}

.back-top a {
	text-align:center !important;
}

.widget {
	margin-bottom: 0 !important;
}

/* ACCORDIAN */

.module-accordion li {
	border-width: 0px !important;
}

.accordion-title {
	color: white !important;
	background-color: #2980b9 !important;
	font-size: 14px !important;
	padding: 15px !important;
}
.accordion-title a {
	color:white !important;
}

.accordion-title a:before {
	content: "\f0a9";
	font-family: FontAwesome;
	padding-right:10px;
}

.accordion-content {
	box-shadow: none !important;
}

/* FORMS */

.wpcf7-text {
	font-size:14px !important;
	padding: 5px 10px !important;
	background-color: #ffffff !important;
}

.wpcf7-submit {
	background-color: #f79f34 !important;
	border-radius: 2px !important;
	padding: 5px 25px;
	font-weight:700;
	font-size:12px;
}

.wpcf7-response-output {
	border:none!important;
}

/* FOOTER */

#footerwrap {
	margin-top: -28px;
}

.mapp-layout {
width: 100% !important;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1100px) {
	.pagewidth {
		max-width: 100% !important;
	}
	.themify_builder_row {
		padding: 0 25px !important;
	}
}

@media screen and (max-width: 780px) {
			
	/************************************************************************************
	MOBILE NAV BUTTON
	*************************************************************************************/
	.mobile-button {
		padding: 10px 0 !important;
	}
	#cloud-left, #cloud-right {
		display:none;
	}
	.fixed-header, nav {
		background-color: #2980b9 !important;
	}
	#menu-icon i {
		padding-left:10px;
	}
	.mobile-button span {
		color: #ffffff !important;
	}
	.mobile-button {
		margin-left: 0 !important;
	}
	#main-nav {
		width:250px !important;
		margin: 10px 0 0 10px !important;
		left:0 !important;
		background: #2980b9 !important;
	}
	.fixed-header #main-nav {
		top:50px !important;
		text-align:left !important;
	}

	#menu-item-2367 a, #menu-item-2368 a {
	margin: 0 !important;
	}


	/* Footer */

	.back-top {
		text-align:center !important;
		float:none;
	}
	.social-links {
		text-align:center !important;
	}
	.footer-widgets {
		text-align:center !important;
	}

}


/* DL Styles */
h2 {
    font-size: 2.5em;
}

.btn {
    border: none;
    background: #f06544;
}

.btn:hover {
    background: #FF7F5E;
}

.btn.btn-info {
    background: #2A80B9;
}

.btn.btn-danger {
    background: #bd362f;
}

.btn.btn-danger:hover {
    /*background: #;*/
}


.btn.btn-success {
    background: #5bb75b;
}

.btn.btn-success:hover {
    background: #51a351;
}

a.btn {
    text-decoration: none;
}

.social-link-item.font-icon {
    width: auto;
    height: auto;
    line-height: 1;
    background-image: none;
}

.alert h2 {
    font-size: 1.5em;
}

select {
    height: 2em;
}

dl {
    margin-bottom: 1em;
}

#kiosk_cardNumber {
    text-indent: 6em !important;
}

#kiosk_cardNumber {
    width: 152px;
}
