body {
    background: #fff url(img/bg.png);
    padding-top: 7px;
    font-family: open sans,sans-serif;
    font-size: 14px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: enriqueta,serif;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 22px;
}

.top-ruler {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: transparent;
    border-top: 7px solid rgb(89, 206, 229);
    border-bottom: 0px solid rgb(89, 206, 229);
    height: 0;
}

#header-nav {
    font: normal normal normal 23px/1.4em enriqueta, serif;
}

#header-nav .navbar-inner {
    background: transparent;
    border: none;
    box-shadow: none;
}

#header-nav a {
    color: rgb(36, 36, 36);
}

.suckerfish li {
    position: relative;
}

.suckerfish li ul {
    display: none;
    position: absolute;
    bottom: 50%;
    left: 100%;
    
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 350px;
}

.suckerfish li:hover ul {
    display: block;
}

.suckerfish li li {
    margin-bottom: 10px;
}

.brand img {
    height: 100px;
}


#main-nav {
    margin-top: 80px;
}

#header {
    max-width: 1072px;
    margin: 10px auto 30px;
}

#footer {
    text-align: center;
    padding: 10px 0;
}

#footer .social a {
    margin-right: 10px;
}

#footer .social {
    margin-bottom: 10px;
}
