
<div style="margin: 100px; border: 1px solid black; width: 630px; overflow: auto; font-family: arial, sans-serif; font-size: 8pt;">
	<div style="background-color: rgb(127, 186, 0);">
		<div style="background-color: rgb(127, 186, 0);">
			<img height="62" src="https://admin.bizzie.com/images/logos/1364927609.jpg" width="166" /></div>
	</div>
	<div style="background-color: rgb(13, 92, 145);">
		&nbsp;</div>
	<div style="color: rgb(118, 118, 118); padding-top: 10px; padding-left: 5px; font-size: 24px;">
		Your Order is Ready</div>
	<div>
		<div style="width: 340px; color: rgb(118, 118, 118); padding-right: 10px; padding-left: 5px; float: left;">
			<p>
				Dear Arik,</p>
			<p>
				Your order at <strong>3011 W. Grand Blvd. 1st Floor Garage </strong>in <strong>118 </strong>has been delivered.</p>
			<p>
				   New Locker number: <strong> 118 </strong>. <br />    Access code: <strong>2391</strong>.</p>
			<p>
				<table width="100%" border="0" cellpadding="2" cellspacing="1">
<thead>
<tr style="background-color:#6699cc; color: white;">
<th>Item</th><th>Price</th><th>Qty</th><th>Total</th></tr>
</thead>
<tbody>
<tr style="background-color:#eaeaea; color: black;">
<td></td><td></td><td>Subtotal</td><td style='text-align: right'>$0.00</td></tr>
<tr style="background-color:#eaeaea; color: black;">
<td></td><td></td><td>Tax</td><td style='text-align: right'>$0.00</td></tr>
<tr style="background-color:#eaeaea; color: black;">
<td></td><td></td><td>Total</td><td style='text-align: right'>$0.00</td></tr>
</tbody>
</table></p>
			<p>
				Thank you for using bizzie powered by Huntington Cleaners.&nbsp; Please feel free to contact us if you have any questions.</p>
			<p>
				Lockers are limited at this location and we would appreciate if you could pickup your order so that other customers can use the locker. Orders left in a locker for more than 3 business days may be removed and brought back to our office.</p>
			<p>
				The bizzie powered by Huntington Cleaners Team</p>
		</div>
		<div style="width: 273px; text-align: right; color: rgb(255, 255, 255); font-weight: bold; margin-top: 10px; margin-bottom: 15px; float: left;">
			<div style="margin-right: 2px; background-color: rgb(127, 186, 0);">
				<div style="padding: 1px; height: 200px; margin-right: 10px; margin-left: 10px;">
					<p>
						Did You Know:</p>
					<p>
						One of the best fabrics to wear on a hot summer day is linen. It\'s a soft, natural fiber, but the best part is the weave--it\'s extremely breathable, whereas tightly-woven fabrics like cotton don\'t wick away moisture well or allow for easy air flow.
 
Actually, any clothing made from a loosely-woven, natural fiber, even lightweight wool, will perform well under extreme temperatures.</p>
				</div>
			</div>
			<div style="height: 1px; background-color: rgb(255, 255, 255);">
				&nbsp;</div>
			<div style="margin-top: 2px; margin-right: 2px; background-color: rgb(13, 92, 145);">
				<div style="padding: 1px; height: 200px; margin-right: 10px; margin-left: 10px;">
					<p>
						If you have any questions about your account or your orders, please feel free to contact us at</p>
					<p>
						(248) 414-3760</p>
					<p>
						or</p>
					<p>
						customerservice1251@bizzie.com</p>
				</div>
			</div>
		</div>
	</div>
	<div style="text-align: right;">
		&copy; bizzie powered by Huntington Cleaners 2013</div>
</div>
<p>
	&nbsp;</p>
