.hb-custom-header > div, .mk-header-bg {
    background-color: #fff;
}
#mk-footer {
    background-color: #3d4045;
}

@media screen and (min-width: 600px) {
  #main-content {
    margin-top: 10em
  }
}