#mk-sidebar .widget {border-style: solid;}#mk-sidebar .widget::after {content: "";display: block;width: 100%;border-bottom-style: solid;border-bottom-width: 0px;border-bottom-color: #d5d8de;}#mk-sidebar div.widgettitle {margin-bottom: 0px;padding-bottom: 15px;line-height: 1.66em;}.woocommerce-page .mk-product-loop.compact-layout .out-of-stock {}1.woocommerce-page .mk-product-loop.compact-layout .onsale {}.woocommerce-page .mk-product-loop.compact-layout .price > .amount,.woocommerce-page .mk-product-loop.compact-layout .price del .amount,.woocommerce-page .mk-product-loop.compact-layout .price > .mk-price-variation-seprator,.woocommerce-page .mk-product-loop.compact-layout .price del .mk-price-variation-seprator {display: inline-block;vertical-align: top;text-decoration:inherit;}.woocommerce-page .mk-product-loop.compact-layout .price,.woocommerce-page .mk-product-loop.compact-layout .price del .amount {}.woocommerce-page .mk-product-loop.compact-layout .product_loop_button svg {
	display: inline-block;
}.woocommerce-page .mk-product-loop.compact-layout .product_loop_button {background-color: rgba(0, 0, 0, 0.8);}.woocommerce-page .mk-product-loop.compact-layout .product_loop_button:hover {background-color: rgba(0, 0, 0, 0.8);}.woocommerce-page .mk-product-loop.compact-layout .price ins .amount,.woocommerce-page .mk-product-loop.compact-layout .price ins .mk-price-variation-seprator {display: inline-block;vertical-align: top;text-decoration:inherit;}.woocommerce-page .mk-product-loop.compact-layout .price ins,.woocommerce-page .mk-product-loop.compact-layout .price ins .amount {}.woocommerce-page .mk-product-loop.compact-layout .price ins,.woocommerce-page .mk-product-loop.compact-layout .price ins .amount {
		font-family: inherit;
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		color: #252525;
	}.woocommerce-page .mk-product-loop.compact-layout .mk-product-holder {}

.mk-single-content p{
    
    
    font-weight:400; 
    
}
.mk-single-content h1 {
    
}
.mk-single-content h2 {
    
}
.mk-single-content h3 {
    
}
.mk-single-content h4 {
    
}
.mk-single-content h5 {
    
}
.mk-single-content h6 {
    
}





.mk-blog-single .blog-single-title, 
.mk-blog-hero .content-holder .the-title{
    
    
    font-weight:600 !important; 
    
}



#mk-footer .footer-wrapper{padding:30px 0}

#mk-footer [class*='mk-col-'] {
	padding:0 2%;
}

#sub-footer
{
	background-color: #43474d;
}

.mk-footer-copyright {
	font-size:12px;
	letter-spacing: 1px;
}

#mk-footer .widget
{
	margin-bottom:40px;
}

#mk-footer,
#mk-footer p
{
		font-size: 14px;
		color: #808080;
		font-weight: 400;
}



#mk-footer .widgettitle
{
		text-transform: uppercase;
		font-size: 14px;
		color: #fff;
		font-weight: bolder;
}



#mk-footer .widgettitle a
{
		color: #fff;
}



#mk-footer .widget:not(.widget_social_networks) a
{
		color: #cccccc;

}

#mk-footer .widget:not(.widget_social_networks) a:hover
{
	color: #445aa2;
}

.mk-footer-copyright, #mk-footer-navigation li a
{
	color: #ffffff;
}



.mk-fullscreen-nav{
	background-color:#444;
}

.mk-fullscreen-nav-logo {
	margin-bottom: 125px;
}

.fullscreen-navigation-ul .menu-item a{
	color: #fff;
	text-transform: uppercase;
	font-size: 25px;
	letter-spacing: 0;
	font-weight: 900;
	padding: 25px 0;
}
.fullscreen-navigation-ul .menu-item a:hover{
	background-color: #fff;
	color: #444;
}



body
{
	font-size: 14px;
	color: #777777;
	font-weight: 400;
	line-height: 1.66em;
}

p {
	font-size: 16px; 
	color: #777777;
	line-height: 1.66em;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.3em;
}

a {
	color: #2e2e2e;
}

a:hover {
	color: #f97352;
}

.master-holder strong {
	color: #f97352;
}

.master-holder h1
{
	font-size: 36px;
	color: #404040;
	font-weight: 600;
	text-transform: uppercase;
}

.master-holder h2
{
	font-size: 30px;
	color: #404040;
	font-weight: 600;
	text-transform: uppercase;
}


.master-holder h3
{
	font-size: 24px;
	color: #404040;
	font-weight: 600;
	text-transform: uppercase;
}

.master-holder h4
{
	font-size: 18px;
	color: #404040;
	font-weight: 600;
	text-transform: uppercase;
}


.master-holder h5
{
	font-size: 16px;
	color: #404040;
	font-weight: 600;
	text-transform: uppercase;
}


.master-holder h6
{
	font-size: 14px;
	color: #404040;
	font-weight: 600;
	text-transform: uppercase;
}


.mk-section-preloader {
	background-color:#fff !important;
}



@media handheld, only screen and (max-width: 1140px) {

	.mk-header-bg {
		
	}
	.responsive-searchform .text-input
	{
	    
		
	}

	.responsive-searchform span i
	{
		
	}

	.responsive-searchform i svg
	{
		
	}

	.responsive-searchform .text-input::-webkit-input-placeholder
	{
		
	}

	.responsive-searchform .text-input:-ms-input-placeholder
	{
		
	}

	.responsive-searchform .text-input:-moz-placeholder
	{
		
	}

	.mk-header-toolbar
	{
		
	}	

	.mk-toolbar-navigation a,
	.mk-toolbar-navigation a:hover,
	.mk-language-nav > a,
	.mk-header-login .mk-login-link,
	.mk-subscribe-link,
	.mk-checkout-btn,
	.mk-header-tagline a,
	.header-toolbar-contact a,
	.mk-language-nav > a:hover,
	.mk-header-login .mk-login-link:hover,
	.mk-subscribe-link:hover,
	.mk-checkout-btn:hover,
	.mk-header-tagline a:hover
	{
		
	}



	.mk-header-tagline,
	.header-toolbar-contact,
	.mk-header-date
	{
		
	}


	.mk-header-toolbar .mk-header-social svg {
		
	}


}



.mk-header-toolbar
{
	background-color: #ffffff;
}	

.mk-toolbar-navigation a,
.mk-toolbar-navigation a:hover,
.mk-language-nav > a,
.mk-header-login .mk-login-link,
.mk-subscribe-link,
.mk-checkout-btn,
.mk-header-tagline a,
.header-toolbar-contact a,
.mk-language-nav > a:hover,
.mk-header-login .mk-login-link:hover,
.mk-subscribe-link:hover,
.mk-checkout-btn:hover,
.mk-header-tagline a:hover
{
	color:#445aa2;
}



.mk-header-tagline,
.header-toolbar-contact,
.mk-header-date
{
	color:#999999;
}


.mk-header-toolbar .mk-header-social svg {
	fill:#445aa2;
}



.add-header-height,
.header-style-1 .mk-header-inner .mk-header-search,
.header-style-1 .menu-hover-style-1 .main-navigation-ul > li > a,
.header-style-1 .menu-hover-style-2 .main-navigation-ul > li > a,
.header-style-1 .menu-hover-style-4 .main-navigation-ul > li > a,
.header-style-1 .menu-hover-style-5 .main-navigation-ul > li,
.header-style-1 .menu-hover-style-3 .main-navigation-ul > li,
.header-style-1 .menu-hover-style-5 .main-navigation-ul > li

{
	height: 75px;
	line-height:75px;
}


.header-style-1.a-sticky .menu-hover-style-1 .main-navigation-ul > li > a,
.header-style-3.a-sticky .menu-hover-style-1 .main-navigation-ul > li > a,
.header-style-1.a-sticky .menu-hover-style-5 .main-navigation-ul > li,
.header-style-1.a-sticky .menu-hover-style-2 .main-navigation-ul > li > a,
.header-style-3.a-sticky .menu-hover-style-2 .main-navigation-ul > li > a,
.header-style-1.a-sticky .menu-hover-style-4 .main-navigation-ul > li > a,
.header-style-3.a-sticky .menu-hover-style-4 .main-navigation-ul > li > a,
.header-style-1.a-sticky .menu-hover-style-3 .main-navigation-ul > li,
.header-style-2.a-sticky .menu-hover-style-2 .main-navigation-ul > li,
.header-style-2.a-sticky .menu-hover-style-3 .main-navigation-ul > li,
.header-style-2.a-sticky .menu-hover-style-5 .main-navigation-ul > li,
.header-style-2.a-sticky .menu-hover-style-1 .main-navigation-ul > li > a,
.header-style-2.a-sticky .menu-hover-style-4 .main-navigation-ul > li > a,
.header-style-2.a-sticky .mk-search-trigger,
.header-style-2.a-sticky .mk-shoping-cart-link,
.header-style-3.a-sticky .mk-header-holder .mk-header-search,
.a-sticky:not(.header-style-4) .add-header-height
{
	height:70px !important;
	line-height:70px !important;

}




.mk-header-bg
{
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
}

.a-sticky .mk-header-bg
{
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
}

.header-style-4 .header-logo {
	margin:10px 0;
}


.header-style-2 .mk-header-inner
{
	line-height:75px;
}

.mk-header-nav-container
{
	
}


.mk-header-start-tour
{
	font-size: 14px;
	color: #333;
}


.mk-header-start-tour:hover
{
	color: #333;
}

.mk-search-trigger,
.mk-header .mk-header-cart-count
{
	color: #444444;
}

.mk-toolbar-resposnive-icon svg,
.mk-header .mk-shoping-cart-link svg{
	fill: #444444;
}

.mk-css-icon-close div,
.mk-css-icon-menu div {
	background-color: #444444;
}


.mk-header-searchform .text-input
{
    
	color: #c7c7c7;
}

.mk-header-searchform span i
{
	color: #c7c7c7;
}

.mk-header-searchform .text-input::-webkit-input-placeholder
{
	color: #c7c7c7;
}

.mk-header-searchform .text-input:-ms-input-placeholder
{
	color: #c7c7c7;
}

.mk-header-searchform .text-input:-moz-placeholder
{
	color: #c7c7c7;
}

.mk-header-social.header-section a.small {
	margin-top: 20.5px;
}
.mk-header-social.header-section a.medium {
	margin-top: 12.5px;
}
.mk-header-social.header-section a.large {
	margin-top: 4.5px;
}

.a-sticky .mk-header-social.header-section a.small,
.a-sticky .mk-header-social.header-section a.medium,
.a-sticky .mk-header-social.header-section a.large {
	margin-top: 18px;
	line-height: 16px !important;
	height: 16px !important;
	width: 16px !important;
	padding: 8px !important;
}
.a-sticky .mk-header-social.header-section a.small svg,
.a-sticky .mk-header-social.header-section a.medium svg,
.a-sticky .mk-header-social.header-section a.large svg {
	line-height: 16px !important;
	height: 16px !important;
}

.header-section.mk-header-social svg
{
	fill: #ffffff;
}
.header-section.mk-header-social a:hover svg
{
	fill: #ffffff;
}

.header-style-4
{
	text-align : left
}


		.mk-header-inner,
		.a-sticky .mk-header-inner,
		.header-style-2.a-sticky .mk-classic-nav-bg
		{
			border-bottom:1px solid #ffffff;
		}

		.header-style-4.header-align-left .mk-header-inner,
		.header-style-4.header-align-center .mk-header-inner
		{
			border-bottom:none;
			border-right:1px solid #ffffff;
		}

		.header-style-4.header-align-right .mk-header-inner {
			border-bottom:none;
			border-left:1px solid #ffffff;
		}

		.header-style-2 .mk-header-nav-container {
			border-top:1px solid #ffffff;
		}
	
		.a-sticky .mk-header-inner,
		.header-style-2.a-sticky .mk-classic-nav-bg
		{
			border-bottom:1px solid rgba(17,17,17,0.5);
		}
	
        .mk-vm-menuwrapper li > a
        {
            padding-right: 45px;
        }
    
    .header-style-4 .mk-header-right
    {
        text-align: left !important;
    }

	@media handheld, only screen and (max-width: 1740px) and (min-width: 1140px){
		.dashboard-opened .header-style-3.sticky-style-fixed .mk-dashboard-trigger {
			transform: translateX(-300px) translateZ(0);
			transition: all 300ms ease-in-out !important;
		}
	}

	.compose-mode #mk-theme-container.trans-header .theme-content > .vc_element:nth-child(2) .vc_controls-out-tl {
		padding-top: 75px;
	}


.mk-grid
{
	max-width: 1140px;
}

.mk-header-nav-container, .mk-classic-menu-wrapper
{
	width: 1140px;
}


.theme-page-wrapper #mk-sidebar.mk-builtin
{
	width: 27%;
}

.theme-page-wrapper.right-layout .theme-content,
.theme-page-wrapper.left-layout .theme-content
{
	width: 73%;
}


.mk-boxed-enabled #mk-boxed-layout,
.mk-boxed-enabled #mk-boxed-layout .header-style-1 .mk-header-holder,
.mk-boxed-enabled #mk-boxed-layout .header-style-3 .mk-header-holder
{
	max-width: 1200px;

}

.mk-boxed-enabled #mk-boxed-layout .header-style-2.a-sticky .mk-header-nav-container {
	width: 1200px !important;
	left:auto !important;	
}




.main-navigation-ul > li.menu-item > a.menu-item-link
{
	color: #444444;
	font-size: 13px;
	font-weight: 600;
	padding-right:20px !important;
	padding-left:20px !important;
	text-transform:uppercase;
	letter-spacing:0px;
}


.mk-vm-menuwrapper ul li a {
	color: #444444;
	font-size: 13px;
	font-weight: 600;
	text-transform:uppercase;
}
.mk-vm-menuwrapper li > a:after,
.mk-vm-menuwrapper li.mk-vm-back:after {
	color: #444444;
}

.mk-vm-menuwrapper .mk-svg-icon{
	fill: #444444;
}

.main-navigation-ul > li.no-mega-menu ul.sub-menu li.menu-item a.menu-item-link 
{
	width:230px;
}


.menu-hover-style-1 .main-navigation-ul > li.menu-item > a.menu-item-link:hover,
.menu-hover-style-1 .main-navigation-ul > li.menu-item:hover > a.menu-item-link,
.menu-hover-style-1 .main-navigation-ul > li.current-menu-item > a.menu-item-link,
.menu-hover-style-1 .main-navigation-ul > li.current-menu-ancestor > a.menu-item-link,
.menu-hover-style-2 .main-navigation-ul > li.menu-item > a.menu-item-link:hover,
.menu-hover-style-2 .main-navigation-ul > li.menu-item:hover > a.menu-item-link,
.menu-hover-style-2 .main-navigation-ul > li.current-menu-item > a.menu-item-link,
.menu-hover-style-2 .main-navigation-ul > li.current-menu-ancestor > a.menu-item-link,
.menu-hover-style-1.mk-vm-menuwrapper li.menu-item > a:hover,
.menu-hover-style-1.mk-vm-menuwrapper li.menu-item:hover > a,
.menu-hover-style-1.mk-vm-menuwrapper li.current-menu-item > a,
.menu-hover-style-1.mk-vm-menuwrapper li.current-menu-ancestor > a,
.menu-hover-style-2.mk-vm-menuwrapper li.menu-item > a:hover,
.menu-hover-style-2.mk-vm-menuwrapper li.menu-item:hover > a,
.menu-hover-style-2.mk-vm-menuwrapper li.current-menu-item > a,
.menu-hover-style-2.mk-vm-menuwrapper li.current-menu-ancestor > a
{

	color: #445aa2 !important;
}


.menu-hover-style-3 .main-navigation-ul > li.menu-item > a.menu-item-link:hover,
.menu-hover-style-3 .main-navigation-ul > li.menu-item:hover > a.menu-item-link,
.menu-hover-style-3.mk-vm-menuwrapper li > a:hover,
.menu-hover-style-3.mk-vm-menuwrapper li:hover > a,
.menu-hover-style-3 .main-navigation-ul > li.menu-item:hover > a.menu-item-link
{
	border:2px solid #445aa2;
}

.menu-hover-style-3 .main-navigation-ul > li.current-menu-item > a.menu-item-link,
.menu-hover-style-3 .main-navigation-ul > li.current-menu-ancestor > a.menu-item-link,
.menu-hover-style-3.mk-vm-menuwrapper li.current-menu-item > a,
.menu-hover-style-3.mk-vm-menuwrapper li.current-menu-ancestor > a{

	border:2px solid #445aa2;
	background-color:#445aa2;
	color:#fff;

}

.menu-hover-style-3.mk-vm-menuwrapper li.current-menu-ancestor > a:after {
	color:#fff;
}

.menu-hover-style-4 .main-navigation-ul li.menu-item > a.menu-item-link:hover,
.menu-hover-style-4 .main-navigation-ul li.menu-item:hover > a.menu-item-link,
.menu-hover-style-4 .main-navigation-ul li.current-menu-item > a.menu-item-link,
.menu-hover-style-4 .main-navigation-ul li.current-menu-ancestor > a.menu-item-link,
.menu-hover-style-4.mk-vm-menuwrapper li a:hover,
.menu-hover-style-4.mk-vm-menuwrapper li:hover > a,
.menu-hover-style-4.mk-vm-menuwrapper li.current-menu-item > a,
.menu-hover-style-4.mk-vm-menuwrapper li.current-menu-ancestor > a,
.menu-hover-style-5 .main-navigation-ul > li.menu-item > a.menu-item-link:after
{
	background-color: #445aa2;
	color:#fff;
}

.menu-hover-style-4.mk-vm-menuwrapper li.current-menu-ancestor > a:after,
.menu-hover-style-4.mk-vm-menuwrapper li.current-menu-item > a:after,
.menu-hover-style-4.mk-vm-menuwrapper li:hover > a:after,
.menu-hover-style-4.mk-vm-menuwrapper li a:hover::after 
{
	color:#fff;
}

.menu-hover-style-1 .main-navigation-ul > li.dropdownOpen > a.menu-item-link,
.menu-hover-style-1 .main-navigation-ul > li.active > a.menu-item-link,
.menu-hover-style-1 .main-navigation-ul > li.open > a.menu-item-link,
.menu-hover-style-1 .main-navigation-ul > li.menu-item > a:hover,
.menu-hover-style-1 .main-navigation-ul > li.current-menu-item > a.menu-item-link,
.menu-hover-style-1 .main-navigation-ul > li.current-menu-ancestor > a.menu-item-link 
{
	border-top-color:#445aa2;
}

.menu-hover-style-1.mk-vm-menuwrapper li > a:hover,
.menu-hover-style-1.mk-vm-menuwrapper li.current-menu-item > a,
.menu-hover-style-1.mk-vm-menuwrapper li.current-menu-ancestor > a
{
	border-left-color:#445aa2;
}


.header-style-1 .menu-hover-style-3 .main-navigation-ul > li > a.menu-item-link {
	line-height:37.5px;
}

.header-style-1.a-sticky .menu-hover-style-3 .main-navigation-ul > li > a.menu-item-link {
	line-height:46.666666666667px;
}

.header-style-1 .menu-hover-style-5 .main-navigation-ul > li > a.menu-item-link {
	line-height:20px;
	vertical-align:middle;
}

.mk-main-navigation li.no-mega-menu ul.sub-menu,
.mk-main-navigation li.has-mega-menu > ul.sub-menu,
.mk-shopping-cart-box
{
	background-color: #333333;
}

.mk-main-navigation ul.sub-menu a.menu-item-link,
.mk-main-navigation ul .megamenu-title,
.megamenu-widgets-container a,
.mk-shopping-cart-box .product_list_widget li a,
.mk-shopping-cart-box .product_list_widget li.empty,
.mk-shopping-cart-box .product_list_widget li span,
.mk-shopping-cart-box .widget_shopping_cart .total,
.mk-shopping-cart-box .woocommerce-mini-cart__empty-message
{
	color: #b3b3b3;
}
.mk-main-navigation ul.sub-menu .menu-sub-level-arrow svg {
	fill: #b3b3b3;
}
.mk-main-navigation ul.sub-menu li:hover .menu-sub-level-arrow svg {
	fill: #ffffff;
}

.mk-shopping-cart-box .button {
	border-color:#b3b3b3;
	color:#b3b3b3;
}

.mk-main-navigation ul .megamenu-title
{
	color: #ffffff;
}
.mk-main-navigation ul .megamenu-title:after
{
	background-color: #ffffff;
}

.megamenu-widgets-container {
	color: #b3b3b3;
}

.megamenu-widgets-container .widgettitle
{
		text-transform: uppercase;
		font-size: 14px;
		font-weight: bolder;
}

.mk-main-navigation ul.sub-menu li.menu-item ul.sub-menu li.menu-item a.menu-item-link svg
{
	color: #e0e0e0;
}

.mk-main-navigation ul.sub-menu a.menu-item-link:hover,
.main-navigation-ul ul.sub-menu li.current-menu-item > a.menu-item-link,
.main-navigation-ul ul.sub-menu li.current-menu-parent > a.menu-item-link
{
	color: #ffffff !important;
}



.megamenu-widgets-container a:hover {
	color: #ffffff;	
}

.main-navigation-ul ul.sub-menu li.menu-item a.menu-item-link:hover,
.main-navigation-ul ul.sub-menu li.menu-item:hover > a.menu-item-link,
.main-navigation-ul ul.sub-menu li.menu-item a.menu-item-link:hover,
.main-navigation-ul ul.sub-menu li.menu-item:hover > a.menu-item-link,
.main-navigation-ul ul.sub-menu li.current-menu-item > a.menu-item-link,
.main-navigation-ul ul.sub-menu li.current-menu-parent > a.menu-item-link
{
	background-color:transparent !important;
}

.mk-search-trigger:hover,
.mk-header-start-tour:hover
{
	color: #445aa2;
}
.mk-search-trigger:hover .mk-svg-icon,
.mk-header-start-tour:hover .mk-svg-icon
{
	fill: #445aa2;
}

.main-navigation-ul li.menu-item ul.sub-menu li.menu-item a.menu-item-link
{
	font-size: 12px;
	font-weight: 400;
	text-transform:uppercase;
	letter-spacing: 1px;
}
.has-mega-menu .megamenu-title {
	letter-spacing: 1px;
}

.mk-responsive-wrap
{
	background-color:#fff;
}
	

		.main-navigation-ul > li.no-mega-menu > ul.sub-menu:after,
		.main-navigation-ul > li.has-mega-menu > ul.sub-menu:after
		{
		  background-color:#445aa2;
		}
		.mk-shopping-cart-box {
			border-top:2px solid #445aa2;
		}
	


@media handheld, only screen and (max-width: 1140px){

	.mk-grid,
	.mk-header-nav-container,
	.mk-classic-menu-wrapper {
		width: auto;
	}

	.mk-padding-wrapper {
		padding: 0 20px;
	}
	.header-grid.mk-grid .header-logo.left-logo
	{
		left: 15px !important;
	}
	.header-grid.mk-grid .header-logo.right-logo, .mk-header-right {
		right: 15px !important;
	}

	.mk-photo-album {
	    margin-left: 0 !important;
	    margin-right: 0 !important;
	    width: 100% !important;
	 }
	 .mk-edge-slider .mk-grid {
	    padding: 0 20px;
	  }
}



@media handheld, only screen and (max-width: 960px){

	.theme-page-wrapper .theme-content
	{
		width: 100% !important;
		float: none !important;
	}


	.theme-page-wrapper:not(.full-width-layout)
	{
		padding-right:15px !important;
		padding-left: 15px !important;
	}


	.theme-page-wrapper:not(.full-width-layout) .theme-content:not(.no-padding)
	{
		padding:25px 0 !important;
	}


	.theme-page-wrapper #mk-sidebar
	{
		width: 100% !important;
		float: none !important;
		padding: 0 !important;

	}


	.theme-page-wrapper #mk-sidebar .sidebar-wrapper
	{
		padding:20px 0 !important;
	}

}

@media handheld, only screen and (max-width: 1140px){

	/* Logo should get responsive state when the whole navigation does */
	.logo-is-responsive .mk-desktop-logo,
	.logo-is-responsive .mk-sticky-logo {
		display: none !important;
	}
	.logo-is-responsive .mk-resposnive-logo {
		display: block !important;
	}

	.add-header-height,
	.header-style-1 .mk-header-inner,
	.header-style-3 .mk-header-inner,
	.header-style-3 .header-logo,
	.header-style-1 .header-logo,
	.header-style-1 .shopping-cart-header,
	.header-style-3 .shopping-cart-header{
		height: 75px!important;
		line-height: 75px;
	}

	.mk-header:not(.header-style-4) .mk-header-holder {
		position:relative !important;
		top:0 !important;
	}

	.mk-header-padding-wrapper {
		display:none !important;
	}

	.mk-header-nav-container
	{
		width: auto !important;
		display:none !important;
	}

	.header-style-1 .mk-header-right,
	.header-style-2 .mk-header-right,
	.header-style-3 .mk-header-right {
		right:55px !important;
	}

	.header-style-1 .mk-header-inner .mk-header-search,
	.header-style-2 .mk-header-inner .mk-header-search,
	.header-style-3 .mk-header-inner .mk-header-search
	{
		display:none !important;
	}

	.mk-fullscreen-search-overlay {
		display:none;
	}

	.mk-header-search
	{
		padding-bottom: 10px !important;
	}

	.mk-header-searchform span .text-input
	{
		width: 100% !important;
	}

	.header-style-2 .header-logo .center-logo
	{
	    text-align: right !important;
	}

	.header-style-2 .header-logo .center-logo a
	{
	    margin: 0 !important;
	}

	.header-logo,
	.header-style-4 .header-logo
	{
	    height: 90px !important;
	}

	.header-style-4 .shopping-cart-header {
		display:none;
	}

	.mk-header-inner
	{
		padding-top:0 !important;
	}

	.header-style-1 .header-logo,
	.header-style-2 .header-logo,
	.header-style-4 .header-logo
	{
		position:relative !important;
		right:auto !important;
		left:auto !important;
	}


	.shopping-cart-header
	{
		margin:0 20px 0 0 !important;
	}


	.mk-responsive-nav li ul li .megamenu-title:hover,
	.mk-responsive-nav li ul li .megamenu-title,
	.mk-responsive-nav li a, .mk-responsive-nav li ul li a:hover,
	.mk-responsive-nav .mk-nav-arrow
	{
  			color:#444444 !important;
	}

	.mk-mega-icon
	{
		display:none !important;
	}

	.mk-header-bg
	{
		zoom:1 !important;
		filter:alpha(opacity=100) !important;
		opacity:1 !important;
	}

	.header-style-1 .mk-nav-responsive-link,
	.header-style-2 .mk-nav-responsive-link,
	.logo-in-middle .header-logo
	{
		display:block !important;
	}

	.mk-header-nav-container
	{
		height:100%;
		z-index:200;
	}

	.mk-main-navigation
	{
		position:relative;
		z-index:2;
	}



	.header-style-4 .mk-header-inner {
		width: auto !important;
		position: relative !important;
		overflow: visible;
		padding-bottom: 0;
	}

	.admin-bar .header-style-4 .mk-header-inner {
		top:0 !important;
	}

	.header-style-4 .mk-header-right {
		display: none;
	}

	.header-style-4 .mk-nav-responsive-link {
		display: block !important;
	}

	.header-style-4 .mk-vm-menuwrapper,
	.header-style-4 .mk-header-search {
		display: none;
	}

	.header-style-4 .header-logo {
		width:auto !important;
		display: inline-block !important;
		text-align:left !important;
		margin:0 !important;
	}

	.vertical-header-enabled .header-style-4 .header-logo img {
			max-width: 100% !important;
			left: 20px!important;
			top:50%!important;
			-webkit-transform: translate(0, -50%)!important;
			-moz-transform: translate(0, -50%)!important;
			-ms-transform: translate(0, -50%)!important;
			-o-transform: translate(0, -50%)!important;
			transform: translate(0, -50%)!important;
			position:relative !important;
	}

	.header-style-1 .mk-dashboard-trigger,
	.header-style-2 .mk-dashboard-trigger {
		display:none;
	}

	.header-style-4 .mk-header-bg {
		height: 100% !important;
	}

}


@media handheld, only screen and (min-width: 1141px) {

	  .trans-header .sticky-style-slide .mk-header-holder {
	    position: absolute;
	  }
	  .trans-header .bg-true:not(.a-sticky) .mk-header-bg {
	    opacity: 0;
	  }
	  .trans-header .bg-true.mk-header:not(.a-sticky) .mk-header-inner {
	    border: 0;
	  }
	  .trans-header .bg-true.light-skin:not(.a-sticky) .mk-desktop-logo.light-logo {
	    display: block !important;
	  }
	  .trans-header .bg-true.light-skin:not(.a-sticky) .mk-desktop-logo.dark-logo {
	    display: none !important;
	  }
	  .trans-header .bg-true.light-skin:not(.a-sticky) .main-navigation-ul > li.menu-item > a.menu-item-link,
	  .trans-header .bg-true.light-skin:not(.a-sticky) .mk-search-trigger,
	  .trans-header .bg-true.light-skin:not(.a-sticky) .mk-header-cart-count,
	  .trans-header .bg-true.light-skin:not(.a-sticky) .mk-header-start-tour,
	  .trans-header .bg-true.light-skin:not(.a-sticky) .menu-hover-style-1 .main-navigation-ul > li.menu-item > a.menu-item-link:hover,
	  .trans-header .bg-true.light-skin:not(.a-sticky) .menu-hover-style-1 .main-navigation-ul > li.menu-item:hover > a.menu-item-link,
	  .trans-header .bg-true.light-skin:not(.a-sticky) .menu-hover-style-1 .main-navigation-ul > li.current-menu-item > a.menu-item-link,
	  .trans-header .bg-true.light-skin:not(.a-sticky) .menu-hover-style-1 .main-navigation-ul > li.current-menu-ancestor > a.menu-item-link,
	  .trans-header .bg-true.light-skin:not(.a-sticky) .menu-hover-style-2 .main-navigation-ul > li.menu-item > a.menu-item-link:hover,
	  .trans-header .bg-true.light-skin:not(.a-sticky) .menu-hover-style-2 .main-navigation-ul > li.menu-item:hover > a.menu-item-link,
	  .trans-header .bg-true.light-skin:not(.a-sticky) .menu-hover-style-2 .main-navigation-ul > li.current-menu-item > a.menu-item-link,
	  .trans-header .bg-true.light-skin:not(.a-sticky) .mk-vm-menuwrapper li a,
	  .trans-header .bg-true.light-skin:not(.a-sticky) .mk-vm-menuwrapper li > a:after,
	  .trans-header .bg-true.light-skin:not(.a-sticky) .mk-vm-menuwrapper li.mk-vm-back:after {
	    color: #fff !important;
	  }
	  .trans-header .bg-true.light-skin:not(.a-sticky) .mk-header-social.header-section a svg,
	  .trans-header .bg-true.light-skin:not(.a-sticky) .main-navigation-ul li.menu-item a.menu-item-link .mk-svg-icon,
	  .trans-header .bg-true.light-skin:not(.a-sticky) .mk-search-trigger .mk-svg-icon,
	  .trans-header .bg-true.light-skin:not(.a-sticky) .mk-shoping-cart-link .mk-svg-icon {
	  	fill: #fff !important;
	  }
	  .trans-header .bg-true.light-skin:not(.a-sticky) .mk-css-icon-menu div {
	    background-color: #fff !important;
	  }
	  .trans-header .bg-true.light-skin:not(.a-sticky) .menu-hover-style-1 .main-navigation-ul > li.dropdownOpen > a.menu-item-link,
	  .trans-header .bg-true.light-skin:not(.a-sticky) .menu-hover-style-1 .main-navigation-ul > li.active > a.menu-item-link,
	  .trans-header .bg-true.light-skin:not(.a-sticky) .menu-hover-style-1 .main-navigation-ul > li.open > a.menu-item-link,
	  .trans-header .bg-true.light-skin:not(.a-sticky) .menu-hover-style-1 .main-navigation-ul > li.menu-item > a:hover,
	  .trans-header .bg-true.light-skin:not(.a-sticky) .menu-hover-style-1 .main-navigation-ul > li.current-menu-item > a.menu-item-link,
	  .trans-header .bg-true.light-skin:not(.a-sticky) .menu-hover-style-1 .main-navigation-ul > li.current-menu-ancestor > a.menu-item-link {
	    border-top-color: #fff;
	  }
	  .trans-header .bg-true.light-skin:not(.a-sticky) .menu-hover-style-3 .main-navigation-ul > li.current-menu-item > a.menu-item-link,
	  .trans-header .bg-true.light-skin:not(.a-sticky) .menu-hover-style-3 .main-navigation-ul > li.current-menu-ancestor > a.menu-item-link,
	  .trans-header .bg-true.light-skin:not(.a-sticky) .menu-hover-style-3.mk-vm-menuwrapper li.current-menu-item > a,
	  .trans-header .bg-true.light-skin:not(.a-sticky) .menu-hover-style-3.mk-vm-menuwrapper li.current-menu-ancestor > a {
	    border: 2px solid #fff;
	    background-color: #fff;
	    color: #222 !important;
	  }
	  .trans-header .bg-true.light-skin:not(.a-sticky) .menu-hover-style-3 .main-navigation-ul > li.menu-item > a.menu-item-link:hover,
	  .trans-header .bg-true.light-skin:not(.a-sticky) .menu-hover-style-3 .main-navigation-ul > li.menu-item:hover > a.menu-item-link,
	  .trans-header .bg-true.light-skin:not(.a-sticky) .menu-hover-style-3.mk-vm-menuwrapper li > a:hover,
	  .trans-header .bg-true.light-skin:not(.a-sticky) .menu-hover-style-3.mk-vm-menuwrapper li:hover > a {
	    border: 2px solid #fff;
	  }
	  .trans-header .bg-true.light-skin:not(.a-sticky) .menu-hover-style-4 .main-navigation-ul li.menu-item > a.menu-item-link:hover,
	  .trans-header .bg-true.light-skin:not(.a-sticky) .menu-hover-style-4 .main-navigation-ul li.menu-item:hover > a.menu-item-link,
	  .trans-header .bg-true.light-skin:not(.a-sticky) .menu-hover-style-4 .main-navigation-ul li.current-menu-item > a.menu-item-link,
	  .trans-header .bg-true.light-skin:not(.a-sticky) .menu-hover-style-5 .main-navigation-ul > li.menu-item > a.menu-item-link:after {
	    background-color: #fff;
	    color: #222 !important;
	  }


	  .trans-header .bg-true.dark-skin:not(.a-sticky) .mk-desktop-logo.dark-logo {
	    display: block !important;
	  }
	  .trans-header .bg-true.dark-skin:not(.a-sticky) .mk-desktop-logo.light-logo {
	    display: none !important;
	  }
	  .trans-header .bg-true.dark-skin:not(.a-sticky) .main-navigation-ul > li.menu-item > a.menu-item-link,
	  .trans-header .bg-true.dark-skin:not(.a-sticky) .mk-search-trigger,
	  .trans-header .bg-true.dark-skin:not(.a-sticky) .mk-header-cart-count,
	  .trans-header .bg-true.dark-skin:not(.a-sticky) .mk-header-start-tour,
	  .trans-header .bg-true.dark-skin:not(.a-sticky) .menu-hover-style-1 .main-navigation-ul li.menu-item > a.menu-item-link:hover,
	  .trans-header .bg-true.dark-skin:not(.a-sticky) .menu-hover-style-1 .main-navigation-ul li.menu-item:hover > a.menu-item-link,
	  .trans-header .bg-true.dark-skin:not(.a-sticky) .menu-hover-style-1 .main-navigation-ul li.current-menu-item > a.menu-item-link,
	  .trans-header .bg-true.dark-skin:not(.a-sticky) .menu-hover-style-1 .main-navigation-ul li.current-menu-ancestor > a.menu-item-link,
	  .trans-header .bg-true.dark-skin:not(.a-sticky) .menu-hover-style-2 .main-navigation-ul li.menu-item > a.menu-item-link:hover,
	  .trans-header .bg-true.dark-skin:not(.a-sticky) .menu-hover-style-2 .main-navigation-ul li.menu-item:hover > a.menu-item-link,
	  .trans-header .bg-true.dark-skin:not(.a-sticky) .menu-hover-style-2 .main-navigation-ul li.current-menu-item > a.menu-item-link,
	  .trans-header .bg-true.dark-skin:not(.a-sticky) .menu-hover-style-2 .main-navigation-ul li.current-menu-ancestor > a.menu-item-link,
	  .trans-header .bg-true.dark-skin:not(.a-sticky) .mk-vm-menuwrapper li a,
	  .trans-header .bg-true.dark-skin:not(.a-sticky) .mk-vm-menuwrapper li > a:after,
	  .trans-header .bg-true.dark-skin:not(.a-sticky) .mk-vm-menuwrapper li.mk-vm-back:after {
	    color: #222 !important;
	  }
	  .trans-header .bg-true.dark-skin:not(.a-sticky) .mk-header-social.header-section a svg,
	  .trans-header .bg-true.dark-skin:not(.a-sticky) .main-navigation-ul li.menu-item a.menu-item-link .mk-svg-icon,
	  .trans-header .bg-true.dark-skin:not(.a-sticky) .mk-search-trigger .mk-svg-icon,
	  .trans-header .bg-true.dark-skin:not(.a-sticky) .mk-shoping-cart-link .mk-svg-icon {
	  	fill: #222 !important;
	  }
	  .trans-header .bg-true.dark-skin:not(.a-sticky) .menu-hover-style-1 .main-navigation-ul > li.dropdownOpen > a.menu-item-link,
	  .trans-header .bg-true.dark-skin:not(.a-sticky) .menu-hover-style-1 .main-navigation-ul > li.active > a.menu-item-link,
	  .trans-header .bg-true.dark-skin:not(.a-sticky) .menu-hover-style-1 .main-navigation-ul > li.open > a.menu-item-link,
	  .trans-header .bg-true.dark-skin:not(.a-sticky) .menu-hover-style-1 .main-navigation-ul > li.menu-item > a:hover,
	  .trans-header .bg-true.dark-skin:not(.a-sticky) .menu-hover-style-1 .main-navigation-ul > li.current-menu-item > a.menu-item-link,
	  .trans-header .bg-true.dark-skin:not(.a-sticky) .menu-hover-style-1 .main-navigation-ul > li.current-menu-ancestor > a.menu-item-link {
	    border-top-color: #222;
	  }
	  .trans-header .bg-true.dark-skin:not(.a-sticky) .mk-css-icon-menu div {
	    background-color: #222 !important;
	  }
	  .trans-header .bg-true.dark-skin:not(.a-sticky) .menu-hover-style-3 .main-navigation-ul > li.current-menu-item > a.menu-item-link,
	  .trans-header .bg-true.dark-skin:not(.a-sticky) .menu-hover-style-3 .main-navigation-ul > li.current-menu-ancestor > a.menu-item-link,
	  .trans-header .bg-true.dark-skin:not(.a-sticky) .menu-hover-style-3.mk-vm-menuwrapper li.current-menu-item > a,
	  .trans-header .bg-true.dark-skin:not(.a-sticky) .menu-hover-style-3.mk-vm-menuwrapper li.current-menu-ancestor > a {
	    border: 2px solid #222;
	    background-color: #222;
	    color: #fff !important;
	  }
	  .trans-header .bg-true.dark-skin:not(.a-sticky) .menu-hover-style-3 .main-navigation-ul > li.menu-item > a.menu-item-link:hover,
	  .trans-header .bg-true.dark-skin:not(.a-sticky) .menu-hover-style-3 .main-navigation-ul > li.menu-item:hover > a.menu-item-link,
	  .trans-header .bg-true.dark-skin:not(.a-sticky) .menu-hover-style-3.mk-vm-menuwrapper li > a:hover,
	  .trans-header .bg-true.dark-skin:not(.a-sticky) .menu-hover-style-3.mk-vm-menuwrapper li:hover > a {
	    border: 2px solid #222;
	  }
	  .trans-header .bg-true.dark-skin:not(.a-sticky) .menu-hover-style-4 .main-navigation-ul li.menu-item > a.menu-item-link:hover,
	  .trans-header .bg-true.dark-skin:not(.a-sticky) .menu-hover-style-4 .main-navigation-ul li.menu-item:hover > a.menu-item-link,
	  .trans-header .bg-true.dark-skin:not(.a-sticky) .menu-hover-style-4 .main-navigation-ul li.current-menu-item > a.menu-item-link,
	  .trans-header .bg-true.dark-skin:not(.a-sticky) .menu-hover-style-4 .main-navigation-ul li.current-menu-ancestor > a.menu-item-link,
	  .trans-header .bg-true.dark-skin:not(.a-sticky) .menu-hover-style-5 .main-navigation-ul > li.menu-item a.menu-item-link:after {
	    background-color: #222;
	    color: #fff !important;
	  }

	/* Vertical header left
	 * ---------------------------------------- */
	.vertical-header-left .trans-header #theme-page > .mk-main-wrapper-holder,
	.vertical-header-left .trans-header .theme-content > .wpb_row.mk-fullwidth-true,
	.vertical-header-left .trans-header .theme-content > .mk-page-section-wrapper > .mk-page-section:not(.half_boxed):not(.half_fluid),
	.vertical-header-left .trans-header #mk-footer {
		padding-left: 270px;
	}

	.vertical-header-left #mk-theme-container:not(.trans-header) {
		padding-left: 270px;
	}

	.vertical-header-left:not(.mk-boxed-enabled) #mk-theme-container:not(.trans-header) .theme-page-wrapper:not(.full-width-layout) .theme-content > .wpb_row.mk-fullwidth-true,
	.vertical-header-left:not(.mk-boxed-enabled) #mk-theme-container:not(.trans-header) .theme-page-wrapper:not(.full-width-layout) .theme-content > .mk-page-section-wrapper > .mk-page-section:not(.half_boxed):not(.half_fluid) {
		padding-left: 270px;
	}

	.vertical-header-left:not(.mk-boxed-enabled) #mk-theme-container.trans-header .header-style-4.a-sticky ~ .master-holder .theme-page-wrapper:not(.full-width-layout) .theme-content > .mk-page-section-wrapper > div[class*='half_'],
	.vertical-header-left:not(.mk-boxed-enabled) #mk-theme-container:not(.trans-header) .theme-page-wrapper:not(.full-width-layout) .theme-content > .mk-page-section-wrapper > div[class*='half_'] {
		margin-left: 270px;
	}

	/* Full width layout. */
	.vertical-header-left #mk-theme-container.trans-header .full-width-layout .theme-content > .mk-fullwidth-true,
	.vertical-header-left #mk-theme-container.trans-header .full-width-layout .theme-content > .mk-page-section-wrapper {
		margin-left: -285px;
	}

	.vertical-header-left #mk-theme-container.trans-header .full-width-layout .theme-content > .mk-page-section-wrapper > div[class*='half_'] {
		margin-left: 270px;
	}

	/* Vertical header right
	 * ---------------------------------------- */
	.vertical-header-right .trans-header #theme-page > .mk-main-wrapper-holder,
	.vertical-header-right .trans-header .theme-content > .wpb_row.mk-fullwidth-true,
	.vertical-header-right .trans-header .theme-content > .mk-page-section-wrapper > .mk-page-section:not(.half_boxed):not(.half_fluid),
	.vertical-header-right .trans-header #mk-footer {
		padding-right: 270px;
	}

	.vertical-header-right #mk-theme-container:not(.trans-header) {
		padding-right: 270px;
	}

	.vertical-header-right:not(.mk-boxed-enabled) #mk-theme-container:not(.trans-header) .theme-page-wrapper:not(.full-width-layout) .theme-content > .wpb_row.mk-fullwidth-true,
	.vertical-header-right:not(.mk-boxed-enabled) #mk-theme-container:not(.trans-header) .theme-page-wrapper:not(.full-width-layout) .theme-content > .mk-page-section-wrapper > .mk-page-section:not(.half_boxed):not(.half_fluid) {
		padding-right: 270px !important;
	}

	.vertical-header-right:not(.mk-boxed-enabled) #mk-theme-container.trans-header .header-style-4.a-sticky ~ .master-holder .theme-page-wrapper:not(.full-width-layout) .theme-content > .mk-page-section-wrapper > div[class*='half_'],
	.vertical-header-right:not(.mk-boxed-enabled) #mk-theme-container:not(.trans-header) .theme-page-wrapper:not(.full-width-layout) .theme-content > .mk-page-section-wrapper > div[class*='half_'] {
		margin-right: 270px;
	}

	/* Full width layout. */
	.vertical-header-right #mk-theme-container.trans-header .full-width-layout .theme-content > .mk-fullwidth-true,
	.vertical-header-right #mk-theme-container.trans-header .full-width-layout .theme-content > .mk-page-section-wrapper {
		margin-right: -285px;
	}

	.vertical-header-right #mk-theme-container.trans-header .full-width-layout .theme-content > .mk-page-section-wrapper > div[class*='half_'] {
		margin-right: 270px;
	}

}


	@media handheld, only screen and (max-width:1140px) {
		.mk-go-top,
		.mk-quick-contact-wrapper {
			right: 22px;
			
		}

		.mk-go-top.is-active {
			right: 22px;
			bottom: 72px;
		}

		.mk-quick-contact-wrapper.is-active {
		    right: 22px;
		}
	}


.mk-side-dashboard {
	background-color: #444;
}

.mk-side-dashboard,
.mk-side-dashboard p
{
		font-size: 12px;
		color: #eee;
		font-weight: 400;
}



.mk-side-dashboard .widgettitle
{
		text-transform: uppercase;
		font-size: 14px;
		color: #fff;
		font-weight: bolder;
}



.mk-side-dashboard .widgettitle a
{
		color: #fff;
}



.mk-side-dashboard .widget a
{
		color: #fafafa;

}

.sidedash-navigation-ul li a {
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase
}

.sidedash-navigation-ul .sub-menu li a {
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase
}

.sidedash-navigation-ul li a,
.sidedash-navigation-ul li .mk-nav-arrow {
	color:#fff;
}

.sidedash-navigation-ul li a:hover {
	color:#fff;
	background-color:;
}

.mk-side-dashboard .widget:not(.widget_social_networks) a:hover
{
	color: #445aa2;
}



#mk-sidebar, #mk-sidebar p
{
		font-size: 14px;
		color: #999999;
		font-weight: 400;
}



#mk-sidebar .widgettitle
{
		text-transform: uppercase;
		font-size: 14px;
		color: #333333;
		font-weight: bolder;
}


#mk-sidebar .widgettitle a
{
		color: #333333;
}



#mk-sidebar .widget a
{
		color: #999999;
}

#mk-sidebar .widget:not(.widget_social_networks) a:hover 
{
	color: #445aa2;
}




.mk-testimonial-author,
.modern-style .mk-testimonial-company,
#wp-calendar td#today,
.news-full-without-image .news-categories span,
.news-half-without-image .news-categories span,
.news-fourth-without-image .news-categories span,
.mk-read-more,
.news-single-social li a,
.portfolio-carousel-cats,
.blog-showcase-more,
.simple-style .mk-employee-item:hover .team-member-position,
.mk-portfolio-classic-item .portfolio-categories a,
.register-login-links a:hover,
.not-found-subtitle,
.mk-mini-callout a,
.search-loop-meta a,
.mk-tooltip a:hover,
.new-tab-readmore,
.mk-news-tab .mk-tabs-tabs li.is-active a,
.mk-woo-tabs .mk-tabs-tabs li.ui-state-active a,
.monocolor.pricing-table .pricing-price span,
.quantity .plus:hover,	
.quantity .minus:hover,
.blog-modern-comment:hover,
.blog-modern-share:hover
{
	color: #445aa2;
}

.mk-tabs .mk-tabs-tabs li.is-active a > i,
.mk-accordion .mk-accordion-single.current .mk-accordion-tab:before,
.widget_testimonials .testimonial-slider .testimonial-author,
#mk-filter-portfolio li a:hover,
#mk-language-navigation ul li a:hover,
#mk-language-navigation ul li.current-menu-item > a,
.mk-quick-contact-wrapper h4,
.divider-go-top:hover i,
.widget-sub-navigation ul li a:hover,
#mk-footer .widget_posts_lists ul li .post-list-meta time,
.mk-footer-tweets .tweet-username,
.product-category .item-holder:hover h4
{
	color: #445aa2 !important;
}

.accent-bg-color,
.image-hover-overlay,
.newspaper-portfolio,
.similar-posts-wrapper .post-thumbnail:hover > .overlay-pattern,
.portfolio-logo-section,
.post-list-document .post-type-thumb:hover,
#cboxTitle,
#cboxPrevious,
#cboxNext,
#cboxClose,
.comment-form-button,
.mk-dropcaps.fancy-style,
.mk-image-overlay,
.pinterest-item-overlay,
.news-full-with-image .news-categories span,
.news-half-with-image .news-categories span,
.news-fourth-with-image .news-categories span,
.widget-portfolio-overlay,
.portfolio-carousel-overlay,
.blog-carousel-overlay,
.mk-blog-classic-item .blog-loop-comments span,
.mk-similiar-overlay,
.mk-skin-button,
.mk-flex-caption .flex-desc span,
.mk-icon-box .mk-icon-wrapper i:hover,
.mk-quick-contact-link:hover,
.quick-contact-active.mk-quick-contact-link,
.mk-fancy-table th,
.ui-slider-handle,
.widget_price_filter .ui-slider-range,
#review_form_wrapper input[type=submit],
#mk-nav-search-wrapper form .nav-side-search-icon:hover,
form.ajax-search-complete i,
.blog-modern-btn,
.showcase-blog-overlay,
.gform_button[type=submit],
.single_add_to_cart_button,
.button.checkout-button,
.woocommerce #payment #place_order,
#respond #submit,
.widget_price_filter .price_slider_amount .button,
.widget_shopping_cart .button.checkout
{
	background-color: #445aa2 !important;
}
.a_accent-bg-hover:hover {
	background-color: #445aa2;	
}

  ::-webkit-selection
{
    background-color: #445aa2;
    color:#fff;
}

::-moz-selection
{
    background-color: #445aa2;
    color:#fff;
}

::selection
{
    background-color: #445aa2;
    color:#fff;
}

.mk-circle-image .item-holder
{
	-webkit-box-shadow:0 0 0 1px #445aa2;
	-moz-box-shadow:0 0 0 1px #445aa2;
	box-shadow:0 0 0 1px #445aa2;
}



.mk-blockquote.line-style,
.bypostauthor > .mk-single-comment .comment-content,
.bypostauthor > .mk-single-comment .comment-content:after,
.mk-tabs.simple-style .mk-tabs-tabs li.is-active a
{
	border-color: #445aa2 !important;
}



.news-full-with-image .news-categories span,
.news-half-with-image .news-categories span,
.news-fourth-with-image .news-categories span,
.mk-flex-caption .flex-desc span
{
	box-shadow: 8px 0 0 #445aa2, -8px 0 0 #445aa2;
}



.monocolor.pricing-table .pricing-cols .pricing-col.featured-plan
{
	border:1px solid #445aa2 !important;
}




.mk-skin-button.three-dimension
{
	box-shadow: 0px 3px 0px 0px #364882;
}


.mk-skin-button.three-dimension:active
{
	box-shadow: 0px 1px 0px 0px #364882;
}



    body { font-family: Arial, Helvetica, sans-serif } 


.product-loading-icon
{
	background-color:rgba(68,90,162,0.6);
}

.mk-woocommerce-carousel .the-title,
.mk-woocommerce-carousel .product-title {
	font-size: 16px !important;
	text-transform: initial;
}

.single-product .entry-summary .price .amount{
	color: #445aa2;
}
.single-product .entry-summary .star-rating span:before {
	color: #404040 !important;	
}

.wc-tabs li.active a {
	border-color: #445aa2;
}

#review_form_wrapper .comment-reply-title
{
	font-size: 30px;
	color: #404040;
	font-weight: 600;
	text-transform: uppercase;
}

	@media handheld, only screen and (max-width:1140px) {
		.add-cart-responsive-state {
			display: block;
		}
	}

	#woocommerce-product-search-field {
		box-sizing: border-box;
		width: 65%;
	}
	.woocommerce-product-search input[type="submit"] {
		width: 33%;
		padding-left: 0 !important;
		padding-right: 0 !important;
		text-align: center;
	}
	@media handheld, only screen and (max-width: 960px) {
		#woocommerce-product-search-field {
			width: 74%;
		}
		.woocommerce-product-search input[type="submit"] {
			width: 24%;
		}
	}
