#bootstrap2x {
     position:relative;
}

#header-outer {
    background-color: #D8E0EE;
}

#footer-outer {
    position: relative;
}

#wpcw_social-2 ul li {
    float: left;
}

@media screen and (min-width: 768px) {
    #bootstrap2x {
        top: 8em;
    }
}
