/*
Theme Name: Attitude
Theme URI: http://themehorse.com/themes/attitude
Author: Theme Horse
Author URI: http://themehorse.com
Description: Attitude is a Simple, Clean and Responsive Retina Ready WordPress Theme which adapts automatically to your tablets and mobile devices. Along with the elegant design the theme is easily customizable with numerous theme options. Some of the highlighted options are two site layout (Narrow and Wide), 5 layouts for every post/page, 5 Page Templates, 5 widget areas, 4 custom widgets, featured slider to highlight your post/page, 11 social icons, webmaster tools, custom background, custom Header, custom menu, custom favicon, custom CSS, custom webclip icon, custom logo and many more. Also supports some of the popular plugins like Breadcrumb NavXT, WP-PageNavi and Contact Form 7. It is also translation ready. Get free support on http://themehorse.com/support-forum/
Version: 1.1.8
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: white, light, blue, one-column, two-columns, three-columns, left-sidebar, right-sidebar, flexible-width, custom-menu, custom-background, custom-header, featured-images, full-width-template, theme-options, threaded-comments, translation-ready, sticky-post
Text Domain: attitude
*/

/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
html {
 -webkit-text-size-adjust: none;
}
.lnkMobile {
display: none;
}
:focus {/* remember to define focus styles! */
	outline: 0;
}
ol, ul {
	list-style: none;
	margin: 0;
}
table {/* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	font-weight: normal;
	text-align: left;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
a img {
	border: 0;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
.home header {
	height: 759px;
}
embed, iframe, object {
	max-width: 100%;
}

/* =Global
----------------------------------------------- */
body, input, textarea {
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.825em;
	color: #000;
}
body {
	background: url("/images/youngsdrycleaning/body-bg.png") #ececec;
}
body.page-id-172 {
	background-image: url("/images/youngsdrycleaning/sub_back1.gif")!important;
}
body.page-id-122 {
	background-image: url("/images/youngsdrycleaning/sub_back2.gif")!important;
}
body.page-id-66, body.page-id-124, body.page-id-155 {
	background-image: url("/images/youngsdrycleaning/sub_back4.gif")!important;
}

body.attachment {
	background-image: url("/images/youngsdrycleaning/sub_back5.gif")!important;
}
body.page-id-73 p {
	margin: 0 !important;
}
body.page-id-73 h5 {
	margin-top: 22px !important;
}
#formBuilderCSSIDYoung039s_Express {
width: 524px;
float:right;}
span.txtFreeDelivery {
	line-height: 17px;
display: block;
margin-top: 4px;
margin-bottom: 12px;
}
#formBuilderCSSIDYoungs_Signup_Form_Zip {
float: right;
width: 550px;
}

#formBuilderCSSIDYoungs_Signup_Form {
float: right;
width: 550px;
}
#formBuilderCSSIDSubmit_Your_Claim_Now {
float: right;
width: 550px;
}
#formBuilderCSSIDSubmit_Your_Claim_Now .formBuilderForm .formBuilderLabel, #formBuilderCSSIDSubmit_Your_Claim_Now .formBuilderForm .formBuilderLabelRequired {
clear: left;
float: left;
vertical-align: top;
width: 200px;
margin-right: 10px;
margin-bottom: 10px;
}
.formBuilderForm div.formBuilderComment {
	font-style: normal !important;
}
#fieldformBuilderFieldContact_Phone {
	margin-left: 13px;
}
#formBuilderFieldSpecial_Instructions {
	padding-top: 4px;
	margin-left: 32px;
	width: 100%;
}
.formBuilderError {
	position: relative;
	left: 170px;
	margin-top: 10px !important;
}
#formBuilderComment .formBuilderError {
	left: 0;
}
#formBuilderFieldContact_Phone .formBuilderLabel {
	display: none;
}
.formBuilderForm .formBuilderLabelRequired {
	font-weight: bold;
	color: #789d84;
}
.formBuilderForm .formBuilderLabel, .formBuilderForm .formBuilderLabelRequired {
	clear: left;
	float: left;
	vertical-align: top;
	width: 160px;
	margin-right: 10px;
	margin-bottom: 10px;
	font-weight: bold;
	text-align: right;
}
.small_text_area textarea {
	width: 230px !important;
	height: 62px;
}
#formBuilderCSSIDYoungs_Signup_Form .formBuilderForm div.formBuilderComment .comment {
margin: 0 60px 15px 165px;
clear: both;
font-style: normal;
float: right;
width: 300px;
line-height: 1.4em;
}
#formBuilderCSSIDYoungs_Signup_Form  div.formBuilderComment {
	width: auto;
}
#formBuilderCSSIDYoungs_Signup_Form div.formBuilderComment .label {
width: 156px;
display: inline;
float: left;
text-align: right;
font-weight: bold;
margin: -8px 5px 0 0;
}
.formBuilderSubmit {
	clear: both !important;
	margin-left: 168px !important;
	text-align: left !important;
}
#formBuilderCSSIDSubmit_Your_Claim_Now .formBuilderSubmit {
clear: both !important;
margin-left: 207px !important;
text-align: left !important;
}
#formBuilderCSSIDSubmit_Your_Claim_Now  .formBuilderFailure {
	margin-left: 15px;
}
.formBuilderError {
	color: #f00;
}
#formBuilderCSSIDSubmit_Your_Claim_Now  .formBuilderError {
	margin-left: 40px;
}
#formBuilderCSSIDYoungs_Signup_Form_Zip .formBuilderSubmit {
	margin-left: 0 !important;
}
#formBuilderCSSIDYoungs_Signup_Form_Zip .formBuilderField {
	width: 120px !important;
	float: left !important;
	clear: none !important;
}
#formBuilderCSSIDYoungs_Signup_Form_Zip form  {
	padding: 0;
}
#formBuilderCSSIDYoungs_Signup_Form_Zip .formBuilderLabelRequired {
	display: none;
}
#formBuilderCSSIDYoungs_Signup_Form_Zip input[type="submit"] {
	border: none;
	font-size: 13px;
	font-weight: normal;
	text-decoration: none;
	color: #688d74;
}
.formBuilderRadio label {
	float: left;
}
.formBuilderForm .checkbox
{
	float: left;
	width: 50%;
	clear: none;
}
.radio_buttons label {
	width: 90px;
}
#formBuilderFieldContact_Phone {
	padding-left: 2.25% !important;
	width: 52.75% !important;
}
#formBuilderFieldContact_Email .formBuilderLabel, #formBuilderFieldContact_Phone .formBuilderLabel, #formBuilderFieldShirts .formBuilderLabel, #formBuilderFieldShirts_Received .formBuilderLabel, .formBuilderSuccess {
	display: none;
}
.formBuilderSuccess.moduleSuccess { display: block; }
#formBuilderCSSIDYoungs_Signup_Form .formBuilderSuccess.moduleSuccess { 
padding: 0;
}
#formBuilderYoungs_Signup_Form {
	padding-top: 36px;
}
#formBuilderCSSIDYoungs_Signup_Form .formBuilderForm .formBuilderField#formBuilderFieldShirts {
	clear: none;
}
#formBuilderCSSIDYoungs_Signup_Form #formBuilderFieldContact_Email {
	position: absolute;
	margin: 284px 0 0 170px;
}
#formBuilderCSSIDYoungs_Signup_Form #formBuilderFieldContact_Phone {
	position: absolute;
	margin: 255px 0 0 220px;
}

.wrapper {
	max-width: 100%;
	margin: 0 auto;
	background-color: #fff;
}
.home .wrapper {
	background: none;
	-webkit-box-shadow: none;
	-moz-box-shadow:  none;
	box-shadow: none;
}
.container {
	margin: 0 auto;
   width: 980px;
   /* width: 94%; */
}


/* No Border/Margin/Padding */
.no-margin-top {
	margin-top:0px !important;
}
.no-margin-bottom {
	margin-bottom:0px !important;
}
.no-margin-left {
	margin-left:0px !important;
}
.no-margin-right {
	margin-right:0px !important;
}
.no-padding-top {
	padding-top:0px !important;
}
.no-padding-bottom {
	padding-bottom:0px !important;
}
.no-padding-left {
	padding-left:0px !important;
}
.no-padding-right {
	padding-right:0px !important;
}
.no-border-top {
	border-top:0 none !important;
}
.no-border-bottom {
	border-bottom:0 none !important;
}
.no-border-left {
	border-left:0 none !important;
}
.no-border-right {
	border-right:0 none !important;
}

/* Horizontal Line */
hr {
	border-color: #eaeaea;
	border-style: solid none none;
	border-width: 1px 0 0;
	height: 0;
	margin: 0 0 40px;
}

/* Text elements */
p {
	margin: 0 0 15px 0;
	padding: 0;
	line-height: 1.4em;
}
strong {
	font-weight: bold;
}
cite, em, i {
	font-style: italic;
}
pre {
	background-color: #fff;
	margin-bottom: 20px;
	overflow: auto;
	padding: 20px;
}
pre, code, kbd {
	font-family:"Courier 10 Pitch",Courier,monospace;
	font-size: 14px;
	line-height: 19px;
	background-color: #F9F9F9;
}
abbr, acronym, dfn {
	border-bottom: 1px dotted #666;
	cursor: help;
}
address {
	display: block;
	margin: 0 0 1.625em;
}
ins {
	background: #fff9c0;
}

/* Superscript and Subscript */
sup, sub {
	font-size: 10px;
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}

/* Blockquote */
blockquote {
	font-style: italic;
	font-weight: normal;
	padding: 20px;
	border-left: 4px solid #688d74;
	margin-bottom: 20px;
	background-color: #F9F9F9;
}
blockquote p {
	margin: 0;
}
blockquote em, blockquote i, blockquote cite {
	font-style: normal;
}
blockquote cite {
	color: #666;
	font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}




/* Links */
a {
	color: #688d74;
	text-decoration: none;
}
a:focus, a:active, a:hover {
	text-decoration: none;
}

/* Images */
figure {
	margin: 0;
	text-align: center;
}
img {
	height:auto;
	vertical-align:top;
}
.entry-content img, .comment-content img, .widget img {
	max-width: 100%; /* Fluid images for posts, comments, and widgets */
}
img[class*="align"], 
img[class*="wp-image-"], 
img[class*="attachment-"] {

}
img.size-full, img.size-large {
	max-width: 100%;
	height: auto; 
}
.entry-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
img.alignleft, img.alignright, img.aligncenter {
	margin-bottom: 15px;
}
p img {
	
}
img#wpstats {
 	display: none;
}

/* Assistive text */
.assistive-text {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}
#access a.assistive-text:active, #access a.assistive-text:focus {
	background: #eee;
	border-bottom: 1px solid #ddd;
	color: #1982d1;
	clip: auto !important;
	font-size: 12px;
	position: absolute;
	text-decoration: underline;
	top: 0;
	left: 7.6%;
}

/* clearfix hack */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
/* start commented backslash hack \*/
* html .clearfix {
	height:1%;
}
.clearfix {
	display: block;
}
/* close commented backslash hack */

/* Readmore */
a.readmore {
   border: 1px solid #0596AF;
   color: #fff;
	display:inline-block;
   padding: 5px 25px 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 1px 8px 2px;
	float: right;
	background: #06B8D7;
	background: -webkit-linear-gradient(#06B8D7, #05aac6);
	background: -moz-linear-gradient(#06B8D7, #05aac6);
	background: -ms-linear-gradient(#06B8D7, #05aac6);
	background: -o-linear-gradient(#06B8D7, #05aac6);
	background: -webkit-gradient(#06B8D7, #05aac6);
	background: linear-gradient(#06B8D7, #05aac6);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);	
}
a.readmore:hover {
	background: -webkit-linear-gradient(#06C0E1, #05aac6);
	background: -moz-linear-gradient(#06C0E1, #05aac6);
	background: -ms-linear-gradient(#06C0E1, #05aac6);
	background: -o-linear-gradient(#06C0E1, #05aac6);
	background: -webkit-gradient(#06C0E1, #05aac6);
	background: linear-gradient(#06C0E1, #05aac6);
}
a.readmore:active {
	-webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
}
a.more-link:hover {
	text-decoration: underline;
}	

/* Alignment */
.alignleft {
	display: inline;
	float: left;
	margin: 4px 15px 15px 0;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 30px;
}
.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Back to Top */
.back-to-top {
	position: fixed;
	bottom: 10px;
	right: 10px;
}
.back-to-top a {
	width: 35px;
	height: 35px;
	text-indent: -20000px;
	display: block;
	background-image: url("/images/youngsdrycleaning/back-to-top.png");
}

/* =Header
----------------------------------------------- */

.hgroup-wrap a {
	display: block;
}

#site-title {
	font: 36px 'Philosopher', sans-serif;
  	line-height: 42px;
}
#site-title a {
	color: #555;	
	height: 100px;
}
#site-title a img {
	vertical-align: inherit;
	max-width: 980px;	
}
#site-title a span, #site-title a:hover, #site-title a:focus, #site-title a:active {
	color: #688d74;
}
#site-description {
	font: 13px 'PT Sans', sans-serif;
	line-height: 20px;
	color: #777;
}
.hgroup-right {
	position: absolute;
	width: 978px;
}

/* Social Profiles */
.social-profiles {
	float: left;
}
.social-profiles ul {
	margin: -10px 0 0;
	float:right;
}
.social-profiles ul li {
	margin-top:10px;
	float:left;
}
.social-profiles ul li a {
	display:block;
	width:30px;
	height:30px;
	text-indent: -99999px;
	background-image: url("/images/youngsdrycleaning/social-icons.png");
	background-position: right bottom;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
}
.social-profiles ul li.facebook a {
	background-position: 0 0;		
}
.social-profiles ul li.facebook a:hover {
	background-position: 0 -40px;
}
.social-profiles ul li.twitter a {
	background-position: -40px 0;
}
.social-profiles ul li.twitter a:hover {
	background-position: -40px -40px;
}
.social-profiles ul li.google-plus a {
	background-position: -80px 0;
}
.social-profiles ul li.google-plus a:hover {
	background-position: -80px -40px;
}
.social-profiles ul li.pinterest a {
	background-position: -120px 0 ;
}
.social-profiles ul li.pinterest a:hover {
	background-position: -120px -40px ;
}
.social-profiles ul li.linked a {
	background-position: -160px 0;
}
.social-profiles ul li.linked a:hover {
	background-position: -160px -40px;
}
.social-profiles ul li.tumblr a {
	background-position: -200px 0 ;
}
.social-profiles ul li.tumblr a:hover {
	background-position: -200px -40px;
}
.social-profiles ul li.vimeo a {
	background-position: -240px 0;
}
.social-profiles ul li.vimeo a:hover {
	background-position: -240px -40px;
}
.social-profiles ul li.my-space a {
	background-position: -280px 0;
}
.social-profiles ul li.my-space a:hover {
	background-position: -280px -40px;
}
.social-profiles ul li.flickr a {
	background-position: -320px 0;
}
.social-profiles ul li.flickr a:hover {
	background-position: -320px -40px;
}
.social-profiles ul li.you-tube a {
	background-position: -360px 0;
}
.social-profiles ul li.you-tube a:hover {
	background-position: -360px -40px;
}
.social-profiles ul li.rss a {
	background-position: -400px 0;
}
.social-profiles ul li.rss a:hover {
	background-position: -400px -40px;
}

/* Header Image */
.header-image {
	width: 100%;
	height: auto;
}

/* =Menu
-------------------------------------------------------------- */
#access ul {

}
#access li {
	float: right;
	position: relative;
}
li.default-menu {
	display: none;
}
#access a {
	margin: 0;
	padding: 8px 7px 6px 7px;
	display: block;
	float: left;
	font-size: 0.9em;
	font-weight: normal;
	text-decoration: none;
	text-transform: uppercase;
	color: #000;
	background-image: url(/images/youngsdrycleaning/nav_side.gif);
	background-repeat: repeat-y;
	background-position: right top;
}
#access li:first-child a {
	background-image: none;
}
#access a:hover {
    font-size: 0.9em;
    font-weight: normal;
    text-decoration: underline;
    color: #808080;
}
#access ul ul {

}
#access ul ul ul {

}
#access ul ul a {

}
#access li:hover > a,
#access ul ul :hover > a,
#access a:focus {
	
}
#access li:hover > a,
#access a:focus {
	
}
#access ul li:hover > ul {
	
}
#access .current-menu-item > a,
#access .current-menu-ancestor > a,
#access .current_page_item > a,
#access .current_page_ancestor > a {

}

/* Dropdown */
#access ul li ul, #access ul li:hover ul li ul {
	display: none;
	z-index: 9999;
}
#access ul li:hover ul, #access ul li ul li:hover ul {
	display:block;
}
#access ul li ul {
	position: absolute;
	background-color: #fff;
	border-top: 4px solid #688d74;
	top: 55px;
	left: 0px;
	width: 190px;
}
#access ul li ul li {
	float: none;
	border-bottom: 1px solid #EAEAEA;
	border-left: 1px solid #EAEAEA;
	border-right: 1px solid #EAEAEA;
	padding: 0;
}
#access ul li ul li a, 
#access ul li.current-menu-item ul li a, 
#access ul li ul li.current-menu-item a,
#access ul li.current_page_ancestor ul li a, 
#access ul li.current-menu-ancestor ul li a,
#access ul li.current_page_item ul li a {
	float: none;
	line-height: 21px;
	font-size: 13px;
	font-weight: normal;
	height: 100%;
	padding: 6px 10px;
	color: #777;
	text-transform: capitalize;
}
#access ul li ul li a:hover, #access ul li ul li:hover > a, #access ul li.current-menu-item ul li a:hover {
	background-color: #F9F9F9;
	color: #688d74;
}
#access ul li ul li ul {
	left: 190px;
	top: -4px;
}
#access select { 
	display: none;
}

/* Slogan */
.slogan-wrap {	
	font-family: 'Philosopher', sans-serif;
	background-color: #688d74;	
	padding: 24px 0;
	margin-bottom: 4px;	
}
.slogan-wrap .slogan {
	font-size: 24px;	
	line-height: 30px;
	color: #fff;
	width: 80%;
	float: left;
}
.slogan-wrap .slogan span {
	font: 13px 'PT Sans', sans-serif;
	line-height: 20px;
	display: block;
	padding-top: 5px;
}
.slogan-wrap .view-work {
	color: #494949;
	font-size: 18px;	
	float: right;
	display: block;
	border: 2px solid #fff;
	text-align: center;
	height: 28px;
	padding: 8px 15px 0;
	margin-top: 8px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;	
   background: #b5e6ee;
	background: -webkit-linear-gradient(#d0eef4, #b5e6ee);
	background: -moz-linear-gradient(#d0eef4, #b5e6ee);
	background: -ms-linear-gradient(#d0eef4, #b5e6ee);
	background: -o-linear-gradient(#d0eef4, #b5e6ee);
	background: -webkit-gradient(#d0eef4, #b5e6ee);
	background: linear-gradient(#d0eef4, #b5e6ee);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);	
	text-shadow:0 1px 0 rgba(251, 251, 251, 0.7)
}
.slogan-wrap .view-work:hover {
	background: -webkit-linear-gradient(#E3F5F9, #b5e6ee);
	background: -moz-linear-gradient(#E3F5F9, #b5e6ee);
	background: -ms-linear-gradient(#E3F5F9, #b5e6ee);
	background: -o-linear-gradient(#E3F5F9, #b5e6ee);
	background: -webkit-gradient(#E3F5F9, #b5e6ee);
	background: linear-gradient(#E3F5F9, #b5e6ee);
}
.slogan-wrap .view-work:active {
	-webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}

/* =Featured Slider
-------------------------------------------------------------- */
.prevBtn {
    margin: 0 10px 0 0;
    padding: 0;
    width: 15px;
    height: 15px;
    display: block;
    float: right;
    background-image: url(/images/youngsdrycleaning/prev.png);
    background-repeat: no-repeat;
}

.pauseBtn {
    margin: 0 10px 0 0;
    padding: 0;
    width: 15px;
    height: 15px;
    display: block;
    float: right;
    background-image: url(/images/youngsdrycleaning/pause.png);
    background-repeat: no-repeat;
}

.nextBtn {
    margin: 0;
    padding: 0;
    width: 15px;
    height: 15px;
    display: block;
    float: right;
    background-image: url(/images/youngsdrycleaning/next.png);
    background-repeat: no-repeat;
}
.hide {
display: none;
}
.featured-slider, 
.featured-slider .slider-cycle {
	position: relative;
	margin-top: -9px;
	width: 980px;
	margin: 0 auto;
}
.featured-slider .displayblock {
	display: block;
}
.featured-slider a {
   pointer-events: none;
   cursor: default;
}
.featured-slider .displaynone {
	display: none;
}
.featured-text {
	position: absolute;
	bottom: 55px;
	right: 30px;
	text-align: right;	
	color: #fff;
}
.featured-text .featured-title {
	font: 24px 'Philosopher',sans-serif;
	line-height: 30px;
	padding: 10px 20px;
	background: #688d74;
	background: rgba(5, 169, 197, 0.9);
	float: right;
	max-width: 55%;
}
.featured-text .featured-title a {
	color: #fff;
}
.featured-text .featured-content {
	padding: 20px;
	background: #555;
	background: rgba(85, 85, 85, 0.9);
	margin-top: 4px;
	float: right;
	clear: right;
	width: 35%;	
}

/* Controllers */
#controllers {
	text-align: center;
	line-height: 0;
	position: relative;
	width: 901px;
	bottom: 214px;
	z-index: 9999;
	margin: 0 auto;
}
#controllers a {
	width: 15px;
	height: 15px;
	overflow:hidden;
	display:inline-block;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #fff;
}
#controllers a:hover, #controllers a.active {
	background-color: #ffffff;
}

/* Search Form */
#branding .searchform {
	float: right;
}
#branding .searchform div {
	
}
#branding #s {

}
#branding #s:focus {
	
}
#branding #searchsubmit {
	
}
#branding .only-search .searchform {
	
}
#branding .only-search #s {
	
}
#branding .only-search #s,
#branding .only-search #s:focus {

}
#branding .only-search #s:focus {
	
}
#branding .with-image .searchform {
	
}
#branding .only-search + #access div {

}

/* =Content
----------------------------------------------- */
#main {
	padding: 0;
	margin-top: -8px;
	margin-right: 30px;
}
body.home {
	background-image: url(/images/youngsdrycleaning/home_back.gif) !important;
}
.home #main {
	position: absolute;
	margin: 0;
	margin-top: -180px;
	padding: 0;
	padding: 10px 0 0 20px;
	width: 960px;
	height: 143px;
	background-image: url(/images/youngsdrycleaning/home_tag_back.gif);
	background-repeat: no-repeat;
	z-index: 20;
}
.home #main p {
	margin: 0;
}
.freeBtnLink {
	float: left;
	margin: 0 40px 0 5px;
	padding: 90px 0 0 0;
	width: 180px;
	height: 50px;
	font-size: 0.9em;
	background-image: url(/images/youngsdrycleaning/free_delivery_btn.gif);
	background-repeat: no-repeat;
	background-position: center top;
	text-align: center;
	line-height: 1.25em;
}
.spanDot {
	width: 5px;
	height: 5px;
	margin: 0;
	padding: 0 6px 0 6px;
	background-image: url(/images/youngsdrycleaning/dot.gif);
	background-repeat: no-repeat;
	background-position: 5px 5px;
}
#content ul {
	list-style-type: disc;
}
#content ul, #content ol {
margin: 5px 10px 10px 20px;
padding: 5px 10px 10px 20px;
}
#content ol {
	margin-left: 0;
}
#content ul li, #content ol li {
margin: 5px;
padding: 5px;
line-height: 19px;
}
#content ol li {
margin-left: 0;
padding-left: 0;}
#servicesNav {
    margin: 42px 30px 15px 0;
    padding: 5px 0 5px 0;
    border-top: dotted 1px #ccc;
    border-bottom: dotted 1px #ccc;
	width:550px;
	float: right;
}

#servicesNav li {
    margin: 0;
    padding: 0 5px 0 5px;
    display: inline;
    font-size: 0.9em;
}
#content #servicesNav .second-line {
	clear: right;
}
#content ol {
	list-style-type: decimal;
}
#content ol ol {
	list-style: upper-alpha;
}
#content ol ol ol {
	list-style: lower-roman;
}
#content ol ol ol ol {
	list-style: lower-alpha;
}
#content ul ul, #content ol ol, #content ul ol, #content ol ul {
	margin-bottom: 0;
}
.service-item {
	padding-bottom: 15px;
}
.service-item .service-icon {
	width: 40px;
	height: 40px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	background-color: rgba(0, 0, 0, 0.6);
	float: left;
	display: block;
	margin-right: 20px;
	text-align: center;
}
.service-item .service-icon img {
	height: 40px;
	width: 40px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
}
#content .service-item .service-title {
	font-size: 20px;
	line-height: 25px;
	color: #555;
	display: block;
	overflow: hidden;
	padding-top: 7px;
	padding-bottom: 0;
}
.sticky {
	background-color: #E6E6E6;
   padding: 20px;
}

#content .post {
	padding-top: 10px; 
   padding-bottom: 40px;   
	border-top: 1px solid #eaeaea;
}
.page-title-wrap {
	background-color: #F9F9F9;
	border-bottom: 1px solid #EAEAEA;
	padding: 20px 0; 
}
.page-title {
	font-size: 24px;
	line-height: 30px;
	color: #555;
	font-weight: normal;
	float: left;
	padding-top: 2px;
}
.page-title a {
	color: #555;
}
.entry-title,
.entry-header .entry-meta {
	
}
.entry-header {
	height: 42px;
}
.entry-title,
.entry-title a {
	margin: 8px 0 8px 15px;
padding: 0;
color: #464648;
font-size: 16px;
font-weight: bold;
text-transform: uppercase;
padding-top: 8px;
position: absolute;
}
.entry-title a:hover,
.entry-title a:focus,
.entry-title a:active {
	color: #688d74;
}
.entry-meta-bar {
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	padding: 7px 0;
	clear: both;
}
.entry-meta {
	width: 84.89%;
	float: left;
	padding-top: 2px;
}
.entry-meta a {
	color: #555;
}
.entry-meta a:hover {
	color: #688d74;
}
.entry-meta span {
   padding: 0 5px;
   display: inline-block;
}
.tags {
	margin-bottom: 50px;
}
.tags a {
	color: #888;	
	padding: 0 0 0 10px;
}
.tags a:hover {
	color: #688d74;
}
.single-author .entry-meta .by-author {
	
}
.post-featured-image {
	margin-bottom: 30px;
	max-width: 700px;
}
.post-featured-image a {
	display: block;
}
.entry-content dt, 
.comment-content dt {
	font-weight: bold;
}
.entry-content dd, 
.comment-content dd {
   margin-bottom: 20px;
}
.entry-content {
	padding-bottom: 15px;
	display: block;
	margin-left: 400px;
	width: 550px;
}
body.home .entry-content {
	margin-left: 0;
	width: auto !important;
}
.entry-content h1,
.entry-content h2,
.comment-content h1,
.comment-content h2 {
	
}
.entry-content h3,
.comment-content h3 {
	
}
.entry-content table,
.comment-content table {
	border-bottom: 1px solid #ddd;
	margin: 0 0 1.625em;
	width: 100%;
}
.entry-content th,
.comment-content th {
	color: #666;
	font-size: 10px;
	font-weight: 500;
	letter-spacing: 0.1em;
	line-height: 2.6em;
	text-transform: uppercase;
}
.entry-content td,
.comment-content td {
	border-top: 1px solid #ddd;
	padding: 6px 10px 6px 0;
}
.page-link {

}
.page-link a {

}
.page-link a:hover {

}
.page-link span {

}

/* Column */
.column {
	margin-left: -3.06%;
}
.column a {
	margin-bottom: 10px;
	display: block;
}
.one-half, .one-third, .one-fourth  {
	float: left;
	margin: 0 0 0 2.97%;
	padding-bottom: 20px;
}
.one-half {
	width: 47.03%;
}
.one-third {	
	width: 30.36%;
}
.one-fourth {	
	width: 22.02%;
}

/* Sidebar */
#secondary {
	float: left;
	margin-left: 3.06%;
	width: 31.28%;
}

/* Left Sidebar Template */
.left-sidebar-template #primary {
    float: right;
}
.left-sidebar-template #secondary {
    float: left;
}

/* One Column Template */
.one-column-template .wrapper {
	width: 708px; 
}
.one-column-template .container {
	width: 668px;
}
.no-sidebar-template #content {
	width: 668px;
	margin: 0 auto;
}

/* Custom Gallery Page */
.custom-gallery #main {
	padding-bottom: 20px;
}
#content .custom-gallery-title, 
.custom-gallery-title a {
   font-size: 20px;
	text-align: center;
	line-height: 25px;
	color: #555;
	padding-bottom: 0;
}
.custom-gallery-title a:hover {
   color: #688d74;
}

/* Blog Medium Page */
.blog-medium .post-featured-image {
	width: 34.57%;
	float: left;
	margin-right: 4.67%;
}
.blog-medium .entry-content {
	padding-bottom: 0;
}

/* Contact Page */
.map-location {
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	margin-bottom: 26px;
	padding: 5px;
}
.contact #primary .form label {
	display: block;
	padding-bottom: 5px;
}
.wpcf7 p {
	margin-bottom: 0;
}

/* Single Page */
.single .entry-meta {
   float: none;
   width: 100%;
}
.single .entry-meta-bar {
   padding-bottom: 10px;
}
.single #content .post {
	border-top: 0 none;
   padding-top: 0px;
}

/* Wide Layout */
.wide-layout .wrapper {
	max-width: 100%;
	width: 100%;
	-webkit-box-shadow: 0 0 0 #ddd;
	-moz-box-shadow:  0 0 0 #ddd;
	box-shadow: 0 0 0 #ddd;
}
.wide-layout #branding, 
.wide-layout #colophon {
	margin: 0;
}

/* =Attachments
----------------------------------------------- */
.image-attachment div.attachment {
	background: #f9f9f9;
	border: 1px solid #ddd;
	border-width: 1px 0;
	margin: 0 -8.9% 1.625em;
	overflow: hidden;
	padding: 1.625em 1.625em 0;
	text-align: center;
}
.image-attachment div.attachment img {
	display: block;
	height: auto;
	margin: 0 auto 1.625em;
	max-width: 100%;
}
.image-attachment div.attachment a img {
	border-color: #f9f9f9;
}
.image-attachment div.attachment a:focus img, .image-attachment div.attachment a:hover img, .image-attachment div.attachment a:active img {
	border-color: #ddd;
	background: #fff;
}
.image-attachment .entry-caption p {
	font-size: 10px;
	letter-spacing: 0.1em;
	line-height: 2.6em;
	margin: 0 0 2.6em;
	text-transform: uppercase;
}

/* =Comments
-------------------------------------------------------------- */
.comments-title {
	font-size: 30px;
   font-weight: normal;
   line-height: 38px;
   padding-bottom: 15px;
}
#content .comments-area ul, #content .comments-area ol {
	margin: 0 0 30px 30px;
}
#content .comments-area ul ul, #content .comments-area ol ol{
	margin-bottom: 0;
}
.comments-area article {
	margin: 24px 0;
	margin: 1.714285714rem 0;
}
.comments-area article header {
	margin: 0 0 48px;
	margin: 0 0 3.428571429rem;
	overflow: hidden;
	position: relative;
}
.comments-area article header img {
	float: left;
	padding: 0;
	line-height: 0;
}
.comments-area article header cite,
.comments-area article header time {
	display: block;
	margin-left: 85px;
	margin-left: 6.071428571rem;
}
.comments-area article header cite {
	font-style: normal;
	font-size: 15px;
	font-size: 1.071428571rem;
	line-height: 1.42857143;
}
.comments-area article header time {
	line-height: 1.714285714;
	text-decoration: none;
	font-size: 12px;
	font-size: 0.857142857rem;
	color: #5e5e5e;
}
.comments-area article header a {
	text-decoration: none;
	color: #5e5e5e;
}
.comments-area article header a:hover {
	color: #21759b;
}
.comments-area article header cite a {
	color: #444;
}
.comments-area article header cite a:hover {
	text-decoration: underline;
}
.comments-area article header h4 {
	position: absolute;
	top: 0;
	right: 0;
	padding: 6px 12px;
	padding: 0.428571429rem 0.857142857rem;
	font-size: 12px;
	font-size: 0.857142857rem;
	font-weight: normal;
	color: #fff;
	background-repeat: repeat-x;
	background: #0088d0;
	background: -moz-linear-gradient(top, #009cee, #0088d0);
	background: -ms-linear-gradient(top, #009cee, #0088d0);
	background: -webkit-linear-gradient(top, #009cee, #0088d0);
	background: -o-linear-gradient(top, #009cee, #0088d0);
	background: linear-gradient(top, #009cee, #0088d0);
	border-radius: 3px;
	border: 1px solid #007cbd;
}
.comments-area li.bypostauthor cite span {
	position: absolute;
	margin-left: 5px;
	margin-left: 0.357142857rem;
	padding: 2px 5px;
	padding: 0.142857143rem 0.357142857rem;
	font-size: 10px;
	font-size: 0.714285714rem;
}
a.comment-reply-link {
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 1.846153846;
	color: #686868;
}
a.comment-reply-link:hover {
	color: #21759b;
}
.commentlist .pingback {
	line-height: 1.714285714;
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
}
.commentlist .children {
	margin-left: 48px;
	margin-left: 3.428571429rem;
}

/* Comment form */
#respond {
	margin-top: 48px;
	margin-top: 3.428571429rem;
}
#respond h3#reply-title {
	font-size: 30px;
   font-weight: normal;
   line-height: 38px;
   padding-bottom: 15px;
}
#respond h3#reply-title #cancel-comment-reply-link {
	margin-left: 10px;
	margin-left: 0.714285714rem;
	font-weight: normal;
	font-size: 12px;
	font-size: 0.857142857rem;
}
#respond form {
	margin: 24px 0;
	margin: 1.714285714rem 0;
}
#respond form p {
	margin: 11px 0;
	margin: 0.785714286rem 0;
}
#respond form p.logged-in-as {
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
}
#respond form label {
	display: block;
	line-height: 1.714285714;
}
#respond form input[type="text"],
#respond form textarea {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 1.714285714;
	padding: 10px;
	padding: 0.714285714rem;
	width: 100%;
}
#respond form p.form-allowed-tags {
	margin: 0;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 2;
	color: #5e5e5e;
}
.required {
	color: red;
}
label ~ span.required {
	display: block;
	float: left;
	margin: -18px 0 0 -16px;
	margin: -1.285714286rem 0 0 -1.142857143rem;
}

/* Image borders */
img[class*="align"], 
img[class*="wp-image-"] {/* Add fancy borders to all WordPress-added images but not things like badges and icons and the like */

}
a:focus img[class*="align"], 
a:hover img[class*="align"], 
a:active img[class*="align"], 
a:focus img[class*="wp-image-"], 
a:hover img[class*="wp-image-"], 
a:active img[class*="wp-image-"] {/* Add some useful style to those fancy borders for linked images ... */

}
.img-border {
	background-color: #fff;
  	padding: 5px;
  	border: 1px solid #ccc;
 }
.img-border a:hover {

 }

/* =Pagination
-------------------------------------------------------------- */
#wp_page_numbers {
	margin-bottom: 40px;
	border-top: 1px solid #EAEAEA;
	border-bottom: 1px solid #EAEAEA;
	padding: 7px 0; 
}
#wp_page_numbers ul {
	list-style-type: none;
	list-style-image: none;
	margin: 0;
	float: right;
}
#wp_page_numbers ul li {
	float: left;
	margin-left: 7px; 
}
#wp_page_numbers ul li.page_info {
	padding: 3px 8px 0;
	color: #999;
}
#wp_page_numbers ul li a {
	color: #777;
   display: block;
   float: left;
   background-color: #f9f9f9;
   border: 1px solid #eaeaea;     	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 1px 8px 2px;
}
#wp_page_numbers ul li a:hover, #wp_page_numbers ul li.active_page a {
   border: 1px solid #0596AF;
   color: #fff; 
   background: #06B8D7;
	background: -webkit-linear-gradient(#06B8D7, #05aac6);
	background: -moz-linear-gradient(#06B8D7, #05aac6);
	background: -ms-linear-gradient(#06B8D7, #05aac6);
	background: -o-linear-gradient(#06B8D7, #05aac6);
	background: -webkit-gradient(#06B8D7, #05aac6);
	background: linear-gradient(#06B8D7, #05aac6);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);	
}
#wp_page_numbers ul li a:active {
	-webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
}

/* wp-pagenavi */
.wp-pagenavi {
	margin-bottom: 40px;
	border-top: 1px solid #EAEAEA;
	border-bottom: 1px solid #EAEAEA;
	padding: 7px 0; 
	text-align: center;
}
.wp-pagenavi .pages { 
	padding: 3px 7px 0;
	color: #999;
}
.wp-pagenavi .current, .wp-pagenavi a {	
   display: inline-block;
   color: #777;
   background-color: #f9f9f9;
   border: 1px solid #eaeaea;     	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 1px 8px 2px;
	margin-left: 4px;
}
.wp-pagenavi .current, .wp-pagenavi a:hover {
   border: 1px solid #0596AF;
   color: #fff; 
   background: #06B8D7;
	background: -webkit-linear-gradient(#06B8D7, #05aac6);
	background: -moz-linear-gradient(#06B8D7, #05aac6);
	background: -ms-linear-gradient(#06B8D7, #05aac6);
	background: -o-linear-gradient(#06B8D7, #05aac6);
	background: -webkit-gradient(#06B8D7, #05aac6);
	background: linear-gradient(#06B8D7, #05aac6);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);	
}
.wp-pagenavi a:active {
	-webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
}

/* Default wp-page */ 
#content ul.default-wp-page {
	margin: 0;
	list-style: none;
	margin-bottom: 40px;	
	border-top: 1px solid #EAEAEA;
	border-bottom: 1px solid #EAEAEA;
	padding: 7px 0 0; 
}
ul.default-wp-page li {
	padding-bottom: 7px;
}
ul.default-wp-page li.previous {
	float:left;	
}
ul.default-wp-page li.next {
	float:right;
}
ul.default-wp-page li a {
   display: inline-block;
   color: #777;
   background-color: #f9f9f9;
   border: 1px solid #eaeaea;     	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 1px 8px 2px;
}
ul.default-wp-page li a:hover {
   border: 1px solid #0596AF;
   color: #fff !important; 
   background: #06B8D7;
	background: -webkit-linear-gradient(#06B8D7, #05aac6);
	background: -moz-linear-gradient(#06B8D7, #05aac6);
	background: -ms-linear-gradient(#06B8D7, #05aac6);
	background: -o-linear-gradient(#06B8D7, #05aac6);
	background: -webkit-gradient(#06B8D7, #05aac6);
	background: linear-gradient(#06B8D7, #05aac6);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);	
}
ul.default-wp-page li a:active {
	-webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
}

/* Single pagination */ 
.pagination {
	margin-bottom: 40px;
	border-top: 1px solid #EAEAEA;
	border-bottom: 1px solid #EAEAEA;
	padding: 7px 0; 
	text-align: center;
	color: #999;
}
.pagination span {
   display: inline-block;
   color: #fff;    
   background-color: #06B8D7;
   border: 1px solid #0596AF;   	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 1px 8px 2px;	
	margin-left: 3px;
}
.pagination a span {
	background-color: inherit;
   border: 1px solid #fff; 
   color: #777;
 }
 .pagination a:hover span {
 	background-color: #f9f9f9;
   border: 1px solid #eaeaea; 
 }

/* =Widgets
----------------------------------------------- */
.widget {
	margin-bottom: 40px;
}
.widget ul li a {	
	color: #777;
}
.widget ul li a:hover {	
	color: #688d74;
}
.widget-title {
    font-size: 24px;
    line-height: 30px;
    padding-bottom: 15px;
}
.widget-title, .widget-title a {
	color:#555;
}
.widget-title a:hover {
	color: #688d74;
}
/* Search Widget */
.widget_search input.s {
	width: 100%;
	height: 40px;
	padding: 0 35px 0 15px; 
	color: #777;
	background-color: #f9f9f9;
	background-position: right 10px; 
	border-color: #eaeaea;
	cursor: text;
	text-indent: 0;
}
.widget_search input.s:focus { 
	border-color: #ccc;
}
/* Calendar Widget */
.widget_calendar #wp-calendar {
	color: #555;
	width: 95%;
	text-align: center;
}
.widget_calendar #wp-calendar caption, .widget_calendar #wp-calendar td, .widget_calendar #wp-calendar th {
	text-align: center;
}
.widget_calendar #wp-calendar caption {
	font-size: 11px;
	font-weight: 500;
	padding: 5px 0 3px 0;
	text-transform: uppercase;
}
.widget_calendar #wp-calendar th {
	background: #f4f4f4;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	font-weight: bold;
}
.widget_calendar #wp-calendar tfoot td {
	background: #f4f4f4;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
/* Article Widget */
.widget_article {
	margin-bottom: 20px;
}
.widget_article .article-title, .widget_article .article-title a {
	
}
.widget_article .article-title a:hover {
	text-decoration: underline;
}
.widget_article .post {
	padding-bottom: 20px;
}
.widget_article .article-content p {
	margin-bottom: 0px;
}
/* Testimonial widget */
.widget_testimonial .testimonial-icon {
	width: 25px;
	height: 19px;
	float: left;
	background: url('/images/youngsdrycleaning/testimonial-icon.png') no-repeat top center; 
	margin-right: 3.06%;
}
.widget_testimonial .testimonial-post {
	padding: 20px;
	background-color: #f9f9f9;
	border: 1px solid #eaeaea;
	-webkit-box-shadow: 0 1px 4px #eaeaea inset;
	-moz-box-shadow: 0 1px 4px #eaeaea inset;
	box-shadow: 0 1px 4px #eaeaea inset;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;	
	font-style: italic;
	margin-bottom: 15px; 
	display: block;
	overflow: hidden;
}
.widget_testimonial .testimonial-author {
	text-align: right;	
	clear: both;
}
.widget_testimonial .testimonial-author span {
	font-weight: bold;
	display: block;
}

/* Tag Cloud */
.widget_tag_cloud a {
	margin-right: 5px;
	color: #777;
	padding: 10px 0; 
	}
.widget_tag_cloud a:hover {
	color: #688d74;
	}

/* Custom Tag Cloud */
.widget_custom-tagcloud {
	margin-bottom: 32px;
}
.widget_custom-tagcloud a {
	margin:0 4px 8px 0;
	background-color: #F9F9F9;
	border: 1px solid #eaeaea;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	padding: 1px 8px 2px;
	color: #777;
}
.widget_custom-tagcloud a:hover {
	border: 1px solid #0596AF;
	color: #fff;
	background: #06B8D7;
	background: -webkit-linear-gradient(#06B8D7, #05aac6);
	background: -moz-linear-gradient(#06B8D7, #05aac6);
	background: -ms-linear-gradient(#06B8D7, #05aac6);
	background: -o-linear-gradient(#06B8D7, #05aac6);
	background: -webkit-gradient(#06B8D7, #05aac6);
	background: linear-gradient(#06B8D7, #05aac6);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);	
}
.widget_custom-tagcloud a:active {
	-webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
}

/* Service Widget*/
.widget_service {
	margin-bottom: 0;
	padding-bottom: 10px;
}

/* Recent Work Widget*/
.widget_recent_work {
	margin-bottom: 10px;
}


/* WP Caption */
.wp-caption {	
	margin-bottom: 30px;
	max-width: 100%;
}
.wp-caption .wp-caption-text, .gallery-caption {
	font-style: italic;
}
.wp-caption .wp-caption-text {
	margin-bottom: 0;
	padding: 15px 0;
	border-bottom: 1px solid #EAEAEA;
}

/* =Footer
----------------------------------------------- */
#colophon {
	width: 100%;
	min-height: 80px;
	background-image: url(/images/youngsdrycleaning/footer_back.gif);
	background-repeat: repeat-x;
	background-color: #fff;
	margin-top: -15px;
}
body.home #colophon { margin-top: 0; }
#colophon form input, #colophon form textarea {	
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
#colophon .widget-wrap {
	background-color: #f9f9f9;
	border-top: 1px solid #eaeaea;
}
#colophon .widget-area {
	margin-left: -3.06%;
	padding: 40px 0 10px;
}
#colophon .widget {
   float: left;
   margin-left: 2.97%;
   width: 30.35%;
}
#colophon .widget_archive, 
#colophon .widget_pages, 
#colophon .widget_nav_menu,
#colophon .widget_recent_entries,
#colophon .widget_categories,
#colophon .widget_recent_comments,
#colophon .widget_meta,
#colophon .widget_rss {
   margin-bottom: 22px;
}
#colophon .widget_archive ul li, 
#colophon .widget_pages ul li, 
#colophon .widget_nav_menu ul li,
#colophon .widget_recent_entries ul li,
#colophon .widget_categories ul li,
#colophon .widget_recent_comments ul li,
#colophon .widget_meta ul li,
#colophon .widget_rss ul li {
   padding-bottom: 8px;
}
#colophon .widget-title {
   font-size: 19px;
   text-transform: uppercase;
   line-height: 25px;
}
#colophon .widget_article {
	margin-bottom: 10px;
}
#colophon .widget_info, 
#colophon .widget_text {
	margin-bottom: 15px;
}
#colophon a {

}
#colophon a:hover {

}
#colophon ul {
	
}
#supplementary .widget-area {

}
#supplementary .widget-title {

}
#supplementary #first, 
#supplementary #second, 
#supplementary #third {
	
}
#supplementary #first {

}
#supplementary #second {
	
}
#supplementary #third {
	
}

/* Site Generator */
#site-generator .social-profiles {
   float: right;
   width: 31.28%;
   display: none;
}
#site-generator .copyright {
   margin: 0 auto;
	padding: 5px 0 5px 0;
	width: 980px;
	font-size: 0.8em;
	text-align: right;
	position: absolute;
}
#site-generator .copyright a {
   color: #000000;
}

#site-generator .copyright a:hover {
   color: #688d74;
}

