@media only screen and ( min-width: 767px) {
    body,
    .et_pb_column_1_2 .et_quote_content blockquote cite,
    .et_pb_column_1_2 .et_link_content a.et_link_main_url,
    .et_pb_column_1_3 .et_quote_content blockquote cite,
    .et_pb_column_3_8 .et_quote_content blockquote cite,
    .et_pb_column_1_4 .et_quote_content blockquote cite,
    .et_pb_blog_grid .et_quote_content blockquote cite,
    .et_pb_column_1_3 .et_link_content a.et_link_main_url,
    .et_pb_column_3_8 .et_link_content a.et_link_main_url,
    .et_pb_column_1_4 .et_link_content a.et_link_main_url,
    .et_pb_blog_grid .et_link_content a.et_link_main_url,
    body .et_pb_bg_layout_light .et_pb_post p,
    body .et_pb_bg_layout_dark .et_pb_post p {
        font-size: 16px;
    }
    .et_pb_slide_content,
    .et_pb_best_value {
        font-size: 18px;
    }
}

body {
    color: #555555;
}


#et_search_icon:hover,
.mobile_menu_bar:before,
.mobile_menu_bar:after,
.et_toggle_slide_menu:after,
.et-social-icon a:hover,
.et_pb_sum,
.et_pb_pricing li a,
.et_pb_pricing_table_button,
.et_overlay:before,
.entry-summary p.price ins,
.et_pb_member_social_links a:hover,
.et_pb_widget li a:hover,
.et_pb_filterable_portfolio .et_pb_portfolio_filters li a.active,
.et_pb_filterable_portfolio .et_pb_portofolio_pagination ul li a.active,
.et_pb_gallery .et_pb_gallery_pagination ul li a.active,
.wp-pagenavi span.current,
.wp-pagenavi a:hover,
.nav-single a,
.posted_in a {
    color: #66bba7;
}
.et_pb_contact_submit,
.et_password_protected_form .et_submit_button,
.et_pb_bg_layout_light .et_pb_newsletter_button,
.comment-reply-link,
.form-submit input,
.et_pb_bg_layout_light .et_pb_promo_button,
.et_pb_bg_layout_light .et_pb_more_button {
    color: #66bba7;
}
.footer-widget h4 {
    color: #66bba7;
}
.et-search-form,
.nav li ul,
.et_mobile_menu,
.footer-widget li:before,
.et_pb_pricing li:before,
blockquote {
    border-color: #66bba7;
}
.et_pb_counter_amount,
.et_pb_featured_table .et_pb_pricing_heading,
.et_quote_content,
.et_link_content,
.et_audio_content,
.et_pb_post_slider.et_pb_bg_layout_dark,
.et_slide_in_menu_container {
    background-color: #66bba7;
}
.container,
.et_pb_row,
.et_pb_slider .et_pb_container,
.et_pb_fullwidth_section .et_pb_title_container,
.et_pb_fullwidth_section .et_pb_title_featured_container,
.et_pb_fullwidth_header:not(.et_pb_fullscreen) .et_pb_fullwidth_header_container {
    max-width: 1102px;
}
.et_boxed_layout #page-container,
.et_fixed_nav.et_boxed_layout #page-container #top-header,
.et_fixed_nav.et_boxed_layout #page-container #main-header,
.et_boxed_layout #page-container .container,
.et_boxed_layout #page-container .et_pb_row {
    max-width: 1262px;
}
a {
    color: #66bba7;
}
#top-header,
#et-secondary-nav li ul {
    background-color: #66bba7;
}
#top-menu li a {
    font-size: 13px;
}
body.et_vertical_nav .container.et_search_form_container .et-search-form input {
    font-size: 13px !important;
}
#top-menu li a,
.et_search_form_container input {
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
}
.et_search_form_container input::-moz-placeholder {
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
}
.et_search_form_container input::-webkit-input-placeholder {
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
}
.et_search_form_container input:-ms-input-placeholder {
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
}
#top-menu li.current-menu-ancestor > a,
#top-menu li.current-menu-item > a,
.et_color_scheme_red #top-menu li.current-menu-ancestor > a,
.et_color_scheme_red #top-menu li.current-menu-item > a,
.et_color_scheme_pink #top-menu li.current-menu-ancestor > a,
.et_color_scheme_pink #top-menu li.current-menu-item > a,
.et_color_scheme_orange #top-menu li.current-menu-ancestor > a,
.et_color_scheme_orange #top-menu li.current-menu-item > a,
.et_color_scheme_green #top-menu li.current-menu-ancestor > a,
.et_color_scheme_green #top-menu li.current-menu-item > a {
    color: #66bba7;
}
#main-footer {
    background-color: #323e48;
}
#main-footer .footer-widget h4 {
    color: #66bba7;
}
.footer-widget li:before {
    border-color: #66bba7;
}
#footer-widgets .footer-widget li:before {
    top: 10.6px;
}
#footer-bottom {
    background-color: #323e48;
}
body .et_pb_button {
    background: #66bba7;
    border-width: 0px !important;
    border-radius: 6px;
}
body.et_pb_button_helper_class .et_pb_button {
    background: #59a38f !important;
}
@media only screen and ( min-width: 981px) {
    .et_header_style_centered.et_hide_primary_logo #main-header:not(.et-fixed-header) .logo_container,
    .et_header_style_centered.et_hide_fixed_logo #main-header.et-fixed-header .logo_container {
        height: 11.88px;
    }
    .et-fixed-header#top-header,
    .et-fixed-header#top-header #et-secondary-nav li ul {
        background-color: #66bba7;
    }
    .et-fixed-header #top-menu li a {
        font-size: 13px;
    }
    .et-fixed-header #top-menu li.current-menu-ancestor > a,
    .et-fixed-header #top-menu li.current-menu-item > a {
        color: #66bba7 !important;
    }
}
@media only screen and ( min-width: 1377px) {
    .et_pb_row {
        padding: 27px 0;
    }
    .et_pb_section {
        padding: 55px 0;
    }
    .single.et_pb_pagebuilder_layout.et_full_width_page .et_post_meta_wrapper {
        padding-top: 82px;
    }
    .et_pb_section.et_pb_section_first {
        padding-top: inherit;
    }
    .et_pb_fullwidth_section {
        padding: 0;
    }
}
@media only screen and ( max-width: 980px) {
    .et_pb_section {
        padding: 53px 0;
    }
    .et_pb_section.et_pb_section_first {
        padding-top: inherit;
    }
    .et_pb_section.et_pb_fullwidth_section {
        padding: 0;
    }
    .et_pb_row,
    .et_pb_column .et_pb_row_inner {
        padding: 15px 0 !important;
    }
}
@media only screen and ( max-width: 767px) {
    .et_pb_section {
        padding: 23px 0;
    }
    .et_pb_section.et_pb_section_first {
        padding-top: inherit;
    }
    .et_pb_section.et_pb_fullwidth_section {
        padding: 0;
    }
    .et_pb_row,
    .et_pb_column .et_pb_row_inner {
        padding: 13px 0 !important;
    }
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'PT Sans', Helvetica, Arial, Lucida, sans-serif;
}
body,
input,
textarea,
select {
    font-family: 'PT Sans', Helvetica, Arial, Lucida, sans-serif;
}
#main-header,
#et-top-navigation {
    font-family: 'PT Sans', Helvetica, Arial, Lucida, sans-serif;
}
.et_pb_pricing_heading h2 {
    font-weight: bold;
    font-style: normal;
    text-transform: none;
    text-decoration: none;
}
.et_pb_sum {
    font-size: 72px;
}

.container {
    width: 100%;
}