ul.inline {
  list-style: none; }

ul.inline li {
  display: inline-block; }

.invalid {
  color: red; }

.laundry_plan .green {
  color: #6D9E2C;
  background: white !important;
  border: none;
  filter: none; }

.row-fluid [class*="span"].center, .center {
  margin: 0 auto;
  float: none; }

.navbar-inner-menu {
  min-height: 35px;
  padding-right: 20px;
  padding-left: 20px; }

#btnSignIn {
  padding: 5px 30px;
  font-weight: bold;
  font-size: 16px; }

#signInWrapper {
  width: 145px;
  padding: 10px;
  background-color: #d5e5f5;
  float: right;
  border-radius: 3px;
  margin-top: 5px;
  text-align: center; }

#getStartedWrapper {
  display: block;
  clear: both;
  float: right;
  margin-top: 5px; }

.btn-home {
  font-weight: bold; }

.container {
  padding: 10px 0; }

.navbar .nav > li.login {
  display: none; }

/* New Styles */
.hero-block {
  background: #0f4174;
  /* Old browsers */
  background: -moz-linear-gradient(top, #0f4174 0%, #3e7bb4 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0f4174), color-stop(100%, #3e7bb4));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #0f4174 0%, #3e7bb4 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #0f4174 0%, #3e7bb4 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #0f4174 0%, #3e7bb4 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #0f4174 0%, #3e7bb4 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f4174', endColorstr='#3e7bb4',GradientType=0 );
  /* IE6-9 */ }

.calloutBanner {
  background: #f5f7f2;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f5f7f2 0%, #ffffff 71%, #dee2d4 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f7f2), color-stop(71%, #ffffff), color-stop(100%, #dee2d4));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f5f7f2 0%, #ffffff 71%, #dee2d4 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f5f7f2 0%, #ffffff 71%, #dee2d4 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f5f7f2 0%, #ffffff 71%, #dee2d4 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f5f7f2 0%, #ffffff 71%, #dee2d4 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f7f2', endColorstr='#dee2d4',GradientType=0 );
  /* IE6-9 */
  height: 130px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.51);
  -moz-box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.51);
  box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.51);
  margin-bottom: 20px;
  display: block;
  clear: both;
  height: auto;
  overflow-y: auto;
  overflow-x: hidden; }

.calloutSpecial {
  background-color: #EAF2FB;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.51);
  -moz-box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.51);
  box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.51);
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px; }

.blueGradient {
  background: #103f75;
  /* Old browsers */
  background: -moz-linear-gradient(top, #103f75 0%, #3e7bb4 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #103f75), color-stop(100%, #3e7bb4));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #103f75 0%, #3e7bb4 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #103f75 0%, #3e7bb4 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #103f75 0%, #3e7bb4 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #103f75 0%, #3e7bb4 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#103f75', endColorstr='#3e7bb4',GradientType=0 );
  /* IE6-9 */
  -webkit-box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.75); }

.calloutBannerPic {
  float: left;
  width: 40%; }

.calloutBannerText {
  float: left;
  width: 50%;
  margin-left: 5%;
  text-align: left; }

.calloutBannerPicc20 {
  float: left;
  width: 30%; }

.calloutBannerTextc20 {
  float: left;
  width: 60%;
  margin-left: 5%;
  text-align: left; }

.calloutServices {
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 10px; }

.calloutServices .homeWhiteMed {
  text-align: center; }

#calloutLeft {
  margin-left: 5px;
  float: left; }

.calloutH1 {
  font-size: 25px; }

.calloutH2 {
  font-size: 18px; }

#fourSteps {
  margin-left: 5px; }

#fourSteps li {
  margin-right: 5px;
  vertical-align: top;
  float: left;
  text-align: center; }

#fourSteps li img {
  width: 85%;
  height: 85%; }

#fourSteps li.last {
  margin-right: 0px; }

.questionsWrapper {
  float: left;
  width: 800px;
  margin-left: -161px;
  padding-left: 161px;
  border: 1px solid Gray;
  border-radius: 5px;
  padding-top: 6px;
  margin-bottom: 10px; }

.questionsSection {
  float: left;
  width: 150px;
  margin-top: 20px;
  margin-left: 10px; }

.questionsList {
  float: left;
  margin-top: 8px;
  margin-left: 10px;
  text-align: left; }

.howtoWrapper, .partnersWrapper {
  border: 1px solid silver;
  border-radius: 5px;
  margin-bottom: 50px; }

.partnersRow {
  margin-bottom: 30px; }

.partnersRow h3 {
  margin-top: 15px; }

.partnersType {
  margin-top: 40px; }

#lockerPics {
  text-align: center; }

#lockerPics li {
  margin-bottom: 10px; }

.howtoIcon {
  text-align: center; }

#howtoVideo {
  margin-bottom: 10px; }

#howtoVideo iframe {
  width: 100%; }

#map {
  width: 100%;
  height: 400px; }

.pricingTableInner {
  width: 100%;
  display: block;
  clear: both; }

.pricingColumn {
  text-align: right; }

.dryCleanNote {
  padding: 10px 0;
  border-top: 1px dotted silver;
  border-bottom: 1px dotted silver; }

.pricingTableInner div.bodyReg {
  padding: 10px; }

.laundryPlansButton {
  margin-top: 5px;
  clear: both; }

ul#locationTablePublic {
  margin-bottom: 50px; }

ul#locationTablePublic li {
  margin-bottom: 10px; }

.bodyRegItemMap {
  font-size: 17px; }

.bodyRegItemMap a {
  color: #6D9E2C; }

.btn-success {
  background-color: #61930a; }

/*.span4.kiosk-access-form {
    width: 60%;
    height: 160px;
}*/
.kiosk-access-buttons {
  right: 0; }

#setup_access_button, #update_access_button, #remove_access_button {
  width: 100%; }

#credit_card_form {
  width: 100%; }

#billing_info_fields div.span2 {
  width: 40%; }

#credit_card_fields input, #billing_info_fields input, #billing_info_fields select {
  width: 100%; }

div.control-group.span1 {
  width: 20%; }

#homeBannerCta .btn-primary, .calloutServices .btn-primary {
  background-color: #1a4385;
  background-image: -ms-linear-gradient(top, #1a4385, #163873);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1a4385), to(#163873));
  background-image: -webkit-linear-gradient(top, #1a4385, #163873);
  background-image: -o-linear-gradient(top, #1a4385, #163873);
  background-image: -moz-linear-gradient(top, #1a4385, #163873);
  background-image: linear-gradient(top, #1a4385, #163873);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#1a4385',endColorstr='#163873',GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false); }

.calloutBanner .btn-primary {
  background-color: #266CAC;
  font-weight: bold; }

.btn-primary:hover, .btn-success:hover {
  background-position: 0 0; }

.row-fluid .row .offset1 {
  margin-left: 130px; }

#work_info_form button {
  margin-top: 20px;
  text-align: center;
  display: block; }

#work_info_form input {
  width: 90%;
  margin-bottom: 20px; }

#work_info_form label {
  font-size: 15px; }

.WorkInfoFormWrapper h3 {
  font-size: 18px;
  margin-bottom: 20px; }

.privacy_policy p {
  font-size: 14px; }

.privacy_policy ul {
  font-size: 14px;
  margin: 20px 0 45px 0; }

.privacy_policy ul li {
  margin-bottom: 15px; }

.privacy_policy h3 {
  margin: 20px 0 5px 0; }

h2.gray-header {
  /*color:#666;*/
  margin: 10px 0;
  min-height: 42px; }

.centered {
  text-align: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  /*color:#666;*/
  font-size: 1em;
  line-height: 1.4em; }

.header-with-space {
  clear: both;
  margin: 20px 0; }

.blue-btn {
  display: inline-block;
  text-align: center;
  padding: 10px 40px;
  background-color: #36ace0;
  color: #fff;
  font-size: 14px;
  margin-top: 25px;
  text-decoration: none; }

.blue-btn:hover {
  color: #fff;
  text-decoration: none; }

.max-image {
  max-width: 100%; }

#dryCleanTable {
  background-color: #EAF2FB;
  color: #266CAC;
  border: none; }

#dryCleanTable thead th {
  text-align: right;
  border: none; }

#dryCleanTable th, #dryCleanTable td {
  border: none;
  font-size: 14px; }

#dryCleanTable .priceCell {
  text-align: right; }

@media (max-width: 979px) {
  .row-fluid .row .offset1 {
    margin-left: 0px; } }
.span7.offset1 {
  margin-left: 45px !important; }

.row-fluid .row {
  margin-left: 0px; }

.fluid-container {
  margin-left: 30px; }

h2.h2Faq {
  border-bottom: 1px dashed #ccc;
  margin: 1em 0 2em; }

h1.turnaround, h2.turnaround, h4.turnaround, h1.howitworks, h3.turnaround_title, h3.howitworks, h2.concierge_h2 {
  color: #266CAC; }

.bodyBigGray {
  color: #4a4a4a;
  font-size: 15px; }

h1.turnaround, h2.turnaround {
  text-align: center; }

h3.howitworks {
  font-size: 19px;
  text-align: center;
  margin: 15px 0 25px 0;
  font-weight: 700; }

h3.turnaround_title {
  border-bottom: 1px solid #979797; }

.howitworks_pic {
  margin: 0 auto;
  display: block; }

.howitworks_wrapper {
  margin: 25px 0; }

.howitworks_col {
  width: 168px;
  margin-right: 26px;
  display: inline-block;
  float: left; }

.howitworks_col_last {
  width: 168px;
  margin-right: 0;
  display: inline-block;
  float: left; }

.howitworks_col p, .howitworks_col_last p {
  line-height: 1.4;
  min-height: 184px; }

.howitworks_link {
  color: #6D9E2C;
  font-weight: 700;
  font-size: 13px;
  text-transform: capitalize; }

.howto_hero_pic {
  width: 619px;
  margin-bottom: 15px; }

.concierge_pic {
  max-width: 150px;
  display: block;
  margin: 0 auto; }

.concierge_h2 {
  font-size: 18px;
  color: #4a4a4a;
  line-height: 1; }

.concierge_p {
  margin-top: 15px; }

.concierge_wrapper {
  margin-top: 25px; }

.concierge_row {
  margin-bottom: 30px; }

.small_letter {
  font-size: 13px; }

h3.pricing_title {
  font-size: 18px;
  color: #4a4a4a;
  margin-bottom: 15px; }

@media (max-width: 1199px) {
  #scheduled-lm-button {
    margin-top: 43px; }

  #homeVideo {
    width: 350px; }

  .calloutBannerPic {
    float: left;
    width: 40%; }

  .calloutBannerPic img {
    width: 100px;
    height: 100px; }

  .calloutBannerText {
    float: left;
    width: 50%;
    margin-left: 10%;
    text-align: left; }

  .calloutBannerPicc20 {
    display: none; }

  .calloutBannerTextc20 {
    width: 90%; }

  .calloutBannerTextc20 a {
    margin-top: 10px; }

  a.navText {
    margin-left: 20px; }

  #fourSteps li {
    margin-right: 0px;
    font-size: 13px; }

  #fourSteps li img {
    width: 70px; }

  .calloutH1 {
    font-size: 23px; }

  .calloutH2 {
    font-size: 15px; }

  #calloutIphone {
    width: 50px; }

  .howitworks_col {
    width: 140px;
    margin-right: 16px;
    display: inline-block;
    float: left; }

  .howitworks_col_last {
    width: 140px;
    margin-right: 0;
    display: inline-block;
    float: left; }

  h3.howitworks {
    font-size: 15px;
    text-align: center;
    margin: 15px 0 25px 0;
    font-weight: 700; }

  .howitworks_pic {
    width: 90px; }

  .howto_hero_pic {
    width: 495px; } }
@media (max-width: 979px) {
  #homeVideo {
    width: 350px; }

  #homeText {
    width: 100%;
    text-align: center; }

  #fourStepsWrapper {
    width: 100%; }

  a.navText {
    margin-left: 20px; }

  #fourSteps li {
    margin-right: 0px;
    font-size: 13px; }

  #fourSteps li img {
    width: 70px; }

  .calloutH1 {
    font-size: 23px; }

  .calloutH2 {
    font-size: 15px; }

  #calloutIphone {
    width: 50px; }

  .calloutBannerPic, .calloutBannerPicc20 {
    display: none; }

  .calloutBannerText, .calloutBannerTextc20 {
    width: 100%;
    margin: 0; }

  .span4 .testimonies {
    width: 45%;
    float: none; }

  #fb_share, #twitter_share {
    display: none; }

  h2.h2Faq {
    margin: 20px 0;
    border-bottom: 1px solid gray; }

  .howtoIcon img {
    width: 50px; }

  #lockerPics li img {
    width: 100%; }

  h1.turnaround, h2.turnaround, h4.turnaround {
    margin-bottom: 25px; }

  h4.turnaround {
    font-size: 18px;
    text-align: center; }

  h3.howitworks {
    font-size: 24px;
    text-align: center;
    margin: 15px 0 25px 0;
    font-weight: 700; }

  .howitworks_col {
    width: 100%;
    margin-right: 0;
    display: inline-block;
    float: left; }

  .howitworks_col_last {
    width: 100%;
    margin-right: 0;
    display: inline-block;
    float: left; }

  .howto_hero_pic {
    width: 375px; }

  .concierge_pic {
    max-width: 120px; }

  .howitworks_col p, .howitworks_col_last p {
    min-height: 0; } }
@media (max-width: 767px) {
  .span7.offset1 {
    margin-left: 0px !important; }

  .footerSpan {
    text-align: center;
    border: 0px solid transparent; }

  #fb_share, #twitter_share {
    display: inline; }

  #fourStepsWrapper {
    margin-left: 15%; }

  #fourSteps li {
    margin-right: 20px;
    font-size: 15px; }

  #fourSteps li img {
    width: 80px; }

  .testimonies {
    margin-top: 20px; }

  #rightBanners {
    margin-top: 20px; }

  .calloutBannerText {
    text-align: center; }

  .calloutBannerText a {
    margin: 0 auto;
    margin-top: 10px; }

  #firstTime {
    margin: 20px auto;
    width: 50%; }

  .howtoIcon img {
    width: 80px; }

  #howtoVideo iframe {
    height: 300px; }

  #fourSteps {
    margin-left: 30px; }

  .pricingTableInner div.bodyReg.span9 {
    float: left; }

  .pricingTableInner div.bodyReg.span3 {
    float: right; }

  .laundryPlansButton {
    margin-top: 5px; }

  .howto_hero_pic {
    width: 100%; }

  .fluid-container {
    margin-left: 0; } }
@media (max-width: 570px) {
  #fourStepsWrapper {
    margin-left: 0; } }
@media (max-width: 570px) {
  #fourSteps li img {
    width: 60px; } }
@media (max-width: 479px) {
  #fourStepsWrapper {
    margin: 0 auto;
    margin-left: 0; }

  #fourSteps li {
    margin-right: 5px;
    font-size: 13px; }

  #fourSteps li img {
    width: 50px; } }
@media (max-width: 466px) {
  #fourSteps {
    margin-left: 55px; } }
@media (max-width: 444px) {
  .homeWhiteMed {
    color: #fff;
    font-size: 18px;
    line-height: 5px;
    text-decoration: none; }

  .homeWhiteBig {
    color: #fff;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 25px; }

  #homeBannerCta {
    margin: 25px 0 0 0; }

  /*#sign_up_free {
      margin-top: 15px;
  }*/ }
.shoeshine-hero {
  max-width: 600px; }

@media (max-width: 1200px) {
  .shoeshine-hero {
    max-width: 500px; } }
@media (max-width: 1000px) {
  .shoeshine-hero {
    max-width: 400px; } }
.media-icons .span1 {
  width: 12%;
  *width: 12%;
  height: 80px;
  vertical-align: bottom; }

.fluid-video {
  width: 100%;
  height: 380px; }

@media (max-width: 1000px) {
  .media-icons .span1 {
    width: auto;
    margin: 5px 20px !important;
    float: left; }

  .services .span2 {
    width: 10em;
    height: auto;
    float: left;
    margin-right: 10px; } }
@font-face {
  font-family: "district-pro";
  src: url("/fonts/laundryboxusa/district-pro-bold.woff2") format("woff2");
  font-style: normal;
  font-weight: bold; }
@font-face {
  font-family: "district-pro";
  src: url("/fonts/laundryboxusa/district-pro-demi.woff2") format("woff2");
  font-style: normal;
  font-weight: 600; }
@font-face {
  font-family: "district-pro";
  src: url("/fonts/laundryboxusa/district-pro-light.woff2") format("woff2");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "district-pro";
  src: url("/fonts/laundryboxusa/district-pro-thin.woff2") format("woff2");
  font-style: normal;
  font-weight: 100; }
body {
  overflow-x: hidden; }

body, h1, h2 {
  font-family: "district-pro", sans-serif;
  color: #222; }

.navbar {
  margin: 8px 0; }

.navbar .logo {
  float: left;
  width: 210px;
  line-height: 75px; }

.navbar .nav {
  float: right;
  clear: right; }

.navbar .nav > li > a,
#upper-nav a {
  text-transform: uppercase;
  float: none;
  padding: 14px;
  font-size: 11px;
  font-weight: 600;
  color: #222;
  text-decoration: none;
  text-shadow: none; }

#upper-nav {
  float: right;
  padding: 0;
  margin-right: 40px; }

#upper-nav a {
  padding: 0; }

.navbar .nav > li > a:hover,
#upper-nav a:hover {
  text-decoration: none;
  color: #0971ce; }

@media (max-width: 979px) {
  .navbar .nav {
    float: none;
    width: 100%;
    margin-top: 0; }

  .navbar .nav > li {
    border-bottom: 1px solid #000;
    background-color: #FFF; }

  .navbar .nav > li > a {
    padding: 20px; }

  #interior_mobile_menu .navbar-inner {
    background: #FFF;
    box-shadow: none;
    border-bottom: 1px solid #0971ce; }

  #interior_mobile_menu .brand,
  #interior_mobile_menu .btn-group {
    color: #0971ce; } }
#signup-btn, .alert-info, .btn-primary, .btn-success {
  background: #80bd01;
  color: #FFF;
  border: 0;
  border-radius: 0; }

.alert-info * {
  text-shadow: none; }

.btn-info {
  background-image: none;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  background-color: #0971ce; }

.page-header {
  color: #0971ce;
  border-bottom-color: #0971ce; }

#footer {
  position: absolute;
  left: 0;
  background: #404040; }

#footerInner {
  background: #404040; }

#footerServices, .footerSpan p, .footerSpan a {
  font-size: 15px;
  font-weight: 100;
  font-family: district-pro;
  line-height: 24px;
  margin: 0;
  color: #FFF; }

ul#footerServices li {
  vertical-align: top;
  line-height: 24px; }

#footerServices li:first-child {
  margin-right: 10px; }

.footerSpan {
  padding: 30px 15px;
  margin-top: 15px;
  color: white;
  text-align: left;
  margin: 0;
  width: 220px; }

.footerSpan p {
  margin-top: 20px; }

.footerSpan a:hover {
  text-decoration: none; }

.footerTitle {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: #FFF;
  margin-bottom: 12px; }

/*# sourceMappingURL=style.css.map */
