@import "../account/base";

@font-face {
  font-family: "district-pro";
  src: url("/fonts/laundryboxusa/district-pro-bold.woff2") format('woff2');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "district-pro";
  src: url("/fonts/laundryboxusa/district-pro-demi.woff2") format('woff2');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "district-pro";
  src: url("/fonts/laundryboxusa/district-pro-light.woff2") format('woff2');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "district-pro";
  src: url("/fonts/laundryboxusa/district-pro-thin.woff2") format('woff2');
  font-style: normal;
  font-weight: 100;
}

body {
  overflow-x: hidden;
}

body, h1, h2 {
  font-family: "district-pro", sans-serif;
  color: #222;
}

.navbar {
  margin: 8px 0;
}

.navbar .logo {
  float: left;
  width: 210px;
  line-height: 75px;
}

.navbar .nav {
  float: right;
  clear: right;
}

.navbar .nav > li > a,
#upper-nav a {
  text-transform: uppercase;
  float: none;
  padding: 14px;
  font-size: 11px;
  font-weight: 600;
  color: #222;
  text-decoration: none;
  text-shadow: none;
}

#upper-nav {
  float: right;
  padding:  0;
  margin-right: 40px;
}

#upper-nav a {
  padding: 0;
}

.navbar .nav > li > a:hover,
#upper-nav a:hover {
  text-decoration: none;
  color: #0971ce;
}

@media (max-width: 979px) {
  .navbar .nav {
    float: none;
    width: 100%;
    margin-top: 0;
  }

  .navbar .nav > li {
    border-bottom: 1px solid #000;
    background-color: #FFF;
  }

  .navbar .nav > li > a {
    padding: 20px;
  }

  #interior_mobile_menu .navbar-inner {
    background: #FFF;
    box-shadow: none;
    border-bottom: 1px solid #0971ce;
  }

  #interior_mobile_menu .brand,
  #interior_mobile_menu .btn-group {
    color: #0971ce;
  }
}

#signup-btn, .alert-info, .btn-primary, .btn-success   {
  background: #80bd01;
  color: #FFF;
  border: 0;
  border-radius: 0;
}

.alert-info * {
  text-shadow: none;
}

.btn-info {
  background-image: none;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  background-color: #0971ce;
}

.page-header {
  color: #0971ce;
  border-bottom-color: #0971ce;
}

#footer {
  position: absolute;
  left: 0;
  background: #404040;
}

#footerInner {
  background: #404040;
}

#footerServices, .footerSpan p, .footerSpan a {
  font-size: 15px;
  font-weight: 100;
  font-family: district-pro;
  line-height: 24px;
  margin: 0;
  color: #FFF;
}

ul#footerServices li {
  vertical-align: top;
  line-height: 24px;
}

#footerServices li:first-child {
  margin-right: 10px;
}

.footerSpan {
  padding: 30px 15px;
  margin-top: 15px;
  color: white;
  text-align: left;
  margin: 0;
  width: 220px;
}

.footerSpan p {
  margin-top: 20px;
}

.footerSpan a:hover {
  text-decoration: none;
}

.footerTitle {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: #FFF;
  margin-bottom: 12px;
}
