@font-face {
    font-family: "DIN-Next-W01-Light";
    src: url("/fonts/myvaletlaundry/bc176270-17fa-4c78-a343-9fe52824e501.woff") format("woff");
}

/* -- HEADER -- */
.body {
    font-family: normal normal normal 15px/1.4em helvetica-w01-roman,helvetica-w02-roman,helvetica-lt-w10-roman,sans-serif;
}

.jumbotron {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("/images/myvaletlaundry/header-bg.png");
    border-top: 0px solid transparent;
    border-bottom: 10px solid transparent;
    padding-top: 0.5rem;
}

.jumbotron .container.header {
	width: 76%;
}

.jumbotron .container.header .pull-right .login {
    font-size: 16px;
    line-height: 22.4px;
    width: 142px;
    text-align: center;
    display: block;
    border: 3px solid transparent;
    padding: 6px 0;
    float: right;
    margin-top: -10px;
}

.jumbotron .container.header .pull-right .login:hover {
    text-decoration: none;
    background-color: #2b689c;
    border-color: #3d9be9;
    color: #FFF;
}

.jumbotron .container.header .pull-right .register {
    font-size: 18px;
    line-height: 25.2px;
    background-color: #64d9d2;
    color: #FFF;
    width: 175px;
    padding: 4px 0;
    clear: right;
    float: right;
    text-align: center;
    display: block;
    margin-bottom: 5px;
}

.jumbotron .container.header .pull-right .tagline {
    clear: right;
    width: 700px;
    font-size: 17px;
    line-height: normal;
    color: #FFF;
    background-color: #443f3f;
    letter-spacing: 3.4px;
    text-align: center;
    padding: 5px 0;
    position: relative;
    top: 60px;
}

.jumbotron .navbar {
	width: 65%;
	margin: 0 auto;
	margin-top: 1rem;
}

.jumbotron .navbar .nav>li {
	width: 11.7vw;
	margin-left:.5rem;
}

.jumbotron .navbar .nav>li:hover {
	background-color: #FFF;
}

.jumbotron .navbar .nav>li>a {
    font: normal normal normal 1.4vw/2em helvetica-w01-roman,helvetica-w02-roman,helvetica-lt-w10-roman,sans-serif;
	text-decoration: none;
	background-color: rgba(233, 233, 233, 1);
    border: solid rgba(0, 0, 0, 1) 2px;
    cursor: pointer !important;
    text-align: center;
    height: 2em;
    color: #000;
    text-shadow: none;
    padding: 0;
}

.jumbotron .navbar .nav>li>a:hover {
    color: #000;
}

h1 {
	color: #333;
	font-size: 24px;
    line-height: 36px;
	font-family: inherit;
    font-weight: bold;
    text-rendering: optimizelegibility;
}


/* -- POST -- */
.main {
	width: 75%;
	margin: 0 auto;
}

.clear {
	clear:both;
}

footer .container {
    padding: 10px 0;
	width: 100%;
    background-image: url('/images/myvaletlaundry/header-bg.png');
    background-size: cover;
    border-bottom: 5px solid #3f3e44;
    text-align: center;
}

footer .container img {
    width: 245px;
    height: 89px;
}

footer p {
	font: normal normal normal 15px/normal din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
    color: #3F3E44;
    margin: 0;
}

footer a:hover {
    text-decoration: none;
}

.btn {
    padding: .3rem 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn-primary, .btn-info, .btn-success {
    border: 2px solid #000;
    border-radius: 0;
    background: #EABF0F;
    color: #000;
    font-weight: normal;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
        border: 3px solid #000;
    background: #EABF0F;
}
 
.btn-primary:active, .btn-primary.active {
    background: #EABF0F;
    box-shadow: none;
}

a, a:hover {
    color: #333;
}

@media (max-width: 1280px) {
    .jumbotron .container.header .pull-right {
        float: none;
        clear: both;
    }

    .jumbotron .container.header .pull-right .tagline {
        position: static;
        top: 0;
        width: 100%;
    }
}

@media (max-width: 980px) {

    body {
        padding-left: 0;
        padding-right: 0;
    }

    .jumbotron {
        height: auto;
    }

    .jumbotron .navbar .nav li:first-child {
        display: none;
    }

    .jumbotron .container.header .pull-right {
        float: none;
        clear: both;
    }

    .jumbotron .container.header .pull-right .tagline {
        position: static;
        top: 0;
        width: 80vw;
    }

    .jumbotron .navbar {
        width: 100%;
        max-width: 700px;
        margin: 0;
        padding-bottom: 0.6em;
    }

    .jumbotron .navbar .container {
        width: 100vw;
        text-align: center;
    }

    .jumbotron .navbar .nav {
        margin-left: 10.5vw;
    }

    .jumbotron .navbar .nav>li {
        width: 17.5vw;
        margin-left: .5rem;
    }
}

@media (max-width: 980px) {
    .jumbotron {
        height: auto;
    }
}