@media only screen and (min-width: 981px) and (max-width: 1180px) {
.container {margin: 0 auto; width: 99%;}
.nav-collapse li{ padding-left: 2.3%;}
.nav-collapse li a{ font-size: 14px;}
.nav-collapse li.login-btn{ margin: -15px 0 0 20px; font-size: 16px;}
.nav-collapse li.login-btn div{ width: 145px;}
.nav-collapse li.login-btn a{ font-size: 16px;}
.works-box{ width: 23.2%; margin-left: 15px;}
.works-name{ font-size: 27px;}
.works-caption p{font-size: 14px; line-height: 21px;}
.plan-box{ margin-left: 6%;}
.plan-box:first-child{ margin-left: 0;}
.bottom-icons-box{ width: 100%;}
.app-section #navigation-menu li{ padding: 0 9px;}

}

@media only screen and (min-width: 1024px) and (max-width: 1024px) {
    .nav-collapse_new.signupbtn{width:20% !important;}
    .nav-collapse_new .login-btn{margin-left:0px !important;}
    .nav-collapse.nav-collapse-0.closed{width:80% !important;}
    
}
@media only screen and (min-width: 801px) and (max-width: 980px) {
.container {margin: 0 auto; width: 99%;}
.nav-collapse li{ padding-left:8px;}
.nav-collapse li a{ font-size: 14px;}
.nav-collapse li.login-btn{ margin: -15px 0 0 20px; font-size: 16px;}
.nav-collapse li.login-btn div{ width: 145px;}
.nav-collapse li.login-btn a{ font-size: 16px;}
.works-box{ width: 23.2%; margin-left: 15px;}
.works-name{ font-size: 27px;}
.works-caption p{font-size: 14px; line-height: 21px;}
.plan-box{ margin-left: 6%;}
.plan-box:first-child{ margin-left: 0;}
.bottom-icons-box{ width: 100%;}
.app-section #navigation-menu li{ padding: 0 9px;}
.nav-collapse_new .login-btn{margin-right:15px;}
}
@media only screen and (min-width: 769px) and (max-width: 800px) {
.container {margin: 0 auto; width: 99%;}
.works-box{ width: 40%; margin-left: 17px; margin-right: 17px; margin-bottom: 33px;}
.works-box:first-child{ margin-left: 17px; margin-right: 17px;}
.works-name{ font-size: 35px;}
.works-caption p{font-size: 16px; line-height: 24px;}
.plan-box{ margin-left: 2%; width: 31%;}
.plan-box:first-child{ margin-left: 0;}
.bottom-icons-box{ width: 100%;}
.app-section #navigation-menu li{ padding: 0 9px;}
.concierge-box{ width: 100%; padding: 0 25px 35px 25px;}
.pricing-box{ width: 47%; margin-left: 30px;}
.pricing-name{ font-size: 22px;}
.list-link{ font-size: 15px; padding: 33px 20px 0;}
.pricing-caption{ padding: 40px 20px 0;}
.contact-form{ width: 100%;}
.contact-left, .contact-right{ width: 49%;}
.contact-form label input.phoneinput{width: 84.6%;}
.app-section #navigation-menu li a{ font-size: 15px;}
.app-section #navigation-menu li span{ font-size: 11px;}
div.ptp-item-container{width:100%;}
.nav-collapse_new.signupbtn {width:100%;}
.nav-collapse_new .login-btn {margin:8px 0 18px 0 !important; width: 100% !important;}
.nav-toggle { text-indent: unset !important; width:100% !important;}
.nav-toggle:before {width:100% !important; top:-16px !important; text-align: right !important;}
.nav-collapse.nav-collapse-0.closed {width:100% !important;}
.Home-section{margin-top: 104px;}
}
@media only screen and (min-width: 641px) and (max-width: 768px) {
.container {margin: 0 auto; width: 99%;}
.works-box{ width: 40%; margin-left: 17px; margin-right: 17px; margin-bottom: 33px;}
.works-box:first-child{ margin-left: 17px; margin-right: 17px;}
.works-name{ font-size: 35px;}
.works-caption p{font-size: 16px; line-height: 24px;}
.plan-box{ margin-left: 2%; width: 31%;}
.plan-box:first-child{ margin-left: 0;}
.bottom-icons-box{ width: 100%;}
.app-section #navigation-menu li{ padding: 0 7px;}
.concierge-box{ width: 100%; padding: 0 25px 35px 25px;}
.pricing-box{ width: 47%; margin-left: 30px;}
.pricing-name{ font-size: 22px;}
.list-link{ font-size: 15px; padding: 33px 20px 0;}
.pricing-caption{ padding: 40px 20px 0;}
.contact-form{ width: 100%;}
.contact-left, .contact-right{ width: 49%;}
.contact-form label input.phoneinput{width: 84.2%;}
.app-section #navigation-menu li a{ font-size: 15px;}
.app-section #navigation-menu li span{ font-size: 11px;}
.plan-price span{font-size: 54px;}
.plan-price{ font-size: 34px;}
.call-text{padding: 0 0 20px 0;}
.building-btn{width: 100%;}
.building-btn span{width: 100%;}
.convenient-txt{ font-size: 30px;}
div.ptp-item-container{width:100%;}

.nav-collapse_new.signupbtn {width:100%;}
.nav-collapse_new .login-btn {margin:8px 0 18px 0 !important; width: 100% !important;}
.nav-toggle { text-indent: unset !important; width:100% !important;}
.nav-toggle:before {width:100% !important; top:-16px !important; text-align: right !important;}
.nav-collapse.nav-collapse-0.closed {width:100% !important;}
.Home-section{margin-top: 104px;}
}
@media only screen and (min-width: 569px) and (max-width: 640px) {
.container {margin: 0 auto; width: 99%;}
.works-box{ width: 45%; margin-left: 10px; margin-right: 10px; margin-bottom: 33px;}
.works-box:first-child{ margin-left: 10px; margin-right: 10px;}
.works-name{ font-size: 32px;}
.works-caption p{font-size: 15px; line-height: 22px;}
.plan-box{ margin-left: 2%; width: 31%;}
.plan-box:first-child{ margin-left: 0;}
.bottom-icons-box{ width: 100%;}
.app-section #navigation-menu li{ padding: 0 7px;}
.concierge-box{ width: 100%; padding: 0 25px 35px 25px;}
.pricing-box{ width: 47%; margin-left: 15px;}
.pricing-name{ font-size: 15px;}
.list-link{ font-size: 15px; padding: 33px 20px 0;}
.pricing-caption{ padding: 40px 20px 0;}
.pricing-caption h3{font-size: 18px;}
.pricing-caption ul li{ font-size: 18px;}
.contact-form{ width: 100%;}
.contact-left, .contact-right{ width: 49%;}
.contact-form label input.phoneinput{width: 80%;}
.contact-form label input.captcha{width: 182px;}
.app-section #navigation-menu li a{ font-size: 15px;}
.app-section #navigation-menu li span{ font-size: 11px;}
.plan-price span{font-size: 44px;}
.plan-price{ font-size: 30px;}
.call-text{padding: 0 0 20px 0;}
.building-btn{width: 100%;}
.building-btn span{width: 100%; font-size: 26px;}
.convenient-txt{ font-size: 26px;}
.plan-box h3{font-size: 20px;}
.popular-txt{ left:10%;}

.nav-collapse_new.signupbtn {width:100%;}
.nav-collapse_new .login-btn {margin:5px 0 !important; width: 100% !important; line-height: 36px;}
.nav-toggle { text-indent: unset !important; width:100% !important;}
.nav-toggle:before {width:100% !important; top:0px !important; text-align: right !important;}
.nav-collapse.nav-collapse-0.closed {width:100% !important;}
.Home-section{margin-top: 104px;}
}

@media only screen and (min-width: 481px) and (max-width: 568px) {
.container {margin: 0 auto; width: 99%;}
.nav-toggle { text-indent: unset !important; width:100% !important; line-height: 55px;}
.nav-toggle:before {width:100% !important; top:0 !important; text-align: right !important;}
.nav-collapse.nav-collapse-0.closed {width:100% !important;}
.works-box{ width: 45%; margin-left: 10px; margin-right: 10px; margin-bottom: 33px;}
.works-box:first-child{ margin-left: 10px; margin-right: 10px;}
.works-name{ font-size: 32px;}
.works-caption p{font-size: 15px; line-height: 22px;}
.plan-box{ margin-left: 2%; width: 31%;}
.plan-box:first-child{ margin-left: 0;}
.bottom-icons-box{ width: 100%;}
.app-section #navigation-menu li{ padding: 0 7px;}
.concierge-box{ width: 100%; padding: 0 25px 35px 25px;}
.pricing-box{ width: 47%; margin-left: 15px;}
.pricing-name{ font-size: 15px;}
.list-link{ font-size: 15px; padding: 33px 20px 0;}
.pricing-caption{ padding: 40px 20px 0;}
.pricing-caption h3{font-size: 18px;}
.pricing-caption ul li{ font-size: 18px;}
.contact-form{ width: 100%;}
.contact-left, .contact-right{ width: 49%;}
.contact-form label input.phoneinput{width: 78%;}
.app-section #navigation-menu li a{ font-size: 15px;}
.app-section #navigation-menu li span{ font-size: 11px;}
.plan-price span{font-size: 44px;}
.plan-price{ font-size: 30px;}
.call-text{padding: 0 0 20px 0;}
.building-btn{width: 100%;}
.building-btn span{width: 100%; font-size: 19px;}
.convenient-txt{ font-size: 19px;}
.plan-box h3{font-size: 20px;}
.popular-txt{ left:10%;}
.nav-collapse_new.signupbtn{ width: 100%;}
.nav-collapse_new .login-btn{ margin: 5px 0 0px 0px; width: 100%; line-height:36px;}
}

@media only screen and (min-width: 381px) and (max-width: 480px) {
.container {margin: 0 auto; width: 99%;}
.logo{padding: 15px 30px 25px;width: 100%;}
.works-box{ width: 68%; margin-left: 10px; margin-right: 10px; margin-bottom: 33px;}
.works-box:first-child{ margin-left: 10px; margin-right: 10px; margin-bottom: 33px;}
.works-name{ font-size: 32px;}
.works-caption p{font-size: 15px; line-height: 22px;}
.plan-box{ margin-left: 2%; width: 48%;}
.plan-box:last-child{margin-left: 0; margin-top: 20px;}
.plan-box:first-child{ margin-left: 0;}
.bottom-icons-box{ width: 100%;}
.app-section #navigation-menu li{ padding: 0 7px;}
.concierge-box{ width: 100%; padding: 0 25px 35px 25px;}
.pricing-box{ width: 80%; margin-left: 0px; margin-top: 20px;}
.contact-form{ width: 100%;}
.contact-left, .contact-right{ width: 80%; float: none;}
.contact-form label input.phoneinput{width: 84.2%;}
.app-section #navigation-menu li a{ font-size: 15px;}
.app-section #navigation-menu li span{ font-size: 11px;}
.plan-price span{font-size: 44px;}
.plan-price{ font-size: 30px;}
.call-text{padding: 0 0 20px 0;}
.building-btn{width: 100%;}
.building-btn span{width: 100%; font-size: 26px;}
.convenient-txt{ font-size: 25px; padding-bottom: 30px;}
.plan-box h3{font-size: 20px;}
.popular-txt{ left:16%;}
.building-btn span a{font-size: 19px;}

.nav-collapse_new.signupbtn {width:100%;}
.nav-collapse_new .login-btn {margin:5px 0 0 0!important; width: 100% !important; line-height: 36px;}
.nav-toggle { text-indent: unset !important; width:100% !important;}
.nav-collapse.nav-collapse-0.closed {width:100% !important;}
.nav-toggle{ height: 30px; line-height: 30px; margin-bottom: 5px;} 
.nav-toggle:before {width:100% !important; top:0px !important; text-align: right !important; font: 30px/30px "responsivenav";}

.Home-section {
    margin-top: 79px;
}

#request_content .row > label {
    width: 100% !important;
}
#request_content span.wpcf7-not-valid-tip {width:200px !important;}
.building-btn span{line-height:55px;}
}


@media only screen and (min-width: 320px) and (max-width: 380px) {
.container {margin: 0 auto; width: 99%;}
.logo{padding: 15px 15px 25px;width: 100%;}
.works-box{ width: 90%; margin-left: 10px; margin-right: 10px; margin-bottom: 33px;}
.works-box:first-child{ margin-left: 10px; margin-right: 10px; margin-bottom: 33px;}
.works-name{ font-size: 32px;}
.works-caption p{font-size: 15px; line-height: 22px;}
.plan-box{ margin-left: 0%; width: 80%; margin-bottom: 20px;}
.plan-box:last-child{margin-left: 0; margin-top: 0px;}
.plan-box:first-child{ margin-left: 0;}
.bottom-icons-box{ width: 100%;}
.app-section #navigation-menu li{ padding: 0 7px;}
.concierge-box{ width: 100%; padding: 0 25px 35px 25px;}
.pricing-box{ width: 80%; margin-left: 0px; margin-top: 20px;}
.contact-form{ width: 100%;}
.contact-left, .contact-right{ width: 90%; float: none;}
.contact-form label input.phoneinput{width: 79.2%;}
.app-section #navigation-menu li a{ font-size: 15px;}
.app-section #navigation-menu li span{ font-size: 11px;}
.plan-price span{font-size: 44px;}
.plan-price{ font-size: 30px;}
.call-text{padding: 0 0 20px 0;}
.building-btn{width: 100%;}
.building-btn span{width: 100%; font-size: 26px;}
.convenient-txt{ font-size: 25px; padding-bottom: 30px;}
.plan-box h3{font-size: 20px;}
.popular-txt{ left:22%;}
.building-btn span{font-size: 13px;}
.call-text p, .email-text p{ font-size: 18px;}
.copyright-text{line-height: 20px; padding: 30px 30px 0;}

.nav-collapse.signupbtn {width:100%; margin-top: -25px;}
.nav-toggle { text-indent: unset !important; width:100% !important;}
.nav-toggle:before {width:100% !important; top:-16px !important; text-align: right !important;}
.nav-collapse.nav-collapse-0.closed {width:100% !important;}

.nav-collapse_new.signupbtn {width:100%;}
.nav-collapse_new .login-btn {margin:5px 0 0 0 !important; width: 100% !important; line-height: 36px;}
.nav-toggle{ height: 30px; line-height: 30px; margin-bottom: 5px;}
.nav-toggle:before {width:100% !important; top:0px !important; text-align: right !important; font: 30px/30px "responsivenav";}

.Home-section {margin-top: 79px;}
#request_content .row > label {width: 100% !important;}

#request_content span.wpcf7-not-valid-tip {width:230px !important;}
.building-btn span{line-height:55px;}
.habla_window_div_base.hbl_pal_main_width.olrk-fixed-top.olrk-fixed-right {
 margin: 0px -5px 0px 0px !important;
}
#habla_window_div #habla_topbar_div {
  text-align: center !important;
}
#habla_window_div #habla_middle_div {
  padding: 6px 33px 3px 50px  !important;
}
}
@media only screen and (min-width: 360px) and (max-width: 380px) {
.contact-form label input.phoneinput{width: 81.2%;}
.nav-collapse.signupbtn {width:100%;}

#login {
  width: 300px !important;
}
#wp-auth-check-wrap #wp-auth-check {
  margin: 0 0 0 -172px !important;
  width: 300px !important;
  left:56% !important;
}
div.wpcf7-response-output{margin:0px !important; padding:0px !important;}
.habla_window_div_base.hbl_pal_main_width.olrk-fixed-top.olrk-fixed-right {
 margin: 0px !important;
}
}

@media (max-width: 800px) {
.nav-collapse {:100%!important; z-index:1000; position:relative; padding: 0;}
.nav-collapse li {display:block; margin:0; padding:0px; text-align:left;}
.nav-collapse li a { color:#; font-size:16px; padding:10px;}
.nav-collapse li.login-btn{ margin: 0; border: none;}
.nav-collapse li.login-btn div{ width: 100%;  float: left; border: none;}
.nav-collapse li.login-btn a{ font-size: 16px; color: #fff; display:inline-block; text-align: left;}
.nav-collapse li.login-btn a:hover{ color: #fff;}
.nav-collapse li.login-btn div span{ display: none;}

.nav-collapse.signupbtn {text-align: center !important;}
}

@media screen and (min-width: 58em) {
    {padding: 0;}
    
}