@charset "utf-8";
/* CSS Document */

/*
Theme Name: zerolaundry	
Theme URI: http://www.zerolaundry.com
Description: zerolaundry
Version: 1.0
Author: ***
Author URI: http://www.zerolaundry.com
Design by: Zero Laundry
URl : http://www.zerolaundry.com

*/


/* ============================================================================================================================ */

span.wpcf7-form-control-wrap{display:inline !important; width:auto !important; float:none !important; margin:0px !important;}
span.wpcf7-form-control-wrap.countrycode{display:inline-block !important; width:48px !important; float:left !important;}

span.wpcf7-form-control-wrap.phone{margin:0px;}
input.wpcf7-form-control.wpcf7-text.input.phoneinput {
margin-left: 10px !important;
}

.well {
        box-shadow: 0 0 10px rgba(0,0,0,0.3);
	display:none;
        margin:1em;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	margin-bottom: 20px;
	min-height: 20px;
	padding: 19px;
}
.well h2
{
  color: #000;
  display: block;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
  padding: 0 0 15px 0;
}
.well p {
  color: #000;
  display: block;
  font-size: 14px;
  line-height: 17px;
  padding: 0 0 15px 0;
  text-align: left;
  float: left;
  width: 100%;
}
.well p strong {
  font-weight: bold;
}
.well .btn-default {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: medium none;
  font-size: 15px;
  position: absolute;
  right: 4px;
  top: 5px;
  width: auto;
}
#policybtm, #terms_content{height:400px; overflow-y:scroll;}
#request_content{height:600px; overflow-y:scroll;}
div.ptp-item-container {border:2px solid #a7a7a7 !important;
    border-radius: 5px;
    display: inline-block;
    /*margin-left:103px !important;*/
    position: relative;
    width: 270px;
    z-index: 1;}
div.ptp-plan {color: #000 !important;
    display: block !important;
    font-size: 26px !important;
    font-weight: bold !important;
    line-height: 30px !important;
    padding: 40px 0 28px !important;
    text-transform: uppercase; background:none !important;}
div.ptp-price {background: none repeat scroll 0 0 #a7a7a7 !important;
    color: #ffffff !important;
    display: block !important;
    font-family: "Droid Serif",serif !important;
    font-size: 40px !important;
    line-height: 62px !important;
    padding: 10px 0 !important;}
div.ptp-bullet-item { border-bottom: 1px solid #ff7300 !important;
    color: #2c2c2c !important;
    display: block !important;
    font-size: 12px !important;
    line-height: 16px !important;
    padding: 14px 0 12px !important; background:#e7e7e7 !important;}
a.ptp-button {width: 48% !important;}
div.ptp-most-popular {background: none repeat scroll 0 0 #0199fe !important;
    border-radius: 5px !important; position: absolute !important; z-index: 10 !important;
    color: #fff !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    left: 44% !important;
    line-height: 26px !important;
    text-transform: uppercase !important;
    top: -14px !important;padding:0 !important;
    width: 155px !important;}
.right_img {padding:0 4px 0 0 !important;}
.ptp-col {position: relative !important;}
.ptp-not-most-popular { display: none !important;}

.interim-login #login{width:auto;}
.ptp-most-popular{margin-left:-50px;}

.nav-collapse.signupbtn {
    float: right;
    width: auto;
}

.nav-collapse.nav-collapse-0.closed{width:auto;}
.app-section.section .nav-collapse {
    z-index: 10;
}

span.wpcf7-not-valid-tip{
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
	color: #fff !important;
	margin-top: 5px !important;
	width: 300px !important;
}


div#wpcf7-f213-o2 {
    float: left;
    width: 100%;
    margin-top: 5px;
}

#request_content .row {
    float: left;
    width: 100%;
}
#request_content .row label{
    float: left;
    width: 50% !important;
}
#request_content .row label label{width:100% !important;}
#request_content .row input {
    padding: 5px;
    float: left;
    width: 90%;
    margin: 0px 15px 10px 0 !important;
	border: 1px solid #a7a7a7;
}
#request_content .row textarea.wpcf7-form-control.textarea {
    float: left;
    width: 90%;
	border: 1px solid #a7a7a7;
	padding: 5px;
	height:128px; !important;
}

@-moz-document url-prefix() { 
  #request_content .row textarea.wpcf7-form-control.textarea {
     height:113px !important;
  }
 #request_content{height:570px;}
}
#request_content .row br {
    display: none !important;
}

#request_content .row input[type="checkbox"] {
    margin-right: 0px !important;
    margin-bottom: 0px !important;
	float: left;
	width: auto;
	margin-top: 3px !important;
}
span.wpcf7-list-item-label {
    margin: 0px;
}

#request_content .wpcf7-list-item-label{
float: left;
width: 89%;
margin-left: 5px;}

#request_content label:nth-child(2){
float: left;
width: 45%;

}

#request_content input#submit {
border: 1px solid #ffb273;
background: #ff7300;
width: 204px;
text-align: center;
line-height: 45px;
display: block;
}
#request_content span.wpcf7-not-valid-tip {
    float: left;
    position: relative;
    top: -10px;
    color: #F00 !important;
    font-size: 13px;
}
#request_content p{font-size: 16px;
line-height: 24px;
color: #000;
font-weight: 400; padding-bottom:10px}

.nav-collapse_new .login-btn a {
    background: none repeat scroll 0 0 #ff7300;
    color: #fff;
    display: inline-block;
    float: left;
    font-size: 20px;
    font-weight: 700;
    margin: 0 !important;
    padding: 3px 10px;
}

.nav-collapse_new .login-btn a:hover, #request_content input#submit:hover{background:#03b0ff !important; border: #03b0ff;}
#request_content .submit-btn{padding: 15px 0 0 3px !important;}
#request_content .wpcf7-response-output{border:none !important;}
.habla_window_div_base.hbl_pal_main_width.olrk-fixed-top.olrk-fixed-right {
  top: auto !important;
  bottom: 0px !important;
}
#habla_window_div.olrk-fixed-top .habla_panel_border {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;	
}
.olrk-state-compressed .olrk-fixed-top #habla_sizebutton_a {
  background-position: -81px top !important;
}
.hbl_txt_wrapper textarea[name="habla_offline_body_input"] {
  height: 40px !important;
}
#habla_window_div .habla_offline_error_span, #habla_window_div #habla_pre_chat_error_span {
  line-height: 12px !important;
}
#habla_window_div #habla_offline_message_span {
 
  line-height: 16px !important;
  margin-bottom: 0 !important;
}

#habla_panel_div > div .habla_topbar_div_normal.hbl_pal_title_fg.hbl_pal_title_bg.habla_topbar_div_compressed .habla_button.habla_button_a_normal.hbl_pal_header_font_size.hbl_pal_button_bg.hbl_pal_button_fg {
    background-position: -81px top !important;
}
