h1, .h1 {
    color: #7f7f7f;
    font-size: 36px;
    font-weight: 300;
}

h2, .h2 {
    color: #00a9dd;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 28px;
}

h3, .h3 {
    color: #7f7f7f;
    font-size: 21px;
    line-height: 28px;
}
h4, .h4 {
    color: #7f7f7f;
    font-size: 28px;
    font-weight: 300;
}

h5, .h5 {
    color: #00a9dd;
    font-size: 24px;
}

h6, .h6 {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
}
p {
    color: #7f7f7f;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 30px;
}

a {
    color: #00a9dd;
}

li {
    color: #7f7f7f;
    font-family: "Sanchez";
    font-size: 16px;
    line-height: 30px;
}

.button, .button span {
    background-color: #00a9dd;
    border: medium none;
    border-radius: 0;
    color: #ffffff;
    display: inline-block;
    padding: 5px 10px;
}

/***** HEADER STYLES *****/

#wrapper-1 {
    background-color: #808080;
    background-position: left top;
    background-repeat: repeat;
    border-bottom-style: none;
    border-top-style: none;
    position: fixed;
    width: 100%;
    z-index: 99;
}

/***** MENU STYLES *****/


.ddsmoothmenuh ul li a {
    color: #fff;
    display: block;
    font-size: 16px;
    font-weight: lighter;
    padding: 16px 10px;
    text-decoration: none;
}

.ddsmoothmenuh ul li ul li a {
    border-top-width: 0;
    margin: 0;
    padding: 5px;
    width: 220px;
    background: #00a9dd;
    color: #ffffff;
}
.ddsmoothmenuh ul li ul li a:hover {
    background: #4a4a4a;
    color: #ffffff;
}

/***** FORM STYLES *****/

.gform_wrapper .top_label .gfield_label {
    clear: both;
    color: #00a9dd;
    display: inline-block;
    font-family: "Sanchez";
    margin: 0.625em 0 0.5em;
}

.gform_wrapper .ginput_complex label, .gform_wrapper .gfield_time_hour label, .gform_wrapper .gfield_time_minute label, .gform_wrapper .gfield_time_ampm label, .gform_wrapper .gfield_date_month label, .gform_wrapper .gfield_date_day label, .gform_wrapper .gfield_date_year label, .gform_wrapper .instruction {
    color: #7f7f7f;
    display: block;
    font-size: 0.875em;
    letter-spacing: 0.5pt;
}


/***** SOCIAL STYLES *****/

.social-icon-circle-facebook::before {
    content: "";
    padding-right: 8px;
}