/*boostrap mods*/
        
        .btn-primary {
        	margin-top: 3px;
            margin-bottom: 3px;
            background-color: #007bc8;
            background-image: -ms-linear-gradient(top, #0A8DD3, #007bc8);
            background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0A8DD3), to(#007bc8));
            background-image: -webkit-linear-gradient(top, #0A8DD3, #007bc8);
            background-image: -o-linear-gradient(top, #0A8DD3, #007bc8);
            background-image: -moz-linear-gradient(top, #0A8DD3, #007bc8);
            background-image: linear-gradient(to bottom, #0A8DD3 0%,#007bc8 100%);
            background-repeat: repeat-x;
            border-color: #007bc8!important;    
            filter: progid:dximagetransform.microsoft.gradient(startColorstr='#0A8DD3', endColorstr='#007bc8', GradientType=0);
            filter: progid:dximagetransform.microsoft.gradient(enabled=false);
        }
        
        .btn-primary:hover,
        .btn-primary:active,
        .btn-primary.active,
        .btn-primary.disabled,
        .btn-primary[disabled] {
          background-color: #0A8DD3;
          *background-color: #007bc8;
        }
        
        .btn-success {
        	margin-top: 3px;
            margin-bottom: 3px;
            background-color: #007bc8;
            background-image: -ms-linear-gradient(top, #0A8DD3, #007bc8);
            background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0A8DD3), to(#007bc8));
            background-image: -webkit-linear-gradient(top, #0A8DD3, #007bc8);
            background-image: -o-linear-gradient(top, #0A8DD3, #007bc8);
            background-image: -moz-linear-gradient(top, #0A8DD3, #007bc8);
            background-image: linear-gradient(top, #0A8DD3, #007bc8);
            background-repeat: repeat-x;
            border-color: #007bc8!important;
            filter: progid:dximagetransform.microsoft.gradient(startColorstr='#0A8DD3', endColorstr='#007bc8', GradientType=0);
            filter: progid:dximagetransform.microsoft.gradient(enabled=false);
        }
        
        .btn-success:hover,
        .btn-success:active,
        .btn-success.active,
        .btn-success.disabled,
        .btn-success[disabled] {
          background-color: #0A8DD3;
          *background-color: #007bc8;
        }
        
        .btn-danger {
        	margin-top: 3px;
            margin-bottom: 3px;
            background-color: #007bc8;
            background-image: -ms-linear-gradient(top, #0A8DD3, #007bc8);
            background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0A8DD3), to(#007bc8));
            background-image: -webkit-linear-gradient(top, #0A8DD3, #007bc8);
            background-image: -o-linear-gradient(top, #0A8DD3, #007bc8);
            background-image: -moz-linear-gradient(top, #0A8DD3, #007bc8);
            background-image: linear-gradient(top, #0A8DD3, #007bc8);
            background-repeat: repeat-x;
            border-color: #007bc8!important;
            filter: progid:dximagetransform.microsoft.gradient(startColorstr='#0A8DD3', endColorstr='#007bc8', GradientType=0);
            filter: progid:dximagetransform.microsoft.gradient(enabled=false);
        }
        
        .btn-danger:hover,
        .btn-danger:active,
        .btn-danger.active,
        .btn-danger.disabled,
        .btn-danger[disabled] {
          background-color: #0A8DD3;
          *background-color: #007bc8!important;
        }
        
        .btn-info {
        	margin-top: 3px;
            margin-bottom: 3px;
            background-color: #007bc8;
            background-image: -ms-linear-gradient(top, #0A8DD3, #007bc8);
            background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0A8DD3), to(#007bc8));
            background-image: -webkit-linear-gradient(top, #0A8DD3, #007bc8);
            background-image: -o-linear-gradient(top, #0A8DD3, #007bc8);
            background-image: -moz-linear-gradient(top, #0A8DD3, #007bc8);
            background-image: linear-gradient(top, #0A8DD3, #007bc8);
            background-repeat: repeat-x;
            border-color: #007bc8!important;
            filter: progid:dximagetransform.microsoft.gradient(startColorstr='#0A8DD3', endColorstr='#007bc8', GradientType=0);
            filter: progid:dximagetransform.microsoft.gradient(enabled=false);
        }
        
        .btn-info:hover,
        .btn-info:active,
        .btn-info.active,
        .btn-info.disabled,
        .btn-info[disabled] {
          background-color: #00ACCE;
          *background-color: #007bc8;
        }
        
        .calloutBannerPic {
		    width: 60%;
		}
		
		.calloutBannerText div {
			float:none!important;
		}

	    
	    .kiosk-access-buttons {		    
		    bottom: 35px;		
	    }
	    	    	    
		#kiosk_cardNumber {
		    /*text-indent: 10em;*/
		    width: 165px;
		}	  
				
		.alert>img {
			display:inline;
		}
		@media (max-width: 979px) {
			.navbar-inner {
				/*margin-top: 110px*/
			}   
			.navbar .nav>li {
				clear:both;
			}
			
			 #mainContent{
		      	margin-left: 24px;
	    		margin-right: 25px;
		     }			
			.container>.row>.col-md-12{
				background-color: #1A1A1A;
			}
			.breadcrumb {
				margin-top: 44px;
			}
	        .navbar-fixed-top {	        
	          height: 15px !important;
	        }	
	        .navbar-header {
	        	margin-top: 45px;
	        	margin-left: 30px;
	        	height: 100px;	        	
	        }
   	
	        .navbar-fixed-top.is-scrolling, .navbar-fixed-top.innernav {    
    			height: 180px;
	        }
		 }
		 
		 #mainContent{
	      	margin-top: 130px;
	      	margin-left: 24px;
    		margin-right: 25px;
	     }
	     .page-header {
	         text-align: left;
	         font-size: 25px;
	     }

	     h3 {
    		font-size: 20px;
    		text-align: left;
    		text-decoration: none;
    		color: #000;
	     }
	     a {
    		text-decoration: none!important;
	     }
	     
	     #wsb-canvas-template-footer{
	     	margin-top: 20px!important;
	     }
     
     	.nav-collapse{
     		background-color: #323232;
     	}
     	
     	.btn [class^="icon-"] {
		     margin-right: -14px; 
		}
		
		.container>.span9 {
			margin-left :0!important;
		}
		
		 .breadcrumb>li+li:before {
		    content: "";
	     }

	     .breadcrumb{
	        white-space: nowrap;
	     }