/* -- HEADER -- */


.jumbotron {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height:12rem;
}

.jumbotron .container.header {
    padding: 1rem;
    width: 100%;
    min-width: 1280px;
    height: 15rem;
    z-index: 1;
    background: url('/images/dropnlock/shape_1.png') no-repeat;
    background-size: 100% 180px;
}

.navbar {
	width: 65%;
	margin: 0 auto;
	margin-top: 1rem;


}

.navbar .nav>li {
	width: 9.6rem;
	margin-left:.5rem;
}

.navbar .nav>li:hover {
	background-color: #FFF;
}

.navbar .nav>li>a {
    font: normal normal normal 15px/1.4em helvetica-w01-roman,helvetica-w02-roman,helvetica-lt-w10-roman,sans-serif;
	text-decoration: none;
	background-color: rgba(233, 233, 233, 1);
    border: solid rgba(0, 0, 0, 1) 2px;
    cursor: pointer !important;
    text-align: center;
    height: 1rem;
    color: #000;
    text-shadow: none;
}

.navbar .nav>li>a:hover {
    color: #000;
}

h1 {
	color: #333;
	font-size: 24px;
    line-height: 36px;
	font-family: inherit;
    font-weight: bold;
    text-rendering: optimizelegibility;
}


/* -- POST -- */
.main {
	width: 75%;
	margin: 0 auto;
}

.clear {
	clear:both;
}

footer .container {
	width: 100%;
     background-color: #214D10;
    height: 9rem;
}

footer .text {
	padding: 2rem;
	font: normal normal normal 15px/1.4rem din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
    color: #FFFFFF;
}

.shape_3 {
    left:-1px;top:25px;width:338px;height:151px;z-index:3;float:left;
}

.shape_4 {
    left:35px;top:142px;width:298px;height:34px;z-index:4;position:absolute;
}

.shape_5 {
    left:403px;top:27px;width:440px;height:66px;z-index:5;position:absolute;
}

.Style1 {
    line-height: 48px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Helvetica-Bold','Helvetica',sans-serif;
    font-size: 48px;
    font-weight: 700;
    margin: 0;
    color: #FEFFFF;
    word-wrap: break-word;
}

.Style2 {
    line-height: 24px;
    text-align: center;
    margin-bottom: 6px;
    margin-top: 0px;
    font-family: 'Helvetica',sans-serif;
    font-size: 24px;
    margin: 0;
    color: #FEFFFF;
    word-wrap: break-word
}

.Style3 {
    line-height: 36px;
    text-align: center;
    margin-bottom: 1.5px;
    margin-top: 0px;
    font-family: 'Helvetica-Bold','Helvetica',sans-serif;
    font-size: 36px;
    font-weight: 700;
    margin: 0;
    color: #FEFFFF;
    word-wrap: break-word;
}

.Style5 {
    line-height: 12px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 5.25px;
    font-family: 'Helvetica-Bold','Helvetica',sans-serif;
    font-size: 12px;
    font-weight: 700;
    margin: 0;
    color: #FEFFFF;
    word-wrap: break-word;
}

.Style6 {
    line-height: 18px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 5.25px;
    font-family: 'Helvetica-Bold','Helvetica',sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    color: #FEFFFF;
    word-wrap: break-word;
}

.Style7 {
    line-height: 15px;
    text-align: center;
    margin-bottom: 5.25px;
    margin-top: 0px;
    font-family: 'Helvetica-Oblique','Helvetica',sans-serif;
    font-size: 15px;
    font-style: oblique;
    margin: 0;
    color: #FEFFFF;
    word-wrap: break-word;
}

.logo {
    position: absolute;
    margin: 0;
    top:1rem;
    float: right;
    right: -20rem;
}

.logo img {
    width: 30%;
}

.shape_6 {
    margin-top: -3rem;
}

.Style10 {
    line-height: 42px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 3.75px;
    font-family: 'ArialNarrow-Bold','Arial Narrow';
    font-size: 36px;
    font-weight: 700;
    margin: 0;
    color: #8EE998;
    word-wrap: break-word;
}

.Style11 {
    line-height: 36px;
    font-family: 'Helvetica-Bold','Helvetica',sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #FEFFFF;
    word-wrap: break-word;
}

.Style13 {
    line-height: 13px;
    text-align: center;
    margin-bottom: 11.25px;
    margin-top: 0px;
    font-family: 'Verdana',sans-serif;
    font-size: 11px;
    margin: 0;
    color: #FEFFFF;
    word-wrap: break-word;
}

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 30px;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn-primary, .btn-info, .btn-success {
    background: #214D10;
    color: #ffffff;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#71be3b+0,20470f+100 */
    background: #71be3b; /* Old browsers */
    background: -moz-linear-gradient(top,  #71be3b 0%, #20470f 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #71be3b 0%,#20470f 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #71be3b 0%,#20470f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#71be3b', endColorstr='#20470f',GradientType=0 ); /* IE6-9 */
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #214D10;
}
 
.btn-primary:active, .btn-primary.active {
    background: #214D10;
    box-shadow: none;
}

a, a:hover {
    color: #214D10;
    text-decoration: none;
}


.alert.alert-info {
    background-color: #FFF;
    border-color: #214D10;
}

.alert.alert-info p, h2, h3, h1 {
    color: #214D10;
}