  @import "../account/base";


@font-face {
  font-family: "alegreya-sans";
  src: url("/fonts/laundryboxde/alegreya-sans.woff2") format('woff2');
}

@font-face {
  font-family: "roboto-light";
  src: url("/fonts/laundryboxde/roboto-light.woff2") format('woff2');
}

body {
  overflow-x: hidden;
}

body, h1, h2 {
  font-family: "alegreya-sans", sans-serif;
  color: #666;
}

#header {
  height: 85px;
}

.container {
  padding: 0px;
}

#account-content .container {
  margin-top: 10px;
}

.navbar {
  position: absolute;
  left: 0;
  right: 0;
  background: #f5f5f5;
  padding: 15px 0;
  height: 55px;
}

.navbar .logo {
  float: left;
}

.navbar .nav {
  float: right;
  margin-top: 7px;
}

.navbar-inner-menu {
  width: 990px;
  margin: 0 auto;
  padding-left: 5px;
  padding-right: 5px;
}
.navbar .nav > li > a {
  text-transform: uppercase;
  float: none;
  padding: 10px;
  font-size: 16px;
  font-weight: normal ;
  text-decoration: none;
  text-shadow: none;
  letter-spacing: 2.24px;
  line-height: 24px;
  color: #404040;
}

.navbar .nav > li > a:hover {
  text-decoration: none;
  color: #969696;
}

@media (max-width: 979px) {
  body {
    padding: 0;
  }
  #main_menu {
    margin: 0 -15px;
    background-color: #F5F5F5;
    li {
      border-bottom: 1px solid #D3D3D3;
      a {
        padding-left: 15px;
      }
    }
  }
  .navbar {
    position: absolute !important;
    padding: 15px;
    z-index: 0;
    .nav {
      width: 100%;
    }
    .container {
      .btn-navbar {
        background-color: #666;
        background-image: none;
      }
    }
  }

  #account-content {
    > .span10 {
      padding: 0 20px;
    }
    .navbar {
      padding: 0;
      margin: 85px 0 0 0;
      width: 100%;
      .navbar-inner {
        padding: 5px 20px;
        background-color: #1790cf;
        background-image: none;
        a {
          color: #FFF;
        }
      }
      .nav {
        width: 100%;
      }
    }
    .container {
      margin-top: 140px !important;
    }
  }
}

.alert-info, .btn-primary, .btn-success   {
  background: #f5f5f5;
  color: #666;
  border: 0;
  border-radius: 0;
}

.alert-info * {
  text-shadow: none;
}

.menu-item a, #default_account_nav ul a, .user-info-box a {
  color: #666;
}

.menu-item a:hover, #default_account_nav ul a:hover, .user-info-box a:hover {
  color: #666;
  text-decoration: none;
}

.user-info-box a.btn {
  color: #FFF;
}

#default_account_nav ul {
  list-style: none;
  margin-left: 0;
}

.btn-info, .btn-success, .btn-primary {
  background-image: none;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  background-color: #969696;
  color: #FFF;
}

.page-header {
  color: #666;
  border-bottom-color: #666;
}

#footer {
  position: absolute;
  left: 0;
  background: #4b626d;
  color: #CCC;
}

#footer p, #footer a {
  color: #CCC;
  font-family: "alegreya-sans", sans-serif;
  font-size: 16px;
}

#footer hr {
  border-color: #969696;
}

#footerPrivacy {
  position: absolute;
  left: 0;
  margin-top: 410px;
  padding: 20px 0;
  background: #2a2a2a;
  font-family: "roboto-light", sans-serif;
  font-size: 12px;
  color: #FFF;
}

#footerPrivacy a {
  text-decoration: none;
  color: #FFF;
  font-weight: 300;
  line-height: 19px;
}

#footerServices, .footerSpan p, .footerSpan a {
  font-size: 15px;
  font-weight: 100;
  font-family: district-pro;
  line-height: 24px;
  margin: 0;
  color: #FFF;
}

ul#footerServices li {
  vertical-align: top;
  line-height: 24px;
}

#footerServices li:first-child {
  margin-right: 10px;
}

.footerSpan {
  padding: 30px 15px;
  margin-top: 15px;
  color: white;
  text-align: left;
  margin: 0;
  width: 220px;
}

.footerSpan a:hover {
  text-decoration: none;
}

.footerTitle {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: #FFF;
  margin-bottom: 12px;
}

.footerLogo {
  text-align: center;
  padding: 40px 0;
  margin: 0 auto;
}