/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Response */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

@media only screen and (min-width: 1280px) {

	.wtrSectionInner,
	.wtrParellaxInner,
	.wtrVideoBgSectionInner,
	.searchLayerIn,
	.contentFullWidthIn,
	.contentIn,
	.headAddonsIn,
	.headerIn,
	.middleSecIn,
	.middleSecIn,
	.portfolioContentIn,
	.footerAddonsIn,
	.portfolioOthersIn,
	.footerCopyIn{
		width:1200px;
	}

	.navBtn{ display: none; }
	.sidebarPortfolio #galContainer .col-one-three{ width: 30.6%; }

}

@media only screen and (min-width: 1140px) and (max-width: 1280px) {

	.wtrSectionInner,
	.wtrParellaxInner,
	.wtrVideoBgSectionInner,
	.searchLayerIn,
	.contentFullWidthIn,
	.contentIn,
	.headAddonsIn,
	.headerIn,
	.middleSecIn,
	.middleSecIn,
	.portfolioContentIn,
	.footerAddonsIn,
	.portfolioOthersIn,
	.footerCopyIn{
		width:1040px;
	}

	.wonsterPostImg img{
		width: 100%;
		height: auto;
	}

	.navBtn{ display: none; }

	.subItem{
		padding: 15px 35px 15px 15px !important;
	}

	.subItem:before{
		right: 5px;
	}

	.sidebarPortfolio .col-one-two{ width: 47.9%;}
	.portfolioContentIn .col-one-two{ width:47.9%; }
	.portfolioContentIn .col-one-two
	{
		float:left;
		margin-right:4%;
		margin-bottom:2em;
	}

	.blogStream .col-one-two {
		width: 49.9%;
	}

	.blogStream .col-one-three{
		width: 33.3%;
		margin-bottom: 30px;
	}

	.wtrRelatedPostItemNoPhotoContainer{
		min-height: 168px;
	}

	.col-two-three .wtrRelatedPostItemNoPhotoContainer{
		min-height: 110px;
	}

	.col-two-three .wtrRelatedPostsContainer .blogItemDate{
		padding: 6px 5px 6px 5px;
	}

	.col-two-three .wtrRelatedPostsContainer .blogItemComm{
		padding: 6px 5px 6px 30px;
	}

	.inPostQuoteL,
	.inPostQuoteR{
		width: 48%;
		margin: 20px 0px 20px 0px !important;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: 	border-box;
		box-sizing: 		border-box;
	}

}

@media only screen and (min-width: 989px) and (max-width: 1140px) {

	.wtrSectionInner,
	.wtrParellaxInner,
	.wtrVideoBgSectionInner,
	.searchLayerIn,
	.contentFullWidthIn,
	.contentIn,
	.headAddonsIn,
	.headerIn,
	.middleSecIn,
	.middleSecIn,
	.portfolioContentIn,
	.footerAddonsIn,
	.portfolioOthersIn,
	.footerCopyIn{
		width:920px;
	}

	.navBtn{ display: none; }
	.subItem{ padding: 15px 30px 15px 10px !important; }
	.mainMenu li a{ padding: 15px 10px;}

	.subItem:before{ right: 2px; }

	.wonsterPostImg img{
		width: 100%;
		height: auto;
	}

	.fourZeroFour{ margin: 0px 0px; }
	.fourZeroFour .errorScreen{ margin-bottom: 40px; }

	.fourZeroFour .col-one-three{ margin-bottom: 30px; }

	.fullWidthContentBoxes .col-one-three,
	.fullWidthContentBoxes .col-one-two,
	.fullWidthContentBoxes .col-one-four {
		margin-bottom: 20px;
	}

	.portfolioContentIn .col-one-two{ width:47.9%; }
	.portfolioContentIn .col-one-two{
		float:left;
		margin-right:4%;
		margin-bottom:2em;
	}

	.portfolioItem{ float: none; }
	.portfolioContentIn .col-one-two{ width:47.9%; }
	.blogStream .col-one-two { width: 49.9%; }

	.blogStream .col-one-three{
		width: 33.3%;
		margin-bottom: 30px;
	}

	.col-two-three .wtrRelatedPostItemNoPhotoContainer{
		min-height: 108px;
	}

	.wtrRelatedPostItemNoPhotoContainer{
		min-height: 148px;
	}

	.col-two-three .wtrRelatedPostItemNoPhoto,
	.col-two-three .wtrRelatedPostsItem{
		width: 100%;
	}

	.inPostQuoteL,
	.inPostQuoteR{
		width: 48%;
		margin: 20px 0px 20px 0px !important;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: 	border-box;
		box-sizing: 		border-box;
	}

}

@media only screen and (min-width: 768px) and (max-width: 989px) {

	.fullWidthContentBoxes .col-one-three,
	.fullWidthContentBoxes .col-one-two,
	.fullWidthContentBoxes .col-one-six,
	.fullWidthContentBoxes .col-one-five,
	.fullWidthContentBoxes .col-one-four{
		margin-bottom: 20px;
	}

	.navBtn{ display: block; }
	.mainNavi{ display: none; }
	.wtrStickyHead{ display: none !important; }

	.headerIn .mainLogo{
		width:100%;
		display:block;
		text-align:left;
		height: auto;
		float: none;
	}

	.wonsterPostImg img{
		width: 100%;
		height: auto;
	}

	.headerIn h1{ float: left; }

	.wtrSectionInner,
	.wtrParellaxInner,
	.wtrVideoBgSectionInner,
	.searchLayerIn,
	.contentFullWidthIn,
	.contentIn,
	.headAddonsIn,
	.headerIn,
	.middleSecIn,
	.middleSecIn,
	.portfolioContentIn,
	.footerAddonsIn,
	.portfolioOthersIn,
	.footerCopyIn{
		width:680px;
	}

	.col-one-two,
	.col-two-three,
	.col-one-three,
	.col-three-four,
	.col-three-five,
	.col-four-five,
	.col-two-five,
	.col-five-six,
	.col-one-four,
	.col-one-five,
	.col-one-six{
		width: 100%;
		margin: 0px;
	}

	.postInside .col-one-two,
	.postInside .col-one-three,
	.postInside .col-one-four,
	.postInside .col-one-five,
	.postInside .col-one-six{
		float: left;
		width: 100%;
		margin: 0px 0px 10px 0px;
	}

	.portfolioOthersIn .col-one-four {width:46.90%;}

	.portfolioOthersIn .col-one-two,
	.portfolioOthersIn .col-one-four{
		float:left;
		margin-right:4%;
		margin-bottom:2em;
	}

	.fourZeroFour{ margin: 0px 0px; }
	.fourZeroFour .errorScreen{ margin-bottom: 40px; }
	.fourZeroFour .col-one-three{ margin-bottom: 30px; }

	.portfolioContentIn .col-one-two{ width:47.9%; }
	#galContainer .col-one-two{
		margin-bottom: 20px;
	}

	.portfolioContentIn .col-one-three{ width:30.8%; }
	.portfolioContentIn .col-one-three{
		float:left;
		margin-right:4%;
		margin-bottom:2em;
	}

	.portfolioItem{ float: none; }

	.portfolioContentIn .col-one-four{ width: 46.95%; }
	.portfolioContentIn .col-one-four{
		float:left;
		margin-right:4%;
		margin-bottom:2em;
	}

	.portfolioBorderBottom{
		border-bottom: 1px solid #e5e5e5;
		padding-bottom: 15px;
		padding-bottom: 5px;
		margin-bottom: 30px !important;
	}

	.sidebarBlog .blogStream .col-one-four{ width: 50%; }

	.blogStream .col-one-four{ width: 50%; }

	.sidebarBlog .blogStream .col-one-three{
		width: 33%;
		margin-bottom: 30px;
	}

	.blogStream .col-one-three{
		width: 33.3%;
		margin-bottom: 30px;
	}

	.sidebarBlog .blogStream{ padding-bottom: 0px; }

	.wonsterPagi{
		margin-top: 0px;
		margin-bottom: 40px;
	}

	.pagiNumber a{ display: none; }

	.wtrPaginationMobile { padding-bottom: 40px;}
	.wtrPaginationMobile .pagiNumber a{ display: inline-block; }

	.searchResults .col-one-three{ margin-bottom: 50px; }

	/*.sidebarPortfolio #galContainer .col-one-three{ margin: 0px 0px 20px 0px !important; }*/

	.sidebarPortfolio .col-one-three,
	.sidebarPortfolio .col-one-two{
		width:48.0%;
		margin: 0% 1% 2.6% 1% !important;
	}

	.sidebarPortfolio{
		margin-bottom: 30px;
	}

	.inPostQuoteL,
	.inPostQuoteR{
		width: 100%;
		float: left;
		margin: 0px 0px 30px 0px !important;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: 	border-box;
		box-sizing: 		border-box;
	}

	.single-post .wonsterPagi{
		margin-top: 40px;
		margin-bottom: 0px;
	}

	.wtrRelatedPostsItem{
		margin-bottom: 10px;
	}

	.wtrRelatedPostItemNoPhoto{
		margin-bottom: 30px;
	}

	.col-two-three .wtrRelatedPostItemNoPhotoContainer{
		min-height: 108px;
	}

	.wtrRelatedPostItemNoPhotoContainer{
		min-height: 108px;
	}

	.footerCopyIn .copyText{
		float: none;
		text-align: center;
	}

	.footerCopyIn .socials{
		float: left;
		width: 100%;
	}

	.footerCopyIn .socials {
		text-align: center;
	}

	.footerCopyIn .socials li{
		margin: 10px 0px 0px 0px;
		font-size: 18px;
		display: inline-block;
		float: none;
	}

	.mLTop { text-align: center !important;}
	.textLogo{ float: left !important; }

}

@media only screen and (min-width: 500px) and (max-width: 740px) {

	.wtrMobileMeny .selecter{ max-width: 100% !important; }

	.fullWidthContentBoxes .col-one-three,
	.fullWidthContentBoxes .col-one-two,
	.fullWidthContentBoxes .col-one-four {
		margin-bottom: 20px;
	}

	.inPostQuoteL,
	.inPostQuoteR{
		width: 100%;
		float: left;
		margin: 0px 0px 30px 0px !important;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: 	border-box;
		box-sizing: 		border-box;
	}

	.navBtn{ display: block; }

}

@media only screen and (min-width: 480px) and (max-width: 767px) {

	.fullWidthContentBoxes .col-one-three,
	.fullWidthContentBoxes .col-one-two,
	.fullWidthContentBoxes .col-one-six,
	.fullWidthContentBoxes .col-one-five,
	.fullWidthContentBoxes .col-one-four{
		margin-bottom: 20px;
	}

	.headAddonsIn .firstContact{
		float: none;
		text-align: center;
	}

	.headAddonsIn .firstContact .mail{
		margin: 10px 0px 0px 0px;
		float: left;
	}
	.headAddonsIn .firstContact .phone{
		margin:10px 0px 0px;
		float: right;
	}

	.headAddonsIn .socials{
		margin: 10px 0px 10px 0px;
		float: none;
		text-align: center;
	}

	.headAddonsIn .socials li{
		display: inline-block;
		float: none;
		margin: 0px
	}

	.headerIn h1{ float: none; }

	.wtrStickyHead{ display: none !important; }
	.headerIn .mainLogo{
		width:100%;
		display:block;
		text-align:left;
		height: auto;
		float: none;
	}

	.wonsterPostImg img{
		width: 100%;
		height: auto;
		display: block;
	}

	.logged-in .wtrStickyHead{
		margin-top: 0px;
	}

	.mainNavi{ display: none; }
	.tinynav { display: block; }

	.navBtn{ display: block; }

	.wtrSectionInner,
	.wtrParellaxInner,
	.wtrVideoBgSectionInner,
	.searchLayerIn,
	.contentFullWidthIn,
	.contentIn,
	.headAddonsIn,
	.headerIn,
	.middleSecIn,
	.middleSecIn,
	.portfolioContentIn,
	.footerAddonsIn,
	.portfolioOthersIn,
	.footerCopyIn{
		width:440px;
	}

	.col-one-two,
	.col-two-three,
	.col-one-three,
	.col-three-four,
	.col-three-five,
	.col-four-five,
	.col-two-five,
	.col-five-six,
	.col-one-four,
	.col-one-five,
	.col-one-six{
		width: 100%;
		margin: 0px;
	}

	.postInside .col-one-two,
	.postInside .col-two-three,
	.postInside .col-one-three,
	.postInside .col-three-four,
	.postInside .col-three-five,
	.postInside .col-four-five,
	.postInside .col-two-five,
	.postInside .col-five-six,
	.postInside .col-one-four,
	.postInside .col-one-five,
	.postInside .col-one-six{
		width: 100%;
		margin: 0px 0px 10px 0px;
	}

	.socialButtonsContainer{
		margin: 20px 0px 0px 0px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}

	.socialButton{
		width: 100%;
		margin: 0px;
	}

	.socialButtonLast{
		-webkit-border-top-right-radius: 0px;
		-moz-border-radius-topright: 0px;
		border-bottom-right-radius: 0px;
		-webkit-border-bottom-right-radius: 5px;
		-webkit-border-bottom-left-radius: 5px;
		-moz-border-radius-bottomright: 5px;
		-moz-border-radius-bottomleft: 5px;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
	}

	.socialButtonFirst {
		-webkit-border-bottom-left-radius: 0px;
		-moz-border-radius-bottomleft: 0px;
		border-bottom-left-radius: 0px;
		-webkit-border-top-right-radius: 5px;
		-webkit-border-top-left-radius: 5px;
		-moz-border-radius-topright: 5px;
		-moz-border-radius-topleft: 5px;
		border-top-right-radius: 5px;
		border-top-left-radius: 5px;
	}

	.blogItem{ margin-left: 0px; margin-right: 0px; }

	.commentmetadata a{ font-size: 12px; }
	.commentlist .reply .comment-reply-login{ display: none; }
	.comment p{ word-break: break-word; }

	.comment .reply a{
		position: relative;
		font-weight: bold;
		top: 0px;
		right: 0px;
		color: #fff;
		font-size: 12px;
		padding: 5px 10px;
		background-color: #ccc;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		margin: 20px 0px;
		display: block;
		text-align: center;
	}
	.comment .reply a:hover{ text-decoration: none; }

	.commentlist .depth-2,
	.commentlist .depth-3,
	.commentlist .depth-4,
	.commentlist .depth-5 { margin-left: 0px; }

	.commentlist .depth-1 .comment-respond,
	.commentlist .depth-2 .comment-respond,
	.commentlist .depth-3 .comment-respond,
	.commentlist .depth-4 .comment-respond,
	.commentlist .depth-5 .comment-respond{
		margin-left: 0px;
	}

	.postAutorDescTittle{ font-size: 18px; }
	.postAutorDescLead{ font-size: 13px; }
	.postAuthor .postAutorPic{
		width: 100%;
		position: relative;
		padding: 20px 0px;
	}
	.postAuthor .postAutorPic img{ margin: 0px auto; }
	.postAuthor .postAutorDesc {
		width: 100%;
		margin: 0px;
		text-align: center;
	}

	.fourZeroFour{ margin: 0px 0px; }
	.fourZeroFour .errorScreen{ margin-bottom: 40px; }

	.fourZeroFour .col-one-three{ margin-bottom: 30px; }

	.fourZeroFour .errorScreen{ font-size: 40px;}
	.fourZeroFour .errorScreen span{ font-size: 100px; }

	.fullWidthContentBoxes .col-one-three,
	.fullWidthContentBoxes .col-one-two,
	.fullWidthContentBoxes .col-one-four {
		margin-bottom: 20px;
	}

	.formComm .col-two{
		width:48%;
		float:left;
		margin-right:4%;
		margin-bottom:2em;
	}

	.formComm .col-two-last{ margin-right: 0px; }
	.formComm .selecter{ max-width: 100% !important; }
	#galContainer .col-one-two{ margin: 0px 0px 20px 0px; }

	.portfolioContentIn .col-one-two{ width:100%; }
	.portfolioContentIn .col-one-two{ float:left; }

	#galContainer .col-one-three{ margin: 0px 0px 30px 0px; }

	.portfolioContentIn .col-one-three{ width:100%; }
	.portfolioContentIn .col-one-three{ float:left; }

	.portfolioItem{ float: none; }
	#galContainer .col-one-four{ margin: 0px 0px 20px 0px; }

	.portfolioContentIn .col-one-four{ width:100%; }
	.portfolioContentIn .col-one-four{ float:left; }

	.portfolioBorderBottom{
		border-bottom: 1px solid #e5e5e5;
		padding-bottom: 15px;
		padding-bottom: 5px;
		margin-bottom: 30px !important;
	}

	.blogStream .col-one-four{
		width: 100%;
		margin-bottom: 30px;
	}

	.blogStream .col-one-three{
		width: 100%;
		margin-bottom: 30px;
	}

	.blogStream .col-one-two{
		width: 100%;
		margin-bottom: 30px;
	}

	.sidebarBlog .blogStream{ padding-bottom: 0px; }

	.single-post .wonsterPagi{
		margin-top: 40px;
		margin-bottom: 0px;
	}

	.wonsterPagi{
		margin-top: 0px;
		margin-bottom: 40px;
	}

	.pagiNumber a{ display: none; }

	.wtrPaginationMobile { padding-bottom: 40px;}
	.wtrPaginationMobile .pagiNumber a{ display: inline-block; }

	.tableOverflow{ overflow-x: auto; }

	.eTable{ width: 200%; }
	.nTable{ width: 200% !important; }

	.tableCont .PriceCol-one {width:100%;}
	.tableCont .PriceCol-one-two {width:100%;}
	.tableCont .PriceCol-one-three {width:100%;}
	.tableCont .PriceCol-one-four {width:100%;}
	.tableCont .PriceCol-one-five { width: 100%; }
	.tableCont .PriceCol-one-six { width: 100%; }

	.tableCont .PriceCol-one,
	.tableCont .PriceCol-one-two,
	.tableCont .PriceCol-one-three,
	.tableCont .PriceCol-one-four,
	.tableCont .PriceCol-one-five,
	.tableCont .PriceCol-one-six,
	.tableCont .PriceCol-one-six{
		-webkit-border-radius: 	5px;
		-moz-border-radius: 	5px;
		border-radius: 			5px;
		margin-bottom: 30px !important;
		margin-top: 0px;
	}

	.searchResults .col-one-three{ margin-bottom: 50px; }
	.wtrGallery{ padding: 0 0 5% 0 !important; }

	.wtrGalleryCol{
		width: 42.5% !important;
		margin: 5% 0% 0% 5% !important;
	}

	.wtrGalleryCol:nth-child(2n){ margin: 5% 0 0 5% !important; }
	.wtrGalleryNoBorder .wtrGalleryCol:nth-child(2n){ margin: 0 0 5% 0% !important; }

	.wtrGalleryNoBorder .wtrGalleryCol{
		width: 47.50% !important;
		margin: 0 5% 5% 0 !important;
	}

	.sidebarPortfolio .col-one-three,
	.sidebarPortfolio .col-one-two{
		width:47.4%;
		margin: 0% 1.3% 2.6% 1.3% !important;
	}

	.sidebarPortfolio{ margin-bottom: 30px; }

	.portfolioStream .portfolioBorderBottom .col-one-two{
		width: 100%;
		margin: 0px;
	}

	.contentFullWidthIn .inPostQuoteR,
	.contentFullWidthIn .inPostQuoteL{
		width: 86.5%;
	}

	.contentFullWidthIn .inPostQuoteL,
	.contentFullWidthIn .inPostQuoteR{
		margin-left: 0%;
		margin-right: 0%;
	}

	.wtrRelatedPostsItem{margin-bottom: 10px;}
	.wtrRelatedPostItemNoPhoto{margin-bottom: 30px;}

	.col-two-three .wtrRelatedPostItemNoPhotoContainer{ min-height: 108px; }
	.wtrRelatedPostItemNoPhotoContainer{ min-height: 108px; }

	.middleSecIn .msNavi{
		width: 100%;
		padding: 0px;
		margin: 0px 0px 10px 0px;
		text-align: left;
	}

	.footerCopyIn .copyText{
		float: none;
		text-align: center;
	}

	.footerCopyIn .socials{
		float: left;
		width: 100%;
	}

	.footerCopyIn .socials {
		text-align: center;
	}

	.footerCopyIn .socials li{
		margin: 10px 0px 0px 0px;
		font-size: 18px;
		display: inline-block;
		float: none;
	}

	.mLTop { text-align: center !important;}
	.textLogo{ float: left !important; }

	.inPostQuoteL,
	.inPostQuoteR{
		width: 100%;
		float: left;
		margin: 0px 0px 30px 0px !important;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: 	border-box;
		box-sizing: 		border-box;
	}

}

@media only screen and (min-width: 320px) and (max-width: 480px)  {

	.fullWidthContentBoxes .col-one-three,
	.fullWidthContentBoxes .col-one-two,
	.fullWidthContentBoxes .col-one-six,
	.fullWidthContentBoxes .col-one-five,
	.fullWidthContentBoxes .col-one-four{
		margin-bottom: 20px;
	}

	.headAddonsIn .firstContact{
		float: none;
		text-align: center;
	}

	.headAddonsIn .firstContact .mail{
		margin: 10px 0px 0px 0px;
	}
	.headAddonsIn .firstContact .phone{
		margin:10px 0px 0px;
	}

	.headAddons{ display: none; }
	.headAddonsIn .socials{
		margin: 5px 0px 0px 0px;
		float: left;
		text-align: center;
	}

	.headAddonsIn .socials li{
		display: inline-block;
		float: none;
		margin: 0px
	}

	.headerIn h1{ float: none; }

	.wonsterPostImg img{
		width: 100%;
		height: auto;
	}

	.mainNavi{ display: none; }

	.wtrStickyHead{ display: none !important; }

	.postInside img{
		width: 100%;
		height: 100%;
	}

	.tinynav{ display: block }
	.headerIn{
		position: relative;
		padding-bottom: 0px;
	}

	.contentIn{ padding-top: 20px; }

	.wtrSectionInner,
	.wtrParellaxInner,
	.wtrVideoBgSectionInner,
	.searchLayerIn,
	.contentFullWidthIn,
	.contentIn,
	.headAddonsIn,
	.headerIn,
	.middleSecIn,
	.portfolioContentIn,
	.footerAddonsIn,
	.portfolioOthersIn,
	.fullWidthContentBoxes,
	.footerCopyIn{
		width:260px;
	}

	.col-one-two,
	.col-two-three,
	.col-one-three,
	.col-three-four,
	.col-three-five,
	.col-four-five,
	.col-two-five,
	.col-five-six,
	.col-one-four,
	.col-one-five,
	.col-one-six{
		width: 100%;
		margin: 0px;
	}

	.postInside .col-one-two,
	.postInside .col-two-three,
	.postInside .col-one-three,
	.postInside .col-three-four,
	.postInside .col-three-five,
	.postInside .col-four-five,
	.postInside .col-two-five,
	.postInside .col-five-six,
	.postInside .col-one-four,
	.postInside .col-one-five,
	.postInside .col-one-six{
		width: 100%;
		margin: 0px 0px 10px 0px;
	}

	#galContainer .col-one{ margin: 0px 0px 20px 0px; }
	#galContainer .col-one-two{ margin: 0px 0px 20px 0px; }
	#galContainer .col-one-three{ margin: 0px 0px 20px 0px; }
	#galContainer .col-one-four{ margin: 0px 0px 20px 0px; }

	.footerAddonsIn{ padding: 20px 0px 0px 0px; }
	.footerAddonsIn .col-one{ margin-bottom: 1em; }

	.logged-in .wtrStickyHead{ margin-top: 0px;}

	.headerIn .mainLogo {
		margin-bottom: 10px;
		text-align: left;
	}

	.mainLogo img{ width: 120px; }
	.headerIn h1 a{ margin-top: 0px; }

	.mainLogo{
		width:100%;
		display:block;
		text-align:left;
		height: auto;
	}

	.navBtn{ display: block; }
	.mainNavi{ display: none; }

	.fourZeroFour{ margin: 0px 0px; }
	.fourZeroFour .errorScreen{ margin-bottom: 40px; }

	.fourZeroFour .col-one-three{ margin-bottom: 30px; }

	.fourZeroFour .errorScreen{ font-size: 40px; }
	.fourZeroFour .errorScreen span{ font-size: 100px; }

	.middleSecIn .msNavi{
		width: 100%;
		padding: 0px;
		margin: 0px 0px 10px 0px;
		text-align: left;
	}

	.middleSecIn .msNavi li i{ margin-left: 0px; }
	.middleSecIn .msNag{ font-size: 20px; }
	.middleSecIn .msNavi li a:hover{ text-decoration: none; }

	.footerAddons .col-one-four{ width: 100%; }

	.wonsterPostDate{ margin-bottom: 0px; }
	.blogItem{ margin-left: 0px; margin-right: 0px; }
	.wonsterPostOthers{ width: 100%; }
	.wonsterPostOthersIn{ margin-top: 0px; }

	.wonsterPostDate{
		width: 100%;
		margin: 5px 0px 0px 0px;
	}

	.wonsterPostDateIn{
		margin: 0px;
		padding-top: 0px;
		border: none;
	}

	.wonsterPostDateIn ul li{ display: inline; }

	.wonsterPostDateIn ul li.day{
		font-size: 14px;
		border-bottom: none;
	}

	.wonsterPostDateIn ul li.month{
		font-size: 14px;
		border-bottom: none;
	}

	.wonsterPostDateIn ul li.year{
		font-size: 14px;
		background-color: transparent;
	}

	.socialButton{
		margin-top: 10px;
		padding: 2px 0px 3px;
	}

	.wonsterCom{ display: none; }
	.wonsterCom li{ height: 30px; }
	.wonsterCom li.number a:hover{ background: #00a2ca; }
	.wonsterCom li.number a{
		background: #00ccff;
		padding: 5px 5px 4px 5px;
		font-size: 13px;
	}

	.wonsterCom li.tag a{ padding: 5px 5px 4px 5px; }
	.wonsterComments .formCommSmalEntry{ width: 100%; }

	.postAutorDescTittle{ font-size: 18px; }
	.postAutorDescLead{ font-size: 13px; }
	.postAuthor .postAutorPic{
		width: 100%;
		position: relative;
		padding: 20px 0px;
	}
	.postAuthor .postAutorPic img{ margin: 0px auto; }
	.postAuthor .postAutorDesc {
		width: 100%;
		margin: 0px;
		text-align: center;
	}

	.commentmetadata a{ font-size: 12px; }
	.commentlist .reply .comment-reply-login{ display: none; }
	.comment p{ word-break: break-word; }

	.comment .reply a{
		position: relative;
		font-weight: bold;
		top: 0px;
		right: 0px;
		color: #fff;
		font-size: 12px;
		padding: 5px 10px;
		background-color: #ccc;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		margin: 20px 0px;
		display: block;
		text-align: center;
	}

	.comment .reply a:hover{ text-decoration: none; }

	.commentlist .depth-2,
	.commentlist .depth-3,
	.commentlist .depth-4,
	.commentlist .depth-5 { margin-left: 0px; }

	.comment p,
	.commentmetadata,
	.comment .says,
	.comment .fn{
		margin: 0px;
	}

	.commentmetadata{ margin-bottom: 15px !important }

	.comment-author{
		float: left;
		margin-right: 20px;
		position: relative;
	}

	.wonsterInpBtn,
	#wtr_submit_comments{
		width: 100%;
	}

	.commentlist .depth-1 .comment-respond,
	.commentlist .depth-2 .comment-respond,
	.commentlist .depth-3 .comment-respond,
	.commentlist .depth-4 .comment-respond,
	.commentlist .depth-5 .comment-respond{
		margin-left: 0px;
	}

	.catFilter,
	.catFilter ul{ margin-bottom: 0px; }
	.catFilter ul li{ margin-bottom: 20px; }

	#galContainer .col-one-four,
	#galContainer .col-one-three,
	#galContainer .col-one-two{
		margin-left: 0px;
		margin-right: 0px;
	}

	.portfolioBorderBottom{
		border-bottom: 1px solid #e5e5e5;
		padding-bottom: 15px;
		padding-bottom: 5px;
		margin-bottom: 30px !important;
	}

	.portfolioStream .col-one-two .portfolioItem .view .mask .maskReadMore h2{ font-size: 16px }
	.portfolioStream .col-one-two .portfolioItem .view .mask .maskReadMore p{ font-size: 12px }

	.blogStream{ padding-bottom: 20px; }

	.blogStream .col-one-two,
	.blogStream .col-one-three,
	.blogStream .col-one-four,
	.blogStream .col-one-five,
	.blogStream .col-one-six {
		width: 100%;
		margin: 0px 0px 30px 0px;
	}

	#blogContainer .col-one-four,
	#blogContainer .col-one-three,
	#blogContainer .col-one-two{
		margin-left: 0px;
		margin-right: 0px;
	}

	.sidebarBlog .blogStream{ padding-bottom: 0px; }

	.single-post .wonsterPagi{
		margin-top: 40px;
		margin-bottom: 0px;
	}

	.wonsterPagi{
		margin-top: 0px;
		margin-bottom: 40px;
	}

	.pagiNumber a{ display: none; }

	.wtrPaginationMobile { padding-bottom: 40px;}
	.wtrPaginationMobile .pagiNumber a{ display: inline-block; }

	.defaultSearchResults .catFilter{ margin-bottom: 50px; }
	.defaultSearchResults .catFilter ul{ text-align: left; }
	.defaultSearchResults .catFilter ul li{ margin-bottom: 5px; }
	.defaultSearchAddon{ margin-bottom: 50px; }

	.searchResults .col-one-three{ margin-bottom: 50px; }

	.footerAddonsIn .widget_wtr_tabs .resp-tabs-list li.resp-tab-active,
	.sidebar .widget_wtr_tabs .resp-tabs-list li.resp-tab-active{
		font-size: 12px !important;
		padding: 10px 0px 12px !important;
	}

	.sidebar .widget_wtr_tabs .resp-tabs-list li,
	.footerAddonsIn .widget_wtr_tabs .resp-tabs-list li{
		font-size: 12px !important;
		padding: 10px 0px 12px !important;
	}

	.wtrGallery{ padding: 0 0 5% 0 !important; }

	.wtrGalleryCol{
		width: 42.5% !important;
		margin: 5% 0% 0% 5% !important;
	}

	.wtrGalleryCol:nth-child(2n){ margin: 5% 0 0 5% !important; }
	.wtrGalleryNoBorder .wtrGalleryCol:nth-child(2n){ margin: 0 0 5% 0% !important; }

	.wtrGalleryNoBorder .wtrGalleryCol{
		width: 47.50% !important;
		margin: 0 5% 5% 0 !important;
	}

	.tableOverflow{ overflow-x: auto; }

	.eTable{ width: 300%; }

	.nTable{ width: 200% !important; }

	.teamMember{ margin-bottom: 10px; }
	.teamMemberPic img{ width: 80%; }

	.testiPerson{
		width: 100%;
		margin-right: 0%;
	}

	.testimonialCont blockquote{
		max-width: 100%;
		margin-top: 20px;
		padding: 10px 0px 0px 0px;
	}

	.tableCont .PriceCol-one {width:100%;}
	.tableCont .PriceCol-one-two {width:100%;}
	.tableCont .PriceCol-one-three {width:100%;}
	.tableCont .PriceCol-one-four {width:100%;}
	.tableCont .PriceCol-one-five { width: 100%; }
	.tableCont .PriceCol-one-six { width: 100%; }

	.tableCont .PriceCol-one,
	.tableCont .PriceCol-one-two,
	.tableCont .PriceCol-one-three,
	.tableCont .PriceCol-one-four,
	.tableCont .PriceCol-one-five,
	.tableCont .PriceCol-one-six,
	.tableCont .PriceCol-one-six{
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		margin-bottom: 30px !important;
		margin-top: 0px;
	}

	.tableCont .normalCol{ margin: 0px; }

	.passProtectedContent input[type='submit']{ margin-top: 10px; }

	.wonsterContactForm .col-two{
		width: 100%;
		margin-right: 0px;
	}

	.wonsterContactForm .wonsterInpBtn{
		width: 60%;
		padding: 11px 20px 12px;
	}

	.inPostQuoteL,
	.inPostQuoteR{
		width: 100%;
		float: left;
		margin: 0px 0px 30px 0px !important;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: 	border-box;
		box-sizing: 		border-box;
	}

	.inPostQuoteBFontColorOdd{
		width: 100%;
		float: left;
		margin: 0px 0px 10px;
	}

	.mainSiteWidget .latestPostMain .photo{
		width: 80px;
		margin-right: 20px;
	}

	.wtrRelatedPostsItem{
		margin-bottom: 10px;
	}

	.wtrRelatedPostItemNoPhoto{
		margin-bottom: 30px;
	}

	.col-two-three .wtrRelatedPostItemNoPhotoContainer{
		min-height: 108px;
	}

	.wtrRelatedPostItemNoPhotoContainer{
		min-height: 108px;
	}

	.footerCopyIn .copyText{
		float: none;
		text-align: center;
	}

	.footerCopyIn .socials{
		float: left;
		width: 100%;
	}

	.footerCopyIn .socials {
		text-align: center;
	}

	.footerCopyIn .socials li{
		margin: 10px 0px 0px 0px;
		font-size: 18px;
		display: inline-block;
		float: none;
	}

	.mLTop { text-align: center !important;}
	.textLogo{ float: left !important; }


}
