
/* Fonts size */ 

.textLogo a {font-size:25px;} 
.mainMenu li a {font-size:14px;} 
.search-btn i {font-size:18px;} 
.mainMenu ul li a {font-size:14px;} 
.middleSecIn .msNag {font-size:20px;} 
.middleSecIn .msNavi li {font-size:14px;} 
.footerAddonsIn .widget h6,.sidebar .widget h6 {font-size:20px;} 
.footerAddonsIn .widget a, .sidebar .widget a {font-size:14px;} 
.footerAddonsIn .widget p, .footerAddonsIn .widget_wtr_twitter .twitterStrem li .tittle, .footerAddonsIn .rssSummary, .footerAddonsIn .widget_wtr_recent_posts_widget_lead, .sidebar .widget p, .sidebar .widget_wtr_twitter .twitterStrem li .tittle, .sidebar .rssSummary, .sidebar .widget_wtr_recent_posts_widget_lead {font-size:14px;} 
.postInside h1  {font-size:36px;} 
.postInside h2 {font-size:30px;} 
.postInside h3 {font-size:24px;} 
.postInside h4 {font-size:22px;} 
.postInside h5 {font-size:14px;} 
.postInside h6 {font-size:34px;} 
.postInside a {font-size:16px;} 
.portfolioDescDetails .published, .portfolioDescDetails .skills,  .portfolioDescDetails .client, .portfolioItemMeta, .postInside p, .postInside .accord .accord-content .tmentry  {font-size:16px;} 
.postInside ul li, ol li {font-size:16px;} 

/* Fonts family */ 

.mainMenu li a, .post-password-form p, .sidebar .widget_search .screen-reader-text, .fourZeroFour .errorScreen, .ul.option-set li, h1, h2, h3, h4, h5, h6  {font-family:Open Sans;} 
body, .mainMenu ul li a, .wonsterBtn, .wonsterBtnBor, .drop-caps, .footerAddonsIn .widget_wtr_recent_posts h4 a .footerAddonsIn .comment_link .sidebar .widget_wtr_recent_posts h4 a .sidebar .widget_wtr_recent_comments .recentcomments .comment_link, h2.resp-accordion {font-family:"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;} 
.testiPersonInfo, .blockCont, .testimontialColor .autor, blockquote, .tableCont .planPrice p, .testimontialColor p, .planPrice {font-family:Droid Serif;} 

/* Colors */ 

.headAddons {background-color:#ffffff;} 
.headAddonsIn .firstContact .mail a,.headAddonsIn .firstContact .phone a,.headAddonsIn .firstContact .phone,.headAddonsIn .firstContact .mail,.headAddonsIn .socials li a {color:#ffffff;}
.headAddonsIn .firstContact .phone a:hover, .headAddonsIn .firstContact .mail a:hover, .headAddonsIn .socials li a:hover {color:#ffffff;}
.headAddons {border-color:#f5f5f5;} 
.header, .mobileNav {background-color:#FFF; box-shadow: 0px 2px 3px rgba(0,0,0,0.06); }
.headerIn .textLogo a, .wtrNaviTittle, .mobileNav ul li a {color:#000;}
.navBtn, .closeBtn {border-color:#0076bd;} 
.headerIn .textLogo a:hover {color:#0076bd;} 
.mainMenu li a, .navBtn, .closeBtn, .mobileNav a:before, .wtrCartCounter:hover, .wtrCartCounter {color:#000;}
.mobileNav a:hover, .mainMenu li.sub:hover .search-btn,  .subMenuItem:before, .wtrNaviCartItem:hover .wtrCartCounter, .mainMenu li.sfHover .subMenuItem, .mainMenu li.sfHover .subItem, .mainMenu ul li a, .mainMenu li, .mainMenu li a:hover, .mainMenu a:hover {color:#2D96D3;}
.searchNavBox .newDefaultSearchForm input[type="text"]:focus, .mainMenu li.sfHover, .mainMenu ul ul li, .mainMenu ul li {background:#0076bd;} 
.wtrActiveNavInside, .searchNavBox .newDefaultSearchForm input[type="text"], .mainMenu li.sfHover, .mainMenu ul ul li a:hover, .mainMenu ul li a:hover {background-color:#0076bd !important ;} 
.middleSec, .mobileNav ul li, .mobileNav ul ul li:first-child {border-color:#DEEEF1;} 
.middleSec {background-color:#EDF6F8;} 
.middleSecIn .msNag {color:#ffffff !important ;} 
.middleSecIn .msNavi li a, .middleSecIn .msNavi {color:#ffffff;} 
.sidebar {background-color:#ffffff !important ;} 
.sidebar .widget_price_filter .price_label .from, .sidebar .widget_price_filter .price_label .to, .sidebar .woocommerce ul.cart_list li a, .sidebar .woocommerce ul.product_list_widget li a, .sidebar .woocommerce-page ul.cart_list li a, .sidebar .woocommerce-page ul.product_list_widget li a, .sidebar .cat-item span, .sidebar .total strong, .sidebar #calendar_wrap #wp-calendar caption, .sidebar .widget_search input[type=text], .sidebar .widget_product_search input#s, .sidebar .widget_wtr_twitter .twitterStrem li:before, .sidebar .widget_wtr_twitter .twitterStrem li .tittle, .sidebar .widget h1, .sidebar .widget h2, .sidebar .widget h3, .sidebar .widget h4, .sidebar .widget h5, .sidebar .widget h6 {color:#0076bd !important ;} 
.sidebar .widget a:not(.wonsterBtn) {color:#71AAB9 !important ;} 
.sidebar .widget a:hover:not(.wonsterBtn), .sidebar .widget .current_page_item a, .sidebar .widget_shopping_cart_content .total .amount, .sidebar .woocommerce ul.product_list_widget .amount, .sidebar .woocommerce-page ul.cart_list .amount, .sidebar .woocommerce-page ul.product_list_widget .amount, .sidebar .widget_top_rated_products ins .amount, .sidebar .widget_recently_viewed_products ins .amount, .sidebar .widget_products ins .amount {color:#0076bd !important ;} 
.sidebar .widget_layered_nav_filters ul li a, .sidebar .widget_shopping_cart .empty, .sidebar .widget_price_filter .price_label, .sidebar .widget_shopping_cart .cart_list .quantity .amount, .sidebar .woocommerce ul.cart_list del .amount, .sidebar .woocommerce ul.product_list_widget del .amount, .sidebar .woocommerce-page ul.cart_list del .amount, .sidebar .woocommerce-page ul.product_list_widget del .amount, .sidebar del .amount, .sidebar .widget_shopping_cart .quantity, .sidebar .widget_shopping_cart .amount, .sidebar .widget_product_categories .product-categories a, .sidebar .tagcloud a, .sidebar ul.cart_list li:before, .sidebar ul.product_list_widget li:before, .sidebar ul.cart_list li:before, .sidebar ul.product_list_widget li:before, .sidebar .widget_top_rated_products del, .sidebar .widget_top_rated_products del .amount, .sidebar .widget_recently_viewed_products del, .sidebar .widget_recently_viewed_products del .amount, .sidebar .widget_products del, .sidebar .widget_products del .amount, .sidebar .widget_recent_reviews .reviewer, .sidebar .widget_wtr_menu .menu li, .sidebar .widget_recent_entries .post-date, .sidebar .recentcomments, .sidebar .widget_categories ul li, .sidebar .widget_archive ul li, .sidebar .widget_wtr_promo_box p, .sidebar #calendar_wrap #wp-calendar thead tr th, .sidebar table td, .sidebar .textwidget, .sidebar .widget_wtr_recent_posts_widget_lead, .sidebar .widget_nav_menu .menu, .sidebar .widget_wtr_recent_comments .recentcomments .comment_autor, .sidebar .widget_wtr_recent_comments .recentcomments .comment_date, .sidebar .tabsWidget .widget_wtr_recent_comments .recentcomments .comment_date, .sidebar .tabsWidget .widget_wtr_recent_posts_item .widget_wtr_recent_posts_widget_date, .sidebar .widget_pages ul li ul li, .sidebar .widget_wtr_recent_posts .widget_wtr_recent_posts_widget_date i, .sidebar .widget_wtr_recent_posts .widget_wtr_recent_posts_widget_date, .sidebar .widget_rss ul li, .sidebar .widget_rss ul li .rss-date, .sidebar .rssSummary, .sidebar .widget_wtr_twitter .twitterStrem li .date {color:#0a0808 !important ;} 
.sidebar .widget_wtr_menu .menu li, .sidebar .widget_recent_comments ul li, .sidebar, .sidebar .widget, .sidebar .widget_nav_menu .menu li, .sidebar .widget_categories ul li, .sidebar .widget_archive ul li, .sidebar .divider, .sidebar #calendar_wrap #wp-calendar thead tr, .sidebar table td, .sidebar .widget_recent_entries ul li, .sidebar .widget_wtr_twitter .twitterStrem li, .sidebar .widget_rss ul li, .sidebar .widget_wtr_recent_comments .recentcomments, .sidebar .widget_wtr_recent_posts_item, .sidebar .widget_recently_viewed_products ul.product_list_widget li, .sidebar .widget_top_rated_products ul.product_list_widget li, .sidebar .widget_products ul.product_list_widget li, .sidebar .widget_recent_reviews ul.product_list_widget li, .sidebar .widget_recently_viewed_products ul.product_list_widget li, .sidebar .widget_top_rated_products ul.product_list_widget li, .sidebar .widget_products ul.product_list_widget li, .sidebar .widget_recent_reviews ul.product_list_widget li .sidebar .woocommerce .widget_shopping_cart .total, .sidebar .woocommerce-page .widget_shopping_cart .total, .sidebar .woocommerce-page.widget_shopping_cart .total, .sidebar .woocommerce.widget_shopping_cart .total {border-color:#cde6ec !important ;} 
.widget_wtr_social_links a, .sidebar .widget_wtr_recent_posts_item .photo .comm, .sidebar #calendar_wrap #wp-calendar caption, .sidebar #calendar_wrap #wp-calendar tfoot tr td, .sidebar .widget_wtr_tag_cloud .footTag li.tag a, .sidebar .widget_search input[type=text], .sidebar .widget_meta a, .widget_product_search input#s {background-color:#E4F0F3 !important ;} 
.sidebar .widget_wtr_recent_posts_item .photo .comm:hover, .sidebar .widget_wtr_tag_cloud .footTag li.tag a:hover, .sidebar .widget_search input[type=text]:focus, .sidebar .widget_product_search input#s:focus {background-color:#0076bd !important ;} 
.sidebar .widget_search input[type=text]:focus, .widget_product_search .screen-reader-text:before, .sidebar .widget_wtr_recent_posts_item .photo .comm:hover, .sidebar .widget_wtr_tag_cloud .footTag li.tag a:hover, .sidebar .widget_product_search input#s:focus {color:#fff !important ;} 
.sidebar .widget_wtr_porfolioIn .view .mask {background-color:rgba( 0, 118, 189, 0.7);} 
.sidebar .widget_wtr_tabs .resp-tabs-list li.resp-tab-active, .sidebar .widget_price_filter .ui-slider .ui-slider-handle, .sidebar .widget_price_filter .ui-slider .ui-slider-range, .sidebar .widget_price_filter .price_slider_amount .button:hover, .sidebar .price_slider_amount .button:hover, .sidebar .widget_shopping_cart .buttons .button:hover, .sidebar .widget_shopping_cart .buttons .button.checkout {background-color:#0076bd !important ;} 
.sidebar .widget_wtr_tabs .resp-tabs-list li.resp-tab-active, .sidebar .widget_price_filter .ui-slider .ui-slider-handle, .sidebar .widget_price_filter .ui-slider .ui-slider-range, .sidebar .widget_price_filter .price_slider_amount .button:hover, .sidebar .price_slider_amount .button:hover, .sidebar .widget_shopping_cart .buttons .button:hover, .sidebar .widget_shopping_cart .buttons .button.checkout {color:#ffffff !important ;} 
.sidebar .widget_wtr_tabs .resp-tabs-list li.resp-tab-item, .sidebar .widget_wtr_tabs .resp-tabs-list li, .sidebar .widget_price_filter .price_slider_wrapper .ui-widget-content, .sidebar .widget_price_filter .price_slider_amount .button, .sidebar .price_slider_amount .button {background-color:#E4F0F3 !important ;} 
.sidebar .widget_wtr_tabs .resp-tabs-list li.resp-tab-item, .sidebar .widget_price_filter .price_slider_amount .button, .sidebar .price_slider_amount .button {color:#0a0505;}
footer {
	background-color: #FAFAFC;
}

footer p {
	font-family: gilroy, sans-serif;
	font-size: 9px;
	font-weight: normal;
	color: #999B9E;
}

footer a, footer a:hover {
	text-decoration: none;
}

footer a p {
	font-family: gilroy, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #999B9E;
}

footer .copyright {
	float: right;
	padding: 5px 0;
	margin-right: 40px;
}

footer .links {
	float: left;
	padding: 6px 0;
	margin-left: 100px;
}

footer .links a {
	float: left;
	margin-right: 30px;
}

.footerAddons {background-color:#0076bd !important ;} 
.footerAddons .widget_wtr_tabs .resp-tabs-list li.resp-tab-active, .footerAddons .widget_search input[type=text], .footerAddons .widget_wtr_twitter .twitterStrem li:before, .footerAddons .widget_wtr_twitter .twitterStrem li .tittle,.footerAddons .widget h1,.footerAddons .widget h2, .footerAddons .widget h3, .footerAddons .widget h4, .footerAddons .widget h5, .footerAddons .widget h6 {color:#ffffff !important ;} 
.footerAddonsIn .woocommerce ul.cart_list li a, .footerAddonsIn .woocommerce ul.product_list_widget li a, .footerAddonsIn .woocommerce-page ul.cart_list li a, .footerAddonsIn .woocommerce-page ul.product_list_widget li a, .footerAddonsIn .cat-item span, .footerAddons .widget_wtr_tabs .resp-tabs-list li, .footerAddons .widget a:not(.wonsterBtn) {color:#a4dcea !important ;} 
.footerAddons .widget a:hover:not(.wonsterBtn), .footerAddonsIn .widget_wtr_menu .menu .current_page_item a {color:#005aaf !important ;} 
.footerAddonsIn .widget_shopping_cart_content .total .amount, .footerAddonsIn .woocommerce ul.product_list_widget .amount, .footerAddonsIn .woocommerce-page ul.cart_list .amount, .footerAddonsIn .woocommerce-page ul.product_list_widget .amount, .footerAddonsIn .widget_top_rated_products ins .amount,	.footerAddonsIn .widget_recently_viewed_products ins .amount, .footerAddonsIn .widget_products ins .amount, .footerAddonsIn .widget_layered_nav_filters ul li a, .footerAddonsIn .widget_shopping_cart .empty, .footerAddonsIn .widget_price_filter .price_label, .footerAddonsIn .widget_shopping_cart .total strong, .footerAddonsIn .widget_shopping_cart .cart_list .quantity .amount, .footerAddonsIn .woocommerce ul.cart_list del .amount, .footerAddonsIn .woocommerce ul.product_list_widget del .amount, .footerAddonsIn .woocommerce-page ul.cart_list del .amount, .footerAddonsIn .woocommerce-page ul.product_list_widget del .amount, .footerAddonsIn del .amount, .footerAddonsIn .widget_shopping_cart .quantity, .footerAddonsIn .widget_shopping_cart .amount, .footerAddonsIn .widget_product_categories .product-categories a, .footerAddonsIn .tagcloud a, .footerAddonsIn ul.cart_list li:before, .footerAddonsIn ul.product_list_widget li:before, .footerAddonsIn ul.cart_list li:before, .footerAddonsIn ul.product_list_widget li:before, .footerAddonsIn .widget_top_rated_products del, .footerAddonsIn .widget_top_rated_products del .amount, .footerAddonsIn .widget_recently_viewed_products del, .footerAddonsIn .widget_recently_viewed_products del .amount, .footerAddonsIn .widget_products del, .footerAddonsIn .widget_products del .amount, .footerAddonsIn .widget_recent_reviews .reviewer, .footerAddonsIn .widget_product_search .screen-reader-text:before, .footerAddonsIn .widget_wtr_menu .menu li, .footerAddonsIn .widget_recent_entries .post-date, .footerAddonsIn .widget_recent_comments ul li, .footerAddons .widget_categories ul li,.footerAddons .widget_archive ul li, .footerAddons .widget_wtr_promo_box p, .footerAddons #calendar_wrap #wp-calendar caption, .footerAddons #calendar_wrap #wp-calendar thead tr th, .footerAddons table td, .footerAddons .textwidget, .footerAddons .widget_wtr_recent_posts_widget_lead, .footerAddons .widget_nav_menu .menu, .footerAddons .widget_wtr_recent_comments .recentcomments .comment_autor, .footerAddons .widget_wtr_recent_comments .recentcomments .comment_date, .footerAddons .tabsWidget .widget_wtr_recent_comments .recentcomments .comment_date, .footerAddons .tabsWidget .widget_wtr_recent_posts_item .widget_wtr_recent_posts_widget_date, .footerAddons .widget_pages ul li ul li, .footerAddons .widget_wtr_recent_posts .widget_wtr_recent_posts_widget_date i, .footerAddons .widget_wtr_recent_posts .widget_wtr_recent_posts_widget_date, .footerAddons .widget_rss ul li, .footerAddons .widget_rss ul li .rss-date, .footerAddons .rssSummary, .footerAddons .widget_wtr_twitter .twitterStrem li .date {color:#0a0404 !important ;} 
	.footerAddonsIn .widget_recently_viewed_products ul.product_list_widget li, .footerAddonsIn .widget_top_rated_products ul.product_list_widget li, .footerAddonsIn .widget_products ul.product_list_widget li, .footerAddonsIn .widget_recent_reviews ul.product_list_widget li, .footerAddonsIn .widget_recently_viewed_products ul.product_list_widget li, .footerAddonsIn .widget_top_rated_products ul.product_list_widget li, .footerAddonsIn .widget_products ul.product_list_widget li, .footerAddonsIn .widget_recent_reviews ul.product_list_widget li .footerAddonsIn .woocommerce .widget_shopping_cart .total, .footerAddonsIn .woocommerce-page .widget_shopping_cart .total, .footerAddonsIn .woocommerce-page.widget_shopping_cart .total, .footerAddonsIn .woocommerce.widget_shopping_cart .total, .footerAddonsIn .widget_wtr_menu .menu li, .footerAddonsIn .widget_recent_comments ul li, .footerAddons .promo_box_btn, .footerAddons .widget_categories ul li, .footerAddons .widget_archive ul li, .footerAddons .divider, .footerAddons #calendar_wrap #wp-calendar thead tr, .footerAddons table td, .footerAddons .widget_recent_entries ul li, .footerAddons .widget_wtr_twitter .twitterStrem li, .footerAddons .widget_rss ul li, .footerAddonsIn .widget_wtr_recent_comments .recentcomments, .footerAddons .widget_wtr_recent_posts_item {border-color:#1d6f84 !important ;} 
.footerAddonsIn .widget_price_filter .footerAddonsIn .widget_price_filter .price_slider_amount .button, .footerAddonsIn .price_slider_amount .button, .footerAddonsIn .widget_price_filter .price_slider_wrapper .ui-widget-content, .footerAddonsIn .widget_price_filter .price_slider_amount .button:hover, .footerAddonsIn .price_slider_amount .button:hover, .footerAddonsIn .widget_shopping_cart .buttons .button:hover, .footerAddonsIn .widget_shopping_cart .buttons .button.checkout, .footerAddonsIn .widget_shopping_cart .buttons .button,  .price_slider_wrapper .ui-widget-content , .footerAddonsIn .widget_wtr_menu .menu, .footerAddons .widget_wtr_social_links a, .footerAddons .widget_wtr_recent_posts_item .photo .comm, .footerAddons #calendar_wrap #wp-calendar caption, .footerAddons #calendar_wrap #wp-calendar tfoot tr td, .footerAddons .widget_wtr_tag_cloud .footTag li.tag a, .footerAddons .widget_wtr_tabs .resp-tabs-container, .footerAddons .widget_search input[type=text], .footerAddonsIn .widget_product_search input#s, .footerAddons .widget_nav_menu .menu, .footerAddons .widget_meta a, .footerAddons .widget_wtr_tabs .resp-tabs-list li.resp-tab-active {background-color:#282828 !important ;} 
.footerAddonsIn .widget_price_filter .ui-slider .ui-slider-handle, .footerAddonsIn .widget_price_filter .ui-slider .ui-slider-range, .footerAddonsIn .widget_price_filter .price_slider_amount .button, .footerAddonsIn .price_slider_amount .button, .footerAddonsIn .widget_shopping_cart .buttons .button, .footerAddons .widget_wtr_recent_posts_item .photo .comm:hover, .footerAddons .widget_wtr_tag_cloud .footTag li.tag a:hover, .footerAddonsIn .widget_product_search input#s:focus, .footerAddons .widget_search input[type=text]:focus, .footerAddons .widget_wtr_tabs .resp-tabs-list li {background-color:#1d6f84 !important ;} 
.footerAddons .widget_search input:focus, .footerAddonsIn .widget_product_search input#s, .footerAddonsIn .widget_price_filter .price_slider_amount .button:hover, .footerAddonsIn .price_slider_amount .button:hover, .footerAddonsIn .widget_shopping_cart .buttons .button:hover, .footerAddonsIn .widget_shopping_cart .buttons .button.checkout, .footerAddons .widget_wtr_recent_posts_item .photo .comm:hover, .footerAddons .widget_wtr_tag_cloud .footTag li.tag a:hover {color:#fff !important ;} 
.footerAddons .widget_wtr_porfolioIn .view .mask {background-color:rgba( 0, 118, 189, 0.7);} 
.footerCopy {background-color:#aaa19a !important ;} 
.footerCopy .footerCopyIn .socials a, .footerCopy .footerCopyIn p, .footerCopy .copyText {color:#282828 !important ;} 
.footerCopy .footerCopyIn a {color:#0076bd !important ;} 
.footerCopy .footerCopyIn .socials a:hover, .footerCopy .footerCopyIn a:hover {color:#0076bd !important ;} 
.content, .body {background-color:#fff !important ;} 
.wonsterPost h2 {color:#0076bd;} 
.wtrWooCommerce .woocommerce-tabs .entry-content h1, .woocommerce div.product .woocommerce-tabs ul.tabs li a:hover, .woocommerce #content div.product .woocommerce-tabs ul.tabs li a:hover, .woocommerce-page div.product .woocommerce-tabs ul.tabs li a:hover, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li a:hover,
							.wtrWooCommerce .woocommerce-tabs .entry-content h2, .wtrWooCommerce .woocommerce-tabs .entry-content h3, .wtrWooCommerce .woocommerce-tabs .entry-content h4, .wtrWooCommerce .woocommerce-tabs .entry-content h5, .wtrWooCommerce .woocommerce-tabs .entry-content h6, .woocommerce div.product .woocommerce-tabs ul.tabs li.active a,
							.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active a, .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active a, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active a,
							.woocommerce .shop_table .cart_item .product-name a, .wtrWooCommerce h1, .woocommerce h3, .woocommerce h2, .checkout h3, .woocommerce-shipping-fields h3, .woocommerce-billing-fields h3, .woocommerce .cart_totals h2, .woocommerce #content div.product .product_title,
							.woocommerce div.product .product_title, .woocommerce-page #content div.product .product_title, .woocommerce-page div.product .product_title, .wonsterPost h2 a,  .wtrRelatedPostsHeadline, .wtrRelatedPostsItemHeadline a, .wtrRelatedPostsHeadline, .wp-playlist-current-item,
							.wp-playlist-current-item:before, .wp-playlist-item-length, .wp-playlist-tracks a, .wp-playlist-tracks, .searchResults h6, .portfolioItemDesc h2 a, .portfolioItemShortDesc h2 a, .blogItemDescTittle a, .portfolioStreamLead h2, .portfolioItemLead h2, .portfolioDescFull h6,  .portfolioDescDetails h6, .searchResultCounter, .searchResultItem a, .catFilter ul li a, .fourZeroFour h6, .postInside h1, .postInside h2, .postInside h3, .postInside h4, .postInside h5, .postInside h6,
							.contentFullWidthIn .noLineWidgetNag h6, .defaultSearch h6, .postAutorDescTittle, .wonsterPostDateIn ul li.month,  .fullWidthContentBoxes .boxItemBgDesc h1, .fullWidthContentBoxes .boxItemBgDesc h2, .fullWidthContentBoxes .boxItemBgDesc h3, .fullWidthContentBoxes .boxItemBgDesc h4, .fullWidthContentBoxes .boxItemBgDesc h5, .fullWidthContentBoxes .boxItemBgDesc h6 {color:#0076bd !important ;} 
.woocommerce .products .product .price, .woocommerce ul.products li.product a:hover h3, .woocommerce p.myaccount_user strong, .shipping_calculator h2 a.shipping-calculator-button, .woocommerce .cart_item a, .woocommerce .stock, .woocommerce .in-stock, .woocommerce #content div.product .woocommerce-tabs ul.tabs li.active, .woocommerce div.product .woocommerce-tabs ul.tabs li.active, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active,
							.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active, .woocommerce #content div.product p.price, .woocommerce #content div.product span.price, .woocommerce div.product p.price, .woocommerce div.product span.price, .woocommerce-page #content div.product p.price, .woocommerce-page #content div.product span.price, .woocommerce-page div.product p.price, .woocommerce-page div.product span.price, .comment .fn, .comment .fn a, .portfolioStreamLead p, .defaultSearch a:hover, .postAutorDescLead, .wonsterPostDateIn ul li.day {color:#0076bd !important ;} 
.mainSiteWidget .latestPostMain .desc .date i, .mainSiteWidget .latestPostMain .desc_no_photo .date i, .mainSiteWidget .latestPostMain .desc .date, .mainSiteWidget .latestPostMain .desc_no_photo .date, .wonsterPostDateIn ul li.year {color:#0a0707;} 
.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta, .woocommerce-page #reviews #comments ol.commentlist li .comment-text p.meta, .woocommerce div.product .woocommerce-tabs ul.tabs li a, .woocommerce #content .quantity input.qty, .woocommerce .quantity input.qty, .woocommerce-page #content .quantity input.qty, .woocommerce-page .quantity input.qty,
							.woocommerce #content div.product .woocommerce-tabs ul.tabs li a, .woocommerce-page div.product .woocommerce-tabs ul.tabs li a, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li a, .woocommerce .payment_methods, .woocommerce .shop_table, .woocommerce .cart_totals,
							.woocommerce .woocommerce-result-count, .woocommerce .order_details, .wtrPageContent .woocommerce p, .woocommerce .addresses, .woocommerce .customer_details, .woocommerce .product .entry-summary p, .woocommerce .woocommerce-tabs p, .woocommerce .product_meta, .addresses .title .edit, .addresses .title .edit, p.myaccount_user a, .woocommerce .woocommerce-review-link, .login .lost_password a,
							.woocommerce .shop_table a, .woocommerce .order_details a, .woocommerce .comment-form input, .woocommerce #review_form #respond textarea, .woocommerce-page #review_form #respond textarea, .woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea,
							.woocommerce-page form .form-row input.input-text, .woocommerce-page form .form-row textarea, .woocommerce #content table.cart td.actions .coupon .input-text, .woocommerce table.cart td.actions .coupon .input-text, .woocommerce-page #content table.cart td.actions .coupon .input-text, .woocommerce-page table.cart td.actions .coupon .input-text,
							.woocommerce a.wc-forward, .woocommerce .woocommerce-error a, .woocommerce .woocommerce-info a, .woocommerce .woocommerce-message a, .woocommerce-page .woocommerce-error a, .woocommerce-page .woocommerce-info a, .woocommerce-page .woocommerce-message a, .entry-summary .product_meta .tagged_as a, .entry-summary .product_meta .posted_in a, .woocommerce #content .quantity .minus, .woocommerce #content .quantity .plus, .woocommerce .quantity .minus,
							.woocommerce .quantity .plus, .woocommerce-page #content .quantity .minus, .woocommerce-page #content .quantity .plus, .woocommerce-page .quantity .minus, .woocommerce-page .quantity .plus, .woocommerce .entry-summary .quantity input.input-text.qty, .wtrParallax p, .wtrVideoBgSection p, .wtrColorSection p, .postInside, .tableCont .planServiceList, .eTable tr td, .postInside .col-one-two, .postInside .col-one-three, .postInside .col-two-three,
							.postInside .col-one-four, .postInside .col-three-four, .postInside .col-one-five, .postInside .col-two-five, .postInside .col-three-five, .postInside .col-four-five, .postInside .col-one-six, .postInside .col-five-six, .resp-tab-content, .accord .tmentry, blockquote, .boxItemBgDesc, .mainSiteWidget p a, .mainSiteWidget p a, .wonsterCategory li, .portfolioItemDesc p, .portfolioItemDesc .portfolioItemDescCat li a, .portfolioItemShortDesc a, .wonsterPostOthersIn h4,
							.defaultSearchAddon a, .portfolioDescDetails a, .portfolioDescList, .portfolioItemMeta, .searchResultDate, .catFilter ul li, .fourZeroFour p, .portfolioItemShortDesc p, .postInside ul,  .postInside ol, .post-password-form p, .defaultSearchResults p, .postInside p, .gallery-caption, .fullWidthContentBoxes .boxItemBgDesc p, .blogItemDescLead {color:#0a0707;} 
.sResultList li a, .portfolioItemShortDesc a:hover, .blogItemDescTittle a:hover, .portfolioDescDetails a:hover, .postInside a {color:#0076bd;} 
.mainSiteWidget .desc h4 a:hover, .mainSiteWidget .desc_no_photo h4 a:hover, .searchResults li a:hover, .searchResults li a:focus, .sResultList li a:hover, .postInside a:hover {color:#0076bd;} 
.postQuote, blockquote {border-color:#B7CCD1;} 
.wonsterPagiIn .active, .wonsterPagiBtn:hover  {background-color:#0076bd;} 
.wonsterPagiIn .active, .wonsterPagiBtn:hover, .portfolioDescFull .wonsterPagiIn .active, .portfolioDescFull .wonsterPagi:hover {color:#fff !important ;} 
wonsterPagiBtn:hover {background-color:#0076bd;} 
wonsterPagiBtn:hover, .portfolioDescFull .wonsterPagi .wonsterPagiBtn:hover {color:#fff !important ;} 
.wonsterPagiBtn {background-color:#e5e5e5;} 
.wonsterPagiBtn, .portfolioDescFull .wonsterPagi .wonsterPagiBtn {color:#999;} 
.postAutorDescSocial a, .wonsterCategory li a {color:#0076bd;} 
.woocommerce #content nav.woocommerce-pagination ul li span.current, .woocommerce #content nav.woocommerce-pagination ul li span.current, .woocommerce nav.woocommerce-pagination ul li span.current, .woocommerce nav.woocommerce-pagination ul li span.current, .woocommerce-page #content nav.woocommerce-pagination ul li span.current, .woocommerce-page #content nav.woocommerce-pagination ul li span.current, .woocommerce-page nav.woocommerce-pagination ul li span.current, .woocommerce-page nav.woocommerce-pagination ul li span.current, .woocommerce #content input.button.alt, .woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce-page #content input.button.alt, .woocommerce-page #respond input#submit.alt, .woocommerce-page a.button.alt,	.woocommerce-page button.button.alt, .woocommerce-page input.button.alt, .blogItemComm, .blogItemDate, .comment .reply a, .wonsterInpBtn, #wtr_submit_comments, .wonsterCom li.number a, .sResultTagList li a, .wonsterCom li.tag a {background-color:#0076bd !important ;} 
.comment .reply a:hover, .wonsterInpBtn:hover, #wtr_submit_comments:hover, .wonsterCom li.number a:hover, .sResultTagList li a:hover, .wonsterCom li.tag a:hover {background-color:#0076bd;} 
.woocommerce #content nav.woocommerce-pagination ul li span.current, .woocommerce #content nav.woocommerce-pagination ul li span.current, .woocommerce nav.woocommerce-pagination ul li span.current, .woocommerce nav.woocommerce-pagination ul li span.current, .woocommerce-page #content nav.woocommerce-pagination ul li span.current, .woocommerce-page #content nav.woocommerce-pagination ul li span.current, .woocommerce-page nav.woocommerce-pagination ul li span.current, .woocommerce-page nav.woocommerce-pagination ul li span.current, .woocommerce #content input.button.alt, .woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce-page #content input.button.alt, .woocommerce-page #respond input#submit.alt, .woocommerce-page a.button.alt, .woocommerce-page button.button.alt, .woocommerce-page input.button.alt, #wtr_submit_comments, .wonsterCom li.number a:before, .wonsterCom li.number a, .sResultTagList li a, .wonsterCom li.tag a {color:#fff !important ;} 
.wonsterInpBtn:hover, #wtr_submit_comments:hover, .wonsterCom li.number a:before:hover, .wonsterCom li.number a:hover, .wonsterCom li.tag a:hover {color:#fff;} 
.woocommerce #reviews #comments ol.commentlist li .comment-text, .woocommerce-page #reviews #comments ol.commentlist li .comment-text, .woocommerce table.shop_table tfoot td, .woocommerce table.shop_table tfoot th, .woocommerce-page table.shop_table tfoot td,
							.woocommerce-page table.shop_table tfoot th, .woocommerce .cart-collaterals .cart_totals tr td, .woocommerce .cart-collaterals .cart_totals tr th, .woocommerce-page .cart-collaterals .cart_totals tr td, .woocommerce-page .cart-collaterals .cart_totals tr th, .woocommerce table.shop_table, .woocommerce-page table.shop_table, .woocommerce table.shop_table td, .woocommerce-page table.shop_table td,
							.woocommerce #content div.product .woocommerce-tabs ul.tabs:before, .woocommerce div.product .woocommerce-tabs ul.tabs:before, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs:before, .woocommerce-page div.product .woocommerce-tabs ul.tabs:before, .woocommerce #payment, .woocommerce-page #payment, .woocommerce #payment ul.payment_methods, .woocommerce-page #payment ul.payment_methods,
							.woocommerce p.stars a.star-1, .woocommerce p.stars a.star-2, .woocommerce p.stars a.star-3, .woocommerce p.stars a.star-4, .woocommerce p.stars a.star-5,.woocommerce-page p.stars a.star-1, .woocommerce-page p.stars a.star-2, .woocommerce-page p.stars a.star-3, .woocommerce-page p.stars a.star-4, .woocommerce-page p.stars a.star-5, .wtrMenuScroll.wtrHeaderTransparent .wtrNaviCartLink,
							.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active, .woocommerce div.product .woocommerce-tabs ul.tabs li.active, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active, .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active, .wtrNaviCartLink:hover, .wtrNaviCartLink, .wtrRelatedPostsHeadline, .comment-author img, .commentSeparator,
							.wp-playlist, .wp-playlist-item, .mainSiteWidget .latestPostMain li, .blogItemDesc, .wonsterCategory, .sResultList li, .portfolioDescList li, .defaultSearchAddon .mainNavigationList li,   .defaultSearchResults, .searchResultCounter, .postAuthor img, .postAutorPic, .postAuthor, .wonsterPost, .wonsterCom li.tag a, .wonsterPostDateIn ul li.month, .wonsterPostDateIn {border-color:#DEEEF1 !important ;} 
.searchResultCounter, .wonsterPostDateIn ul li.year, .postAutorPic {background-color:#F5FDFF;} 
.postAuthor img, .postAuthor, .wonsterPostDateIn {background-color:#fff;} 
.postAuthor img, .postAuthor, .wonsterPostDateIn {background-color:#fff;} 
.postAuthor img, .postAuthor, .wonsterPostDateIn {background-color:#fff;} 
.comment-navigation .nav-previous a, .comment-navigation .nav-next a, .wonsterComments h3.comment-reply-title,.formCommSmalEntry label, .formCommBigEntry label, .wonsterComments h3.comment-reply-title, .wonsterComments .comment-form p, .wonsterComments .comment-form p a,.comment-respond h3.comment-reply-title, .comment-respond h3.comment-reply-title a, .logged-in-as, .logged-in-as a {color:#999 !important ;} 
.woocommerce #review_form #respond textarea, .woocommerce-page #review_form #respond textarea, .woocommerce #content table.cart td.actions .coupon .input-text, .woocommerce table.cart td.actions .coupon .input-text, .woocommerce-page #content table.cart td.actions .coupon .input-text, .woocommerce-page table.cart td.actions .coupon .input-text, .woocommerce form.checkout_coupon,
							.woocommerce form.login, .woocommerce form.register, .woocommerce-page form.checkout_coupon, .woocommerce-page form.login, .woocommerce-page form.register, .woocommerce .comment-form input, .woocommerce #review_form #respond textarea,
							.woocommerce-page #review_form #respond textarea, .woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea, .woocommerce-page form .form-row input.input-text, .woocommerce-page form .form-row textarea, .woocommerce #content .quantity .minus, .woocommerce #content .quantity .plus,.woocommerce .quantity .minus,
							.woocommerce .quantity .plus, .woocommerce-page #content .quantity .minus, .woocommerce-page #content .quantity .plus, .woocommerce-page .quantity .minus, .woocommerce-page .quantity .plus, .woocommerce #content .quantity input.qty, .woocommerce .quantity input.qty, .woocommerce-page #content .quantity input.qty, .woocommerce-page .quantity input.qty,
							.woocommerce #content .quantity, .woocommerce .quantity, .woocommerce-page #content .quantity, .woocommerce-page .quantity, .comment-form .WonsterDefInput, .comment-form .WonsterDefTextarea {border-color:#0076bd !important ;} 
.wonsterComments .WonsterDefInput, .wonsterComments .WonsterDefTextarea {color:#0a0a0a !important ;} 
.woocommerce .comment-form-author input, .woocommerce .comment-form-email input, .woocommerce #review_form #respond textarea,
							.woocommerce-page #review_form #respond textarea, .woocommerce #content table.cart td.actions .coupon .input-text, .woocommerce table.cart td.actions .coupon .input-text, .woocommerce-page #content table.cart td.actions .coupon .input-text,
							.woocommerce-page table.cart td.actions .coupon .input-text, .woocommerce #content .quantity .minus, .woocommerce #content .quantity .plus, .woocommerce .quantity .minus, .woocommerce .quantity .plus, .woocommerce-page #content .quantity .minus,
							.woocommerce-page #content .quantity .plus, .woocommerce-page .quantity .minus, .woocommerce-page .quantity .plus, .woocommerce #content .quantity input.qty, .woocommerce .quantity input.qty, .woocommerce-page #content .quantity input.qty, .woocommerce-page .quantity input.qty,
							.woocommerce #content .quantity, .woocommerce .quantity, .woocommerce-page #content .quantity,.woocommerce-page .quantity, .woocommerce .woocommerce-shipping-fields input, .woocommerce .woocommerce-billing-fields input, .woocommerce .woocommerce-shipping-fields textarea, .wonsterComments .WonsterDefInput, .wonsterComments .WonsterDefTextarea {background-color:#ffffff;} 
.portfolioContent {background-color:#f1fcff;} 
.portfolioOthers {background-color:#1d6f84;} 
.portfolioSimilarLead h2 {color:#fff;} 
.portfolioSimilarLead p {color:#a4dcea;} 
.view .mask .maskReadMore p, .view .mask .maskReadMore h2 {color:#fff;} 
.blogStream .view-first .mask, .wtrRelatedPosts .view-first .mask, .portfolioItem .view-first .mask, .content .postInside .view-first .mask, .contentFullWidth .view-first .mask {background-color:rgba( 0, 118, 189, 0.7);} 
.fourZeroFour .errorScreen {color:#0076bd;} 
.fourZeroFour .errorScreen span {color:#e7f7fb;} 
.newDefaultSearchForm input[type="text"], .searchLayer input.searchinp {background-color:#0076bd;} 
.newDefaultSearchForm input[type="text"], .searchLayer input.searchinp {color:#fff;} 
.newDefaultSearchForm input[type="text"]:focus, .searchLayer input.searchinp:focus {background-color:#0076bd;} 
.catFilter ul li .selected {border-color:#0076bd;} 
.searchLayer {background-color:rgba( 255, 255, 255, 0.96);} 
.searchResults li .sResultDate {color:#0076bd;} 
.sResultList li {border-bottom-color:#D7F7FF;} 
.wtrRelatedPostItemNoPhotoContainer {background-color:#00a2ca;} 
.wtrRelatedPostItemNoPhotoContainer .wtrRelatedPostsItemHeadline a {color:#ffffff !important ;} 
.woocommerce-page div.product .woocommerce-tabs .panel, .woocommerce div.product .woocommerce-tabs .panel, .woocommerce .shop_table.cart, .woocommerce #order_review .shop_table, .woocommerce .shop_table.order_details, .woocommerce #content .quantity input.qty, .woocommerce .quantity input.qty, .woocommerce-page #content .quantity input.qty, .woocommerce-page .quantity input.qty, .woocommerce #payment, .woocommerce-page #payment, .woocommerce #content div.product .woocommerce-tabs ul.tabs li, .woocommerce div.product .woocommerce-tabs ul.tabs li, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li, .woocommerce-page div.product .woocommerce-tabs ul.tabs li, .woocommerce #content .quantity .minus, .woocommerce #content .quantity .plus, .woocommerce .quantity .minus, .woocommerce .quantity .plus, .woocommerce-page #content .quantity .minus, .woocommerce-page #content .quantity .plus, .woocommerce-page .quantity .minus, .woocommerce-page .quantity .plus {background:#ffffff !important ;} 
.woocommerce span.onsale, .woocommerce-page span.onsale {background:#0076bd !important ;} 
.woocommerce span.onsale, .woocommerce-page span.onsale {color:#ffffff !important ;} 
.woocommerce #content nav.woocommerce-pagination ul li a, .woocommerce #content nav.woocommerce-pagination ul li span, .woocommerce nav.woocommerce-pagination ul li a, .woocommerce nav.woocommerce-pagination ul li span, .woocommerce-page #content nav.woocommerce-pagination ul li a, .woocommerce-page #content nav.woocommerce-pagination ul li span, .woocommerce-page nav.woocommerce-pagination ul li a, .woocommerce-page nav.woocommerce-pagination ul li span, .woocommerce #content input.button, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce-page #content input.button, .woocommerce-page #respond input#submit, .woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page input.button, .woocommerce #content input.button.disabled, .woocommerce #content input.button:disabled, .woocommerce #respond input#submit.disabled, .woocommerce #respond input#submit:disabled, .woocommerce a.button.disabled, .woocommerce a.button:disabled, .woocommerce button.button.disabled, .woocommerce button.button:disabled, .woocommerce input.button.disabled, .woocommerce input.button:disabled, .woocommerce-page #content input.button.disabled, .woocommerce-page #content input.button:disabled, .woocommerce-page #respond input#submit.disabled, .woocommerce-page #respond input#submit:disabled, .woocommerce-page a.button.disabled, .woocommerce-page a.button:disabled, .woocommerce-page button.button.disabled, .woocommerce-page button.button:disabled, .woocommerce-page input.button.disabled, .woocommerce-page input.button:disabled {background:#E4F0F3 !important ;} 
.woocommerce #content nav.woocommerce-pagination ul li a, .woocommerce #content nav.woocommerce-pagination ul li span, .woocommerce nav.woocommerce-pagination ul li a, .woocommerce nav.woocommerce-pagination ul li span, .woocommerce-page #content nav.woocommerce-pagination ul li a, .woocommerce-page #content nav.woocommerce-pagination ul li span, .woocommerce-page nav.woocommerce-pagination ul li a, .woocommerce-page nav.woocommerce-pagination ul li span, .woocommerce #content input.button, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button,.woocommerce input.button, .woocommerce-page #content input.button, .woocommerce-page #respond input#submit, .woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page input.button, .woocommerce #content input.button.disabled, .woocommerce #content input.button:disabled, .woocommerce #respond input#submit.disabled, .woocommerce #respond input#submit:disabled, .woocommerce a.button.disabled, .woocommerce a.button:disabled, .woocommerce button.button.disabled, .woocommerce button.button:disabled, .woocommerce input.button.disabled, .woocommerce input.button:disabled, .woocommerce-page #content input.button.disabled, .woocommerce-page #content input.button:disabled, .woocommerce-page #respond input#submit.disabled, .woocommerce-page #respond input#submit:disabled, .woocommerce-page a.button.disabled, .woocommerce-page a.button:disabled, .woocommerce-page button.button.disabled, .woocommerce-page button.button:disabled, .woocommerce-page input.button.disabled, .woocommerce-page input.button:disabled {color:#71AAB9 !important ;} 
.woocommerce #content nav.woocommerce-pagination ul li a:focus,.woocommerce #content nav.woocommerce-pagination ul li a:hover,.woocommerce #content nav.woocommerce-pagination ul li span.current,.woocommerce nav.woocommerce-pagination ul li a:focus,.woocommerce nav.woocommerce-pagination ul li a:hover,.woocommerce nav.woocommerce-pagination ul li span.current,.woocommerce-page #content nav.woocommerce-pagination ul li a:focus,.woocommerce-page #content nav.woocommerce-pagination ul li a:hover,.woocommerce-page #content nav.woocommerce-pagination ul li span.current,.woocommerce-page nav.woocommerce-pagination ul li a:focus,.woocommerce-page nav.woocommerce-pagination ul li a:hover,.woocommerce-page nav.woocommerce-pagination ul li span.current,.woocommerce #review_form #respond .form-submit #submit:hover,.woocommerce-page #review_form #respond .form-submit #submit:hover,.woocommerce #content input.button:hover,.woocommerce #respond input#submit:hover,.woocommerce a.button:hover,.woocommerce button.button:hover,.woocommerce input.button:hover,.woocommerce-page #content input.button:hover,.woocommerce-page #respond input#submit:hover,.woocommerce-page a.button:hover,.woocommerce-page button.button:hover,.woocommerce-page input.button:hover {color:#ffffff !important ;} 
.woocommerce #content nav.woocommerce-pagination ul li a:focus, .woocommerce #content nav.woocommerce-pagination ul li a:hover, .woocommerce #content nav.woocommerce-pagination ul li span.current, .woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li span.current, .woocommerce-page #content nav.woocommerce-pagination ul li a:focus, .woocommerce-page #content nav.woocommerce-pagination ul li a:hover, .woocommerce-page #content nav.woocommerce-pagination ul li span.current, .woocommerce-page nav.woocommerce-pagination ul li a:focus, .woocommerce-page nav.woocommerce-pagination ul li a:hover, .woocommerce-page nav.woocommerce-pagination ul li span.current, .woocommerce #review_form #respond .form-submit #submit:hover, .woocommerce-page #review_form #respond .form-submit #submit:hover, .woocommerce #content input.button:hover, .woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover, .woocommerce-page #content input.button:hover, .woocommerce-page #respond input#submit:hover, .woocommerce-page a.button:hover, .woocommerce-page button.button:hover, .woocommerce-page input.button:hover {background:#0076bd !important ;} 
.postInside .tabs .resp-tab-active {color:#00ccff !important ;} 
.postInside .tabs .resp-tab-active, .postInside .resp-tab-content {background-color:#fff !important ;} 
.postInside .tabs .resp-tab-active, .postInside .horizontalTab .resp-tab-content, .verticalTab.resp-vtabs .resp-tabs-container, .verticalTab .resp-tabs-list li.resp-tab-active {border-color:#CEEAF1;} 
.postInside .tabs .resp-tab-item {background-color:#e7f7fb;} 
.postInside .tabs .resp-tab-item {color:#689dac;} 
.postInside .accordion-open, .collapse-open, .postInside .accordion {background-color:#fff;} 
.postInside .accordion-open, .collapse-open, .postInside .accordion, .postInside .accordion-close span, .postInside .collapse-close span, .postInside .accordion-open span,  .postInside .collapse-open span {color:#00ccff;} 
.postInside .accordion-open,  .postInside .collapse-open,  .postInside .accordion, .postInside .accord .accord-content {border-color:#cde6ec;} 
.postInside .accord-content {background-color:#fff;} 
.teamMemberPic, .teamMember, .teamMemberLinks, .teamMemberContent, .teamMemberPic img {border-color:#cde6ec !important ;} 
.teamMemberPic {background-color:#F9FDFF;} 
.teamMemberPic img, .teamMember {background-color:#fff;} 
.teamMemberLinks, .teamMemberDesc {background-color:#fff;} 
.teamMemberName {color:#00718c;} 
.teamMemberPosition {color:#9CBDC7 !important ;} 
.inPostQuoteBFontColorEven {background-color:#00ccff;} 
.inPostQuoteBFontColorEven p, .inPostQuoteBFontColorEven {color:#ffffff;} 
.inPostQuoteBFontColorOdd {background-color:#007390;} 
.inPostQuoteBFontColorOdd p, .inPostQuoteBFontColorOdd {color:#ffffff;} 
.postInside .testimontialColorEven {background-color:#00ccff;} 
.postInside .testimontialColorEven p, .postInside .testimontialColorEven {color:#007390;} 
.postInside .testimontialColorEven .autor {color:#fff;} 
.postInside .testimontialColorOdd {background-color:#007390;} 
.postInside .testimontialColorOdd p, .postInside .testimontialColorOdd  {color:#65BBD1;} 
.postInside .testimontialColorOdd .autor {color:#fff;} 
.postInside .testimonialCont h2 {color:#004f63;} 
.postInside .testiPersonInfo span {color:#90ADB4;} 
.postInside .blockCont {color:#90ADB4;} 
.mainSiteWidget .desc h4 a, .mainSiteWidget .desc_no_photo h4 a {color:#007390;} 
.mainSiteWidget .widgetNag i {color:#A0B8BE !important ;} 
.mainSiteWidget .latestPostMain .photo .comm {background-color:#00a2ca !important ;} 
.mainSiteWidget .latestPostMain .photo .comm {color:#FFFFFF !important ;} 
.postInside .mainSiteWidget h6 {color:#007390 !important ;} 
.clientCarousel i {color:#A0B8BE !important ;} 
.postInside .owl-theme .owl-controls .owl-page span {background-color:#A0B8BE !important ;} 
.fullWidthContentBoxes .boxItemBg {background-color:#fff;} 
.fullWidthContentBoxes .boxItemBgDesc h1, .fullWidthContentBoxes .boxItemBgDesc h2, .fullWidthContentBoxes .boxItemBgDesc h3, .fullWidthContentBoxes .boxItemBgDesc h4, .fullWidthContentBoxes .boxItemBgDesc h5, .fullWidthContentBoxes .boxItemBgDesc h6 {color:#004f63;} 
.boxedContentBoxes .boxItemBgDesc p, .boxedContentBoxes .boxItemBgDesc, .fullWidthContentBoxes .boxItemBgDesc p, .fullWidthContentBoxes .boxItemBgDesc {color:#90ADB4;} 
.postInside .fullWidthContentBoxes .boxItemBgDBtn {border-color:#00ccff;} 
.postInside .boxedContentBoxes .boxItemBgDesc {background-color:#F9FDFF;} 
.postInside .boxedContentBoxes .boxItemBgDesc {border-color:#cde6ec;} 
.postInside .wonsterContactForm .WonsterDefInput, .WonsterDefTextarea, code {border-color:#cde6ec;} 
.postInside .wonsterContactForm .WonsterDefInput, .WonsterDefTextarea, code {color:#90ADB4;} 
.postInside .wonsterGMap, .fullWidthContentBoxes .wonsterGMap {border-color:#cde6ec;} 
.postInside .wonsterGMap, .fullWidthContentBoxes .wonsterGMap {background-color:#fff;} 
.selecter .selecter-item, .wonsterContactForm input[type="text"], .wonsterContactForm textarea, .postInside .formComm textarea, .postInside .formComm input[type="text"], .selecter .selecter-selected {background-color:#F9FDFF;} 
.selecter .selecter-item, .selecter .selecter-selected, .wonsterContactForm input, .wonsterContactForm textarea, .postInside .formComm textarea, .postInside .formComm input[type="text"], selecter .selecter-selected , .selecter .selecter-options {border-color:#0076bd;} 
.selecter .selecter-item, .wonsterContactForm input, .wonsterContactForm textarea, .postInside .formComm textarea, .postInside .formComm input[type="text"], .selecter .selecter-selected {color:#0a0808;} 
  .wonsterContactForm .col-one label, .wonsterContactForm .col-two label {color:#0076bd !important ;} 
.postInside .nTable tr.thead, table td, .postInside .nTable tr:nth-child(2n+1) td, .postInside .nTable tr.thead td {border-color:#cde6ec;} 
.postInside .nTable tr:nth-child(2n+1) td {background:#f1fcff;} 
.postInside .nTable tr:nth-child(2n+1) td p {color:#0076bd;} 
.postInside .nTable tr td {background-color:#fff;} 
.postInside .nTable tr td p {color:#0076bd;} 
.postInside .nTable .featuredCol {background-color:#0076bd !important ;} 
.postInside .nTable .featuredCol {border-color:#0076bd !important ;} 
.postInside .nTable .featuredCol p {color:#fff !important ;} 
.eTable th {background:#f1fcff;} 
.eTable th p {color:#0076bd;} 
.eTable td p {color:#0a0808;} 
.eTable td {background-color:#fff;} 
.eTable.bordered, .eTable th, .eTable td {border-color:#0076bd;} 
.eTable .featuredCol {background-color:#0076bd !important ;} 
.eTable .featuredCol {border-color:#0076bd !important ;} 
.eTable .featuredCol p {color:#fff !important ;} 
.tableCont .PriceCol-one, .tableCont .PriceCol-one-two, .tableCont .PriceCol-one-three, .tableCont .PriceCol-one-four, .tableCont .PriceCol-one-five, .tableCont .PriceCol-one-six {background-color:#fff;} 
.normalCol .planName, .normalCol .planName p {color:#0076bd;} 
.normalCol .planServiceList p, .normalCol .planServiceList {color:#0a0808;} 
.normalCol .planPrice p, .normalCol .planPrice {color:#0076bd;} 
.tableCont .normalCol .planName, .tableCont .normalCol .planPrice, .tableCont .normalCol .planBtn {border-color:#E5EFF1;} 
.tableCont .featuredCol {background-color:#0076bd !important ;} 
.tableCont .featuredCol .planPrice, .tableCont .featuredCol .planServiceList, .tableCont .featuredCol .planName, .tableCont .featuredCol .planPrice p, .tableCont .featuredCol .planServiceList p, .tableCont .featuredCol .planName p {color:#fff !important ;} 
.tableCont .featuredCol .planBtn, .tableCont .featuredCol .planName, .tableCont .featuredCol .planPrice {border-color:#0076bd;}


@media (max-width: 900px) {
	.mobileNav {
		width: 140px;
		right: 12%;
	}

	.mobileNav ul li {
		text-align: center;
		border-bottom: none;
		margin: 0;
	}

	.mobileNav ul li a {
		font-family: gilroy, san-serif;
		font-size: 13px;
		text-transform: uppercase;
		padding: 4px 0;
		color: #999999;
		line-height: 18px;
	}
	.mobileNav ul li a:before {
		content: none;
	}

	.wtrNaviTittle {
		color: #2d96d3;
		font-family: gilroy, san-serif;
		font-size: 13px;
		top: 65px;
		left: 50px;
	}
}