/*
Theme Name: Energizo
Theme URI: http://themeforest.net/item/energizo-premium-responsive-multipurpose-theme/7629818
Author: Wonster
Author URI: http://wonster.co
Description: Energizo - Premium Responsive Multi-Purpose Theme
Version: 2.0.6
License: GNU General Public License version 3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Tags: left-sidebar, right-sidebar, responsive-layout, theme-options, translation-ready, editor-style, sticky-navigation, one-column, two-columns
*/

.footerAddonsIn .col-one {
    display: none;
    margin: 0;
}

