header {
    height: 186px;
    background: url(images/header_lockers_final.png) left bottom no-repeat;
    border-bottom: 6px solid #184E74;
}

header nav {
    padding-left: 220px;
    float: right;
    margin-right: 130px;
    margin-top: 110px;
}

header .nav-pills > li > a {
    color: #164d73;
    line-height: 1.2;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    padding: 20px 12px;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

header .nav-pills > li > a:hover {
    background-color: #164d73;
    color: #fff;
}


.span12.offset1 {
    margin-left: 0 !important;
}

footer {
    background-color: #184E74;
    color: #fff;
    padding: 125px 0 60px;
    font-size: 12px;
    line-height: 14px;
}

footer h2 {
    font-size: 18px;
    margin-bottom: 8px;
    font-family: Open Sans, sans-serif;
}

footer h4 {
    font-style: italic;
    font-family: 'Arial', sans-serif;
    font-size: 12px;
}

.footer-copyright {
    margin-top: 1em;
}

.testimonial {
    font-size: 12px;
    line-height: 14px;
    font-style: italic;
    margin-bottom: 1em;
}


.number {
    width: 80px;
    height: 80px;
    background-image: url(images/footer_bg.png);
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 38px;
    color: #333434;
    text-align: center;
    line-height: 80px;
}

.locations .row {
    margin-bottom: 12px;
}

.locations .span2 {
    width: 143px !important;
}

.locations .span3 {
    margin-left: 10px !important;
}

@media only screen and (max-width: 1200px) {

header nav {
    margin-top: 50px;
    margin-right: 20px;
}

}

@media only screen and (max-width: 767px) {
body {
    padding: 0;
}

header {
    height: auto;
}

.main {
    padding: 20px;
}

}
