@font-face {
  font-family: 'DIN-Regular';
  src: url('fonts/din-regular.eot');
  src: url('fonts/din-regular.eot?#iefix') format('embedded-opentype'),url('fonts/din-regular.woff') format('woff'),url('fonts/din-regular.otf') format('opentype'),url('fonts/din-regular.ttf') format('truetype'),url('fonts/din-regular.svg#svgFontName') format('svg');
}
@font-face {
  font-family:'DIN-Bold';src:url('fonts/din-bold.eot');src:url('fonts/din-bold.eot?#iefix') format('embedded-opentype'),url('fonts/din-bold.woff') format('woff'),url('fonts/din-bold.otf') format('opentype'),url('fonts/din-bold.ttf') format('truetype'),url('fonts/din-bold.svg#svgFontName') format('svg');
}
@font-face {
  font-family:'DINCond-Regular';src:url('fonts/dincond-regular.eot');src:url('fonts/dincond-regular.eot?#iefix') format('embedded-opentype'),url('fonts/dincond-regular.woff') format('woff'),url('fonts/dincond-regular.otf') format('opentype'),url('fonts/dincond-regular.ttf') format('truetype'),url('fonts/dincond-regular.svg#svgFontName') format('svg');
}
@font-face {
  font-family:'DINCond-Bold';src:url('fonts/dincond-bold.eot');src:url('fonts/dincond-bold.eot?#iefix') format('embedded-opentype'),url('fonts/dincond-bold.woff') format('woff'),url('fonts/dincond-bold.otf') format('opentype'),url('fonts/dincond-bold.ttf') format('truetype'),url('fonts/dincond-bold.svg#svgFontName') format('svg');
}
@font-face {
  font-family:'Gotham-Book';src:url('fonts/gotham-book.eot');src:url('fonts/gotham-book.eot?#iefix') format('embedded-opentype'),url('fonts/gotham-book.woff') format('woff'),url('fonts/gotham-book.otf') format('opentype'),url('fonts/gotham-book.ttf') format('truetype'),url('fonts/gotham-book.svg#svgFontName') format('svg');
}
@font-face {
  font-family:'Gotham-Bold';src:url('fonts/gotham-bold.eot');src:url('fonts/gotham-bold.eot?#iefix') format('embedded-opentype'),url('fonts/gotham-bold.woff') format('woff'),url('fonts/gotham-bold.otf') format('opentype'),url('fonts/gotham-bold.ttf') format('truetype'),url('fonts/gotham-bold.svg#svgFontName') format('svg');
}
@font-face {
  font-family:'DINEngschrift';src:url('fonts/dincond-bold.eot');src:url('fonts/dincond-bold.eot?#iefix') format('embedded-opentype'),url('fonts/dincond-bold.woff') format('woff'),url('fonts/dincond-bold.otf') format('opentype'),url('fonts/dincond-bold.ttf') format('truetype'),url('fonts/dincond-bold.svg#svgFontName') format('svg');
}

#content {
	font-family: 'DIN-Regular', helvetica, sans-serif;
	padding: 35px 0 20px;
}

input, textarea, select, .uneditable-input {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
	border-radius: 0;
	border: 1px solid #c3a572;
}

input:focus,
textarea:focus {
  border-color: rgba(195, 165, 114, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(195, 165, 114, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(195, 165, 114, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(195, 165, 114, 0.6);
}

a {
  color: #1a171b;
}

a:hover {
  color: #000;
}

.breadcrumb {
  background-color: #DAC7A7;
  background-image: -moz-linear-gradient(top, #DAC7A7, #BDAC91);
  background-image: -ms-linear-gradient(top, #DAC7A7, #BDAC91);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#DAC7A7), to(#BDAC91));
  background-image: -webkit-linear-gradient(top, #DAC7A7, #BDAC91);
  background-image: -o-linear-gradient(top, #DAC7A7, #BDAC91);
  background-image: linear-gradient(top, #DAC7A7, #BDAC91);
  background-repeat: repeat-x;
  border: 1px solid #ddd;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  border: 1px solid #1a171b;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#DAC7A7', endColorstr='#BDAC91', GradientType=0);
}

.breadcrumb li {
	  text-shadow: none;
}

.breadcrumb a {
	text-decoration: underline;
}

.alert-info {
	background: #DAC7A7;
	color: #1a171b;
	border: none;
	border-radius: 0;
	text-shadow: none;
}

.well {
	background: #BDAC91;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;

	border: 1px solid #9C8D73;
	box-shadow: inset 0px 0px 7px #BDAC91;
  -webkit-box-shadow: inset 0px 0px 7px #BDAC91;
     -moz-box-shadow: inset 0px 0px 7px #BDAC91;
}

/* BEGIN TABLES
.table-bordered {
	border: 1px solid #c3a572;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.table-bordered th,
.table-bordered td {
	border-left: 1px solid #9C8D73;
	border-color: #c3a572;
}

.table-bordered thead:first-child th:first-child,
.table-bordered tbody:first-child td:first-child {
	border-left: none;
}

.table-bordered thead:first-child tr:first-child th:first-child,
.table-bordered tbody:first-child tr:first-child td:first-child,
.table-bordered thead:first-child tr:first-child th:last-child,
.table-bordered tbody:first-child tr:first-child td:last-child,
.table-bordered thead:last-child tr:last-child th:first-child,
.table-bordered tbody:last-child tr:last-child td:first-child,
.table-bordered thead:last-child tr:last-child th:last-child,
.table-bordered tbody:last-child tr:last-child td:last-child {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.table tbody tr:hover td,
.table tbody tr:hover th {
  background-color: #BDAC91;
}


.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
  background-color: #DAC7A7;
}
/* END TABLES */

button,
.btn {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  border: 4px solid #fff;
  outline: 1px solid #c3a572;
  font: 14px 'DINCond-Regular', Helvetica, sans-serif;
  text-transform: uppercase;
}

.btn-large {
  font-size: 16px;
}

button,
.btn,
.btn-primary,
.btn-info,
.btn-success {
  background: #c3a572;
  color: #1a171b;
  text-shadow: none;
}

.btn:hover, .btn:active,
.btn-primary:hover, .btn-primary:active,
.btn-info:hover, .btn-info:active,
.btn-success:hover, .btn-success:active {
  background: #B0966A;
  color: #1a171b;
  outline: 1px solid #B0966A;
}

.form-horizontal .btn-primary {
	font-size: 16px;
	padding: 9px 14px;
}

.form-inline label + input {
	padding: 7px;
}

.btn .icon-white {
  background-image: url("/bootstrap/img/glyphicons-halflings.png");
  position: relative;
  top: 2px;
}

/* let's clear some floats */
.clearfix:before,
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}

.layout {
  padding: 0 20px;
  position: relative;
}
.centerize {
  margin: auto;
  text-align: center;
}
.pull-right {
  float: right;
}
.mobile-visible {
  display: block;
}
.mobile-hidden {
  display: none;
}
@media (min-width: 1000px) {
  .layout {
    width: 1000px;
    margin: auto;
    padding: 0;
  }
  .mobile-visible {
    display: none;
  }
  .mobile-hidden {
    display: block;
  }
}


@media screen and (min-width:1000px) {
  .layout {
    width: 1000px;
    margin: auto;
    padding: 0;
  }
  .mobile-visible {
    display: none;
  }
  .mobile-hidden {
    display: block;
  }
}
#header {
  background-color: #1a171b;
  padding: 22px 0 25px;
}
#header .logo {
  margin-bottom: 16px;
}
#header .logo-groombox {
  display: block;
}
#header .logo-groombox img {
  height: 124px;
  width: 129px;
}
#menu-navigation {
	margin: 16px 0;
}
#nav-main li {
    line-height: 1.2;
}
#nav-main a {
    color: #ffffff;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 8px 0 8px 25px;
    font-family: 'DINEngschrift';
    font-size: 27px;
}
#nav-main a:hover {
  color: #c3a572;
  background: transparent;
}
#disabled--nav-main a[title="Nous contacter"]:before {
  content: '';
  background-image: url('images/icon-ring.png');
  background-size: 100% 100%;
  display: inline-block;
  margin-right: 10px;
  width: 32px;
  height: 20px;
}
#nav-main a[title="Nous contacter"]:hover:before {
  background-image: url('images/icon-ring-hover.png');
}
#nav-main ul>li.current_page_item>a {
  color: #c3a572;
}
#nav-main ul>li.current_page_item>a[title="Nous contacter"]:before {
  background-image: url('images/icon-ring-hover.png');
}
#nav-main .current-menu-item .sub-menu,#nav-main .active-item .sub-menu {
  display: block;
}
#nav-main .sub-menu .sub-menu {
  right: -170px;
  top: -10px;
  width: 170px;
}
#nav-main .sub-menu {
  display: none;
  padding-left: 20px;
  margin-left: 0;
}
#nav-main .sub-menu a {
  font-size: 20px;
}
#userbox {
  position: absolute;
  top: 0;
  right: 20px;
}
#userbox a {
  display: block;
  width: 140px;
  border: 1px solid #c3a572;
  font: 16px 'DINCond-Regular';
  color: #1a171b;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 10px;
}
#userbox a:first-child {
  margin-right: 8px;
}
#userbox a span {
  display: block;
  background-color: #c3a572;
  border: 4px solid #1a171b;
  padding: 4px 0;
}
@media screen and (min-width:1000px) {
  #header {
    padding: 6px 0;
    height: 116px;
  }
  #header .logo-groombox {
    display: inline-block;
  }
  #header .logo-groombox img {
    width: 106px;
    height: 102px;
  }
  #userbox {
    top: 6px;
    right: 0;
  }
  #userbox a {
    width: 90px;
    display: inline-block;
    margin-bottom: 0;
    font-size: 12px;
  }
  #nav-main {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-top: 50px;
    /*width: 880px;*/
  }
  #nav-main .menu-item {
    display: inline-block;
    position: relative;
  }
  #nav-main a {
    font-size: 16px;
    padding: 0 15px 0 15px;
  }
  #nav-main a[title="Nous contacter"]:before {
    height: 20px;
    width: 30px;
    vertical-align: -2px;
  }
  #nav-main .current_page_item .sub-menu {
    display: none;
  }
  #nav-main .active-item .sub-menu {
    display: block;
  }
  #nav-main .sub-menu {
    background-color: #1a171b;
    padding-top: 10px;
    padding-bottom: 10px;
    display: none;
    position: absolute;
    padding-left: 0;
    z-index: 10;
    width: auto;
  }
  #nav-main .sub-menu .menu-item {
    display: block;
    white-space: nowrap;
  }
  #nav-main .sub-menu a {
    font-size: 15px;
  }
}
#footer {
  background-color: #1a171b;
  padding-bottom: 14px;
}
#footer dl {
  font-family: 'DINCond-Regular';
  border-top: 1px solid #c3a572;
  margin: 0 12px 0 8px;
  padding: 28px 0 36px;
}

#footer dl dt {
    font-weight: normal;
    line-height: 1.2;
}

#footer dl dd {
  margin: 0;
}

#footer dl ul {
  margin: 1em 0 0;
  padding: 0;
}
#footer dl ul li {
	list-style: none;
}
#footer dl:first-child {
  border-top: 0;
}
#footer dl dt {
  color: #fff;
  font-size: 30px;
  text-transform: uppercase;
  padding-bottom: 26px;
}
#footer dl dd a {
  color: #fff;
  font-family: 'DIN-Regular';
  font-size: 18px;
  text-decoration: none;
}

#footer dl dd a .padding-left {
  margin-left: 10px;
}
#footer dl dd a:hover {
  color: #c3a572;
  background: transparent;
}
#footer .social-links li {
  display: inline-block;
  margin-right: 18px;
}
#footer .social-links li img {
  height: 22px;
}
#footer .groomblog {
  zoom: 1;
  line-height: 1.1;
}
#footer .groomblog:before,
#footer .groomblog:after {
  content: "";
  display: table;
}
#footer .groomblog:after {
  clear: both;
}
#footer .groomblog a {
  color: #1a171b;
  display: block;
  float: left;
  width: 48%;
}
#footer .groomblog a:first-child {
  margin-right: 4%;
}
#footer .groomblog .blog-article {
  zoom: 1;
  background-color: #ffffff;
  padding: 4px;
}
#footer .groomblog .blog-article:before,
#footer .groomblog .blog-article:after {
  content: "";
  display: table;
}
#footer .groomblog .blog-article:after {
  clear: both;
}
#footer .groomblog .blog-article .article {
  font-size: 12px;
  font-family: 'Gotham-Book';
}
#footer .groomblog .blog-article .illustration {
  width: 92px;
  height: 56px;
}
#footer .groomblog .blog-article .illustration img {
  width: 92px;
  height: 56px;
}
#footer .groomblog .blog-article .category,
#footer .groomblog .blog-article .separator,
#footer .groomblog .blog-article .title {
  font-family: 'Gotham-Bold';
}
#footer .groomblog .blog-article .category,
#footer .groomblog .blog-article .separator,
#footer .groomblog .blog-article .date {
  display: inline-block;
}
#footer .groomblog .blog-article .title {
  text-transform: uppercase;
}
@media screen and (min-width:1000px) {
  #footer {
    padding: 30px 0 20px;
  }
  #footer .pushes {
    width: 100%;
    zoom: 1;
  }
  #footer .pushes:before,#footer .pushes:after {
    content: "";
    display: table;
  }
  #footer .pushes:after {
    clear: both;
  }
  #footer .social-links img {
    height: 20px;
  }
  #footer dl {
    padding: 0 16px;
    margin: 0;
    border-top: 0;
    border-left: 1px solid #c3a572;
    width: 25%;
    float: left;
    min-height: 154px;
    -moz-box-sizing: border-box;
	/* -webkit-box-sizing: border-box; */
	box-sizing: border-box;
  }
  #footer dl:first-child {
    border-left: 0;
  }
  #footer dl dt {
    padding-top: 0;
    padding-bottom: 8px;
    font-size: 17px;
  }
  #footer dl dd a {
    font-size: 15px;
    margin-bottom: 2px;
  }
  #footer .groomblog a {
    float: none;
    width: 100%;
    margin-bottom: 4px;
  }
  #footer .groomblog a:first-child {
    margin-right: 0;
  }
  #footer .groomblog .illustration {
    float: left;
  }
  #footer .groomblog .blog-article .article {
    font-size: 10px;
    margin-left: 96px;
  }
}
.type-page {
  margin-bottom: 20px;
}
.type-page h1 {
  font-size: 48px;
  font-family: 'DINCond-Regular';
  color: #1a171b;
  text-transform: uppercase;
}
.type-page .column {
  float: none;
  width: 100%;
}
.type-page .entry-content h2 {
  font-size: 26px;
  line-height: 71px;
  font-family: 'DINCond-Regular';
  color: #1a171b;
  text-transform: uppercase;
  margin: 0;
}
.type-page .entry-content h3 {
  font-size: 25px;
  font-family: 'DINCond-Regular';
  color: #1a171b;
  margin: 0;
}
.type-page .entry-content p {
  font-size: 17px;
  font-family: 'DIN-Regular';
}
.type-page .entry-content p a {
  color: #1a171b;
  text-decoration: none;
}
.type-page .entry-content .ninja-forms-cont {
  font-family: 'DIN-Regular';
  border: 1px solid #1a171b;
  padding: 10px;
  zoom: 1;
}
.type-page .entry-content .ninja-forms-cont:before,.type-page .entry-content .ninja-forms-cont:after {
  content: "";
  display: table;
}
.type-page .entry-content .ninja-forms-cont:after {
  clear: both;
}
.type-page .entry-content .ninja-forms-cont .ninja-forms-required-items {
  font-style: italic;
  margin: 0 0 10px 0;
}
.type-page .entry-content .ninja-forms-cont .ninja-forms-response-msg p {
  font-family: 'DINCond-Regular';
  margin: 0;
}
.type-page .entry-content .ninja-forms-cont .ninja-forms-field-error {
  font-family: 'DINCond-Regular';
}
.type-page .entry-content .ninja-forms-cont .ninja-forms-error-msg,.type-page .entry-content .ninja-forms-cont .ninja-forms-field-error {
  color: #b32222;
}
.type-page .entry-content .ninja-forms-cont .submit-wrap.btn-wrap {
  margin-left: 130px;
  margin-top: 10px;
  margin-bottom: 0;
  display: inline-block;
  border: 1px solid #c3a572;
  background-color: #fff;
  padding: 4px;
}
.type-page .entry-content .ninja-forms-cont .submit-wrap.btn-wrap input {
  margin: 0;
  display: block;
  padding: 6px 50px;
  font: 22px 'DINCond-Regular';
  color: #1a171b;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: 0 solid transparent;
  background-color: #c3a572;
}
.type-page .entry-content .ninja-forms-cont label,.type-page .entry-content .ninja-forms-cont input {
  font-family: 'DINCond-Regular';
  color: #1a171b;
}
.type-page .entry-content .ninja-forms-cont input[disabled="disabled"] {
  background-color: #ccc;
}
.type-page .entry-content .ninja-forms-cont .ninja-forms-field p {
  font-family: 'DIN-Regular';
  color: #1a171b;
}
.type-page .entry-content .ninja-forms-cont .field-wrap.ninja-forms-error label {
  color: #b32222;
}
.type-page .entry-content .ninja-forms-cont .field-wrap.ninja-forms-error input {
  border: 1px solid #b32222;
}
.type-page .entry-content .ninja-forms-cont .field-wrap .ninja-forms-field-error {
  display: none !important;
}
.type-page .entry-content .ninja-forms-cont .text-wrap .ninja-forms-field,.type-page .entry-content .ninja-forms-cont .textarea-wrap .ninja-forms-field {
  border: 1px solid #d9d9d9;
  padding: 6px 4px;
}
.type-page .entry-content .ninja-forms-cont .field-wrap.text-wrap.label-left label,.type-page .entry-content .ninja-forms-cont .field-wrap.textarea-wrap.label-left label {
  width: 120px;
  display: inline-block;
}
.type-page .entry-content .ninja-forms-cont .field-wrap.text-wrap.label-left input,.type-page .entry-content .ninja-forms-cont .field-wrap.textarea-wrap.label-left input {
  width: 200px;
}
.type-page .entry-content .ninja-forms-cont .field-wrap.list-dropdown-wrap select {
  border: 1px solid #d9d9d9;
  padding: 6px 4px;
  font-family: 'DIN-Regular';
  color: #1a171b;
}
.type-page .entry-content .ninja-forms-cont .field-wrap.textarea-wrap.label-left textarea {
  width: 200px;
  height: 100px;
}
.type-page .entry-content .ninja-forms-cont#ninja_forms_form_1_cont .field-wrap.text-wrap {
  float: left;
}
.type-page .entry-content .ninja-forms-cont#ninja_forms_form_1_cont .field-wrap.text-wrap .ninja-forms-field {
  width: 200px;
}
.type-page .entry-content .ninja-forms-cont#ninja_forms_form_1_cont .submit-wrap.btn-wrap {
  margin: 0 0 0 10px;
}
.type-page .entry-content .ninja-forms-cont#ninja_forms_form_1_cont .submit-wrap.btn-wrap input {
  padding: 4px 20px;
}
.type-page .entry-content .ninja-forms-cont#ninja_forms_form_2_cont .field-wrap.list-dropdown-wrap label {
  width: 120px;
  display: inline-block;
}
.type-page .entry-content hr {
  background-color: #b59461;
  color: #b59461;
  height: 1px;
  margin: 20px 0;
  padding: 0;
  border: 0;
}
.type-page .entry-content .btn {
  margin-top: 10px;
}
.type-page .entry-content .btn.inline {
  display: inline-block;
  margin-right: 10px;
}
.type-page .entry-content .btn span {
  display: inline-block;
  border: 1px solid #c3a572;
  background-color: #fff;
  padding: 4px;
}
.type-page .entry-content .btn a {
  display: block;
  padding: 10px 20px;
  font: 12px 'DINCond-Regular';
  color: #1a171b;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #c3a572;
}
.type-page .entry-content .btn-group {
  text-align: center;
}
.type-page .entry-content .btn-group .btns {
  position: relative;
  display: inline-block;
  margin: auto;
  padding: 0 14px 0 24px;
}
.type-page .entry-content .btn-group .btns:before {
  content: '';
  display: block;
  height: 66px;
  width: 15px;
  background: url('images/icon-deco-left.png') no-repeat 0 0;
  position: absolute;
  left: 0;
  top: 6px;
}
.type-page .entry-content .btn-group .btns:after {
  content: '';
  display: block;
  height: 66px;
  width: 15px;
  background: url('images/icon-deco-right.png') no-repeat 0 0;
  position: absolute;
  right: 0;
  top: 6px;
}
.type-page .entry-content .liste_prix ul li {
  font-size: 12px;
}
.type-page .entry-content ul li {
  font-family: 'DIN-Regular';
}
.type-page .entry-content ul li strong {
  font-family: 'DIN-Bold';
}
.type-page .entry-content .illustration {
  float: left;
  margin-right: 10px;
}
.type-page .entry-content .illustration img {
  width: 65px;
  height: 71px;
}
.type-page .entry-content .illustration.pin img {
  width: 50px;
  height: 71px;
}
.type-page .entry-content .illustration-partners {
  text-align: center;
  margin: auto;
}
.type-page .entry-content .illustration-partners img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}
.type-page .entry-content .su-spoiler-title {
  color: #323232;
  font: 15px 'DIN-Regular';
  text-decoration: underline;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 20px;
}
.type-page .entry-content .su-spoiler-title .su-spoiler-icon {
  top: 0;
}
.type-page .entry-content .su-spoiler-content {
  border: 1px solid #5e5e5e;
  padding: 15px;
  margin: 10px;
}
.type-page .entry-content .su-spoiler-content a {
  color: #1a171b;
  text-decoration: underline;
}
.type-page .entry-content .su-tabs {
  border: 0 solid transparent;
  border-radius: 0;
  background: #fff;
}
.type-page .entry-content .su-tabs-nav span {
  font-family: 'DINCond-Regular';
  font-size: 14px;
  text-transform: uppercase;
  color: #6e6e6e;
  border: 1px solid #dcdcdc;
  border-bottom: 1px solid #1b1b1b;
  margin-left: -3px;
  margin-bottom: -1px;
}
.type-page .entry-content .su-tabs-nav span:first-child {
  margin-left: 0;
}
.type-page .entry-content .su-tabs-nav span.su-tabs-current {
  color: #1b1b1b;
  border-color: #1b1b1b;
  border-bottom: 1px solid #fff;
}
.type-page .entry-content .su-tabs-panes {
  border: 1px solid #1b1b1b;
  padding: 15px;
}
.type-page .entry-content .su-tabs-panes .su-tabs-pane {
  padding: 0;
}
.type-page .entry-content .su-tabs-panes .su-tabs-pane ul {
  margin: 0;
}
@media screen and (min-width:1000px) {
  .type-page {
    margin-bottom: 40px;
  }
  .type-page .st_contenu {
    clear: both;
    width: 858px;
    margin: auto;
  }
  .type-page h1 {
    font-size: 42px;
  }
  .type-page .entry-content {
    font-size: 15px;
  }
  .type-page .entry-content.has_illustrations .st_contenu {
    margin-left: 134px;
    position: relative;
  }
  .type-page .entry-content h2 {
    line-height: 40px;
  }
  .type-page .entry-content hr {
    margin: 30px 0;
  }
  .type-page .entry-content .liste_prix ul li {
    font-size: 16px;
    width: 50%;
    float: left;
  }
  .type-page .entry-content .btn a {
    font-size: 25px;
    text-decoration: none;
  }
  .type-page .entry-content .illustration {
    margin-left: -134px;
    margin-right: 0;
  }
  .type-page .entry-content .illustration img {
    width: 111px;
    height: 121px;
  }
  .type-page .entry-content .illustration.pin img {
    width: 90px;
    height: 128px;
  }
  .type-page .entry-content .su-spoiler-title {
    font-size: 18px;
  }
  .type-page .entry-content .su-spoiler-title .su-spoiler-icon {
    top: 3px;
  }
  .type-page .wpgmza_map {
    border: 1px solid #c3a572;
    padding: 4px;
  }
  .type-page .column-group {
    width: 100%;
    overflow: hidden;
  }
  .type-page .column {
    float: left;
    margin-right: 5%;
    width: 100%;
  }
  .type-page .column-group>br,.type-page .column-group>p {
    display: none;
  }
  .type-page .column.last {
    margin-right: 0;
  }
  .type-page .columns-2 .column {
    width: 47.5%;
  }
  .type-page .columns-3 .column {
    width: 30%;
  }
  .type-page .columns-4 .column {
    width: 21.25%;
  }
  .type-page .columns-3 .column-span-2 {
    width: 65%;
  }
  .type-page .columns-4 .column-span-2 {
    width: 47.5%;
  }
  .type-page .columns-4 .column-span-3 {
    width: 73.75%;
  }
}
.page-homepage .st_promo {
  display: none;
}
.page-homepage .logo-groombox-alt {
  padding-top: 20px;
}
.page-homepage .logo-groombox-alt img {
  width: 183px;
  height: 176px;
  margin: auto;
}
.page-homepage .links {
  margin-top: 40px;
}
.page-homepage .links li a {
  font: 30px 'DINCond-Regular';
  color: #1a171b;
  text-decoration: none;
  text-transform: uppercase;
}
.page-homepage .links li a:hover {
  color: #c3a572;
}
.page-homepage .baseline {
  font: 22px 'DIN-Regular';
  color: #000;
  margin: 20px 20px 40px;
}
.page-homepage .steps {
  margin-top: 40px;
}
.page-homepage .steps .illustration img {
  margin: auto;
}
.page-homepage .steps .step {
  padding: 20px;
}
.page-homepage .steps .step.odd {
  background-color: #f4f3f4;
}
.page-homepage .steps .step h2 {
  font-family: 'DINCond-Regular';
  font-size: 30px;
  text-transform: uppercase;
}
.page-homepage .steps .step p {
  font-family: 'DINCond-Regular';
}
.page-homepage .steps .step a {
  color: #1a171b;
  text-decoration: none;
}
.page-homepage #homepage-arrow-down {
  margin: 20px auto 0;
}
.page-homepage #homepage-arrow-down img {
  margin: auto;
}
.page-homepage #homepage-arrow-down h2 {
  font-family: 'DINCond-Regular';
  font-size: 20px;
  text-transform: uppercase;
  margin: 10px 0 0;
}
@media screen and (min-width:1000px) {
  .page-homepage .st_promo {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
  }
  .page-homepage .logo-groombox-alt img {
    width: 304px;
    height: 292px;
  }
  .page-homepage .links {
    margin: 20px 0 0 0;
  }
  .page-homepage .links li {
    display: inline-block;
  }
  .page-homepage .links li.separator {
    font-size: 40px;
    margin: 0 30px;
  }
  .page-homepage .links li a {
    font-size: 40px;
  }
  .page-homepage .baseline {
    font-size: 25px;
    margin: 10px auto;
  }
  .page-homepage .buttons {
    position: relative;
    width: 720px;
    margin: auto;
    margin-top: 20px;
  }
  .page-homepage .buttons:before {
    content: '';
    display: block;
    height: 66px;
    width: 15px;
    background: url('images/icon-deco-left.png') no-repeat 0 0;
    position: absolute;
    left: -4px;
    top: 0;
  }
  .page-homepage .buttons:after {
    content: '';
    display: block;
    height: 66px;
    width: 15px;
    background: url('images/icon-deco-right.png') no-repeat 0 0;
    position: absolute;
    right: -4px;
    top: 0;
  }
  .page-homepage .buttons a {
    display: inline-block;
    width: 336px;
    border: 1px solid #c3a572;
    font: 36px 'DINCond-Regular';
    color: #1a171b;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
  }
  .page-homepage .buttons a:first-child {
    margin-right: 8px;
  }
  .page-homepage .buttons a span {
    display: block;
    background-color: #c3a572;
    border: 4px solid #fff;
    padding: 8px 0;
  }
  .page-homepage .steps {
    zoom: 1;
    width: 1000px;
    margin: 200px auto 0;
  }
  .page-homepage .steps:before,.page-homepage .steps:after {
    content: "";
    display: table;
  }
  .page-homepage .steps:after {
    clear: both;
  }
  .page-homepage .steps .baseline {
    margin-bottom: 40px;
    font-size: 30px;
    text-transform: uppercase;
  }
  .page-homepage .steps .step {
    padding: 100px 20px;
    height: 530px;
    float: left;
    width: 25%;
  }
  .page-homepage .steps .step h2 {
    font-size: 42px;
  }
  .page-homepage .steps .step p {
    font-size: 24px;
  }
}
.tabs_comment-ca-marche {
  margin: 20px auto 40px;
  width: 100%;
}
.tabs_comment-ca-marche .tab-trigger {
  display: none;
}
.tabs_comment-ca-marche .tab-title {
  background-color: #f4f3f4;
  padding: 10px;
}
.tabs_comment-ca-marche .tab-title .tab-image {
  float: left;
  margin-right: 10px;
}
.tabs_comment-ca-marche .tab-title .tab-image img {
  height: 59px;
}
.tabs_comment-ca-marche .tab-title h2 {
  line-height: 1.2em;
  margin: 0;
}
.tabs_comment-ca-marche .tab-title p {
  font: 24px/1.2em 'DINCond-Regular';
  margin: 0;
}
.tabs_comment-ca-marche .tab-title .tab-close {
  display: none;
}
.tabs_comment-ca-marche .tab-description {
  border: 1px solid #f4f3f4;
  padding: 10px;
}
.tabs_comment-ca-marche .tab-description p {
  margin: 0 0 10px 0;
}
@media screen and (min-width:1000px) {
  .tabs_comment-ca-marche {
    margin: 20px auto 100px;
    width: 1000px;
  }
  .tabs_comment-ca-marche .tabs-container {
    zoom: 1;
  }
  .tabs_comment-ca-marche .tabs-container:before,.tabs_comment-ca-marche .tabs-container:after {
    content: "";
    display: table;
  }
  .tabs_comment-ca-marche .tabs-container:after {
    clear: both;
  }
  .tabs_comment-ca-marche .tab-trigger {
    display: block;
    cursor: pointer;
    text-align: center;
    height: 100%;
  }
  .tabs_comment-ca-marche .tab-trigger img {
    margin: auto;
    padding: 10px 0;
  }
  .tabs_comment-ca-marche .tab {
    float: left;
    width: 80px;
    height: 560px;
    overflow: hidden;
    border-width: 0 1px;
    border-style: solid;
  }
  .tabs_comment-ca-marche .tab.odd {
    border-color: #f4f3f4;
  }
  .tabs_comment-ca-marche .tab.odd .tab-trigger {
    background-color: #f4f3f4;
  }
  .tabs_comment-ca-marche .tab.even {
    border-color: #fff;
  }
  .tabs_comment-ca-marche .tab.even .tab-trigger {
    background-color: #fff;
  }
  .tabs_comment-ca-marche .tab .tab-title,.tabs_comment-ca-marche .tab .tab-description {
    display: none;
  }
  .tabs_comment-ca-marche .tab:first-child {
    width: 760px;
  }
  .tabs_comment-ca-marche .tab.collapsed .tab-trigger {
    display: none;
  }
  .tabs_comment-ca-marche .tab.collapsed .tab-title,.tabs_comment-ca-marche .tab.collapsed .tab-description {
    display: block;
  }
  .tabs_comment-ca-marche .tab-content {
    height: 100%;
  }
  .tabs_comment-ca-marche .tab-title {
    float: left;
    width: 35%;
    height: 100%;
    overflow: hidden;
    background-color: #f4f3f4;
    padding: 10px;
  }
  .tabs_comment-ca-marche .tab-title .tab-image {
    float: none;
    margin: auto;
    text-align: center;
    margin: 60px 30px 0;
  }
  .tabs_comment-ca-marche .tab-title .tab-image img {
    width: 100%;
    height: auto;
    margin: auto;
  }
  .tabs_comment-ca-marche .tab-title h2 {
    line-height: 1.2em;
    font-size: 36px;
    margin: 40px 30px 0;
  }
  .tabs_comment-ca-marche .tab-title p {
    font: 24px/1.2em 'DINCond-Regular';
    margin: 20px 30px 0;
  }
  .tabs_comment-ca-marche .tab-title .tab-close {
    display: block;
    margin: 60px 30px 0;
    color: #1a171b;
  }
  .tabs_comment-ca-marche .tab-description {
    float: left;
    border: 0 solid transparent;
    padding: 60px 30px;
    width: 65%;
    height: 100%;
    overflow: hidden;
  }
}
.type-page .entry-content .st_map-container>p {
  margin-bottom: 10px !important;
  font-size: 14px;
  text-align: right !important;
  margin-top: 0;
}
.type-page .entry-content .st_map-container>p select {
  margin-left: 10px;
}
.type-page .entry-content .st_map-container .wpgmza_table_description {
  display: none;
}
.type-page .entry-content .st_map-container .dataTables_length,.type-page .entry-content .st_map-container .dataTables_filter {
  font-family: 'DIN-Regular';
  margin-bottom: 20px;
}
.type-page .entry-content .st_map-container .dataTables_length label,.type-page .entry-content .st_map-container .dataTables_filter label {
  font-size: 14px;
}
.type-page .entry-content .st_map-container .dataTables_paginate a {
  color: #c3a572 !important;
  font: 15px 'DIN-Regular';
}
.type-page .entry-content .st_map-container .dataTables_paginate a:hover {
  text-decoration: underline !important;
}
.type-page .entry-content .st_map-container .dataTables_info {
  font: 15px 'DIN-Regular';
  margin-bottom: 20px;
}
.type-page .entry-content .st_map-container .wpgmza_table {
  border: 1px solid #c3a572;
  width: 100%;
  margin-bottom: 10px;
}
.type-page .entry-content .st_map-container .wpgmza_table thead th {
  font-size: 13px;
}
.type-page .entry-content .st_map-container .wpgmza_table tr {
  height: 30px !important;
}
.type-page .entry-content .st_map-container .wpgmza_table tr.odd {
  background-color: #f4f3f4;
}
.type-page .entry-content .st_map-container .wpgmza_table td {
  font-size: 13px;
  font-family: 'DIN-Regular';
  line-height: 1.2em;
  vertical-align: middle !important;
  padding: 4px !important;
}
.type-page .entry-content .st_map-container .wpgmza_table td.wpgmza_table_marker {
  text-align: center;
  width: 10%;
  height: 30px !important;
}
.type-page .entry-content .st_map-container .wpgmza_table td.wpgmza_table_marker img {
  margin: auto;
  height: 20px;
}
.type-page .entry-content .st_map-container .wpgmza_table td.wpgmza_table_title {
  width: 20%;
}
.type-page .entry-content .st_map-container .wpgmza_table td.wpgmza_table_category {
  width: 20%;
}
.type-page .entry-content .st_map-container .wpgmza_table td.wpgmza_table_address {
  width: 50%;
}
.type-page .entry-content .st_map-container .wpgmaps_directions_outer_div {
  clear: both;
  padding-top: 0;
  margin-bottom: 20px;
}
.type-page .entry-content .st_map-container .wpgmaps_directions_outer_div tr td {
  font-size: 15px;
  font-family: 'DIN-Regular';
  line-height: 1.2em;
  vertical-align: top !important;
  padding: 4px 0;
}
.type-page .entry-content .st_map-container .wpgmaps_directions_outer_div tr td:first-child {
  font-family: 'DIN-Regular';
  width: 80px;
  line-height: 35px;
}
.type-page .entry-content .st_map-container .wpgmaps_directions_outer_div tr td a {
  color: #c3a572 !important;
}
.type-page .entry-content .st_map-container .wpgmaps_directions_outer_div tr td input,.type-page .entry-content .st_map-container .wpgmaps_directions_outer_div tr td select {
  border: 1px solid #d9d9d9;
  padding: 6px 4px;
  color: #1a171b;
  height: 35px;
  line-height: 35px;
}
.type-page .entry-content .st_map-container .wpgmaps_directions_outer_div tr td input.wpgmaps_get_directions {
  margin: 0;
  display: block;
  padding: 6px 50px;
  font: 22px 'DINCond-Regular';
  color: #1a171b;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: 0 solid transparent;
  background-color: #c3a572;
}
#app.blog #container {
  zoom: 1;
}
#app.blog #container:before,
#app.blog #container:after {
  content: "";
  display: table;
}
#app.blog #container:after {
  clear: both;
}
#app.blog #content {
  zoom: 1;
}
#app.blog #content:before,
#app.blog #content:after {
  content: "";
  display: table;
}
#app.blog #content:after {
  clear: both;
}
#app.blog #header {
  padding: 0 0 10px 0;
}
#app.blog #header .logo-groombox {
  padding: 10px;
  text-align: center;
}
#app.blog #header .logo-groombox img {
  margin: auto;
  width: 106px;
  height: 102px;
}
#app.blog #header #userbox {
  display: none;
}
#app.blog #header h1 {
  text-align: center;
  font-family: 'DINEngschrift';
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  line-height: 1em;
  font-size: 60px;
  margin-bottom: 20px;
}
#app.blog #header h1 a {
  color: #fff;
  text-decoration: none;
}
#app.blog #header h1 a:hover {
  color: #c3a572;
}
#app.blog #header .social {
  text-align: center;
}
#app.blog #header .social > div {
  display: inline-block;
  margin-right: 6px;
}
#app.blog #header .social > div.email {
  margin-left: 16px;
}
#app.blog #header .social img {
  height: 29px;
  width: 29px;
}
#app.blog #header #nav-blog li {
  margin: 4px 0;
}
#app.blog #header #nav-blog li:first-child {
  margin-left: 0;
}
#app.blog #header #nav-blog a {
  font-size: 32px;
  font-family: 'DINEngschrift';
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  text-align: center;
}
#app.blog #header #nav-blog a:hover {
  color: #c3a572;
}
#app.blog .post {
  background: #FFF;
  border: 1px solid #dbdbdb;
  margin: 20px auto;
  position: relative;
  width: 600px;
}
#app.blog .post .post-category {
  position: absolute;
  width: auto;
  background: #000;
  margin-top: -30px;
  z-index: 10;
  height: 30px;
  overflow: hidden;
  left: 0;
}
#app.blog .post .post-category p {
  margin: 0;
  padding: 0;
  line-height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  color: #fff;
}
#app.blog .post .post-category a {
  color: #fff;
  font-size: 15px;
  font-family: 'DIN-Regular';
  text-decoration: none;
}
#app.blog .post .post-category a:hover {
  color: #c3a572;
}
#app.blog .post .post-content {
  margin: 20px;
  clear: both;
}
#app.blog .post .post-metas h2 {
  font-size: 40px;
  margin: 20px 0 10px;
  color: #000000;
  padding: 0;
  font-family: 'DINCond-Regular';
  text-transform: uppercase;
  font-weight: bold;
}
#app.blog .post .post-metas h2 a {
  color: #000;
  text-decoration: none;
}
#app.blog .post .post-metas h2 a:hover {
  color: #c3a572;
}
#app.blog .post .post-image img {
  width: 100%;
  height: auto;
}
#app.blog .post .post-date {
  color: #8e8e8e;
  font-size: 14px;
  font-family: 'DIN-Regular';
  padding-bottom: 0;
  padding-top: 0;
  margin: 0;
}
#app.blog .post .post-intro p {
  font-size: 12px;
  color: #454545;
  line-height: 22px;
  margin: 0px;
  padding: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 14px;
  font-family: 'DIN-Regular';
}
#app.blog .post .post-intro p a {
  text-decoration: underline;
  color: #000;
}
#app.blog .post .post-intro p a:hover {
  color: #c3a572;
}
#app.blog .post .post-intro .excerpt-read-more a {
  color: #000;
  text-decoration: none;
  display: block;
  width: 150;
  border-top: 1px dotted #ccc;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 13px;
  width: 150px;
}
#app.blog .post .post-intro .excerpt-read-more a:hover {
  color: #c3a572;
}
#app.blog .layout-masonry {
  margin: 20px 10px;
  position: relative;
  zoom: 1;
}
#app.blog .layout-masonry:before,
#app.blog .layout-masonry:after {
  content: "";
  display: table;
}
#app.blog .layout-masonry:after {
  clear: both;
}
#app.blog .layout-masonry .post {
  width: 300px;
  margin: 0 10px 15px 0;
  display: inline;
  float: left;
}
#app.blog .layout-masonry .post .post-metas h2 {
  font-size: 23px;
}
#app.blog .layout-masonry .post .post-date {
  width: 150px;
  font-size: 11px;
  border-bottom: 1px dotted #cccccc;
  padding: 0;
  margin: 0;
}
#app.blog .layout-masonry .post .post-image img {
  width: 298px;
}
#app.blog .layout-masonry .post .post-content {
  margin: 0 auto;
  width: 250px;
}
#app.blog .blog-newsletter {
  padding-top: 20px;
}
@media only screen and (min-width: 1000px) {
  #app.blog #header {
    height: 138px;
  }
  #app.blog #header .layout {
    height: 138px;
  }
  #app.blog #header .logo-groombox {
    padding: 16px;
  }
  #app.blog #header h1 {
    position: absolute;
    font-size: 60px;
    left: 140px;
    margin: 0;
    top: 16px;
    line-height: 1em;
    text-align: left;
  }
  #app.blog #header .social {
    text-align: left;
    position: absolute;
    bottom: 20px;
    left: 140px;
  }
  #app.blog #header #userbox {
    display: block;
  }
  #app.blog #header #nav-blog {
    position: absolute;
    top: 64px;
    right: 16px;
  }
  #app.blog #header #nav-blog li {
    display: inline-block;
    margin: 0 0 0 20px;
  }
  #app.blog #header #nav-blog li:first-child {
    margin-left: 0;
  }
  #app.blog #header #nav-blog a {
    text-align: left;
    font-size: 32px;
  }
  #app.blog .layout-masonry {
    width: 94%;
    margin: 20px auto;
  }
}
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  a,a:visited {
    color: #444 !important;
    text-decoration: underline;
  }
  a:after,a:visited:after {
    content: " (" attr(href) ")";
  }
  a abbr[title]:after,a:visited abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after {
    content: "";
  }
  pre,blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: .5cm;
  }
  p,h2,h3 {
    orphans: 3;
    widows: 3;
  }
  h2,h3 {
    page-break-after: avoid;
  }
  .sidebar,.page-navigation,.wp-prev-next,.respond-form,nav {
    display: none;
  }
}

/* Thickbox */
html #TB_title {
	background-color: #C3A572;
	height: 28px;
	color: #1a171b;
}

html #TB_closeWindowButton {
	color: #1a171b;
}

html #TB_window {
  border: 4px solid transparent;
  outline: 1px solid #c3a572;
  background: transparent;
}

#TB_ajaxContent {
	background-color: #fff;
	color: #1a171b;
}


@media (max-width: 767px) {
  body {
    padding: 0 !important;
  }

  #content {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 0;
  }
}

@media (min-width: 1000px){
    .lang-switcher {
        text-align: right;
        position: absolute;
        top: 15px;
    }
}


@media (min-width: 1000px){
    .lang-switcher a {
        padding-right: 0;
    }
}

.lang-switcher {
  position: absolute;
  top: .6rem;
  right: 13%;
  width:10rem;
}

.lang-switcher a:first-child {
  margin-right: 8px;
}

.lang-switcher img {
    display: block;
    vertical-align: middle;
    height: 20px;
    padding: .2rem;
    float:left;
}

@media (min-width: 1000px){
    .lang-switcher img {
        height: 14px;
    }
}
