/* Table of Content
======================================================================================================================================================
	#Site Styles
	#Blog Styles
	#Page Styles
	#Post Formats
	#Portfolio Styles
	#Sidebar & Widgets
	#Footer & #Socket
	#Comment
	#CSS Animations
	#Media Queries
	*/

/* ======================================================================================================================================================
#Site Styles
====================================================================================================================================================== */

#header{
position: relative;
z-index: 501; /*(issues/769)*/
width:100%;
background: transparent;
}

#header_main .container, .main_menu ul:first-child > li a{ height:88px; line-height: 88px; }


/* sticky variation*/
.html_header_top.html_header_sticky #main{ padding-top:88px; } 
.html_header_top.html_header_transparency #header{ position: absolute; }
.html_header_top.html_header_sticky #header{ position: fixed; }
.html_header_top.html_header_sticky.html_bottom_nav_header #main{ padding-top:125px; }
.html_bottom_nav_header .avia-search-tooltip { top: 101% !important; margin-left: -130px; }
.html_header_top.html_header_sticky.html_header_unstick_top .header-scrolled-full#header {  }


/*big header*/
.html_header_top.html_header_sticky.html_large #main{ padding-top:116px; }
.html_header_top.html_header_sticky.html_large #header_main .container, .html_header_top.html_header_sticky.html_large.html_main_nav_header .main_menu ul:first-child > li a { height: 116px; line-height: 116px; }
.html_header_top.html_header_sticky.html_large.html_bottom_nav_header #main{ padding-top:147px; }

/* stretched variation*/
.html_header_top #top .av_header_stretch .container{width:96%; padding:0; max-width: 100%;}

/*logo + position variation*/
.html_header_top #top .av_logo_right .logo{ left:auto; right:0; }
.html_header_top #top .av_menu_left .main_menu{left:0px; right:auto;}
.html_header_top.html_main_nav_header #top .av_menu_left .main_menu{left:-13px; right:auto;}

.html_header_top .av_bottom_nav_header .main_menu ul:first-child > li a { height:35px; line-height: 35px;}

.html_header_top.html_bottom_nav_header #header_main{ z-index: 3; }
.html_header_top.html_bottom_nav_header .main_menu{ clear: both; position: relative; line-height: 40px; height: 100%; width:100%; float:left; }
.html_header_top.html_bottom_nav_header .main_menu>div,
.html_header_top.html_bottom_nav_header .main_menu ul:first-child{width:100%; height:35px;}
.html_header_top.html_bottom_nav_header #top .main_menu ul:first-child>li:hover{z-index: 1000; position: relative;}
.html_header_top.html_bottom_nav_header #top .main_menu .menu-item-search-dropdown{float:right;}

#header_main_alternate{ z-index: 2;}
#header #header_main_alternate .container{max-height: none; height:auto;}
#header_main_alternate .main_menu .menu li ul ul { left: 207px; }
#header_main_alternate .avia_mega_div{ right:auto;left:0;}
#header_main_alternate .av-menu-button > a .avia-menu-text{padding:5px;}
#header_main_alternate .av-menu-button-colored > a .avia-menu-text{padding:7px 6px 6px 6px;}


.html_header_top.html_logo_center .main_menu{text-align: center;}
.html_header_top.html_logo_center .main_menu ul:first-child{display: inline-block; width:auto;}
.html_header_top.html_logo_center .logo{ left:50%;  
-webkit-transform: 	translate(-50%, 0); 
-ms-transform: 		translate(-50%, 0);
transform: 			translate(-50%, 0);
}

.avia-msie-8 .logo img{height:100%;}
.avia-msie-8.html_header_top.html_logo_center .logo { left:46%; /*ie8 rule for somewhat centering the logo*/}

.html_header_top.html_bottom_nav_header.html_logo_right .main_menu ul:first-child{width:auto; float:right;}
.html_header_top.html_bottom_nav_header.html_logo_right .main_menu ul:first-child{width:auto; float:right;}

/*top bar variation*/
.html_header_top.html_header_topbar_active.html_header_sticky #top #main{ padding-top:119px; } 
.html_header_top.html_header_topbar_active.html_header_sticky.html_large #top #main{ padding-top:147px; } 
.html_header_top.html_header_topbar_active.html_header_sticky.html_bottom_nav_header #top #main{ padding-top:155px; }
.html_header_top.html_header_topbar_active.html_header_sticky.html_large.html_bottom_nav_header #top #main{ padding-top:184px; }

/*top bar element alignment*/
.av_icon_active_left .social_bookmarks{ float: left; }
.av_icon_active_right .social_bookmarks{ float: right; }
.av_secondary_right .sub_menu{float:right;}
.av_phone_active_left .phone-info{ float: left; }
.av_phone_active_right .phone-info{ float: right; }


/*header with social icons and bottom nav */

.phone-info {
float: left;
font-weight: bold;
line-height: 20px;
font-size: 11px;
padding:5px 0;
}

.phone-info span{ display: inline-block; line-height: 1em;}

.av_secondary_left .sub_menu>ul>li:last-child, .av_secondary_left .sub_menu>div>ul>li:last-child{ border:none; padding-right: 0;}
.av_secondary_right .sub_menu>ul>li:last-child, .av_secondary_right .sub_menu>div>ul>li:last-child{ border:none; margin-right: 0px; padding-right:0; padding-left:10px;}

.av_secondary_left .sub_menu>ul>li:first-child{padding-left:0;}
.av_icon_active_left.av_secondary_left .sub_menu>ul>li:first-child{padding-left:10px;}
.av_icon_active_right.av_secondary_right .sub_menu>ul>li:first-child{padding-left:10px;}


.av_secondary_right .sub_menu{padding-left:10px;} 
.av_icon_active_right .social_bookmarks{padding-left:20px;}

.av_secondary_left .sub_menu{padding-right:10px;} 

/* .html_boxed.html_header_sticky #header{ width:auto; } */
.html_boxed #main {position: static; /*necessary for boxed layout + fix bg sections */ overflow: hidden; }
.html_logo_right.html_bottom_nav_header #header_main .social_bookmarks{right:auto; left:0;}



/*header with social icons and main nav */

#header_main nav .social_bookmarks {
position: relative;
top: 50%;
margin-top: -16px;
right: 0;
overflow: hidden;
clear: none;
float: left;

}

.avia-menu.av_menu_icon_beside{padding-right:25px; margin-right:25px; border-right-width: 1px; border-right-style: solid;  }
.fallback_menu + .social_bookmarks { padding-left: 18px; }

#header_meta{
border-top:none;
z-index: 10;
min-height: 30px;
border-bottom-style: solid;
border-bottom-width: 1px;
margin-bottom:-1px;
}

#header_meta .container{min-height: 30px;}

#header_main{
border-bottom-width: 1px;
border-bottom-style: solid;
z-index: 1;
}

#header.shadow{box-shadow:0px 0px 3px rgba(0, 0, 0, 0.2);}

.header_bg{
position: absolute;
top:0;
left:0;
width:100%;
height:100%;
opacity:0.95;
filter:alpha(opacity=95); /* For IE8 and earlier */
z-index: 0;
-webkit-transition: all 0.4s ease-in-out;
transition: 		all 0.4s ease-in-out;
-webkit-perspective: 1000px;
-webkit-backface-visibility: hidden;
}

.html_header_sticky_disabled .header_bg { opacity: 1; filter: alpha(opacity=100); }
.avia-msie-8.html_header_transparency .av_header_sticky_disabled#header{background: transparent;}

/*minimal header*/
.av_minimal_header .header_bg{opacity:1; filter:alpha(opacity=100);}
.av_minimal_header #header_main, .av_minimal_header #header_meta{border:none;}
.av_minimal_header .avia-menu-fx{display: none;}
#top #header.av_minimal_header .main_menu ul:first-child >li > ul, 
#top #header.av_minimal_header .main_menu .avia_mega_div > .sub-menu{border-top: none;}
.av_minimal_header #header_main .container, .av_minimal_header .main_menu ul:first-child > li a{ height:90px; line-height: 90px; }
.html_header_top.html_header_sticky.html_large .av_minimal_header #header_main .container, 
.html_header_top.html_header_sticky.html_large.html_main_nav_header .av_minimal_header .main_menu ul:first-child > li a
{height:118px; line-height: 118px;}
.av_minimal_header + #main .container_wrap_first { border-top: none; }
#top .av_minimal_header #s{border:none; padding: 12px 47px 12px 5px; }
#top .av_minimal_header .ajax_search_entry{border:none;}


.av_minimal_header_shadow{ box-shadow: 0 0 2px 1px rgba(0,0,0,0.1); }
.av_minimal_header_shadow.av_header_transparency{ box-shadow: 0 0 0px 0px rgba(0,0,0,0.0); }

/*transparent header*/
.html_header_transparency #main{padding-top: 0 !important;}
#top #wrap_all .av_header_transparency .main_menu ul:first-child > li > a, #top #wrap_all .av_header_transparency .sub_menu > ul > li > a, #top .av_header_transparency #header_main_alternate, .av_header_transparency #header_main .social_bookmarks li a{ color:inherit; border-color: transparent; background: transparent;}
#top .av_header_transparency .main_menu ul:first-child > li > a:hover, #top #wrap_all .av_header_transparency .sub_menu > ul > li > a:hover{ opacity: 0.8; }
#top .av_header_transparency.av_alternate_logo_active .logo a > img{opacity: 0; filter:alpha(opacity=0);}
#top .av_header_transparency #header_main, #top .av_header_transparency .avia-menu.av_menu_icon_beside{border-color: transparent;}
#top .av_header_transparency .header_bg{background-color: transparent; opacity: 0; filter:alpha(opacity=0);}
#top .av_header_transparency .phone-info{color:inherit;}

.av_header_transparency #advanced_menu_toggle{ color:inherit; background: transparent;}

#top #header.av_header_transparency .avia_mega_div{margin-top:1px; padding-top:1px;}
#top .av_header_transparency .avia-menu-fx {bottom: 22%; width: 70%; left: 15%;}
#top .av_header_transparency .phone-info.with_nav span{ border-color: rgba(255, 255, 255, 0.25); color:#fff; }
#top .av_header_transparency #header_meta li{ border-color: rgba(255,255,255,0.25); color:inherit; }
#top .av_header_transparency #header_meta{background: transparent; box-shadow: none; border-bottom: 1px solid rgba(255,255,255,0.25); }
.html_header_transparency #header_meta{ -webkit-transition: background 0.4s ease-in-out; transition: background 0.4s ease-in-out;}

/*transparent glassy*/
#top .av_header_glassy.av_header_transparency .header_bg{background-color: #fff; opacity: 0.1; filter:alpha(opacity=10); }
#top .av_header_glassy.av_header_transparency #header_main{border-color: rgba(255,255,255,0.25); border-top-color: transparent;}
#top .av_header_glassy.av_header_transparency .avia-menu.av_menu_icon_beside{ border-color: rgba(255, 255, 255, 0.25); }
#top .av_header_glassy.av_header_transparency .social_bookmarks li,
#top .av_header_glassy.av_header_transparency .social_bookmarks li a{border-color: rgba(255,255,255,0.25); color:#fff;}
#top .av_header_glassy.av_header_transparency #header_main_alternate{border-bottom-color: rgba(255,255,255,0.25);}


/*disabled search icon*/
.html_header_searchicon_disabled #top .av_header_border_disabled.av_bottom_nav_disabled .main_menu .menu>li:last-child>a .avia-menu-fx{padding-right:13px;  -moz-box-sizing: content-box; 
-webkit-box-sizing: content-box;  box-sizing: content-box;}

 
/*scrolldown header*/
#top .av_header_scrolldown{
-webkit-transition: opacity 0.6s ease-out, margin 0.6s ease-out;
transition: opacity 0.6s ease-out, margin 0.6s ease-out;
margin-top:0px;
}
#top .av_header_scrolldown.av_header_transparency{opacity: 0;margin-top:-250px !important;}
 
.html_header_transparency.html_header_scrolldown #top .avia-builder-el-0 .container, 
.html_header_transparency.html_header_scrolldown #top .avia-builder-el-0 .slideshow_inner_caption {padding-top: 0;}



/*perma hidden*/
#top .header_hidden{display:none;}

 
/*header separator variations*/
.av_seperator_small_border .av-main-nav > li > a > .avia-menu-text{border-left-style: solid; border-left-width:1px; padding-left: 13px; margin-left: -13px;} 
.av_seperator_small_border .av-main-nav > li:first-child > a > .avia-menu-text{border-left:none;}

.av_seperator_big_border .av-main-nav > li > a{border-left-style: solid; border-left-width:1px; text-align: center; min-width: 90px;}
#top .av_seperator_big_border .av-main-nav > li:last-child > a,
#top .av_seperator_big_border .av-main-nav > #menu-item-search > a{border-right-style: solid; border-right-width:1px; } 
#top .av_seperator_big_border .av-main-nav > #menu-item-search > a{border-left-style: solid; border-left-width:1px; border-color: inherit; } 
#top .av_seperator_big_border#header .av-menu-button > a .avia-menu-text{border:none;}
.av_seperator_big_border .avia-menu.av_menu_icon_beside{ padding-right: 0; }
#top .av_seperator_big_border#header .av-main-nav > li > a{padding:0 13px;}
#top .av_seperator_big_border .avia-menu.av_menu_icon_beside{border-right:none;}
.html_bottom_nav_header #top .av_seperator_big_border .av-main-nav > #menu-item-search > a{border-left-style: solid; border-left-width:1px; border-color: inherit; margin-left: -1px;}








/*menu flyout position*/
.html_header_top #top .av_menu_left .main_menu .menu li ul ul{ left: 207px}


/*sidebar headers*/
.html_header_sidebar{}
.html_header_sidebar #top #header{width:300px; position: absolute; min-height:100%; border-bottom:none;}
.html_header_sidebar #top #header_main{border-top:none;}
.html_header_sidebar #header .container{width:100%; height:auto; line-height: 1.3em; padding:0; float:none; max-width: 100%;}
.html_header_sidebar .header_bg{ opacity: 1; filter: alpha(opacity=95); }

.html_header_left #top  #header{}
.html_header_right #top #header{ right: 0;}
.html_header_left #main{ margin-left:300px; position: relative; border-left-style:solid; border-left-width:1px; }
.html_header_right #main{margin-right:300px; position: relative; border-right-style:solid; border-right-width:1px; }

.html_header_sidebar #top #header.av_always_sticky{position: fixed; -webkit-backface-visibility: hidden; /*fix for layout bugs when scrolling*/}

.html_header_sidebar .logo{position: relative; clear:both; padding:40px; border-bottom-style: solid; border-bottom-width:1px; height:auto; max-height: none; width:100%;}
.html_header_sidebar .logo img{width:100%; max-height: none; padding:0; height:auto;}
.html_header_sidebar .main_menu{position: relative; clear:both; z-index: 200;}
.html_header_sidebar #header .av-main-nav , .html_header_sidebar #header .av-main-nav-wrap{width:100%;}
.html_header_sidebar #header .av-main-nav {padding:20px 0;}
.html_header_sidebar #header .av-main-nav > li{ float:none; display: block; margin:0 13%;}
.html_header_sidebar #header .av-main-nav > li > a{line-height: 1.3em; height:auto; padding:15px 3px; border-bottom-style: solid; border-bottom-width:1px; margin:0 auto;}
.html_header_sidebar #header .av-main-nav > li > a .avia-menu-text{font-size:16px; font-weight:normal;  display:block;}
.html_header_sidebar #header .av-main-nav > li > a .avia-menu-subtext{display:block; font-weight:normal; font-size:12px; padding-top: 3px;}
.html_header_sidebar #header .av-main-nav > li:last-child > a{border:none;}
.html_header_sidebar #header .avia-menu-fx{display:none;}

.html_header_sidebar .av-main-nav ul{border-top-width: 1px;}
.html_header_left .av-main-nav ul{top:0; left:100%; box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1); }
.html_header_left #top .av-main-nav ul ul{left:207px; top:-1px;}
.html_header_right .av-main-nav ul{top:0; left:auto; right:100%; box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.1); }
.html_header_right #top .av-main-nav ul ul{left:-207px; top:-1px;}

.html_header_sidebar #top .av-main-nav ul a{padding: 12px 15px;}
.html_header_sidebar #main > .avia-builder-el-0{border-top:none;}

.html_header_sidebar #top #header .av-menu-button > a{border:none;}
.html_header_sidebar #top #header .av-menu-button + .av-menu-button > a{padding-top:0;}
.html_header_sidebar #top #header .av-menu-button-colored:hover{opacity: 0.8;}

.html_header_left  #header .avia_mega_div{left:100%; top:0; }
.html_header_right #header .avia_mega_div{right:100%; top:0; }
.html_header_sidebar #top #header .avia_mega_div > .sub-menu{border-width: 1px; border-style:solid; }

.html_header_sidebar.html_content_align_left  .container {float:left;}
.html_header_sidebar.html_content_align_right .container {float:right;}

.html_header_sidebar.html_content_align_left #footer, .html_header_sidebar.html_content_align_right #footer,
.html_header_sidebar.html_content_align_left #socket, .html_header_sidebar.html_content_align_right #socket
{
	overflow: hidden;
}

#header .avia-custom-sidebar-widget-area{margin:0; padding:0; float:none;}
#header .avia-custom-sidebar-widget-area .widget{border-top-style: solid; border-top-width:1px; padding:40px; width:100%; overflow: hidden;}

.html_header_sidebar .av-sidebar-social-container{position: relative; clear: both; overflow: hidden;}
.html_header_sidebar #top #header .social_bookmarks{position: relative; top:0;margin:0; border-top-style: solid; border-top-width:1px; clear:both; display:table;width:100%;table-layout: fixed;}
.html_header_sidebar #top #header .social_bookmarks li{float:none; display:table-cell; text-align: center;}
.html_header_sidebar #top #header .social_bookmarks li.social_icon_1 a{border:none;}
.html_header_sidebar #top #header .social_bookmarks li a{width:100%; border-radius: 0; border-left-style: solid; border-left-width: 1px; padding:10px 0;}






/*logo*/

div .logo{ float:left; position: absolute; left:0; z-index: 1;}

.logo, .logo a{
overflow: hidden;
position: relative;
display: block;
height: 100%;
}

.logo img{
padding:0;
display: block;
width: auto;
height: auto;
max-height: 100%;
image-rendering:auto;
position: relative;
z-index: 2;
height : 100%\9; /*hack: fixes ie8 logo*/
height: auto\9; /*hack: fixes ie8 squished logo*/
-webkit-transition: opacity 0.4s ease-in-out;
transition: 		opacity 0.4s ease-in-out;
}

.logo img.alternate{
position: absolute;
z-index: 1;
top:0;
left:0;
opacity: 0;
}

.av_header_transparency .logo img.alternate{opacity: 1;}

/*menu*/
.main_menu{ clear:none; position: absolute; z-index: 100; line-height:30px; height:100%; margin:0; right:0; }
.main_menu .pointer_arrow_wrap{display:none;}

.av-main-nav-wrap{float:left; position: relative; z-index: 3;}
.av-main-nav-wrap ul{ margin:0; padding: 0; }

.av-main-nav ul { display: none; margin-left:0; left:0; position: absolute; top: 100%; width: 208px; z-index: 2; padding:0; box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1); margin-top:-1px; }
.av-main-nav ul li { margin:0; padding:0; width:100%; }
.av-main-nav ul li a { border-right-style: solid; border-right-width:1px; border-left-style: solid; border-left-width:1px; }
.av-main-nav ul li:last-child > a { border-bottom-style: solid; border-bottom-width: 1px; }
.av-main-nav li{ float:left; position:relative; z-index:20; }
.av-main-nav li:hover{ z-index: 100 }
.av-main-nav > li > ul { border-top-width:2px; border-top-style: solid; }
.av-main-nav > li { line-height: 30px; }
.av-main-nav li a { max-width:none; /* fixes IE8 menu width issue*/ }
.av-main-nav > li > a {
display:block;
text-decoration: none;
padding:0 13px;
font-weight: normal;
font-size:12px;
font-weight: 600;
font-size: 13px;
-webkit-transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out, border-color 0.8s ease-in-out;
transition: 		background-color 0.4s ease-in-out, color 0.4s ease-in-out, border-color 0.8s ease-in-out;
}

.av-main-nav > li > a , div #menu-item-shop.cart_dropdown{
-webkit-transition: none;
transition: none;
-webkit-transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out, border-color 0.8s ease-in-out;
transition: 		background-color 0.4s ease-in-out, color 0.4s ease-in-out, border-color 0.8s ease-in-out;
}

.av_header_transparency .av-main-nav > li > a , .av_header_transparency #menu-item-shop.cart_dropdown{
-webkit-transition: border-color 0.2s ease-in-out;
		transition: border-color 0.2s ease-in-out;
}


#top .av-main-nav ul a{
width:100%;
height:auto;
float:left;
text-align:left;
line-height:23px;
padding:8px 15px;
font-size: 12px;
min-height: 23px;
max-width: none;
text-decoration: none;
}

#top .av-main-nav ul ul {
left:-207px;
top:0px;
margin:0;
border-top-style: solid;
border-top-width: 1px;
padding-top: 0px
}

.av-main-nav li:hover ul ul{ display:none; }
#top .av-main-nav li:hover > ul { display:block; }


.avia-menu-fx{position: absolute; bottom:-1px; height:2px; z-index: 10; width:100%; left:0; opacity: 0; visibility: hidden; }
.av-main-nav li:hover .avia-menu-fx, .current-menu-item > a > .avia-menu-fx, .av-main-nav li:hover .current_page_item > a > .avia-menu-fx{opacity: 1; visibility: visible;}

.avia-menu-fx .avia-arrow-wrap{
height:10px;
width:10px;
position: absolute;
top:-10px;
left:50%;
margin-left:-5px;
overflow: hidden;
display:none;
visibility: hidden;
}

.current-menu-item>a>.avia-menu-fx>.avia-arrow-wrap, .current_page_item>a>.avia-menu-fx>.avia-arrow-wrap{display:block;}
.avia-menu-fx .avia-arrow-wrap .avia-arrow{ top: 10px; }


.html_main_nav_header #top .main_menu .menu>li:last-child>a, .html_bottom_nav_header #top #menu-item-search>a{ padding-right:0; }
.html_bottom_nav_header.html_logo_center #top .av_seperator_big_border #menu-item-search>a{ padding-right:13px; border-right-style: solid; border-right-width: 1px; }

/*mega menu styles*/
.main_menu .avia-bullet{display:none}
#top #header .menu-item-mega-parent.current-menu-item{overflow: visible!important;}

#top #header .mega_menu_title a{
color:inherit;
font-size: 17px;
line-height: 1.1em;
padding:0;
margin:0;
background: transparent;
border:none;
}

#top #header .mega_menu_title a:hover{
text-decoration: underline;
}


#header .avia_mega_div{ /* use similar styles to .main_menu .menu ul */
display: none;
margin: -1px 0 0 0;
right: 0;
position: absolute;
top: 100%;
z-index: 2;
box-shadow: 0 32px 60px rgba(0, 0, 0, 0.1);
overflow: hidden;
padding:1px 0 0;
}

#header.av_minimal_header .avia_mega_div{ margin:0; border-top-style:solid; border-top-width:1px; }
#header.av_minimal_header .avia_mega_div .units{border-right:none; }

#header .avia_mega_div .units{
padding:0 14px 0 15px;
margin:0;
border-right-style:dotted;
border-right-width:1px;
}

#header li:hover .avia_mega_div{
display:block;
}

#top #header .avia_mega_div ul, #top #header .avia_mega_div li{ /*reset list styles for mega menus*/
position: relative;
display:block;
top:auto;
left:auto;
height:auto;
}


#top #header .avia_mega_div .sub-menu{
overflow: hidden;
width:100%;
box-shadow: 		none;
border-style:none;
border-width:0px;
position: relative;
top:0;
display:block;
left:0;
clear: both;
}

/*wrapper arround all columns*/
#top #header .avia_mega_div > .sub-menu{
display: table;
padding:20px 30px 30px;
border-top-style:solid;
border-top-width:2px;
}


#top #header .avia_mega_div > .sub-menu.avia_mega_hr {
padding-top: 30px;

}

/*columns*/
#top #header .avia_mega_div > .sub-menu > li{
display: table-cell;
float:none;
padding-top:10px;
padding-bottom:0;
vertical-align: top;
}

#top #header .avia_mega_div > .sub-menu.avia_mega_hr{
border-top-width:1px;
border-top-style:dashed;
}


/*columns inner*/
#top #header .avia_mega_div > .sub-menu > li > ul{
padding:0;
}


/*column lists*/
#top #header .avia_mega_div > .sub-menu > li > ul li{
display: block;
float: none;
padding: 0;
margin:0;
list-style-type: circle;
list-style-position: inside;
}

/*nested column lists*/
#top #header .avia_mega_div > .sub-menu > li > ul ul li{
margin-left:15px;
}

/*column lists links*/
#top #header .avia_mega_div > .sub-menu > li > ul > li  a{
width:auto;
float:none;
display: block;
border:none;
padding:3px 12px 3px 12px;
font-weight: normal;
}

#header .avia_mega_div .avia_mega_menu_columns_first{
padding-left:0;
}

#header .avia_mega_div .avia_mega_menu_columns_last{
padding-right:0;
border-right-style:none;
border-right-width:0;
}

.avia-bullet {
display: block;
position: absolute;
height: 0;
width: 0;
top: 51%;
margin-top: -3px;
left: -3px;
border-top: 3px solid transparent !important;
border-bottom: 3px solid transparent !important;
border-left: 3px solid green;
}

.avia_mega_div .avia-bullet {
margin-top: 12px;
left: 3px;
display: block;
top: 0;
}

/*mega text blocks*/
#header .mega_menu_title{
margin-bottom:8px;
font-size: 17px;
line-height: 1.1em;
font-weight: 600;
display: block;
}

#header .avia_mega_text_block{
line-height: 21px;
}

#top #header .avia_mega_div .sub-menu .avia_mega_text_block a{
padding:0;
display: inline;
border:none;
text-decoration: underline;
}


/*menu button style*/
#top #wrap_all #header .av-menu-button a{background: transparent;}
#top #wrap_all .av_header_border_disabled .av-menu-button > a{border:none; }
.av-menu-button + .av-menu-button{margin-left: -10px;}
.av-menu-button + .av-menu-button > a{padding-left:0px;}
.av-menu-button > a .avia-menu-text{ padding: 9px;}
#top .av-menu-button > a .avia-menu-text{border: 2px solid;  border-radius: 2px;}
.av-menu-button > a .avia-menu-fx{display:none}
.av-menu-button-colored  > a .avia-menu-text{ padding: 11px 10px 10px 10px; }
#top .av-menu-button-colored  > a .avia-menu-text{border-bottom: 1px solid; border-left: none; border-right: none; border-top: none; border-radius: 3px;}
.av-menu-button-colored  > a:hover .avia-menu-text{opacity: 0.9;}
#top #header .av-menu-button > a .avia-menu-subtext{display:none;}
#top #header .av-menu-button > a .avia-menu-text{text-align: center;}


/*ajax search*/

#top #menu-item-search{
z-index: 100;
}

#top .menu-item-search-dropdown > a, #searchform #searchsubmit, .ajax_search_image, .iconfont{
font-size: 17px;
}

#top #menu-item-search.menu-item-search-dropdown>a{
border-left:none;

}

#top #menu-item-search:hover>a{
background: transparent;
color: inherit;
}

.avia-search-tooltip{
position: absolute;
z-index: 9999999;
padding:0;
width: 300px;
top: 85% !important;
margin-left: -120px;
border-radius: 2px;
box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.2);
border-width:1px;
border-style: solid;
}


.avia-search-tooltip .avia-arrow-wrap{
width:20px;
height:20px;
position: absolute;
top:-20px;
right:10px;
margin-left:-10px;
overflow: hidden;
}

.avia-arrow{
height:10px;
width:10px;
position: absolute;
top:-6px;
left:50%;
margin-left:-5px;
-webkit-transform: rotate(45deg);
transform: rotate(45deg);
border-width:1px;
border-style: solid;
visibility: hidden\9;
}


.avia-search-tooltip .avia-arrow{
top: 15px;
}

#top #searchform {margin:0; padding:0;}
#top #searchform>div{position: relative;  max-width: 300px;}
#top .widget #searchform>div{margin:0; max-width: 100%;}
#top #searchform br{display:none;}
#top #s{width:100%; position: relative; padding:11px 47px 11px 5px;  z-index: 1; margin:0; box-shadow: none;}
#top #searchsubmit, .ajax_load{
width: 40px;
height: 39px;
line-height: 40px;
padding: 0;
position: absolute; right: 0; top : 0;
z-index: 2;
margin:0;
border-radius: 0;
min-width: 40px;
}

.avia_mobile #top #searchsubmit, .avia_mobile .ajax_load{
height: 41px;
}


.avia-search-tooltip #searchform>div{ margin:16px; }

.ajax_load{
z-index: 5;
}

.ajax_load_inner{
background: url("../images/layout/loading.gif") no-repeat scroll center center #fff;
opacity: 0.5;
position: absolute;
top:0;
left:0;
right:0;
bottom:0;
}


#top #searchform .ajax_search_response{
line-height: 1.4em;
font-size: 12px;
margin:0;
}



.ajax_search_response h4{
padding:20px 16px 2px 16px;
font-size: 14px;
margin:0;
}

.ajax_search_response h4:first-child{
padding-top:0px;
border:none;
}

#top div .ajax_search_entry{
display:block;
text-decoration: none;
line-height: 1.4em;
font-size: 12px;
height:auto;
padding:10px 16px;
border-bottom-style: dashed;
border-bottom-width: 1px;
clear:both;
overflow: hidden;
}

#top div .ajax_search_entry.with_image .ajax_search_image{
background: transparent;
}


.ajax_search_content{
overflow: hidden;
display: block;
}

.ajax_search_title{
display:block;
font-weight: bold;
text-transform: uppercase;
}

.ajax_not_found .ajax_search_title{
text-transform: none;
}




.ajax_search_image{
height:32px;
line-height:32px;
text-align: center;
width:32px;
float:left;
margin-right:8px;
border-radius: 40px;
overflow: hidden;
font-size: 15px;
}

.ajax_search_image img{
display:block; border:none; max-width: 100%;
min-height:32px;
min-width:32px;
}

.ajax_search_excerpt {
font-size: 12px;
line-height: 1.4em;
display: block;
margin-top: 3px;
font-style: italic;
}

#top div .ajax_search_entry_view_all{
text-align: center;
font-weight: bold;
border:none;
}

#top div .ajax_not_found, #top div .ajax_search_entry.ajax_not_found:hover{border:none; background: transparent;}

/*title container*/

/*avia title big*/
.title_container{
position: relative;
}

#top .title_container .container{
padding-top:10px;
padding-bottom:10px;
min-height: 56px;
}

.title_container .main-title {
margin: 0;
font-size: 16px;
position: relative;
z-index: 2;
min-height: 36px;
line-height: 2.3em;
top: 0;
font-weight: 400;
}

.title_container .main-title a{text-decoration: none;}

.title_meta, #top .portfolio-entry .title_meta{
display: block;
clear: both;
position: relative;
z-index: 1;
margin-top:-1em;
padding:0;
}

.title_meta p{
margin: 1.3em 0 0 0;
}


.title_container .breadcrumb {
z-index: 10;
line-height: 15px;
font-size: 11px;
position: absolute;
right: 50px;
top:50%;
margin-top: -7px;
}

.breadcrumb a{text-decoration: none;}
.breadcrumb a:hover{text-decoration: underline;}

.breadcrumb-trail .trail-before, .breadcrumb-trail .trail-end, .breadcrumb-trail .sep, .breadcrumb-trail a, .breadcrumb-trail .bbp-breadcrumb-current{
	display: block;
	float: left;
	padding:0px 3px;
}

.breadcrumb-trail span, .bbp-breadcrumb-current a{display: inline; padding:0; float:none;}

.breadcrumb .sep{
	display: block;
	overflow: hidden;
	width:8px;
}


/*blank pages*/

#top.avia-blank #wrap_all #main{ padding-top: 0 !important; margin:0;}
#top.avia-blank #wrap_all #main .container { padding-top: 0 !important;}

#top.avia-blank{
height: 100%;
position: absolute;
width: 100% !important;
margin: 0;
display: table;
vertical-align: middle;
float: none;
top:0;
left:0;
}

#top.boxed.avia-blank{
max-width:100% !important;
}

#top.boxed.avia-blank .container{
margin: 0 auto;
}

#top.avia-blank #wrap_all{
display: table-cell;
float: none;
vertical-align: middle;
}

#top.avia-blank #wrap_all #main{
padding:0;
}

#top.avia-blank #main .container_wrap:last-child{
border-bottom-style: solid;
border-bottom-width: 1px;
}

#top.avia-blank #main .container_wrap:first-child{
border-top-style: solid;
border-top-width: 1px;
}



/*--------------------lightbox enhancements---------------*/


/* 

.mfp-figure - container that holds image and caption
.mfp-bg     - black overlay
.mfp-preloader - "Loading..." incdicator

*/
.mfp-ready .mfp-figure {
  opacity: 0;
}

.mfp-title a{ text-decoration: underline; color:#fff;}
.mfp-title a:hover{ text-decoration: none; opacity: 0.8;}

.mfp-zoom-in .mfp-figure, .mfp-zoom-in .mfp-iframe-holder .mfp-iframe-scaler{
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}
.mfp-zoom-in.mfp-bg,
.mfp-zoom-in .mfp-preloader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.mfp-zoom-in.mfp-image-loaded .mfp-figure, .mfp-zoom-in.mfp-ready .mfp-iframe-holder .mfp-iframe-scaler{
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.mfp-zoom-in.mfp-ready.mfp-bg,
.mfp-zoom-in.mfp-ready .mfp-preloader {
  opacity: 0.8;
}
.mfp-zoom-in.mfp-removing .mfp-figure, .mfp-zoom-in.mfp-removing .mfp-iframe-holder .mfp-iframe-scaler{
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
  opacity: 0;
}
.mfp-zoom-in.mfp-removing.mfp-bg,
.mfp-zoom-in.mfp-removing .mfp-preloader {
  opacity: 0;
}
div.avia-popup .mfp-iframe-scaler{ overflow: visible; /*so the close button is shown*/}
div.avia-popup .mfp-zoom-out-cur { cursor: auto; }
div.avia-popup .mfp-zoom-out-cur .mfp-image-holder .mfp-close { cursor: pointer; }
div.avia-popup .mfp-close {
width: 40px;
height: 40px;
right: -13px;
text-align: center;
border-radius: 100px;
border: 2px solid transparent;
line-height: 38px;
padding: 0;
top: -5px;
-webkit-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
font-family: Arial, Baskerville, monospace !important;
}

div.avia-popup .mfp-close:hover{ 
border: 2px solid #fff; 
transform: scale(0.8);
-webkit-transform: scale(0.8) rotateZ(90deg);
}

div.avia-popup .mfp-iframe-scaler .mfp-close{top: -43px;}

div.avia-popup .mfp-figure:after{box-shadow: none; display: none;}

div.avia-popup button.mfp-arrow:before, div.avia-popup button.mfp-arrow:after{border:none; margin:0; display:none;}
div.avia-popup button.mfp-arrow:before{ 
opacity:1; display:block; position: absolute; top:50%; left:0; width:100%; height:80px; line-height:80px; margin-top:-40px; color:#fff; font-size: 50px;
-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-weight: normal;
-webkit-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
-webkit-transform: scale(1,1);
transform: scale(1,1);
}
div.avia-popup button.mfp-arrow:hover:before{-webkit-transform: scale(0.8,0.8); transform: scale(0.8,0.8);}
div.avia-popup button.mfp-arrow:before		{ content:"\E87d"; font-family: 'entypo-fontello'; }
div.avia-popup button.mfp-arrow-left:before { content:"\E87c"; font-family: 'entypo-fontello'; }

.mfp-img{
-webkit-animation: avia-fadein 0.7s 1 cubic-bezier(0.175, 0.885, 0.320, 1.275); /* Safari 4+ */
animation:         avia-fadein 0.7s 1 cubic-bezier(0.175, 0.885, 0.320, 1.275); /* IE 10+ */
}


/* CSS-based preloader */
div.avia-popup .mfp-preloader {
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: #FFF;
  opacity: 0.65;
  margin: 0 auto;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
  border-radius: 100px;
}

div.avia-popup .mfp-s-error .mfp-preloader {background: transparent; width:100%; -webkit-animation: none; animation: none; white-space: nowrap;}


@-webkit-keyframes rotateplane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }

  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }

  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

@keyframes rotateplane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }

  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }

  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}




@media (max-width: 900px){
.mfp-arrow {
text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
}

/*--------------------alternate header styles---------------*/



/*social bookmarks*/

#top .social_bookmarks {
height: 30px;
z-index: 150;
-webkit-backface-visibility: hidden;
margin: 0 0 0 -9px;
}

#top .social_bookmarks li{
height:100%;
float:left;
padding:0;
-webkit-transition: all 0.2s ease-in-out;
transition: 		all 0.2s ease-in-out;
border-right-style: solid;
border-right-width: 1px;
display: block;
width:30px;
}

#top #header .social_bookmarks li:last-child{border-right-style:none; border-right-width:0;}

#top .social_bookmarks li a{
float:left;
width:30px;
line-height:30px;
display: block;
margin:0px;
outline: none;
padding:0;
min-height:30px;
height:100%;
overflow: visible;
z-index: 2;
position: relative;
text-align: center;
}

#top #wrap_all .social_bookmarks, #top #wrap_all .social_bookmarks a, #top #wrap_all .social_bookmarks li{background: transparent;}

#top #wrap_all .social_bookmarks li a:hover{ text-decoration: none; }

#top #wrap_all .av-social-link-rss:hover	   	 a{color:#fff; background-color:#ffa133; }
#top #wrap_all .av-social-link-facebook:hover  a{color:#fff; background-color:#37589b; }
#top #wrap_all .av-social-link-twitter:hover   a{color:#fff; background-color:#46d4fe; }
#top #wrap_all .av-social-link-mail:hover      a{color:#fff; background-color:#9fae37; }
#top #wrap_all .av-social-link-dribbble:hover  a{color:#fff; background-color:#e44885; }
#top #wrap_all .av-social-link-linkedin:hover  a{color:#fff; background-color:#419cca; }
#top #wrap_all .av-social-link-search:hover    a{color:#fff; background-color:#222222; }
#top #wrap_all .av-social-link-gplus:hover     a{color:#fff; background-color:#de5a49; }
#top #wrap_all .av-social-link-behance:hover   a{color:#fff; background-color:#008cfa; }
#top #wrap_all .av-social-link-flickr:hover    a{color:#fff; background-color:#ff0086; }
#top #wrap_all .av-social-link-forrst:hover    a{color:#fff; background-color:#234317; }
#top #wrap_all .av-social-link-myspace:hover   a{color:#fff; background-color:#000000; }
#top #wrap_all .av-social-link-tumblr:hover    a{color:#fff; background-color:#345574; }
#top #wrap_all .av-social-link-vimeo:hover     a{color:#fff; background-color:#31baff; }
#top #wrap_all .av-social-link-youtube:hover   a{color:#fff; background-color:#a72b1d; }
#top #wrap_all .av-social-link-pinterest:hover a{color:#fff; background-color:#cb2027; }
#top #wrap_all .av-social-link-skype:hover 	   a{color:#fff; background-color:#12a5f4; }
#top #wrap_all .av-social-link-instagram:hover a{color:#fff; background-color:#a67658; }
#top #wrap_all .av-social-link-five_100_px:hover a{color:#fff; background-color:#222222; }
#top #wrap_all .av-social-link-soundcloud:hover  a{color:#fff; background-color:#F76700; }
#top #wrap_all .av-social-link-xing:hover 	     a{color:#fff; background-color:#006567; }
#top #wrap_all .av-social-link-vk:hover 	   	 a{color:#fff; background-color:#597BA5; }
#top #wrap_all .av-social-link-reddit:hover 	 a{color:#fff; background-color:#FF4500; }




#header_main .social_bookmarks{
position: absolute;
top:50%;
margin-top: -15px;
right:0;
}

#header_main .social_bookmarks li{
border:none;
}

#header_main .social_bookmarks li a{border-radius: 100px;}





/*first level*/
.sub_menu{
float:left;
z-index: 2;
font-size: 11px;
line-height: 30px;
position: relative;
top:10px;
}

#top .sub_menu>ul{
float:left;
margin:0;
}

#top .sub_menu>ul, #top .sub_menu>ul>li{background: transparent;}

.sub_menu li{
float:left;
position: relative;
padding:0 10px;
border-right-style: solid;
border-right-width: 1px;
line-height: 10px;
}




.sub_menu>ul>li>a, .sub_menu>div>ul>li>a{
text-decoration: none;
font-weight: bold;
padding:7px 0;
}

/*second level*/
#top .sub_menu li ul{
display: none;
position: absolute;
width:170px;
padding:4px 0;
z-index: 101;
box-shadow: 0 8px 15px rgba(0,0,0,0.1);
left:-50%;
margin:0;
border-style: solid;
border-width: 1px;
top:19px;
}

#top .sub_menu li:hover>ul{
display:block;
}

.sub_menu>ul>li:hover>a{
text-decoration: underline;
}

.sub_menu li li{
float:none;
line-height: 20px;
border:none;
padding: 0 0;
margin:0;
}

#top .sub_menu li li a{
width: 100%;
height: auto;
text-align: left;
line-height: 23px;
padding: 6px 18px;
font-size: 12px;
min-height: 23px;
max-width: none;
text-decoration: none;
display: block;
border-top-style: dashed;
border-top-width: 1px;
}

#top .sub_menu li li:first-child > a {
border: none;
}


#top .sub_menu li li a:hover{
text-decoration: none;
background: #f8f8f8;
}

/*third level and deeper*/
#top .sub_menu li li ul{
top:-1px;
left:-169px;
background: none;
padding: 0;
}

.pointer_arrow{
border-style:solid;
border-width:1px;
}



/*site preloader: http://projects.lukehaas.me/css-loaders/ */
.av-siteloader-wrap{
position: fixed;
top:0;
left:0;
right:0;
bottom:0;
width:100%;
height:100%;
z-index: 1000000;
background: #fff;
display:none;
}
html.av-preloader-active{}
html.av-preloader-active .av-siteloader-wrap{display:block;}

.av-siteloader-inner{
	position: relative;
	display: table;
	width: 100%;
	height:100%;
	text-align: center;
}

.av-siteloader-cell{display:table-cell; vertical-align: middle;}


.av-siteloader {
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  margin:0 auto;
  border-top: 	2px solid rgba(0, 0, 0, 0.2);
  border-right: 2px solid rgba(0, 0, 0, 0.2);
  border-bottom:2px solid rgba(0, 0, 0, 0.2);
  border-left:  2px solid #000;
  -webkit-animation: av-load8 0.8s infinite linear;
  animation: av-load8  0.8s infinite linear;
}

.av-preloader-reactive #top .av-siteloader{
	  -webkit-animation: avia_pop_loader 1.3s 1 linear;
	  animation: avia_pop_loader 1.3s 1 linear;	
}


.av-preloader-reactive #top .av-siteloader-extra{
  border-radius: 50%;
  width: 400px;
  height: 400px;
  background:#eee;
  position: absolute;
  left: 50%;
  top: 50%;	
  -webkit-transform: scale(0);
  transform: scale(0);
  opacity:0;
  -webkit-animation: avia_shrink 1.1s 1 linear;
  animation: avia_shrink 1.1s 1 linear;	
  margin:-200px 0 0 -200px;

}


.av-siteloader,
.av-siteloader:after {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.av-preloading-logo{
position: relative;
margin: 0 auto;
display: block;
max-width:450px;
max-height:450px;
margin-bottom:20px;
z-index: 100;
}







/* ======================================================================================================================================================
#Blog Styles
====================================================================================================================================================== */

.content, .sidebar{
padding-top:50px;
padding-bottom:50px;
-webkit-box-sizing: content-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: content-box;    /* Firefox, other Gecko */
box-sizing: content-box;
min-height: 1px;
z-index: 1;
}

.content:hover, .sidebar:hover{
z-index: 1;
}

/*right sidebar - default*/
#top #main .sidebar{
border-left-style:solid;
border-left-width:1px;
margin-left:0;
float: none;
width: auto;
overflow: hidden;
display: block;
clear: none;
}

.inner_sidebar{
margin-left:50px;
}

.content{
border-right-style:solid;
border-right-width:1px;
margin-right:-1px;
}


.content .entry-content-wrapper{
padding-right:50px;
}

/*
.content .entry-content-wrapper p a{
display: inline-block;
}
*/

.template-blog .blog-meta{
float:left;
margin-right:50px;
}

.multi-big .post_author_timeline , .single-small .post_author_timeline {
position: absolute;
top: 0;
left: 40px;
width: 1px;
height: 100%;
border-right-width:1px;
border-right-style: dashed;
}

.single-post .post_author_timeline{
display:none;
}


/*left sidebar*/
#top #main .sidebar_left .sidebar{
border-right-style:solid;
border-right-width:1px;
border-left:none;
}

.sidebar_left .inner_sidebar{
margin-right:50px;
margin-left:0;
}

.sidebar_left .content{
float:right;
border-left-style:solid;
border-left-width:1px;
border-right:none;
margin-right:-50px;
margin-left:-1px;
padding-left:50px;
}


.sidebar_left .template-blog .blog-meta {
float: right;
margin-left: 50px;
margin-right: 0;
}

.sidebar_left .multi-big .post_author_timeline , .sidebar_left .single-small .post_author_timeline {
left:auto;
right:40px;
}

.sidebar_left .big-preview{
padding:0 131px 10px 0;
}

div .single-big .pagination{padding:1px 50px 10px 1px;}


/*
.sidebar_left  .big-preview.single-big {
padding: 0 0 10px 0;
}
*/

.sidebar_left .author-extra-border{right:auto; left:-50px;}


/*no sidebar*/
.fullsize .content{
margin:0;
border:none;
}

.fullsize .content .entry-content-wrapper{
padding-right:0;
}

#top .fullsize .template-blog .post-title{text-align: center; font-size: 30px; padding:15px 0; max-width: 800px; margin: 0 auto;}
#top.single-post .fullsize .template-blog .post_delimiter{visibility: hidden;}
#top .fullsize .template-blog .post-meta-infos{text-align: center;}
#top .fullsize .template-blog .post .entry-content-wrapper{text-align: justify; font-size:1.15em; line-height: 1.7em; max-width: 800px; margin:0 auto; overflow: visible; }
#top .fullsize .template-blog .post .entry-content-wrapper > *{ max-width: 600px; margin-left:auto; margin-right:auto; }
#top .fullsize .template-blog .post_delimiter{border-bottom-width:1px; border-bottom-style: solid; width:3000px; left:-1500px; position: relative; max-width: 3000px;}
#top .fullsize .template-blog .post_author_timeline{display:none;}
#top .fullsize .template-blog .blog-meta {
float: none;
margin: 0 auto;
display: block;
position: relative;
width: 81px;
overflow: hidden;
text-align: center;
z-index: 1000;
}

#top .fullsize .related_entries_container img{ margin: 0 auto;}
#top .fullsize .related_title{text-align: center; }
#top .fullsize .related_posts{ padding: 23px 0 33px 0; }

/* #top .fullsize .template-blog .big-preview a ,#top .fullsize .template-blog .small-preview img{float:none; display: inline-block; width:100%; max-width: 100%;} */
#top .fullsize .template-blog .big-preview{padding: 0 0 10px 0;}
#top .fullsize .template-blog .first-quote{margin-top:15px;}
#top .fullsize .template-blog .big-preview.multi-big{margin-bottom:-48px; padding: 0; width:100%;}
#top .fullsize .template-blog .big-preview.multi-big a, .fullsize div .template-blog .big-preview.multi-big a img{width:100%;}
#top .fullsize .template-blog .big-preview img{width:100%}

.fullsize .big-preview .avia-gallery {
width: 600px;
max-width: 100%;
margin: 0 auto;
}

.fullsize .comment_content {padding-right:0;}
.fullsize .blog-tags{display: block;}
.blog-tags.minor-meta{font-size: 0.9em;}



#top .fullsize .flex_column .template-blog .post-title,
#top .fullsize .flex_column .template-blog .post-meta-infos{
	text-align: left;
}
#top .fullsize .flex_column .big-preview .avia-gallery{width:100%;}
#top .fullsize .flex_column .template-blog .post .entry-content-wrapper > *{ max-width:100%;}


/*fullsize when sidebar left*/
.html_header_sidebar #top .fullsize .template-blog .multi-big .post-title, .html_header_sidebar #top .fullsize .template-blog .single-big .post-title{ max-width: none; text-align: left;}
.html_header_sidebar #top .fullsize .template-blog .multi-big .post-meta-infos, .html_header_sidebar #top .fullsize .template-blog .single-big .post-meta-infos{text-align: left;}
.html_header_sidebar #top .fullsize .template-blog .post .entry-content-wrapper{ max-width: none;}
.html_header_sidebar #top .fullsize .template-blog .post .entry-content-wrapper > *{ max-width: none;}

/*sidebar doenst matter: */

.post{
clear:both;
width:100%;
float:left;
position: relative;
}



.template-blog .post .entry-content-wrapper{
/*
font-size: 14px;
line-height: 1.7em;
*/
overflow:hidden;
}

.template-blog .post_delimiter{
margin: 0 0 50px 0;
padding: 50px 0 0 0;
/*
border-bottom-style: solid;
border-bottom-width: 1px;
*/
clear:both;
}

.template-blog .post-entry-last .post_delimiter{
border:none;
height:1px;
}


.rounded-container, .rounded-container img{
border-radius: 111px;
overflow: hidden;
display: block;
position: relative;
z-index: 2;
}

.rounded-container{
float:left;
width:81px;
height:81px;
text-align: center;
line-height: 81px;
}

.rounded-container .iconfont, .small-preview .iconfont{
font-size: 23px;
position: absolute;
left: 0;
right: 0;
top: 0;
bottom: 0;
z-index: 1;
}



.entry-content-wrapper .post-title{
font-size: 21px;
line-height: 1.3em;
}

.post-meta-infos {
font-size: 0.9em;
position: relative;
top: -8px;
display: block;
}

.post-meta-infos a{text-decoration: none;}
.post-meta-infos a:hover{text-decoration: underline;}
.text-sep{padding: 0 5px;}
.more-link{clear:both; display: inline-block;}

/*previe pic*/

.big-preview{
display:block;
padding:0 50px 10px 131px;
}

.template-page .big-preview{
display:block;
padding:0 0 10px 131px;
text-align: center;
}

.big-preview a{display: block; position: relative; overflow: hidden; }

.big-preview.single-big{
padding:0 50px 10px 0;
}

.entry-content-wrapper .big-preview.single-big{
padding:0 0px 10px 0;
}

.fullsize .big-preview.single-big{
padding:0 0 10px 0;
}

.post-loop-1 .big-preview{
position: relative;
z-index: 4;
}


.small-preview{
width:81px;
height:81px;
overflow: hidden;
border-radius: 4px;
float:left;
margin:6px 0 0 0;
position: relative;
text-align: center;
line-height: 81px;
position: relative;
z-index: 4;
display: block;
}

.small-preview img, .big-preview img{
display: block;
border-radius: 4px;
position: relative;
z-index: 4;
}

.single-post .single-small.with-slider .small-preview{
width:180px;
height:180px;
}

.single-post .single-small.with-slider .post_author_timeline{display:none;}
#top.single-post .fullsize .single-small.with-slider .blog-meta{width:180px;}

.archive .av-content-full > .extra-mini-title{text-align: center;}
.archive .av-content-full .author-box {text-align: center; }

/*pagination*/

.pagination {
clear:both;
padding: 10px 0px 50px 0;
position:relative;
z-index:3;
line-height: 13px;
overflow: hidden;

}

.pagination span, .pagination a {
display:block;
float:left;
font-size:11px;
line-height:13px;
padding:2px 9px 1px 9px;
text-decoration:none;
width:auto;
}

#top .pagination .current, #top .pagination a, #top .fullsize .template-blog .pagination a{
float: left;
height: 35px;
width: 35px;
line-height: 35px;
text-align: center;
padding: 0;
border-radius: 100px;
margin-right: 3px;
box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
}


.pagination .current{
font-size:11px;
padding:1px 9px 1px 9px;
font-weight: bold;
}

.pagination .pagination-meta{
float:right;
line-height: 35px;
}


.template-blog .pagination{padding:1px 50px 10px 24px;}

/*single post navigation*/

#top .avia-post-nav{
position: fixed;
height:110px;
top:50%;
background: #aaa;
background: rgba(0,0,0,0.1);
color:#fff;
margin-top:-55px;
padding:15px;
text-decoration: none;
z-index: 501; /*fixes: https://github.com/AviaThemes/wp-themes/issues/807 */
-webkit-transform: translate3d(-10%,0,0); /* fixes: http://www.kriesi.at/support/topic/next-previous-blog-post-bug/ */
}

#top .avia-post-nav:hover{
background: #222;
background: rgba(0,0,0,0.8);
}

.avia-post-nav .label{position: absolute; top:50%; height:22px; line-height: 22px; margin-top:-11px; font-size: 24px;}
.avia-post-nav .entry-image{height:80px; width:80px; display:block;}
.avia-post-nav .entry-image img{border-radius: 100px; display: block;}


.avia-post-prev{ left:0; border-top-right-radius: 4px; border-bottom-right-radius: 4px;}
.avia-post-prev .label{ left:10px;}

.avia-post-next{ right:0; border-top-left-radius: 4px; border-bottom-left-radius: 4px; }
.avia-post-next .label{ right:10px;}
.avia-post-next.with-image{text-align: right;}


.avia-post-nav .entry-info{
display:block;
height:80px;
width:220px;
display: table;
}

.avia-post-next .entry-info{ margin:0 20px 0 1px;}
.avia-post-prev .entry-info{ margin:0 1px 0 20px;}

.avia-post-nav .entry-info span{
display: table-cell;
vertical-align: middle;
font-size: 13px;
line-height: 1.65em;
}
.avia-post-nav .entry-info-wrap{width:1px; overflow: hidden; display:block;}
.avia-post-nav:hover .entry-info-wrap{width:240px;}


/* page split pagination */
.pagination_split_post{
clear: both;
padding-top: 20px;
}

/*related posts*/
.related_posts {position: relative; clear:both; width:100%; float:left; border-top-style:solid; border-top-width: 1px;  padding:23px 50px 33px 0; margin-bottom:30px; }
.related_posts:hover{z-index:9999;}
.related_title {margin-bottom:20px;}
.related_column{float:left; padding-right:3px;}
.related_posts img, .related_posts a{display:block; border-radius: 2px; overflow: hidden; max-width:100%; margin:0 auto;}
.related_posts_default_image{border-width:1px; border-style: solid; display: block; float:left; border-radius: 2px; min-height: 60px; min-width: 100%; max-width:100%; }
.related_posts_default_image img{visibility: hidden; }
.relThumb{text-align: center;}
.related_posts .av-related-title{display:none;}

.related_image_wrap{position: relative; display: block; float:left; width:100%; -webkit-backface-visibility: hidden;  /* fixes webkit flickering after transitions*/}
.avia-related-tooltip{
position: absolute;
z-index: 9999999;
padding:0;
width: 200px;
border-radius: 2px;
box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.1);
border-width:1px;
border-style: solid;
padding:15px;
margin-top:-10px;
}


.avia-related-tooltip .avia-arrow-wrap{
top:auto;
bottom:0;
position: absolute;
left:50%
}

.avia-related-tooltip .avia-arrow-wrap .avia-arrow{
border-top: none;
border-left: none;
top: -4px;
}

.related-format-icon{position: absolute; text-align: center; top:1px; left:1px; bottom:1px; right:1px; opacity: 0; filter:alpha(opacity=0);}
.related-format-icon-inner{position: absolute; height:30px; font-size: 30px; line-height: 30px; top:50%; margin-top:-15px; left:0; width:100%;}
.related-format-icon:hover{opacity: 0.8; filter:alpha(opacity=80);}
.related-format-visible{opacity: 0.5 ; filter:alpha(opacity=50);}

.sidebar_left .related_posts_sep{right:auto; left:0;}




/*related fulltext*/
.single-big + .related_posts.av-related-style-full{
border-top:none; padding-top:0;
}

.related_posts.av-related-style-full a {
margin: 2px 0;
padding: 6px;
border-radius: 3px;
display:table;
width:100%;
text-decoration: none; 
text-align: left;
border:1px solid transparent;
-webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;
}

.related_posts.av-related-style-full a:hover{ border-width:1px; border-style: solid;}
.av-related-style-full .related-format-visible{opacity: 1 ; filter:alpha(opacity=100);}

#top .av-related-style-full .related_column{width:50%;}
#top .av-related-style-full .relThumb{text-align: left;}
#top .av-related-style-full .related-format-icon{width:58px; height:58px; bottom:auto; right:auto; border-radius: 100px;  }
#top .av-related-style-full .related_image_wrap{display:table-cell; float: none; background-color: transparent;}
#top .av-related-style-full .related_image_wrap, #top .av-related-style-full .related_image_wrap img, #top .av-related-style-full .related_image_wrap .related_posts_default_image{width:60px; height:60px; border-radius: 100px;}
#top .av-related-style-full .av-related-title{text-decoration: none; display:table-cell; vertical-align: middle; padding: 5px 15px; line-height: 1.2em;}
.responsive .av-related-style-full .relThumb1, .responsive .av-related-style-full .relThumb3, .responsive .av-related-style-full .relThumb5{clear:both;}





/*post types*/

.avia-post-format-image img{ border-radius: 3px;}
.avia-post-format-image{margin-bottom:10px;}


.entry-content-wrapper.gallery-content .avia-gallery{margin-bottom:10px;}

/*audio*/

#top #wrap_all .big-preview + .big-preview{
position: relative;
top:-60px;
background: transparent;
margin: 0 20px -40px 20px;
z-index: 550;
width:auto;
}

#top #wrap_all .big-preview.multi-big + .big-preview.multi-big{
margin: 0 20px -30px 20px;
}



/*blog in flex column*/

.flex_column .template-blog .post .entry-content-wrapper{
font-size: 13px;
}

#top .flex_column .template-blog .post-title{
font-size:17px;
}

.flex_column .template-blog .post_delimiter{
margin: 0 0 20px 0;
padding: 20px 0 0 0;
}

.flex_column .template-blog .single-big .pagination {
padding: 1px 0 10px 0;
}

.flex_column .template-blog .big-preview.single-big {
padding: 0 0 10px 0;
}

.flex_column .template-blog .post-meta-infos{
margin-bottom: -13px;
}



/*disable blog options*/
.av-blog-meta-author-disabled .minor-meta.blog-author{ display:none; }
.av-blog-meta-comments-disabled .minor-meta.comment-container, .av-blog-meta-comments-disabled .text-sep-comment{display:none;}
.av-blog-meta-category-disabled .minor-meta.blog-categories, .av-blog-meta-category-disabled .text-sep-cat{display:none;} 
.av-blog-meta-date-disabled .minor-meta.date-container, .av-blog-meta-date-disabled .text-sep-date{display:none;} 
.av-blog-meta-html-info-disabled .form-allowed-tags{ display:none; }
.av-blog-meta-tag-disabled .blog-tags{display:none;}

/* ======================================================================================================================================================
#Page Styles
====================================================================================================================================================== */

.template-page .entry-content-wrapper h1, .template-page .entry-content-wrapper h2{
text-transform: uppercase;
letter-spacing: 1px;
}

.extra-mini-title{padding-bottom:20px;}

.page-heading-container{
position: relative;
margin-bottom: 40px;
padding: 0 0 44px 0;
border-bottom-width: 1px;
border-bottom-style: solid;
padding-right: 50px;
}

.fullsize .page-heading-container{
padding-right:0;
}

.page-thumb img{border-radius: 3px;}



/*template builder page styles*/
.template-page .template-blog .entry-content-wrapper h1, .template-page .template-blog .entry-content-wrapper h2{
text-transform: none;
letter-spacing: 0;
}



.content .entry-content-wrapper .entry-content-wrapper{
padding-right:0; padding-left:0;
}

.content .entry-content-wrapper .entry-content-wrapper .big-preview.single-big {
padding: 0 0 10px 0;
}


/*search page*/

.template-search #searchform>div{max-width: 100%; margin-bottom:0;}

#top .template-search.content .entry-content-wrapper {
padding-bottom: 40px;
padding-left:55px;
font-size: 13px;
clear:both;
}

.template-search .pagination {
padding: 1px 50px 10px 55px;
}

.template-search .entry-content-wrapper .post-title {font-size:19px;}
#top .template-search .entry-content-wrapper .post-title a:hover{ text-decoration: underline; }

.search-result-counter {
position: absolute;
left: 0;
top: 1px;
box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
height: 44px;
line-height: 24px;
padding: 10px;
text-align: center;
border-radius: 100px;
width: 44px;
}

#top #search-fail{padding-left:0;}

.template-search .post-entry{position: relative; clear:both;}


/*author page*/



.page-heading-container .author_description{overflow: hidden;}

.template-author .content .post .entry-content-wrapper{
padding-bottom:40px;
font-size: 13px;
}

.template-author .pagination {
padding: 1px 50px 10px 0;
}


.template-author .entry-content-wrapper .post-title {font-size:19px;}
#top .template-author .entry-content-wrapper .post-title a:hover{ text-decoration: underline; }

.author-extra-border{
display:block;
position: absolute;
bottom:-1px;
width:600%;
right:0;
border-bottom-width: 1px;
border-bottom-style: solid;
}

.fullsize .author-extra-border{right:auto; left:-100%}
.template-author .post-entry{position: relative; clear:both;}


/*archive page*/

.template-archives .tab_inner_content li {
width: 48%;
float: left;
clear: none;
margin:0 2% 0 0 ;
list-style-position: inside;
}

.template-archives .relThumWrap img, .template-archives .relThumWrap span{width:100%; text-decoration: none;}
.template-archives .relThumbTitle{ display: block; clear:both;}


/*tag archive */
#top .fullsize .template-blog .tag-page-post-type-title {
font-size: 50px;
text-transform: uppercase;
}

.archive .category-term-description{
margin-bottom: 25px;
}

/* ======================================================================================================================================================
#Sidebar & Widgets
====================================================================================================================================================== */

.widgettitle{
font-weight: 600;
text-transform: uppercase;
letter-spacing: 1px;
font-size: 1.1em;
}

.widget{
clear:both;
position: relative;
padding:30px 0 30px 0;
float:none;
}

#footer .widget{padding:0; margin:30px 0 30px 0; overflow: hidden;}

#top .widget ul{
padding:0;
margin:0;
width:100%;
float:left;
}

#top #footer .widget ul{float:none}

.widget li{clear:both;}

.widget ul ul li,.widget ul ol li, .widget ol ol li, .widget ol ul li{margin-bottom:0;}

.sidebar .widget .seperator{
/*
position: absolute;
bottom: 0;
left:0;
padding:1px;
width:20%;
border-bottom-width:1px ;
border-bottom-style: solid;
*/
}

.sidebar .widget:first-child, .content .sidebar .widget:first-child{
padding-top:0;
border-top-style: none;
border-top-width: 0;
}

/* archive widget */
.widget_archive label.screen-reader-text {
    display: none;
}


/*nav menu widget*/


.widget_nav_menu a{
display: block;
padding:4px 0px 5px 0;
text-decoration: none;
}

div .widget_nav_menu{
padding-bottom:24px;
}

#top .widget_nav_menu ul{margin:0; padding:0; float: none; list-style-type: none;}

#top .widget_nav_menu li{
position: relative;
-webkit-box-sizing: content-box; 
-moz-box-sizing: content-box; 
box-sizing: content-box;
clear:both;
}

#top #footer .widget_nav_menu li{ background-color:transparent;}

#top .widget_nav_menu ul ul li:before {
content: "\2219";
position: absolute;
top:5px;
}

#top .sidebar_left .widget_nav_menu ul ul li:before {
right: -10px;
}

#top .widget_nav_menu ul ul li a{
padding:6px 0px 7px 12px;
}


.widget_nav_menu .current-menu-item>a, .widget_nav_menu .current_page_item>a{
font-weight: bold;
}

.sidebar .widget_nav_menu ul:first-child>.current-menu-item,
.sidebar .widget_nav_menu ul:first-child>.current_page_item,
.sidebar .widget_nav_menu ul:first-child>.current-menu-ancestor{
padding-left: 51px;
left: -51px;
top:1px;
margin-top: -1px;
padding-top:1px;
width:100%;
box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
margin-bottom: 4px;
}

.widget_nav_menu ul ul{
display:block;
}

.widget_nav_menu.widget_nav_hide_child ul ul{
display:none;
}

#top .widget_nav_menu .current-menu-item > ul,
#top .widget_nav_menu .current_page_item > ul,
#top .widget_nav_menu .current_page_ancestor > ul,
#top .widget_nav_menu .current-menu-ancestor > ul{
display:block;
padding:0 0 0 13px;
}

#top .sidebar_left .widget_nav_menu .current-menu-item > ul,
#top .sidebar_left .widget_nav_menu .current_page_item > ul,
#top .sidebar_left .widget_nav_menu .current_page_ancestor > ul,
#top .sidebar_left .widget_nav_menu .current-menu-ancestor > ul{
padding:0 13px 0 0 ;
}

#top .sidebar_left .widget_nav_menu .sub-menu{
padding-right: 13px;
}


.widget_nav_menu ul:first-child>.current-menu-item>a, .widget_nav_menu ul:first-child>.current_page_item>a{
border:none;
padding:6px 7px 7px 0;
}


#top .widget_nav_menu ul ul .sub-menu, #top .widget_nav_menu ul ul .children{
padding:0 0 0 10px;
overflow: hidden;
margin:0;
}



.widget_nav_menu .nested_nav>li:first-child>a{
border:none;
}

#top .widget_nav_menu .nested_nav{
padding-bottom:30px;
}

#top .content .flex_column .widget_nav_menu li a {
  padding: 0.8em 3px;
}

#top .content .flex_column .widget_nav_menu li a:hover,
#top .content .flex_column .widget_nav_menu ul:first-child>.current-menu-item, 
#top .content .flex_column .widget_nav_menu ul:first-child>.current_page_item{
  background-color: rgba(255,255,255,0.4);
}

#top .content .flex_column .widget_nav_menu li {
  background-color: transparent;
  margin: 0;
  padding:0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

#top .content .flex_column .widget_nav_menu li:first-child {
  border-top-style: solid;
  border-top-width: 1px;
}


/*text*/

.textwidget ul{
margin-left:0px;
overflow: hidden;
}

/*combo widget*/
#top .widget_tab_tags{ display:none; }
.js_active .avia_combo_widget .tab_titles{border-bottom-width: 1px; border-bottom-style: solid;}
.js_active #top .avia_combo_widget .active_tab{ border-bottom-style: solid; border-bottom-width: 2px;}
.js_active #top .avia_combo_widget .tab_content {
padding:0;
background: transparent;
border: none;
}

.js_active .avia_combo_widget .top_tab .tab{
border: none;
background: transparent;
padding:5px 0;
width: 33%;
text-align: center;
}

/*likebox*/
.av_facebook_widget_wrap{ overflow: hidden; position: relative; padding: 0px; background: #fff; }
.av_facebook_widget_wrap_border_yes{border-style: solid; border-width: 1px;}
.av_facebook_widget_wrap_positioner iframe{position: absolute; height:100%; width:100%;}
.av_facebook_widget_wrap_positioner{}
.av_facebook_widget{width:100%;}

.av_facebook_widget {
width: 107%;
max-width: 137%;
left: -5px;
top: -4px;
position: relative;
}




/*social media count widget*/
.avia_socialcount{
overflow: hidden;
text-align: left;
}

#top .social_widget_icon{
padding:0;
margin:0;
height:30px;
width:30px;
line-height: 32px;
text-align: center;
float: left;
font-size: 17px;
border-radius: 2px;
}

.asc_twitter .social_widget_icon{
color:#fff;
background-color:#46d4fe;
border-color:#46d4fe;
text-shadow: 1px 1px 1px #17ACD8;
}

.asc_rss .social_widget_icon{
color:#fff;
background-color:#ffa133;
border-color:#ffa133;
text-shadow: 1px 1px 1px #D18021;
}


.avia_socialcount .seperator{
display:none;
}

div #footer .avia_socialcount{
padding:10px 0 0 0;
}

.asc_multi_count{
float:left;
width:50%;
}

.avia_socialcount a, .avia_socialcount a:hover{
height:40px;
text-decoration: none;
display:block;
min-width:89px;

}

.avia_socialcount strong, .avia_socialcount span{
display:block;
line-height: 1em;
padding:0 0 0 36px;
}

.avia_socialcount a strong{
font-size: 11px;
font-weight: bold;
letter-spacing: 0;
padding-top: 4px;
}

.avia_socialcount a span{
font-size:10px;
padding-top:3px;
}


/*twitter widget*/
#top .widget.tweetbox .tweets{
list-style-type: none;
list-style-position: outside;
border:none;
}

#top .widget.tweetbox .tweet{
padding:10px 0;
line-height: 18px;
position: relative;
overflow: hidden;
font-size:11px;
background: none;
border-top-style: dashed;
border-top-width: 1px;
margin:0;
}

#top .widget.tweetbox .tweet:first-child{
border:none;
}

.widget.tweetbox .tweet-thumb{
position:relative;
}

.widget.tweetbox .tweet-thumb a{
margin-right:9px;
padding:3px;
float:left;
border-style: solid;
border-width: 1px;
margin-top: 5px;
display:block;
width:36px;
}

#top .widget.tweetbox .tweet-thumb img{display:block; float:left; border:none; padding:0; margin:0;}

.widget.tweetbox .tweet-text{
position: relative;
overflow: hidden;
}

.widget.tweetbox .tweet-time{
clear: both;
font-size:11px;
}

.widget.tweetbox .tweet-text.avatar_no {
font-size: 12px;
line-height: 1.7em;
font-weight: 400;
}

.widget.tweetbox .tweet-text.avatar_no .tweet-time{
font-style: italic;
font-weight: normal;
}


/*advertising widget*/


.avia_partner_widget{
overflow: hidden;
clear:both;
}

.avia_partner_widget a, .avia_partner_widget a:hover {
float: left;
display: block;
text-decoration: none;
width: 49.5%;
outline: none;
border: none;
padding-bottom: 49.5%;
position: relative;
margin-right: 1%;
}

.avia_partner_widget a.avia_partner2, .avia_partner_widget a.avia_partner2:hover {
margin-right: 0;
}

#top .avia_partner_widget{
max-width:304px;
}

#top .avia_partner_widget img{
position: absolute;
left:0;
top:0;
}

.avia_partner1{
margin-right:1px;
}

.avia_parnter_empty{
line-height: 1em;
height:97%;
width:97%;
display: block;
font-size:10px;
text-align: center;
position: absolute;
border-style: solid;
border-width: 1px;
}

.avia_parnter_empty span{
width:100%;
position: absolute;
top:50%;
margin-top:-5px;
text-align: center;
left:0;
}

/*maps*/

.avia_google_maps_container{
height:230px;
width:100%;
}

.content .avia_google_maps_container{
height:230px;
}

#top .widget .infoWindow  input[type="text"]{
margin: 0 0px 3px 0;
}

.avia_google_maps_container img, .avia_google_maps_container  a img{
max-width: none;
}

.avia_google_maps_container div, .avia_google_maps_container img, .avia_google_maps_container a{
-webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box;
}


/*news widget*/


#top .news-content{
padding:7px 0 3px 0;
line-height: 18px;
position: relative;
overflow: hidden;
font-size:11px;
display: block;
clear: both;
margin:0;
}

#top .news-wrap{
border:none;
list-style-type: none;
list-style-position: outside;
}

#top .news-wrap li{
border:none;
background: none;
text-indent: 0;
}

.news-link, .news-link:hover, #top .widget ul li .news-link:hover{
display: block;
position: relative;
text-decoration: none;
overflow: hidden;
z-index: 2;
}


/*default size news/portfolio widget*/
.news-thumb{
margin-right:9px;
padding:3px;
float:left;
margin-top: 4px;
border-style: solid;
border-width: 1px;
height:36px;
width:36px;
display: block;
}

.news-thumb img, .news-thumb img{
width:28px;
height:28px;
}


/*bigger size news/portfolio widget*/
.image_size_portfolio_small .news-link{
float:left;
margin-right:10px;
}

.image_size_portfolio_small .news-thumb, .image_size_portfolio_small .tweet-thumb img, .image_size_portfolio_small .news-thumb img{
width:150px;
min-height:100px;
}

.image_size_portfolio_small .news-excerpt{
overflow: hidden;
font-size: 13px;
line-height: 1.65em;
}

.image_size_portfolio_small .news-headline{ font-size:14px;}



#top .news-thumb img{display:block; float:left; border:none; padding:0; margin:0;}

.news-headline{
overflow: hidden;
font-weight: bold;
margin-top:2px;
display:block;
}

.news-time{
font-weight:normal;
clear: both;
font-size:10px;
display:block;
}

.news-excerpt{

}

/*tagcloud*/
.tagcloud br{display:none;}
.tagcloud a{
font-size:11px !important;
padding:2px 8px;
margin:0 1px 1px 0;
display:block;
float:left;
border-style: solid;
border-width: 1px;
text-decoration: none;
}

.tagcloud a:hover{
text-shadow: none;
text-decoration: underline;
}

.widget_tag_cloud h3{
border:none;
}

/*rss*/

.widget_rss li{
line-height: 1.5em;
font-size: 11px;

}
.widget_rss li div{
font-family: "Georgia", "Times New Roman", Helvetica, Arial, sans-serif;
font-style: italic;
}

.rsswidget{
display:block;
font-weight: bold;
}

.rss-date, .widget_rss cite{
font-size:11px;
}

.widget_rss li{
padding:7px 0;
}

.widget_rss .widgettitle img{
display:none;
}

/*recentcomments, recent entries*/

.recentcomments, .widget_recent_entries li{
padding:7px 0;
display:block;
font-size: 11px;
line-height: 1.5em;
}

.recentcomments a, .widget_recent_entries li a{
font-style: italic;
font-family: "Georgia", "Times New Roman", Helvetica, Arial, sans-serif;
}

.recentcomments, .widget_recent_entries li{
border-top-width:3px;
border-top-style: solid;
}

.recentcomments:first-child, .widget_recent_entries li:first-child{
border-top:none;
}



/*sidebar left mods for all widgets*/

.sidebar_left .widget_nav_menu ul:first-child>.current-menu-item,
.sidebar_left .widget_nav_menu ul:first-child>.current_page_item,
.sidebar_left .widget_nav_menu ul:first-child>.current-menu-ancestor{
padding-right: 52px;
padding-left:0;
left: auto;
top:1px;
}

.sidebar_left.sidebar{text-align: right;}

.sidebar_left .news-thumb{float:right; margin: 4px 0 0 9px;}

/*TWITTER WIDGET PRO STYLES*/
#top .widget_twitter{ font-size: 12px; line-height: 1.65em;}
#top .widget_twitter .twitter-avatar{float:left; margin-right:13px; border-style: solid; border-width:1px; padding:3px; display: block;}
#top .widget_twitter .twitter-avatar a, #top .widget_twitter .twitter-avatar img{display: block;}
#top .widget_twitter ul{overflow: hidden; margin:0; padding:0;}
#top .widget_twitter li{padding: 0 0 8px 0; margin: 0 0 8px 0; border-bottom-style: solid; border-bottom-width: 2px; }
#top .widget_twitter li:last-child{border-bottom: none;}
#top .widget_twitter .entry-content-wrapper{padding:0; margin:0; float: none; clear: both; position: relative; border:none; width:100%;}
#top .widget_twitter .entry-meta{display: block; font-size: 11px; font-style: italic; opacity: 0.8; margin-top:5px;}
#top .widget_twitter .time-meta, #top .widget_twitter .from-meta{}
#top .widget_twitter .intent-meta{ display: block; font-size: 11px; margin-top:8px;}
#top .widget_twitter .intent-meta a{ text-decoration: none; margin-right: 4px;  }
#top .widget_twitter .intent-meta a:hover{text-decoration: underline;}


/* ======================================================================================================================================================
#Footer & #Socket
====================================================================================================================================================== */

#footer{
padding:15px 0 30px 0;
z-index: 1;
}

#socket .container{
padding-top:15px;
padding-bottom:15px;
}

#socket{font-size: 11px; margin-top: -1px; z-index: 1;}
#socket .menu{margin-top:6px;}
#socket .sub_menu_socket{float:right; margin:0;}
#socket .sub_menu_socket div{overflow: hidden;}
#socket .sub_menu_socket li{float:left; display:block; padding:0 10px; border-left-style: solid; border-left-width: 1px; line-height: 10px;}
#socket .sub_menu_socket li:first-child{border:none;}
#socket .sub_menu_socket li:last-child{padding-right:0;}

#socket .copyright{float:left; }

#scroll-top-link{
position:fixed;
border-radius:2px;
height:50px;
width:50px;
line-height: 50px;
text-decoration: none;
text-align: center;
opacity: 0;
right:50px;
bottom:50px;
z-index: 1030;
visibility: hidden;
}

#scroll-top-link.avia_pop_class{
opacity: 0.7;
visibility: visible;
}

#socket .social_bookmarks{float:right; margin:-10px 0 0 30px; position: relative;}
#socket .social_bookmarks li{border-radius: 300px; border:none; overflow: hidden; top: 5px; position: relative;}
#socket .social_bookmarks li a{border-radius: 300px;}
#socket .avia-bullet, #socket .avia-menu-fx { display: none; }
/* ======================================================================================================================================================
#Comment
====================================================================================================================================================== */


h4#comments{
margin-bottom:30px;
}

#respond{
margin-top:20px;
}

.commentlist ul {
border-left-style: dashed;
border-left-width: 1px;
}

.children .children .says{
border-bottom-style: dashed;
border-bottom-width: 1px;
}



.miniheading, .author_name, #reply-title, #top .logged-in-as, .dynamic-column-title{
font-weight: 600;
letter-spacing: 1px;
}

#comments span, .minitext, .form-allowed-tags, #reply-title small, #commentform label{
font-size: 0.85em;
display:block;
letter-spacing: 0;
text-transform: none;
padding-top:8px;
line-height: 1.5em;
font-weight: normal;
}

.comment_meta_container{clear:both; float:none;}

#top .commentlist{
margin:0;
padding: 0 0 10px 0px;
border:none;
}


#top .commentlist .comment{
list-style-type: none;
list-style-position: outside;
width:100%;
position: relative;
display: block;
background: none;
min-height:100px;
clear: both;

}

#top .commentlist .comment.depth-1{float:left;}

#top .commentlist .comment>div{min-height: 100px; float: left; width:100%;}

.commentlist>.comment{
border-bottom-style: dashed;
border-bottom-width: 1px;
margin-bottom:30px;

}

.gravatar{
position: relative;
z-index: 2;
border-radius: 200px;
overflow: hidden;
float: left;
}

.gravatar img{
padding:0;
margin:0;
display: block;
border-radius: 200px;
}


.comment_content{
position:relative;
margin:0 0 0 85px;
padding:0 35px 15px 0;
z-index: 10;
overflow: hidden;
}



.author_name a, .author_name a:hover{
font-weight: bold;
text-decoration: none;
}

.comment-edit-link, #cancel-comment-reply-link{
display:inline-block;
font-size: 10px;
}

.author_name, .comment_title{
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.commentmetadata {
font-size:11px;
line-height: 1em;
}

.commentmetadata a{
text-decoration: none;
}

.commentmetadata a:hover{
text-decoration: underline;
}

.says {
display: block;
height: 1px;
left: -70px;
position: absolute;
text-indent: 200%;
top: 18px;
width: 40px;
overflow: hidden;
}

#top .comment_text{
clear: both;
font-size: 13px;
padding:  0 0 15px 0;
border:none;
}

#top .comment-reply-link {
font-size: 11px;
text-decoration: none;
line-height: 20px;
}

.side-container-comment-inner{
text-align: center;
position: relative;
overflow: hidden;
margin-bottom:15px;
}

.comment-count {
font-size: 24px;
line-height: 60px;
width: 60px;
display: block;
text-align: center;
border-radius: 200px;
margin: 0 auto;
position: relative;
z-index: 100;
}

.side-container-comment-inner .comment-text{
font-size: 12px;
text-transform: uppercase;
}

.center-border{position: absolute; top:39%; width:42%; border-top-style: solid; border-top-width: 1px; z-index: 1;}
.center-border-left{left:0;}
.center-border-right{right:0;}


/*children*/
#top .commentlist ul{
margin: 0 0 0 74px;
clear:both;
}

#top .commentlist .children ul{
margin: 0 0 0 47px;
}

.children .comment_content {
margin: 0 0 0 28px;
padding-bottom:30px;
z-index: 1;
}

.children .gravatar{
position: relative;
left:-24px;
z-index: 2;
width:45px;
}

#top .children .comment-reply-link {
left: -42px;
top: 51px;
}

/*comment page nav*/

.comment_page_nav_links{
position: relative;
display: block;
clear:both;
overflow: hidden;
font-size:11px;
}

.comment_prev_page a{
float:left;
}

.comment_next_page a{
float:right;
}

.comment_page_nav_links_bottom{
}

.comment_page_nav_links_top{

}

.sidebar_right .comment_container {
padding-right: 50px;
}

.sidebar_left .comment_container {
margin-left: 0;
}

.comment_container{max-width: 100%;}


/*generated by comment_form()*/

#commentform{ position: relative;}
#commentform p{ position: relative; padding:0 0 10px 0; margin:0;}

#reply-title small a{ float:right;}

#commentform label{
position: absolute;
left:245px;
font-size: 11px;
top:0;
font-weight: bold;
}

#commentform div input{
margin:0;
}

.commentlist #commentform label{
position: static;
display: block;
}

.comment-notes, #commentform  .comment-form-comment label{
display:none;
}

#top .comment-form-url input, #top .comment-form-email input, #top .comment-form-author input{
width: 220px;
}

#top .commentlist .comment-form-url input, #top .commentlist .comment-form-email input, #top .commentlist .comment-form-author input{
width: 70%;
}

#comment{
width:602px;
height:150px;
padding:10px 7px;
font-size: 12px;
margin:0;
}

.form-allowed-tags{
font-size: 11px;
line-height: 1.5em;
margin-bottom: 5px;
}

.form-allowed-tags code{
display:block;
padding-top:5px;
}

.commentlist #respond {
padding: 0 0 30px 56px;
}

.commentlist #respond #comment{
width:90%;
}

.commentlist #respond .form-allowed-tags{
display:none;
}

#reply-title{display:none;}
#reply-title small{display:inline;}
.commentlist #reply-title{display:block;}

#comment{
width:94%;
font-size:12px;
}

.personal_data p{
float:left;
width:33%;
}

.personal_data label{
display:none;
}






/* ======================================================================================================================================================
#CSS ANIMATION
====================================================================================================================================================== */



.small-preview, .avia-post-nav .entry-info-wrap, .avia-post-nav, .avia-menu-fx, .team-social, .button, .related-format-icon, .avia-slideshow-controls a, #top .social_bookmarks li a, .fallback-post-type-icon, #scroll-top-link, #advanced_menu_toggle, #advanced_menu_hide, .avia-slideshow-button{
-webkit-transition: all 0.3s ease-out;
transition:         all 0.3s ease-out;
}

.main_menu a, .pagination a{
-webkit-transition: color 0.15s ease-out;
transition:         color 0.15s ease-out;

-webkit-transition: background 0.15s ease-out;
transition:         background 0.15s ease-out;
}


.avia_pop_class, .avia-search-tooltip{
-webkit-animation: avia_pop 0.3s 1 cubic-bezier(0.175, 0.885, 0.320, 1.275); /* Safari 4+ */
animation:         avia_pop 0.3s 1 cubic-bezier(0.175, 0.885, 0.320, 1.275); /* IE 10+ */
}


a:hover .image-overlay .image-overlay-inside{
-webkit-animation: avia_pop_small 0.5s 1 cubic-bezier(0.175, 0.885, 0.320, 1.275); /* Safari 4+ */
animation:         avia_pop_small 0.5s 1 cubic-bezier(0.175, 0.885, 0.320, 1.275); /* IE 10+ */
}


@-webkit-keyframes avia_pop {
  0%   { -webkit-transform:scale(0.8);  }
  100% { -webkit-transform:scale(1);  }
}
@keyframes avia_pop {
  0%   { transform:scale(0.8);  }
  100% { transform:scale(1);   }
}

@-webkit-keyframes avia_pop_small {
  0%   { -webkit-transform:rotate(-175deg) scale(0.2);  }
  100% { -webkit-transform:rotate(0deg) scale(1);  }
}
@keyframes avia_pop_small {
  0%   { transform:rotate(-175deg) scale(0.2);  }
  100% { transform:rotate(0deg) scale(1);   }
}

@-webkit-keyframes avia_pop_loader {
  0%   { -webkit-transform:rotate(0deg) scale(0.2) ;  }
  100% { -webkit-transform:rotate(720deg) scale(1);  }
}
@keyframes avia_pop_loader {
  0%   { transform: rotate(0deg) scale(0.2);  }
  100% { transform: rotate(720deg) scale(1);   }
}


@-webkit-keyframes avia_shrink {
  0% { opacity:0; -webkit-transform: scale(1); transform: scale(1); }
  75% {opacity:0.7;}
  100% { opacity:0; -webkit-transform: scale(0); transform: scale(0);
  }
}

@keyframes avia_shrink {
  0% { opacity:0; -webkit-transform: scale(1); transform: scale(1); }
  75% {opacity:0.7; }
  100% { opacity:0; -webkit-transform: scale(0); transform: scale(0);}
}

@-webkit-keyframes av-load8 {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes av-load8 {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% {-webkit-transform: rotate(360deg); transform: rotate(360deg); }
}



/* #Media Queries
================================================== */

	/* large screens with 1140px with */

	@media only screen and (min-width: 1140px)  {

		}


	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 989px) {
		.responsive.html_header_sidebar #top #header{width:27%}
		.responsive.html_header_left #main { margin-left: 27%; }
		.responsive.html_header_right #main { margin-right: 27%; }
		.responsive.html_header_sidebar #header .av-main-nav{ padding: 4% 0; }
		.responsive.html_header_sidebar #header .av-main-nav > li { margin: 0 10%; }
		.responsive.html_header_sidebar #header .av-main-nav > li > a .avia-menu-text{ font-size: 14px; }
		.responsive.html_header_sidebar #header .av-main-nav > li > a .avia-menu-subtext{font-size: 11px; }
		.responsive.html_header_sidebar #header .avia-custom-sidebar-widget-area .widget{padding:10%;}
		.responsive.html_header_sidebar .logo{padding: 10%;}
	}



	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 989px) {

		.responsive .main_menu ul:first-child > li > a { padding: 0 10px; }
		.responsive #top .header_bg { opacity: 1; filter: alpha(opacity=100); }
		.responsive #main .container_wrap:first-child{ border-top:none; }
		.responsive .logo{float:left;}
		.responsive .logo img{margin:0; }
		.responsive .av_mobile_menu_tablet .main_menu .avia-menu{display: none; }
		.responsive.html_header_top.html_mobile_menu_tablet #header_main .social_bookmarks { right: 50px; }
		
		.responsive.js_active .avia_combo_widget .top_tab .tab{font-size: 10px;}
		.responsive.js_active .avia_combo_widget .news-thumb{display:none;}
		
		.responsive #top #wrap_all .grid-sort-container .av_one_sixth{ width:33.3%; margin-bottom: 0;}
		.responsive body.boxed#top, .responsive.html_boxed.html_header_sticky #top #header, .responsive.html_boxed.html_header_transparency #top #header{max-width: 100%;}
		}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		
		
		/*blog*/
		.responsive .template-archives .tab_inner_content li{width:98%;}
		.responsive .template-blog .blog-meta,
		.responsive .post_author_timeline,
		.responsive #top #main .sidebar {display:none; }
		.responsive #top #main .sidebar.smartphones_sidebar_active{display:block;text-align: left; border-left: none; border-right: none; border-top-style: dashed; border-top-width: 1px; width: 100%; clear: both;}
		.responsive #top #main .sidebar.smartphones_sidebar_active .inner_sidebar{margin:0;}
		.responsive .content .entry-content-wrapper{padding:0;}
		.responsive .content{border:none;}
		.responsive .template-blog .post_delimiter { margin: 0 0 30px 0; padding: 30px 0 0 0; }
		.responsive .big-preview{padding: 0 0 10px 0;}
		.responsive .related_posts{padding:20px 0;}
		.responsive .comment_content{padding-right:0; padding-left:0;}
		.responsive .fullsize div .template-blog .entry-content-wrapper{text-align: left; font-size:14px; line-height: 24px;}
		.responsive #top .fullsize .template-blog .post .entry-content-wrapper > * { max-width: 100%; }
		.responsive #top .avia-post-nav { display: none; }
		.responsive #top .av-related-style-full .no_margin.av_one_half.relThumb{display: block; width:100%; clear:both;}
		
		/*all templates*/
		.responsive .title_container .breadcrumb{position: relative;right:auto; top:-6px; margin:0; left:-2px;}
		.responsive .pagination{padding-left: 0; padding-right: 0;}
		.responsive #header .main_menu .social_bookmarks{display:none;}

		/*header*/
		.responsive #top .av_header_transparency.av_alternate_logo_active .logo a > img{opacity:1}
		.responsive #top .av_header_transparency .logo img.alternate{display:none;}
		
		.responsive #top #wrap_all #header {position: relative; width:100%; float:none; height:auto; margin:0 !important; opacity: 1;}
		.responsive #top #main {padding-top:0 !important; margin:0;}
		.responsive #top #main .container_wrap:first-child{ border-top:none; }
		.responsive.html_header_top.html_logo_center .logo { left: 0%; -webkit-transform: translate(0%, 0); -ms-transform: translate(0%, 0); transform: translate(0%, 0); margin:0; }
		.responsive .phone-info{float:none; width:100%; clear:both; text-align: center;}
		.responsive .phone-info span{margin:0;padding:0; border:none;}
		.responsive.html_header_top #header_main .social_bookmarks { right: 50px; width:auto; margin-top:-16px; }
		
		.responsive #header_main .inner-container, .responsive .main_menu{position: static;}
		.responsive #top .logo{position: static; display:table; height:80px !important; float:none; padding:0; border:none; width:80%; }
		.responsive .logo a{display:table-cell; vertical-align: middle;} 
		.responsive .logo img{height:auto !important; width:auto; max-width: 100%; display: block;  max-height: 80px;}
		.responsive #header_main .container{height:auto !important; }
		.responsive #top .header_bg { opacity: 1; filter: alpha(opacity=1); }
		.responsive.social_header .phone-info {text-align: center; float:none; clear:both; margin:0; padding:0;}
		.responsive.social_header .phone-info span{border:none; width:100%; text-align: center; float:none; clear:both; margin:0; padding:0;}
		.responsive #header_meta .social_bookmarks li{ border-style:solid; border-width:1px; margin-bottom:-1px; margin-left:-1px;}
		.responsive #top #header_meta .social_bookmarks li:last-child{border-right-style: solid; border-right-width:  1px;}
		.responsive #header .sub_menu, .responsive #header_meta .sub_menu>ul{float:none; width:100%; text-align: center; margin:0 auto; position: static;}
		.responsive #header .social_bookmarks{padding-bottom:2px; width:100%; text-align: center; height:auto; line-height: 0.8em; margin:0;}
		.responsive #header_meta .sub_menu>ul>li{float:none; display: inline-block; padding: 0 10px;}
		.responsive #header .social_bookmarks li{float:none; display: inline-block;}
		.responsive.bottom_nav_header #header_main .social_bookmarks{ position: relative; top: 0; right: 0; margin: 10px auto; clear:both;}
		.responsive.bottom_nav_header.social_header .main_menu>div{height:auto;}
		.responsive .logo img{margin:0;}
		.responsive.html_header_sidebar #top #header .social_bookmarks{display:none;}
		.responsive body.boxed#top, .responsive.html_boxed.html_header_sticky #top #header{max-width: 100%;}
		
		.responsive.html_header_transparency #top .avia-builder-el-0 .container, .responsive.html_header_transparency #top .avia-builder-el-0 .slideshow_inner_caption{padding-top:0;}
		.responsive #top .av_phone_active_right .phone-info.with_nav span{border:none;}
		
		.responsive #top #wrap_all .av_header_transparency .main_menu ul:first-child > li > a, 
		.responsive #top #wrap_all .av_header_transparency .sub_menu > ul > li > a, 
		.responsive #top .av_header_transparency #header_main_alternate, 
		.responsive .av_header_transparency #header_main .social_bookmarks li a,
		.responsive #top #wrap_all .av_header_transparency .phone-info.with_nav span,
		.responsive #top .av_header_transparency #header_meta, 
		.responsive #top .av_header_transparency #header_meta li,
		.responsive #top #header_meta .social_bookmarks li a{ color:inherit; border-color: inherit; background: inherit;}
		
		
		
		/*related images*/
		.responsive #top .related_entries_container .av_one_eighth{width:25%;}
		.responsive #top .relThumb5{clear:both;}
		
		
		.responsive.html_header_transparency #top .avia-builder-el-0 .container{padding-top:0px;}
		.responsive.html_header_sidebar #header .avia-custom-sidebar-widget-area{display:none;}
		.responsive.html_header_sidebar #main{ border: none; }
		
		/*tabs*/
		.responsive.js_active #top .avia_combo_widget .top_tab .tab{ border-top: 1px solid; border-bottom:none; width: 100%; }
		.responsive.js_active #top .avia_combo_widget .news-wrap li{padding:5px;}
		
		/*widgets*/
		.tagcloud a{ padding:8px 20px; margin:0 8px 8px 0; }
		.widget li{line-height: 1.8em; font-size: 15px;}
		
		/*footer*/
		.responsive #scroll-top-link{display: none;} /*iphones etc scroll better by tapping the status bar at the top of the screen*/

	 	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {

		.responsive #socket .sub_menu_socket{float:none; margin-left:-20px;}

		/*portfolio*/
		.responsive #top #wrap_all .grid-sort-container.grid-total-odd .grid-entry.grid-loop-1{width:100%;}
		.responsive #top #wrap_all .grid-sort-container .grid-entry{ width:50%; margin-bottom: 0;}
		.responsive #top #wrap_all .portfolio-parity-odd{ clear:both; }
		
		.responsive #socket .sub_menu_socket{display:none;}
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {

		.responsive #socket .sub_menu_socket{display:none;}
		/*related images*/
		.responsive #top .related_entries_container .av_one_eighth{width:50%;}
		.responsive #top .related_entries_container .av_one_eighth:nth-child(odd){clear:both;}
		
		.responsive.html_header_top #header_main .social_bookmarks {display:none;}
	}





/*Added with version 1.3*/

/*mobile-advanced*/
#mobile-advanced{
width:100%;
/*right:-100%;*/
position: absolute;
z-index: 1000;
top:0;
padding:89px 0;
overflow: hidden;
border-left-style: solid;
border-left-width: 1px;
margin:0 0 0 -2px;
-webkit-transform: 	scale(0.5);
-ms-transform: 		scale(0.5);
transform: 			scale(0.5);
-webkit-transition: all 0.6s ease;
transition: 		all 0.6s ease;
-webkit-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
transform-origin: 0% 0%;
display:none;
}

#mobile-advanced.large-sceen{
width: 34%;
right: -34%;
}

.show_mobile_menu{
overflow: hidden;
}

.avia_transform3d #mobile-advanced{
-webkit-transform: 	scale3d(0.5);
transform: 			scale3d(0.5);
}

.show_mobile_menu #mobile-advanced{
-webkit-transform: 	scale(1);
-ms-transform: 		scale(1);
transform: 			scale(1);
-webkit-transform: 	translate(-100%, 0);
-ms-transform: 		translate(-100%, 0);
transform: 			translate(-100%, 0);
}



.avia_transform3d .show_mobile_menu #mobile-advanced{
-webkit-transform: 	scale3d(1);
transform: 			scale3d(1);
-webkit-transform: 	translate3d(-100%, 0, 0);
transform: 			translate3d(-100%, 0, 0);
}


#mobile-advanced .avia-menu-fx{display:none; visibility:hidden;}
#mobile-advanced .avia-menu-subtext{display:none;}
#mobile-advanced .av-menu-button > a .avia-menu-text{border:none; padding:0;}
#mobile-advanced>li:first-child>a:first-child{border-top-style: solid;border-top-width: 1px;}
#mobile-advanced li{margin:0; padding:0; position: relative; float:none; clear: both;}
#mobile-advanced li > a:before, .html_header_mobile_behavior #mobile-advanced span > a:before, #mobile-advanced .mega_menu_title:before {
content: "\25B6";
position: absolute;
top: 13px;
margin-left: -10px;
font-family: 'entypo-fontello';
font-size: 7px;
}

.html_header_mobile_behavior #mobile-advanced span > a:before{ top: 0px; }

#mobile-advanced ul{margin:0; padding:0; display: block; width:100%; left:0; position: relative;}
#mobile-advanced a , #mobile-advanced .mega_menu_title{padding:13px 28px; border-bottom-style: solid; border-bottom-width:1px; width:100%; display:block; margin:0; text-decoration: none; position: relative; cursor: pointer; }
#mobile-advanced  ul a, #mobile-advanced  .mega_menu_title{padding-left:50px;}
#mobile-advanced  ul ul a{padding-left:80px;}
#mobile-advanced  ul ul ul a{padding-left:110px;}
#mobile-advanced  ul ul ul ul a{padding-left:140px;}

/*mega menu fixes*/
#mobile-advanced .avia-bullet{display:none;}
#mobile-advanced .avia_mega_div{width:100%; margin:0; float: none;}
#mobile-advanced .mega_menu_title a{padding:0; border:none;}
#mobile-advanced .avia_mega_text_block{display:none;}

#advanced_menu_toggle, #advanced_menu_hide{
position: absolute;
border-radius: 2px;
height: 46px;
width: 46px;
line-height: 46px;
text-decoration: none;
text-align: center;
right: 0;
top: 50%;
margin-top:-23px;
z-index: 10000;
border-style:solid;
border-width: 1px;
font-size: 30px;
display:none;
}
.bottom_nav_header #advanced_menu_toggle{top:40px;}


#advanced_menu_hide{
z-index: 10001;
visibility: hidden;
opacity: 0;
top: 44px;
right: 23px;
}

.show_mobile_menu #advanced_menu_hide{
opacity: 1;
visibility: visible;
}

/* .html_logo_right #advanced_menu_toggle{left:0; right:auto;} */
.html_logo_right #advanced_menu_hide{left:23px; right:auto;}
.html_header_mobile_behavior #mobile-advanced ul{display:none;}
#top #mobile-advanced .visible_sublist, #top #mobile-advanced .avia_mega_div.visible_sublist>ul{display:block;}

@media only screen and (max-width: 989px) {
.responsive.html_mobile_menu_tablet .main_menu .avia-menu, 
.responsive.html_mobile_menu_tablet #header_main .social_bookmarks, 
.responsive.html_mobile_menu_tablet #header_main_alternate{display:none;}
.responsive.html_mobile_menu_tablet .container #advanced_menu_toggle, .responsive.html_mobile_menu_tablet #advanced_menu_hide{display:block;}
.responsive.html_mobile_menu_tablet.html_logo_right #advanced_menu_toggle{left:50px;}
}

@media only screen and (max-width: 767px) {
.main_menu .avia-menu, #header_main_alternate, .fallback_menu{display:none;}
.container #advanced_menu_toggle, #advanced_menu_hide{display:block;}
.responsive.html_mobile_menu_tablet.html_logo_right #advanced_menu_toggle{left:auto;}
}
