@import "../account/base";

@font-face {
  font-family: "nunito-sans";
  src: url("/fonts/boomeranggr/NunitoSans.woff2") format('woff2');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "open-sans";
  src: url("/fonts/boomeranggr/OpenSansBold.woff2") format('woff2');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "open-sans";
  src: url("/fonts/boomeranggr/OpenSans.woff2") format('woff2');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "roboto";
  src: url("/fonts/boomeranggr/RobotoBold.woff2") format('woff2');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "roboto";
  src: url("/fonts/boomeranggr/Roboto.woff2") format('woff2');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "roboto";
  src: url("/fonts/boomeranggr/RobotoThin.woff2") format('woff2');
  font-style: normal;
  font-weight: 100;
}

body {
  overflow-x: hidden;
}

body, h1, h2 {
  font-family: "nunito-sans", sans-serif;
  color: #222;
}

#header {
  background: url("/images/boomeranggr/header-bg.jpg") no-repeat;
  background-color: #20283c;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 0;
}

.navbar {
  margin: 8px 0;
}

.navbar .logo {
  float: left;
  width: 272px;
  height: 73px;
}

.navbar .nav {
  float: left;
  margin-left: 30px;
  margin-top: 10px;
}

.navbar .login {
  list-style: none;
  float: right;
  margin-top: 25px;
  padding-left: 15px;
  background: url("/images/boomeranggr/padlock.svg") no-repeat;
}

.navbar .nav > li > a,
.navbar .login > li > a {
  text-transform: uppercase;
  float: none;
  padding: 14px;
  font-size: 18px;
  font-weight: 700;
  color: #FFF;
  text-decoration: none;
  text-shadow: none;
  line-height: 25px;
  transition: color .3s;
  &:hover {
    color: #0066CC;
  }
}

.navbar .nav > li > a:hover {
  text-decoration: none;
  color: #0971ce;
}

@media (max-width: 979px) {
  body {
    padding: 0;
    background: url("/images/boomeranggr/header-bg.jpg") no-repeat;
  }

  .container {
    padding: 0;
  }

  .navbar .btn-navbar {
    min-width: auto;
  }

  .navbar .nav {
    float: none;
    width: 100%;
    margin-top: 0;
  }

  .navbar .nav > li {
    border-bottom: 1px solid #FFF;
    background-color: #20283c;
  }

  .navbar .nav > li > a {
    padding: 20px;
  }

  #interior_mobile_menu .navbar-inner {
    background: #FFF;
    box-shadow: none;
    border-bottom: 1px solid #0971ce;
  }

  #interior_mobile_menu .brand,
  #interior_mobile_menu .btn-group {
    color: #0971ce;
  }
}

.btn {
  border: 3px solid #0066cc;
  border-radius: 8px;
  padding: 17px 35px;
  cursor: pointer;
  font-family: "nunito-sans", sans-serif;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1em;
  color: #fff;
  background-color: #20283c;
  background-image: none !important;
  box-shadow: none;
  text-shadow: none !important;
}

.alert-info * {
  text-shadow: none;
}

.page-header {
  color: #0971ce;
  border-bottom-color: #0971ce;
}

#kiosk_cardNumber {
  width: 150px;
}

#footer {
  position: absolute;
  left: 0;
  background: #20283c;
  padding: 55px 0;
}

#footer .btn {
  background-color: #20283c;
  min-width: 250px;
}

.footer-left {
  float: left;
  margin-left: 65px;
}

.footer-right {
  float: right;
  margin-right: 65px;
  p {
    margin-bottom: 0;
    text-align: right;
    line-height: 24px;
  }
  .social-wrap {
    margin-top: 25px;
    ul {
      float: right;
      li {
        width: 35px;
        height: 35px;
        display: inline-block;
        margin-right: 25px;
        &:last-of-type {
          margin-right: 0;
        }
        a {
          display: block;
          width: 100%;
          height: 100%;
          transition: background .3s;
          &.facebook {
            background: url('/images/boomeranggr/facebook.svg') center no-repeat;
          }
          &.twitter {
            background: url('/images/boomeranggr/twitter.svg') center no-repeat;
          }
          &.instagram {
            background: url('/images/boomeranggr/instagram.svg') center no-repeat;
          }
          &:hover {
            &.facebook {
              background: url('/images/boomeranggr/facebook-orange.svg') center no-repeat;
            }
            &.twitter {
              background: url('/images/boomeranggr/twitter-orange.svg') center no-repeat;
            }
            &.instagram {
              background: url('/images/boomeranggr/instagram-orange.svg') center no-repeat;
            }
          }
        }
      }
    }
  }
}

.footer-left p, .footer-left a,
.footer-right p, .footer-right a {
  font-size: 18px;
  font-family: "nunito-sans", sans-serif;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  color: #FFF;
  text-transform: uppercase;
}