html,body{
    height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
}

@media (max-width: 414px) {
  html {
    font-size: 11px;
  }
}
@media (max-width: 736px) {
  html {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 13px;
  }
}

.nav-link {
  color: rgb(60,156,205);
}
.nav-link:hover {
  color: rgb(60,205,182);
}

.text-lu {
  color: #3CC0CD;
}

.bg-lu {
  background-color: #3CC0CD;
}

.hero-image {
  position: relative;
  background-image: url('/images/laundryup/hero-2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}
.hero-image:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to top left, rgba(60,205,182,0.25), rgba(60,156,205,0.25));
}
.inner-content {
  position: absolute;
  top: 35%;
  left: 0;
  right: 0;
  bottom: 0;
}

.icon {
  color: #3CC0CD;
  font-size: 5em;
}

.social-icon {
  font-size: 2em;
}

.lu-underline {
  text-decoration: underline;
  text-decoration-color: #3CC0CD;
}

.tile {
  position: relative;
}
.tile:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to top left, rgba(60,192,205,0.5), rgba(60,156,205,0.5));
}
.tile-text {
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.hero-image-2 {
  position: relative;
  background-image: url('/images/laundryup/hero-1.jpg');
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}
.hero-image-2:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to top left, rgba(60,205,182,0.25), rgba(60,156,205,0.25));
}

#update_kiosk_card_form select {
  width: 50px;
}


#bootstrap2x a.navText {
    color: #666;
    font-size: 12pt;
    font-style: normal;
    padding-top: 9px;
    text-decoration: none;
    margin-left: 45px
}

#bootstrap2x .navLink {
    color: #666;
    text-decoration: none;
}

#bootstrap2x h1 {
    color: #266CAC;
    font-size: 25px;
    font-family: arial, helvetica, sans-serif;
    font-weight: 700;
    letter-spacing: -1px;
    text-decoration: none;
    text-transform: capitalize;
    margin: 0;
}

#bootstrap2x h2 {
    color: #266CAC;
    font-size: 18px;
    font-family: arial, helvetica, sans-serif;
    text-decoration: none;
    text-transform: capitalize;
    margin: 0 auto;
    line-height: 21px;
}

#bootstrap2x a, 
#bootstrap2x h1, 
#bootstrap2x h2{
    color: rgb(72, 194, 197);
}

#bootstrap2x .btn {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
 
#bootstrap2x .btn:focus, #bootstrap2x  .btn:active:focus, #bootstrap2x  .btn.active:focus {
    outline: 0 none;
}
 
#bootstrap2x .btn-primary, 
#bootstrap2x  .btn-info, 
#bootstrap2x .btn-success {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    background-image: -webkit-linear-gradient(top, #17a2b8, #17a2b8);
}
 
#bootstrap2x  .btn-primary:hover, #bootstrap2x  .btn-primary:focus, #bootstrap2x  .btn-primary:active, #bootstrap2x  .btn-primary.active, #bootstrap2x .open > .dropdown-toggle.btn-primary {
    background: #17a2b8;
}
 
#bootstrap2x .btn-primary:active, #bootstrap2x .btn-primary.active {
    background: #17a2b8;
    box-shadow: none;
}