/* Body **/
body, p {
	font-family: 'Cutive Mono', serif;
	font-size: 15px;
}

/* Global Bootstrap Changes */
.site_navbar-nav {
	float: right;
}

a.brand {
	padding: 15px 15px 15px 0px;
	display: inline-block;
}

.site_navbar-inverse {
	background-image: none !important;
}


.site_navbar img {
	width: 100%;
	height: auto;
}


a.button {
	color: #231F20;
	font-family: 'Quantico', sans-serif;
	font-style: italic;
	text-transform: uppercase;
    letter-spacing: 0.135em;
	border: solid 2px #C0934C;
	padding: 8px 42px;	
	margin-top: 10px;
	display: inline-block;
	font-size: 16px;
}

a.button:hover {
	text-decoration: none;
	background-color: #C0934C;
	color: #fff;
}

h1 {
	color: #C0934C;
	font-family: 'Quantico', sans-serif;
	font-style: italic;
	font-size: 22px;
	letter-spacing: 4px;
	font-weight: 200;
	text-transform: uppercase;
}

h2 {
	color: #231F20;
	font-family: 'Quantico', sans-serif;
	font-style: italic;
	font-size: 16px;
	letter-spacing: 3px;
	font-weight: 200;
	text-transform: uppercase;
    margin: 20px 0px 0px 0px;
}


a {
	color: #C0934C;
}

a:hover {
	color: #C0934C;
}

/* Header */
.site_navbar-inverse {
	background-color: #231F20;
	padding: 10px 0px;
	margin-bottom: 0px;
}

.site_navbar-inverse a {
	color: #FBF7F2;
}

.header-logo {
	max-width: 80px;
	display: block;
	margin: 0 auto;
}

.site_navbar-inverse .site_navbar-brand, .site_navbar-inverse .site_navbar-nav>li>a {
	text-shadow: none;
	color: #fff;
	font-family: 'Quantico';
	font-style: normal;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 13px;
}

.site_navbar-inverse .site_navbar-nav>li>a:hover {
	color: #c0934c;
}

.site_navbar-inverse .site_navbar-nav>li:last-child a {
	padding-right: 0px;
}

#navbar {
	padding-right: 0px;
}



/* Footer */
.home-footer {
	background-color: #fbf7f2;
	padding: 50px 0px;
}

.home-footer h2 {
	margin-top: 10px;
}

.home-footer p a {
	color: #c0934c;
}

.home-footer p a:hover {
	color: #c0934c;
}

.home-footer .orl-15 {
	max-width: 40px;
	display: block;
	margin: 0 auto;
	margin-top: 25px;
}


.sub-footer {
	text-align: left;
	background-color: #231f20;
	color: #fff;
	padding: 20px 0px 0px;
}

.sub-footer p {
	padding: 15px 0px 0px;
	margin: 0px;
}

div.AuthorizeNetSeal {
	float: right;
}


/* XS - Extra-Small Screens */
@media (max-width: 767px) { 
	a.button {
	    letter-spacing: 0.125em;
        padding: 8px 30px;
		font-size: 13px;
	}
	
	.site_navbar-nav {
		float: left;
	}
	
	.site_navbar-inverse .site_navbar-toggle {
		position: absolute;
		right: 10px;
		border: 0px;
		border-radius: 0px;
		background-color: #C0934C;
	}
	
	#menu-menu-1 {
		width: 100%;
		text-align: center;
	}
	
	.site_navbar-inverse .site_navbar-nav>li a {
		padding-right: 0px;
	}
	
	a.brand {
		padding: 15px;
	}

	
	footer {
		text-align: center;
	}
	
	.footer-links {
		margin-bottom: 20px;
	}

	#site_navbar-top {
	}
}

/* SM - Small Screens */
@media (min-width: 768px) and (max-width: 991px) {
	
}

/* MD - Medium Screens */
@media (min-width: 992px) and (max-width: 1199px) {
	
}

/* LG - Large Screens */
@media (min-width: 1200px) {
	
}

.site_navbar-inverse {
	background-color: #231f20;
	margin: 0;
}

h1 {
    color: #C0934C;
    font-family: 'Quantico', sans-serif;
    font-style: italic;
    font-size: 22px;
    letter-spacing: 4px;
    font-weight: 200;
    text-transform: uppercase;
}

/* Homepage - Get ORL */
.get-orl {
	padding: 20px 0px;
	background-color: #c0934c;
	text-align: left;
}

.get-orl h1 {
	color: #fff;
	margin-bottom: 0px;
}

.get-orl a.button {
	border-color: #fff;
	color: #fff;
}

.get-orl a.button:hover {
	background-color: #fff;
	color: #c0934c;
}

.get-orl p {
	color: #fff;
    margin: 0 0 9px;
}

.get-orl .footer-links h2 {
    margin-top: 12px;
    font-size: 12px;
    letter-spacing: 1px;
}

.get-orl .footer-links a {
	color: #fff;
}

.get-orl .social img {
	max-width: 35px;
	margin-bottom: 10px;
	float: right;
}

/* Footer */
.home-footer {
	background-color: #fbf7f2;
	padding: 50px 0px;
}

.home-footer h2 {
	margin-top: 10px;
}

.home-footer p a {
	color: #c0934c;
}

.home-footer p a:hover {
	color: #c0934c;
}

.home-footer .orl-15 {
	max-width: 40px;
	display: block;
	margin: 0 auto;
	margin-top: 25px;
}


.sub-footer {
	text-align: left;
	background-color: #231f20;
	color: #fff;
	padding: 20px 0px 0px;
}

.sub-footer p {
	padding: 15px 0px 0px;
	margin: 0px;
}

div.AuthorizeNetSeal {
	float: right;
}

.account_content {
	margin-top: 1rem;
	margin-bottom: 1rem;
}


.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn-primary, .btn-info, .btn-success {
    background: #c0934c;
    color: #ffffff;
}
 
.btn-primary:hover, .btn-large:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #c0934c;
}
 
.btn-primary:active, .btn-primary.active {
    background: #c0934c;
    box-shadow: none;
}

a, a:hover {
    color: #101010;
    text-decoration: none;
}


.alert.alert-info {
    background-color: #FFF;
    border-color: #101010;
}

.alert.alert-info p, h2, h3, h1 {
    color: #101010;
}

.menu-item {
	margin-bottom: 1rem;
}


@media (max-width: 767px) {

	body {
	    padding-right: 0;
	    padding-left: 0;
	}

	footer .container,
	.account_content {
	    padding-right: 20px;
	    padding-left: 20px;
	}
}
