/* Custom Drop Locker */

#menu-smartsecondmenu .menu-item {
	margin-bottom: 0;
}

.btn {
	border: none;
	text-shadow: 0;
	text-transform: uppercase;
	border-radius: 0;
}

.btn-info,
.btn-info:hover,
.btn-primary,
.btn-primary:hover
 {
	background: #47a3d1;
	padding: 10px 15px;
}

.btn-success {
	background: #5bb75b;
}

.controls label {
	line-height: 1.2;
}

.cc-mask {
	padding: 12px;
}

#update_kiosk_card_form label {
	line-height: 1.2;
}

#kiosk_cardNumber {
	text-indent: 13em !important;
}

#update_kiosk_card_form select {
}

.kiosk-access-form {
	height: 160px;
}

.kiosk-access-buttons {
	right: 0;
}

.kiosk-access-buttons p {
	margin: 0;
	/*height: 50px;*/
}

#grve-main-content div.alert.alert-info h1 {
    font-size: 30px;
}

div.alert.alert-info {
    background-color: #e4e4e4;
    border: none;
    
}

#menu-smartmenu-1 ul.sub-menu li  {
    margin-bottom: 0;
}

div.menu-item h3 {
    margin-bottom: -5px;
}

div.control-group label {
    line-height: 1.5;
}

#location_service_types label.checkbox:first-child {
    padding-top: 0;
}

#grve-main-menu-responsive .grve-menu-scroll ul li.menu-item {
  margin-bottom: 0;
}