@charset "UTF-8";
/* HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */
/* =============================================================================
 * HTML5 display definitions
 * ========================================================================== */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]), [hidden] {
  display: none; }

/* =============================================================================
 * Base
 * ========================================================================== */
/* 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0;
  font-size: 13px;
  line-height: 1.231;
  font-family: sans-serif;
  color: #666; }

button, input, select, textarea {
  font-family: sans-serif;
  color: #444; }

/* Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */
::-moz-selection {
  background: #00b3e6;
  color: white;
  text-shadow: none; }

::selection {
  background: #00b3e6;
  color: white;
  text-shadow: none; }

/* =============================================================================
 * Links
 * ========================================================================== */
a { color: #00b3e6; }
  a:visited { color: #00b3e6; }
  a:hover { color: #0066ee; }
  a:focus { outline: thin dotted; }
  a:hover, a:active { outline: 0; }

/* =============================================================================
 * Typography
 * ========================================================================== */
abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

ins {
  background: #ffff99;
  color: black;
  text-decoration: none; }

mark {
  background: yellow;
  color: black;
  font-style: italic;
  font-weight: bold; }

pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }
  q:before, q:after {
    content: "";
    content: none; }

small {
  font-size: 85%; }

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* =============================================================================
 * Lists
 * ========================================================================== */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px; }

dd {
  margin: 0 0 0 40px; }

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

/* =============================================================================
 * Embedded content
 * ========================================================================== */
/* 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e
 */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

/* Correct overflow not hidden in IE9
 */
svg:not(:root) {
  overflow: hidden; }

/* =============================================================================
 * Figures
 * ========================================================================== */
figure {
  margin: 0; }

/* =============================================================================
 * Forms
 * ========================================================================== */
form {
  margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

label {
  cursor: pointer; }

/* 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0; }

/* 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

/* 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */
button, input {
  line-height: normal; }

/* 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 * 4. Consistent box sizing and appearance
 */
button {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/* Remove inner padding and border in FF3/4: h5bp.com/l
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

input:invalid, textarea:invalid {
  background-color: #f0dddd; }

/* =============================================================================
 * Tables
 * ========================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

/* ==|== primary styles =====================================================
 * Author:
 * ========================================================================== */
/* ==|== media queries ======================================================
 * PLACEHOLDER Media Queries for Responsive Design.
 * These override the primary ('mobile first') styles
 * Modify as content requires.
 * ========================================================================== */
/* ==|== non-semantic helper classes ========================================
 * Please define your styles before this section.
 * ========================================================================== */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr; }
  .ir br {
    display: none; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  .visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

.invisible {
  visibility: hidden; }

.clearfix {
  *zoom: 1; }
  .clearfix:before {
    content: "";
    display: table; }
  .clearfix:after {
    content: "";
    display: table;
    clear: both; }

/* ==|== print styles =======================================================
 * Print styles.
 * Inlined to avoid required HTTP connection: h5bp.com/r
 * ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  a {
    text-decoration: underline; }
    a:visited {
      text-decoration: underline; }
    a[href]:after {
      content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after {
    content: ""; }

  a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  pre, blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr {
    page-break-inside: avoid; }

  img {
    page-break-inside: avoid;
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }

@font-face {
  font-family: "sanchez_regularregular";
  src: url("fonts/latinotype_-_sanchez-regular-webfont.eot");
  src: url("fonts/latinotype_-_sanchez-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/latinotype_-_sanchez-regular-webfont.woff") format("woff"), url("fonts/latinotype_-_sanchez-regular-webfont.ttf") format("truetype"), url("fonts/latinotype_-_sanchez-regular-webfont.svg#sanchez_regularregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "sanchez_regular_italic";
  src: url("fonts/latinotype_-_sanchez-regularitalic-webfont.eot");
  src: url("fonts/latinotype_-_sanchez-regularitalic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/latinotype_-_sanchez-regularitalic-webfont.woff") format("woff"), url("fonts/latinotype_-_sanchez-regularitalic-webfont.ttf") format("truetype"), url("fonts/latinotype_-_sanchez-regularitalic-webfont.svg#sanchez_regular_italic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "novecento_wide_bookbold";
  src: url("fonts/novecentowide-bold-webfont.eot");
  src: url("fonts/novecentowide-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/novecentowide-bold-webfont.woff") format("woff"), url("fonts/novecentowide-bold-webfont.ttf") format("truetype"), url("fonts/novecentowide-bold-webfont.svg#novecento_wide_bookbold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "novecento_widebook";
  src: url("fonts/novecentowide-book-webfont.eot");
  src: url("fonts/novecentowide-book-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/novecentowide-book-webfont.woff") format("woff"), url("fonts/novecentowide-book-webfont.ttf") format("truetype"), url("fonts/novecentowide-book-webfont.svg#novecento_widebook") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "novecento_widedemibold";
  src: url("fonts/novecentowide-demibold-webfont.eot");
  src: url("fonts/novecentowide-demibold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/novecentowide-demibold-webfont.woff") format("woff"), url("fonts/novecentowide-demibold-webfont.ttf") format("truetype"), url("fonts/novecentowide-demibold-webfont.svg#novecento_widedemibold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "novecento_widelight";
  src: url("fonts/novecentowide-light-webfont.eot");
  src: url("fonts/novecentowide-light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/novecentowide-light-webfont.woff") format("woff"), url("fonts/novecentowide-light-webfont.ttf") format("truetype"), url("fonts/novecentowide-light-webfont.svg#novecento_widelight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "novecento_widemedium";
  src: url("fonts/novecentowide-medium-webfont.eot");
  src: url("fonts/novecentowide-medium-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/novecentowide-medium-webfont.woff") format("woff"), url("fonts/novecentowide-medium-webfont.ttf") format("truetype"), url("fonts/novecentowide-medium-webfont.svg#novecento_widemedium") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "novecento_widenormal";
  src: url("fonts/novecentowide-normal-webfont.eot");
  src: url("fonts/novecentowide-normal-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/novecentowide-normal-webfont.woff") format("woff"), url("fonts/novecentowide-normal-webfont.ttf") format("truetype"), url("fonts/novecentowide-normal-webfont.svg#novecento_widenormal") format("svg");
  font-weight: normal;
  font-style: normal; }
h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-weight: normal;
  margin: 0;
  padding: 0;
  letter-spacing: 2px; }

h1.white, h2.white, h3.white, h4.white, h5.white, h6.white, a.white, p.white, span.white {
  color: white; }
h1.black, h2.black, h3.black, h4.black, h5.black, h6.black, a.black, p.black, span.black {
  color: black; }
h1.blue, h2.blue, h3.blue, h4.blue, h5.blue, h6.blue, a.blue, p.blue, span.blue {
  color: #00b3e6; }
h1.grey, h2.grey, h3.grey, h4.grey, h5.grey, h6.grey, a.grey, p.grey, span.grey {
  color: #f2f2f2; }
h1.darkgrey, h2.darkgrey, h3.darkgrey, h4.darkgrey, h5.darkgrey, h6.darkgrey, a.darkgrey, p.darkgrey, span.darkgrey {
  color: #999999; }
h1.oddgrey, h2.oddgrey, h3.oddgrey, h4.oddgrey, h5.oddgrey, h6.oddgrey, a.oddgrey, p.oddgrey, span.oddgrey {
  color: #cccccc; }
h1.darker, h2.darker, h3.darker, h4.darker, h5.darker, h6.darker, a.darker, p.darker, span.darker {
  color: gray; }
h1.regMarg, h2.regMarg, h3.regMarg, h4.regMarg, h5.regMarg, h6.regMarg, a.regMarg, p.regMarg, span.regMarg {
  margin: 34px 0 0 0; }

h1 {
  font-size: 32px;
  font-family: "novecento_wide_bookbold";
  line-height: 30px;
  letter-spacing: -2px;
    color: #222;
  }

h2 {
  font-size: 32px;
  font-family: "novecento_wide_bookbold";
  line-height: 30px;
  letter-spacing: -2px;
  color: #222;
  }

h2.page-header {
  font-size: 36px;
  line-height: 30px;
  margin: 30px 0;
  padding: 0;
  border: none;
}
  
  h2.blog {
    padding-bottom: 78px; }
  h2.blogTitle, h2.blogTitle a h3 {
    width: 446px !important;
    margin: -18px 0 0 0 !important; }
  h2.blogTitle a {
    color: black; }
    h2.blogTitle a:hover {
      color: #00b3e6; }
  h2.superH, h2.superH a h3 {
    font-size: 36px !important;
    font-family: "novecento_widebook" !important;
    line-height: 34px !important;
    letter-spacing: 0px !important;
    padding-bottom: 2px !important; }

h3 {
  font-size: 24px;
  font-family: "novecento_widebook";
  line-height: 20px;
  letter-spacing: 0px;
  margin-bottom: 25px;
  color: #00b3e6;
  }

  h3.how {
    margin-top: 4px; }

h4.faq {
  font-size: 32px;
  font-family: "novecento_widebook";
  line-height: 20px;
  letter-spacing: 0px;
  margin: 60px 0 10px 0;
  color: #00b3e6; }

h6 {
  font-size: 16px;
  font-family: "novecento_wide_bookbold";
  line-height: 16px;
  letter-spacing: -1px; }
  h6.follow {
    display: inline-block;
    margin: 42px 0 20px 0; }

a {
  -webkit-transition: all 0.1s ease-in-out 0s;
  -moz-transition: all 0.1s ease-in-out 0s;
  -o-transition: all 0.1s ease-in-out 0s;
  -ms-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
  text-decoration: none; }
  a.mailto {
    font: 16px "sanchez_regularregular";
    border-bottom: 1px solid black;
    text-transform: none; }
    a.mailto:hover {
      color: #666666;
      border-bottom: 1px solid #666666; }
  a.home {
    color: #00b3e6; }
    a.home:hover {
      color: gray; }

p {
  margin-top: 0.8em;
  margin-bottom: 0.8em; }
  p.intro {
    width: 540px; }
    p.intro a {
      color: #00b3e6; }
      p.intro a:hover {
        color: gray; }
  p.intrpo {
    padding-bottom: 12px; }
  p.question {
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    color: black;
    font-size: 20px; }
  p.answer {
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
    color: gray;
    font-size: 16px;
    font-family: "sanchez_regular_italic";
    margin-top: -10px;
    overflow: hidden;
    max-height: 0px;
    opacity: 0; }
    p.answer a {
      color: #00b3e6; }
      p.answer a:hover {
        color: black; }

span.contact {
  display: inline-block;
  margin: 84px 0 35px 0;
  font: 24px "novecento_widebook";
  text-transform: uppercase;
  color: #00b3e6; }
span.contactSec {
  color: #999999; }

/* @media print,
 * (-o-min-device-pixel-ratio: 5/4),
 * (-webkit-min-device-pixel-ratio: 1.25),
 * (min-resolution: 120dpi)
 *     Style adjustments for high resolution devices */

/* END MEDIA */


html {
  width: 100%;
  height: 100%;
  background: white; }

html,
button,
input,
select,
textarea {
  color: #222222; }

html, body {
  height: 100%;
  width: 100%; }

body, p {
  font-size: 1em;
  line-height: 1.4;
  font-family: "sanchez_regularregular"; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical;
  width: 99%;
  padding: 8px 10px; }

.chromeframe {
  margin: 0.2em 0;
  background: #cccccc;
  color: black;
  padding: 0.2em 0; }

html, body {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  background: white; }

.mobile {
  display: none; }

.center {
  position: relative;
  margin: auto;
  padding: 0 20px 0 20px;
  max-width: 984px;
}

.pageWrap {
  min-height: 100%;
  margin-bottom: -160px; }
  .pageWrap:after {
    content: "";
    display: block;
    height: 160px; }
  .pageWrap header {
    position: relative;
    width: inherit;
    height: 180px;
    background: #00b3e6; }
    .pageWrap header nav {
      position: absolute;
      width: 100%;
      height: 50px;
      background: #00b3e6;
      bottom: 0;
      z-index: 99; }
      .pageWrap header nav.fixMe {
        position: fixed;
        top: 0; }
        .pageWrap header nav.fixMe ul li:hover a {
          color: black; }
        .pageWrap header nav.fixMe ul li a:hover {
          color: #00b3e6; }
        .pageWrap header nav.fixMe ul li.current-menu-item a {
          border: none;
          color: #00b3e6; }
        .pageWrap header nav.fixMe ul li.current-menu-item ul li a {
          display: none; }
      .pageWrap header nav ul li {
        float: left; }
        .pageWrap header nav ul li:hover a {
          color: white; }
        .pageWrap header nav ul li a {
          -webkit-transition: all 0.1s ease-in-out 0s;
          -moz-transition: all 0.1s ease-in-out 0s;
          -o-transition: all 0.1s ease-in-out 0s;
          -ms-transition: all 0.1s ease-in-out 0s;
          transition: all 0.1s ease-in-out 0s;
          display: inline-block;
          font: 16px "novecento_widenormal";
          color: black;
          text-transform: uppercase;
          padding: 16px 0 14px 0;
          margin: 0 38px 0 0; }
        .pageWrap header nav ul li ul {
          display: none;
          clear: both;
          position: absolute;
          top: 48px;
          padding-top: 25px; }
          .pageWrap header nav ul li ul li {
            float: none; }
        .pageWrap header nav ul li.current-menu-item a {
          border-bottom: 20px solid #00b3e6;
          color: white;
          padding: 16px 0 5px 0; }
        .pageWrap header nav ul li.current-menu-item ul {
          display: block; }
          .pageWrap header nav ul li.current-menu-item ul li a {
            border: none !important;
            color: #00b3e6 !important;
            font: 14px "sanchez_regularregular";
            text-transform: none;
            margin: 0;
            padding: 0; }
            .pageWrap header nav ul li.current-menu-item ul li a:hover {
              color: black !important; }
  .pageWrap section {
    width: inherit;
    min-height: 200px;
    background: white; }
    .pageWrap section.smallMarg {
      margin-top: 82px; }
    .pageWrap section.bigMarg {
      margin-top: 128px; }

footer {
  position: relative;
  width: 100%;
  height: 160px; }
  footer .priFooter {
    position: absolute;
    top: 20px;
    height: 60px;
    width: 100%;
    overflow: hidden; }
  footer .secFooter {
    width: 100%;
    height: 160px;
    background: #f2f2f2; }
  footer .center {
    height: 100%; }
  footer p {
    color: gray;
    font-size: 9px;
    margin-top: 42px; }
    footer p.copyright {
      position: absolute;
      left: 112px;
      bottom: 25px; }
      footer p.copyright a {
        color: black; }
        footer p.copyright a:hover {
          color: #00b3e6; }

.authFn {
  position: absolute;
  bottom: -50px;
  right: 14px;
  height: 50px;
  width: 198px;
  overflow: hidden; }
  .authFn a {
    display: block;
    text-transform: uppercase;
    background: #ffdd30;
    color: #00b3e6;
    font: 16px "novecento_widenormal";
    padding: 16px 18px 15px 18px;
    float: left; }
    .authFn a:hover {
      background: black;
      color: white; }

.socialHolder {
  position: absolute;
  right: 0px;
  top: 20px; }
  .socialHolder a {
    position: relative; }

.twitter, .facebook, .instagram {
  -webkit-transition: all 0.1s ease-in-out 0s;
  -moz-transition: all 0.1s ease-in-out 0s;
  -o-transition: all 0.1s ease-in-out 0s;
  -ms-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
  display: block;
  margin: 15px 10px 0 0; }

.smallSpacer {
  margin-left: 5px; }

.twitter {
  width: 33px;
  height: 33px;
  background: url(img/twitter_over.svg) no-repeat top left;
  background-size: contain !important;
  margin-top: 17px;
  z-index: 99999; }
  .twitter.svgoff {
    position: absolute;
    top: 0;
    left: 0;
    background: url(img/twitter.svg) no-repeat top left; }
  .twitter:hover {
    opacity: 0; }

.twitterdiv {
  position: relative;
  width: 305px;
  height: 36px;
  padding-right: 22px;
  margin-top: 3px; }

.facebook {
  display: block;
  width: 33px;
  height: 33px;
  background: url(img/facebook_over.svg) no-repeat top left;
  background-size: contain !important;
  z-index: 99999; }
  .facebook.svgoff {
    position: absolute;
    top: 0;
    left: 0;
    background: url(img/facebook.svg) no-repeat top left; }
  .facebook:hover {
    opacity: 0; }

.instagram {
  width: 33px;
  height: 33px;
  background: url(img/instagram_over.svg) no-repeat top left;
  background-size: contain !important;
  z-index: 99999; }
  .instagram.svgoff {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    background: url(img/instagram.svg) no-repeat top left; }
  .instagram:hover {
    opacity: 0; }

.offSetCam {
  margin-left: 390px; }

.howLong {
  font-size: 12px;
  color: #00b3e6;
  margin-top: 2px; }

.insertftb {
  overflow: hidden; }

.insertftb, ul.ftb, ul.ftb li ul, li.ftb {
  width: 305px;
  height: 100px;
  margin: 0;
  padding: 0;
  list-style-type: none; }

li.ftb {
  padding-right: 25px;
  float: left;
  padding-bottom: 25px; }
  li.ftb .tweet {
    color: gray;
    font-size: 12px;
    line-height: 12px; }
    li.ftb .tweet a {
      color: #00b3e6;
      font-size: 12px;
      text-decoration: none; }
      li.ftb .tweet a.username {
        color: black; }
      li.ftb .tweet a:hover {
        color: gray; }

.left {
  float: left; }

.right {
  float: right; }

.spacer {
  position: relative;
  width: 1px; }
  .spacer.seven {
    height: 70px; }
  .spacer.eight {
    height: 80px; }

.bg {
  padding: 80px 0;
  position: relative; }
  .bg.faq {
    padding: 20px 0 80px 0; }
  .bg.bar {
    padding: 0; }
  .bg.blue {
    background: #00b3e6;
    color: #f2f2f2;
    padding-bottom: 60px; }
    .bg.blue.exception {
      padding-bottom: 80px; }
  .bg.grey {
    background: #4d4d4d;
    color: #b3b3b3; }
  .bg.lightgrey {
    background: #f2f2f2;
    color: black; }
  .bg ul {
    display: inline-block;
    list-style-type: none; }
    .bg ul h3 {
      margin: 0; }

ul.mainMembers {
  padding: 0;
  margin: 0 0 -56px 0; }
  ul.mainMembers li {
    padding-bottom: 56px; }
    ul.mainMembers li a.mail {
      display: inline-block;
      color: #00b3e6;
      padding: 20px 0 4px 0; }
      ul.mainMembers li a.mail:hover {
        color: black; }
      ul.mainMembers li a.mail span {
        display: block;
        margin: -28px 0 0 35px; }
        ul.mainMembers li a.mail span.mPic {
          margin: 0;
          display: inline-block;
          width: 24px;
          height: 21px;
          background: url(img/mail.svg) no-repeat top left;
          background-size: contain !important; }
    ul.mainMembers li p {
      width: 536px; }

.advisory {
  width: 536px;
  position: relative;
  float: right;
  text-align: left; }
  .advisory h2.blue {
    padding-bottom: 74px; }
  .advisory ul.members {
    padding: 0;
    margin: 0 0 -18px 0; }
    .advisory ul.members li {
      padding-bottom: 14px; }

.blogContent a.blogFacebook .facebook.svgoff,
.blogContent a.blogTwitter .twitter.svgoff {
  z-index: 0; }

.blogContent {
  width: 100%;
  margin: 4px 0 140px 0; }
  .blogContent p {
    color: #999999;
    padding-bottom: 0.9em; }
  .blogContent span {
    display: block;
    float: left;
    height: 33px;
    width: 33px; }
    .blogContent span.label {
      width: auto;
      height: auto; }
  .blogContent a {
    -webkit-transition: all 0.1s ease-in-out 0s;
    -moz-transition: all 0.1s ease-in-out 0s;
    -o-transition: all 0.1s ease-in-out 0s;
    -ms-transition: all 0.1s ease-in-out 0s;
    transition: all 0.1s ease-in-out 0s;
    color: #00b3e6; }
    .blogContent a:hover {
      color: black; }
    .blogContent a.blogFacebook {
      display: block;
      position: relative;
      margin: -15px 0 0 24px; }
      .blogContent a.blogFacebook .facebook {
        background: url(img/facebook.svg) no-repeat top left;
        opacity: 0; }
        .no-svg .blogContent a.blogFacebook .facebook {
          background: url(img/png/facebook.png) no-repeat top left;
          opacity: 0; }
        .blogContent a.blogFacebook .facebook.svgoff {
          background: url(img/facebook_over.svg) no-repeat top left;
          opacity: 1; }
          .no-svg .blogContent a.blogFacebook .facebook.svgoff {
            background: url(img/png/facebook_over.png) no-repeat top left;
            opacity: 1; }
      .blogContent a.blogFacebook:hover .facebook {
        opacity: 1; }
        .blogContent a.blogFacebook:hover .facebook.svgoff {
          opacity: 0; }
    .blogContent a.blogTwitter {
      display: block;
      position: relative;
      margin: -15px 0 0 48px; }
      .blogContent a.blogTwitter .twitter {
        background: url(img/twitter.svg) no-repeat top left;
        opacity: 0; }
        .no-svg .blogContent a.blogTwitter .twitter {
          background: url(img/png/twitter.png) no-repeat top left;
          opacity: 0; }
        .blogContent a.blogTwitter .twitter.svgoff {
          background: url(img/twitter_over.svg) no-repeat top left;
          opacity: 1; }
          .no-svg .blogContent a.blogTwitter .twitter.svgoff {
            background: url(img/png/twitter_over.png) no-repeat top left;
            opacity: 1; }
      .blogContent a.blogTwitter:hover .twitter {
        opacity: 1; }
        .blogContent a.blogTwitter:hover .twitter.svgoff {
          opacity: 0; }
  .blogContent img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto;
    pointer-events: none; }

.blogShare {
  margin: 24px 0 0 0; }
  .blogShare span {
    color: #00b3e6;
    text-transform: uppercase;
    font-family: "novecento_widebook";
    font-size: 24px; }

.blogPage {
  margin: 138px 0 -96px 0; }
  .blogPage a {
    padding: 0 20px 0 0;
    color: black; }
    .blogPage a:visited {
      color: black; }
    .blogPage a:hover {
      color: #00b3e6; }
    .blogPage a.prev.page-numbers, .blogPage a.next.page-numbers {
      color: #999999; }
      .blogPage a.prev.page-numbers:visited, .blogPage a.next.page-numbers:visited {
        color: #999999; }
      .blogPage a.prev.page-numbers:hover, .blogPage a.next.page-numbers:hover {
        color: #00b3e6; }
  .blogPage span {
    padding: 0 20px 0 0;
    color: #00b3e6; }

.divider {
  padding: 0 0 0 16px;
  border-left: 1px solid #00b3e6;
  min-height: 60px; }
  .divider.foot {
    position: absolute;
    border-left: 0px solid transparent;
    border-right: 1px solid gray;
    padding: 0 12px 0 0;
    bottom: 42px;
    right: 0; }
  .divider.white {
    border-left: 1px solid white; }
  .divider.tres {
    padding: 0 20px 0 0; }
    .divider.tres a {
      font: 16px "novecento_widenormal";
      color: #4d4d4d;
      text-transform: uppercase;
      display: inline-block;
      line-height: 15px;
      padding: 16px 43px 15px 10px;
      letter-spacing: 0px; }
      .divider.tres a:hover {
        background: #00b3e6;
        color: #f2f2f2; }
  .divider.quattro {
    min-height: 38px;
    position: absolute;
    top: 100px; }
    .divider.quattro a {
      padding: 12px 20px 11px 10px; }

nav.foot ul {
  padding: 10px 0 6px 0;
  display: inline-block; }
  nav.foot ul li:nth-child(1) a, nav.foot ul li:nth-child(5) a, nav.foot ul li:nth-child(6) a {
    margin-bottom: 10px; }
  nav.foot ul li.current-menu-item a {
    color: #00b3e6; }
  nav.foot ul li a {
    text-align: right;
    float: right;
    font-size: 12px;
    color: gray;
    clear: both; }
    nav.foot ul li a:hover {
      color: #00b3e6; }

.logo {
  -webkit-transition: all 0.1s ease-in-out 0s;
  -moz-transition: all 0.1s ease-in-out 0s;
  -o-transition: all 0.1s ease-in-out 0s;
  -ms-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
  display: inline-block;
  width: 148px;
  height: 46px;
  margin: 50px 0 0 0;
  background: url(img/logo.svg) no-repeat top left;
  background-size: contain; }

.upGlove {
  -webkit-transition: all 0.1s ease-in-out 0s;
  -moz-transition: all 0.1s ease-in-out 0s;
  -o-transition: all 0.1s ease-in-out 0s;
  -ms-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
  display: inline-block;
  width: 64px;
  height: 50px;
  background: url(img/upGlove.svg) no-repeat top left;
  background-size: contain;
  margin-left: 48px;
  margin-bottom: 80px; }
  .upGlove.home {
    margin-top: 22px; }
  .upGlove.faq {
    margin-top: 86px; }
  .upGlove.blog {
    margin-top: 146px; }

ul.what, ul.how {
  padding: 0; }
  ul.what li, ul.how li {
    display: inline-block;
    padding-bottom: 20px; }
    ul.what li .list, ul.how li .list {
      width: 860px; }
  ul.what .sprite, ul.how .sprite {
    display: inline-block;
    width: 84px;
    height: 75px;
    background: url(img/whatsprite.svg) no-repeat top left;
    background-size: 84px 444px;
    padding: 0 38px 0 0; }
    ul.what .sprite.what1, ul.how .sprite.what1 {
      background-position: 0 0; }
    ul.what .sprite.what2, ul.how .sprite.what2 {
      background-position: 0 -76px; }
    ul.what .sprite.what3, ul.how .sprite.what3 {
      background-position: 0 -144px; }
    ul.what .sprite.what4, ul.how .sprite.what4 {
      background-position: 0 -210px; }
    ul.what .sprite.what5, ul.how .sprite.what5 {
      background-position: 0 -290px; }
    ul.what .sprite.what6, ul.how .sprite.what6 {
      background-position: 0 -366px; }

table {
  position: relative;
  margin-top: 22px;
  z-index: 3; }
  table th {
    font-size: 24px;
    font-family: "novecento_widebook";
    line-height: 22px;
    letter-spacing: 0px;
    margin-bottom: 25px;
    color: #f2f2f2;
    text-align: left;
    font-weight: normal;
    vertical-align: top;
    padding-bottom: 18px; }
  table tr td {
    vertical-align: top;
    padding-right: 52px; }
    table tr td h4 {
      color: #00b3e6;
      font: 20px "novecento_widebook";
      vertical-align: top;
      padding: 16px 0 6px 0; }

.hangar {
  display: inline-block;
  position: absolute;
  width: 728px;
  height: 576px;
  bottom: -40px;
  right: -234px;
  background: url(img/hangar.svg) no-repeat top left;
  background-size: contain; }

.mac {
  display: inline-block;
  position: absolute;
  width: 602px;
  height: 485px;
  bottom: 34px;
  left: -256px;
  background: url(img/imac.svg) no-repeat top left;
  background-size: contain; }

.tuxedo {
  display: inline-block;
  position: absolute;
  width: 961px;
  height: 960px;
  top: 0px;
  left: -480px;
  background: url(img/tux.svg) no-repeat top left;
  background-size: contain; }

.saveMe {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden; }
  .saveMe .center {
    height: 100%; }

ul.how {
  padding: 15px 0 0 0; }
  ul.how h3 {
    color: #00b3e6;
    margin-bottom: 10px; }
  ul.how p {
    color: #999999; }
  ul.how li .list {
    width: 808px; }
  ul.how .sprite {
    display: inline-block;
    width: 137px;
    height: 125px;
    background: url(img/howsprite.svg) no-repeat top left;
    background-size: 137px 471px;
    padding: 0 30px 0 0; }
    ul.how .sprite.how1 {
      background-position: 0 0; }
    ul.how .sprite.how2 {
      background-position: 0 -169px; }
    ul.how .sprite.how3 {
      background-position: 0 -334px; }

ul.amenities {
  padding: 14px 0 8px 0;
  margin: 0; }
  ul.amenities li {
    float: left;
    padding-right: 36px; }
    ul.amenities li span.dot {
      display: block;
      height: 22px;
      width: 22px;
      float: left;
      background: url(img/map/dot_grey.png) no-repeat top left;
      padding-right: 8px; }
      ul.amenities li span.dot.active.private {
        background: url(img/map/dot_blue.png) no-repeat top left; }
      ul.amenities li span.dot.active.commercial {
        background: url(img/map/dot_yellow.png) no-repeat top left; }
      ul.amenities li span.dot.active.public-depot {
        background: url(img/map/dot_pink.png) no-repeat top left; }
    ul.amenities li a {
      display: block;
      font-family: "novecento_widebook";
      font-size: 16px;
      float: left;
      color: #00b3e6;
      padding-right: 10px; }
      ul.amenities li a:hover, ul.amenities li a.active, ul.amenities li a.current {
        color: #f2f2f2; }

.amentitiesMap {
  height: 700px;
  width: 100%;
  background: #f2f2f2; }

span.mapfirstline {
  display: block;
  font-size: 20px;
  color: white;
  font-family: "novecento_wide_bookbold";
  padding: 0 20px 0 20px;
  margin: 0;
  line-height: 20px; }

span.mapsecondline {
  font-family: "sanchez_regularregular" !important;
  color: gray !important;
  font-size: 16px !important;
  display: block;
  margin: -22px 0 8px 0;
  padding: 0 20px 0 20px; }

span.mapthirdline {
  font-family: "novecento_widenormal" !important;
  font-size: 16px !important;
  color: #00b3e6 !important;
  display: block;
  line-height: 18px;
  padding: 0 20px 0 20px; }

img.mapImg {
  margin: -14px 0 0 0;
  padding: 0;
  max-width: 300px;
  max-height: 100%; }

.gmnoscreen, .gmnoprint.gm-style-cc, .gm-style-cc {
  display: none; }

ul.faq {
  margin: 0;
  padding: 0 0 0 30px; }
  ul.faq li {
    position: relative; }
    ul.faq li p.question:hover {
      cursor: pointer;
      color: #00b3e6; }
      ul.faq li p.question:hover span.toggleHead:before {
        border-left: 10px solid #00b3e6; }
    ul.faq li.active span.toggleHead:before {
      border-left: 10px solid #00b3e6;
      -webkit-transform: rotate(90deg);
      -webkit-transform-style: preserve-3d;
      -webkit-backface-visibility: hidden;
      -moz-transform: rotate(90deg);
      -moz-transform-style: preserve-3d;
      -moz-backface-visibility: hidden;
      transform: rotate(90deg); }
    ul.faq li.active p.answer {
      max-height: 999px;
      opacity: 1; }

span.toggleHead {
  position: absolute;
  left: -7px;
  top: 4px; }
  span.toggleHead:before {
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    position: absolute;
    height: 0;
    width: 0;
    content: "";
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 10px solid #999999;
    left: -18px;
    top: 4px; }
  span.toggleHead.active:before {
    border-left: 10px solid #00b3e6;
    -webkit-transform: rotate(90deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-transform: rotate(90deg);
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    transform: rotate(90deg); }

.overlaySp {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background: #00b3e6;
  background: rgba(0, 179, 230, 0.9);
  z-index: 999999;
  display: none; }
  .overlaySp .splashSp {
    position: absolute;
    min-height: 602px;
    width: 524px;
    padding: 34px 36px 18px 36px;
    left: 50%;
    top: 50%;
    margin-left: -298px;
    margin-top: -335px;
    background: white; }
    .overlaySp .splashSp a {
      color: #00b3e6; }
      .overlaySp .splashSp a:hover {
        color: black; }
    .overlaySp .splashSp .exitSp {
      -webkit-transition: all 0.1s ease-in-out 0s;
      -moz-transition: all 0.1s ease-in-out 0s;
      -o-transition: all 0.1s ease-in-out 0s;
      -ms-transition: all 0.1s ease-in-out 0s;
      transition: all 0.1s ease-in-out 0s;
      position: absolute;
      top: -41px;
      right: 0px;
      font-family: "novecento_widenormal";
      text-transform: uppercase;
      color: white;
      background: black;
      padding: 10px 14px 9px 14px; }
      .overlaySp .splashSp .exitSp:hover {
        cursor: pointer;
        background: #ffdd30;
        color: black; }
    .overlaySp .splashSp h1 {
      padding-bottom: 2px; }
    .overlaySp .splashSp p {
      color: #999999;
      font-size: 13px; }
      .overlaySp .splashSp p.mandate {
        color: #00b3e6;
        font: 12px "sanchez_regularregular";
        position: absolute;
        bottom: 26px;
        right: 36px; }

.form {
  width: 50%; }

.regFormat {
  width: 800px;
  height: 542px; }
  .regFormat .left, .regFormat .right {
    width: 356px;
    padding-right: 16px; }

.reCapsule {
  position: relative; }

.errorBig {
  float: right;
  margin-top: -2px;
  font-size: 15px;
  color: #808285;
  margin-right: 70px; }

.formResponse {
  font-size: 15px;
  color: #808285; }

form {
  margin-bottom: 20px;
  margin-top: 30px; }
  form .rightAct .reCapsule {
    margin-left: 8px; }
    form .rightAct .reCapsule input {
      width: 92%; }

#contactFrm {
  width: 100%; }

fieldset {
  margin-bottom: 20px; }

input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
  padding: 9px 6px 8px 10px;
  outline: none;
  font-family: "novecento_widebook";
  font-size: 16px;
  color: #00b3e6;
  margin: 0;
  max-width: 100%;
  /* display: block; */
  margin-bottom: 16px;
  background: white; 
}

button[type="submit"] {
  background-color: #ffdd30;
  font-family: "novecento_widenormal";
  color: black;
  text-transform: uppercase;
  font-size: 15px;
  border: none;
  font-weight: 200;
  padding: 15px 20px 14px 20px; }
  button[type="submit"]:hover {
    background: black;
    color: white;
    font-weight: 200 !important; }

.rightAct {
  font-family: "novecento_widenormal";
  font-size: 16px;
  text-transform: uppercase;
  color: #00b3e6;
  margin-bottom: 4px; }

.conc {
  margin-left: 8px; }

select {
  border: 2px solid #00b3e6;
  height: auto;
  width: 92%;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
  border: 2px solid #00b3e6;
  color: #00b3e6; }

input {
  width: 88%;
  color: #00b3e6;
  font-family: "novecento_widenormal";
  border: 2px solid #00b3e6; }
  input.checkitt {
    margin-left: 8px; }

textarea {
  min-height: 112px;
  width: 88% !important;
  border: 2px solid #00b3e6;
  color: #00b3e6; }

label,
legend {
  display: block;
  font-family: "novecento_widenormal";
  font-size: 12px;
  text-transform: uppercase;
  color: gray;
  margin-bottom: 4px; }

label.error {
  position: absolute;
  right: 33px;
  top: 11px;
  font-family: "novecento_widenormal";
  font-size: 13px;
  color: #00b3e6;
  width: 55px;
  height: 18px;
  text-transform: none;
  display: none; }


input[type="checkbox"] {
  display: inline; }

label span,
legend span {
  font-weight: normal;
  font-size: 13px;
  color: gray; }

.no-svg ul.mainMembers li a.mail span.mPic {
  background: url(img/mail.png) no-repeat top left; }
.no-svg .tuxedo {
  background: url(img/tux.png) no-repeat top left; }
.no-svg .mac {
  background: url(img/imac.png) no-repeat top left; }
.no-svg ul.how .sprite {
  background: url(img/howsprite.png) no-repeat top left; }
  .no-svg ul.how .sprite.how1 {
    background-position: 0 0; }
  .no-svg ul.how .sprite.how2 {
    background-position: 0 -169px; }
  .no-svg ul.how .sprite.how3 {
    background-position: 0 -334px; }
.no-svg .hangar {
  background: url(img/hangar.png) no-repeat top left; }
.no-svg ul.what .sprite {
  background: url(img/whatsprite.png) no-repeat top left; }
  .no-svg ul.what .sprite.what1 {
    background-position: 0 0; }
  .no-svg ul.what .sprite.what2 {
    background-position: 0 -76px; }
  .no-svg ul.what .sprite.what3 {
    background-position: 0 -144px; }
  .no-svg ul.what .sprite.what4 {
    background-position: 0 -210px; }
  .no-svg ul.what .sprite.what5 {
    background-position: 0 -290px; }
  .no-svg ul.what .sprite.what6 {
    background-position: 0 -366px; }
.no-svg .svgoff {
  display: none; }
.no-svg .twitter {
  background: url(img/twitter.png) no-repeat top left; }
  .no-svg .twitter:hover {
    opacity: 1;
    background: url(img/twitter_over.png) no-repeat top left; }
.no-svg .facebook {
  background: url(img/facebook.png) no-repeat top left; }
  .no-svg .facebook:hover {
    opacity: 1;
    background: url(img/facebook_over.png) no-repeat top left; }
.no-svg .instagram {
  background: url(img/instagram.png) no-repeat top left; }
  .no-svg .instagram:hover {
    opacity: 1;
    background: url(img/instagram_over.png) no-repeat top left; }
.no-svg .logo {
  width: 148px;
  height: 46px;
  background: url(img/logo.png) no-repeat top left; }
.no-svg .upGlove {
  width: 64px;
  height: 50px;
  background: url(img/upGlove.png) no-repeat top left; }

table#pricingtable tr td a {
  color: #00b3e6; }
  table#pricingtable tr td a:hover {
    color: #b3b3b3; }

a.ffsoc {
  float: left;
  display: block; }

.introHeadContent {
  position: relative;
  display: inline-block;
  width: 100%;
  min-height: 336px;
  margin-top: 176px; }
  .introHeadContent h2, .introHeadContent h3, .introHeadContent p {
    width: 300px; }
  .introHeadContent h2 {
    letter-spacing: -2px; }
  .introHeadContent p {
    margin-bottom: 0.4em;
    line-height: 21px; }
  .introHeadContent .yInstruct {
    position: absolute;
    width: 170px;
    height: 50px;
    bottom: 96px;
    right: 194px; }
    .introHeadContent .yInstruct p {
      color: #ffdd30; }

footer.intro {
  -webkit-transition: all 0.6s ease-in-out 0s;
  -moz-transition: all 0.6s ease-in-out 0s;
  -o-transition: all 0.6s ease-in-out 0s;
  -ms-transition: all 0.6s ease-in-out 0s;
  transition: all 0.6s ease-in-out 0s;
  position: fixed;
  overflow: hidden;
  bottom: 0px;
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  z-index: 999; }
  footer.intro.active {
    -webkit-transform: translate(0px, 330px);
    -moz-transform: translate(0px, 330px);
    -ms-transform: translate(0px, 330px);
    -o-transform: translate(0px, 330px);
    transform: translate(0px, 330px); }

.pageWrap.intro {
  background: #00b3e6;
  overflow: hidden;
  width: 100%; }
  .pageWrap.intro header {
    z-index: 99; }
    .pageWrap.intro header .authFn a.returnToTop {
      display: none;
      background: white; }
      .pageWrap.intro header .authFn a.returnToTop:hover {
        background: black; }
    .pageWrap.intro header nav {
      background: transparent; }
      .pageWrap.intro header nav ul li a {
        color: black; }
        .pageWrap.intro header nav ul li a:hover {
          color: white; }
  .pageWrap.intro section {
    position: relative;
    width: 1000px;
    margin: 0 auto;
    min-height: 2000px; }
    .pageWrap.intro section.panelOne {
      background: #00b3e6; }
    .pageWrap.intro section.panelTwo {
      background: transparent;
      background: none;
      z-index: 3; }
    .pageWrap.intro section .panelBack {
      position: absolute;
      top: 613px;
      width: 2134px;
      height: 2960px;
      background: #ffdd30;
      -webkit-box-shadow: inset 0px 42px 110px 0px rgba(0, 0, 0, 0.47);
      -moz-box-shadow: inset 0px 42px 110px 0px rgba(0, 0, 0, 0.47);
      box-shadow: inset 0px 42px 110px 0px rgba(0, 0, 0, 0.47); }

.panelTwobg {
  background: white;
  position: absolute;
  width: 2134px;
  height: 2960px;
  top: 500px;
  left: 50%;
  margin-left: -1067px; }

.scrollPosi {
  position: fixed;
  padding: 10px 20px;
  top: 20px;
  right: 20px;
  color: white;
  background: black;
  z-index: 9999; }

.closedBag {
  height: 420px;
  width: 492px;
  background: url(img/rube/png/closedBag.png) no-repeat top left;
  background-position: 0px 0px;
  background-size: 492px 1206px !important;
  overflow: hidden;
  top: -256px;
  margin: auto;
  padding-left: 5px;
  z-index: 1; }

.introArrow {
  position: absolute;
  height: 66px;
  width: 52px;
  position: absolute;
  top: 390px;
  left: 50%;
  margin-left: -28px;
  background: url(img/introArrow.svg) no-repeat top left;
  background-position: 0px 0px;
  background-size: contain !important; }

.lockers {
  position: relative;
  height: 580px;
  width: 1347px;
  background: url(img/rube/png/lockers.png) no-repeat top left;
  background-position: 0px 0px;
  background-size: contain !important;
  z-index: 0; }
  .lockers .goinUnderground {
    position: absolute;
    width: 300%;
    height: 33px;
    background: #d7d7d7;
    left: 0;
    bottom: -33px; }
  .lockers .locker {
    position: absolute;
    width: 218px;
    height: 580px;
    right: 172px; }
    .lockers .locker.open {
      background: url(img/rube/png/openLocker_back.png) no-repeat top left;
      background-position: 0px 0px;
      background-size: contain !important; }
    .lockers .locker.mid {
      background: url(img/rube/png/midLocker_back.png) no-repeat top left;
      background-position: 0px 0px;
      background-size: contain !important;
      display: none; }

.lockerDoors {
  position: relative;
  width: 1347px;
  height: 530px;
  z-index: 3; }
  .lockerDoors .locker {
    position: absolute;
    width: 218px;
    height: 580px;
    right: 172px; }
    .lockerDoors .locker.open {
      background: url(img/rube/png/openLocker_fore.png) no-repeat top left;
      background-position: 0px 0px;
      background-size: contain !important; }
    .lockerDoors .locker.mid {
      background: url(img/rube/png/midLocker_fore.png) no-repeat top left;
      background-position: 0px 0px;
      background-size: contain !important;
      display: none; }

.cloud {
  position: absolute;
  left: 50%;
  background-position: 0px 0px;
  background-size: contain !important; }
  .cloud.cloudOne {
    z-index: 0;
    width: 2266px;
    height: 434px;
    background: url(img/rube/svg/cloudsOne.svg) no-repeat top left; }
    .no-svg .cloud.cloudOne {
      background: url(img/rube/png/cloudsOne.png) no-repeat top left; }
  .cloud.cloudTwo {
    z-index: 1;
    width: 2272px;
    height: 511px;
    background: url(img/rube/svg/cloudsTwo.svg) no-repeat top left; }
    .no-svg .cloud.cloudTwo {
      background: url(img/rube/png/cloudsTwo.png) no-repeat top left; }
  .cloud.cloudThree {
    z-index: 2;
    width: 2270px;
    height: 595px;
    background: url(img/rube/svg/cloudsThree.svg) no-repeat top left; }
    .no-svg .cloud.cloudThree {
      background: url(img/rube/png/cloudsThree.png) no-repeat top left; }
  .cloud.cloudFour {
    z-index: 3;
    width: 2258px;
    height: 630px;
    background: url(img/rube/svg/cloudsFour.svg) no-repeat top left; }
    .no-svg .cloud.cloudFour {
      background: url(img/rube/png/cloudsFour.png) no-repeat top left; }
  .cloud.cloudFive {
    z-index: 4;
    width: 2266px;
    height: 578px;
    background: url(img/rube/svg/cloudsFive.svg) no-repeat top left; }
    .no-svg .cloud.cloudFive {
      background: url(img/rube/png/cloudsFive.png) no-repeat top left; }

.traps {
  position: absolute;
  height: 323px;
  width: 703px;
  left: 50%;
  margin-left: -378px;
  z-index: 2; }
  .traps .trap {
    position: absolute;
    height: 323px;
    width: 703px;
    top: 0;
    left: 0;
    background-position: 0px 0px;
    background-size: contain !important; }
    .traps .trap.shut {
      background: url(img/rube/png/trapdoorClosed.png) no-repeat top left; }
    .traps .trap.mid {
      background: url(img/rube/png/trapdoorMid.png) no-repeat top left;
      display: none; }
    .traps .trap.open {
      background: url(img/rube/png/trapdoorOpen.png) no-repeat top left;
      display: none; }

.spiral {
  position: absolute;
  width: 207px;
  height: 285px;
  top: -204px;
  left: 33px;
  background-position: 0px 0px;
  background-size: contain !important;
  background: url(img/rube/png/spiral.png) no-repeat top left; }
  .spiral .bells {
    position: absolute;
    width: 152px;
    height: 121px;
    top: 220px;
    left: 76px; }
    .spiral .bells .bell {
      position: absolute;
      top: 0;
      left: 0;
      width: 152px;
      height: 121px;
      background-position: 0px 0px;
      background-size: contain !important; }
      .spiral .bells .bell.left {
        background: url(img/rube/png/bell_left.png) no-repeat top left;
        display: none; }
      .spiral .bells .bell.right {
        float: none;
        background: url(img/rube/png/bell_right.png) no-repeat top left;
        display: none; }
      .spiral .bells .bell.mid {
        background: url(img/rube/png/bell_mid.png) no-repeat top left; }

.birdPeg {
  position: absolute;
  width: 244px;
  height: 209px;
  top: 252px;
  left: 40px;
  background-position: 0px 0px;
  background-size: contain !important;
  background: url(img/rube/png/perch.png) no-repeat top left; }

.closedBagTwo {
  position: absolute;
  height: 420px;
  width: 492px;
  left: 827px;
  background: url(img/rube/png/closedBag.png) no-repeat top left;
  background-position: 0px 0px;
  background-size: 492px 1206px !important;
  overflow: hidden;
  top: -389px;
  margin: auto;
  padding-left: 5px;
  z-index: 4;
  display: none; }

.birdPerch {
  position: absolute;
  width: 438px;
  height: 312px;
  top: 95px;
  left: -38px;
  background-position: 0px 0px;
  background-size: contain !important; }
  .birdPerch.sleep {
    background: url(img/rube/png/bird_sleep.png) no-repeat top left; }
  .birdPerch.wake {
    display: none;
    background: url(img/rube/png/bird_wake.png) no-repeat top left; }
  .birdPerch.launch {
    display: none;
    background: url(img/rube/png/bird_launch.png) no-repeat top left; }

.birdRight {
  position: absolute;
  width: 484px;
  height: 285px;
  top: 124px;
  left: 110px;
  background-position: 0px 0px;
  background-size: contain !important;
  display: none; }
  .birdRight.down {
    background: url(img/rube/png/birdRight_down.png) no-repeat top left; }
  .birdRight.up {
    background: url(img/rube/png/birdRight_up.png) no-repeat top left; }

.birdLeft {
  position: absolute;
  width: 532px;
  height: 332px;
  left: 150px;
  top: 390px;
  background-position: 0px 0px;
  background-size: contain !important;
  display: none; }
  .birdLeft.down {
    background: url(img/rube/png/birdLeft_down.png) no-repeat top left; }
  .birdLeft.up {
    background: url(img/rube/png/birdLeft_up.png) no-repeat top left; }
  .birdLeft.downNone {
    background: url(img/rube/png/birdLeftNone_down.png) no-repeat top left; }
  .birdLeft.upNone {
    background: url(img/rube/png/birdLeftNone_up.png) no-repeat top left; }

.note {
  position: absolute;
  width: 63px;
  height: 109px;
  left: 110px;
  top: 988px;
  background-position: 0px 0px;
  background-size: contain !important;
  background: url(img/rube/png/note.png) no-repeat top left;
  display: none; }

.hillHolder {
  position: absolute;
  width: 100%;
  height: 1036px;
  top: 1490px;
  z-index: 1; }

.hill {
  position: absolute;
  width: 2134px;
  left: 50%;
  bottom: 0;
  margin-left: -1067px;
  background-position: 0px 0px;
  background-size: contain !important; }
  .hill.hillOne {
    height: 1036px;
    background: url(img/rube/svg/hillsOne.svg) no-repeat top left; }
    .no-svg .hill.hillOne {
      background: url(img/rube/png/hillsOne.png) no-repeat top left; }
  .hill.hillTwo {
    height: 961px;
    background: url(img/rube/svg/hillsTwo.svg) no-repeat top left; }
    .no-svg .hill.hillTwo {
      background: url(img/rube/png/hillsTwo.png) no-repeat top left; }
  .hill.hillThree {
    height: 742px;
    background: url(img/rube/svg/hillsThree.svg) no-repeat top left; }
    .no-svg .hill.hillThree {
      background: url(img/rube/png/hillsThree.png) no-repeat top left; }
  .hill.hillFour {
    height: 549px;
    background: url(img/rube/svg/hillsFour.svg) no-repeat top left; }
    .no-svg .hill.hillFour {
      background: url(img/rube/png/hillsFour.png) no-repeat top left; }
  .hill.hillFive {
    height: 285px;
    background: url(img/rube/svg/hillsFive.svg) no-repeat top left; }
    .no-svg .hill.hillFive {
      background: url(img/rube/png/hillsFive.png) no-repeat top left; }

@media only screen and (max-width: 1000px) {

.smallSpacer {
    display: none;
}

.social .divider + .divider {
    border-left: 0;
    padding-left: 0;
}

}

@media only screen and (max-width: 800px) {

  .authFn {
    position: fixed;
    top: 0;
    bottom: auto;
    right: 0;
    width: auto;
    height: auto;
  }

}


@media only screen and (max-width: 660px) {

  .desktop {
    display: none !important; }

  .mobile {
    display: block !important; }


  footer {
    display: none; }

  .center {
    width: 100%;
    padding: 0; }

  .logo {
    width: 216px;
    height: 69px;
    margin-top: 54px;
    background: url(img/mobileLogo.svg);
    margin-left: 60px;
  }

  .pageWrap header nav {
    display: none;
  }

}

@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; }
}

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }


/* ADDED */

@media (max-width: 979px) {
  body {
    padding-right: 0;
    padding-left: 0;
  }

  .page {
    padding-right: 20px;
    padding-left: 20px;
  }
}

h3 {
    margin-top: 25px;
    margin-bottom: 15px;
}

.alert {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: none;
    /*font-family: "novecento_widebook";*/
} 

.alert-info {
    background: #F2F2F2;
    color: #4d4d4d;
}

.alert-success {
    color: #FFDD30;
    background-color: #00b3e6;
    font-weight: bold;
    text-shadow: none;
}

.btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: none;
    font-family: "novecento_widenormal", sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    color: #000;
}

a.btn:visited {
    color: #000;
}

.btn .icon-white,
.btn .icon {
    margin: 2px 10px 0 0;
    background-image: url("/bootstrap/img/glyphicons-halflings.png");
}

.btn-danger,
.btn-success,
.btn-primary {
    color: #000;
    background: #ffdd30;
}

a.btn-danger:hover,
.btn-danger:hover,
a.btn-success:hover,
.btn-success:hover,
a.btn-primary:hover,
.btn-primary:hover {
    color: #fff;
    background: #000;
}

.btn-danger:hover .icon-white,
.btn-danger:hover .icon,
.btn-success:hover .icon-white,
.btn-success:hover .icon,
.btn-primary:hover .icon-white,
.btn-primary:hover .icon {
    background-image: url("/bootstrap/img/glyphicons-halflings-white.png");
}


.btn-info {
    color: #000;
    background: #00b3e6;
}

table th {
    color: #000;
    font-size: 12px;
}

.breadcrumb .divider {
    border: none;
}

#login_with_facebook {
    background: url(img/facebook-small.png) 5px 0 no-repeat !important;
    font-family: "novecento_widenormal", sans-serif;
    color: #000;
    font-size: 16px !important;
    padding: 2px 0 2px 20px !important;
}

#register-phone {
    float: none !important;
}


/**
 * Removed:
 *
 * html, body { min-width: 1024px}
 * label, legend { float: left; }
 * 
 * */

.pay-option-sub {
    font-size: 14px;
}

.pay-option-sub h4 {
    font-family: "novecento_widebook";
    color: #222;
    font-size: 12px;
    font-weight: bold;
}

.pay-option-sub p {
    margin-top: 0;
}

.kiosk-access-form form {
    margin: 0;
    position: relative;
}


.kiosk-access-form .control-group {
    margin-bottom: 0;
}

.kiosk-access-form select {
    display: inline-block;
}

.kiosk-access-form p {
    margin-top: 0;
    margin-bottom: 5px;
}

.kiosk-access {
    margin-bottom: 2em;
}

.kiosk-access .cc-mask {
    margin-top: 9px;
    font-size: 16px;
}

.kiosk-access .btn {
    font-size: 14px;
}

form .up-down {
    width: 80px;
}

.promo-code-text {
    font-size: 36px;
}

ul.breadcrumb {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}
