

@font-face{
    font-family: AzoSans-Bold;
    src: url(fonts/AzoSans-Bold.otf),
    url(fonts/AzoSans-Bold.woff),
    url(fonts/AzoSans-Bold.svg);
}


@font-face{
    font-family: AzoSans-Regular;
    src: url(fonts/AzoSans-Regular.otf),
    url(fonts/AzoSans-Regular.woff),
    url(fonts/AzoSans-Regular.svg);
}

@font-face{
    font-family: AzoSans-Light;
    src: url(fonts/AzoSans-Light.otf),
    url(fonts/AzoSans-Light.woff),
    url(fonts/AzoSans-Light.svg);
}
