body{
  min-width: 300px;
}
.contenedor6{
  display: none;
}
#video3{
  display: none;
}
.section7{
  display: none;
}
.corrector{
  width: 100px;
  height: 100px;
  background: #fff;

}
.pares, .pares1{
  display: none;
}
.navbar:not("bootstrap2x > *") {
 position:fixed;
 z-index: 1000;
 top: 0;
 width: 100%
}
.logo
{
    margin-top: -3px;
    padding-left: 30px;
    height: 43px;
}
.navbar-toggle{
  margin-top: 15px;
}
.navbar-header{
  height: 68px;
}
.menu{
  z-index: 50;
}

.menu
{
    margin-top: 10px;
    margin-right: 30px;
    font-family: AzoSans-Regular;
}
.navbar{
  background: #fff;
  height: 70px;
}
.texto1 p:nth-child(3)
{
    color: #808080;
    font-family: AzoSans-Regular;
    font-size: 25px;
    margin-top: -20px;
}

.texto1 p:nth-child(1)
{
    font-family: AzoSans-Regular;
    font-size: 35px;
    margin-bottom: -31px;
    color: #808080;
    margin-top: 250px;
}

.texto1 h2
{
    font-family: AzoSans-Regular;
    font-weight: 600;
    font-size: 55px;
    color: #6bc0f2;
}

.section1
{
    height: 570px;
    margin-top: -17px;
}

.texto1 img
{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
}

.texto2 h2
{
    font-family: AzoSans-Regular;
    font-weight: 600;
    color: #6bc0f2;
    font-size: 50px;
    text-align: center;
    margin-top: 210px;
}

.texto2 p
{
    font-family: AzoSans-Regular;
    color: #808080;
    font-size: 25px;
    text-align: center;
    margin-top: -19px;
}

.section2
{
    height: 600px;
}

.section3
{
    background: #6bc0f2;
    height: 300px;
}

.imagen2{
  width: 90%;
  margin: auto;
}
.imagen2 img{
  display: block;
  margin: 70px auto;
  text-align: center;
  width: 100%;
  max-width: 900px;
  margin-top: 150px;
}
.section3 iframe
{
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: -180px auto 130px;
}

.columna
{
    background: #fff;
    width: 240px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 36px;
}

.columna h2
{
    color: #303030;
    font-family: AzoSans-Regular;
    font-size: 18px;
    margin-top: 90px;
    margin-bottom: 15px;
}

.columna p
{
    color: #808080;
    font-family: AzoSans-Regular;
    font-size: 15px;
}

.contenedor
{
}

.hr
{
    width: 170px;
    background: #B3B3B3;
    height: 1px;
    text-align: center;
    margin: 30px auto;
}

.columna img
{
    margin-top: 90px;
    margin-bottom: 90px;
    width: 150;
}

.columnas
{
  display: none;
}

.hr2
{
    height: 55px;
    width: 2px;
    color: #666666;
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
}

.market
{
    text-align: center;
    margin: 60px auto 190px;
}

.texto3 p
{
    font-family: AzoSans-Regular;
    color: #808080;
    font-size: 25px;
    text-align: center;
    margin-bottom: -25px;
}

.texto3 h2
{
    color: #6bc0f2;
    font-family: AzoSans-Regular;
    font-weight: 600;
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
}


.contenedor5{
  text-align: center;
  margin: 0 auto;
}
.cuadrado1, .cuadrado2, .cuadrado3, .cuadrado4, .cuadrado5, .cuadrado6{
  width: 255px;
  height: 220px;
  margin-top: -200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}
.cuadrado1{
  background-image: url(assets/images/prices1.png);
}
.cuadrado2{
  background-image: url(assets/images/prices2.png);

}
.cuadrado3{
  background-image: url(assets/images/prices3.png);
}
.cuadrado4{
  background-image: url(assets/images/prices4.png);
}
.cuadrado5{
  background-image: url(assets/images/prices5.png);
}
.cuadrado6{
  background-image: url(assets/images/prices6.png);
}
.cuadrado1:hover, .cuadrado2:hover, .cuadrado3:hover, .cuadrado4:hover, .cuadrado5:hover, .cuadrado6:hover{
  background: #6bc0f2;
  -webkit-transition: background-color 0.8s ease-out;
  -moz-transition: background-color 0.8s ease-out;
  -o-transition: background-color 0.8s ease-out;
  transition: background-color 0.8s ease-out;
}
.separar{
  margin: 0 40px 0 40px;
}
.alineaditos{
  display: inline-block;
  margin-bottom: 50px;
}


.section4
{
    height: 1000px;
}
.texto4{
  z-index: -10;
}
.texto4 p
{
    font-family: AzoSans-Regular;
    color: #808080;

    font-size: 25px;
    text-align: center;
    margin-top: 650px;
}

.texto4 h2
{
    font-family: AzoSans-Regular;
    font-weight: 600;
    color: #6bc0f2;
    font-size: 50px;
    text-align: center;
    margin-top: -15px;
    margin-bottom: 60px;
}

.faq1 h3
{
    font-family: AzoSans-Bold;
    color: #808080;
    font-size: 15px;
}

.faq1 p
{
    font-family: AzoSans-Regular;
    color: #808080;
    font-size: 15px;
}

.faq1
{
    width: 450px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    float: right;
    margin-right: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 40px;
    border-radius: 10px;
}

.faq2 h3
{
    font-family: AzoSans-Bold;
    color: #808080;
    font-size: 15px;
}

.faq2 p
{
    font-family: AzoSans-Regular;
    color: #808080;
    font-size: 15px;
}

.faq2
{
    width: 450px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    float: left;
    margin-left: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 40px;
    border-radius: 10px;
}

.contenedor2
{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.texto5 p
{
    font-family: AzoSans-Regular;
    color: #808080;
    font-size: 16px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 130px;
}


.texto6 h2
{
    font-family: AzoSans-REgular;
    font-weight: 600;
    color: #6bc0f2;
    font-size: 50px;
    margin-top: 50px;
}

.texto6 p
{
    font-family: AzoSans-Regular;
    color: #808080;
    font-size: 25px;
    margin-top: -18px;
    margin-bottom: 80px;
}
.locker{
  margin-bottom: 30px;
}
.locker img
{

    display: block;
    margin-top: 150px;
    float: left;
    margin-left: 250px;
    width: 350px;
}

.form
{
    font-family: AzoSans-Regular;
    color: #6bc0f2;
    font-size: 18px;
    width: 130px;
}

.send
{
    text-align: center;
}

.formulario
{
    float: right;
    margin-right: 100px;
}

.boton
{
    font-size: 14px;
    font-family: AzoSans-Regular;
    color: white;
    background: #6bc0f2;
    border: solid 1px #6bc0f2;
    border-radius: 18px;
    width: 150px;
    height: 40px;
    margin-top: 50px;
    margin-bottom: 100px;
    letter-spacing: 3px;
}

.hr3
{
    width: 15px;
    height: 20px;
}

.footer, .footer2
{
    height: 250px;
    background: #6bc0f2;
    text-align: center;
}

.footer p
{
    font-size: 14px;
    font-family: AzoSans-Regular;
    color: white;
    margin-top: 180px;
}

.footer2 p
{
    font-size: 14px;
    font-family: AzoSans-Regular;
    color: white;
}

.footer2 p:nth-child(1)
{
    margin-top: 130px;
    font-size: 14px;
    margin-bottom: -3px;
}
.footer2 p:nth-child(2)
{
      font-size: 14px;
}
input::placeholder{
  color: #cccccc;
}
textarea::placeholder{
  color: #cccccc;
}
.textbox{
  border: 1px solid #fff;
  border-bottom: 1px solid #ccc;
}
.formulario{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0 70px;
  border-radius: 20px;
  position: absolute;
  bottom: -690px;
  left: 150px;
  z-index: 20;
  background: #fff;
}
.titulo_form{
  text-align: center;
  margin: 0 auto;

}
#boton{
    opacity: 1;
    width: 100%;
}
#boton2{
    opacity: 0;
    width: 100%;
}
.padre{
  width: 640px;
  position: relative;
  margin: 0 auto;
  margin-top: -220px;
  margin-bottom: 80px;

}
.hijo{
  position: absolute;
  width: 50px;
  bottom: 165px;
  right: 295px;
}
.video{

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.footer a{
  text-decoration: none;
  color: #fff;
}
#video {
overflow:hidden;
}
.mivideo{
position: absolute;
z-index: 1;
/*-webkit-filter: opacity(0.5); /* 0.5 = 50% */
/*filter: opacity(0.5);*/
width: 100%;
max-height: 100%;
margin-top: -3px;

}
.mivideo img{
  width: 100%;
}
.texto1{
  z-index: 2;
}
/*Inicio del modal del PopUp*/
body{
  margin: 0;
  padding: 0;
}
html,body{

margin:0px;

height:100%;

}
.modal{
  display: none;
}

.modal:target{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(250, 250, 250, .8);

}
.modal a{
  text-decoration: none;
  color: #808080;
  font-size: 40px;
  font-family: monospace;
  margin: 0 10px;

}
.caja_modal a{
  color: #fff;
  top: 20px;
  right: 10px;
  font-size: 25px;
  float: left;
  position: absolute;

}
.cerrar{
  background: #6bc0f2;
  width: 35px;
  height: 35px;
  margin: auto;
  text-align: center;
  padding: 5px;
  border-radius: 20px;
  line-height: 23px;


}
.caja_modal a:hover{
  color: #808080;
}
.modal a:nth-child(3):hover{
  color: #000;
}
.modal a:nth-child(5):hover{
  color: #000;
}
.caja_modal{
  display: flex;
  background-color: #fff;
  padding: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
  width: 100%;
  max-width: 600px;
  height: 500px;
  position: relative;

}
.popup{
  font-family: AzoSans-Regular;
  color: #808080;
  font-size: 13px;
}
.precios_modal{
  color: #6bc0f2;
  font-size: 16px;
}
.popup tr td p{
  font-family: AzoSans-Light;
  margin-right: 20px;
  margin-top: 0px;
}
.texto_modal{
  font-family: AzoSans-Light;
  font-size: 14px;
}
.titulo_modal{
  font-family: AzoSans-Bold;
  color: #6bc0f2;
  font-size: 25px;
}
.subtitulo_modal{
  font-family: AzoSans-Light;
  font-size: 40px;
}
.tituloprecios_modal{
  color: #6bc0f2;
  font-size: 20px;
}
a.btn_modal{
  width: 100px;
  display: block;
  color: #fff;
  font-size: 10px;
  font-family: AzoSans-Bold;
  background: #6bc0f2;
  padding: 7px 0px;
  border: solid 1px #6bc0f2;
  border-radius: 20px;
  margin: 0 auto;
  text-align: center;
}
a.btn_modal:hover{
  background: #fff;
  color: #6bc0f2;
}
.point_bar{
  display: block;
  position: absolute;
  bottom: -10px;
  left: 100px;
  }
.point_bar a{

  display: inline-block;
  margin-right: 20px;
}
.point{
  height: 14px;
  width: 14px;
  background: #b5b5b5;
  margin-right: 15px;
  border-radius: 7px;
}
.black{
  background: #808080;
}
/*Fin del modal del PopUp*/
/*Inicio Property Manager*/
.contenedor4{
  display: block;
width: 80%;
margin: auto;
text-align: center;
margin-bottom: 50px;

}
.small img, .normal2 img{
  display: block;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

.normal2{
  margin-top: -10px;
}
.normal2 img{
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
}
.columna3 h2{
  color: #6bc0f2;
  font-family: AzoSans-Regular;
  font-weight: 600;
  font-size: 50px;
  text-align: center;
  margin-bottom: *-10px;


}
.columna3 p{
  font-family: AzoSans-Regular;
  color: #808080;
  font-size: 25px;
  text-align: center;
}
.columna2{
  width: 200px;
  height: 110px;
  box-sizing: border-box;
  padding: 20px;
  display: inline-block;
}
.columna2 h2{
  color: #6bc0f2;
  font-family: AzoSans-Regular;
  font-size: 22px;
  margin-bottom: -20px;
  text-align: left;
  margin-bottom: 1px;
}
.columna2 p{
  font-family: AzoSans-Regular;
  color: #808080;
  font-size: 11px;
  text-align: left;
}
.hr4{
  width: 100%;
  height: 20px;
  background: #000;
}

@media(min-width:600px){
  .section7{
    display: none;
  }
  .fila3{
    display: flex;
  }

  .columna3{
    width: 50%;
  }
  .columna4{
    width: 50%;
  }
  .small{
    width: 100%;
    max-width: 240px;
    overflow: hidden;
    margin-bottom: 35px;
  }
  .normal2{
    margin: 0 auto;
    max-width: 220px;
    overflow: hidden;
  }

}
.footerp{
  height: 150px;

}
/*Fin Property Manager*/
/*Inicio Faq*/
.democlick {display: none;}
:checked ~ .democlick {display: block;}
input.oculto[type=checkbox] {position: absolute;left: -999em;}

.democlick2 {display: none;}
:checked ~ .democlick2 {display: block;}
input.oculto2[type=checkbox] {position: absolute;left: -999em;}

.democlick3 {display: none;}
:checked ~ .democlick3 {display: block;}
input.oculto3[type=checkbox] {position: absolute;left: -999em;}

.democlick4 {display: none;}
:checked ~ .democlick4 {display: block;}
input.oculto4[type=checkbox] {position: absolute;left: -999em;}

div.titulo{
	width:800px;
	height:50px;
	background-color: #fff;
	overflow: hidden;
	border-bottom: 1px solid #fff;
}

p.titulo{
	margin:13px;
  font-family: AzoSans-Regular;
  font-size: 15px;
	color: #999999;
  text-align: center;

}
h2.info{
  width: 90%;
	margin:15px auto;
	font-family: AzoSans-Bold;
	font-size: 14px;
	color:#999999;
}
p.info{
  width: 90%;
	margin:10px auto;
  font-family: AzoSans-Regular;
	font-size: 14px;
	color:#999999;
}
div#body{
	margin:0px auto;
	width:800px;
	min-height:50px;
	background-color: red;
	overflow: hidden;
	border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 50px;
}
div.subapartado{
	width:800px;
	min-height:50px;
	background-color: #fff;


}
div.info1, div.info2, div.info3, div.info4{
	width:800px;

	background-color: #f5f5f5;
	overflow: hidden;
	-webkit-transition: height 0.8s;
}
/*Fin Faq*/
@media(max-width:1200px){
  .section7{
    display: none;
  }
  .texto2 h2{
    margin-top: 20px;
  }
  .section2{
    height: 400px;
  }
  .imagen2 img{
    margin: 40px auto 0 auto;
  }
}
@media(max-width:800px){
  .section7{
    display: none;
  }
 .mivideo{
   display: none;
 }
 .texto1{
   text-align: center;
  }
  #video1{
    width: 350px;
  }
  #titulo01{
    margin-top: 220px;
  }
  .section1{
    height: 500px;
  }
  #video1{
    margin-top: 80px;
  }
  .section2{
    height: 300px;
  }
  .section3{
    height: 150px;
  }
  .texto4 p{
    margin-top: 1500px;
  }
  .locker img{
    display: none;
  }
  .market{
    margin: 50px auto;
  }
  footer{
    height: 120px;
  }
  .foot{
    margin-top: 700px;
    height: 50px;
  }
  .footer2 {

    height: 80px;
  }
  .footer3{
    height: 40px;
  }
  .foot p{
    padding-top: 20px;
    margin-top: 70px;
    margin-bottom: 0px;
  }
  .footer3{
    margin-top: 0px;
  }
  .footer2 p:nth-child(1){
    margin-top: 0px;
  }
  .foot p{
    margin-top: 40px;
  }
  .footer3 p{
    margin-top: 0px;
  }
  .hijo{
    bottom: 80px;
  }
  div#body{
  	width: 600px;
  }

  div.subapartado{
  	width:600px;
  }

  div.titulo{
  	width:600px;
  }



  div.info1, div.info2, div.info3, div.info4{
  	width:600px;
  }
  div.subapartado:hover div.info1{
  	height:450px;
  }
  div.subapartado:hover div.info2{
  	height:640px;
  }
  div.subapartado:hover div.info3{
  	height:500px;
  }
  div.subapartado:hover div.info4{
  	height:420px;
  }

}
@media(max-width:870px){
  .section7{
    display: none;
  }
  .cuadrado1, .cuadrado2, .cuadrado4, .cuadrado5{
    margin-bottom: 250px;
  }
  .cuadrado3, .cuadrado6{
    margin-left: -40px;
  }
}
@media(max-width:1000px){
  .section7{
    display: none;
  }

  .texto1{
    z-index: 1;
  }

 .texto4 p{
   margin-top: 2300px;
 }
 .locker img{
   display: none;
 }
 .market{
   margin: 50px auto;
 }
 footer{
   height: 120px;
 }
 .foot{
   margin-top: 700px;
   height: 50px;
 }
 .footer2 {

   height: 80px;
 }
 .footer3{
   height: 40px;
 }
 .foot p{
   padding-top: 20px;
   margin-top: 70px;
   margin-bottom: 0px;
 }
 .footer3{
   margin-top: 0px;
 }
 .footer2 p:nth-child(1){
   margin-top: 0px;
 }
 .foot p{
   margin-top: 40px;
 }
 .footer3 p{
   margin-top: 0px;
 }
 .imagen2{
   display: none;
 }
 .contenedor6{
   display: block;
   text-align: center;
   margin: 30px auto;
   width: 90%;
 }
 .drop img{
   width: 100%;
   max-width: 400px;
   margin-top: 60px;
 }
 .uno{
   font-family:AzoSans-Regular;
   font-size: 25px;
   width: 50px;
   height: 50px;
   border-radius: 50%;
   color: #fff;
   border: 1px solid #585D75;
   background: #585D75;
   line-height: 50px;

 }
 .textouno{

   width: 400px;
   margin: 0 auto;
 }
 .uno{
   margin-top: 30px;
 }
 .titulouno{
   text-align: left;
   font-family:AzoSans-Regular;
   font-size: 32px;
   color: #585D75;
 }
 .textuno{
   text-align: left;
   font-family:AzoSans-Regular;
   font-size: 15px;
   color: #585D75;
   margin-bottom: .3px;
 }
 .columna4{
   display: none;
 }
 .columna3{
   width: 100%;
 }
 .pares{
   margin: 0 auto;
   text-align: center;
 }
 .alineaditos{
   margin-left: 20px;
 }
 .padredecuadrados{
   display: none;
 }
 .pares1{
   margin-top: 200px;
 }
 .cuadrado4, .cuadrado5, .cuadrado1, .cuadrado2{
   margin-bottom: 50px;
 }
 .pares, .pares1{
   display: inherit;;
 }
 #video1, .hijo{
   display: none;
 }
 #video3{
   display:block;
   margin: 0 auto;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

 }
 .section3{
   background: #fff;
 }
 .padre{
   width: 100%;
 }

}
@media(max-width:600px){
  .section7{
    display: none;
  }
  .impar{
    margin-top: 10px;
  }
  .texto4 p{
    margin-top: 3200px;
  }
  div#body{
    width: 350px;
  }

  div.subapartado{
    width:350px;
  }

  div.titulo{
    width:350px;
  }
  p.info, h2.info{
      width: 310px;
      margin: auto;
      text-align: left;
      margin-left: 30px;
  }
  h2.info{
    margin-top: 20px;
  }
  div.subapartado:hover div.info1{
    height:640px;
  }
  div.subapartado:hover div.info2{
    height:950px;
  }
  div.subapartado:hover div.info3{
    height:500px;
  }
  div.subapartado:hover div.info4{
    height:570px;
  }
  p.uno, .titulouno, .textuno{
    text-align: center;
  }
  p.uno{
    margin: 0 auto;
    margin-top: 40px;
  }
  .formulario{
    box-shadow: none;
    left: 10px;
  }
}

@media(max-width:450px){
  .section7{
    display: block;
  }
  .textouno{

    width: 300px;
    margin: 0 auto;
  }
  .texto1 p:nth-child(3)
  {
      color: #808080;
      font-family: AzoSans-Regular;
      font-size: 15px;
      margin-top: -20px;
  }

  .texto1 p:nth-child(1)
  {
      font-family: AzoSans-Regular;
      font-size: 25px;
      margin-bottom: -31px;
      color: #808080;
      margin-top: 250px;
  }

  .texto1 h2
  {
      font-family: AzoSans-Regular;
      font-weight: 600;
      font-size: 35px;
      color: #6bc0f2;
  }
  .texto2 h2
  {
      font-family: AzoSans-Regular;
      font-weight: 600;
      color: #6bc0f2;
      font-size: 35px;
      text-align: center;
      margin-top:0px;
  }

  .texto2 p
  {
      font-family: AzoSans-Regular;
      color: #808080;
      font-size: 15px;
      text-align: center;
      margin-top: -19px;
}
.texto4 h2
{
    font-family: AzoSans-Regular;
    font-weight: 600;
    color: #6bc0f2;
    font-size: 30px;
    text-align: center;
    margin-top: -15px;
    margin-bottom: 60px;
}
div#body{
  width: 300px;
}

div.subapartado{
  width:300px;
}

div.titulo{
  width:300px;
}
p.info, h2.info{
    width: 250px;
    margin: auto;
    text-align: left;
    margin-left: 30px;
}
h2.info{
  margin-top: 20px;
}
div.subapartado:hover div.info1{
  height:780px;
}
div.subapartado:hover div.info2{
  height:1100px;
}
div.subapartado:hover div.info3{
  height:450px;
}
div.subapartado:hover div.info4{
  height:670px;
}
.titulo_form h2{
  font-size: 30px;
}
.titulo_form p{
  font-size: 15px;
}
.footer2 p, .footer3 p{
  font-size: 12px;
}

.formulario{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0 10px;
  border-radius: 20px;
  position: absolute;
  bottom: -690px;
  left: 30px;
  z-index: 20;
  background: #fff;
}
.section6{
  display: none;
}
img.appstore{
  width: 90px;
}
.form_r{
  font-family: AzoSans-Bold;
  color: #6bc0f2;
  font-size: 35px;
}
.form_r2{
  font-family: AzoSans-Regular;
  color: #808080;
  font-size: 20px;
}
}


#bs-example-navbar-collapse-1 {
  background-color: #fff;
}

#bootstrap2x {
  padding: 1em;
}