    body {
        text-align:center;
        margin-top:100px;
        background-color:#a6ccdd;
        font-family:arial;
    }

    #login_box {
        margin:0 auto;
        width:500px;
        border-radius:5px;
        -moz-border-radius:5px;
        border:1px solid #000;
        background-color:#FFF;
        -moz-box-shadow: 0px 0px 6px #000;
        -webkit-box-shadow: 0px 0px 6px #000;
        box-shadow: 0px 0px 6px #000;
        min-height:190px;
        text-align:center;
    }

    table {
        margin:0 auto;
        width:80%;
    }

    .button {
        margin-left:160px;
    }

    #head {
        text-align: left;
        width: 500px;
        margin: 10px auto;
    }
    #head h2 {
        color: #333;
        font-weight: bold;
        border-bottom: none;
    }

   .error b{
        text-align:left;
    }

    .success {
        text-align:left;
    }

    li {
        list-style-type: none;
    }
