html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
form, label, legend,
/*table, caption, tbody, tfoot, thead, tr, th, td,*/
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	/*margin: 0;
	padding: 0;
	vertical-align: baseline;*/
	border: 0;
	font-size: 100%;
	
}

small {
	font-size: 90%;
}

fieldset {
    border: 1px solid #ccc;
}

legend {
    font-weight: bold;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;

}
ol, ul {
	//list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
/*table {
	border-collapse: collapse;
	border-spacing: 0;
}*/


h1,h2,h3,h4,h5,h6
{
	padding:0px;
	margin:0px;
}

h2{
	font-size:22px;
}

h3{
	font-size:18px;
}

h1{font-family: BoldPact, Arial;
font-weight:400;
font-size:30px;}

a{
    text-decoration: none;
    color: blue;
    text-shadow: 0px 0px #fff;
    text-decoration: underline;
    display: inline-block;
}

.shadow{
	-moz-box-shadow: 10px 10px 20px #000;
	-webkit-box-shadow: 10px 10px 20px #000;
	box-shadow: 10px 10px 20px #000;
}

.all_div_padding div{
	padding:3px;
}

table.normal {
	border-width: 1px;
	/*border-spacing: 2px;
	border-padding: 2px;*/
	border-style: outset;
	border-color: gray;
	/*border-collapse: collapse;*/
	background-color: white;
}
table.normal th {
	border-width: 1px;
	padding: 1px;
	border-style: inset;
	border-color: gray;
	background-color: white;
	-moz-border-radius: ;
}
table.normal td {
	border-width: 1px;
	/*padding: 1px;*/
	border-style: inset;
	border-color: gray;
	background-color: white;
	-moz-border-radius: ;
}

table.noBorder {
	border-width: 0px;
	/*border-spacing: 2px;
	border-padding: 2px;*/
	border-style: outset;
	border-color: gray;
	/*border-collapse: collapse;*/
	background-color: white;
}
table.noBorder th {
	border-width: 0px;
	padding: 1px;
	border-style: inset;
	border-color: gray;
	background-color: white;
	-moz-border-radius: ;
}
table.noBorder td {
	border-width: 0px;
	/*padding: 1px;*/
	border-style: inset;
	border-color: gray;
	background-color: white;
	-moz-border-radius: ;
}

body
{

	background-repeat:repeat-x;
	text-align:center;
	margin:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:.8em;

	
}

#header{
	text-align:left;
}

#page
{
	width:990px;
	margin:0 auto;
	border:1px solid  #a6ccdd;
	text-align:center;
	background-color:#ededed;
	min-height:500px;
}

.open_days{
	float:left;
	width:12%;
	text-align:center;
	margin:2px;
	padding:3px;
	outline:1px solid #a6ccdd;
}

.open_days .click{
	margin:3px;
	padding:3px;
	
}

.open_days .click:hover{
	background-color:#a6ccdd;
}

#content{
	text-align:left;
}

#content h2{
	padding:10px 0px;
	border-bottom:1px solid #ccc;
}

#create-account-form
{
	margin:0 auto;
}

#account_menu
{
	width:100%;
	margin:0 auto;
}

#account_menu ul li
{
	display: inline;
	list-style-type: none;
	padding-right: 20px;
}

#ddcolortabs{
margin-left: 4px;
padding: 0;
background: transparent;
padding-left: 5px;
margin:0 auto;
}

form_#ddcolortabs ul{
font: bold 11px Arial, Verdana, sans-serif;
margin:0;
padding:0;
list-style:none;
}

#ddcolortabs li{
display:inline;
margin:0 0 0 0;
padding:0;
text-transform:uppercase;
}


#ddcolortabs a{
float:left;
color: white;
font-weight:bold;
text-shadow:1px 1px 1px #000;
background: #0175aa url(/images/color_tabs_left.gif) no-repeat left top;
margin:0 2px 0 0;
padding:0 0 1px 3px;
text-decoration:none;
letter-spacing: 1px;
}

#ddcolortabs a span{
float:left;
display:block;
background: transparent url(/images/color_tabs_right.gif) no-repeat right top;
padding:4px 9px 2px 6px;
}

#ddcolortabs a span{
float:none;
}


#ddcolortabs a:hover{
background-color: #a6ccdd;
color:#333;
text-shadow:none;
}

#ddcolortabs a:hover span{
background-color: #a6ccdd;
}

#ddcolortabs #current a, #ddcolortabs #current span{ /*currently selected tab*/
background-color: #a6ccdd;
color:#333;
text-shadow:none;
}

#ddcolortabsline{
clear: both;
padding: 0;

height: 8px;
line-height: 8px;
background: #a6ccdd;
border-top: 0px solid #fff; /*Remove this to remove border between bar and tabs*/
margin:0 auto;
border:1px solid #a6ccdd;
padding:0px 5px;
}

.menu_header{
	margin-left:10px;
	font-weight:bold;
	font-size:22px;
}

#admin_sidebar{
	background-color:#a6ccdd;
	min-height:740px;
}

#submenu{
	margin-left: 0;
	padding-left: 5px;
	list-style-type: none;
	font-family: Arial, Helvetica, sans-serif;
	background-color:#a6ccdd;
	width:90%;
}

#submenu a{
	display: block;
	padding: 5px;
	width: 100%;
	background-color: #eaeaea;
	border: 1px solid #eaeaea;
	border-radius:3px;
	margin-bottom:3px;
	text-decoration:none;
	color:#000;
}

#submenu a.active{
	background-color:#0175aa;
	color:#FFF;
	border:1px solid #0175aa;
}


.order_detail_table{
	width:100%
}

.order_detail_table th{
	font-weight:bold;
	padding:5px;
	background-color:#eaeaea;
	border-bottom:1px solid #ccc;
	width:105px;
}

.order_detail_table td{
	padding:5px;
	border-bottom:1px solid #ccc;
}


/*Tables*/
.hor-minimalist-a,
#hor-minimalist-a
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	background: #fff;
	margin: 0px;
	width: 100%;
	border-collapse: collapse;
	text-align: left;
}
.hor-minimalist-a th,
#hor-minimalist-a th
{
	font-size: 14px;
	font-weight: normal;
	color: #3698fb;
	padding: 10px 8px;
	border-bottom: 2px solid #3698fb;
}

.hor-minimalist-a td,
#hor-minimalist-a td
{
	color: #669;
	padding: 8px;
	vertical-align: top;
}
.hor-minimalist-a tbody tr:hover td,
#hor-minimalist-a tbody tr:hover td
{
	background-color: #ccc;
}

.striped tbody tr:nth-child(even) {
   background-color: #eee;
}

.padded td {
    padding: 5px;
}

.box-table-a
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 0px;
	width: 100%;
	text-align: left;
	border-collapse: collapse;
	border:1px solid #ccc;
}
.box-table-a th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #a6ccdd;
	border-top: 4px solid #0175aa;
	border-bottom: 1px solid #fff;
	color: #039;
	border-right: 1px solid #ccc;
}
.box-table-a td
{
	padding: 8px;
	background: #eaeaea; 
	border-bottom: 1px solid #ccc;
	color: #669;
	border-top: 1px solid transparent;
	border-right: 1px solid #ccc;
	
	background-image: linear-gradient(bottom, rgb(224,224,224) 0%, rgb(245,245,245) 51%);
        background-image: -o-linear-gradient(bottom, rgb(224,224,224) 0%, rgb(245,245,245) 51%);
        background-image: -moz-linear-gradient(bottom, rgb(224,224,224) 0%, rgb(245,245,245) 51%);
        background-image: -webkit-linear-gradient(bottom, rgb(224,224,224) 0%, rgb(245,245,245) 51%);
        background-image: -ms-linear-gradient(bottom, rgb(224,224,224) 0%, rgb(245,245,245) 51%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(224,224,224)),
	color-stop(0.51, rgb(245,245,245))
);
}
.box-table-a tr:hover td
{
	background: #c5d6dd;
	color: #339;
}

.box-table-a .item_footer td
{
	background: #c5d6dd;
	color: #339;
	font-weight:bold;
}

.box-table-a tfoot td
{
	vertical-align:top;
	background-color:#a6ccdd;
}
.box-table-a tbody td
{
	vertical-align:top;
	
}



#box-table-a
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 0px;
	width: 100%;
	text-align: left;
	border-collapse: collapse;
	border:1px solid #ccc;
}
#box-table-a th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #a6ccdd;
	border-top: 4px solid #0175aa;
	border-bottom: 1px solid #fff;
	color: #039;
	border-right: 1px solid #ccc;
}
#box-table-a td
{
	padding: 8px;
	background: #eaeaea; 
	border-bottom: 1px solid #ccc;
	color: #669;
	border-top: 1px solid transparent;
	border-right: 1px solid #ccc;
	
	background-image: linear-gradient(bottom, rgb(224,224,224) 0%, rgb(245,245,245) 51%);
background-image: -o-linear-gradient(bottom, rgb(224,224,224) 0%, rgb(245,245,245) 51%);
background-image: -moz-linear-gradient(bottom, rgb(224,224,224) 0%, rgb(245,245,245) 51%);
background-image: -webkit-linear-gradient(bottom, rgb(224,224,224) 0%, rgb(245,245,245) 51%);
background-image: -ms-linear-gradient(bottom, rgb(224,224,224) 0%, rgb(245,245,245) 51%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(224,224,224)),
	color-stop(0.51, rgb(245,245,245))
);
}
#box-table-a tr:hover td
{
	background: #c5d6dd;
	color: #339;
}

#box-table-a .item_footer td
{
	background: #c5d6dd;
	color: #339;
	font-weight:bold;
}

#box-table-a tfoot td
{
	vertical-align:top;
	background-color:#a6ccdd;
}
#box-table-a tbody td
{
	vertical-align:top;
	
}

.text input[type=text],
.text input[type=password] {
    padding:5px;
    border:1px solid #333;
}

.detail_table{
	width:100%;
	font-size:14px;
	margin-top:5px;
}

.action{
	margin:0px 0px 0px 5px;
}

.detail_table > thead > tr > th,
.detail_table > tbody > tr > th,
.detail_table > tr > th {
	background-color:#eaeaea;
	width:230px;
	padding:15px 8px;
	text-align:right;
	border: solid 1px #ccc;
	font-weight:bold; 
	vertical-align:top;
	
	background-image: linear-gradient(bottom, rgb(212,212,212) 0%, rgb(234,234,234) 51%);
background-image: -o-linear-gradient(bottom, rgb(212,212,212) 0%, rgb(234,234,234) 51%);
background-image: -moz-linear-gradient(bottom, rgb(212,212,212) 0%, rgb(234,234,234) 51%);
background-image: -webkit-linear-gradient(bottom, rgb(212,212,212) 0%, rgb(234,234,234) 51%);
background-image: -ms-linear-gradient(bottom, rgb(212,212,212) 0%, rgb(234,234,234) 51%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(212,212,212)),
	color-stop(0.51, rgb(234,234,234))
);
	
}

.detail_table > tbody > tr > td ,
.detail_table > tr > td {
	padding:8px;
	border: solid 1px #ccc;
	background-color: #FFF; 
	
	background-image: linear-gradient(bottom, rgb(234,234,234) 2%, rgb(255,255,255) 51%);
background-image: -o-linear-gradient(bottom, rgb(234,234,234) 2%, rgb(255,255,255) 51%);
background-image: -moz-linear-gradient(bottom, rgb(234,234,234) 2%, rgb(255,255,255) 51%);
background-image: -webkit-linear-gradient(bottom, rgb(234,234,234) 2%, rgb(255,255,255) 51%);
background-image: -ms-linear-gradient(bottom, rgb(234,234,234) 2%, rgb(255,255,255) 51%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.02, rgb(234,234,234)),
	color-stop(0.51, rgb(255,255,255))
);
	
}

.detail_table > tfoot{
	border:none;
	background-color:#CCCCCC;
}

.detail_table textarea,
.detail_table input[type=text],
.detail_table input[type=password] {
	width:90%;
	border:1px solid #ccc;
	padding:3px;
}

.detail_table input.datefield {
    width: auto;
}

.inner_pad{
	margin:5px;
}

.message{
	top:0;
	z-index: 100;
	width:100%;
	margin:0 auto;
	text-align: center;
}

.message div{
	width:auto;
	border-bottom:1px solid #000;
}

.message ul{
	padding:5px;
	margin:5px;
}

.message ul li{
	text-shadow: 1px 1px 2px #000;
}

.success
{
    margin-bottom: 10px;
    border-radius:3px;
    background-color:#00bf00;
    border:1px solid #aaffaa;
    font-size:22px;
    font-weight:bold;
    color:#fff;
}

.error{
	margin-bottom: 10px;
	border-radius:3px;
	background-color:#ff0000;
	border:1px solid #ff5656;
	font-size:16px;
	font-weight:bold;
	color:#fff;
}

.error a {
    color: #F6FF00;
    text-decoration: underline;
    text-shadow: 1px 1px 2px #000;
}

.warning{
	margin:0 auto;
	margin:10px 0px;
	padding:5px;
	border-radius:3px;
	background-color:#ffffaa;
	border:1px solid #ffff56;
	font-size:16px;
	font-weight:bold;
	color:#333;
    text-shadow: none;
}

.info{
	margin:0 auto;
	margin:10px 0px;
	padding:5px;
	border-radius:3px;
	background-color:#fcf9ef;
	border:1px solid #fffb8b;
	color:#333;
}

.success li div {
    padding: 5px;
}

.success li{list-style-image:url('https://droplocker.com/images/icons/accept.png');}
.error li{list-style-image:url('https://droplocker.com/images/icons/exclamation.png');}


.static_success{
	margin:0 auto;
	margin:10px;
	padding:5px;
	border-radius:3px;
	background-color:#effce3;
	border:1px solid #aaffaa;
	font-size:16px;
	font-weight:bold;
	color:#333;
	text-align:left;
}

.static_error{
	margin:0 auto;
	margin:10px;
	padding:5px;
	border-radius:3px;
	background-color:#ffaaaa;
	border:1px solid #ff5656;
	font-size:16px;
	font-weight:bold;
	color:#333;
    text-align:left;
}


.driver_notes{
	border: outset 1pt;
	width:100%;
}

.driver_notes th{
	background-color:#eaeaea;
	padding:3px;
	font-weight:bold;
	border: outset 1pt;
}
.driver_notes td{
	background-color:#fff;
	padding:3px;
	font-weight:bold;
	border: outset 1pt;

}

.radio_selector,  .toggle_selector, .color_selector {
	padding:2px 10px;
	border-radius:3px;
	border:1px solid #ccc;
	margin:5px 5px;
	color:black;
    cursor: pointer;
    display: inline-block;
}

.color_selector {
    color: #fff;
    box-shadow: 0px 3px 9px rgba(0,0,0,0.2) inset;
    font-weight: bold;
    text-shadow: 0 0 1px #000;
}

.process{
	height:55px;
}

.radio_selector:hover,.toggle_selector:hover{
	border:1px solid #f4f477;
	background-color:#ededcb
}

.radio_selector.selected,.toggle_selector.selected{
	border:1px solid #00bf00;
	background-color:#d4ffaa;
}

.radio_selector.error,.toggle_selector.error{
	border:1px solid #cc0000;
	background-color:#DE898C;
}

.color_selector.selected{
	outline: 3px solid #00BF00;
}

.orange_box{
	border:1px solid #f8951c; 
	background-color:#f9ecdb;
}

.quick_button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: 5px;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}


.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}

.big-input,
.big-button {
    font-size: 18px;
}

.small-button {
    font-size: 12px;
}

.forLocaleBox {
	width: 405px;
}

.forLocaleBtn {
	margin-left: 342px;
}

.orange {
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}

/* green */
.green {
	color: #e8f0de;
	border: solid 1px #538312;
	background: #64991e;
	background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
	background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
}
.green:hover {
	background: #538018;
	background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
	background: -moz-linear-gradient(top,  #6b9d28,  #436b0c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');
}
.green:active {
	color: #a9c08c;
	background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));
	background: -moz-linear-gradient(top,  #4e7d0e,  #7db72f);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f');
}

/* white */
.white {
	color: #606060;
	border: solid 1px #b7b7b7;
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background: -moz-linear-gradient(top,  #fff,  #ededed);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}
.white:hover {
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
	background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}
.white:active {
	color: #999;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
	background: -moz-linear-gradient(top,  #ededed,  #fff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}

/* blue */
.blue {
	color: #d9eef7;
	border: solid 1px #0076a3;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}
.blue:hover {
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}
.blue:active {
	color: #80bed6;
	background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
	background: -moz-linear-gradient(top,  #0078a5,  #00adee);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}

/* black */
.black {
	color: #d7d7d7;
	border: solid 1px #333;
	background: #333;
	background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000));
	background: -moz-linear-gradient(top,  #666,  #000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000');
}
.black:hover {
	background: #000;
	background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#000));
	background: -moz-linear-gradient(top,  #444,  #000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#000000');
}
.black:active {
	color: #666;
	background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#444));
	background: -moz-linear-gradient(top,  #000,  #444);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#666666');
}

/* red */
.red {
	color: #faddde;
	border: solid 1px #980c10;
	background: #d81b21;
	background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#aa1317));
	background: -moz-linear-gradient(top,  #ed1c24,  #aa1317);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed1c24', endColorstr='#aa1317');
}
.red:hover {
	background: #b61318;
	background: -webkit-gradient(linear, left top, left bottom, from(#c9151b), to(#a11115));
	background: -moz-linear-gradient(top,  #c9151b,  #a11115);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9151b', endColorstr='#a11115');
}
.red:active {
	color: #de898c;
	background: -webkit-gradient(linear, left top, left bottom, from(#aa1317), to(#ed1c24));
	background: -moz-linear-gradient(top,  #aa1317,  #ed1c24);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#aa1317', endColorstr='#ed1c24');
}

a img{
    margin:0px 0px -3px 0px;
}

#locker_form{
    background-color:#FFF;
    display:none;
}

#sortable{
	list-style-type: none;
	padding:0px;
	margin:0px;
}

#sortable a{
	color:#000;
}

#toggle_div{
	position: absolute; 
	left:235px; 
	top:0px; 
}

.receipt_table
{
	width:100%;
}

.receipt_table th
{
	padding:5px;
	font-weight:bold;
	width:200px;
	text-align:left;
	border-bottom:1px solid #ccc;
}

.receipt_table td
{
	padding:5px;
	border-bottom:1px solid #ccc;
}

.urgent_ticket td{
	background:#ff5656!important;
	color:#fff!important;
}

.pending_ticket td{
	background:#FFFF00!important;
	color:#000!important;
}

.open_ticket td{
	background:#aaff56!important;
	color:#000!important;
}

.back_button{
	padding:5px;
}

.large_icon_menu{
	width:100%;
}

.large_icon_menu div{
	float:left;
	margin:5px;
	border:1px solid #ccc;
	border-radius:4px;
	padding:10px 20px;
	text-align:center;
}

.large_icon_menu div:hover{
	float:left;
	margin:5px;
	border:1px solid #ccc;
	border-radius:4px;
	padding:10px 20px;
	text-align:center;
	background-color:#eaeaea;
}

.large_icon_menu a{
	color:#333;
}

.large_icon_menu img{
	padding-bottom:5px;
}

.stat{
	border:1px solid #ccc;
	margin:5px;
	border-radius:3px;
	float:left;
}

.stat div{
	padding:10px;
}

.stat .value{
	font-size:20px;
	font-weight:bold;
	color:#0175aa;
	float:left;
	padding-top:15px;
}

.stat .key{
	background-color:#eaeaea;
	float:left;
	font-size:16px;
}


.emailWarning{
    color:#000;
    background:#fffb8b!important;
}

.emailError{
    color:#fff;
    background:#cc0000!important;
}

form.aprax_form {
    margin-top: 10px;
    margin-bottom: 10px;
    
}
form.aprax_form fieldset {
    border: 1px solid #000000;
    padding: 10px;
}
form.aprax_form label {
    margin: 5px;
}
form.aprax_form input {
    margin-right: 5px;
}
form.aprax_form legend {
    font-weight: bold;
}

.important_link {
	font-weight: bold;
	color: #000;
	text-decortation: none;
}

.popup_holder {
	position: relative;
}

.popup_menu {
	display: inline-block;
	width: 400px;
	position: absolute;
	border: 1px solid #ccc;
	padding: 5px;
	background: #eee;
}

.popup_menu h4 {
	font-weight: bold;
	text-align: center;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
}

.popup_menu .close {
	position: absolute;
	top: 2px;
	right: 2px;
	color: #fff;
	background: #000;
	font-weight: bold;
	padding: 0 2px;
	cursor: pointer;
}

.popup_menu ul {
	margin: 10px 0;
	padding: 0;
	list-style: none;
}

.popup_menu li {
	cursor: pointer;
	padding: 2px;
}

.popup_menu li:hover {
	background: #ccc;
}

.pull-right {
	float: right;
}

.pull-left {
	float: left;
}

.tooltip {
	display: none;
	position: absolute;
	border: 1px solid #0175AA;
	padding: 5px;
	background: #F5F5F5;
}

.border-black {
    border: 1px solid #000;
    border-collapse: collapse;
}

.space-table th,
.space-table td
{
	padding:5px;
}

#ci_profiler_queries_db_1 {
    text-align: left;
}


.fill {
    display: block;
    overflow: hidden;
    padding: 0 8px 0 6px;
}

.fill textarea,
.fill input {
    width: 100%
}

.hasDatepicker {
    z-index: 9999;
    position: relative;
}

#dueDate.editable .hasDatepicker {
	visibility: hidden;
	width: 0;
}

.alert-success {
    margin: 1em 0;
    padding: 10px;
    background: #afa;
}

.alert-error {
    margin: 1em 0;
    padding: 10px;
    background: #faa;
}

.alert-info {
    margin: 1em 0;
    padding: 10px;
    background: #aaf;
}

.alert-warning {
    margin: 1em 0;
    padding: 10px;
    background: #ffa;
    color: #000;
    border: 1px solid #FFE500;
}

td .alert-info,
td .alert-warning,
td .alert-success,
td .alert-error {
    margin: 0;
}

.dataTable .alert-success,
.dataTable .alert-error,
.dataTable .alert-info,
.dataTable .alert-warning {
    margin: 0;
}


.round {
    border-radius: 5px;
}

/**
 * Tabel forms
 */
td.label {
    width:150px;
    text-align: right;
}

td.label label {
    margin-right: 10px;
}

.xdebug-var-dump {
    text-align: left;
    font-size: 12px;
}

.quick_button {
    padding: 8px;
}

.quick_button:focus {
    border: 5px solid #3a3;
    padding: 4px;
}

.day-align span {
	display: inline-block;
	width: 19px;
}

.delivery-zone {
	padding: 10px;
}

.delivery-zone table {
	margin-bottom: 20px;
}

.delivery-zone-location {
}

.delivery-zone-actions {
	text-align: right;
}

#pos_activity th {
    text-transform: capitalize;
}