
@font-face {
    font-family: "Nevis";
    src: url("fonts/nevis.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "HouseSlant";
    src: url("fonts/HouseSlant-Regular.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BrannbollSmall";
    src: url("fonts/BrannbollSmal.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Brannboll";
    src: url("fonts/BrannbollFet.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Helvetica Bold";
    src: url("fonts/HELVETICALTSTD-BOLD.OTF") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Helvetica Black";
    src: url("fonts/HELVETICALTSTD-BLK.OTF") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Helvetica World";
    src: url("fonts/HelveticaWorld-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

#map_canvas img {
  max-width: none;
}

body {
  margin: 0;
  font-family: Verdana, "Helvetica World", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #333;
  background-color: #fff;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: #005580;
  text-decoration: underline;
}
.img-rounded {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.img-polaroid {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
.img-circle {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
}

.alert-info {
    color: #333;
}

/*====================== Custom ===============================*/

/* Logo */
.header .brand {
  background-image: url(images/logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 229px 90px;
  height: 91px;
  width: 100%;
  text-align: center;
    text-align:-moz-center;
    text-align:-webkit-center;
  position: absolute;
  margin-left: -5px;
  margin-top: 12px;
  display: inline;
  z-index: 0;
}

.header .site-title {
  display: none;
}

.header .header-inner {
  /*text-align: center;
    text-align:-moz-center;
    text-align:-webkit-center;*/
}


.navigation {
  font-size: 16px;
  text-transform: uppercase;
  font-family:  "Helvetica Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
/*  font-weight: bold;*/
}

.navigation a:hover {
  color: black;
}

.navigation .item-435 {
  display:none;
}

.nav li a:hover {
  background-color: rgba(155, 206, 207, 0.6);
}

.menu1 > li:last-child > a,
.menu2 > li:last-child > a {
    margin-right: 0px;
    margin-left:0px;
}

.footer {
  background: url(images/footer_background.jpg);
  font-weight: normal;
  z-index: 1000;
  position: relative;
}

.paypal_footer {
    
   position:absolute;
   right: 40px;
   margin-top: -105px;
}

.footer .container {
  background-image: none;
  padding: 20px;
  height: 200px;
  color: white;
  padding: 40px 20px 0px 20px;
  position: relative;
}

.footer .container p {
  /*color: white;*/
}

.footer .nav {
  width: 150px;
  display: inline-block;
  margin-bottom: 20px;
  float: left;
  margin-right: 20px;
}

.footer .nav li {
  margin: 7px 0px 7px;
}
.footer a {
  color: white;
  padding: 0px 5px 0px 5px;
}

.footer a:hover {
  color: white;
}

h1, h2, h3, h4, h5, h6, .site-title {
    font-family: HouseSlant, 'Open Sans', sans-serif;
}

h1 {
    font-size: 2.4em !important;
}
h2 {
    font-size: 2.2em !important;
}
h3 {
    font-size: 1.8em !important;
}
h4 {
    font-size: 1.8em !important;
}

#main-content {
    padding: 30px 0;
    background: #fff;
    background-image: url(/css/laundryconcierge/images/blue_background.jpg);
}


#content {
  /*margin-top: 20px;*/
  /*background: url(images/blue_background.jpg);*/
  width: 100%;
  padding-left: 30px;
  padding-right: 12px;
  padding-top: 40px;
  padding-bottom: 20px;
  float: right;
}


/* two items */
#content-container-2 > div:first-child:nth-last-child(2) ~ div {
    width: 779px;
}


.current, .active {
  /*border-bottom: 1px solid rgb(0, 0, 0);*/
  /*text-decoration: underline;*/
}

#sidebar ul {
  z-index: 500;
  min-width: 184px;
  padding: 10px 0;
  margin: 5px -6px 0;
  list-style: none;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(204, 204, 204);
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  /*-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  */  
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  position: fixed;
}

#sidebar .current, 
#sidebar .active {
  /*border-bottom: 1px solid rgb(0, 0, 0);*/
  text-decoration: none;
  font-size: 14px;
  background-color: rgb(255, 255, 255);
  font-family: "Helvetica Bold", "Helvetica World", Helvetica, Tahoma, Verdana, Arial;
}

#sidebar .current a, 
#sidebar .active a {
  color: rgb(0, 161, 175);
}

#sidebar li:hover,
#sidebar a:hover{
  background-color: rgb(62, 83, 62);
}
.custom_splashimagecontainer {
  /*margin-left: -20px;
  margin-right: -20px;*/
  margin-top: 50px;
}

.custom_splashimage {
  background: url(images/rays.png);
  background-size: 100%;
  background-repeat: no-repeat;
  margin-bottom: 0px;
  text-align: center;
}

.custom_splashimage p {
  margin: 0 0 0;
}

.custom_splashimage img {
  margin-bottom: 30px;
}

.custom_splashimage img.simple_anim {
  margin: 0px; 
  position: absolute; 
  margin-left: 52px;
}

.wash_fold {
  padding: 20px 0px 23px;
  background-image: url(images/background.jpg);
  overflow: hidden;
  padding-left: 0px;
}

.wash_fold div {
  position: relative;
  max-width: 100%;
  width: 60%;
  float: right;
  margin-right: 0px;
}

.wash_fold div p {
  margin: auto;
  text-align: center;
}

.wash_fold div img {
  /*margin-left: -241px;*/
}

.black_line,
.black_line2 {
  background: rgb(0, 0, 0);
  width: 20%;
  height: 2px;
  position: relative;
  display: inline-block;
  margin-top: 16px;
}

.black_line {
  float: left;
}

.black_line2 {
  float: right;
}

.arrow {
  background: url("images/arrow.png") no-repeat 50% 0% transparent;
  background-repeat: no-repeat;
  height: 25px;
  background-position-x: 50%;
}

#login_menu {
  z-index: 2;
  position: relative;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}


#login_menu li {
  display: inline-block;
  float: right;
  margin-right: 10px;
  margin-left: 10px;
}

#login_menu a:hover {
  text-decoration: none;
  background-color: rgb(233, 85, 36);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}


ul.newsflash-horiz_features {
  list-style-type: none;
  text-align: center;
  margin: 0px 0px 0px 0px;
  overflow: hidden !important;
}

ul.newsflash-horiz_features li {
  width: 250px;
  display: inline-block;
  padding-right: 50px;
  padding-left: 50px;
  display: inline-block;    
  vertical-align:top;
  margin-bottom: -1020px;
  padding-bottom: 1000px;
}

ul.newsflash-horiz_features li + li {
  border-left-width: 2px;
  border-left-color: rgb(0, 0, 0);
  border-left-style: solid;
}

.moduletable_features {
  margin: 20px 0px 20px 0px;
}

.sidebar-nav {
  margin-top: 110px;
  padding: 10px;
  /*background-image: url(images/blue_background.jpg);*/
;
  padding-left: 6px;
}

#homepage-container {
  margin-top: 65px;
    background-image: url(images/blue_background.jpg);
}
#content-container {
  background-image: url(images/blue_background.jpg);
  position: relative;
}

#content-container-2 {
  width: 960px;
  margin: auto;
}

#sidebar {
  width: 160px;
  margin-left: 0px;
  margin-top: 10px;
}

#sidebar li {
  /*background-color: rgb(51, 51, 51);
  padding: 5px;
  margin: 5px 0px 5px;*/
}

#sidebar li a {
    display: block;
    padding: 3px 20px;
    clear: both;
    line-height: 18px;
    color: rgb(51, 51, 51);
    white-space: nowrap;
    text-transform: none;
    text-align: left;
}

.item-page img {
  /*float: left;*/
}

.btn .dropdown-toggle {
  margin-bottom: 10px;
}

.navigation .nav > li.item-469,
.navigation .nav > li.item-470,
.navigation .nav > li.item-471 {
  float: left;
}

.moduletable_simple {
  margin-top: 20px;
}

.item-page img {
  margin: 10px;
}

#mailto-window{
}

#habla_window_div #habla_topbar_div {
  background: rgb(241, 114, 53) none repeat scroll 0 0 !important;
}

a.newsflash-link:hover {
  color: rgb(0, 0, 0);
  text-decoration: none;
}


.login_button img, 
.signup_button img {
  width: 92px; 
  height: 39px;
}


.white_background {
  background-image: none;
  background-color: white;
}

#back-top {
  background-image: url(images/button.png) !important;
  background-size: 70px 33px;
  background-repeat: no-repeat;
  height: 33px;
  float: right;
  width: 62px;
  line-height: 32px !important;
  margin: 0px 10px;
  font-family: "HouseSlant", 'Open Sans', sans-serif !important;
  font-size: 20px;
  padding: 0px 0px 0px 8px;
}

#back-top:hover {
  text-decoration: none;
  background-color: rgb(233, 85, 36);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

/* Style the Email Buttons */

#content .btn-group > .dropdown-toggle {
  display: none;
}

#content > .item-page > .btn-group  {
  height: 50px;
  margin: 0px;
  margin-bottom: 10px;
  margin-top: 20px;
}


.footer .custom_socialmedia {
  display: inline-block;
  float: left;
  margin-bottom: 20px;  
}

.footer .copyright {
  display: block;
  color: grey;
  width: 100%;
  margin: auto auto 40px auto;
  float: left;
}


.make_background_beige {
    background-image: url(images/background.jpg) !important;
}


.make_background_white {
    background: white !important;
}


div.howitworks {
    width: 100%;
    float: left;
}

ul.howitworks {
    width: 100%;
    float: left;
    /* margin: 0px !important; */
    margin-bottom: -40px;
}

ul.newsflash-horiz_features.howitworks > li {
    width: 25% !important;
    padding-right: 30px;  
    padding-left: 30px;

}
ul.newsflash-horiz_features.howitworks > li img {
    margin : 0px;
    margin-bottom : 20px;
}

ul.newsflash-horiz_features.howitworks > li:first-child {
    padding-left: 0px;
}

.pagenav_container {
    clear:both;
    margin: 20px 0 0 0;
}

.email-icon {
    
    background-image: url(images/email_grey.png);
    background-size: 21%;
    background-repeat: no-repeat;
    background-position-x: 100%;    
}

.hanger {
  position: fixed;
  z-index: 990;
  margin-top: 20px;
  margin-left: -13px;
}


.map {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  padding-left: 10px;
  padding-right: 10px;
}

tr {
    
}

.hikashop_checkout_page td+td {
    float: none !important;
}


table{
    width: 98% !important;}
    
    
.wrapper_droplocker_page { 
    margin-top: -40px;
}

#aside {
    margin-top:50px;
    width: auto;
    width: 15%;
}

.hikashop_checkout_login .inputbox {
 /* float:right;  */
}

.body .container {
  background: url(images/background.jpg);
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  border: 0px;

  /* ADDED */
  margin: 0;
  width: 100%;
}

.navigation .nav li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 0px;
  margin-bottom: 2px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  position: relative;
  z-index: 999;
}

.navigation .nav > .active > a,
.nav > .active > a:hover {
  color: black;
  background-color: rgb(178, 218, 219);
}

.menu1 > li> a,
.menu2 > li> a {
  margin-right: 20px;
  line-height: 20px;
  padding-left: 6px;
  padding-right: 6px;
}

.menu2 > li> a {
  margin-right: 10px;
}

.menu1 > li:last-child > a,
.menu2 > li:last-child > a, {
  margin-right: 0px;
  padding-left: 6px;
  padding-right: 6px;
}

/* ===================== Media Queries ==================================== */




@media (max-resolution: 1.5dppx), (max-resolution: 144dpi), (-webkit-max-device-pixel-ratio: 1.5), (-o-max-device-pixel-ratio: 3/2) {
  .signup_button img {
    content: url(images/signup_lowres.png) !important;
  }

  .login_button img {
    content: url(images/login_lowres.png) !important;
  }

}

@media (max-width: 767px) {
  .header .brand {
    display: inline !important;
    margin-left: 0px;
  }
    .map {
      display: block;
      vertical-align: top;
      width: 95%;
      padding-left: 10px;
      padding-right: 10px;
    }
  #login_menu {
    width: 100%;
    top: 105px;
    position: relative;
    text-align: center;
    /*margin-top: 10px;*/
  
    display: none;
}
  
  #content {
      padding-right: 30px;
  }

  #sidebar {
        width: 160px;
        margin-left: 0px;
        margin-top: 10px;
        padding-left: 30px;
        padding-right: 30px;
  }
    
  #aside {
      width: auto;
  }    
    
  input,
  textarea,
  .uneditable-input {
    width: auto;
  }
      
  iframe {
        margin-top: 0px;
  }


.wrapper_droplocker_page { 
    margin-top: -40px;
}

  .hanger {
    position: absolute;
    z-index: 990;
    margin-right: auto;
    margin-left: auto;
  
    width: 100%;
    top: 0px;
    display: none;
}


  #login_menu li {
    float: none;
  }
  .navigation {
    margin-top: 120px;
    }

  .navigation li {
    float: none;
  }

  .navigation .nav > li {
    float: none !important;
  }

  #sidebar {
    width: 100%;
    text-align: center;
    
    }
    .sidebar-nav{    
    
        /* margin-left: 50%; */
        /* margin-right: 50%; */
        position: relative;
        text-align: center;
        margin-top: 20px;
}
    #sidebar ul {
        position: relative;
    }

    #sidebar li a {
        text-align: center;
    }

  #homepage-container {
    margin-top: 0px;
  }

  #content,
  #content-container-2 > div:first-child:nth-last-child(2) ~ div
   {
    width: 100%;
    margin-top: 0px;
    padding-top: 40px;
    padding-bottom: 20px;
  }

  #content-container-2 {
    width: 100%;
  }

  .custom_splashimage {
    padding: 20px 20px 20px;
    background-position: -60px;
  }
  

  ul.newsflash-horiz_features li,
  ul.newsflash-horiz_features li + li  {
    border-left-width: 2px;
    border-left-color: none;
    border-left-style: none;
    margin-bottom: 25px;
    margin-top: 25px;
  
    width: 70%;
    }

  .footer .container {
    width:  inherit;
    height: auto;
  }

  .footer .nav {
    width: auto;
    /*margin: 0px 30px 0px 0px;*/
  }

  #back-top {
    margin: 0px 0px;
  }

    .menu1 > li > a,
    .menu2 > li > a,
    .menu1 > li:last-child > a,
    .menu2 > li:last-child > a {
        margin-right: 0px;
        margin-left:0px;
        padding-right: 0px;
        padding-left: 0px;
        text-align: center;
}

  .navigation .nav-child {
    left: 50%;
  }

  .custom_splashimagecontainer {
    margin-top: 0px;
  }

  .map_iframe {
    src: url(https://maps.google.com/maps/ms?msa=0&amp;msid=208912939785107525489.0004e2331965d060645bc&amp;ie=UTF8&amp;t=m&amp;ll=43.651975,-79.38343&amp;spn=0.074523,0.102997&amp;z=12&amp;output=embed) !important;
  } 


  .black_line,
  .black_line2 {
    width: 10%;
    margin-top: 2%;
  }
  .wash_fold div {
    width: 80%;
  }
  .moduletable_simple {
    margin-top: 40px;
  }
  
  ul.newsflash-horiz_features.howitworks > li {
        display:block;
        width:80% !important;
    }
    
    #content > .item-page > .btn-group  {
        float:none;
    }
    
    .btn-group > .btn,
    .btn-group > .dropdown-menu {
        margin-left: -82px;
        margin-right: -82px;
        left: 50%;
        right: 50%;
        position: absolute;
        top: 0px;
    }

}



@media (max-width: 480px) {
  #content {
  }
  ul.newsflash-horiz_features li {
    padding-right: 0px;
    padding-left: 0px;
  }
  .custom_splashimage {
    background-size: auto 100%;
  }
  .custom_splashimage img {
    margin-top: 30px;
  }
  
  .custom_splashimage img.simple_anim {
    margin: 0px;
    position: absolute;
    left: 8%;
    width: 22%;
    margin-top: 55px;
  }  

  .black_line,
  .black_line2 {
    margin-top: 11px;
  }
  
  .footer .nav {
      margin-right: 5px;
      margin-top: 50px;
    }
  
}


@media (min-width: 300px) and (max-width: 480px) {
    .menu1 {
    float:left;
    margin-left: 7px;
  }

  .menu2 {
    float:right;
    margin-right: 7px;
  }
  
  .navigation {
      height: 113px;    
  }
  
  .navigation ul.nav-child {
     display:none !important; 
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  body {
  }
  .header {
  }

  .custom_splashimage {
    margin-top: -5px;
    background-size: auto 100%;
  }



  .custom_splashimage img {
    margin-top: 30px;
  }
  .menu1 {
      position: absolute;
        float: left;
        left: 0px;
        top: 30px;
      margin-left: 10px;  
      margin-right: 10px;
      font-size: 14px;
    }  
  .menu2 {
      position: absolute;
        float: right;
        right:0px;
        top: 30px;   
      margin-left: 20px;
      margin-right: 10px;
      font-size: 14px;
    }
    
    .navigation .nav-child {
        display:none !important; 
    }
    
    .custom_splashimage img.simple_anim {
    margin: 0px;
    position: absolute;
    left: 7%;
    width: 22%;
    margin-top: 80px;
  }  

}




@media (min-width: 768px) {

  .custom_splashimage {
    margin-top: -10px;
  }
  .custom_splashimage img {
    margin-top: -70px;
    background-position-y: 60px;
    margin-left: 0px;
  
}
  
  .wash_fold div img {
    /*margin-left: 4px;*/
  }

  .menu1 {
    float:left;
  }

  .menu2 {
    float:right;
    margin-right: 7px;
  }

  #sidebar {
    margin-left: 0px;
  
}

  #sidebar-nav {
    padding: 20px 0px 0px 60px;

  }



  .footer .container {
    width: 90%;
    /*padding: 20px 0px 0px 20px;*/
  }


}

@media (min-width: 768px) and (max-width: 979px) {

  .header .brand {
    background-size: 200px auto;
  }
  .navigation {
    font-size: 14px;
    border-top: 0px;
    border-bottom: 0px;
    padding-left: 20px;
    margin-top: 10px;
  }
  .navigation .item-469 {
    /*margin-left: 31%;*/
  }

  .nav-tabs > li + li > a,
    .nav-pills > li + li > a,
    .nav-tabs > li:last-child > a,
    .nav-pills > li:last-child > a {
    }

  #sidebar {
    margin-left: 10px;
  
}
  .row-fluid .span9 {
    width: 70%;
  }

  #content-container-2 {
    width: 100%;
  }

  #login_menu {
    width: 100%;
  }


  #content-container-2 > div:first-child:nth-last-child(2) ~ div
   {
    width: 75%;
    float: left;
  }
  .custom_splashimage img {
    /*margin-top: -45px;*/
  }

  .black_line,
  .black_line2 {
    margin-top: 1.2%;
    width: 20%;
  }

  .wash_fold div {
    width:60%;
  }
  .wash_fold div img {
    margin-left: 0px;
  }

}



/*================== Shrink the Site so the navigation, images ...etc all fit on one line when width is smaller than 856px! ======================*/

@media (max-width: 767px) {
    body {
        padding: 0 !important;
    }
    
    #main-content {
        padding: 0px 10px 50px;
    }

    .navbar-fixed-top, .navbar-fixed-bottom {
        margin-left: -10px;
        margin-right: -10px;
    }
}

@media (min-width: 768px) and (max-width: 856px) {
  #login_menu {
    /*width: 535px;*/
    margin-left: 0px;
  }

  .header .brand {
    margin-left: 0px;
    background-size: 175px auto;
  }

  .header-search {
    margin-left: 29%;
  }

  .navigation .item-469 {
    /*margin-left: 30%;*/
  }
  .nav-tabs > li > a, .nav-pills > li > a {
    padding-right: 6px;
    padding-left: 6px;
  }


  .nav-tabs > li:last-child > a,
    .nav-pills > li:last-child > a {
      margin-right: 0px;
  }
}

@media (min-width: 768px) and (max-width: 800px) {
  .nav-tabs > li > a, .nav-pills > li > a {
    margin-right: 6px;
    margin-left: 0px;
  }
}


@media (min-width: 480px) and (max-width: 500px) {
  .header .brand {
    float: none;
        margin-left: 12px !important;
    }
    #login_menu {
        margin-left: 12px;
    }
}


@media  (max-width: 900px) {
  ul.newsflash-horiz_features.howitworks > li {
        width: 90% !important;
        padding-right: 30px;  
        padding-left: 30px;
    }
    
    ul.newsflash-horiz_features li,
  ul.newsflash-horiz_features li + li  {
    border-left-width: 2px;
    border-left-color: none;
    border-left-style: none;
    margin-bottom: 25px;
    margin-top: 25px;
    width: 70% !important;
    
    margin-bottom: 0px;  
    padding-bottom: 0px;
}
    
    ul.newsflash-horiz_features.howitworks > li {
        display:block;
        width: 90% !important;
        margin-bottom: 50px;
        float: left;
    }
    
    ul.newsflash-horiz_features.howitworks > li img {
        margin-right: 20px;
    }
    



}

@media (min-width: 980px) {

  .navigation {
    width: 960px;
    margin: 15px auto auto auto;
    border-top: 0px;
    border-bottom: 0px;
    padding-left: 0px;
  }
  .navigation .item-469 {
    /*margin-left: 250px;*/
  }

  .footer .container {
       width: 960px;   
  }
}

@media (min-width: 768px) and (max-width: 1400px){
  .custom_splashimage img {
    max-width: 75%;
    margin-top: -5%;
  }

  ul.newsflash-horiz_features li {
    width: 18%;
  }
  
  .custom_splashimage img.simple_anim {
    margin: 0px;
    position: absolute;
    left: 16%;
    width: 18%;
    top: 120px;
  }  
}

@media (max-height: 768px) and (min-width: 1000px) {
  .custom_splashimage img {
        max-width: 65%;   
     }
     
     .custom_splashimage img.simple_anim {
        margin-left: -50px;
     }
}

@media (max-width: 1075px) {

}


@media (min-width: 1100px) {
  ul.newsflash-horiz_features {
    margin-left: 28px
  }
}

@media (max-width: 1256px) {
  .row-fluid .span9 {
    width: 64%;
  }
}


@media (min-width: 1500px) {
  .black_line,
  .black_line2 {
    width: 27.5%;
  }
  .wash_fold div {
    width: 45%;
  }
}
