/*boostrap mods*/
        
        .btn-primary {
        	margin-top: 3px;
            margin-bottom: 3px;
            background-color: #00537c;
            background-image: -ms-linear-gradient(top, #cacfd2;, #00537c);
            background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cacfd2;), to(#00537c));
            background-image: -webkit-linear-gradient(top, #cacfd2;, #00537c);
            background-image: -o-linear-gradient(top, #cacfd2;, #00537c);
            background-image: -moz-linear-gradient(top, #cacfd2;, #00537c);
            background-image: linear-gradient(to bottom, #cacfd2; 0%,#00537c 100%);
            background-repeat: repeat-x;
            border-color: #00537c!important;    
            filter: progid:dximagetransform.microsoft.gradient(startColorstr='#cacfd2;', endColorstr='#00537c', GradientType=0);
            filter: progid:dximagetransform.microsoft.gradient(enabled=false);
        }
        
        .btn-primary:hover,
        .btn-primary:active,
        .btn-primary.active,
        .btn-primary.disabled,
        .btn-primary[disabled] {
          background-color: #cacfd2;;
          *background-color: #00537c;
        }
        
        .btn-success {
        	margin-top: 3px;
            margin-bottom: 3px;
            background-color: #00537c;
            background-image: -ms-linear-gradient(top, #cacfd2;, #00537c);
            background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cacfd2;), to(#00537c));
            background-image: -webkit-linear-gradient(top, #cacfd2;, #00537c);
            background-image: -o-linear-gradient(top, #cacfd2;, #00537c);
            background-image: -moz-linear-gradient(top, #cacfd2;, #00537c);
            background-image: linear-gradient(top, #cacfd2;, #00537c);
            background-repeat: repeat-x;
            border-color: #00537c!important;
            filter: progid:dximagetransform.microsoft.gradient(startColorstr='#cacfd2;', endColorstr='#00537c', GradientType=0);
            filter: progid:dximagetransform.microsoft.gradient(enabled=false);
        }
        
        .btn-success:hover,
        .btn-success:active,
        .btn-success.active,
        .btn-success.disabled,
        .btn-success[disabled] {
          background-color: #cacfd2;;
          *background-color: #00537c;
        }
        
        .btn-danger {
        	margin-top: 3px;
            margin-bottom: 3px;
            background-color: #00537c;
            background-image: -ms-linear-gradient(top, #cacfd2;, #00537c);
            background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cacfd2;), to(#00537c));
            background-image: -webkit-linear-gradient(top, #cacfd2;, #00537c);
            background-image: -o-linear-gradient(top, #cacfd2;, #00537c);
            background-image: -moz-linear-gradient(top, #cacfd2;, #00537c);
            background-image: linear-gradient(top, #cacfd2;, #00537c);
            background-repeat: repeat-x;
            border-color: #00537c!important;
            filter: progid:dximagetransform.microsoft.gradient(startColorstr='#cacfd2;', endColorstr='#00537c', GradientType=0);
            filter: progid:dximagetransform.microsoft.gradient(enabled=false);
        }
        
        .btn-danger:hover,
        .btn-danger:active,
        .btn-danger.active,
        .btn-danger.disabled,
        .btn-danger[disabled] {
          background-color: #cacfd2;;
          *background-color: #00537c!important;
        }
        
        .btn-info {
        	margin-top: 3px;
            margin-bottom: 3px;
            background-color: #00537c;
            background-image: -ms-linear-gradient(top, #cacfd2;, #00537c);
            background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cacfd2;), to(#00537c));
            background-image: -webkit-linear-gradient(top, #cacfd2;, #00537c);
            background-image: -o-linear-gradient(top, #cacfd2;, #00537c);
            background-image: -moz-linear-gradient(top, #cacfd2;, #00537c);
            background-image: linear-gradient(top, #cacfd2;, #00537c);
            background-repeat: repeat-x;
            border-color: #00537c!important;
            filter: progid:dximagetransform.microsoft.gradient(startColorstr='#cacfd2;', endColorstr='#00537c', GradientType=0);
            filter: progid:dximagetransform.microsoft.gradient(enabled=false);
        }
        
        .btn-info:hover,
        .btn-info:active,
        .btn-info.active,
        .btn-info.disabled,
        .btn-info[disabled] {
          background-color: #cacfd2;;
          *background-color: #00537c;
        }
        
        .calloutBannerPic {
		    width: 60%;
		}
		
		.calloutBannerText div {
			float:none!important;
			font-size: 14px!important;
		}
		
		.pay-option-sub .btn {
			display:inline!important;
	    }
	    
	    .pay-option-icon img,.pay-option-selected img, .pay-option-action img {
			display:inline!important;	    
	    }

	    
	    .kiosk-access-form {	    
	    	width: 476px!important;
	    	height: 194px!important;
	    }
	    
	    .kiosk-access-buttons {		    
		    bottom: 49px;
		    margin-left: 62px;
	    }
	    
	    .breadcrumb {
	    	white-space: nowrap;
	    }
	    
	    .cc-mask {
	        margin-top: 8px;
	    }
	    
	    .kiosk-access-buttons input{
	    	padding: 0px!important;
	    }
	    	    
		#kiosk_cardNumber {
		    text-indent: 9em;
		}	  
		.btn-danger {
			padding:0px!important;
		}
		
		.btn-primary {
			padding:4px 10px 4px 10px!important;
		}		
		.alert>img {
			display:inline;
		}
		#navbar-collapse-01 {
			display:inline;	
		}
		
		@media (min-width: 979px) {
			#navbar-collapse-01 {
				display:inline;	
			}
		}
		
		@media (min-width: 768px) and (max-width: 979px) {
			#navbar-collapse-01 {
				display:none!important;	
			}
		}
		
		@media (max-width: 979px) {
			.navbar-inner {
				margin-top: 110px
			}   
			.navbar .nav>li {
				clear:both;
			}
			
			#navbar-collapse-01 {
				display:none;	
			}
			 #mainContent{
		      	margin-left: 24px;
	    		margin-right: 25px;
		     }			
			.container>.row>.col-md-12{
				background-color: #1A1A1A;
			}
			.breadcrumb {
				margin-top: 44px;
			}
	        .navbar-fixed-top {	        
	          height: 110px !important;
	        }	
	        .navbar-header {
	        	margin-top: 45px;
	        	margin-left: 30px;
	        	height: 100px;	        	
	        }
   	
	        .navbar-fixed-top.is-scrolling, .navbar-fixed-top.innernav {    
    			height: 180px;
	        }
	        
	        .col-lg-12{
		        background-color: #F5F5F5;
	    		margin-top: 40px;
    		}
    		
    		 }
		 
		 #mainContent{
	      	margin-top: 152px;
	      	font-size: 15px;
	      	margin-bottom: 20px;
	     }
	     .page-header {
	         text-align: left;
	         font-size: 35px;
	     }
	     #kiosk_expMo,#kiosk_expYr{
	         font-size: 14px;
	     }
	     h3 {
    		font-size: 20px;
    		font-weight: 700;
	     }
	     h2 {
    		font-size: 21px!important;
    		font-weight: 700;
	     }
	     h4 {
    		font-size: 18px!important;
    		font-weight: 700;
	     }	     
	    li>a {
			font-size: 16px!important;
	    }
	    
	    a:hover, a:focus {
	    	text-decoration: underline;
	    }	
	    
	    input, textarea, select {
	    	font-size: 16px!important;
	    	margin-top: 10px;	   
	    }
	    
	    input {
	    	height: 30px!important;
	    }
	    #kiosk_hours {
	    	font-size: 15px!important;
	    }
	    
	   .navbar .nav>li>a {
	   		color: #000!important;
	   		/*padding: 0px 10px 11px!important;
    		line-height: 0px!important;*/
	   }
	   
	   #account_menu>ul>li>a{
	   		color: #999!important;
	   		
	   }
	   .skrollable-between{
	   		height:	0px!important;
	   }
	   
	   .menu-menu-1-container {
	   		margin-top:45px!important;
	   }
	   .navbar .nav.pull-right  {
    		margin-right: 0;
    		margin-left: 30px;
	   }
	   .menu-menu-1-container>ul>li>a {    
    		padding: 0px 10px 0px!important;
    		line-height: 0px!important;
	   }
		.checkbox input, .radio input {
		    display: inline!important;
		    margin-top: -2px!important;
		}	   
		#emailWindow{
		    margin-top: 14px;
    		margin-bottom: 0px;
		}

