@charset "utf-8";
/* CSS Document */
.sub-menu {
    position: absolute;
    background: #F5F5F5;
    padding: 10px;
    width: 100%;
    display:none;
}
.sub-menu li a{
font-size:13px;
}
.navbar-nav > li:hover .sub-menu{
display:block;
}
.sign-up{
display:none
}
@media all and (max-width:979px) {
.sub-menu {
    position: relative;
}
.navbar-collapse{
overflow:visible !important;
}
}
* {
	margin: 0;
	padding: 0;
}
body {
	font-family:"Century Gothic"
}
.ol, ul, li {  
	list-style: none; 
} 
ul {
	padding: 0;
}
.clear {
	clear: both;
}
a:hover, a:focus {
    color: #000;
    text-decoration: none;
}
p {
	padding:0;
	margin:0;
	font-size: 16px;
}
h1, h2, h3, h4, h5, h6 {
	padding:0;
	margin:0;
	color:#000;
	font-family:"Century Gothic";
	font-weight:normal;
}
a {
	color:#2e2e2e;
}
#about{}
.margint {
	margin:10px 0;
}
.navbar-collapse {
	box-shadow: none;
	padding-left: 0px;
	padding-right: 0px;
}
.margin0{ margin:0 !important;}
.margint5{ margin-top:5px!important;}
.margint10{ margin-top:10px!important;}
.margint20{ margin-top:20px!important;}
.margint30{ margin-top:30px!important;}
.marginb10{ margin-bottom:10px!important;}
.marginb20{ margin-bottom:20px !important;}
.marginb30{ margin-bottom:30px !important;}
.marginb50{ margin-bottom:50px !important;}
.padding0{ padding:0 !important;}
.marginb5{ margin-bottom:5px!important;}
.padding5{ padding:5px !important;}
.padding10{ padding:10px !important;}
.paddingt0{ padding-top:0px !important;}
.paddingL0{ padding-left:0px !important;}
.paddingR0{ padding-right:0px !important;}
.paddingL10{ padding-left:10px !important;}
.padding-t-b10{ padding:10px 0 !important;}
.input-height{ height:31px !important;}
.margin-l-r{ margin:0 15px !important;}
.margin-t-b{ margin:10px 0 !important;}
.margin-t-b-5{ margin:5px 0 !important;}
.margin-b200{ margin-bottom:200px !important;}
.margin-t30{ margin-top:30px !important;}
.margin-t40{ margin-top:40px !important;}
.margin-t200{ margin-top:200px !important;}
.padding-b-200{ padding-bottom:200px !important;}
.padding-right{ padding-right:20px !important;}
/** ------------- header -------------**/
header{ background:#f5f5f5; padding:20px 0 10px 0; }
 .navbar-brand{ padding:0;}
 .navbar-brand img{ width:240px; height:80px;}    
 .imge-responsive{ width:100%;} 
 .navbar-nav > li{padding: 10px 21px;}
.navbar-nav > li > a {font-size:18px; font-weight:normal; padding: 0;}
.navbar-nav > li:last-child{ padding-right:0px;}
.phone{ text-align: right; color:#000; font-size:18px;}
.phone img{ padding-right:5px;}
.navbar { margin-bottom:0px;}
.sign-up{ margin:0; text-align:right;}
.sign-up li{ float:right; padding:0 20px; }
.display{ display:none !important ;}

/** ------------- banner -------------**/
.after-header{ padding-top:113px;}
.testle{ padding:30px 0 20px; border-bottom:1px solid #dcdcdc;}
.testle h3{ font-weight:bold; font-size:18px; text-align:center; color:#2e2e2e;}
.testle p{ line-height:25px; padding:20px 30px 0 30px; color:#878787; font-size:18px; text-align:center;}
 .services{ padding:30px 0; display: inline-block;}
.services h1{ text-align:center; font-size:30px; color:#2e2e2e; font-weight: normal;}
.services p{ padding:0 40px; text-align:center;}
.service-box{ text-align: center;}
.service-box h3{ font-size:16px;  text-align:center;}
.service-box h3 a{color:2e2e2e !important;}
.service-box img{ border:1px solid #2e2e2e; margin:20px 0 10px 0; border-radius:10px;}
.service-box p{ color:#878787; font-size:14px; padding:0; text-align:center; line-height:25px;}
.service-box button{ margin-top:20px; border-radius:0px; color:#000;}
.service-box button:hover, .service-box button.active{color:#000;}
.work{ margin:30px 0 0; border-top:1px solid #dcdcdc; border-bottom:1px solid #dcdcdc; padding:20px 0;}
.work-box img{ border:none; border-radius: 0;}
.work-box p{padding: 0 65px; text-decoration:underline; color:#4d4d4d;}
.plans{ margin:30px 0; text-align: center;}
.plans h2{ text-align:center; font-size:30px; font-weight:normal;}
.plans h2 span{ padding-bottom:5px; border-bottom:2px solid #2e2e2e;}
.plan-box{ margin:10px 15px; border:1px solid #4d4d4d;}
.plan-box li:first-child{ font-size:24px; font-weight:bold; color:#fff; background:#00537c;}
.plan-box li{ text-align:center; padding:10px; font-weight:bold; color:#4d4d4d; font-size:16px; border-bottom:1px solid #4d4d4d; background:#e3e3e3;}
.plan-box li:last-child{ border-bottom:none; background:#acacac; font-size:24px; padding:0;} 
.plan-box li:last-child a{  color:#000; padding:10px; display:block; }
.plan-box li:last-child a:hover{background:#00537c; color:#fff;}
.plans-2{ background:#acacac !important; color:#fff !important; font-size:24px !important;}
.plans h4{ font-size:24px; font-weight:normal; text-align:center; margin:15px 0; color:#4d4d4d;}
.plans h4 a{ color:#00537c; text-decoration:underline;}
.btn-account{ font-size:16px; color:#fff; background:#00537c;  padding:10px 40px; border-radius:0px;}
.about{ padding:30px;}
.about h3{ font:30px; color:#2e2e2e; text-align:center;}
.about p{ font-size:18px; color:#878787; text-align:center; padding:5px 40px;} 
/*************footer****************/
.footer{ background:#f5f5f5; padding:20px 0; border-top:1px solid #4d4d4d; border-bottom:1px solid #4d4d4d;}
.contacts p{ font:16px; color:#4d4d4d; font-weight:bold;}
.contacts p span{ font-size:24px; font-weight:normal;}              
.follow li:first-child{ font-size:24px; font-weight:normal; color:#4d4d4d; border:none; box-shadow:none !important;}
.socail{ text-align:right;}
.copyright{ text-align:center; font-size:16px; font-weight:bold; color:#4d4d4d;}
.phone-width{}
.logo{}
header{ border-bottom:2px solid #d0d0d0;}

/******** toggle *************/
.navbar-toggle {
    border: medium none;
    color: #34495e;
    height: 30px;
    line-height: 30px;
    margin: 0 0 0 21px;
    padding: 0 21px;
}

/******** contact-us ***********/
.contact-us{ margin-top:10px;}
.contact-us h2{ text-align:center; font-size:30px; font-weight:normal;}
.contact-us h2 span{ padding-bottom:5px; border-bottom:3px solid #2e2e2e;}
.contact-form{ text-align:left; margin-top:30px; }
.contact-form h3{ font-size:18px; color:#00537c;}
.contact-form p{ color:#878787; font-size:16px; margin:10px 0;}
.contact-form .form-group input{ border-radius:0; }

.contact-form .form-group label{ color:#00537c;}
.contact-form .form-group input:focus{ border:2px solid #00537c;}
.contact-form .form-group textarea:focus{ border:2px solid #00537c;}
.contact-form .form-group textarea{ border-radius:0px;}
.contact-form .form-group1 input{background: #00537c none repeat scroll 0 0;
    border-radius: 0;
    color: #fff;
    padding: 6px 28px; }
.form-group {
    margin-bottom: 0; position: inherit;
}
.send-mail{ border-radius:0 !important; color:#fff !important; background:#00537c !important;}
.user-address{ text-align:left;}
address{ margin-top:10px;}
address span{ display:block; color: #878787;}
.about-phone{ text-align:left;  background:none; color: #878787; }
.fax{}   
.scroll-to-top {
    background-color: #121212;
    background-image: url("http://www.conciergecleanersatl.com/wp-content/themes/conciergecleanersatl/images/top.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    border-radius: 3px;
    bottom: 30px;
    cursor: pointer;
    display: none;
    height: 50px;
    opacity: 0.9;
    position: fixed;
    right: 30px;
    transition: all 300ms linear 0s;
    width: 50px;
    z-index: 9999;
}
.page-scroll{}
/**************    services-page    ********************/
.services-page{padding: 30px 15px;}
.services-page h1{ text-align:left;}
.services-page p{ padding:0; text-align:left;}
.services-page .service-box{ text-align:left;}
.services-page .service-box h3{ text-align:left; font-size:18px; font-weight:bold;}
.services-page .service-box p{ text-align:left; margin-top:10px; font-size:16px; line-height:30px; color:#00537c;}
.service-box-ad{ border:1px solid #2e2e2e; background:#00537c; color:#fff; border-radius:10px; padding:10px 20px 20px; margin-bottom:20px; box-shadow: 0 0 6px 0 #000;}
.service-box-ad h3{ color:#fff; font-size:24px;}
.box-link li{ font-size:16px; margin-top:10px; background:url(/css/conciergecleanersatl/img/hr.gif) repeat-x bottom;}
.box-link li a{ color:#fff; background:url(/css/conciergecleanersatl/img/arrow_right-16.png) no-repeat scroll left center ; padding-left:25px;}
.color{ color:#2e2e2e;}
.color:hover{ background:#2e2e2e;}
.btn-100{ width:100%}
.table-box{ margin:10px 0; border:1px solid; display: inline-block; }
.table-box h4{ text-align:center; font-size:18px; padding:10px 0;}
.table-box h6{  font-size:16px; padding:10px 0 10px 20px;; color:#2e2e2e; clear: both;}
.detail-box{ margin:20px 0;}
.detail-box h1{ font-size:24px;}
.ul-box{ margin-bottom:0;}
.ul-box input{ border:1px solid; width:50%; padding-left:10px;}
.ul-box li{ float:left; font-size:14px; padding:10px 0;}
.ul-box li span{ padding-left:20px;}
.ul-box-head li{ font-weight:bold;}
.ul-box-back{ background:#f5f5f5;}


/**************    how-its   ********************/
.how-its .service-box {
     min-height: 340px;}
.border-none{ border:none;}
.how-its img.border-none{ border:0;}
.turnarround{}
.important{ background:#E0E0E0; color:#2e2e2e;}
.important h3{ color:#2f2f2f}
.services-page h4{ font-size:20px;}
.technology p{ margin:0 0 10px !important;}


/**************    faqs   ********************/ 

#policy{ display:none;}
#need-p{display:none;}
#still-l{display:none;}
#nearest-l{display:none;}
.service-box h4 a{color:#00537c;}
.faq.service-box p{color:#2e2e2e;}

/**************    login   ********************/
.align{ text-align:center;}
.position-12{}
/**************    profile   ********************/
.profile h3{ font-size:24px;}
.account-manus .box-link li a{ color:#00537c;  background:url(/css/conciergecleanersatl/img/right-16.png) no-repeat scroll left center;}
.account-manus .box-link{}            



/**************     Responsive    ********************/

@media all and (max-width: 1024px) {
.container {
max-width:1000px;
}
}
/* for 980px or less */
@media all and (max-width: 980px) {
.container {
max-width:920px;
}
.service-box img { width:100%;}
.how-its .service-box img { width:auto;}
.service-box.work-box img{ width:auto;}
.work-box p {
    padding: 0px 25px;}
.navbar-brand img {
    height: 65px;
    width: 200px;
}
.navbar-nav > li {
    padding: 10px 15px;
}
.testle p {padding: 20px 0 0;}
.services {
    display: inline-block;
    padding: 15px 0;
}
.services p {
    padding: 0;} 
.plans div{ padding:0 !important;}
.plan-box {
    margin: 10px 5px;
}
.about {
    padding: 15px 0;
}
.about p {padding: 5px 0;}
.footer {padding: 10px 0;}
.position-12{ float: left !important; padding:0;}
}
@media all and (max-width: 900px) {
.container {
max-width:880px;
}

}
@media all and (max-width: 800px) {
.container {
max-width:760px;
}

}
@media all and (max-width: 780px) {
.container {
max-width:760px;
}
}

/* for 768px or less */
@media all and (max-width: 979px) {
.container {
max-width:640px;
}
.navbar-brand img {
    height: 60px;
    width: 170px;
}
.navbar-nav > li {
    padding: 10px;
}
.plan-box li { padding:0;}

}
@media all and (max-width:979px) {
.container {
max-width:600px;
}
.work-box p {
    padding: 0px 0;}
.navbar-nav { float:left !important;}
.phone{ text-align:right; float:right !important;   padding-left:20px;}
.navbar-brand img {
    height: 60px;
    width: 200px;
	 margin:0 auto;
}
.navbar-nav {
    margin: 0;
}
.navbar-brand { width:100%}
.phone { margin-top:10px;}
.navbar-toggle { float:left; margin: 0;}
.plans div {
    padding: 0 100px !important;
}
.plan-box li {
    padding: 10px;
}
.contacts p {
    text-align: center;
}
.socail {
    text-align: center;
}
	.after-header {
    padding-top: 133px;
}
.plans.contact-us div{ padding:5px !important;}
.sign-up{ display:none;}
.display{ display:block !important;}
@media all and (max-width: 600px) {
.container { max-width: 580px;}

}
/* for 480px or less */
@media all and (max-width: 480px) {
.container { max-width:100%;}
.testle p {
    font-size: 14px; line-height: 18px;}
.plans div {
    padding: 0 50px !important;
}
.about p {
    font-size: 14px; line-height: 18px;}

}
@media all and (max-width: 360px) {
.container { max-width: 100%; margin:0 auto; }

}
@media all and (max-width: 320px) {
.container { max-width: 100%; }

}
 @media all and (min-device-width: 979px) and (max-device-width: 1024px) {
}

div.wpcf7 {
	margin: 0;
	padding: 0;
}

div.wpcf7-response-output {
	margin: 2em 0.5em 1em;
	padding: 0.2em 1em;
}

div.wpcf7 .screen-reader-response {
	position: absolute;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	width: 1px;
	margin: 0;
	padding: 0;
	border: 0;
}

div.wpcf7-mail-sent-ok {
	border: 2px solid #398f14;
}

div.wpcf7-mail-sent-ng {
	border: 2px solid #ff0000;
}

div.wpcf7-spam-blocked {
	border: 2px solid #ffa500;
}

div.wpcf7-validation-errors {
	border: 2px solid #f7e700;
}

span.wpcf7-form-control-wrap {
	position: relative;
	
}

span.wpcf7-not-valid-tip {
	color: #f00;
	font-size: 1em;
	display: block;
}

.use-floating-validation-tip span.wpcf7-not-valid-tip { 
	position: absolute;
	top: 20%;
	left: 20%;
	z-index: 100;
	border: 1px solid #ff0000;
	background: #fff;
	padding: .2em .8em;
}

span.wpcf7-list-item {
	margin-left: 0.5em;
}

.wpcf7-display-none {
	display: none;
}

div.wpcf7 img.ajax-loader {
	border: none;
	vertical-align: middle;
	margin-left: 4px;
}

div.wpcf7 div.ajax-error {
	display: none;
}

div.wpcf7 .placeheld {
	color: #888;
}