html {
    background-image:url(/images/laundryboxcleaners/background.png);
    background-repeat: repeat;
    min-height: 1080px;
}

body {
    margin: 0 auto;
    
    background: transparent;

   
}

#site_wrapper {
    background-color: white;
    min-height: 300px;
    margin-top: 50px;
    -webkit-box-shadow: 0 7px 17px rgba(50,50,50,0.5);
    -moz-box-shadow: 0 7px 17px rgba(50,50,50,0.5);
    box-shadow: 0 7px 17px rgba(50,50,50,0.5);

}

.nav_theme {
    background-color: #7DBFCD;
    height: 80px;
    position: relative;
    width: 1220px;
    left: -25px;
    border-radius: 5px;
    
   
}
.nav-btn-right {
    text-align: right;
}


.nav-btn-right>ul {
    margin-right: 0;
}
.wsb-nav ul {
    width: auto;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    float: left;
    margin-right: 5px;
}

.nav-horizontal>ul>li {
    display: inline-block;
    text-align: center;
    vertical-align: top;
   
    
}



.nav_theme ul>li>a {
    padding: 12px 20px 12px;
    text-decoration: none;
    color: #f6f5f2;
    font-family: "Marmelad";
    font-size: 24px;
    display: block;
    position: relative;
    width: 136px;
    line-height: 1.1;
    
}

.nav_theme ul>li>a:hover {
    background-color: #70ABB8;
}

#main_content {
    display: block;
    margin-top: 50px;
    background-color: white;;
}

#pre-footer {
    text-align: center; font-family: 'verdana'; font-size: 18px;
    padding-bottom: 50px;
    color: #666;
}

#footer {
    padding: 20px 0;
}

#social-links {
    float: right;
}

#social-links li {
    display: inline;
}

#footer, .editor_footer {
    margin: 0 auto;
    font-family: 'Dosis',arial;
    font-size: 18px;
    color: #627b10;


}

.editor_footer {
    margin-left: 20px;
}

.btn.btn-primary, .btn.btn-success {

    background-color: #ddd;
    border: 1px solid #666;
    background-image: none;
    filter: none;    
    color: black;
    text-shadow: none;
}

.btn.btn-danger {
    background-image: none;
    filter:none;
    text-shadow:none;
    border: 1px solid #666;
}

i {
    color: black;
    text-shadow: none;
}

.page {
    -webkit-box-shadow: 0 7px 17px rgba(50,50,50,0.5);
    -moz-box-shadow: 0 7px 17px rgba(50,50,50,0.5);
    box-shadow: 0 7px 17px rgba(50,50,50,0.5);
    padding-bottom: 60px;
}

.text-logo {
    font-family: "Marmelad";
    font-size: 88px;
    color: #6c6c6c;
    font-weight: 400;
    text-align: center;
    line-height: 1.2;
    margin-top: 15px;
}


@media (max-width: 767px) {
    
    #site_wrapper div.row {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    body {
        padding-left: 0;
        padding-right: 0;
    }

}