/*
Theme Name: OceanWP Child
Theme URI: https://oceanwp.org/
Description: OceanWP WordPress child theme.
Author: Fifi Creative
Author URI: https://oceanwp.org/
Template: oceanwp
Version: 1.0
*/

/* Parent stylesheet should be loaded from functions.php not using @import */

p.reg-nav {
    background: #256AB0 !important;
    margin-right:10px;
}
p.reg-nav a {
    color: white;
}
p.login-nav, p.reg-nav {
    border: 1px solid #256AB0;
    color: #ffffff !important;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 10px;
}

#bootstrap2x .radio input[type="radio"], 
#bootstrap2x .checkbox input[type="checkbox"] {
    padding: .5em;
}

#bootstrap2x .kiosk-access-buttons {
  left: 10em;
}

#bootstrap2x .kiosk-access-buttons p{
  width: 12em;
  text-align: right;
}

#bootstrap2x #kiosk_expYr, #bootstrap2x #kiosk_expMo {
  width: 3em;
}

label.invalid {
  position: absolute;
  color: red  !important;
  font-size: .6em !important;
  bottom: -0.5em;
}

#bootstrap2x .span4.kiosk-access-form {
    height: 1% !important;
}

@media (max-width: 767px) {
    #bootstrap2x .kiosk-access-buttons {
      left: 8em;
    }

    #bootstrap2x .kiosk-access-buttons p{
      width: 12em;
      text-align: right;
    }
}
