/*
Theme Name: PressBox
Author: Anonymous
Author URI:
Version: 1
Description: PressBox theme for Wordpress
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: pressbox
Tags: one-column, two-columns
Theme URI:
*/

/* =WordPress Core
-------------------------------------------------------------- */



/* main elements */
.product-block .product-list li.margin-set { margin:0 2px 7px 0;}
.inner #content {
  min-height: 375px;
}

.comments,#respond {
 overflow:hidden;
}

.meta { overflow:hidden; padding: 0 0 10px 0; }
.meta ul { margin:0; padding:0;}
.meta li {
	list-style:none;
	float:left;
	padding: 0 5px 0 0;
}

#respond input {
 margin: 5px 0;
 width: 300px;
}
.commentlist {margin:0;}
#comments { overflow:hidden;}
#respond textarea {
 width: 300px;
}
#respond label { display:block;}
#respond #submit {
 width:150px
}

#header .author strong {
    color: #646262;
    font-size: 26px;
}
.commentlist li {
 list-style:none;
 margin:5px;
}
.commentlist li p {
 margin:0 !important;
}
.commentlist li .avatar {
 float: left;
 margin: 5px;
}
.navigation { overflow:hidden;  }
.navigation .next { float:right;}
.navigation .prev { float:left; } 

.wpcf7-form .contact-form span.wpcf7-form-control-wrap {
  display: block;
}
.wpcf7-form .contact-form span.wpcf7-not-valid-tip {
  left: 0;
  padding: 13px;
  position: absolute;
  top: 0;
  width: 249px;
  
}