/*!
 * Bootstrap Responsive v2.3.1
 *
 * Copyright 2012 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world @twitter by @mdo and @fat.
 */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@-ms-viewport {
  width: device-width;
}
.hidden {
  display: none;
  visibility: hidden;
}
.visible-phone {
  display: none !important;
}
.visible-tablet {
  display: none !important;
}
.hidden-desktop {
  display: none !important;
}
.visible-desktop {
  display: inherit !important;
}
@media (min-width: 768px) and (max-width: 979px) {
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important ;
  }
  .visible-tablet {
    display: inherit !important;
  }
  .hidden-tablet {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important;
  }
  .visible-phone {
    display: inherit !important;
  }
  .hidden-phone {
    display: none !important;
  }
}
.visible-print {
  display: none !important;
}
@media print {
  .visible-print {
    display: inherit !important;
  }
  .hidden-print {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .row {
    margin-left: -30px;
    *zoom: 1;
  }
  .row:before,
  .row:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .row:after {
    clear: both;
  }
  [class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 30px;
  }
  .container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 1170px;
  }
  .span12 {
    width: 1170px;
  }
  .span11 {
    width: 1070px;
  }
  .span10 {
    width: 970px;
  }
  .span9 {
    width: 870px;
  }
  .span8 {
    width: 770px;
  }
  .span7 {
    width: 670px;
  }
  .span6 {
    width: 570px;
  }
  .span5 {
    width: 470px;
  }
  .span4 {
    width: 370px;
  }
  .span3 {
    width: 270px;
  }
  .span2 {
    width: 170px;
  }
  .span1 {
    width: 70px;
  }
  .offset12 {
    margin-left: 1230px;
  }
  .offset11 {
    margin-left: 1130px;
  }
  .offset10 {
    margin-left: 1030px;
  }
  .offset9 {
    margin-left: 930px;
  }
  .offset8 {
    margin-left: 830px;
  }
  .offset7 {
    margin-left: 730px;
  }
  .offset6 {
    margin-left: 630px;
  }
  .offset5 {
    margin-left: 530px;
  }
  .offset4 {
    margin-left: 430px;
  }
  .offset3 {
    margin-left: 330px;
  }
  .offset2 {
    margin-left: 230px;
  }
  .offset1 {
    margin-left: 130px;
  }
  .row-fluid {
    width: 100%;
    *zoom: 1;
  }
  .row-fluid:before,
  .row-fluid:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .row-fluid:after {
    clear: both;
  }
  .row-fluid [class*="span"] {
    display: block;
    width: 100%;
    min-height: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-left: 2.564102564102564%;
    *margin-left: 2.4946581196581192%;
  }
  .row-fluid [class*="span"]:first-child {
    margin-left: 0;
  }
  .row-fluid .controls-row [class*="span"] + [class*="span"] {
    margin-left: 2.564102564102564%;
  }
  .row-fluid .span12 {
    width: 100%;
    *width: 99.93055555555556%;
  }
  .row-fluid .span11 {
    width: 91.45299145299145%;
    *width: 91.38354700854701%;
  }
  .row-fluid .span10 {
    width: 82.90598290598291%;
    *width: 82.83653846153847%;
  }
  .row-fluid .span9 {
    width: 74.35897435897436%;
    *width: 74.28952991452992%;
  }
  .row-fluid .span8 {
    width: 65.81196581196582%;
    *width: 65.74252136752138%;
  }
  .row-fluid .span7 {
    width: 57.26495726495726%;
    *width: 57.19551282051282%;
  }
  .row-fluid .span6 {
    width: 48.717948717948715%;
    *width: 48.64850427350427%;
  }
  .row-fluid .span5 {
    width: 40.17094017094017%;
    *width: 40.10149572649573%;
  }
  .row-fluid .span4 {
    width: 31.623931623931625%;
    *width: 31.554487179487182%;
  }
  .row-fluid .span3 {
    width: 23.076923076923077%;
    *width: 23.007478632478634%;
  }
  .row-fluid .span2 {
    width: 14.52991452991453%;
    *width: 14.460470085470085%;
  }
  .row-fluid .span1 {
    width: 5.982905982905983%;
    *width: 5.913461538461538%;
  }
  .row-fluid .offset12 {
    margin-left: 105.12820512820512%;
    *margin-left: 104.98931623931624%;
  }
  .row-fluid .offset12:first-child {
    margin-left: 102.56410256410257%;
    *margin-left: 102.42521367521368%;
  }
  .row-fluid .offset11 {
    margin-left: 96.58119658119658%;
    *margin-left: 96.4423076923077%;
  }
  .row-fluid .offset11:first-child {
    margin-left: 94.01709401709402%;
    *margin-left: 93.87820512820514%;
  }
  .row-fluid .offset10 {
    margin-left: 88.03418803418803%;
    *margin-left: 87.89529914529915%;
  }
  .row-fluid .offset10:first-child {
    margin-left: 85.47008547008548%;
    *margin-left: 85.3311965811966%;
  }
  .row-fluid .offset9 {
    margin-left: 79.48717948717949%;
    *margin-left: 79.3482905982906%;
  }
  .row-fluid .offset9:first-child {
    margin-left: 76.92307692307693%;
    *margin-left: 76.78418803418805%;
  }
  .row-fluid .offset8 {
    margin-left: 70.94017094017094%;
    *margin-left: 70.80128205128206%;
  }
  .row-fluid .offset8:first-child {
    margin-left: 68.37606837606839%;
    *margin-left: 68.2371794871795%;
  }
  .row-fluid .offset7 {
    margin-left: 62.393162393162385%;
    *margin-left: 62.2542735042735%;
  }
  .row-fluid .offset7:first-child {
    margin-left: 59.82905982905982%;
    *margin-left: 59.69017094017094%;
  }
  .row-fluid .offset6 {
    margin-left: 53.84615384615384%;
    *margin-left: 53.707264957264954%;
  }
  .row-fluid .offset6:first-child {
    margin-left: 51.28205128205128%;
    *margin-left: 51.14316239316239%;
  }
  .row-fluid .offset5 {
    margin-left: 45.299145299145295%;
    *margin-left: 45.16025641025641%;
  }
  .row-fluid .offset5:first-child {
    margin-left: 42.73504273504273%;
    *margin-left: 42.59615384615385%;
  }
  .row-fluid .offset4 {
    margin-left: 36.75213675213675%;
    *margin-left: 36.613247863247864%;
  }
  .row-fluid .offset4:first-child {
    margin-left: 34.18803418803419%;
    *margin-left: 34.0491452991453%;
  }
  .row-fluid .offset3 {
    margin-left: 28.205128205128204%;
    *margin-left: 28.06623931623932%;
  }
  .row-fluid .offset3:first-child {
    margin-left: 25.641025641025642%;
    *margin-left: 25.502136752136757%;
  }
  .row-fluid .offset2 {
    margin-left: 19.65811965811966%;
    *margin-left: 19.51923076923077%;
  }
  .row-fluid .offset2:first-child {
    margin-left: 17.094017094017094%;
    *margin-left: 16.955128205128204%;
  }
  .row-fluid .offset1 {
    margin-left: 11.11111111111111%;
    *margin-left: 10.972222222222221%;
  }
  .row-fluid .offset1:first-child {
    margin-left: 8.547008547008547%;
    *margin-left: 8.408119658119658%;
  }
  input,
  textarea,
  .uneditable-input {
    margin-left: 0;
  }
  .controls-row [class*="span"] + [class*="span"] {
    margin-left: 30px;
  }
  input.span12,
  textarea.span12,
  .uneditable-input.span12 {
    width: 1156px;
  }
  input.span11,
  textarea.span11,
  .uneditable-input.span11 {
    width: 1056px;
  }
  input.span10,
  textarea.span10,
  .uneditable-input.span10 {
    width: 956px;
  }
  input.span9,
  textarea.span9,
  .uneditable-input.span9 {
    width: 856px;
  }
  input.span8,
  textarea.span8,
  .uneditable-input.span8 {
    width: 756px;
  }
  input.span7,
  textarea.span7,
  .uneditable-input.span7 {
    width: 656px;
  }
  input.span6,
  textarea.span6,
  .uneditable-input.span6 {
    width: 556px;
  }
  input.span5,
  textarea.span5,
  .uneditable-input.span5 {
    width: 456px;
  }
  input.span4,
  textarea.span4,
  .uneditable-input.span4 {
    width: 356px;
  }
  input.span3,
  textarea.span3,
  .uneditable-input.span3 {
    width: 256px;
  }
  input.span2,
  textarea.span2,
  .uneditable-input.span2 {
    width: 156px;
  }
  input.span1,
  textarea.span1,
  .uneditable-input.span1 {
    width: 56px;
  }
  .thumbnails {
    margin-left: -30px;
  }
  .thumbnails > li {
    margin-left: 30px;
  }
  .row-fluid .thumbnails {
    margin-left: 0;
  }
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
  .dropdown-menu {
    margin: 0;
  }
  .dropdown-toggle .caret {
    display: none;
  }
  .resizeClass {
    float: left;
  }
  /*  ul.nav li.dropdown:hover ul.dropdown-menu{
      display: block;    
  }
  
  
  a.menu:after, .dropdown-toggle:after {
    content: none;
  }
  .menu-item-has-children a{
    .disabled;
  
  }*/
}
@media (min-width: 768px) and (max-width: 979px) {
  .resizeClass {
    float: none;
  }
  .row {
    margin-left: 0px;
    *zoom: 1;
  }
  .row:before,
  .row:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .row:after {
    clear: both;
  }
  [class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 0px;
  }
  .container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 504px;
  }
  .span12 {
    width: 504px;
  }
  .span11 {
    width: 462px;
  }
  .span10 {
    width: 420px;
  }
  .span9 {
    width: 378px;
  }
  .span8 {
    width: 336px;
  }
  .span7 {
    width: 294px;
  }
  .span6 {
    width: 252px;
  }
  .span5 {
    width: 210px;
  }
  .span4 {
    width: 168px;
  }
  .span3 {
    width: 126px;
  }
  .span2 {
    width: 84px;
  }
  .span1 {
    width: 42px;
  }
  .offset12 {
    margin-left: 504px;
  }
  .offset11 {
    margin-left: 462px;
  }
  .offset10 {
    margin-left: 420px;
  }
  .offset9 {
    margin-left: 378px;
  }
  .offset8 {
    margin-left: 336px;
  }
  .offset7 {
    margin-left: 294px;
  }
  .offset6 {
    margin-left: 252px;
  }
  .offset5 {
    margin-left: 210px;
  }
  .offset4 {
    margin-left: 168px;
  }
  .offset3 {
    margin-left: 126px;
  }
  .offset2 {
    margin-left: 84px;
  }
  .offset1 {
    margin-left: 42px;
  }
  .row-fluid {
    width: 100%;
    *zoom: 1;
  }
  .row-fluid:before,
  .row-fluid:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .row-fluid:after {
    clear: both;
  }
  .row-fluid [class*="span"] {
    display: block;
    width: 100%;
    min-height: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-left: 0%;
    *margin-left: -0.06944444444444445%;
  }
  .row-fluid [class*="span"]:first-child {
    margin-left: 0;
  }
  .row-fluid .controls-row [class*="span"] + [class*="span"] {
    margin-left: 0%;
  }
  .row-fluid .span12 {
    width: 99.99999999999999%;
    *width: 99.93055555555554%;
  }
  .row-fluid .span11 {
    width: 91.66666666666666%;
    *width: 91.59722222222221%;
  }
  .row-fluid .span10 {
    width: 83.33333333333331%;
    *width: 83.26388888888887%;
  }
  .row-fluid .span9 {
    width: 74.99999999999999%;
    *width: 74.93055555555554%;
  }
  .row-fluid .span8 {
    width: 66.66666666666666%;
    *width: 66.59722222222221%;
  }
  .row-fluid .span7 {
    width: 58.33333333333333%;
    *width: 58.263888888888886%;
  }
  .row-fluid .span6 {
    width: 49.99999999999999%;
    *width: 49.93055555555555%;
  }
  .row-fluid .span5 {
    width: 41.66666666666666%;
    *width: 41.597222222222214%;
  }
  .row-fluid .span4 {
    width: 33.33333333333333%;
    *width: 33.263888888888886%;
  }
  .row-fluid .span3 {
    width: 24.999999999999996%;
    *width: 24.930555555555554%;
  }
  .row-fluid .span2 {
    width: 16.666666666666664%;
    *width: 16.59722222222222%;
  }
  .row-fluid .span1 {
    width: 8.333333333333332%;
    *width: 8.263888888888888%;
  }
  .row-fluid .offset12 {
    margin-left: 99.99999999999999%;
    *margin-left: 99.8611111111111%;
  }
  .row-fluid .offset12:first-child {
    margin-left: 99.99999999999999%;
    *margin-left: 99.8611111111111%;
  }
  .row-fluid .offset11 {
    margin-left: 91.66666666666666%;
    *margin-left: 91.52777777777777%;
  }
  .row-fluid .offset11:first-child {
    margin-left: 91.66666666666666%;
    *margin-left: 91.52777777777777%;
  }
  .row-fluid .offset10 {
    margin-left: 83.33333333333331%;
    *margin-left: 83.19444444444443%;
  }
  .row-fluid .offset10:first-child {
    margin-left: 83.33333333333331%;
    *margin-left: 83.19444444444443%;
  }
  .row-fluid .offset9 {
    margin-left: 74.99999999999999%;
    *margin-left: 74.8611111111111%;
  }
  .row-fluid .offset9:first-child {
    margin-left: 74.99999999999999%;
    *margin-left: 74.8611111111111%;
  }
  .row-fluid .offset8 {
    margin-left: 66.66666666666666%;
    *margin-left: 66.52777777777777%;
  }
  .row-fluid .offset8:first-child {
    margin-left: 66.66666666666666%;
    *margin-left: 66.52777777777777%;
  }
  .row-fluid .offset7 {
    margin-left: 58.33333333333333%;
    *margin-left: 58.19444444444444%;
  }
  .row-fluid .offset7:first-child {
    margin-left: 58.33333333333333%;
    *margin-left: 58.19444444444444%;
  }
  .row-fluid .offset6 {
    margin-left: 49.99999999999999%;
    *margin-left: 49.86111111111111%;
  }
  .row-fluid .offset6:first-child {
    margin-left: 49.99999999999999%;
    *margin-left: 49.86111111111111%;
  }
  .row-fluid .offset5 {
    margin-left: 41.66666666666666%;
    *margin-left: 41.52777777777777%;
  }
  .row-fluid .offset5:first-child {
    margin-left: 41.66666666666666%;
    *margin-left: 41.52777777777777%;
  }
  .row-fluid .offset4 {
    margin-left: 33.33333333333333%;
    *margin-left: 33.19444444444444%;
  }
  .row-fluid .offset4:first-child {
    margin-left: 33.33333333333333%;
    *margin-left: 33.19444444444444%;
  }
  .row-fluid .offset3 {
    margin-left: 24.999999999999996%;
    *margin-left: 24.86111111111111%;
  }
  .row-fluid .offset3:first-child {
    margin-left: 24.999999999999996%;
    *margin-left: 24.86111111111111%;
  }
  .row-fluid .offset2 {
    margin-left: 16.666666666666664%;
    *margin-left: 16.52777777777778%;
  }
  .row-fluid .offset2:first-child {
    margin-left: 16.666666666666664%;
    *margin-left: 16.52777777777778%;
  }
  .row-fluid .offset1 {
    margin-left: 8.333333333333332%;
    *margin-left: 8.194444444444443%;
  }
  .row-fluid .offset1:first-child {
    margin-left: 8.333333333333332%;
    *margin-left: 8.194444444444443%;
  }
  input,
  textarea,
  .uneditable-input {
    margin-left: 0;
  }
  .controls-row [class*="span"] + [class*="span"] {
    margin-left: 0px;
  }
  input.span12,
  textarea.span12,
  .uneditable-input.span12 {
    width: 490px;
  }
  input.span11,
  textarea.span11,
  .uneditable-input.span11 {
    width: 448px;
  }
  input.span10,
  textarea.span10,
  .uneditable-input.span10 {
    width: 406px;
  }
  input.span9,
  textarea.span9,
  .uneditable-input.span9 {
    width: 364px;
  }
  input.span8,
  textarea.span8,
  .uneditable-input.span8 {
    width: 322px;
  }
  input.span7,
  textarea.span7,
  .uneditable-input.span7 {
    width: 280px;
  }
  input.span6,
  textarea.span6,
  .uneditable-input.span6 {
    width: 238px;
  }
  input.span5,
  textarea.span5,
  .uneditable-input.span5 {
    width: 196px;
  }
  input.span4,
  textarea.span4,
  .uneditable-input.span4 {
    width: 154px;
  }
  input.span3,
  textarea.span3,
  .uneditable-input.span3 {
    width: 112px;
  }
  input.span2,
  textarea.span2,
  .uneditable-input.span2 {
    width: 70px;
  }
  input.span1,
  textarea.span1,
  .uneditable-input.span1 {
    width: 28px;
  }
}
@media (max-width: 767px) {
  #hero-app {
    background: none;
    height: 200px;
  }
  .resizeClass {
    float: none;
  }
  body {
    padding-left: 0;
    padding-right: 0;
  }
  header {
    padding-left: 20px;
    padding-right: 20px;
  }
  .navbar-fixed-top,
  .navbar-fixed-bottom,
  .navbar-static-top {
    margin-left: -20px;
    margin-right: -20px;
  }
  .container-fluid {
    padding: 0;
  }
  .row-fluid {
    text-align: center;
  }
  .accordion,
  .accordion .row-fluid,
  .span6 {
    text-align: left;
  }
  .dl-horizontal dt {
    float: none;
    clear: none;
    width: auto;
    text-align: left;
  }
  .dl-horizontal dd {
    margin-left: 0;
  }
  .container {
    width: auto;
  }
  .row-fluid {
    width: 100%;
  }
  .row,
  .thumbnails {
    margin-left: 0;
  }
  .thumbnails > li {
    float: none;
    margin-left: 0;
  }
  [class*="span"],
  .uneditable-input[class*="span"],
  .row-fluid [class*="span"] {
    float: none;
    display: block;
    width: 100%;
    margin-left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .span12,
  .row-fluid .span12 {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .row-fluid [class*="offset"]:first-child {
    margin-left: 0;
  }
  .input-large,
  .input-xlarge,
  .input-xxlarge,
  input[class*="span"],
  select[class*="span"],
  textarea[class*="span"],
  .uneditable-input {
    display: block;
    width: 100%;
    min-height: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .input-prepend input,
  .input-append input,
  .input-prepend input[class*="span"],
  .input-append input[class*="span"] {
    display: inline-block;
    width: auto;
  }
  .controls-row [class*="span"] + [class*="span"] {
    margin-left: 0;
  }
  .modal {
    position: fixed;
    top: 20px;
    left: 20px;
    right: 20px;
    width: auto;
    margin: 0;
  }
  .modal.fade {
    top: -100px;
  }
  .modal.fade.in {
    top: 20px;
  }
}
@media (max-width: 480px) {
  .nav-collapse {
    -webkit-transform: translate3d(0, 0, 0);
  }
  .page-header h1 small {
    display: block;
    line-height: 30px;
  }
  input[type="checkbox"],
  input[type="radio"] {
    border: 1px solid #ccc;
  }
  .form-horizontal .control-label {
    float: none;
    width: auto;
    padding-top: 0;
    text-align: left;
  }
  .form-horizontal .controls {
    margin-left: 0;
  }
  .form-horizontal .control-list {
    padding-top: 0;
  }
  .form-horizontal .form-actions {
    padding-left: 10px;
    padding-right: 10px;
  }
  .media .pull-left,
  .media .pull-right {
    float: none;
    display: block;
    margin-bottom: 10px;
  }
  .media-object {
    margin-right: 0;
    margin-left: 0;
  }
  .modal {
    top: 10px;
    left: 10px;
    right: 10px;
  }
  .modal-header .close {
    padding: 10px;
    margin: -10px;
  }
  .carousel-caption {
    position: static;
  }
}
@media (max-width: 979px) {
  body {
    padding-top: 0;
  }
  .navbar-fixed-top,
  .navbar-fixed-bottom {
    position: static;
  }
  .navbar-fixed-top {
    margin-bottom: 0;
  }
  .navbar-fixed-bottom {
    margin-top: 30px;
  }
  .navbar-fixed-top .navbar-inner,
  .navbar-fixed-bottom .navbar-inner {
    padding: 5px;
  }
  .navbar .container {
    width: auto;
    padding: 0;
  }
  .navbar .brand {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 0 0 -5px;
  }
  .nav-collapse {
    clear: both;
  }
  .nav-collapse .nav {
    float: none;
    margin: 0 0 15px;
  }
  .nav-collapse .nav > li {
    float: none;
  }
  .nav-collapse .nav > li > a {
    margin-bottom: 2px;
  }
  .nav-collapse .nav > .divider-vertical {
    display: none;
  }
  .nav-collapse .nav .nav-header {
    color: #777777;
    text-shadow: none;
  }
  .nav-collapse .nav > li > a,
  .nav-collapse .dropdown-menu a {
    padding: 9px 15px;
    font-weight: bold;
    color: #777777;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  .nav-collapse .btn {
    padding: 4px 10px 4px;
    font-weight: normal;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
  .nav-collapse .dropdown-menu li + li a {
    margin-bottom: 2px;
  }
  .nav-collapse .nav > li > a:hover,
  .nav-collapse .nav > li > a:focus,
  .nav-collapse .dropdown-menu a:hover,
  .nav-collapse .dropdown-menu a:focus {
    background-color: #f2f2f2;
  }
  .navbar-inverse .nav-collapse .nav > li > a,
  .navbar-inverse .nav-collapse .dropdown-menu a {
    color: #999999;
  }
  .navbar-inverse .nav-collapse .nav > li > a:hover,
  .navbar-inverse .nav-collapse .nav > li > a:focus,
  .navbar-inverse .nav-collapse .dropdown-menu a:hover,
  .navbar-inverse .nav-collapse .dropdown-menu a:focus {
    background-color: #111111;
  }
  .nav-collapse.in .btn-group {
    margin-top: 5px;
    padding: 0;
  }
  .nav-collapse .dropdown-menu {
    position: static;
    top: auto;
    left: auto;
    float: none;
    display: none;
    max-width: none;
    margin: 0 15px;
    padding: 0;
    background-color: transparent;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .nav-collapse .open > .dropdown-menu {
    display: block;
  }
  .nav-collapse .dropdown-menu:before,
  .nav-collapse .dropdown-menu:after {
    display: none;
  }
  .nav-collapse .dropdown-menu .divider {
    display: none;
  }
  .nav-collapse .nav > li > .dropdown-menu:before,
  .nav-collapse .nav > li > .dropdown-menu:after {
    display: none;
  }
  .nav-collapse .navbar-form,
  .nav-collapse .navbar-search {
    float: none;
    padding: 15px 15px;
    margin: 15px 0;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);
  }
  .navbar-inverse .nav-collapse .navbar-form,
  .navbar-inverse .nav-collapse .navbar-search {
    border-top-color: #111111;
    border-bottom-color: #111111;
  }
  .navbar .nav-collapse .nav.pull-right {
    float: none;
    margin-left: 0;
  }
  .nav-collapse,
  .nav-collapse.collapse {
    overflow: hidden;
    height: 0;
  }
  .navbar .btn-navbar {
    display: block;
  }
  .navbar-static .navbar-inner {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 979px + 1) {
  .nav-collapse.collapse {
    height: auto !important;
    overflow: visible !important;
  }
}
