/*
Theme Name: zoom-boot
Description: Responsive Theme designed for SoapBox based off of the Bootstrap WP framework created by 320Press
Version: 1.0
Author: Zack Mitchell
*/

/* micro clearfix: http://nicolasgallagher.com/micro-clearfix-hack/ */
/* For modern browsers */

.wpcf7-response-output {
  border: 2px solid #a7b658 !important;
  border-radius: 5px !important;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

/* For IE 6/7 (trigger hasLayout) */
.clearfix {
  zoom: 1;
}

/* wp-specific classes */
.wp-caption {}

.wp-caption-text {}

.sticky {}

.gallery-caption {}

/* layout */

body {
  padding-top: 0;
}

/* Admin Top Navigation fixes */

body.admin-bar .navbar-fixed-top {
  top: 28px;
}

.navbar .brand {
  color: #000;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 30px rgba(255, 255, 255, 0.125);
  font-weight: bold !important;
}

.nav-container {
  padding-left: 0;
  padding-right: 0;
}

#inner-header {
  width: 100%;
}

input, textarea, select, .uneditable-input {
  margin-bottom: 0;
}

.navbar-form, .navbar-search {
  margin: 0 0 9px;
}

.navbar-search {
  padding-left: 0;
}

#s {
  width: 100px;
}

#content {
  padding: 10px 0 0;
}

.more-link {
  white-space: nowrap;
}

.footer-links {
  float: right;
  margin-bottom: 18px;
}

.footer-links .menu {
  list-style-type: none;
  margin-left: 0;
}

.footer-links .menu li {
  float: left;
  margin-left: 10px;
}

/* post styling */

#main p.meta {
  font-style: italic;
  color: #808080;
}

#main article {
  margin-bottom: 18px;
  border-bottom: 1px solid #eeeeee;
  padding: 0 0 9px;
}

#main article footer {
  border-top: none;
  margin-top: 0;
  padding-top: 0;
  position: relative;
  min-height: 20px;
}

#main article footer a.edit-post {
  position: absolute;
  right: 0;
  top: 0;
  display: none;
}

.post:hover a.edit-post {
  display: inline;
}

/* Shared Post Format styling */
article.format-quote footer.entry-meta,
article.format-link footer.entry-meta,
article.format-status footer.entry-meta {
  font-size: 11px;
  font-size: 0.785714286rem;
  line-height: 2.181818182;
}

/* =Aside post format
-------------------------------------------------------------- */
#main article.format-aside {
  padding: 0;
}

article.format-aside h1 {
  margin-bottom: 24px;
  margin-bottom: 1.714285714rem;
}

article.format-aside h1 a {
  text-decoration: none;
}

article.format-aside h1 a:hover {}

article.format-aside .aside {
  padding: 24px 24px 0;
  padding: 1.714285714rem;
  border-left: 22px solid;
}

article.format-aside p {
  font-size: 13px;
  font-size: 0.928571429rem;
  line-height: 1.846153846;
}

article.format-aside blockquote:last-child,
article.format-aside p:last-child {
  margin-bottom: 0;
}

article.format-aside footer.aside {
  padding: 24px 24px 0;
  padding: 1.714285714rem;
  border-left: 22px solid;
}

/* Image posts */
article.format-image footer h1 {
  font-size: 13px;
  font-size: 0.928571429rem;
  line-height: 1.846153846;
  font-weight: normal;
}

article.format-image footer h2 {
  font-size: 11px;
  font-size: 0.785714286rem;
  line-height: 2.181818182;
}

article.format-image footer a h2 {
  font-weight: normal;
}

/* Link posts */
article.format-link header {
  padding: 0 10px;
  padding: 0 0.714285714rem;
  float: right;
  font-size: 11px;
  font-size: 0.785714286rem;
  line-height: 2.181818182;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
  color: #848484;
  background-color: #ebebeb;
  border-radius: 3px;
}

article.format-link .entry-content {
  max-width: 80%;
  float: left;
}

article.format-link .entry-content a {
  font-size: 22px;
  font-size: 1.571428571rem;
  line-height: 1.090909091;
  text-decoration: none;
}

article.format-link footer.entry-meta {
  clear: both;
}

/* Quote posts */
article.format-quote .entry-content p {
  margin: 0;
  padding-bottom: 24px;
  padding-bottom: 1.714285714rem;
}

article.format-quote .entry-content blockquote {
  display: block;
  padding: 24px 24px 0;
  padding: 1.714285714rem 1.714285714rem 0;
  font-size: 15px;
  font-size: 1.071428571rem;
  line-height: 1.6;
  font-style: normal;
}

article.format-quote .entry-content blockquote p:before {
  content: "\201C  ";
  font-size: 2rem;
}

article.format-quote .entry-content blockquote p:after {
  content: " \201D ";
  font-size: 2rem;
}

/* Status posts */
.format-status .entry-header {
  margin-bottom: 24px;
  margin-bottom: 1.714285714rem;
}

.format-status .entry-header header {
  display: inline-block;
}

.format-status .entry-header h1 {
  font-size: 15px;
  font-size: 1.071428571rem;
  font-weight: normal;
  line-height: 1.6;
  margin: 0;
}

.format-status .entry-header h2 {
  font-size: 12px;
  font-size: 0.857142857rem;
  font-weight: normal;
  line-height: 2;
  margin: 0;
}

.format-status .entry-header header a {
  color: #757575;
}

.format-status .entry-header header a:hover {
  color: #21759b;
}

.format-status .entry-header img {
  float: left;
  margin-right: 21px;
  margin-right: 1.5rem;
}

p.tags {
  line-height: 20px;
}

div[id*='attachment_'] {
  max-width: 100%;
  height: 100%;
}

#credit320 {
  background: url("images/320press_mini.png") no-repeat left top transparent;
  padding-left: 20px;
}

#main .hero-unit img {
  margin-bottom: 1em;
}

#main article img {
  height: auto;
  max-width: 100%;
}

img.alignleft {
  margin-right: 10px;
  float: left;
}

img.alignright {
  margin-left: 10px;
  float: right;
}

img.aligncenter {
  display: block;
  margin: 0 auto;
}

.post header img {
  margin-bottom: 18px;
}

.archive #main .post h3 {
  line-height: 24px;
  margin-bottom: 10px;
}

video {
  max-width: 100%;
  height: auto;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-wrapper {
  width: 630px;
  max-width: 100%;
  margin-bottom: 18px;
}

/* page styling */

#featured-carousel .item {
  width: 970px;
  height: 600px;
}

.carousel-caption p {
  display: none;
}

.page-template-page-homepage-php #main article {
  border-bottom: none;
}

.blog .hero-unit {
  padding: 1em;
}

.page-template-page-homepage-php .hero-unit {
  padding: 0;
}

.imgWrapper {
  width: 100%;
  max-height: 400px;
  position: relative;
  overflow: hidden;
}

.imgWrapper img {
  height: 100%;
  width: 100%;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
  /*background-size: cover;*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: -300px;
}

@media (max-width: 767px) {
  .imgWrapper img {
    margin-top: 0;
  }
}

.hero-unit h1 {
  font-size: 3em;
}

/* comments */

#comments {
  line-height: 24px;
  margin-bottom: 18px;
}

ol.commentlist,
ol.commentlist ul.children {
  list-style-type: none;
  margin-left: 0;
}

.comment .vcard > div {
  margin-top: 8px;
  padding: 0 10px;
}

ol.commentlist time {
  font-size: .8em;
  color: #eeeeee;
}

ol.commentlist div.comment-author {
  position: relative;
}

ol.commentlist a.comment-edit-link {
  color: #ffffff;
  text-decoration: none;
  padding-left: 5px;
}

ol.commentlist span.edit-comment {
  position: absolute;
  right: 0;
  top: 8px;
}

ol.commentlist li.bypostauthor {
  background-color: #dddddd;
}

ol.commentlist ul.children li {
  background-color: #cccccc;
}

ol.commentlist ul.children li ul.children li {
  background-color: #bbbbbb;
}

ol.commentlist ul.children li ul.children li ul.children li {
  background-color: #aaaaaa;
}

ol.commentlist article {
  border-bottom: none !important;
}

a.comment-reply-link {
  position: absolute;
  right: 0;
  bottom: 0;
}

#comment-nav ul {
  list-style-type: none;
  margin: 0;
}

#comment-form-elements {
  list-style-type: none;
  margin: 0;
}

.comment .vcard .avatar {
  padding-right: 0;
}

.comment .vcard .comment-text {
  margin-left: 0;
}

img.avatar {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #dedede;
  border-right: 1px solid #dedede;
  border-left: 1px solid #ddd;
}

ol.commentlist li {
  padding-right: 10px;
  background-color: #F0F0F0;
}

#pings {
  margin-bottom: 9px;
}

ol.pinglist {
  list-style-type: none;
  margin: 0 0 9px 0;
}

#comment {
  width: 270px;
}

ol.commentlist #respond {
  padding: 5px 10px;
}

/* specific post-type styles */

/* image attachment */

.attachment #main .post_content img {
  max-width: 100%;
}

.ie8 #main .media-grid img {
  max-height: none !important;
  max-width: none !important;
}

.attachment-img {
  margin-bottom: 18px;
}

.metadata p.alert-message {
  margin-right: 0;
  margin-bottom: 18px;
}

#gallery-nav {
  list-style-type: none;
  margin-left: 0;
}

li.next a, li.previous a {
  position: relative;
}

li.next a:hover:before {
  content: "\2190";
  position: absolute;
  display: block;
  top: 42%;
  left: 0;
  background-color: #BFBFBF;
  color: #444;
  width: 20px;
  height: 20px;
  padding-left: 5px;
  text-decoration: none;
  box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}

li.previous a:hover:before {
  content: "\2192";
  position: absolute;
  display: block;
  top: 42%;
  right: 0;
  background-color: #BFBFBF;
  color: #444;
  width: 20px;
  height: 20px;
  padding-left: 5px;
  text-decoration: none;
  box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}

/* widget styles */

.widget {
  margin-bottom: 18px;
}

.widgettitle {
  margin-bottom: 9px;
}

#tag-cloud {
  margin-bottom: 18px;
  line-height: 160%;
}

/* for some reason the bs version currently available for download doesn't have this style */
.label {
  text-transform: uppercase;
}

/* override standard link hover for the tag cloud widget */
#tag-cloud a:hover,
.tags a:hover {
  color: #ffffff;
  text-decoration: none;
}

#tag-cloud a {
  white-space: pre;
  text-transform: uppercase;
}

/* change default form padding for search */

.widget_search form {
  padding-left: 0;
}

.widget_search input {
  width: 121px;
}

/* calendar widget */

#calendar_wrap {
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 5px;
}

#wp-calendar {
  width: 100%;
}

#wp-calendar caption {
  font-weight: bold;
  padding: 8px;
}

#wp-calendar tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

#wp-calendar tr:last-child {
  border-bottom: none;
}

#wp-calendar td {
  text-align: center;
  padding: 8px 0;
}

blockquote.pull-left {
  padding-right: 15px;
}

@media only screen and (min-width: 768px) {
  .carousel-caption p {
    display: block;
  }
}

@media only screen and (min-width: 980px) {
  body {
    padding-top: 70px;
  }
  header .container-fluid {
    max-width: 970px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  .container-fluid {
    max-width: 100%;
    margin: 26px auto 0;
  }
  .row-fluid {
    max-width: 970px;
    margin: 0 auto;
  }
  #inner-footer {
    padding: 0;
  }
  #content {
    padding-left: 0;
    padding-right: 0;
  }
  .topbar-inner {
    padding: 0;
  }
  .topbar form.pull-right {
    float: right;
  }
  .navbar-form, .navbar-search {
    margin-top: 6px;
    margin-bottom: 0;
  }
  .navbar-search {
    padding-left: 0;
  }
  .sidebar {
    margin-top: 0 !important;
  }
  .widget_search input {
    width: 230px;
  }
  .blog .hero-unit {
    margin-top: 10px;
  }
  .page-template-page-homepage-php .hero-unit,
  .blog .hero-unit {
    //padding: 60px;
    margin-bottom: 0px;
  }
  .hero-unit h1 {
    font-size: 45px;
  }
  /* hide edit comment button and show on hover on desktop version */
  .edit-comment {
    display: none;
  }
  .vcard:hover .edit-comment {
    display: inline-block;
  }
  #s {
    width: 210px;
    margin-bottom: 6px;
  }
  .widget_search input {
    width: 209px;
  }
  .comment .vcard .comment-text {
    padding-left: 0;
    padding-right: 0;
  }
}