#wrapper {
    padding-top: 0;
    text-align: left;
    width: 976px;
    margin: 0 auto;
}
body {
    font-family: arial, helvetica, sans-serif;
    margin: 0;
}
a.navText {
    color: #666;
    font-size: 12pt;
    font-style: normal;
    padding-top: 9px;
    text-decoration: none;
    margin-left: 45px
}
.navLink {
    color: #666;
    text-decoration: none;
}
h1 {
    color: #266CAC;
    font-size: 25px;
    font-family: arial, helvetica, sans-serif;
    font-weight: 700;
    letter-spacing: -1px;
    text-decoration: none;
    text-transform: capitalize;
    margin: 0;
}
#h1how a:link,
h1 a:visited {
    color: #266CAC;
}
#h1how a:hover {
    color: #266CAC;
}
h2 {
    color: #266CAC;
    font-size: 18px;
    font-family: arial, helvetica, sans-serif;
    text-decoration: none;
    text-transform: capitalize;
    margin: 0 auto;
    line-height: 21px;
}
div.hr {
    background: url(/images/hr.gif) repeat scroll center center transparent;
    height: 1px;
}
.hrPricing {
    border: 1px dotted silver;
    display: block;
    clear: both;
    margin: 15px 0;
}
div.hr hr {
    display: none;
}
.datagrid,
.datagridFull {
    border-collapse: collapse;
    border-width: 0;
}
.th,
th,
.datagrid th,
.datagridFull th {
    border-bottom: 1px solid silver;
    border-right: 1px solid silver;
    font-size: 100%;
    font-weight: 700;
    height: 26px;
    padding-left: 6px;
    padding-right: 6px;
    text-align: center;
}
.td,
td {
    font-size: 90%;
}
.datagrid td,
.datagridFull td,
.leftCol,
.tdd {
    font-size: 90%;
    padding: 6px;
}
.leftCol {
    /*border-left:1px solid silver;*/
}
.tdd,
.leftCol {
    /*border-right:1px solid silver;*/
}
.datagrid td,
.datagridFull td {
    border-bottom: 1px dotted silver;
    /*border-right:1px solid silver;*/
}
.pricingTable {
    background-color: #EAF2FB;
    float: left;
    margin-top: 2px;
    /*width:550px;*/
    
    width: 100%;
    /*padding:10px;*/
}
.homeWhiteBig {
    color: #fff;
    font-size: 33px;
    line-height: 35px;
}
.homeWhiteMed {
    color: #fff;
    font-size: 22px;
    line-height: 25px;
    text-decoration: none;
    padding-top: 5px;
}
.homeWhiteSmall {
    color: #fff;
    font-size: 13px;
    line-height: 23px;
    text-decoration: none;
}
.homeWhiteSelected {
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    line-height: 23px;
    text-decoration: none;
}
.blackText {
    color: #000;
    font-size: 15px;
    font-weight: 700;
}
.buttonWhiteText {
    color: #fff;
    font-size: 16px;
    padding-top: 0px;
    font-weight: bolder;
    text-decoration: none;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.bodyBig,
.bodyReg {
    color: #266CAC;
    font-size: 17px;
    line-height: 23px;
}
.formText,
.requiredText,
.bodyReg {
    color: #266CAC;
    font-size: 14px;
    line-height: 19px;
}
.graySmall {
    color: #666;
    font-size: 13px;
    line-height: 18px;
}
.grayReg {
    color: #666;
    font-size: 15px;
    line-height: 19px;
}
.grayBig {
    color: #666;
    font-size: 18px;
    line-height: 22px;
}
.grayHuge {
    color: #666;
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
}
.greenLink {
    color: #6D9E2C;
    font-weight: 700;
    font-size: 12px;
    text-transform: capitalize;
}
.whiteLink {
    color: #fff;
    text-decoration: none;
}
a.whitelink:visited {
    color: #fff;
}
.errorText,
.error {
    color: Red;
    font-size: 17px;
    font-weight: 700;
}
.headingGreen {
    color: #6D9E2C;
    font-size: 18px;
    text-decoration: none;
    text-align: left;
}
.headingBlue,
.bodyBold {
    color: #266CAC;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    margin: 0 auto;
}
.btnLink_short,
.btnLink_long,
.btnLink_med,
.btnLink_greenNav,
.btnLinkGreen_med,
.btnLinkGreen_huge,
.btnLink {
    border: 0 none;
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: 700;
    height: 29px;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    white-space: nowrap;
}
.btnLink_short sup,
.btnLink_med sup,
.btnLink_long sup,
.btnLink_greenNav sup,
.btnLinkGreen_huge sup,
.btnLinkGreen_med sup,
.btnLink sup {
    font-size: 7px;
}
.btnLink_short:hover {
    background-image: url(/images/button_blueSm_hover.gif);
    text-decoration: underline;
}
.btnLink_med:hover {
    background-image: url(/images/button_blueMed_hover.gif);
    text-decoration: underline;
}
.btnLink_long:hover {
    background-image: url(/images/button_blueLg_hover.gif);
    text-decoration: underline;
}
.btnLink_short {
    background: url(/images/button_blueSm.gif) no-repeat scroll 0 0 transparent;
    width: 90px;
    padding: 4px 0 0;
}
.btnLink_med {
    background: url(/images/button_blueMed.gif) no-repeat scroll 0 0 transparent;
    width: 160px;
    padding: 0 0 6px;
}
.btnLink_long {
    background: url(/images/button_blueLg.gif) no-repeat scroll 0 0 transparent;
    width: 192px;
    padding: 0 0 6px;
}
.btnLinkLong {
    font-size: 10px;
    line-height: 15px;
    width: 193px;
    padding: 0 0 5px 44px;
}
.btnLinkGreen_med {
    background: url(/images/button_greenBig.jpg) no-repeat scroll 0 0 transparent;
    height: 50px;
    width: 162px;
    padding: 0 0 5px;
}
.btnLinkGreen_huge {
    background: url(/images/button_greenHuge.jpg) no-repeat scroll 0 0 transparent;
    height: 47px;
    width: 267px;
    padding: 0 0 0px;
    font-size: 20px;
    padding-top: 18px;
}
.btnLink_greenNav {
    background: url(/images/button_greenNav.jpg) no-repeat scroll 0 0 transparent;
    height: 60px;
    width: 180px;
    padding: 0 0 6px;
}
.datagridFull th,
.datagridFull td {
    /*border-bottom:1px solid silver;border-left:1px solid silver;border-top:1px solid silver;*/
}
.green {
    color: #6D9E2C;
}
#homeBannerCta {
    margin: 10px 0 0 0;
}
#btnSignIn {
    padding: 5px 33px;
    font-weight: bold;
    font-size: 16px;
}
ul.inline {
    list-style: none;
}
ul.inline li {
    display: inline-block;
}
.invalid {
    color: red;
}
.laundry_plan .green {
    color: #6D9E2C;
    background: white !important;
    border: none;
    filter: none;
}
.row-fluid [class*="span"].center,
.center {
    margin: 0 auto;
    float: none;
}
.navbar-inner-menu {
    min-height: 35px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #fafafa;
    background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
    background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
    background-repeat: repeat-x;
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}
.navbar .nav>li>a {
    float: none;
    padding: 9px 10px 11px;
    line-height: 19px;
    color: #666;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.navbar .nav>li>a:hover {
    text-decoration: underline;
    color: #266CAC;
}
#btnSignIn {
    padding: 5px 30px;
    font-weight: bold;
    font-size: 16px;
}
#signInWrapper {
    width: 145px;
    padding: 10px;
    background-color: #d5e5f5;
    float: right;
    border-radius: 3px;
    margin-top: 5px;
    text-align: center;
}
#getStartedWrapper {
    display: block;
    clear: both;
    float: right;
    margin-top: 5px;
}
#homeBanner {
    background: #103f75;
    /* Old browsers */
    
    background: -moz-linear-gradient(top, #103f75 0%, #3e7bb4 100%);
    /* FF3.6+ */
    
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #103f75), color-stop(100%, #3e7bb4));
    /* Chrome,Safari4+ */
    
    background: -webkit-linear-gradient(top, #103f75 0%, #3e7bb4 100%);
    /* Chrome10+,Safari5.1+ */
    
    background: -o-linear-gradient(top, #103f75 0%, #3e7bb4 100%);
    /* Opera 11.10+ */
    
    background: -ms-linear-gradient(top, #103f75 0%, #3e7bb4 100%);
    /* IE10+ */
    
    background: linear-gradient(to bottom, #103f75 0%, #3e7bb4 100%);
    /* W3C */
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#103f75', endColorstr='#3e7bb4', GradientType=0);
    /* IE6-9 */
    
    -webkit-box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.75);
    border-radius: 5px;
    padding: 30px;
    height: 220px;
    margin-bottom: 10px;
}
.btn-home {
    font-weight: bold;
}
/* New Styles */

.hero-block {
    background: #0f4174;
    /* Old browsers */
    
    background: -moz-linear-gradient(top, #0f4174 0%, #3e7bb4 100%);
    /* FF3.6+ */
    
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0f4174), color-stop(100%, #3e7bb4));
    /* Chrome,Safari4+ */
    
    background: -webkit-linear-gradient(top, #0f4174 0%, #3e7bb4 100%);
    /* Chrome10+,Safari5.1+ */
    
    background: -o-linear-gradient(top, #0f4174 0%, #3e7bb4 100%);
    /* Opera 11.10+ */
    
    background: -ms-linear-gradient(top, #0f4174 0%, #3e7bb4 100%);
    /* IE10+ */
    
    background: linear-gradient(to bottom, #0f4174 0%, #3e7bb4 100%);
    /* W3C */
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#0f4174', endColorstr='#3e7bb4', GradientType=0);
    /* IE6-9 */
}
.calloutBanner {
    background: #f5f7f2;
    /* Old browsers */
    
    background: -moz-linear-gradient(top, #f5f7f2 0%, #ffffff 71%, #dee2d4 100%);
    /* FF3.6+ */
    
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f7f2), color-stop(71%, #ffffff), color-stop(100%, #dee2d4));
    /* Chrome,Safari4+ */
    
    background: -webkit-linear-gradient(top, #f5f7f2 0%, #ffffff 71%, #dee2d4 100%);
    /* Chrome10+,Safari5.1+ */
    
    background: -o-linear-gradient(top, #f5f7f2 0%, #ffffff 71%, #dee2d4 100%);
    /* Opera 11.10+ */
    
    background: -ms-linear-gradient(top, #f5f7f2 0%, #ffffff 71%, #dee2d4 100%);
    /* IE10+ */
    
    background: linear-gradient(to bottom, #f5f7f2 0%, #ffffff 71%, #dee2d4 100%);
    /* W3C */
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f5f7f2', endColorstr='#dee2d4', GradientType=0);
    /* IE6-9 */
    
    height: 130px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.51);
    -moz-box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.51);
    box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.51);
    margin-bottom: 20px;
    display: block;
    clear: both;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
}
.calloutSpecial {
    background-color: #EAF2FB;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.51);
    -moz-box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.51);
    box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.51);
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
}
.blueGradient {
    background: #103f75;
    /* Old browsers */
    
    background: -moz-linear-gradient(top, #103f75 0%, #3e7bb4 100%);
    /* FF3.6+ */
    
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #103f75), color-stop(100%, #3e7bb4));
    /* Chrome,Safari4+ */
    
    background: -webkit-linear-gradient(top, #103f75 0%, #3e7bb4 100%);
    /* Chrome10+,Safari5.1+ */
    
    background: -o-linear-gradient(top, #103f75 0%, #3e7bb4 100%);
    /* Opera 11.10+ */
    
    background: -ms-linear-gradient(top, #103f75 0%, #3e7bb4 100%);
    /* IE10+ */
    
    background: linear-gradient(to bottom, #103f75 0%, #3e7bb4 100%);
    /* W3C */
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#103f75', endColorstr='#3e7bb4', GradientType=0);
    /* IE6-9 */
    
    -webkit-box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.75);
}
.calloutBannerPic {
    float: left;
    width: 40%
}
.calloutBannerText {
    float: left;
    width: 50%;
    margin-left: 5%;
    text-align: left;
}
.calloutBannerPicc20 {
    float: left;
    width: 30%
}
.calloutBannerTextc20 {
    float: left;
    width: 60%;
    margin-left: 5%;
    text-align: left;
}
.calloutServices {
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.calloutServices .homeWhiteMed {
    text-align: center;
}
#footerInner {
    background: #12447B;
    border-top: 5px solid #acd2e9;
}
ul#footerServices {
    margin: 0;
    min-height: 140px;
}
ul#footerServices li {
    vertical-align: top;
}
#footerServices li:first-child {
    margin-right: 10px;
}
.footerSpan {
    border-right: 1px dotted #eee;
    padding: 30px;
    margin-top: 15px;
    height: 195px;
    color: white;
    text-align: left;
}
#calloutLeft {
    margin-left: 5px;
    float: left;
}
.calloutH1 {
    font-size: 25px;
}
.calloutH2 {
    font-size: 18px;
}
#fourSteps {
    margin-left: 5px;
}
#fourSteps li {
    margin-right: 5px;
    vertical-align: top;
    float: left;
    text-align: center;
}
#fourSteps li img {
    width: 85%;
    height: 85%;
}
#fourSteps li.last {
    margin-right: 0px;
}
.questionsWrapper {
    float: left;
    width: 800px;
    margin-left: -161px;
    padding-left: 161px;
    border: 1px solid Gray;
    border-radius: 5px;
    padding-top: 6px;
    margin-bottom: 10px;
}
.questionsSection {
    float: left;
    width: 150px;
    margin-top: 20px;
    margin-left: 10px;
}
.questionsList {
    float: left;
    margin-top: 8px;
    margin-left: 10px;
    text-align: left;
}
.howtoWrapper,
.partnersWrapper {
    border: 1px solid silver;
    border-radius: 5px;
    margin-bottom: 50px;
}
.partnersRow {
    margin-bottom: 30px;
}
.partnersRow h3 {
    margin-top: 15px;
}
.partnersType {
    margin-top: 40px;
}
#lockerPics {
    text-align: center;
}
#lockerPics li {
    margin-bottom: 10px;
}
.howtoIcon {
    text-align: center;
}
#howtoVideo {
    margin-bottom: 10px;
}
#howtoVideo iframe {
    width: 100%;
}
#map {
    width: 100%;
    height: 400px;
}
.pricingTableInner {
    width: 100%;
    display: block;
    clear: both;
}
.pricingColumn {
    text-align: right;
}
.dryCleanNote {
    padding: 10px 0;
    border-top: 1px dotted silver;
    border-bottom: 1px dotted silver;
}
.pricingTableInner div.bodyReg {
    padding: 10px;
}
.laundryPlansButton {
    margin-top: 5px;
    clear: both;
}
ul#locationTablePublic {
    margin-bottom: 50px;
}
ul#locationTablePublic li {
    margin-bottom: 10px;
}
.bodyRegItemMap {
    font-size: 17px;
}
.bodyRegItemMap a {
    color: #6D9E2C;
}
.btn-success {
    background-color: #61930a;
    background-image: -ms-linear-gradient(top, #8bb126, #61930a);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8bb126), to(#61930a));
    background-image: -webkit-linear-gradient(top, #8bb126, #61930a);
    background-image: -o-linear-gradient(top, #8bb126, ##61930a);
    background-image: -moz-linear-gradient(top, #8bb126, ##61930a);
    background-image: linear-gradient(top, #8bb126, ##61930a);
    filter: progid: dximagetransform.microsoft.gradient(startColorstr='#8bb126', endColorstr='#61930a', GradientType=0);
    filter: progid: dximagetransform.microsoft.gradient(enabled=false);
}
/*.span4.kiosk-access-form {
    width: 60%;
    height: 160px;
}*/

.kiosk-access-buttons {
    right: 0;
}
#setup_access_button,
#update_access_button,
#remove_access_button {
    width: 100%;
}
#credit_card_form {
    width: 100%;
}
#billing_info_fields div.span2 {
    width: 40%;
}
#credit_card_fields input,
#billing_info_fields input,
#billing_info_fields select {
    width: 100%;
}
div.control-group.span1 {
    width: 20%;
}
#homeBannerCta .btn-primary,
.calloutServices .btn-primary {
    background-color: #1a4385;
    background-image: -ms-linear-gradient(top, #1a4385, #163873);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1a4385), to(#163873));
    background-image: -webkit-linear-gradient(top, #1a4385, #163873);
    background-image: -o-linear-gradient(top, #1a4385, #163873);
    background-image: -moz-linear-gradient(top, #1a4385, #163873);
    background-image: linear-gradient(top, #1a4385, #163873);
    background-repeat: repeat-x;
    filter: progid: dximagetransform.microsoft.gradient(startColorstr='#1a4385', endColorstr='#163873', GradientType=0);
    filter: progid: dximagetransform.microsoft.gradient(enabled=false);
}
.calloutBanner .btn-primary {
    background-color: #266CAC;
    font-weight: bold;
}
.btn-primary:hover,
.btn-success:hover {
    background-position: 0 0;
}
.row-fluid .row .offset1 {
    margin-left: 130px;
}
#work_info_form button {
    margin-top: 20px;
    text-align: center;
    display: block;
}
#work_info_form input {
    width: 90%;
    margin-bottom: 20px;
}
#work_info_form label {
    font-size: 15px;
}
.WorkInfoFormWrapper h3 {
    font-size: 18px;
    margin-bottom: 20px;
}
.privacy_policy p {
    font-size: 14px;
}
.privacy_policy ul {
    font-size: 14px;
    margin: 20px 0 45px 0;
}
.privacy_policy ul li {
    margin-bottom: 15px;
}
.privacy_policy h3 {
    margin: 20px 0 5px 0;
}
h2.gray-header {
    /*color:#666;*/
    
    margin: 10px 0;
    min-height: 42px;
}
.centered {
    text-align: center;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    /*color:#666;*/
    
    font-size: 1em;
    line-height: 1.4em;
}
.header-with-space {
    clear: both;
    margin: 20px 0;
}
.blue-btn {
    display: inline-block;
    text-align: center;
    padding: 10px 40px;
    background-color: #36ace0;
    color: #fff;
    font-size: 14px;
    margin-top: 25px;
    text-decoration: none;
}
.blue-btn:hover {
    color: #fff;
    text-decoration: none;
}
.max-image {
    max-width: 100%;
}
#dryCleanTable {
    background-color: #EAF2FB;
    color: #266CAC;
    border: none;
}
#dryCleanTable thead th {
    text-align: right;
    border: none;
}
#dryCleanTable th,
#dryCleanTable td {
    border: none;
    font-size: 14px;
}
#dryCleanTable .priceCell {
    text-align: right;
}
@media (max-width: 979px) {
    .row-fluid .row .offset1 {
        margin-left: 0px;
    }
}
.span7.offset1 {
    margin-left: 45px !important;
}
.row-fluid .row {
    margin-left: 0px;
}
.fluid-container {
    margin-left: 30px;
}
h2.h2Faq {
    border-bottom: 1px dashed #ccc;
    margin: 1em 0 2em;
}
h1.turnaround,
h2.turnaround,
h4.turnaround,
h1.howitworks,
h3.turnaround_title,
h3.howitworks,
h2.concierge_h2 {
    color: #266CAC;
}
.bodyBigGray {
    color: #4a4a4a;
    font-size: 15px;
}
h1.turnaround,
h2.turnaround {
    text-align: center;
}
h3.howitworks {
    font-size: 19px;
    text-align: center;
    margin: 15px 0 25px 0;
    font-weight: 700;
}
h3.turnaround_title {
    border-bottom: 1px solid #979797;
}
.howitworks_pic {
    margin: 0 auto;
    display: block;
}
.howitworks_wrapper {
    margin: 25px 0;
}
.howitworks_col {
    width: 168px;
    margin-right: 26px;
    display: inline-block;
    float: left;
}
.howitworks_col_last {
    width: 168px;
    margin-right: 0;
    display: inline-block;
    float: left;
}
.howitworks_col p,
.howitworks_col_last p {
    line-height: 1.4;
    min-height: 184px;
}
.howitworks_link {
    color: #6D9E2C;
    font-weight: 700;
    font-size: 13px;
    text-transform: capitalize
}
.howto_hero_pic {
    width: 619px;
    margin-bottom: 15px;
}
.concierge_pic {
    max-width: 150px;
    display: block;
    margin: 0 auto;
}
.concierge_h2 {
    font-size: 18px;
    color: #4a4a4a;
    line-height: 1;
}
.concierge_p {
    margin-top: 15px;
}
.concierge_wrapper {
    margin-top: 25px;
}
.concierge_row {
    margin-bottom: 30px;
}
.small_letter {
    font-size: 13px;
}
h3.pricing_title {
    font-size: 18px;
    color: #4a4a4a;
    margin-bottom: 15px;
}
@media (max-width: 1199px) {
    #scheduled-lm-button {
        margin-top: 43px;
    }
    #homeVideo {
        width: 350px;
    }
    .calloutBannerPic {
        float: left;
        width: 40%
    }
    .calloutBannerPic img {
        width: 100px;
        height: 100px;
    }
    .calloutBannerText {
        float: left;
        width: 50%;
        margin-left: 10%;
        text-align: left;
    }
    .calloutBannerPicc20 {
        display: none;
    }
    .calloutBannerTextc20 {
        width: 90%;
    }
    .calloutBannerTextc20 a {
        margin-top: 10px;
    }
    a.navText {
        margin-left: 20px
    }
    #fourSteps li {
        margin-right: 0px;
        font-size: 13px;
    }
    #fourSteps li img {
        width: 70px;
    }
    .calloutH1 {
        font-size: 23px;
    }
    .calloutH2 {
        font-size: 15px;
    }
    #calloutIphone {
        width: 50px;
    }
    .howitworks_col {
        width: 140px;
        margin-right: 16px;
        display: inline-block;
        float: left;
    }
    .howitworks_col_last {
        width: 140px;
        margin-right: 0;
        display: inline-block;
        float: left;
    }
    h3.howitworks {
        font-size: 15px;
        text-align: center;
        margin: 15px 0 25px 0;
        font-weight: 700;
    }
    .howitworks_pic {
        width: 90px;
    }
    .howto_hero_pic {
        width: 495px;
    }
}
@media (max-width: 979px) {
    #homeVideo {
        width: 350px;
    }
    #homeText {
        width: 100%;
        text-align: center;
    }
    #fourStepsWrapper {
        width: 100%;
    }
    a.navText {
        margin-left: 20px
    }
    #fourSteps li {
        margin-right: 0px;
        font-size: 13px;
    }
    #fourSteps li img {
        width: 70px;
    }
    .calloutH1 {
        font-size: 23px;
    }
    .calloutH2 {
        font-size: 15px;
    }
    #calloutIphone {
        width: 50px;
    }
    .calloutBannerPic,
    .calloutBannerPicc20 {
        display: none;
    }
    .calloutBannerText,
    .calloutBannerTextc20 {
        width: 100%;
        margin: 0;
    }
    .span4 .testimonies {
        width: 45%;
        float: none;
    }
    #fb_share,
    #twitter_share {
        display: none;
    }
    h2.h2Faq {
        margin: 20px 0;
        border-bottom: 1px solid gray;
    }
    .howtoIcon img {
        width: 50px;
    }
    #lockerPics li img {
        width: 100%;
    }
    h1.turnaround,
    h2.turnaround,
    h4.turnaround {
        margin-bottom: 25px;
    }
    h4.turnaround {
        font-size: 18px;
        text-align: center;
    }
    h3.howitworks {
        font-size: 24px;
        text-align: center;
        margin: 15px 0 25px 0;
        font-weight: 700;
    }
    .howitworks_col {
        width: 100%;
        margin-right: 0;
        display: inline-block;
        float: left;
    }
    .howitworks_col_last {
        width: 100%;
        margin-right: 0;
        display: inline-block;
        float: left;
    }
    .howto_hero_pic {
        width: 375px;
    }
    .concierge_pic {
        max-width: 120px;
    }
    .howitworks_col p,
    .howitworks_col_last p {
        min-height: 0;
    }
}
@media (max-width: 767px) {
    .span7.offset1 {
        margin-left: 0px !important;
    }
    .footerSpan {
        text-align: center;
        border: 0px solid transparent;
    }
    #fb_share,
    #twitter_share {
        display: inline;
    }
    #fourStepsWrapper {
        margin-left: 15%;
    }
    #fourSteps li {
        margin-right: 20px;
        font-size: 15px;
    }
    #fourSteps li img {
        width: 80px;
    }
    .testimonies {
        margin-top: 20px;
    }
    #rightBanners {
        margin-top: 20px;
    }
    .calloutBannerText {
        text-align: center;
    }
    .calloutBannerText a {
        margin: 0 auto;
        margin-top: 10px;
    }
    #firstTime {
        margin: 20px auto;
        width: 50%;
    }
    .howtoIcon img {
        width: 80px;
    }
    #howtoVideo iframe {
        height: 300px;
    }
    #fourSteps {
        margin-left: 30px;
    }
    .pricingTableInner div.bodyReg.span9 {
        float: left;
    }
    .pricingTableInner div.bodyReg.span3 {
        float: right;
    }
    .laundryPlansButton {
        margin-top: 5px;
    }
    .howto_hero_pic {
        width: 100%;
    }
    .fluid-container {
        margin-left: 0;
    }
}
@media (max-width: 570px) {
    #fourStepsWrapper {
        margin-left: 0;
    }
}
@media (max-width: 570px) {
    #fourSteps li img {
        width: 60px;
    }
}
@media (max-width: 479px) {
    #fourStepsWrapper {
        margin: 0 auto;
        margin-left: 0;
    }
    #fourSteps li {
        margin-right: 5px;
        font-size: 13px;
    }
    #fourSteps li img {
        width: 50px;
    }
}
@media (max-width: 466px) {
    #fourSteps {
        margin-left: 55px;
    }
}
@media (max-width: 444px) {
    .homeWhiteMed {
        color: #fff;
        font-size: 18px;
        line-height: 5px;
        text-decoration: none;
    }
    .homeWhiteBig {
        color: #fff;
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 25px;
    }
    #homeBannerCta {
        margin: 25px 0 0 0;
    }
    /*#sign_up_free {
        margin-top: 15px;
    }*/
}
.shoeshine-hero {
    max-width: 600px;
}
@media (max-width: 1200px) {
    .shoeshine-hero {
        max-width: 500px;
    }
}
@media (max-width: 1000px) {
    .shoeshine-hero {
        max-width: 400px;
    }
}

/*****************************************************************/
/******Site specific*/
/*****************************************************************/


#customer-menu{
    position: fixed;
    width: 100%;
    height: 108px;
    
    background-color: rgb(0, 174, 209);
    
    text-transform: capitalize;
}    

#customer-menu .navbar{
    margin: 0 46.5px;
    padding: 0 15px;
}

#customer-menu .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px){
    #customer-menu .container {
    }
}
@media (min-width: 992px){
    #customer-menu .container {
        width: 970px;
    }
}
@media (min-width: 1200px){
    #customer-menu .container {
        width: 1170px;
    }
}

.navbar .brand{
    padding: 0;
}

.navbar .brand img{
    height: 46px;
    margin: 30px 0 0 20px;
}

#customer-menu .nav{
    float: right;
}

#customer-menu .nav > li{
}

#customer-menu .nav > li > a{
    padding: 0 13px;
    margin: 0;
    
    color: #FFFFFF;
    
    line-height: 106px;
}

#customer-menu .nav-collapse .nav > li > a:hover{
    text-decoration: none;
}

#customer-menu .nav > li > a{
    font-family: Roboto, sans-serif;
    font-size: 14px;
}

#customer-menu .button-bar{
    float: right;
    height: 106px;
    padding-left: 19px;
}

#customer-menu .button-bar ul{
    margin-top: 34px;
}

#customer-menu .button-bar ul li{
    float: left;
    
    border-radius: 20px;
    border: 1px solid #fff;

    padding: 5px 20px;
    margin-left: 10px;
    
    list-style: none;
}

#customer-menu .button-bar ul li a{
    color: #fff;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    text-transform: uppercase;    
}

a, h1, h2{
    color: #00aed1;
}

*{
    font-family: Roboto, sans-serif;
}

.btn {
    background: none;
    background-color: #00aed1 !important;
    font: 15px/45px 'Roboto',sans-serif;
    padding: 0 35px;
    border-radius: 5px;
    border: 0;
    outline: 0;
    color: #FFF;
    transition: 0.5s linear;
}

.btn:hover, .btn:focus{
    background: #0088a3;
}

.content-wrapper{
    padding-top: 120px;
}

@media (max-width: 979px) {

    #customer-menu{
        box-sizing: border-box;
        position: static;
        height: auto;
        padding: 5px;
    }
    
    #customer-menu .container{
        padding: 0;
    }
    
    #customer-menu #main_menu{
    }
    
    #customer-menu .btn-navbar{
        background: rgb(0, 174, 209);
        border-color: white;
        margin: 30px 0 37px 0;
        padding-top: 9px;
        padding-bottom: 9px;
    }
    
    #customer-menu .navbar{
        padding: 0 20px;
        margin: 0;
    }
    
    #customer-menu .nav{
        float: none;
    }
    
    #customer-menu .nav > li{
        margin: 3px 6px 3px 0;
        text-align: center;
    }
    
    #customer-menu .nav > li > a{
        display: block;
        padding-top: 45px;
        line-height: initial;
        font-size: 12px;
        font-weight: 100;
    }
    
    #customer-menu .nav > li > a:hover{
        background-color: initial;
    }
    
    #customer-menu .brand img{
        margin: 0;
        margin-top: 30px;
        vertical-align: middle;
        border: 0;
        
        max-width: 100%;
        height: auto;
    }
    
    #interior_mobile_menu .nav > li > a{
        display: block;
        padding: 10px 0;
        border-top: 1px solid #666;
        color: #ffffff;
        text-align: center;
        font-size: 14px;
        text-decoration: none;
    }
    
    .content-wrapper{
        padding-top: 0;
    }
}

@media (max-width: 767px) {
    #customer-menu{
        margin-left: -20px;
        margin-right: -20px;
        width: auto;
    }
    
    #customer-menu .navbar{
        padding: 0;
    }
    
}

@media (max-width: 1076px) {
    #customer-menu .button-bar{
        display: none;
    }
}

/*****************************************************************/
/******Site footer stylesbased on site styles */
/*****************************************************************/
/* Footer */
footer.fluid-container {
    padding-top: 30px;
    padding-bottom: 20px;
    background: #00aed1;
    margin: 0;
}
footer img.img-responsive {
    margin: 0 auto;
}
.footer-menu {
    margin-top: 15px;   
    padding: 0;
}
.footer-menu li{
    display: block;
    text-align: center;
    margin-bottom: 15px;
}
.footer-menu li a {
    color: #FFF;   
}
.footer-menu li:first-child a {
    padding-left: 0;    
}
.footer-hr {
    min-height: 1px;
    margin: 20px 0 10px;
    background: #4dc6df;
}
.footer-block {
    margin-bottom: 50px;  
    text-align: center;
}
.footer-block h4 {
    font-size: 17px;
    color: #FFF;
    margin: 30px 0 20px;
}
.footer-block ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: auto;
}
.footer-block ul li:first-child {
    margin-top: 10px;    
}
.footer-block ul li {
    color: #d7e1ec;
    margin: 15px 0;
    font-size: 13px;
    vertical-align: baseline;
}
.footer-contact-form input,
.footer-contact-form textarea{
    padding: 10px;
    background: #00c6df;
    outline: 0;
    border: 0;
    color: #FFF;
    width: 100%;
    margin-bottom: 10px;
}
.footer-contact-form button {
    background: #000;
    color: #FFF;
    outline: 0;
    border: 0;
    line-height: 35px;
    padding: 0 35px;
    width: 100%;
}
.bottom-menu{}
.bottom-menu li, .bottom-menu li a{ color: #fff; font-size: 13px; }
.text-center {
    text-align: center;
}
.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}
.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}
.copyright {
    margin: 20px 0;    
}
.copyright p {
    color: #FFF;
    margin: 0;
    text-align: center;
    font-size: 13px;
    line-height: 15px;
    padding: 0 10px;
}
.footer-download {
    color: #FFF;   
    line-height: 25px;
    text-align: center;
}
.footer-download a i {
    font-size: 25px;
    color: #FFF;
}
.footer-download a i:hover {
    color: #000;
    transition: 0.5s;
}
footer ::-webkit-input-placeholder {
   color: white;
}
footer :-moz-placeholder { /* Firefox 18- */
   color: white;  
}
footer ::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
}
footer :-ms-input-placeholder {  
   color: white;  
}

@media (max-width: 767px) {
    #footer, footer{
        margin-left: -20px !important;
        margin-right: -20px !important;
        width: auto !important;
    }
}

@media(min-width: 992px) {
    footer img.img-responsive {
        margin: 0;    
    }
    .footer-menu {
        text-align: right;
    }
    .footer-menu li{
        display: inline-block;
        text-align: left;
    }
    .footer-menu li a {
        padding-left: 40px;    
    }
    .footer-block {
        text-align: left;    
    }
    .footer-contact-form button {
        width: auto;
    }
}
@media(min-width: 1200px) {
   .footer-menu li a {
        padding-left: 40px;    
    } 
}
/* Footer End */
.page-container {
    padding-top: 60px;
}
.faq {
    margin-top: 40px;    
}
.faq-block {
    margin-bottom: 10px;    
}
.faq-text {
    margin-bottom: 30px;    
}
.faq .faq-block .faq-text {
    display: none;
}
.faq .faq-block:first-child .faq-text {
    display: block;
}
.faq-title {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: thin solid #d6d6d6;
    overflow: hidden;
    cursor: pointer;
}
.faq-title h4 {
    color: #00aed1;
    margin: 0;
    font-size: 19px;
}
.faq-title .fa {
    color: #00aed1;
    font-size: 19px;
}
.faq-text p{
    font-size: 15px;
    color: #767676;
}
