/**** http://wash.sitewiredprojects.info/modules/system/system.base.css *****/

/**
 * @file
 * Generic theme-independent base styles.
 */

/**
 * Autocomplete.
 *
 * @see autocomplete.js
 */
/* Suggestion list */
#autocomplete {
  border: 1px solid;
  overflow: hidden;
  position: absolute;
  z-index: 100;
}
#autocomplete ul {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
#autocomplete li {
  background: #fff;
  color: #000;
  cursor: default;
  white-space: pre;
  zoom: 1; /* IE7 */
}


/**
 * Inline items.
 */
.gcontainer-inline div,
.gcontainer-inline label {
  display: inline;
}
/* Fieldset contents always need to be rendered as block. */
.gcontainer-inline .fieldset-wrapper {
  display: block;
}

/**
 * Prevent text wrapping.
 */
.nowrap {
  white-space: nowrap;
}

/**
 * For anything you want to hide on page load when JS is enabled, so
 * that you can use the JS to control visibility and avoid flicker.
 */
html.js .js-hide {
  display: none;
}

/**
 * Hide elements from all users.
 *
 * Used for elements which should not be immediately displayed to any user. An
 * example would be a collapsible fieldset that will be expanded with a click
 * from a user. The effect of this class can be toggled with the jQuery show()
 * and hide() functions.
 */
.element-hidden {
  display: none;
}

/**
 * Hide elements visually, but keep them available for screen-readers.
 *
 * Used for information required for screen-reader users to understand and use
 * the site where visual display is undesirable. Information provided in this
 * manner should be kept concise, to avoid unnecessary burden on the user.
 * "!important" is used to prevent unintentional overrides.
 */
.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
}

/**
 * The .element-focusable class extends the .element-invisible class to allow
 * the element to be focusable when navigated to via the keyboard.
 */
.element-invisible.element-focusable:active,
.element-invisible.element-focusable:focus {
  position: static !important;
  clip: auto;
  overflow: visible;
  height: auto;
}

/**
 * Markup free clearing.
 *
 * @see http://perishablepress.com/press/2009/12/06/new-clearfix-hack
 */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* IE6 */
* html .clearfix {
  height: 1%;
}
/* IE7 */
*:first-child + html .clearfix {
  min-height: 1%;
}

/**** http://wash.sitewiredprojects.info/modules/system/system.menus.css *****/



/**
 * @file
 * Styles for menus and navigation markup.
 */

/**
 * Markup generated by theme_menu_tree().
 */
ul.menu {
  border: none;
  list-style: none;
  text-align: left; /* LTR */
}
ul.menu li {
  margin: 0 0 0 0.5em; /* LTR */
}
ul li.expanded {
  list-style-image: url(../../misc/menu-expanded.png);
  list-style-type: circle;
}
ul li.collapsed {
  list-style-image: url(../../misc/menu-collapsed.png); /* LTR */
  list-style-type: disc;
}
ul li.leaf {
  list-style-image: url(../../misc/menu-leaf.png);
  list-style-type: square;
}
li.expanded,
li.collapsed,
li.leaf {
  padding: 0.2em 0.5em 0 0; /* LTR */
  margin: 0;
}
li a.active {
  color: #000;
}
td.menu-disabled {
  background: #ccc;
}

/**
 * Markup generated by theme_links().
 */
ul.inline,
ul.links.inline {
  display: inline;
  padding-left: 0;
}
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 0.5em;
}

/**
 * Markup generated by theme_breadcrumb().
 */
.breadcrumb {
  padding-bottom: 0.5em;
}

/**
 * Markup generated by theme_menu_local_tasks().
 */
ul.primary {
  border-bottom: 1px solid #bbb;
  border-collapse: collapse;
  height: auto;
  line-height: normal;
  list-style: none;
  margin: 5px;
  padding: 0 0 0 1em; /* LTR */
  white-space: nowrap;
}
ul.primary li {
  display: inline;
}
ul.primary li a {
  background-color: #ddd;
  border-color: #bbb;
  border-style: solid solid none solid;
  border-width: 1px;
  height: auto;
  margin-right: 0.5em; /* LTR */
  padding: 0 1em;
  text-decoration: none;
}
ul.primary li.active a {
  background-color: #fff;
  border: 1px solid #bbb;
  border-bottom: 1px solid #fff;
}
ul.primary li a:hover {
  background-color: #eee;
  border-color: #ccc;
  border-bottom-color: #eee;
}
ul.secondary {
  border-bottom: 1px solid #bbb;
  padding: 0.5em 1em;
  margin: 5px;
}
ul.secondary li {
  border-right: 1px solid #ccc; /* LTR */
  display: inline;
  padding: 0 1em;
}
ul.secondary a {
  padding: 0;
  text-decoration: none;
}
ul.secondary a.active {
  border-bottom: 4px solid #999;
}
/**** http://wash.sitewiredprojects.info/modules/system/system.messages.css *****/



/**
 * @file
 * Styles for system messages.
 */

div.messages {
  background-position: 8px 8px; /* LTR */
  background-repeat: no-repeat;
  border: 1px solid;
  margin: 6px 0;
  padding: 10px 10px 10px 50px; /* LTR */
}

div.status {
  background-image: url(../../misc/message-24-ok.png);
  border-color: #be7;
}
div.status,
.ok {
  color: #234600;
}
div.status,
table tr.ok {
  background-color: #f8fff0;
}

div.warning {
  background-image: url(../../misc/message-24-warning.png);
  border-color: #ed5;
}
div.warning,
.warning {
  color: #840;
}
div.warning,
table tr.warning {
  background-color: #fffce5;
}

div.error {
  background-image: url(../../misc/message-24-error.png);
  border-color: #ed541d;
}
div.error,
.error {
  color: #8c2e0b;
}
div.error,
table tr.error {
  background-color: #fef5f1;
}
div.error p.error {
  color: #333;
}

div.messages ul {
  margin: 0 0 0 1em; /* LTR */
  padding: 0;
}
div.messages ul li {
  list-style-image: none;
}
/**** http://wash.sitewiredprojects.info/modules/system/system.theme.css *****/



/**
 * @file
 * Basic styling for common markup.
 */

/**
 * HTML elements.
 */
form {
  margin: 0;
  padding: 0;
}
hr {
  border: 1px solid gray;
  height: 1px;
}
img {
  border: 0;
}
table {
  border-collapse: collapse;
}
th {
  border-bottom: 3px solid #ccc;
  padding-right: 1em; /* LTR */
  text-align: left; /* LTR */
}
tbody {
  border-top: 1px solid #ccc;
}
tr.even,
tr.odd {
  background-color: #eee;
  border-bottom: 1px solid #ccc;
  padding: 0.1em 0.6em;
}

/**
 * Markup generated by theme_tablesort_indicator().
 */
th.active img {
  display: inline;
}
td.active {
  background-color: #ddd;
}

/**
 * Markup generated by theme_item_list().
 */
.item-list .title {
  font-weight: bold;
}
.item-list ul {
  margin: 0 0 0.75em 0;
  padding: 0;
}
.item-list ul li {
  margin: 0 0 0.25em 1.5em; /* LTR */
  padding: 0;
}

/**
 * Markup generated by Form API.
 */
.form-item,
.form-actions {
  margin-top: 1em;
  margin-bottom: 1em;
}
tr.odd .form-item,
tr.even .form-item {
  margin-top: 0;
  margin-bottom: 0;
  white-space: nowrap;
}
.form-item .description {
  font-size: 0.85em;
}
label {
  display: block;
  font-weight: bold;
}
label.option {
  display: inline;
  font-weight: normal;
}
.form-checkboxes .form-item,
.form-radios .form-item {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}
.form-type-radio .description,
.form-type-checkbox .description {
  margin-left: 2.4em;
}
input.form-checkbox,
input.form-radio {
  vertical-align: middle;
}
.marker,
.form-required {
  color: #f00;
}
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 2px solid red;
}

/**
 * Inline items.
 */
.gcontainer-inline .form-actions,
.gcontainer-inline.form-actions {
  margin-top: 0;
  margin-bottom: 0;
}

/**
 * Markup generated by theme_more_link().
 */
.more-link {
  text-align: right; /* LTR */
}

/**
 * Markup generated by theme_more_help_link().
 */
.more-help-link {
  text-align: right; /* LTR */
}
.more-help-link a {
  background: url(../../misc/help.png) 0 50% no-repeat; /* LTR */
  padding: 1px 0 1px 20px; /* LTR */
}

/**
 * Markup generated by theme_pager().
 */
.item-list .pager {
  clear: both;
  text-align: center;
}
.item-list .pager li {
  background-image: none;
  display: inline;
  list-style-type: none;
  padding: 0.5em;
}
.pager-current {
  font-weight: bold;
}

/**
 * Autocomplete.
 *
 * @see autocomplete.js
 */
/* Suggestion list */
#autocomplete li.selected {
  background: #0072b9;
  color: #fff;
}


/**
 * TableDrag behavior.
 *
 * @see tabledrag.js
 */
tr.drag {
  background-color: #fffff0;
}
tr.drag-previous {
  background-color: #ffd;
}
.tabledrag-toggle-weight {
  font-size: 0.9em;
}
body div.tabledrag-changed-warning {
  margin-bottom: 0.5em;
}

/**
 * TableSelect behavior.
 *
 * @see tableselect.js
*/
tr.selected td {
  background: #ffc;
}
td.checkbox,
th.checkbox {
  text-align: center;
}

/**
 * Progress bar.
 *
 * @see progress.js
 */
.progress {
  font-weight: bold;
}
.progress .bar {
  background: #ccc;
  border-color: #666;
  margin: 0 0.2em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.progress .filled {
  background: #0072b9 url(../../misc/progress.gif);
}
/**** http://wash.sitewiredprojects.info/modules/comment/comment.css *****/



#comments {
  margin-top: 15px;
}
.indented {
  margin-left: 25px; /* LTR */
}
.comment-unpublished {
  background-color: #fff4f4;
}
.comment-preview {
  background-color: #ffffea;
}
/**** http://wash.sitewiredprojects.info/modules/field/theme/field.css *****/



/* Field display */
.field .field-label {
  font-weight: bold;
}
.field-label-inline .field-label,
.field-label-inline .field-items {
  float:left; /*LTR*/
}

/* Form display */
form .field-multiple-table {
  margin: 0;
}
form .field-multiple-table th.field-label {
  padding-left: 0; /*LTR*/
}
form .field-multiple-table td.field-multiple-drag {
  width: 30px;
  padding-right: 0; /*LTR*/
}
form .field-multiple-table td.field-multiple-drag a.tabledrag-handle {
  padding-right: .5em; /*LTR*/
}

form .field-add-more-submit {
  margin: .5em 0 0;
}
/**** http://wash.sitewiredprojects.info/modules/node/node.css *****/



.node-unpublished {
  background-color: #fff4f4;
}
.preview .node {
  background-color: #ffffea;
}
td.revision-current {
  background: #ffc;
}
/**** http://wash.sitewiredprojects.info/modules/search/search.css *****/



.search-form {
  margin-bottom: 1em;
}
.search-form input {
  margin-top: 0;
  margin-bottom: 0;
}
.search-results {
  list-style: none;
}
.search-results p {
  margin-top: 0;
}
.search-results .title {
  font-size: 1.2em;
}
.search-results li {
  margin-bottom: 1em;
}
.search-results .search-snippet-info {
  padding-left: 1em; /* LTR */
}
.search-results .search-info {
  font-size: 0.85em;
}
.search-advanced .criterion {
  float: left; /* LTR */
  margin-right: 2em; /* LTR */
}
.search-advanced .action {
  float: left; /* LTR */
  clear: left; /* LTR */
}


/* General indentation & positioning classes */

.rteindent1 {
    margin-left: 40px;
}
.rteindent2 {
    margin-left: 80px;
}
.rteindent3 {
    margin-left: 120px;
}
.rteindent4 {
    margin-left: 160px;
}
.rteleft {
    text-align: left;
}
.rteright {
    text-align: right;
}
.rtecenter {
    text-align: center;
}
.rtejustify {
    text-align: justify;
}
.ibimage_left {
    float: left;
}
.ibimage_right {
    float: right;
}

/**** http://wash.sitewiredprojects.info/sites/all/libraries/superfish/css/superfish.css *****/


.sf-menu,
.sf-menu * {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sf-menu {
  line-height: 1.0;
  z-index: 497;
}
.sf-menu ul {
  left: 0;
  position: absolute;
  top: -99999em;
  width: 12em;
}
.sf-menu ul li {
  width: 100%;
}
.sf-menu li {
  float: left;
  position: relative;
  z-index: 498;
}
.sf-menu a {
  display: block;
  position: relative;
}
.sf-menu li:hover,
.sf-menu li.sfHover,
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
  z-index: 499;
}
.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
  left: 0;
  top: 2.5em;
}
.sf-menu li li:hover > ul,
.sf-menu li li.sfHover > ul {
  left: 12em;
  top: 0;
}
.sf-hidden {
  left: 0 !important;
  top: -99999em !important;
}
.sf-menu a.sf-with-ul {
  min-width: 1px;
}
.sf-sub-indicator {
  background: url('../images/arrows-ffffff.png') no-repeat -10px -100px;
  display: block;
  height: 10px;
  overflow: hidden;
  position: absolute;
  right: 0.75em;
  text-indent: -999em;
  top: 1.05em;
  width: 10px;
}
a > .sf-sub-indicator {
  top: 0.8em;
  background-position: 0 -100px;
}
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
  background-position: -10px -100px;
}
.sf-menu ul .sf-sub-indicator {
  background-position: -10px 0;
}
.sf-menu ul a > .sf-sub-indicator {
  background-position: 0 0;
}
.sf-menu ul a:focus > .sf-sub-indicator,
.sf-menu ul a:hover > .sf-sub-indicator,
.sf-menu ul a:active > .sf-sub-indicator,
.sf-menu ul li:hover > a > .sf-sub-indicator,
.sf-menu ul li.sfHover > a > .sf-sub-indicator {
  background-position: -10px 0;
}
.sf-menu.sf-horizontal.sf-shadow ul,
.sf-menu.sf-vertical.sf-shadow ul,
.sf-menu.sf-navbar.sf-shadow ul ul {
  background: url('../images/shadow.png') no-repeat right bottom;
  padding: 0 8px 9px 0 !important;
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomleft: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.sf-shadow ul.sf-shadow-off {
  background: transparent;
}
.sf-menu.rtl,
.sf-menu.rtl li {
  float: right;
}
.sf-menu.rtl li:hover > ul,
.sf-menu.rtl li.sfHover > ul {
  left: auto;
  right: 0;
}
.sf-menu.rtl li li:hover > ul,
.sf-menu.rtl li li.sfHover > ul {
  left: auto;
  right: 12em;
}
.sf-menu.rtl ul {
  left: auto;
  right: 0;
}
.sf-menu.rtl .sf-sub-indicator {
  left: 0.75em;
  right: auto;
  background: url('../images/arrows-ffffff-rtl.png') no-repeat -10px -100px;
}
.sf-menu.rtl a > .sf-sub-indicator {
  top: 0.8em;
  background-position: -10px -100px;
}
.sf-menu.rtl a:focus > .sf-sub-indicator,
.sf-menu.rtl a:hover > .sf-sub-indicator,
.sf-menu.rtl a:active > .sf-sub-indicator,
.sf-menu.rtl li:hover > a > .sf-sub-indicator,
.sf-menu.rtl li.sfHover > a > .sf-sub-indicator {
  background-position: 0 -100px;
}
.sf-menu.rtl ul .sf-sub-indicator {
  background-position: 0 0;
}
.sf-menu.rtl ul a > .sf-sub-indicator {
  background-position: -10px 0;
}
.sf-menu.rtl ul a:focus > .sf-sub-indicator,
.sf-menu.rtl ul a:hover > .sf-sub-indicator,
.sf-menu.rtl ul a:active > .sf-sub-indicator,
.sf-menu.rtl ul li:hover > a > .sf-sub-indicator,
.sf-menu.rtl ul li.sfHover > a > .sf-sub-indicator {
  background-position: 0 0;
}
.sf-menu.rtl.sf-horizontal.sf-shadow ul,
.sf-menu.rtl.sf-vertical.sf-shadow ul,
.sf-menu.rtl.sf-navbar.sf-shadow ul ul {
  background-position: bottom left;
  padding: 0 0 9px 8px !important;
  -webkit-border-radius: 8px;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius: 8px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomleft: 0;
  border-radius: 8px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
}
.sf-vertical.rtl li:hover > ul,
.sf-vertical.rtl li.sfHover > ul {
  left: auto;
  right: 12em;
}
.sf-vertical.rtl .sf-sub-indicator {
  background-position: -10px 0;
}
.sf-vertical.rtl a > .sf-sub-indicator {
  background-position: 0 0;
}
.sf-vertical.rtl a:focus > .sf-sub-indicator,
.sf-vertical.rtl a:hover > .sf-sub-indicator,
.sf-vertical.rtl a:active > .sf-sub-indicator,
.sf-vertical.rtl li:hover > a > .sf-sub-indicator,
.sf-vertical.rtl li.sfHover > a > .sf-sub-indicator {
  background-position: -10px 0;
}
.sf-navbar.rtl li li {
  float: right;
}
.sf-navbar.rtl ul .sf-sub-indicator {
  background-position: 0 -100px;
}
.sf-navbar.rtl ul a > .sf-sub-indicator {
  background-position: -10px -100px;
}
.sf-navbar.rtl ul a:focus > .sf-sub-indicator,
.sf-navbar.rtl ul a:hover > .sf-sub-indicator,
.sf-navbar.rtl ul a:active > .sf-sub-indicator,
.sf-navbar.rtl ul li:hover > a > .sf-sub-indicator,
.sf-navbar.rtl ul li.sfHover > a > .sf-sub-indicator {
  background-position: 0 -100px;
}
.sf-navbar.rtl ul ul .sf-sub-indicator {
  background-position:  0 0;
}
.sf-navbar.rtl ul ul a > .sf-sub-indicator {
  background-position:  -10px 0;
}
.sf-navbar.rtl ul ul a:focus > .sf-sub-indicator,
.sf-navbar.rtl ul ul a:hover > .sf-sub-indicator,
.sf-navbar.rtl ul ul a:active > .sf-sub-indicator,
.sf-navbar.rtl ul ul li:hover > a > .sf-sub-indicator,
.sf-navbar.rtl ul ul li.sfHover > a > .sf-sub-indicator {
  background-position: 0 0;
}
.sf-navbar.rtl li li:hover > ul,
.sf-navbar.rtl li li.sfHover > ul {
  left: auto;
  right: 0;
}
.sf-navbar.rtl li li li:hover > ul,
.sf-navbar.rtl li li li.sfHover > ul {
  left: auto;
  right: 12em;
}
.sf-navbar.rtl > li > ul {
  background: transparent;
  padding: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
}/**** http://wash.sitewiredprojects.info/sites/all/themes/Custom/css/skeleton.css *****/


/* 
Washbox, Inc.
Authored by: SiteWired Web Solutions
*/


/* Table of Contents
==================================================
    #Base 960 Grid    
    #Tablet (Portrait)
    #Mobile (Portrait) 
    #Mobile (Landscape)
    #Clearing */
    
    

/* #Base 960 Grid 
================================================== */

    .gcontainer                                  { position: relative; width: 940px; margin: 0 auto; padding: 0 10px; }
    .column, .columns                           { float: left; display: inline; }
    .grow                                        { margin-bottom: 20px; }
    
    /* Nested Column Classes */
    .column.alpha, .columns.alpha               { margin-left: 20px; margin-right: 0;}
    .column.omega, .columns.omega               { margin-left: 0; margin-right: 20px; }
    
    /* Base 16 Column Grid */
    .gcontainer .one.column                      { width: 40px;  }
    .gcontainer .two.columns                     { width: 100px; }
    .gcontainer .three.columns                   { width: 160px; }
    .gcontainer .four.columns                    { width: 220px; }
    .gcontainer .five.columns                    { width: 280px; }
    .gcontainer .six.columns                     { width: 340px; }
    .gcontainer .seven.columns                   { width: 400px; }
    .gcontainer .eight.columns                   { width: 460px; }
    .gcontainer .nine.columns                    { width: 520px; }
    .gcontainer .ten.columns                     { width: 580px; }
    .gcontainer .eleven.columns                  { width: 640px; }
    .gcontainer .twelve.columns                  { width: 700px; }
    .gcontainer .thirteen.columns                { width: 760px; }
    .gcontainer .fourteen.columns                { width: 820px; }
    .gcontainer .fifteen.columns                 { width: 880px; }
    .gcontainer .sixteen.columns                 { width: 940px; }
    
    .gcontainer .one-third.column                { width: 300px; }
    .gcontainer .two-thirds.column               { width: 620px; }
    
    
/* #Tablet (Portrait)
================================================== */   

    /* Note: Design for a width of 768px */

    @media only screen and (min-width: 768px) and (max-width: 959px) {
        .gcontainer                                  { width: 748px; }
        .gcontainer .column,
        .gcontainer .columns                         { }
		
		/* Nested Column Classes */
    	.column.alpha, .columns.alpha               { margin-left: 20px; margin-right: 0;}
    	.column.omega, .columns.omega               { margin-left: 0; margin-right: 20px; }
    
		/* Base 16 Column Grid */
        .gcontainer .one.column                      { width: 28px; }
        .gcontainer .two.columns                     { width: 76px; }
        .gcontainer .three.columns                   { width: 124px; }
        .gcontainer .four.columns                    { width: 172px; }
        .gcontainer .five.columns                    { width: 220px; }
        .gcontainer .six.columns                     { width: 268px; }
        .gcontainer .seven.columns                   { width: 316px; }
        .gcontainer .eight.columns                   { width: 364px; }
        .gcontainer .nine.columns                    { width: 412px; }
        .gcontainer .ten.columns                     { width: 460px; }
        .gcontainer .eleven.columns                  { width: 508px; }
        .gcontainer .twelve.columns                  { width: 556px; }
        .gcontainer .thirteen.columns                { width: 604px; }
        .gcontainer .fourteen.columns                { width: 652px; }
        .gcontainer .fifteen.columns                 { width: 700px; }
        .gcontainer .sixteen.columns                 { width: 748px; }
        
        .gcontainer .one-third.column                { width: 236px; }
        .gcontainer .two-thirds.column               { width: 492px; }
    }
    
    
/*  #Mobile (Portrait) 
================================================== */
    
    /* Note: Design for a width of 320px */
    
    @media only screen and (max-width: 767px) {
        .gcontainer 									{ width: auto; }
        .columns, .column 							{ margin: 0; }
		
		/* Nested Column Classes */
		.column.alpha, .columns.alpha               { margin: 0; }
        .column.omega, .columns.omega               { margin: 0; }
        
		/* Base 16 Column Grid */
        .gcontainer .one.column,
        .gcontainer .two.columns,
        .gcontainer .three.columns,
        .gcontainer .four.columns,
        .gcontainer .five.columns,
        .gcontainer .six.columns,
        .gcontainer .seven.columns,
        .gcontainer .eight.columns,
        .gcontainer .nine.columns,
        .gcontainer .ten.columns,
        .gcontainer .eleven.columns,
        .gcontainer .twelve.columns,
        .gcontainer .thirteen.columns,
        .gcontainer .fourteen.columns,
        .gcontainer .fifteen.columns,
        .gcontainer .sixteen.columns, 
        .gcontainer .one-third.column, 
        .gcontainer .two-thirds.column  				{ width: 100%; }          
    }    
    
    
/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */
    
    @media only screen and (min-width: 480px) and (max-width: 767px) {
        .gcontainer 									{ width: 460px; }
        .columns, .column 							{ margin: 0; }
		
		/* Nested Column Classes */
		.column.alpha, .columns.alpha               { margin: 0; }
        .column.omega, .columns.omega               { margin: 0; }
        
		/* Base 16 Column Grid */
        .gcontainer .one.column,
        .gcontainer .two.columns,
        .gcontainer .three.columns,
        .gcontainer .four.columns,
        .gcontainer .five.columns,
        .gcontainer .six.columns,
        .gcontainer .seven.columns,
        .gcontainer .eight.columns,
        .gcontainer .nine.columns,
        .gcontainer .ten.columns,
        .gcontainer .eleven.columns,
        .gcontainer .twelve.columns,
        .gcontainer .thirteen.columns,
        .gcontainer .fourteen.columns,
        .gcontainer .fifteen.columns,
        .gcontainer .sixteen.columns,
        .gcontainer .one-third.column, 
        .gcontainer .two-thirds.column 				{ width: 460px; }
    }
     
    
/* #Clearing
================================================== */

    /* Self Clearing Goodness */
    .gcontainer:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; } 
    
    /* Use clearfix class on parent to clear nested columns, 
    or wrap each row of columns in a <div class="row"> */
    .clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .row:after,
    .clearfix:after {
      clear: both; }
    .row, 
    .clearfix {
      zoom: 1; }
      
    /* You can also use a <br class="clear" /> to clear columns */
    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }/**** http://wash.sitewiredprojects.info/sites/all/themes/Custom/css/style.css *****/


/* 
Washbox, Inc.
Authored by: SiteWired Web Solutions
*/

/* ===== Highlights ===== */
::selection {
	background: #8DC63F;
	color: #FFF;
}

::-moz-selection {
    background: #8DC63F;
	color: #FFF;
}

::-webkit-selection {
	background: #8DC63F;
	color: #FFF;
}

::-ms-selection {
	background: #8DC63F;
	color: #FFF;
}


/* ===== Typography ===== */
body, input, textarea, select, fieldset legend {
	font-size: 16px;
	line-height: 1.5;
	color: #555;
}

select {
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-weight: 700;
	letter-spacing: 0;
	color: #00AEEF;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 25px;
}

h3 {
	font-size: 22px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 18px;
}


/* ===== General ===== */
body {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: #00AEEF;
}

img, img.scale-with-grid {
	outline: 0;
	max-width: 100%;
	height: auto;
}

.alignright {
	float: right;
	margin: 0px 0px 10px 15px;
}

.alignleft {
	float: left;
	margin: 0px 15px 10px 0px;
}

.aligncenter {
	display:block;
	margin:0 auto;
}

del {
	text-decoration: line-through;
}

pre, code {
	white-space: pre;
	background-color: #ededed;
	border-bottom: 1px solid #d9d9d9;
	border-top: 1px solid #d9d9d9;
	display: block;
	margin: 5px 0;
	padding: 5px;
	line-height: 125%;
	overflow: hidden;
	font: 12px/24px Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}


/* ===== Header ===== */
header {
	background: #FFF;
	position: relative;
	z-index: 300;
}

#header-left #logo img {
	width: 100%;
	margin: 10px 0;
}


/* ===== Navigation ===== */
#navigation ul.menu {
	float: right;
	margin: 0;
	padding: 0;
}

#navigation ul.menu li {
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style: none;
}

#navigation ul.menu li a {
	display: block;
	padding: 42px 10px;
	background: none;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	color: #00AEEF;
}

#navigation ul.menu li a:hover {
	background: #CDCED0;
	color: #FFF;
}


#navigation ul.menu ul {
}

#navigation ul.menu ul li, #navigation ul.sf-menu ul li {
}

#navigation ul.menu ul li a {
}

#navigation ul.menu ul li a:hover {
}

#navigation ul.menu ul li a.active {
}


/* ===== MD Slider ===== */
#md-slider {
	position: relative;
	z-index: 290;
}


/* ===== Breadcrumb ===== */
#breadcrumb, .breadcrumb {
	display: none;
}
/*.breadcrumb {
	padding:0;
}
#breadcrumb {
	overflow: hidden;
	zoom: 1;
	margin: 0 0 1.5em !important;
	padding: 5px 5px 5px 10px;
	font-size: 0.92em;
	color: #999 !important;
	background-color: #f1f1f1;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	border: 1px solid #e9e9e9;
	text-shadow: 1px 1px 0px #fff;
}
#breadcrumb a {
	color: #797979;
	margin-right: 6px;
	text-shadow: none;
	text-decoration:underline;
}
#breadcrumb .sep {
	margin-right: 6px;
}*/


/* ===== Mid Section ===== */
#mid-section .column {
	text-align: center;
}

#mid-section h1 {
	font-size: 20px;
	text-transform: uppercase;
}

#mid-section p {
	margin: 0;
}


/* ===== Main Section ===== */
#main-section {
	width: 100%;
	padding: 20px 0;
	background: #FFF;
	position: relative;
	z-index: 300px;
}


/* ===== Main ===== */
a {
	color: #00AEEF;
	text-decoration: none;
}

a:hover {
	color: #8DC63F;
}

#main h1 a, #main h2 a, #main h3 a, #main h4 a, #main h5 a {
	text-decoration: none;
}

#main p {
	margin: 0 0 10px 0;
}

#main ul {
	list-style: outside disc;
	margin: 0 0 10px 0;
	padding: 0 0 0 20px;
}

#main ol {
	list-style: outside decimal;
	margin: 0 0 10px 0;
	padding: 0 0 0 20px;
}

#main hr {
	width: 100%;
	margin-bottom: 15px;
	padding-top: 15px;
	border: none;
	border-bottom: solid 1px #CCC;
	clear: both;
}

#main .page-title {
	font-size: 25px;
	text-transform: uppercase;
}

#main .mb-testimonial ul {
	padding: 0;
	margin: 0;
}

#main .mb-testimonial li {
	padding-bottom: 10px;
	border-bottom: solid 1px #CCC;
	margin-bottom: 10px;
	list-style: none;
	font-style: italic;
}

#main .mb-testimonial li:last-child {
	border-bottom: none;
}

#main .mb-testimonial .testimonial-body:before, #main .mb-testimonial .testimonial-body:after {
	content: '"';
}

#main .mb-testimonial .testimonial-body {
	padding-left: 6px;
	text-indent: -6px;
}

#main .mb-testimonial .customer {
	font-style: normal;
	font-weight: 700;
	color: #8DC63F;
}

#main .news-post {
	padding-bottom: 10px;
	border-bottom: solid 1px #CCC;
	margin-bottom: 10px;
}

#main .views-row-last {
	border: none;
}

#main .news-post .post-title {
	font-weight: 700;
}

#main .news-post .post-date {
	font-size: 12px;
	font-style: italic;
}

.webform-client-form .form-text {
	width: 446px;
}

.captcha .form-text {
	width: 90%;
}


/* ===== Pricing Page ===== */
#main .pricing {
	text-align: center;
}

#main .pricing .feature {
	padding: 5px 0;
	margin: 0;
	background: #555;
	color: #FFF;
}

#main .pricing h3 {
	width: 100%;
	padding: 20px 0;
	background: #CCC;
	font-size: 20px;
	font-weight: normal;
	color: #555;
}

#main .pricing .price {
	width: 99%;
	padding: 20px 0;
	margin: 0;
	background: #EEE;
	font-size: 25px;
	border: solid 1px #CCC;
}

#main .pricing ul.includes {
	padding: 0;
	margin: 0;
}

#main .pricing ul.includes li {
	list-style: none;
	width: 99%;
	margin: -1px 0;
	padding: 15px 0;
	border: solid 1px #CCC;
	font-size: 14px;
}

#main .pricing .buy-btn {
	display: block;
	width: 100%;
	padding: 20px 0;
	margin: 0;
	background: #00AEEF;
	border-bottom: solid 5px #8DC63F;
	color: #FFF;
}

#main .pricing .buy-btn:hover {
	background: #8DC63F;
}


/* ===== Half Left/Right ===== */
#half-left p, #half-right p {
	margin: 0 0 10px 0;
}


/* ===== Footer ===== */
footer {
	background: #00AEEF;
	padding: 10px 0;
	font-size: 12px;
	color: #FFF;
	position: relative;
	z-index: 310;
}

footer .block-title {
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: 700; 
	text-transform: uppercase;
}

footer a {
	color: #FFF;
	text-decoration: none;
}

footer a:hover {
	color: #8DC63F;
}

footer a.active {
	color: #8DC63F;
}

footer ul.menu {
	padding: 0;
	margin: 0;
	text-align: center;
}

footer ul.menu li {
	display: inline-block;
	padding: 0;
	margin: 0;
	list-style: none;
}

footer ul.menu li a {
	padding: 5px 10px;
}

footer .blog-post {
	padding-bottom: 5px;
	border-bottom: solid 1px #FFF;
	margin-bottom: 5px;
}

footer .views-row-last {
	border-bottom: none;
}

footer .mb-testimonial {
	height: 200px;
	margin-top: 5px;
	overflow: hidden;
	position: relative;
}

footer .mb-testimonial li {
	left: 0;
	list-style: none outside none;
	position: absolute !important;
	display: none;
	top: 0;
	min-height:80px;
	padding: 10px;
	border: solid 1px #FFF;
	border-radius: 5px;
	position: relative;
}

footer .mb-testimonial .customer {
	display: block;
	width: 170px;
	padding-left: 10px;
	font-weight: bold;
	text-indent: -10px;
	position: absolute;
	left: 0;
	bottom: -35px;
}

/* ===== Form Elements ===== */
input, textarea, select {
	border: solid 1px #CDCED0;
	outline: none;
}

input:focus, textarea:focus, select:focus {
	border: solid 1px #00AEEF;
	outline: none;
}

.form-submit {
	padding: 8px 20px;
	color: #FFF;
	border: none;
	background: #CDCED0;
	cursor: pointer;
}

.form-submit:hover {
	background: #00AEEF;
}

.node-form .vertical-tabs .fieldset-wrapper {
	margin-top: 0;
}
.filter-wrapper {
	top: 0;
	padding: 1em 0 0.2em;
	-khtml-border-radius-topright: 0;
	-khtml-border-radius-topleft: 0;
	-moz-border-radius-topright: 0;
	-moz-border-radius-topleft: 0;
	-webkit-border-top-left-radius: 0;
	-webkit-border-top-right-radius: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.filter-help a {
	font-size: 0.857em;
	padding: 2px 20px 0;
}
.filter-wrapper .form-item label {
	margin-right: 10px;
}
.filter-wrapper .form-item {
	padding: 0 0 0.5em 0.5em;
}
.filter-guidelines {
	padding: 0 1.5em 0 0.5em;
}


.password-suggestions ul li {
	margin-left: 1.2em;
}
.form-item {
	margin-bottom: 1em;
	margin-top: 2px;
}
.form-item label {
	font-size: 0.929em;
}
.form-type-radio label, .form-type-checkbox label {
	margin-left: 4px;
}
.form-type-radio .description, .form-type-checkbox .description {
	margin-left: 2px;
}
.form-actions {
	padding-top: 10px;
}


/* ===== Table Styles ===== */
table {
	border: 0;
	border-spacing: 0;
	margin: 0 0 20px 0;
	width: 100%;
	border-collapse: inherit;
}
table table {
	font-size: 1em;
}
th {
	border:none;
}
td {
	border: none;
	padding: 5px;
}
table tr th, table tr th a, table tr th a:hover {
	font-weight: bold;
}
table tbody tr th {
	vertical-align: top;
}
/*tr.odd {
	background-color: #F4F4F4;
	border-bottom: 1px solid #EBEBEB;
	border-top: 1px solid white;
}
tr, tr.even {
	background-color: #F9F9F9;
	border-bottom: 1px solid #EDEDED;
	border-top: 1px solid white;
}*/
tr.odd, tr.even {
	background: none;
	border: none;
	padding: 0;
}

/* ===== Help ===== */
.region-help {
	border: 1px solid #d3d7d9;
	padding: 20px;
	margin: 20px 0;
}


/* ===== Animated throbber ===== */
html.js input.form-autocomplete {
	background-position: 100% 4px;
}
html.js input.throbbing {
	background-position: 100% -16px;
}


/* ===== Search Results ===== */
ol.search-results {
	padding-left: 0;
}
.search-results li {
	border-bottom: 1px solid #d3d7d9;
	padding-bottom: 0.4285em;
	margin-bottom: 0.5em;
}
.search-results li:last-child {
	border-bottom: none;
	padding-bottom: none;
	margin-bottom: 1em;
}
.search-results .search-snippet-info {
	padding-left: 0;
}


/* ===== Resets ===== */
.field-type-taxonomy-term-reference .field-item {
	float: left;
	padding: 0 1em 0 0;
	white-space: nowrap;
}

.item-list .pager {
	font-size: 0.929em;
}

.region-content ul, .region-content ol {
	margin: 1em 0;
	padding: 0 0 0.25em 2.5em;
}

.contextual-links-wrapper {
	font-size: small !important;
}

.contextual-links-wrapper a {
	text-shadow: 0 0 0 !important;
}

ul.contextual-links {
	font-size: 0.923em;
}

.profile .user-picture {
	float: none;
}

div.password-suggestions {
	border: 0;
}

.ui-widget-overlay {
	background: #222222;
	opacity: 0.7;
}

div.vertical-tabs .vertical-tabs-panes fieldset.vertical-tabs-pane {
	padding: 1em;
}

#forum .name {
	font-size: 1.083em;
}

#forum .description {
	font-size: 1em;
}


/* ===== Downloads and Documentation ===== */
.cta {
	margin: 10px auto 0px auto;
	padding: 10px 10px 20px 10px;
	background-color: #f2f2f2;
	position: relative;
	border: 1px solid #dcdcdc;
	border-radius:8px;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	text-shadow: #fff 1px 1px 0;
	box-shadow: 1px 1px 0 #fff inset, -1px -1px 0 #fff inset;
	-moz-box-shadow: 1px 1px 0 #fff inset, -1px -1px 0 #fff inset;
	-webkit-box-shadow: 1px 1px 0 #fff inset, -1px -1px 0 #fff inset;
}
.cta h3 {
	font-size: 1.5em;
	text-shadow: #fff 1px -1px 0;
}


/* ===== iPad Portrait/Browser ===== */
@media only screen and (min-width: 768px) and (max-width: 959px) {
#header-right .phone {
	font-size: 30px;
}

#header-right .estimate-btn {
	padding: 5px 10px;
}

#navigation ul.menu li a, #navigation ul.sf-menu li a {
	font-size: 14px;
	padding: 8px 10px;
}

#navigation ul.menu ul, #navigation ul.sf-menu ul {
	top: 30px;
}

#md-slider .slide h2 {
	font-size: 32px;
}

#md-slider .slide .sub-head {
	margin-top: -13px;
	font-size: 26px;
}

#md-slider .slide .slider-btn img {
	padding-right: 5px;
}

#md-slider .slide .slider-btn {
	margin-top: 10px;
	font-size: 12px;
}

#main .gallery-post .gallery-images {
	height: 130px;
}

#main .gallery-post .gallery-images a {
	height: 130px;
}

#main .gallery-post .gallery-images a img {
	height: 130px;
}

.webform-client-form .form-text {
	width: 350px;
}
}

/* ===== Mobile Portrait ===== */
@media only screen and (max-width: 767px) {
#header #logo img {
	margin: 40px 0 0;
}

#header-right {
	text-align: center;
}

nav {
	padding: 10px 0;
}

select.mnav {
	width:100%;
	padding:5px;
}

#md-slider {
	display: none;
}

#mobile-slider {
	display: block;
	text-align: center;
}

#main .gallery-post .gallery-images {
	height: 215px;
}

#main .gallery-post .gallery-images a {
	height: 215px;
}

#main .gallery-post .gallery-images a img {
	height: 215px;
}

.webform-client-form .form-text {
	width: 286px;
}
}


/* ===== Mobile Landscape ===== */
@media only screen and (min-width: 480px) and (max-width: 767px) {
#header #logo img {
	margin: 40px 0 0;
}

#header-right {
	text-align: center;
}

nav {
	padding: 10px 0;
}

#md-slider {
	display: none;
}

#mobile-slider {
	display: block;
	text-align: center;
}

#main .gallery-post .gallery-images {
	height: 280px;
}

#main .gallery-post .gallery-images a {
	height: 280px;
}

#main .gallery-post .gallery-images a img {
	height: 280px;
}

.webform-client-form .form-text {
	width: 446px;
}
}/**** http://wash.sitewiredprojects.info/sites/all/themes/Custom/css/layout.css *****/



/* Table of Contents
==================================================

	#Page Styles
	#Media Queries
	#Font-Face */

/* #Page Styles
================================================== */

/* Layout Shortcodes */
.full-width {width:960px; height:auto; overflow:hidden}

.one_half { width: 48%; }
.one_third { width: 30.66%; }
.two_thirds { width: 65.33%; }
.one_fourth { width: 22%; }
.three_fourths { width: 74%; }
.one_fifth { width: 16.8%; }
.two_fifth { width: 37.6%; }
.three_fifth { width: 58.4%; }
.four_fifth { width: 67.2%; }
.one_sixth { width: 13.33%; }
.five_sixth { width: 82.67%; }

.one_half,
.one_third,
.two_thirds,
.three_fourths,
.one_fourth,
.one_fifth,
.two_fifth,
.three_fifth,
.four_fifth,
.one_sixth,
.five_sixth {
	position: relative;
	margin-right: 4%;
	margin-bottom: 20px;
	float: left;
}

.last {margin-right:0 !important;}

/* #Media Queries
================================================== */
	
	/* iPad Portrait/Browser */
	@media only screen and (min-width: 768px) and (max-width: 991px) {}
	
	/* Mobile/Browser */
	@media only screen and (max-width: 767px) {

	#breadcrumb { display: none; }

	.full-width,
	.one_half,
	.one_third,
	.two_thirds,
	.three_fourths,
	.one_fourth,
	.one_fifth,
	.two_fifth,
	.three_fifth,
	.four_fifth,
	.one_sixth,
	.five_sixth {width: 100%;}

	}
	
	/* Mobile Landscape/Browser */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}
	
	/* Anything smaller than standard 960 */
	@media only screen and (max-width: 959px) {}
	
	/* iPad Portrait Only */
	@media only screen and (min-width: 768px) and (max-width: 991px) and (max-device-width: 1000px) {}
	
	/* Mobile Only */
	@media only screen and (max-width: 767px) and (max-device-width: 1000px) {}
	
	/* Mobile Landscape Only */
	@media only screen and (min-width: 480px) and (max-width: 767px) and (max-device-width: 1000px) {}
	

/**** http://wash.sitewiredprojects.info/sites/default/files/fontyourface/font.css *****/


body { font-family: 'Open Sans'; font-style: normal; font-weight: normal; }


.offset1 {
    margin-left: 30px;
}


@media (max-width: 767px) {

.offset1 {
    margin-left: 0;
}

.navbar-fixed-top, .navbar-fixed-bottom {
    margin-right: -10px;
    margin-left: -10px;
}

}

html #kiosk_cardNumber {
    text-indent: 10em;
}

html .cc-mask {
    padding: 3px 6px;
}
