#bootstrap2x {
  font-family: 'Source Sans Pro', sans-serif !important;
}
#bootstrap2x {
  font-family: 'Source Sans Pro',sans-serif;
  color: #5b5b5b;
}

#bootstrap2x li > a.dropdown-toggle {
  color: #fff !important;
}

#bootstrap2x .page-header, 
#bootstrap2x a, 
#bootstrap2x h1,
#bootstrap2x h2,
#bootstrap2x h3 {
  color: #605E5E !important;
}

#bootstrap2x li.group-title > a:hover, 
#bootstrap2x li.sub-option > a:hover {
  color: #fff !important;
}

#bootstrap2x .page-header {
  border-bottom: 1px solid #323232 !important;
}

#bootstrap2x hr {
  background-color: #fff;
  border-top: 1px solid #fff !important;
  border-bottom: 1px solid #323232 !important;
}

    #bootstrap2x .btn, #prefs_button {
      border: none !important;
      background: #323232 !important;
      color: #fff !important;
      border-radius: 0;
      box-shadow: none !important;
      line-height: 22px;
      padding: 10px 25px;
      letter-spacing: 0.9px !important;
    }

    #bootstrap2x .btn-primary, 
    #bootstrap2x .btn-info, 
    #bootstrap2x .btn-success, 
    #bootstrap2x .btn-large, 
    #bootstrap2x .btn-info {
      background-color: #323232;
    }

    #bootstrap2x .btn:hover, 
    #bootstrap2x .btn-primary:hover, 
    #bootstrap2x .btn-large:hover, 
    #bootstrap2x .btn-primary:focus, 
    #bootstrap2x .btn-primary:active, 
    #bootstrap2x .btn-primary.active, 
    #bootstrap2x .open > #bootstrap2x .dropdown-toggle.btn-primary {
      background: #323232;
      color:#fff;
    }

    #bootstrap2x .btn-primary:active, #bootstrap2x .btn-primary.active {
      background: #323232;
      box-shadow: none;
    }


#bootstrap2x input {
  padding-top: 1em !important;
    padding-bottom: 1em !important;
    border-radius: 0 !important;
}

#bootstrap2x input[value="Login"].btn {
  display: block !important;
  clear: both !important;
  margin-bottom: 1em;
}

#bootstrap2x input#setup_access_button, 
#bootstrap2x input#remove_access_button,
#bootstrap2x input#update_access_button  {
  height: 3em;
  min-width: 9em;
  max-width: 100px;
  padding: 0;
}


#bootstrap2x .kiosk-access-buttons {
  left: 13em;
}

#bootstrap2x .kiosk-access-buttons p{
  width: 10em;
  text-align: right;
}

#bootstrap2x #kiosk_expYr, #bootstrap2x #kiosk_expMo {
  width: 3em;
}

#default_account_nav li {
  line-height: 1.5em;
}
 #prefs_button {
  text-shadow: none  !important;
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 1.5rem  !important;
  font-weight: normal  !important;
}

label.invalid {
  position: absolute;
  color: red  !important;
  font-size: .6em !important;
  bottom: -0.5em;
}

@media (max-width: 767px) {
  #bootstrap2x .kiosk-access-buttons {
    left: 0em;
    width: 100%;
    position: relative;
  }
}