body {
    padding-top: 50px;
  }
  
  .starter-template {
    padding: 40px 15px;
    text-align: center;
  }
  
  .myLogo { 
      padding: 10px; 
      margin-right: 4em;
  }
  
  .myLogo img {
      width: 64px;
      height: auto;
  }
  
  .navbar-inverse .navbar-nav>.active>a, 
  .navbar-inverse .navbar-nav>.active>a:focus, 
  .navbar-inverse .navbar-nav>li a, 
  .navbar-inverse .navbar-nav>li a:focus {
      color: #fff;
      text-transform: uppercase;
      font-style: normal;
      font-variant-ligatures: normal;
      font-variant-caps: normal;
      font-variant-numeric: normal;
      font-variant-east-asian: normal;
      font-weight: 600;
      font-stretch: normal;
      font-size: 14px;
      line-height: 1.4em;
      font-family: proxima-n-w01-reg, sans-serif;
  }
  
  .navbar-nav > li > .dropdown-menu { background-color: #101010; }
  
  footer {
      color: #fff;
      background-color: #333232;
      border-color: #333232;
  }
  
  footer .container {
      padding-top: 3em;
  }
  
  .footer-list span {
      color: #FFF; 
      font-weight: 800; 
      padding-bottom: 10px; 
      margin-bottom: 20px;
      display: block;
      text-transform: uppercase;
      font-size: 13px;
      letter-spacing: 3px;
   }
    
   .footer-list  li a , .footer-list  li p{
       color:#FFF;
       text-decoration:none;
       font-size:13px;
       font-family: proxima-n-w01-reg,sans-serif;
       line-height: 1.5em;
       letter-spacing: normal;
   }
   
   .footer-list li {
       list-style: none;
   }
  
  
  
   .navbar-inverse {
      background-color: #333232;
      border-color: #333232;
   }
  
   .icon {
      position:relative;
      text-align:center;
      width:0px;
      height:0px;
      padding:22px;
      border-top-right-radius: 	22px;
      border-top-left-radius: 	22px;
      border-bottom-right-radius: 22px;
      border-bottom-left-radius: 	22px; 
      -moz-border-radius: 		22px 22px 22px 22px;
      -webkit-border-radius: 		22px 22px 22px 22px;
      -khtml-border-radius: 		22px 22px 22px 22px; 	
      color:#FFFFFF;
  }
  .icon i {
      font-size:25px;
      position:absolute;
      left:9px;
      top:10px;
  }
  .icon.social {
      float:left;
      margin:0 5px 0 0;
      cursor:pointer;
      background:#fff ;
      transition: 0.5s;
      -moz-transition: 0.5s;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s; 	
  }
  
  .icon.social.fb i {
      left:13px;
      top:10px;
      color:#333232;
  }
  .icon.social.tw i {
      left:11px;
      color:#333232;
  }
  .icon.social.in i {
      left:11px;
      color:#333232;
  }
  