

#main_content {
    margin-bottom: 20px;
    padding: 0 20px;
}

p {
    background: transparent;
    margin: 0px;
    font-family: 'Merriweather', serif;
    color: #414141;
    font-size: 135%;
}

.width_100.wrapper_menu {
    margin-bottom: 20px;
}

ul.breadcrumb li a, a.btn, #default_account_nav ul li a {
    text-decoration: none;

}

.breadcrumb li {
    font-size: 13px;
}

#default_account_nav ul li a {
    font-size: 14px;
}


#prefs_button:hover {
    color: white;
}

.btn {
    border: none;

    cursor: pointer;
    background: #7ba049;
    color: white;
    font-size: 15px;

    width: auto;
    height: auto;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    behavior: url(pie/PIE.php);
    z-index: inherit;

}

.btn, .btn:hover {
    background-image: none;
    text-shadow: none;

}

.btn:hover {
    background: #739644;
}

input.btn.btn-danger {
    background-color: #E33B3B;
}

h2 {
    font-size: 2.3em;
}

div.alert, div.alert button.close {
    font-size: 130%;
}

div.alert.alert-info {
    background-color: #e5ebb1;
    border-color: #a5ca0d;
}

div.alert.alert-info h1, div.alert.alert-info h3 {
    color: black;
}

table.table.table-striped.table-bordered.table-condensed thead tr th {
    font-size: 130%;
}

table.table.table-striped.table-bordered.table-condensed tbody tr, span#time  {
    font-size: 120%;
}

label {
    font-size: 15px;
}

input[type=text] {
    font-size: 120%;
}

select#expMo, select#expYr, select[name=default_business_language_id] {
    font-size: 1.4em;
}

.menu-item h3 a {
    font-size: 22px;
}

.menu-item div {
    font-size: 140%;
}

div dl {
    font-size: 125%;
}

#hourRange {
    font-size: 130%;
}

form.form.form-horizontal div {
    font-size: 125%;
}

#prefNotes  {
    font-size: 1em;
}

#TB_title {
    background-color: #739644;
}

#TB_window {
    border: 1px solid #739644;
    outline: 1px solid #739644;
}

form a {
    font-size: 80%;
}

form#new-order-form a {
    font-size: 100%;
}

form#new-order-form textarea {
    font-size: 120%;
}

#pending-discounts-table tr th, #pending-discounts-table tr td, #applied-discounts-table tr th, #applied-discounts-table tr td {
    font-size: 80%;
}

table.table.table-striped, table.table.table-bordered {
    font-size: 100%;
}

.pay-option-title {
    font-size: 15px;
}

.kiosk-access-success {
    font-size: 80%;
}

div.thumbnail a {
    font-size: 75%;
}

#kiosk_cardNumber {
    font-size: 120%;
}

.kiosk-access-buttons {

    right: 5px;
}

span.cc-mask {
    font-size: 85%;
}

div.user-info-box p {
    font-size: 120%;
}