body { background:#f5f5f5; margin:0px; font-family: 'Merriweather', serif; color: #414141; font-size: 62.5%; }
*{ outline: none;}
img{ border:none; }
h1 { text-align:left; font-weight: 400; color: #414141; text-transform: uppercase;  }
h2 { text-align:left; font-weight: 400; color: #688f00; }
h3, h4, h5, h6 { font-size:18px; text-align:left; font-weight: normal; margin: 14px 0 4px 0 ; }
p { text-align:justify; line-height: 20px; font-weight: 400; padding: 0; margin: 8px 0;  }
p.txt_small { font-size: 1.2em; margin: 3px 0; }
a { color: #414141; text-decoration: underline; font-weight: bold; }
a:hover { color: #000; text-decoration: underline; }

ul.ul_general { list-style: none; margin: 8px 0 8px 20px; padding: 0; }
ul.ul_general li {  margin: 2px 0; padding: 0 0 0 10px; background: transparent url("/images/tintoreriabosques/ico_bullet.png") no-repeat 0 50%; color: #414141; }
ul.ul_general li p { padding: 0; margin: 0; color: #414141; text-indent: 0; }
ol.ol_general { list-style: decimal; margin: 8px 0 8px 40px; padding: 0; }
ol.ol_general li {  margin: 2px 0; padding: 0; color: #414141; }
ol.ol_general li p { padding: 0; margin: 0; color: #414141; text-indent: 0; }

/********** Header **********/
.logo { float: left; position: relative; }
.logo a img { float: left; text-decoration: none; }
.logo a:hover {  }

.col-tels-chat-servicio { float: left; right: 0; }
.tels { float: left; position: relative; }
.tels p { color: #414141; font-weight: 400;}
.tels p a { font-weight: 400; text-decoration: none; color: #414141; }
.tels p a:hover { text-decoration: underline; }
.chat { float: left; position: relative;  background-color: #accd23; }
.chat a { float: left; position: relative; display: block; color: #ffffff; font-weight: 400; text-align: center; text-decoration: none; }
.chat:hover { background-color: #ffffff; }
.servicio-dom:hover { background-color: #accd23; }
.chat a:hover { color: #414141; font-weight: 400; text-decoration: none; }
.servicio-dom a:hover { color: #ffffff; font-weight: 400; text-decoration: none; }
.servicio-dom { float: right; position: relative; border: 1px solid #bcd54d; border-radius: 10px; /* El estÃ¡ndar.*/ -moz-border-radius: 10px; /* Firefox*/-ms-border-radius: 10px; /* IE 8.*/-webkit-border-radius: 10px; /* Safari,Chrome.*/behavior: url(pie/PIE.php); }
.servicio-dom a { float: left; position: relative; display: block; color: #414141; font-weight: 400; text-align: center; text-decoration: none; }
.servicio-dom { float: right; position: relative; border: 1px solid #bcd54d; border-radius: 10px; /* El estÃ¡ndar.*/ -moz-border-radius: 10px; /* Firefox*/-ms-border-radius: 10px; /* IE 8.*/-webkit-border-radius: 10px; /* Safari,Chrome.*/behavior: url(pie/PIE.php); }
.servicio-dom a { float: left; position: relative; display: block; color: #414141; font-weight: 400; text-align: center; text-decoration: none; }

.correo_cabecera { float: right; position: relative; }
.correo_cabecera a { float: left; position: relative; display: block; color: #414141; font-weight: 400; text-align: center; text-decoration: none; }

.telsC { font-weight: 400; text-decoration: none; color: #414141; }
.telsC:hover { text-decoration: underline; }

/********** /Header **********/

/********** Layout ***********/
.col_right { background: #f5f5f5; }
.one_column, .col_content, .col_right, .col_left, .col_48
{ float:left; position: relative; }
.content { position: relative; }

.two_column_left, .two_column_center, .two_column_right, .three_column_left, .three_column_right, .four_column_left, .four_column_right,
.five_column, .six_column  { position: relative; float: left; padding-bottom: 2em;}

.width_100 { float: left; width: 100%; position: relative; }
.width_100.wrapper_menu { background: #e5ebb1; border-top: 1px solid #a5ca0d; border-bottom: 1px solid #a5ca0d; z-index: 999; }
/*.width_100.wrapper_header { background: #ffffff url("/images/tintoreriabosques/header/bkg-header.gif") repeat-x 0 0; }*/
.width_100.wrapper_page { background: #ffffff;}
.width_100.wrapper_footer { background: transparent url("/images/tintoreriabosques/footer/bkg-footer.gif") repeat 0 0; padding-bottom: 10px; }
.width_60{width: 60%;}
.width_40{width: 40%;}
.width_30{width: 30%;}

.align_right { text-align: right; }.align_left { text-align: left; }.align_center { text-align: center; }
.float_left { float: left; } .float_right { float: right; }
input[type="submit"], input[type="button"] { background: #7ba049; border: none; color: #fff; cursor: pointer; margin: 0; font-size: 15px; padding: 5px 10px; width: auto; height: auto; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; behavior: url(pie/PIE.php); z-index: inherit; }
input[type="submit"]:hover, input[type="button"]:hover { background: #000; color: #f0f0f0;  }

/********************************************************** INICIO ZONAS ***********************************************/
.borde-right, .borde-bottom { float: left; position: relative; width: 100%; }
ul.zonas { float: left; position: relative; }
ul.zonas li { float: left; position: relative; list-style: none; margin: 0 0 15px 0; padding: 0; width: 100%; }
ul.zonas li a { text-decoration: none; display: block; color: #414141; font-weight: 500; line-height: 14px; padding: 10px 0 10px 24px;  border: 1px solid #a9d100; background-color: #ffffff; box-shadow: 0px 0px 6px 0px #cccccc; border-radius: 20px; /* El estÃ¡ndar.*/ -moz-border-radius: 20px; /* Firefox*/-ms-border-radius: 20px; /* IE 8.*/-webkit-border-radius: 20px; /* Safari,Chrome.*/behavior: url(pie/PIE.php); }
ul.zonas li a span { float: right; position: absolute; top: -1px; right: -3px; width: 20px; height: 20px; }

ul.zonas li a span.hoja-hover { display: none; }
ul.zonas li a:hover span.hoja-hover, ul.zonas li a.active-zonas span.hoja-hover { display: block; float: left; top: 18px; left: -24px; position: absolute; width: 54px; height: 28px; background: transparent url("/images/tintoreriabosques/body/hoja-zonas-hover.png") no-repeat 0 0; }

ul.sub-zonas { float: left; position: relative; margin: 10px; padding: 0; }
ul.sub-zonas li { float: left; position: relative; list-style: none; margin: 5px 0; padding: 0; width: 100%; }
ul.sub-zonas li a { text-decoration: none; display: block; color: #414141; font-weight: 100; border: none; box-shadow: none; padding: 0 0 0 30px; }
ul.sub-zonas li a:hover, ul.sub-zonas li a.active-sucursal { font-weight: 600; background: transparent url("/images/tintoreriabosques/body/hoja-subzonas-hover.png") no-repeat 0 0; padding: 0 0 0 30px; }
/********************************************************** FIN ZONAS ***********************************************/

.empleo { float: left; position: relative; margin-bottom: 20px; }
.empleo li { float: left; position: relative; list-style: none; margin: 0 0 10px 0; padding: 0; width: 100%; }
.empleo_vacante{ text-decoration: none; display: block; color: #414141; font-weight: 500; line-height: 14px; padding: 10px 0 10px 24px;  border: 1px solid #a9d100; background-color: #ffffff; box-shadow: 0px 0px 6px 0px #cccccc; border-radius: 20px; /* El estÃ¡ndar.*/ -moz-border-radius: 20px; /* Firefox*/-ms-border-radius: 20px; /* IE 8.*/-webkit-border-radius: 20px; /* Safari,Chrome.*/behavior: url(pie/PIE.php); }
.empleo li a span { float: right; position: absolute; top: -1px; right: -3px; width: 20px; height: 20px; }

.empleo li a span.hoja-hover { display: none; }
.empleo li a:hover span.hoja-hover, ul.zonas li a.active-zonas span.hoja-hover { display: block; float: left; top: 18px; left: -24px; position: absolute; width: 54px; height: 28px; background: transparent url("/images/tintoreriabosques/body/hoja-zonas-hover.png") no-repeat 0 0; }

.sub-empleo { float: left; position: relative; margin: 10px; padding: 0; }
.sub-empleo li { float: left; position: relative; list-style: none; margin: 5px 0; padding: 0; width: 100%; }
.sub-empleo li a { text-decoration: none; display: block; color: #414141; font-weight: 100; border: none; box-shadow: none; padding: 0 0 0 30px; }
.sub-empleo li a:hover, ul.sub-zonas li a.active-sucursal { font-weight: 600; background: transparent url("/images/tintoreriabosques/body/hoja-subzonas-hover.png") no-repeat 0 0; padding: 0 0 0 30px; }

ul.ul_cont_empleo { float: left; width: 100%; }
ul.ul_cont_empleo li { text-align: left;  font-size: 1.3em; }
ul.ul_cont_empleo li ul li { font-size: 1.1em; margin:2px 0; }
ul.ul_cont_empleo li ul { float: left; width: 100%; }
ul.ul_cont_empleo li ul { float: left; width: 100%; padding: 0; margin: 0 0 0 10px; }
.buttonSubmit.btn_empleo { float: left; width: 90%; margin: 0; margin-left: 10%}
.buttonSubmit.btn_empleo input { margin: 0; }


.mapa { float: left; position: relative; }
.mapa_detalle{height: 275px;}
a.comollegar { display: block; color: #414141; text-decoration: none; font-weight: 400; border: 1px solid #a9d100; box-shadow: 0px 0px 6px 0px #cccccc; border-radius: 20px; /* El estÃ¡ndar.*/ -moz-border-radius: 20px; /* Firefox*/-ms-border-radius: 20px; /* IE 8.*/-webkit-border-radius: 20px; /* Safari,Chrome.*/behavior: url(pie/PIE.php); }
a:hover.comollegar { color: #ffffff; background-color: #a9d100; }
.compartir, .tel-lateral, .horarios-lateral { float: left; position: relative; border-bottom: 1px solid #a5ca0d; width: 100%; padding: 0 0 10px 0; }
.widget-compartir { float: left; position: relative; width: 100%; }
h2.comparte { text-align:left; font-weight: 600; text-transform: uppercase; color: #414141; margin: 19px 0 0 0; }

.direccion-lateral { float: left; position: relative; width: 100%; padding: 4px 0; }

.tel-lateral { padding: 7px 0; }
.tel-lateral p { color: #414141; }
.tel-lateral p a { color: #414141; text-decoration: none; }
.tel-lateral p a:hover { text-decoration: underline; }

.horarios-lateral { padding: 6px 0; }
h2.horarios, h2.direccion { text-align:left; font-weight: 600; text-transform: uppercase; color: #414141; margin: 0; }
.horarios-lateral p, .direccion-lateral p { color: #414141; font-weight: 200; padding: 0; }

.servicios-lateral { float: left; position: relative; width: 100%; }
h2.servicios { text-align:left; font-weight: 600; text-transform: uppercase; color: #414141; border-bottom: 1px solid #a5ca0d; margin: 0; }

ul.servicios-right { float: left; position: relative; padding: 0; }
ul.servicios-right li { float: left; position: relative; list-style: none; margin: 0; padding: 0; }
ul.servicios-right li a { display: block; color: #414141; font-weight: 400; line-height: 50px; padding: 0 0 0 50px;  text-decoration: none; background: transparent url("/images/tintoreriabosques/body/btns-servicios-lateral.png") no-repeat; }
ul.servicios-right li a:hover { text-decoration: underline; }

ul.servicios-right li a.serv-ejecutivo-lateral { background-position: 0 0; }
ul.servicios-right li a:hover.serv-ejecutivo-lateral { background-position: 0 -50px; }
ul.servicios-right li a.serv-tintoreria-lateral { background-position: 0 -100px; }
ul.servicios-right li a:hover.serv-tintoreria-lateral { background-position: 0 -150px; }
ul.servicios-right li a.serv-sastreria-lateral { background-position: 0 -200px; }
ul.servicios-right li a:hover.serv-sastreria-lateral { background-position: 0 -250px; }
ul.servicios-right li a.serv-lustrado-lateral { background-position: 0 -300px; }
ul.servicios-right li a:hover.serv-lustrado-lateral { background-position: 0 -350px; }
ul.servicios-right li a.serv-vestidos-lateral { background-position: 0 -400px; }
ul.servicios-right li a:hover.serv-vestidos-lateral { background-position: 0 -450px; }

/********************************************************** INICIO LANDING SERVICIOS ***********************************************/
ul.landing-servicios { float: left; position: relative; width: 100%; margin: 0 0 10px 0; padding: 0; }
ul.landing-servicios li { float: left; position: relative; margin: 1%; list-style: none; background-color: #e5ebb1; border: 1px solid #a5ca0d; }
ul.landing-servicios li a { display: block; text-decoration: none; color: #414141; font-weight: 400; line-height: 120px; padding: 0 0 0 120px; background: transparent url("/images/tintoreriabosques/body/servicios/btns-landing-servicios.png") no-repeat; }
ul.landing-servicios li a:hover { color: #688f00; opacity: .5; filter:alpha(opacity=50); -moz-opacity: 0.5; }
ul.landing-servicios li a.servicio-ejecutivo { background-position: 0 0;}
ul.landing-servicios li a.servicio-tintoreria { background-position: 0 25%;}
ul.landing-servicios li a.servicio-sastreria { background-position: 0 50%;}
ul.landing-servicios li a.servicio-lustrado { background-position: 0 75%;}
ul.landing-servicios li a.servicio-vestidos { background-position: 0 100%;}
/********************************************************** FIN LANDING SERVICIOS ***********************************************/
ul.lista-content { float: left; position: relative; }
ul.lista-content li { float: left; position: relative; background: transparent url("/images/tintoreriabosques/body/hoja-lista.png") no-repeat 0 0; list-style: none; }

span.icon { background: transparent url("/images/tintoreriabosques/body/icon-tintoreria.png") no-repeat 0 0; height: 18px; color: #000000; font-weight: 600; padding: 0 0 0 22px;  }
.five_column a img { width: 100%; max-height: 100%; }
.five_column a:hover img { opacity: .5; filter:alpha(opacity=50); -moz-opacity: 0.5; }
.six_column a img { width: 100%; max-height: 100%; }
.six_column a:hover img { opacity: .5; filter:alpha(opacity=50); -moz-opacity: 0.5; }
.ver { font-size: 1.3em; font-weight: 600; text-align: right;  }
.ver span.ver-home { background: transparent url("/images/tintoreriabosques/body/home/ver.png") no-repeat 0 0; width: 14px; height: 15px; float: right; }
.ver a {text-decoration: none;}
.ver a:hover{text-decoration: underline;}

a.noticias-home { text-decoration: none; }
a:hover.noticias-home { text-decoration: underline; }
a.noticias-home p { background-color: #e5ebb1; border: 2px solid #ffffff; margin: 0; padding: 0 0 0 10px; height: 46px; line-height: 50px; font-weight: 600; font-size: 1.7em; border-radius: 15px 15px 0 0; /* El estÃ¡ndar.*/ -moz-border-radius: 15px 15px 0 0; /* Firefox*/-ms-border-radius: 15px 15px 0 0; /* IE 8.*/-webkit-border-radius: 15px 15px 0 0; /* Safari,Chrome.*/behavior: url(pie/PIE.php); }
a.noticias-home p span { background: transparent url("/images/tintoreriabosques/body/home/notices.png") no-repeat 0 0; width: 22px; height: 50px; float: left; padding: 0 0 0 5px; }
a.new-sucursales-home { float: left; text-decoration: none; margin: 10px 0; }
a.new-sucursales-home p.new-title { font-size: 1.7em; font-weight: 600; background: transparent url("/images/tintoreriabosques/body/hoja-subzonas-hover.png") no-repeat 0 0; padding: 0 0 0 30px; }
a.new-sucursales-home p.ver { font-size: 1.3em; font-weight: 600; text-align: right;  }
a:hover.new-sucursales-home p.ver, a:hover.new-sucursales-home p.new-title { text-decoration: underline; }
a.new-sucursales-home p.ver span.ver-home { background: transparent url("/images/tintoreriabosques/body/home/ver.png") no-repeat 0 0; width: 14px; height: 15px; float: right; }

table.form_contactanos { float:left; }
table.form_atencion_clientes { float:left; }
/********** /Layout ***********/

/**********  Footer **********/
.sellos { float: left; position: relative; display: inline-block }
.sellos img.garantia { width: auto; max-height: 100%; }
.sellos img.confianza { width: auto; max-height: 100%; }
.sellos_home { width: auto; float: left; position: relative; display: inline-block }
.sellos_home img.garantia { float: left; max-width: 120px; max-height: 100%; }
.sellos_home img.confianza { float: left; max-width: 120px; max-height: 100%; }
.siguenos { float: left; position: relative; border-right: 1px solid #a5ca0d; }
p.siguenos-en { color: #414141; text-align: right; }

ul.redes-sociales { float: right; position: relative; }
ul.redes-sociales li { float: left; position: relative; list-style: none; }
ul.redes-sociales li a { display: block; text-decoration: none; background: transparent url("/images/tintoreriabosques/footer/redes-sociales.png") no-repeat; width: 34px; height: 34px; }

ul.redes-sociales li a.twitter { background-position: 0 0; }
ul.redes-sociales li a:hover.twitter { background-position: 0 33%; }
ul.redes-sociales li a.facebook { background-position: 0 67%; }
ul.redes-sociales li a:hover.facebook { background-position: 0 100%; }

.tels-footer { float: left; position: relative; }
.tels-footer p { color: #414141; text-align: right; }
.tels-footer p a { color: #414141; text-decoration: none; font-weight: 100;  }
.tels-footer p a:hover { text-decoration: underline; }

.registro-boletin { float: left; position: relative; }
span.hojita-boletin { float: left; position: absolute; background: transparent url("/images/tintoreriabosques/footer/hojas-boletin.png") no-repeat 0 0; width: 58px; height: 37px; z-index: 1; }
input.cajita { float: left; position: relative; border: 1px solid #a5ca0d; color: #414141; box-shadow: 0px 0 6px #858585; border-radius: 10px 0 0 10px; /* El estÃ¡ndar.*/ -moz-border-radius: 10px 0 0 10px; /* Firefox*/-ms-border-radius: 10px 0 0 10px; /* IE 8.*/-webkit-border-radius: 10px 0 0 10px; /* Safari,Chrome.*/behavior: url(pie/PIE.php); }
.btn-enviar { float: right; position: absolute; right: 0; text-align: center; background-color: #444444; border-radius: 10px; /* El estÃ¡ndar.*/ -moz-border-radius: 10px; /* Firefox*/-ms-border-radius: 10px; /* IE 8.*/-webkit-border-radius: 10px; /* Safari,Chrome.*/behavior: url(pie/PIE.php); }
.btn-enviar a { font-weight: 500; text-decoration: none; display: block; color: #ffffff; }

span.msgErr, span.ya-registrado, span.correcto { float:left; color: #ffffff; font-size: 1.2em; line-height: 23px; padding: 0 0 0 5px; }
.msg_email { float: left; position: absolute; }
.mal, .bien { float: left; padding: 5px 0; border-radius: 10px 10px 0 0; /* El estÃ¡ndar.*/ -moz-border-radius: 10px 10px 0 0; /* Firefox*/-ms-border-radius: 10px 10px 0 0; /* IE 8.*/-webkit-border-radius: 10px 10px 0 0; /* Safari,Chrome.*/behavior: url(pie/PIE.php); }
.mal { width: 165px; background-color: #c00000; }
.bien { width: 245px; background-color: #829d29; }

ul.menu-footer-left { float: left; position: relative; border-right: 1px solid #a5ca0d; }
ul.menu-footer-right { float: left; position: relative; }
ul.menu-footer-left li, ul.menu-footer-right li { float: left; list-style: none; }
ul.menu-footer-left li a, ul.menu-footer-right li a { color: #454545; text-decoration: none; font-weight: 400; }
ul.menu-footer-left li a:hover, ul.menu-footer-right li a:hover { color: #558f29; }

.chat-footer, .aviso, .firma-footer { float: left; position: relative; }
.chat-en-vivo { float: left; position: relative; border-bottom: 1px solid #a5ca0d; }
.chat-en-vivo a { background: transparent url("/images/tintoreriabosques/footer/chat.png") no-repeat 0 0; display: block; color: #454545; text-decoration: none; font-weight: 400; text-align: center;  }
.chat-en-vivo a:hover { background: transparent url("/images/tintoreriabosques/footer/chat.png") no-repeat 0 100%; color: #558f29; }

.aviso-privacidad { float: left; position: relative; }
.aviso-privacidad a { display: block; color: #454545; text-decoration: none; font-weight: 400; }
.aviso-privacidad a:hover { color: #558f29; }

.cont_txt_firma { float:left; text-align: left; width: 600px; }
.cont_txt_firma a { color: #414141; text-decoration: none; font-weight: 400; line-height: 40px; }
.cont_txt_firma a:hover { color: #558f29; text-decoration: underline; }
#firma { float:left; height: 40px; z-index: 99; }
/*a#txt_firma { z-index: 99; }*/
#ico_firma { float: left; width: 33px; height: 40px; cursor: pointer; }
#logo_firma { float: left; width: 67px; height: 40px; background: transparent url("/images/tintoreriabosques/firma_logo_sytyos.png") no-repeat -68px 0; }

.width_100.wrapper_footer ul.principal_nav { float:none; width: 100%; position: relative; text-align: center; display: block; }
.width_100.wrapper_footer ul.principal_nav li { float: none; position: relative; display: inline; text-align: center; }
.width_100.wrapper_footer ul.principal_nav li a { float: none;  }
.width_100.wrapper_footer ul.principal_nav li ul li { display: none; }
.width_100.wrapper_footer .cont_nav { width: 100%; background: none; display: none; }
/********** /Footer **********/

/********** Menu desplegable **********/
ul.principal_nav { float: left; position: relative; }
ul.principal_nav li { float: left; list-style: none; text-align: center; line-height: 40px; }
ul.principal_nav li a { float: left; position: relative; display: block; font-weight: 400; text-decoration: none; color: #696969; }
ul.principal_nav li a:hover , ul.principal_nav li ul.servicios li a:hover , ul.principal_nav li ul.ubicaciones li a:hover, ul.principal_nav li.activado a { color: #ffffff; background-color: #688f00; font-weight: 300; }

ul.principal_nav li a span , ul.principal_nav li a span.linea-nosotos , ul.principal_nav li a span.linea-servicios ,
ul.principal_nav li a span.linea-domicilio , ul.principal_nav li a span.linea-empresas , ul.principal_nav li a span.linea-ubicaciones , ul.principal_nav li a span.linea-noticias ,
ul.principal_nav li a span.linea-contacto { display: none; }

ul.principal_nav li a:hover span, ul.principal_nav li.activado a span { position: absolute; width: 35px; height: 55px; top: -17px;}

ul.principal_nav li a:hover span.linea-nosotos, ul.principal_nav li.activado a span.linea-nosotos,
ul.principal_nav li a:hover span.linea-servicios, ul.principal_nav li.activado a span.linea-servicios,
ul.principal_nav li a:hover span.linea-domicilio, ul.principal_nav li.activado a span.linea-domicilio,
ul.principal_nav li a:hover span.linea-empresas, ul.principal_nav li.activado a span.linea-empresas,
ul.principal_nav li a:hover span.linea-ubicaciones, ul.principal_nav li.activado a span.linea-ubicaciones, 
ul.principal_nav li a:hover span.linea-noticias, ul.principal_nav li.activado a span.linea-noticias,
ul.principal_nav li a:hover span.linea-contacto, ul.principal_nav li.activado a span.linea-contacto
{ position: absolute; width: 185px; height: 23px; top: 27px; background: transparent url("") no-repeat; }

ul.principal_nav li a:hover span.linea-nosotos, ul.principal_nav li.activado a span.linea-nosotos { left: -50px; background-position: 0 0; } 
ul.principal_nav li a:hover span.linea-servicios, ul.principal_nav li.activado a span.linea-servicios { left: -50px; background-position: 0 17%; } 
ul.principal_nav li a:hover span.linea-domicilio, ul.principal_nav li.activado a span.linea-domicilio { left: -8px; background-position: 0 35%; } 
ul.principal_nav li a:hover span.linea-empresas, ul.principal_nav li.activado a span.linea-empresas { left: -8px; background-position: 0 50%; } 
ul.principal_nav li a:hover span.linea-ubicaciones, ul.principal_nav li.activado a span.linea-ubicaciones { left: -35px; background-position: 0 68%; } 
ul.principal_nav li a:hover span.linea-noticias, ul.principal_nav li.activado a span.linea-noticias { left: -35px; background-position: 0 85%; } 
ul.principal_nav li a:hover span.linea-contacto, ul.principal_nav li.activado a span.linea-contacto { left: -50px; background-position: 0 100%; } 

ul.principal_nav li ul.servicios { position: absolute; background-color: #e5ebb1; margin: 0; padding: 0; opacity: 0; filter:alpha(opacity=0); }
ul.principal_nav li ul.servicios li { float: left; width: 100%; padding: 0; margin: 0; opacity: 0; filter:alpha(opacity=0); border-bottom: 1px solid #a5ca0d; }
ul.principal_nav li ul.servicios li a { float: left; width: 100%; color: #414141; background-color: transparent;  white-space:nowrap; margin: 0; padding: 0; }

ul.principal_nav li ul.ubicaciones { position: absolute; top: 41px;  background-color: #e5ebb1; margin: 0; padding: 0; opacity: 0; filter:alpha(opacity=0); }
ul.principal_nav li ul.ubicaciones li { float: left; width: 100%; padding: 0; margin: 0; opacity: 0; filter:alpha(opacity=0); border-bottom: 1px solid #a5ca0d; }
ul.principal_nav li ul.ubicaciones li a { float: left; width: 100%; color: #414141; background-color: transparent;  white-space:nowrap; margin: 0; padding: 0; }
/********** /Menu desplegable **********/
table.form_contactanos_domicilio { float: left; }
.width_100.cont_gracias { margin-bottom: 100px; margin: 0 auto; height: 250px; }

.logo a span { display: none; }
.logo a:hover span { display: block; position: absolute; top: 20px; left: 50%; }
#hoja_gracias{background: transparent url("/skin/default/images/body/hojas_gracias.png") no-repeat; background-position: 50% 50%; padding: 50px;}
#hoja_gracias2{background: transparent url("/skin/default/images/body/hojas_gracias2.png") no-repeat; background-position: 50% 50%; padding: 50px;}

.proximas_aperturas{
text-align: left;
width: auto;
height: 40px !important;
color: #558f29 !important;
}
.proximas_aperturas span{
font-size: 10px;
width: 200px !important;
color: #558f29 !important;
position: relative !important;
}

.col_content.ubicaciones{padding: 10px;}
#ubicacion_mas_cercana{position: relative; top: 0px; left: 0; background: #e5ebb5; padding:10px; font-size: 3.3vmin; color: #696969; z-index: 999; border-bottom: 1px solid #a5ca0d; font-weight: normal; text-decoration: none; text-align: center; width: 100%;}

#ubicacion_mas_cercana:hover{position: relative; background: #688f00; padding:10px; color: #ffffff; z-index: 999;}
.hidden{display: none;}