.desc_form_obligatorio, .desc_form_no_obligatorio { color: #414141; font-weight: 400; padding:0 0 0 16px; background-image: url("../img/obligatorio.png"); background-repeat: no-repeat; text-transform: uppercase; }
.desc_form_no_obligatorio { background: none; }
.desc_form_1 { font-size:1em; color:#344854; font-family: Helvetica, Arial, sans-serif;}

.error_contacto { font-size: 16px; float: left; margin: 0; background: beige url("../img/warning.png") no-repeat 5px 7px; border: solid 1px #c00; color: #c00; font-weight: 100; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; behavior: url("/border-radius.htc"); z-index: inherit; zoom: 1; /* For IE6 */ }
.error_contacto_domicilio {  float: left; background: beige url("../img/warning.png") no-repeat 5px 2px; line-height: 30px; border: solid 1px #c00; color: #c00; font-weight: 100; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; behavior: url("/border-radius.htc"); z-index: inherit; zoom: 1; /* For IE6 */ }
.error_contacto_empresas { float: left; background: beige url("../img/warning.png") no-repeat 5px 2px; line-height: 30px; border: solid 1px #c00; color: #c00; font-weight: 100; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; behavior: url("/border-radius.htc"); z-index: inherit; zoom: 1; /* For IE6 */ }
.error_contacto img { margin: 10px 0 0 10px; }
.error_atencion { font-size: 16px; float: left; height: 35px; width: 450px; margin: 0; background: beige url("../img/warning.png") no-repeat 5px 7px; border: solid 1px #c00; color: #c00; font-weight: 100; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; behavior: url("/border-radius.htc"); z-index: inherit; zoom: 1; /* For IE6 */ }

.error_reservacion { padding: 0 0 0 35px; margin: 0 0 20px 0; background: beige url("../img/warning.png") no-repeat 5px 7px; border: solid 1px #c00;  color: #c00; font-weight: normal; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; behavior: url("/border-radius.htc"); z-index: inherit; zoom: 1; /* For IE6 */ }
.error_reservacion img { margin: 10px 0 0 10px; }
.error_empleo {font-size: 12px; padding: 3px; border: 1px solid #C00; background: url('../img/warning.png') no-repeat scroll 8px 0px #F5F5DC; color: #C00;background-size: 4%; padding-left: 40px;}

span.hint {
	background:/*#d7d7d7*/ url("../img/bg-span-hint-gray.png") no-repeat 0 50%;
	color:#444;
        font-size: 12px;
	/*border:1px solid #888;*/
	padding:8px 5px 8px 40px;
	position:absolute;
	margin: 0 -5px 0 0;
	display:none;
	border-radius: 0 5px 5px 0; 
	-moz-border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0 ;
}
input[type="submit"].submit_contacto { position: relative; float: right; }
.welldone span.hint {
	background:transparent /*url("../img/bg-span-hint-welldone.png") no-repeat  0 left*/;
	margin: 0px 220px 0 0;
	color:#000;
	border: none;
}

.kindagood span.hint {
	background:#ffffcc url("../img/bg-span-hint-kindagood.jpg") no-repeat 0 0;
	height:40px;
	margin: 0 -5px 0 0;
	border: none;
}

.welldone {
	background:transparent url("../img/bg-fieldset-welldone.png") no-repeat 0 0;
	height:40px;
	color:#444;
	margin-left:8px;
	margin-top:8px;
	position:absolute;
	width: 50px;
	display:none;;
}

.bad {
		background:transparent url("../img/warning.png") no-repeat 0 0;
	height:40px;
	color:#444;
	margin-left:10px;
	margin-top:2px;
	position:absolute;
	width: 50px;
	display:none;
}

.caution {
	background:transparent url("../img/caution.png") no-repeat 220px 15px;
	height:40px;
	border: none;
}

.kindagood {
	background:transparent url("../img/bg-fieldset-kindagood.png") no-repeat 250px 0px;
	height:40px;
	margin: 0 -5px 0 0;
	border: none;
}

/*form*/

div.buttonSubmit {
	position: relative;
}

div.buttonSubmit input,div.buttonSubmit span {
	height: 36px;
	position: absolute;
	
	background-repeat: no-repeat;
	background-position: 0 0px;
	float: left;
	
	font-weight: bold;
	padding: 0px 15px 2px 15px;
	margin: 20px 0px 20px 0px;
	border: 0px;
	cursor: pointer;
	z-index: 5;
}



div.buttonSubmit input {
	width: auto;
}

div.buttonSubmit span {
	
	position: absolute;
	left: 0px;
	top: 0px;
	background-position: 0 -30px;
	padding: 0px 0px 0px 0px;
	z-index: 10;
}

body.safari div.buttonSubmit span {
	display: none
}

div.buttonSubmitHover input {
	background-position: 0 -73px;
        color: #fff;
}

div.buttonSubmitHover span {
	background-position: 0 -108px;
}


label.error {
	/*display: block;*/
        float: left;
	color: #ca1440;
	font-weight: 100;
        line-height: 16px;
        margin: 2px 0 0 0;
        background: transparent url("../img/flecha-error.png") no-repeat 0 0;
        padding: 0 0 0 23px;
}

input.error {
	border: 1px solid red;
}
textarea.error {
	border: 1px solid red;
}
select.error {
	border: 1px solid red;
}
.textbox {
	background-color:#fff;
	color: #555;
	padding:2px;
	border:1px solid #ddd;
	border-radius: 5px;
	-moz-border-radius-bottomleft: 5px;  
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
        width: 100%;
}

.textbox:focus, .textbox:hover {
	background-color:#f5f5f5;
}

form table td {
	padding: 2px;
}

form table input {
	width: 200px;
	padding: 3px;
	margin: 0px;
}

textarea.textbox {
        height: 100px;
        line-height: 18px;
        color:#000000;
        font-weight: 400;
}

input.textbox {
	height: 25px;
        line-height: 18px;
        color:#000000;
        font-weight: 400;
        width: 100%;
	
}


select {
	height: 35px;
	width: 200px;
	font-size: 1.2em;
}

input[type="checkbox"] { width:20px; height:15px;  }

td.label {
	height: 25px;
	padding: 0 5px 0 0;
        margin: 2px 0;
        line-height: 18px;
}

tr.required td.label {
	font-weight: bold;
	background: url("'/../img/forms/backRequiredGray.png'") no-repeat 100% 50%;
}

td.field input.error, td.field select.error, tr.errorRow td.field input,tr.errorRow td.field select, td.field textarea.error, select {
	/*border: 1px solid #c00;*/
	background-color: #f5f5f5;
	margin: 0px;
	/*color: red;*/
}

tr td.field div.formError {
	display: none;
	color: #FF0000;
}

tr.errorRow td.field div.formError {
	display: block;
	font-weight: normal;
}

div.error {
	font-size:.9em;
	padding:5px 0 0 0;
	color: #c93900;
	text-align:left;
}

div.error a {
	color: #336699;
	font-size: .7em;
	text-decoration: underline
}