/*boostrap mods*/


.btn-primary {
	margin-top: 3px;
    margin-bottom: 3px;
    background-color: #0B69DA;
    background-image: -ms-linear-gradient(top, #0E7CFF, #0B69DA);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0E7CFF), to(#0B69DA));
    background-image: -webkit-linear-gradient(top, #0E7CFF, #0B69DA);
    background-image: -o-linear-gradient(top, #0E7CFF, #0B69DA);
    background-image: -moz-linear-gradient(top, #0E7CFF, #0B69DA);
    background-image: linear-gradient(to bottom, #0E7CFF 0%,#0B69DA 100%);
    background-repeat: repeat-x;
    border-color: #000000;    
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#0E7CFF', endColorstr='#0B69DA', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #0E7CFF;
  *background-color: #0B69DA;
}

.btn-success {
	margin-top: 3px;
    margin-bottom: 3px;
    background-color: #0B69DA;
    background-image: -ms-linear-gradient(top, #0E7CFF, #0B69DA);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0E7CFF), to(#0B69DA));
    background-image: -webkit-linear-gradient(top, #0E7CFF, #0B69DA);
    background-image: -o-linear-gradient(top, #0E7CFF, #0B69DA);
    background-image: -moz-linear-gradient(top, #0E7CFF, #0B69DA);
    background-image: linear-gradient(top, #0E7CFF, #0B69DA);
    background-repeat: repeat-x;
    border-color: #000000;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#0E7CFF', endColorstr='#0B69DA', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #0E7CFF;
  *background-color: #0B69DA;
}

.btn-danger {
	margin-top: 3px;
    margin-bottom: 3px;
    background-color: #0B69DA;
    background-image: -ms-linear-gradient(top, #0E7CFF, #0B69DA);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0E7CFF), to(#0B69DA));
    background-image: -webkit-linear-gradient(top, #0E7CFF, #0B69DA);
    background-image: -o-linear-gradient(top, #0E7CFF, #0B69DA);
    background-image: -moz-linear-gradient(top, #0E7CFF, #0B69DA);
    background-image: linear-gradient(top, #0E7CFF, #0B69DA);
    background-repeat: repeat-x;
    border-color: #000000;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#0E7CFF', endColorstr='#0B69DA', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  background-color: #0E7CFF;
  *background-color: #0B69DA;
}

.btn-info {
	margin-top: 3px;
    margin-bottom: 3px;
    background-color: #0B69DA;
    background-image: -ms-linear-gradient(top, #0E7CFF, #0B69DA);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0E7CFF), to(#0B69DA));
    background-image: -webkit-linear-gradient(top, #0E7CFF, #0B69DA);
    background-image: -o-linear-gradient(top, #0E7CFF, #0B69DA);
    background-image: -moz-linear-gradient(top, #0E7CFF, #0B69DA);
    background-image: linear-gradient(top, #0E7CFF, #0B69DA);
    background-repeat: repeat-x;
    border-color: #000000;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#0E7CFF', endColorstr='#0B69DA', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  background-color: #0E7CFF;
  *background-color: #0B69DA;
}


a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #0B69DA;
    text-decoration: none;
}

.alert-info {
    color: #333333;
    background-color: #F1F1F1;
    border-color: #ABAAAA;
}

@media (max-width: 979px) {
	.navbar .brand {
	    /* padding-right: 59px; */
	    padding-left: 28px;
	    margin: 0px 0 0 0px;
	}
		
	.navbar .btn-navbar {	
	    margin-right: 21px;
	}

	.container {
	    width: auto;
	    margin-left: 10px;
	    margin-right: 10px;
	}
	.nav-collapse .nav {	 
	    margin: 0 0 9px 10px;
	}
}

	textarea, input, select {
	    font-family: Helvetica, Arial, sans-serif;	    
	}
