.wsb-canvas {
	width:100%;
	height:100%;
	position:absolute;
	overflow-x:auto;
	overflow-y:scroll;
	background-color:#f7f7f7;
	background-repeat:repeat
}

.wsb-canvas-scrollable {
	width:100%;
	position:absolute;
	z-index:0;
	top:0;
	left:0
}

.wsb-canvas-page-container {
	width:100%
}

/*
[class^="icon-"],[class*=" icon-"] {
	display:inline-block;
	width:14px;
	height:14px;
	margin-top:2px;
	*margin-right:.3em;
	line-height:14px;
	vertical-align:text-top;
	background-position:14px 14px;
	background-repeat:no-repeat
}

.btn [class^="icon-"] {
	margin-right:4px}
*/

.wsb-preview-container {
	width:100%;
	height:100%;
	position:absolute;
	overflow:auto
}

.wsb-preview-desktop-container {
	margin:auto;
	width:974px;
	height:1200px;
	background-color:#f5ede0
}

.wsb-preview-desktop-page {
	position:absolute
}

.wsb-preview-mobile-container {
	width:100%;
	height:800px
}

.wsb-preview-mobile-phone-container {
	margin:100px auto;
	width:408px;
	height:660px
}

.wsb-preview-mobile-phone {
	border:30px solid black;
	border-bottom:80px solid black;
	width:408px;
	height:660px;
	background-color:#FFF;
	overflow-y:scroll;
	border-radius:20px
}

.wsb-media-gallery {
	margin:0 auto;
	position:relative
}

.wsb-media-gallery-slider {
	list-style:none outside none;
	margin:0;
	overflow:hidden;
	padding:0;
	text-align:center;
	position:relative
}

.wsb-media-gallery-slider.bordered {
	border:15px solid #f5f5f5
}

.wsb-media-gallery-slider li {
	left:0;
	height:100%;
	position:absolute;
	overflow:hidden;
	width:500px
}

.wsb-media-gallery-slider img {
	max-width:100%;
	max-height:100%;
	height:auto;
	width:auto;
	position:relative
}

.wsb-media-gallery-slider img.autosize {
	min-width:100%;
	min-height:100%;
	max-width:none;
	max-height:none
}

.wsb-media-gallery-caption {
	bottom:0;
	position:absolute;
	color:#fff;
	background-color:#000;
	background-color:rgba(0,0,0,.75);
	text-align:left;
	padding:10px
}

a .wsb-media-gallery-caption,a:link .wsb-media-gallery-caption,a:visited .wsb-media-gallery-caption,a:hover .wsb-media-gallery-caption {
	color:#fff
}

.wsb-media-gallery-pagination {
	text-align:center;
	display:block;
	list-style:none outside none;
	margin:0;
	padding:5px
}

.wsb-media-gallery-pagination li {
	background-color:#969696;
	height:10px;
	width:10px;
	display:inline-block;
	cursor:pointer;
	margin:4px;
	-webkit-box-shadow:inset 0 2px 2px rgba(50,50,50,.5);
	box-shadow:inset 0 2px 2px rgba(50,50,50,.5);
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px
}

.wsb-media-gallery-pagination li.active {
	background-color:#98c22a;
	cursor:default
}

.wsb-media-gallery-pagination-thumbs-wrapper {
	display:block;
	position:absolute;
	left:40px;
	right:40px;
	overflow:hidden;
	bottom:0
}

.wsb-media-gallery-pagination-thumbs {
	display:block;
	list-style:none outside none;
	margin:0;
	padding:0;
	height:80px;
	position:relative
}

.wsb-media-gallery-pagination-thumbs li {
	background-color:transparent;
	height:60px;
	width:85px;
	display:inline-block;
	cursor:pointer;
	overflow:hidden;
	border:2px solid #fff;
	margin-top:15px!important;
	cursor:pointer
}

.wsb-media-gallery-pagination-thumbs li.active {
	background-color:#3182e6;
	border:2px solid #3182e6
}

.wsb-media-gallery-pagination-thumbs-left-arrow,.wsb-media-gallery-pagination-thumbs-right-arrow {
	width:30px;
	height:62px;
	display:block;
	position:absolute;
	bottom:1px;
	background-color:#474747;
	border:1px solid #474747;
	background-image:url(//img4.wsimg.com/wst/v7/WSB7_J_20140905_1553_maint-dep_2970/v1/images/wsb-slideshow-nav-arrows-sprt.png);
	background-repeat:no-repeat
}

.wsb-media-gallery-pagination-thumbs-left-arrow {
	background-position:10px -133px
}

.wsb-media-gallery-pagination-thumbs-right-arrow {
	background-position:10px -29px
}

.wsb-media-gallery-pagination-thumbs-left-arrow.enabled,.wsb-media-gallery-pagination-thumbs-right-arrow.enabled {
	border:1px solid #777;
	cursor:pointer
}

.wsb-media-gallery-pagination-thumbs-left-arrow.enabled {
	background-position:10px -81px
}

.wsb-media-gallery-pagination-thumbs-right-arrow.enabled {
	background-position:10px 23px
}

.wsb-media-gallery-pagination-thumbs-left-arrow.enabled:hover,.wsb-media-gallery-pagination-thumbs-right-arrow.enabled:hover {
	background-color:#777;
	border:1px solid #777
}

.wsb-media-gallery-pagination-thumbs-left-arrow {
	left:0
}

.wsb-media-gallery-pagination-thumbs-right-arrow {
	right:0
}

.wsb-media-gallery-pagination-thumbs-thumbnail-wrapper {
	height:60px;
	width:85px;
	display:block;
	vertical-align:middle;
	text-align:center;
	overflow:hidden
}

.wsb-media-gallery-pagination-thumbs-thumbnail-wrapper img {
	min-width:75px;
	min-height:50px;
	position:relative;
	height:auto;
	width:auto
}

.wsb-media-gallery .wsb-media-gallery-arrows-left-arrow,.wsb-media-gallery .wsb-media-gallery-arrows-right-arrow {
	width:22px;
	height:42px;
	position:absolute;
	cursor:pointer;
	background-image:url(//img4.wsimg.com/wst/v7/WSB7_J_20140905_1553_maint-dep_2970/v1/images/wsb-slideshow-arrows.png)
}

.wsb-media-gallery-arrows-left-arrow {
	background-position:0 0;
	left:0
}

.wsb-media-gallery-arrows-right-arrow {
	background-position:22px 0;
	right:0
}

.wsb-media-gallery .wsb-media-gallery-arrows-hover-left-arrow {
	top:0;
	width:20%;
	min-width:40px;
	position:absolute;
	cursor:pointer;
	background-image:url(//img4.wsimg.com/wst/v7/WSB7_J_20140905_1553_maint-dep_2970/v1/images/wsb-slideshow-left-arrow.png);
	background-position:center center;
	background-repeat:no-repeat
}

.wsb-media-gallery .wsb-media-gallery-arrows-hover-right-arrow {
	top:0;
	width:20%;
	min-width:40px;
	position:absolute;
	cursor:pointer;
	background-image:url(//img4.wsimg.com/wst/v7/WSB7_J_20140905_1553_maint-dep_2970/v1/images/wsb-slideshow-right-arrow.png);
	background-position:center center;
	background-repeat:no-repeat
}

.wsb-media-gallery .wsb-media-gallery-arrows-hover-left-arrow {
	left:0
}

.wsb-media-gallery .wsb-media-gallery-arrows-hover-right-arrow {
	right:0
}

.wsb-media-gallery .wsb-media-gallery-overlay {
	text-align:center
}

.wsb-media-carousel {
	text-align:center;
	position:relative;
	height:auto;
	vertical-align:middle
}

.wsb-media-carousel .wsb-media-carousel-wrapper {
	display:inline-block;
	text-align:center;
	overflow:hidden
}

.wsb-media-carousel .wsb-media-carousel-wrapper img {
	height:auto;
	width:auto;
	position:relative
}

.wsb-media-carousel .wsb-media-carousel-overlay {
	text-align:center;
	position:absolute;
	top:0;
	width:100%;
	height:100%
}

@font-face {
	font-family:"WSB Mobile Navigation";
	src:url("//img4.wsimg.com/wst/v7/WSB7_J_20140905_1553_maint-dep_2970/v1/fonts/wsb-mobile-nav.eot");
	src:local("☺"),url("//img4.wsimg.com/wst/v7/WSB7_J_20140905_1553_maint-dep_2970/v1/fonts/wsb-mobile-nav.eot?#iefix") format("embedded-opentype"),url("//img4.wsimg.com/wst/v7/WSB7_J_20140905_1553_maint-dep_2970/v1/fonts/wsb-mobile-nav.woff") format("woff"),url("//img4.wsimg.com/wst/v7/WSB7_J_20140905_1553_maint-dep_2970/v1/fonts/wsb-mobile-nav.ttf") format("truetype"),url("//img4.wsimg.com/wst/v7/WSB7_J_20140905_1553_maint-dep_2970/v1/fonts/wsb-mobile-nav.svg#wsbmobilenav") format("svg")
}

@media screen and (max-device-width:480px) {
	@font-face {
	font-family:"WSB Mobile Navigation";
	src:url("//img4.wsimg.com/wst/v7/WSB7_J_20140905_1553_maint-dep_2970/v1/fonts/wsb-mobile-nav.woff") format("woff"),url("//img4.wsimg.com/wst/v7/WSB7_J_20140905_1553_maint-dep_2970/v1/fonts/wsb-mobile-nav.ttf") format("truetype"),url("//img4.wsimg.com/wst/v7/WSB7_J_20140905_1553_maint-dep_2970/v1/fonts/wsb-mobile-nav.svg#wsbmobilenav") format("svg")
}


}

#mobile-site-view .mobile-menu,#mobile-site-view .mobile-menu a,#mobile-site-view .mobile-menu a:hover,#mobile-site-view .mobile-menu a:visited,#mobile-site-view .mobile-nav,#mobile-site-view .mobile-nav a,#mobile-site-view .mobile-nav a:hover,#mobile-site-view .mobile-nav a:visited {
	font-family:Arial,sans-serif;
	color:#FFF
}

#mobile-site-view .icon-wsb-mobile {
	background:0;
	font-family:'WSB Mobile Navigation';
	speak:none;
	font-size:30px;
	font-style:normal;
	font-weight:normal;
	font-variant:normal;
	text-transform:none;
	line-height:50px;
	-webkit-font-smoothing:antialiased
}

#mobile-site-view .icon-wsb-mobile.down:before {
	content:"\25bc"
}

#mobile-site-view .icon-wsb-mobile.phone:before {
	content:"\260e"
}

#mobile-site-view .icon-wsb-mobile.marker:before {
	content:"\2691"
}

#mobile-site-view .mobile-menu {
	margin:0;
	padding:0;
	font-size:0;
	border-bottom:1px solid #313131;
	position:absolute;
	top:0;
	left:0;
	right:0
}

#mobile-site-view .mobile-menu.fixed {
	position:fixed
}

#mobile-site-view .mobile-menu button {
	width:50px;
	height:50px;
	border:0;
	background-color:#585858;
	padding:0;
	position:absolute
}

#mobile-site-view .mobile-menu button i {
	color:#FFF;
	cursor:pointer;
	height:48px;
	margin:0;
	width:48px;
	position:relative
}

#mobile-site-view .mobile-menu button.toggle-nav {
	border-right:1px solid #313131
}

#mobile-site-view .mobile-menu button.btn-2 {
	border-left:1px solid #313131;
	position:absolute;
	right:50px
}

#mobile-site-view .mobile-menu button.btn-1 {
	border-left:1px solid #313131;
	position:absolute;
	right:0
}

#mobile-site-view .mobile-menu .nav-current {
	background-color:#717171;
	font-size:20px;
	font-weight:normal;
	height:50px;
	left:50px;
	line-height:50px;
	padding:0 15px 0 15px;
	position:absolute;
	right:0;
	white-space:nowrap;
	overflow:hidden;
	-ms-text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	text-overflow:ellipsis
}

#mobile-site-view .mobile-menu .nav-current.btns-1 {
	right:50px
}

#mobile-site-view .mobile-menu .nav-current.btns-2 {
	right:100px
}

#mobile-site-view .mobile-nav {
	position:fixed;
	left:10px;
	right:10px;
	top:60px;
	bottom:10px;
	border:1px solid #313131;
	background-color:#585858;
	-webkit-box-shadow:5px 5px 10px rgba(0,0,0,0.3);
	-moz-box-shadow:5px 5px 10px rgba(0,0,0,0.3);
	box-shadow:5px 5px 10px rgba(0,0,0,0.3);
	padding:0;
	display:none;
	z-index:10001
}

#mobile-site-view .mobile-nav:before {
	content:' ';
	position:absolute;
	width:0;
	height:0;
	left:5px;
	top:-8px;
	border-style:solid;
	border-width:0 7.5px 8px 7.5px;
	border-color:transparent transparent #313131
}

#mobile-site-view .mobile-nav:after {
	content:' ';
	position:absolute;
	width:0;
	height:0;
	left:7px;
	top:-6px;
	border-style:solid;
	border-width:0 5.5px 6px;
	border-color:transparent transparent #585858
}

#mobile-site-view .mobile-nav ul {
	height:100%;
	width:100%;
	padding:0;
	margin:0;
	list-style:none;
	overflow-x:hidden;
	overflow-y:auto
}

#mobile-site-view .mobile-nav ul li {
	height:50px;
	border-bottom:1px solid #313131;
	position:relative
}

#mobile-site-view .mobile-nav ul li:last-child {
	border-bottom:0
}

#mobile-site-view .mobile-nav ul li a {
	text-decoration:none;
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	padding:0 25px 0 10px;
	line-height:50px;
	white-space:nowrap;
	overflow:hidden;
	-ms-text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	text-overflow:ellipsis
}

#mobile-site-view .mobile-nav ul li a.sub-1 {
	padding-left:40px
}

#mobile-site-view .mobile-nav ul li a.sub-2 {
	padding-left:70px
}

#mobile-site-view .mobile-nav ul li a.sub-3 {
	padding-left:100px
}

#mobile-site-view .mobile-nav ul li a:after {
	content:"\25b8";
	font-family:'WSB Mobile Navigation';
	speak:none;
	font-size:30px;
	font-style:normal;
	font-weight:normal;
	font-variant:normal;
	text-transform:none;
	line-height:50px;
	position:absolute;
	right:0;
	-webkit-font-smoothing:antialiased
}

#mobile-site-view .mobile-nav ul li a.active {
	font-weight:bold;
	background-color:#717171
}

.mobilepod {
	padding:5px 5px 10px 5px!important
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin-top:0;
	margin-bottom:0
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {
	display:block
}

audio,canvas,video {
	display:inline-block
}

audio:not([controls]) {
	display:none;
	height:0
}

[hidden] {
	display:none
}

html {
	margin:0
}

body {
	font-family:sans-serif;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
	font-size:14px;
	line-height:1.3;
	margin:0
}

a:focus {
	outline:thin dotted
}

a:active,a:hover {
	outline:0
}

abbr[title] {
	border-bottom:1px dotted
}

b,strong {
	font-weight:bold
}

dfn {
	font-style:italic
}

hr {
	-moz-box-sizing:content-box;
	box-sizing:content-box;
	height:0
}

mark {
	background:#ff0;
	color:#000
}

code,kbd,pre,samp {
	font-family:monospace,serif;
	font-size:1em
}

pre {
	white-space:pre-wrap
}

q {
	quotes:"\201C" "\201D" "\2018" "\2019"
}

small {
	font-size:80%
}

sub,sup {
	font-size:75%;
	line-height:0;
	position:relative;
	vertical-align:baseline
}

sup {
	top:-0.5em
}

sub {
	bottom:-0.25em
}

img {
	border:0
}

svg:not(:root) {
	overflow:hidden
}

figure {
	margin:0
}

fieldset {
	border:1px solid #c0c0c0;
	padding:.35em .625em .75em
}

legend {
	border:0;
	padding:0
}

button,input,select,textarea {
	font-family:inherit;
	font-size:100%
}

button,input {
	line-height:normal
}

button,select {
	text-transform:none
}

button,html input[type="button"],input[type="reset"],input[type="submit"] {
	-webkit-appearance:button;
	cursor:pointer
}

button[disabled],html input[disabled] {
	cursor:default
}

input[type="checkbox"],input[type="radio"] {
	box-sizing:border-box;
	padding:0
}

input[type="search"] {
	-webkit-appearance:textfield;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
	box-sizing:content-box
}

input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {
	-webkit-appearance:none
}

button::-moz-focus-inner,input::-moz-focus-inner {
	border:0;
	padding:0
}

textarea {
	overflow:auto;
	vertical-align:top
}

table {
	border-collapse:collapse;
	border-spacing:0
}

h1,h2,h3,h4,h5,h6 {
	font-weight:bold
}

h1 {
	font-size:2em
}

h2 {
	font-size:1.5em
}

h3 {
	font-size:1.17em
}

h4 {
	font-size:1em
}

h5 {
	font-size:.83em
}

h6 {
	font-size:.67em
}

.clearfix:before,.clearfix:after {
	content:" ";
	display:table
}

.clearfix:after {
	clear:both
}

.clearfix {
	*zoom:1
}

.txt {
	word-wrap:break-word
}

.wsb-element-text a,.wsb-text-element a {
	font-size:inherit!important
}

.img_border_shadow {
	border:5px #fff solid;
	-webkit-box-shadow:0 2px 7px rgba(50,50,50,0.6);
	-moz-box-shadow:0 2px 7px rgba(50,50,50,0.6);
	box-shadow:0 2px 7px rgba(50,50,50,0.6)
}

.img_shadow {
	-webkit-box-shadow:0 3px 7px rgba(50,50,50,0.75);
	-moz-box-shadow:0 3px 7px rgba(50,50,50,0.75);
	box-shadow:0 3px 7px rgba(50,50,50,0.75)
}

.img_rounded_corners {
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	overflow:hidden
}

.shape {
	border:1px solid #a9b4bb;
	background-color:#e5edf2;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px
}

.shape_rounded_corners {
	background:#5fbf00;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px
}

.shape_circle {
	background:#5fbf00;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%
}

.shape_rectangle {
	background:#5fbf00
}

#locu-render-output .locu-wsb .locu-section-name-inner:before,#locu-render-output .locu-wsb .locu-section-name-inner:after {
	background:#454545
}

#locu-render-output .locu-wsb,#locu-render-output .locu-wsb .locu-note,#locu-render-output .locu-wsb .locu-menu-item-description,#locu-render-output .locu-wsb .locu-option-price,#locu-render-output .locu-wsb .locu-subsection-name {
	color:inherit
}

#locu-render-output .locu-wsb .locu-tab:hover,#locu-render-output .locu-wsb .locu-tab.locu-active {
	border-color:inherit;
	color:inherit
}

.map {
	position:relative;
	top:0;
	bottom:0;
	left:0;
	right:0
}

.map iframe {
	position:relative;
	border-style:none;
	overflow:hidden;
	top:0;
	bottom:0;
	left:0;
	right:0
}

.map a,.map a:link,.map a:visited,.map a:hover {
	position:absolute;
	bottom:0;
	height:20px;
	line-height:20px;
	vertical-align:middle;
	padding:5px 5px 5px 10px;
	left:0;
	right:0;
	display:block;
	background-color:#545454;
	background-color:rgba(0,0,0,0.7);
	color:white;
	font-weight:normal;
	font-style:normal
}

.form-row {
	margin-bottom:15px
}

.form-label {
	display:block;
	margin-bottom:3px;
	cursor:default
}

.form-value {
	display:block;
	width:100%;
	*width:auto;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	border:1px solid #999;
	padding:5px
}

textarea.form-value {
	resize:none
}

.form-button-disabled {
	cursor:default;
	opacity:.4;
	filter:alpha(opacity = 40)
}

.form-value-invalid {
	border:1px solid #d00000;
	background-color:#ffdcdc
}

.form-req {
	color:red
}

span.sf-dp-wrapper.dp-wrapper {
	position:fixed!important
}

.shadow_lifted:before,.shadow_lifted:after,.shadow_curved_horizontal:before,.shadow_curved_horizontal:after,.shadow_curved_vertical:before,.shadow_curved_vertical:after {
	content:"";
	position:absolute;
	z-index:-2
}

.shadow_drop_shadow {
	-webkit-box-shadow:0 3px 7px rgba(50,50,50,0.75);
	-moz-box-shadow:0 3px 7px rgba(50,50,50,0.75);
	box-shadow:0 3px 7px rgba(50,50,50,0.75)
}

.shadow_lifted:before,.shadow_lifted:after {
	bottom:15px;
	left:10px;
	width:50%;
	height:20%;
	max-width:300px;
	max-height:100px;
	-webkit-box-shadow:0 15px 10px rgba(0,0,0,0.7);
	-moz-box-shadow:0 15px 10px rgba(0,0,0,0.7);
	box-shadow:0 15px 10px rgba(0,0,0,0.7);
	-webkit-transform:rotate(-3deg);
	-moz-transform:rotate(-3deg);
	-ms-transform:rotate(-3deg);
	-o-transform:rotate(-3deg);
	transform:rotate(-3deg)
}

.shadow_lifted:after {
	right:10px;
	left:auto;
	-webkit-transform:rotate(3deg);
	-moz-transform:rotate(3deg);
	-ms-transform:rotate(3deg);
	-o-transform:rotate(3deg);
	transform:rotate(3deg)
}

.shadow_curved_horizontal:before,.shadow_curved_vertical:before {
	top:10px;
	bottom:10px;
	left:0;
	right:50%;
	-webkit-box-shadow:0 0 15px rgba(0,0,0,0.6);
	-moz-box-shadow:0 0 15px rgba(0,0,0,0.6);
	box-shadow:0 0 15px rgba(0,0,0,0.6);
	-moz-border-radius:10px / 100px;
	border-radius:10px / 100px
}

.shadow_curved_horizontal:before {
	top:0;
	bottom:0;
	left:10px;
	right:10px;
	-moz-border-radius:100px / 10px;
	border-radius:100px / 10px
}

.shadow_curved_vertical:before {
	right:0
}

.body {
	font-size:14px;
	font-family:Arial,Helvetica,sans-serif;
	font-family:Tahoma,Geneva,sans-serif;
	line-height:1.8;
	padding:0;
	margin:0
}

a, a:hover {
	color: #00AEEF;
	text-decoration:none
}

a:hover {
    text-decoration: underline;
}

h1,h2,h3 {
	font-family: Tahoma,Geneva,sans-serif;
	font-size: 30px;
	line-height:1;
}

.txt ul {
	padding-left:18px
}

.txt ul li {
	color:#97b108;
	line-height:1
}

.nav_theme>ul>li {
	padding-bottom:1px
}

.nav_theme>ul>li>a {
	font-family:'Lato',sans-serif;
	font-size:18px;
	text-transform:uppercase;
	line-height:1;
	color:#fff;
	display:block;
	padding:15px 27px;
	text-decoration:none;
	background:#f6e038;
	border:0 none #f6e038;
	-moz-border-radius:24px 0 0 24px;
	-webkit-border-radius:24px 0 0 24px;
	-khtml-border-radius:24px 0 0 24px;
	border-radius:24px 0 0 24px
}

.nav_theme>ul>li.active>a,.nav_theme>ul>li:hover>a {
	color:#000
}

.nav_theme .nav-subnav {
	font-family:'Lato',sans-serif;
	font-size:14px;
	text-transform:uppercase;
	background-color:#B2BD16;
	border:0 none;
	-webkit-border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomright:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-right-radius:20px;
	border-bottom-left-radius:20px;
	border-collapse:separate;
	border:1px solid #F6E038
}

.nav_theme .nav-subnav>li a {
	padding:5px 20px;
	color:#fff7ee;
	line-height:1.4
}

.nav_theme .nav-subnav li:hover>a {
	color:#000;
	background-color:transparent
}

.editor_sitename {
	font-family:'Lato',sans-serif;
	font-size:66px;
	text-transform:uppercase;
	line-height:1;
	color:#424141
}

.button_theme,.form-submit {
	border:0 none;
	font-family:'Average',serif;
	font-size:18px;
	font-weight:normal;
	background:transparent none;
	padding:0;
	line-height:normal
}

.form-value {
	background:#e1ce3a;
	border:0 none #e1ce3a;
	padding:6px 12px
}

.form-value-invalid {
	border-color:red;
	background-color:pink
}

textarea.form-value {
	height:46px
}

.footer {
	width:auto!important
}

.footer-container {
	width:1180px;
	height:130px;
	left:50%;
	margin-left:-590px
}

.shape_transparent {
	background-color:#fff;
	opacity:0
}

.editor_color_gray,.editor_color_gray a {
	color:#424141
}

.editor_color_white,.editor_color_white a {
	color:#fff!important
}

.editor_color_yellow,.editor_color_yellow a {
	color:#f6e038
}

.editor_color_green,.editor_color_green a {
	color:#97b108
}

.editor_single_space {
	line-height:1
}

.editor_caps {
	text-transform:uppercase
}

.editor_font_lato {
	font-family:'Lato',sans-serif
}

.editor_font_avrage {
	font-family:'Average',serif
}

#locu-render-output .locu-wsb {
	padding-right:20px
}

#locu-render-output {
	color:inherit
}

#locu-render-output .locu-wsb .locu-nav {
	text-align:left;
	margin-bottom:40px
}

#locu-render-output .locu-wsb .locu-nav .locu-tab {
	background:#E7D041;
	border:0;
	margin-bottom:2px;
	letter-spacing:normal;
	font-size:.9em;
	font-weight:normal;
	color:#000
}

#locu-render-output .locu-wsb .locu-nav .locu-tab.locu-active,#locu-render-output .locu-wsb .locu-nav .locu-tab:hover {
	background:#fff
}

#locu-render-output .locu-mobile-menu .locu-wsb .locu-nav .locu-tab.locu-active {
	background:#fffce5
}

#locu-render-output .locu-wsb .locu-section-name-inner:before,#locu-render-output .locu-wsb .locu-section-name-inner:after {
	display:none
}

#locu-render-output .locu-wsb .locu-section-name {
	font-family:'Average',serif;
	font-size:19px;
	line-height:1;
	color:#b2bd16;
	text-align:left;
	text-transform:none;
	letter-spacing:normal;
	margin:1em 0 .5em;
	padding:0
}

#locu-render-output .locu-wsb .locu-subsection {
	text-align:left;
	margin:0;
	padding:0
}

#locu-render-output .locu-wsb .locu-subsection-name {
	font-family:'Average',serif;
	font-size:15px;
	line-height:1;
	color:#b2bd16;
	text-align:left;
	letter-spacing:normal;
	margin:2em 0 .5em
}

#locu-render-output .locu-wsb .locu-menu-item-name {
	font-family:'Average',serif;
	font-size:1.1em
}

#locu-render-output .locu-wsb .locu-note {
	text-align:center
}

#locu-render-output .locu-wsb.locu-attribution-footer {
	padding-top:30px;
	text-align:left
}

.addthis-smartlayers h2 {
	background-color:transparent!important;
	border:none!important
}

a[href^=tel] {
	color:inherit;
	text-decoration:none
}

