div.wpcf7 {
	margin: 0;
	padding: 0;
}

div.wpcf7-response-output {
	margin: 2em 0.5em 1em;
	padding: 0.2em 1em;
}

div.wpcf7 .screen-reader-response {
	position: absolute;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	width: 1px;
	margin: 0;
	padding: 0;
	border: 0;
}

div.wpcf7-mail-sent-ok {
	border: 2px solid #398f14;
}

div.wpcf7-mail-sent-ng {
	border: 2px solid #ff0000;
}

div.wpcf7-spam-blocked {
	border: 2px solid #ffa500;
}

div.wpcf7-validation-errors {
	border: 2px solid #f7e700;
}

span.wpcf7-form-control-wrap {
	position: relative;
}

span.wpcf7-not-valid-tip {
	color: #f00;
	font-size: 1em;
	display: block;
}

.use-floating-validation-tip span.wpcf7-not-valid-tip { 
	position: absolute;
	top: 20%;
	left: 20%;
	z-index: 100;
	border: 1px solid #ff0000;
	background: #fff;
	padding: .2em .8em;
}

span.wpcf7-list-item {
	margin-left: 0.5em;
}

.wpcf7-display-none {
	display: none;
}

div.wpcf7 img.ajax-loader {
	border: none;
	vertical-align: middle;
	margin-left: 4px;
}
border-color: #000000;
div.wpcf7 div.ajax-error {
	display: none;
}

div.wpcf7 .placeheld {
	color: #888;
}


/*boostrap mods*/


.btn-primary {
	margin-top: 3px;
    margin-bottom: 3px;
    background-color: #a3238e;
    background-image: -ms-linear-gradient(top, #f06544, #f06544);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f06544), to(#f06544));
    background-image: -webkit-linear-gradient(top, #f06544, #f06544);
    background-image: -o-linear-gradient(top, #f06544, #f06544);
    background-image: -moz-linear-gradient(top, #f06544, #f06544);
    background-image: linear-gradient(to bottom, #f06544 0%,#f06544 100%);
    background-repeat: repeat-x;
    border-color: #FFFFFF;    
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#f06544', endColorstr='#f06544', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    border: none;
    padding: 7px 20px;
    cursor: pointer;
    border-radius: 10px;
    text-transform: uppercase;
    text-decoration: none;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #f06544;
  *background-color: #f06544;
}

.btn-success {
	margin-top: 3px;
    margin-bottom: 3px;
    background-color: #f06544;
    background-image: -ms-linear-gradient(top, #f06544, #f06544);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f06544), to(#f06544));
    background-image: -webkit-linear-gradient(top, #f06544, #f06544);
    background-image: -o-linear-gradient(top, #f06544, #f06544);
    background-image: -moz-linear-gradient(top, #f06544, #f06544);
    background-image: linear-gradient(top, #f06544, #f06544);
    background-repeat: repeat-x;
    border-color: #FFFFFF;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#f06544', endColorstr='#f06544', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    border: none;
    padding: 7px 20px;
    cursor: pointer;
    border-radius: 10px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #f06544;
  *background-color: #f06544;
}

.btn-danger {
	margin-top: 3px;
    margin-bottom: 3px;
    background-color: #f06544;
    background-image: -ms-linear-gradient(top, #f06544, #f06544);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f06544), to(#f06544));
    background-image: -webkit-linear-gradient(top, #f06544, #f06544);
    background-image: -o-linear-gradient(top, #f06544, #f06544);
    background-image: -moz-linear-gradient(top, #f06544, #f06544);
    background-image: linear-gradient(top, #f06544, #f06544);
    background-repeat: repeat-x;
    border-color: #FFFFFF;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#f06544', endColorstr='#f06544', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    border: none;
    padding: 7px 20px;
    cursor: pointer;
    border-radius: 10px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  background-color: #f06544;
  *background-color: #f06544;
}

.btn-info {
	margin-top: 3px;
    margin-bottom: 3px;
    background-color: #f06544;
    background-image: -ms-linear-gradient(top, #f06544, #f06544);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f06544), to(#f06544));
    background-image: -webkit-linear-gradient(top, #f06544, #f06544);
    background-image: -o-linear-gradient(top, #f06544, #f06544);
    background-image: -moz-linear-gradient(top, #f06544, #f06544);
    background-image: linear-gradient(top, #f06544, #f06544);
    background-repeat: repeat-x;
    border-color: #FFFFFF;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#f06544', endColorstr='#f06544', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    border: none;
    padding: 7px 20px;
    cursor: pointer;
    border-radius: 10px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  background-color: #f06544;
  *background-color: #f06544;
}


a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
    text-decoration: none;
}

.alert-info {
    color: #333333;
    background-color: #F1F1F1;
    border-color: #ABAAAA;
}