/*
Theme Name: HuckleBerry
Description: Custom theme for HuckleBerry
Author: ZM
Template: flat
*/

@import url("flatStyle.css");

/* write custom css below */

body {
	font-weight: normal;
}

/* GENERAL */

img { -ms-interpolation-mode: bicubic; }

.largetext {
	font-size: 40px !important;
	line-height: 45px !important;
} 

.anch {
	display:block;
	visibility:hidden;
	margin-top:-100px;
}

.hideme {
	display:none;
}

.smallcenter {
	display: block; 
	max-width: 600px; 
	margin:0 auto;
}

.medcenter {
	display: block; 
	max-width: 850px; 
	margin:0 auto;
}

p {
	padding: .2em 0 1em !important;
	margin:0 !important;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	line-height: 1em !important;
	margin: 0 0 1em !important;
}

.module-image {
	text-align:center;
}

.row_inner_wrapper {
	max-width:1024px;
	margin: 0 auto;
}

/* BUTTON */

a.shortcode.button {
	letter-spacing: 0 !important;
	padding: 10px 35px 10px !important;
	font-size: 1.15em;
	color: #fff;
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	font-weight:700;
	text-transform: none;
	background-color: #a3238e;
	border: none;
}

a.shortcode.button:hover {
	background-color: #de2cc1;
}

/* ICON */

.shortcode.themify-icon.xlarge .themify-icon-icon {
display: inline-block;
vertical-align: middle;
width: 87px;
height: 70px;
padding: 18px 0 0 0px;
font-size: 50px;
border-radius: 100%;
}

.shortcode.themify-icon.xlarge .themify-icon-icon:hover {
background-color: #fff769;
}

.shortcode.themify-icon.xlarge {
text-align:center;
}


/* NAVIGATION */

.social-widget  {
	float: right;
	position: relative;
	padding-bottom: 0 !important;
	padding-top: 15px !important;
}

.social-widget .social-links li i{
	background-color: #ffffff !important;
	color: #a3238e !important;
	width: 15px !important;
}

#headerwrap{
	background-color: transparent;
}

#header{
	background-color: transparent;
	text-align:left;
}

nav{
	background-color: rgba(255,255,255,.95);
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: #fff769;
	text-align:center;
}

.fixed-header #main-nav {
	padding:0;
	text-align: center;
}

#site-logo {
	margin-top: -15px;
	padding: 0;
	display: inline-block;
	float: left;
}

#main-nav {
padding: 0;
width:1064px !important;
margin: 0 auto;
}

#main-nav a{
	text-transform: none;
}

#main-nav ul {
	border-radius:5px !important;
}

#main-nav ul:before {
	border-bottom: 8px solid #fff !important;
}

#main-nav .sub-menu li a:hover {
	color: #00aeef !important;
}

#main-nav .current_page_item a, #main-nav .current-menu-item a {
	border-radius: 0px;
}

#cloud-left {
	background: url(img/cloud-left.png) no-repeat left bottom;
	background-size: 463px 264px;
	width: 463px;
	height: 264px;
	position: absolute;
	z-index:-5;
}

#cloud-right {
	background: url(img/cloud-right.png) no-repeat left bottom;
	background-size: 463px 264px;
	width: 463px;
	height: 264px;
	position: absolute;
	right:0;
	z-index:-5;
}

/* PRICING TABLES */

.ptp-plan {
	background-color: #00aeef !important;
	color: #fff !important;
	font-weight: 700 !important;
}

.ptp-item-container {
	border:none !important;
}


/* FOOTER */

.social-links {
	text-align:right !important;
}

.social-links .icon-medium i {
font-size: 30px !important;
padding: 12px !important;
width: 30px !important;
height: 30px !important;
}

.back-top {
	margin-top:30px !important;
	float:right;
}

.back-top a {
	text-align:center !important;;
	background-color: #fff !important
}

.widget {
	margin-bottom: 0 !important;
}

/* ACCORDIAN */

.module-accordion li {
	border-width: 0px !important;
}

.accordion-title {
	color: #a3238e !important;
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	background-color: #fff !important;
	font-weight: 700;
	font-size: 16px !important;
	padding: 15px !important;
}
.accordion-title a {
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	color: #a3238e !important;
}

.accordion-title a:before {
	content: "\f0a9";
	font-family: FontAwesome;
	padding-right:10px;
}

.accordion-content {
	box-shadow: none !important;
}

/* FORMS */

.purpleform .wpcf7-text{
	border: 1px solid #a3238e !important;
}

.purpleform .wpcf7-submit{
	width:422px;
	max-width:95%;
	background-color: #a3238e !important;
	color:white;
	font-weight: 700;
	border-radius: 5px !important;
}

.blueform .wpcf7-submit{
	width:422px;
	max-width:95%;
	background-color: #00aeef !important;
	color:white;
	font-weight: 700;
	border-radius: 5px !important;
}

.blueform .wpcf7-text{
	border: 1px solid #00aeef !important;
}

input {
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

.wpcf7-text {
	font-size:14px !important;
	padding: 5px 10px !important;
	background-color: #ffffff !important;
	border: 1px solid !important;
	width:400px !important;
	border-radius: 5px;
}

.wpcf7-submit {
	background-color: #f79f34 !important;
	border-radius: 2px !important;
	padding: 5px 25px;
	font-weight:700;
	font-size:12px;
}

.wpcf7-response-output {
	border:none!important;
}

/* FOOTER */

.mapp-layout {
width: 100% !important;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1100px) {
	.pagewidth {
		max-width: 100% !important;
	}
	.themify_builder_row {
		padding-left: 25px !important;
		padding-right: 25px !important;
	}
}

@media screen and (max-width: 780px) {
			
	/************************************************************************************
	MOBILE NAV BUTTON
	*************************************************************************************/
	.mobile-button {
		padding: 5px 0 !important;
	}
	#cloud-left, #cloud-right {
		display:none;
	}
	.fixed-header, nav {
		background-color: #004980 !important;
		top:0 !important;
	}
	#menu-icon i {
		padding-left:10px;
	}
	.mobile-button span {
		color: #ffffff !important;
	}
	.mobile-button {
		margin-left: 0 !important;
	}
	#main-nav {
		width:250px !important;
		margin: 10px 0 0 10px !important;
		left:0 !important;
		background: #004980 !important;
	}
	.fixed-header #main-nav {
		top:50px !important;
		text-align:left !important;
	}
	.sub-menu {
		display:none !important;
	}
	.social-widget  {
		padding-top: 0px !important;
	}



	/* Footer */

	.back-top {
		text-align:center !important;
		float:none;
	}
	.social-links {
		text-align:center !important;
	}
	.footer-widgets {
		text-align:center !important;
	}

}