/*
Theme Name: Dry WP
Theme URI: http://demo.drythemes.com/dry-wp/
Description: Fancy portfolio dry theme, completely compatible with WordPress 3.5
Author: DryThemes
Author URI:  http://www.drythemes.com
License: GPL General Public License and Themeforest general license
License URI: License/README_License.txt
Version: 1.2
Tags: flexible-width, four-columns, custom-background, custom-colors, featured-images, threaded-comments
*/

div.content-960 {
    max-width: 1100px;
}

div.main-menu nav ul li.active, div.main-menu nav ul li:hover {
    background-color: #c7c7c7;
}

.one, .one_half, .one_third, .two_third, .three_fourth, .one_fourth {
    float: left;
    margin-bottom: 2px;
    margin-right: 4%;
    position: relative;
}

p.info {
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    max-width: 950px;
    text-align: center;
}

.home-title2, .title-description {
    color: #19458d;
}

.home-title2 {
    font-size: 57px;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 73px;
    padding-bottom: 0;
    padding-left: 2px;
    padding-right: 15px;
    padding-top: 0;
    text-align: center;
}

h12 {
    font-size: 36px;
    line-height: 36px;
color: #19458d;
}

h4.service-item-title {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 4px;
    padding-bottom: 20px;
    padding-top: 10px;
color: #19458d;
}

p.info2 {
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    max-width: 950px;
    text-align: center;
color: #19458d;
}

p.info3 {
    font-size: 28px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    max-width: 1110px;
    text-align: center;
color: #ffffff;
}

p.name {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 4px;
    padding-bottom: 10px;
    padding-top: 30px;
font-family: 'Open Sans',sans-serif,Arial;
}

.shadow {
    background-color: #FFFFFF;
}
.shadow {
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

p.info4 {
    font-size: 18px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    max-width: 1110px;
    text-align: left;
color: #ffffff;
}

.shadow2 {
    background-color: #19458d;
}
.shadow2 {
    height: 100%;
    left: 0;
    opacity: 0.75;
    position: absolute;
    top: 0;
    width: 100%;
}

.home-title {
    font-size: 47px;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 73px;
    padding-bottom: 0;
    padding-left: 2px;
    padding-right: 15px;
    padding-top: 0;
    text-align: center;
}

div.main-menu nav ul li {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    list-style-type: none;
}