label.invalid {
    color: red;
    padding: 0;
    margin: 0;
}

/*!
 * account/profile/billing
 */

.pay-options {
    margin: 2em 0;
}

.pay-option {
    float: left;
    width: 190px;
    margin-right: 10px;
}

.pay-options-horizontal .pay-option {
    width: auto;
}

.pay-options-horizontal .pay-option-sub {
    float: left;
    width: 170px;
}

.pay-options-horizontal .pay-option-wrap {
    width: 170px;
    float: left;
}


.pay-option-wrap {
    border: 2px solid #DCDEE0;
    text-align: center;
    padding: 20px 10px;
}

.no-border .pay-option-wrap {
    border-color: transparent;
}

.pay-option form {
    margin: 0;
}

.pay-option-sub {
    padding: 20px 10px;
}

.pay-option-sub .btn {
    display: block;
}

.pay-option-sub input.btn {
    width: 100%;
}

.pay-option-sub h4 {
    margin-bottom: 9px;
}

.pay-option-title {
    font-size: 23px;
}

.selected .pay-option-wrap {
    border-color: #08c;
    box-shadow: 0 0 19px rgba(0,136,204,.5);
}

.pay-option-action,
.pay-option-selected {
    margin-top: 10px;
    height: 45px;
    line-height: 45px;
}

.pay-option-icon {
    height: 64px;
}

.pay-option-icon img {
}

.up-down {
    width: 60px;
}

.credit-card-form fieldset {
}

.billing-info {
    margin-top: 20px;
}

.billing-info p {
    font-size: 14px;
    margin: 5px 0 20px;
    line-height: 1.5;
}

.cc-table {
    width: 100%;
    font-size: 16px;
    margin-bottom: 10px;
}

.cc-table th,
.cc-table td {
    border: none;
}

.cc-mask {
    color: #ccc;
    position: absolute;
    height: 18px;
    padding: 6px;
    display: block;
}

.kiosk-access {
    min-height: 150px;
}

.kiosk-access-info {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 150px;
    margin-top: 20px;
}

.kiosk-access-bg {
    background: #fafafa url("/images/kiosk_access_bg.jpg");
    min-height: 150px;
    margin: 5px;
    position: relative;
    color: #fff;
}

.kiosk-access-error,
.kiosk-access-success {
    width: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px 10px;
}

.kiosk-access-error {
    background: #C82506;
}

.kiosk-access-success {
    background: #70BF41;
}

.kiosk-access-form {
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 20px;
    height: 140px;

    background: #fafafa;
    background: -moz-linear-gradient(top,  #ffffff 0%, #fafafa 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#fafafa));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#fafafa 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#fafafa 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#fafafa 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#fafafa 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fafafa',GradientType=0);
}

.kiosk-access-form .row {
    position: relative;
}

.kiosk-access-buttons {
    position:absolute;
    bottom:0;
}

.fit-selects {
    width: 100px;
    white-space: nowrap;
}

#kiosk_cardNumber {
    text-indent: 8em;
}

@media (max-width: 979px) {

.fit-selects {
    width: auto;
    white-space: auto;
}

.fit-selects select {
    width: 50px;
}

.fit-selects .separator {
    display: none;
}

.pay-option {
    margin-bottom: 10px;
}

.pay-options-horizontal .pay-option-wrap {
    display: none;
}

.pay-options-horizontal .current .pay-option-wrap {
    display: block;
}

#credit_card_form {
    clear: both;
}


}

@media (max-width: 767px) {

.fit-selects .separator {
    display: inline;
}

.kiosk-access-form {
    margin-left: 0;
}

.kiosk-access-buttons {
    right: 0;
}

.kiosk-access-info {
    border: none;
}

.kiosk-access-bg {
    margin: 5px 0;
}

}

.menu-item {
    margin-bottom: 20px;
}


.preference {
    padding:6px;
    margin:3px;
    border:1px solid #ccc;
    background-color:#f4f4f4;
    font-size:10px;
}

.preference-name {
    float:left;
}

.preference-value {
    float:right;
}

#prefs_button {
    font-weight: bold;
    font-size:12px;
}
