#header, #footer {
    background-color: #189CED;
}

#menu {
    padding: 20px;
    margin-bottom: 0;
}

#menu li {
    display: inline;
    margin-right: 30px;
    margin-top: 5px;
}

#menu li a {
    color: white;
    font: normal normal normal 15px/1.2em helvetica-w01-roman,helvetica-w02-roman,helvetica-lt-w10-roman,sans-serif;
    /*line-height: 2;*/
    text-decoration: none;

}

#menu li a:hover, #menu li a.active {
    transition: color 0.5s ease;
    color: #00FF00;
}

#contact-info, #social, #mobile-apps {
    padding-top: 10px;
    color: white;
    margin-bottom: 0;
    font-size: 18px;
}

#contact-info li {
    margin-bottom: 5px;
}

#social {
    margin-left: 50px;
}

#social li {
    display: inline;
    margin-right: 5px;
}

#mobile-apps li {
    display: inline;
    margin-right: 10px;
}

#footer-copyright {
    margin-top: 10px;
    color: white; 
    font-size: 12px;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    margin: 0 auto -72px;   
}

#main_content {
    margin: 50px 0 0 0;

}

#footer, #push {
    height: 118px;
}

html, body {
    height: 100%;
}

.btn {
    font-weight: bold;
}

.btn-success, .btn-primary, .btn-info {
    background-color: rgba(24, 155, 237, 1);
    background-image: none;
    filter: none;
    border-radius: 5px;

    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
    border: solid rgba(134, 201, 243, 1) 0px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.6), inset 0 -1px 1px rgba(255, 255, 255, 0.75);
    cursor: pointer !important;
}

.btn-success:hover, .btn-primary:hover, .btn-success:active, .btn-primary:active, .btn-info:hover, .btn-info:active {

    transition: background-color 0.5s ease;
    background-color: #00FF00;

}

input, textarea, select, .uneditable-input {
  height: auto;
}

@media (max-width: 767px) {
    body {
        padding-left: 0;
        padding-right: 0;
    }
    
    #main_content {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    #contact-info {
        margin-left: 10px;
    }
    
    #social li {
        margin-right: 5px;
    }
    
    #social li a img {
        width: 32px;
    }
}