

.btn.btn-success, .btn.btn-info, .btn.btn-primary {
  
   
  color: #FFFFFF !important;
  background: linear-gradient(to bottom, #90c445 0%, #80b03a 100%) repeat scroll 0% 0% transparent;
  background-color: transparent;
  background-image: linear-gradient(to bottom, #90c445 0%, #80b03a 100%);
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto auto;
  
}

.btn-success:hover, .btn-info:hover, .btn-primary:hover, .btn:hover {
   color: #008dab !important;
   background-position: 0;
   text-shadow: none;
   box-shadow: none;
   -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none; 
}

.btn:hover {
  
  text-decoration: none;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  /* Buttons in IE7 don't get borders, so darken on hover */

  background-position: 0;
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
}

.btn {
  border-color: #51a351 #51a351 #387038;
  border: 1px solid #79aa3b;
  border-top-width: 1px;
  border-right-width-value: 1px;
  border-right-width-ltr-source: physical;
  border-right-width-rtl-source: physical;
  border-bottom-width: 1px;
  border-left-width-value: 1px;
  border-left-width-ltr-source: physical;
  border-left-width-rtl-source: physical;
  border-top-style: solid;
  border-right-style-value: solid;
  border-right-style-ltr-source: physical;
  border-right-style-rtl-source: physical;
  border-bottom-style: solid;
  border-left-style-value: solid;
  border-left-style-ltr-source: physical;
  border-left-style-rtl-source: physical;
  border-top-color: #79aa3b;
  border-right-color-value: rgb(77, 171, 70);
  border-right-color-ltr-source: physical;
  border-right-color-rtl-source: physical;
  border-bottom-color: #79aa3b;
  border-left-color-value: rgb(77, 171, 70);
  border-left-color-ltr-source: physical;
  border-left-color-rtl-source: physical;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image-source: none;
  border-image-slice: 100% 100% 100% 100%;
  border-image-width: 1 1 1 1;
  border-image-outset: 0 0 0 0;
  border-image-repeat: stretch stretch;
  font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
  font-size: 15px;
  text-shadow: none;
  
}

.btn-small [class^="icon-"] {
   margin-top: 0;
   vertical-align: bottom;
}
