/*Theme Name: Mr WashTheme URI: Author: NB/PGAuthor URI: Description: Mr WashLicense: Tags: responsive-layout, accessibility-ready, Muy LindoText Domain: MrWash*/
@font-face {
    font-family: 'Miriad Regular';
	    src: url('assets/fonts/myriadpro-regular.eot');
	    src: url('assets/fonts/myriadpro-regular.eot?#iefix') format('embedded-opentype'),
		     url('assets/fonts/myriadpro-regular.woff') format('woff'),
			 url('assets/fonts/myriadpro-regular.ttf') format('truetype'),
			 url('assets/fonts/myriadpro-regular.svg#Miriad Regular') format('svg');
	    font-weight: normal;
	    font-style: normal;
	
}
@font-face {
    font-family: 'Miriad Bold';
	    src: url('assets/fonts/myriadpro-bold.eot');
	    src: url('assets/fonts/myriadpro-bold.eot?#iefix') format('embedded-opentype'),
			 url('assets/fonts/myriadpro-bold.woff') format('woff'),
			 url('assets/fonts/myriadpro-bold.ttf') format('truetype'),
			 url('assets/fonts/myriadpro-bold.svg#Miriad Bold') format('svg');
	    font-weight: normal;
	    font-style: normal;
	
}
@font-face {
    font-family: 'Lemon';
	    src: url('assets/fonts/LemonMilk.eot');
	    src: url('assets/fonts/LemonMilk.eot?#iefix') format('embedded-opentype'),
			 url('assets/fonts/LemonMilk.woff2') format('woff2'),
			 url('assets/fonts/LemonMilk.woff') format('woff'),
			 url('assets/fonts/LemonMilk.ttf') format('truetype'),
			 url('assets/fonts/LemonMilk.svg#Lemon') format('svg');
	    font-weight: normal;
	    font-style: normal;
	
}
body{
	background: #fff;
		font: bold 13px 'Miriad Regular', sans-serif;
		color: #646464;
	
}
body, html{
	height: 100%
}
.bannertop{
	background: url('/images/mrwash/bannertop.jpg') no-repeat 0 0;
		background-size: cover;
	
}
.bannertop #logo{
	padding: 59px 0 58px 0;
	
}


b, strong{

  font-family: 'Miriad Bold';
	

}

a,a:hover,a:focus{
	outline: none;
		text-decoration: none;
	
}
ul, li{
	list-style: none;
		margin: 0;
		padding: 0;
	
}
ul.redesociales{
	margin: 35px 0 0 0;
		padding: 0;
		display: inline-block;
	
}
ul.redesociales li{
	float: left;
		margin: 0 0 0 15px;
	
}
ul.redesociales li a{
	display: block;
		font-size: 2em;
	
}
ul.redesociales li a .fa{
	height: 22px;
		border-radius: 5px;
		background: #fff;
	
}
ul.redesociales li a .fa:before{
	display: block;
		margin: -2px 0 0 0;
	
}
ul.redesociales li.facebook a{
	color: #3b5998;
	
}
ul.redesociales li.twitter a{
	color: #00aced;
	
}
.bannertop .phone{
	font-size: 2.5em;
		font-family: 'Miriad Bold';
		margin: 11px 0 0 0;
		color: #fff;
		text-shadow: 0 0 3px rgba(0,0,0,0.5);
	
}
.menunav{
	height: 64px;
		background: #fff;
		-webkit-box-shadow: 0 -3px 13px 0 rgba(0,0,0,0.3);
		box-shadow: 0 -3px 13px 0 rgba(0,0,0,0.3);
	
}
.menunav nav ul li{
	height: 64px;
		float: left;
	
}
.menunav nav ul li a{
	line-height: 64px;
		display: block;
		font-size: 1em;
		color: #969596;
		padding: 0 20px;
		text-transform: uppercase;
	
}
.menunav nav ul li a:hover{
	color: #f592b6;
	
}
.menunav nav ul li.active a,.menunav nav ul li.current-menu-item a{
	color: #eb92b2;
	
}
.pedir{
	float: right;
		height: 64px;
		position:relative;
		right: 0;
		top: -51px;
	
}
.pedir a{
	display: block;
		font-size: 1.1em;
		padding: 0;
		height: 116px;
	
}
.banner{
	background: #dd2a72;
		-webkit-box-shadow:inset 0 0 5px 0 rgba(0,0,0,0.5);
		box-shadow:inset 0 0 5px 0 rgba(0,0,0,0.5);
	
}
.banner h1{
	font-size: 3em;
		font-weight: normal;
		color: #fff;
		padding:2em 0;
		margin: 0;
		display: table;
		width: 100%;
		line-height: 1.2em;
	
}
.banner h1 span{
	display: table-cell;
		padding: 0 9px;
	  text-align: center;
	
}
.banner h1 span.opencom,.banner h1 span.closecom{
	width: 79px;
		height: 64px;
		padding: 0;
	
}
.banner h1 span.opencom{
	background: url('assets/img/opencom.png') no-repeat 0 50%;
	
}
.banner h1 span.closecom{
	background: url('assets/img/closecom.png') no-repeat 0 50%;
	
}
img.img-movil{
	margin: 30px 0 0 0;
	
}
.msje{
	padding: 0 0 20px 0;
		color: #fff;
		text-transform: uppercase;
	
}
.msje a{
	font: normal 1.1em 'Miriad Bold';
		color: #fff;
	
}
.simplespasos{
	padding: 40px 0;
		-webkit-box-shadow:inset 0 1px 30px 0 rgba(0,0,0,0.5);
		box-shadow:inset 0 1px 30px 0 rgba(0,0,0,0.5);
	
}
.simplespasos h2{
	text-align: center;
		margin: 0;
		padding: 0 0 30px 0;
		font: 600 2em 'Helvetica Neue';
		text-transform: uppercase;
		color: #8d8d8d;
	
}
.simplespasos .pasos{
	background: #000;
		border: 6px solid #dd2a72;
		border-radius: 6px;
		position: relative;
		margin: 0 auto 30px auto;
		max-width: 360px;
	
}
.simplespasos .pasos img{
	opacity: 0.6;
	
}
.simplespasos .pasos.opacity img{
	opacity: 1;
		
}
.simplespasos .pasos .pasostext{
	font: normal 3.2em 'Lemon';
		color: #fff;
		position: absolute;
		left: 20px;
		bottom: 12px;
		z-index: 3;
	
}
.simplespasos ul.menupasos{
	text-align: center;
		margin: 20px 0;
	
}
.simplespasos ul.menupasos:after,.simplespasos ul.menupasos:before{
	display: table;
		content: '';
		clear: both;
	
}
.simplespasos ul.menupasos li{
	display: inline-block;
		padding: 0 10px;
	
}
.simplespasos ul.menupasos li.vivo a{
	display: table-cell;
		height: 80px;
		text-transform: uppercase;
		font: 100 2em 'Helvetica Neue';
		letter-spacing: 0.05em;
		color: #fff;
		padding: 8px 30px;
		background: #e978a6;
		background: url(data:image/svg+xml;
	base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxMCUiIHN0b3AtY29sb3I9IiNlOTc4YTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMCUiIHN0b3AtY29sb3I9IiNlOTc4YTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIyMCUiIHN0b3AtY29sb3I9IiNjNzI2NjciIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI4MCUiIHN0b3AtY29sb3I9IiNiMTIyNWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5MCUiIHN0b3AtY29sb3I9IiM4YzFiNDgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  #e978a6 10%, #e978a6 10%, #c72667 20%, #b1225b 80%, #8c1b48 90%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,#e978a6), color-stop(10%,#e978a6), color-stop(20%,#c72667), color-stop(80%,#b1225b), color-stop(90%,#8c1b48));
		background: -webkit-linear-gradient(top,  #e978a6 10%,#e978a6 10%,#c72667 20%,#b1225b 80%,#8c1b48 90%);
		background: -o-linear-gradient(top,  #e978a6 10%,#e978a6 10%,#c72667 20%,#b1225b 80%,#8c1b48 90%);
		background: -ms-linear-gradient(top,  #e978a6 10%,#e978a6 10%,#c72667 20%,#b1225b 80%,#8c1b48 90%);
		background: linear-gradient(to bottom,  #e978a6 10%,#e978a6 10%,#c72667 20%,#b1225b 80%,#8c1b48 90%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e978a6', endColorstr='#8c1b48',GradientType=0 );
	
}
.simplespasos ul.menupasos li.vivo a span{
	display: block;
		line-height: normal;
	 line-height: 60px;
	
}
.simplespasos ul.menupasos li.vivo a span strong{
	font-weight: 900;
	
}
.simplespasos ul.menupasos li.lockers a{
	display: table-cell;
		height: 80px;
		text-transform: uppercase;
		font: 900 2em 'Helvetica Neue';
		letter-spacing: 0.02em;
		color: #de2a73;
		padding: 0 30px;
		line-height: 80px;
		background: #e0dbdd;
		background: url(data:image/svg+xml;
	base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxMCUiIHN0b3AtY29sb3I9IiNlMGRiZGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIyMCUiIHN0b3AtY29sb3I9IiNjZmM5Y2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI4MCUiIHN0b3AtY29sb3I9IiNjNGJkYzAiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5MCUiIHN0b3AtY29sb3I9IiM3ZjdhN2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  #e0dbdd 10%, #cfc9cc 20%, #c4bdc0 80%, #7f7a7c 90%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,#e0dbdd), color-stop(20%,#cfc9cc), color-stop(80%,#c4bdc0), color-stop(90%,#7f7a7c));
		background: -webkit-linear-gradient(top,  #e0dbdd 10%,#cfc9cc 20%,#c4bdc0 80%,#7f7a7c 90%);
		background: -o-linear-gradient(top,  #e0dbdd 10%,#cfc9cc 20%,#c4bdc0 80%,#7f7a7c 90%);
		background: -ms-linear-gradient(top,  #e0dbdd 10%,#cfc9cc 20%,#c4bdc0 80%,#7f7a7c 90%);
		background: linear-gradient(to bottom,  #e0dbdd 10%,#cfc9cc 20%,#c4bdc0 80%,#7f7a7c 90%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0dbdd', endColorstr='#7f7a7c',GradientType=0 );
	
}
.precios{
	padding: 20px 0;
		background: #dd2a72;
		color: #fff;
		text-align: center;
		position: relative;
	
}
.precios .col-md-4{
	position: static;
	
}
.precios img.mrwash{
	margin: -45px 0 0 -1%;
	  width: 32%;
		position: absolute;
		bottom: 0;
	
}
.precios .prices{
	padding: 20px;
		margin: 40px 0 0 0;
		border-left: 1px solid #cd256b;
		border-right: 1px solid #cd256b;
		border-top: 1px solid #df4181;
		border-bottom: 1px solid #c32465;
		text-align: left;
	
}
.precios .prices h4{
	font: 600 1.3em 'Helvetica Neue';
		margin: 0;
		padding: 0;
	
}
.precios .prices ul{
	margin: 30px 0 0 0;
	
}
.precios .prices ul li,.nuestros-precios ul li{
	text-align: right;
		padding: 3px 0;
		font: 300 1.1em 'Helvetica Neue';
	
}
.precios .prices ul li span,.nuestros-precios ul li span{
	float: left;
	
}
.precios .link{
	margin: 20px 0 0 0;
	
}
.precios .link a{
	color: #fff;
		text-decoration: underline;
	
}
.precios .registrate{
	margin: 40px 0 0 0;
		font: 600 1.1em 'Helvetica Neue';
		text-transform: uppercase;
	
}
.precios .registrate span{
	display: block;
	
}
.precios .registrate span.reg-01{
	font-size: 3em;
		line-height: 1em;
	
}
.precios .registrate span.reg-02{
	font-size: 2.13em;
		line-height: 1em;
	
}
.precios .registrate span.reg-03{
	font-size: 5.3em;
		line-height: 1em;
	
}
.precios .registrate span.reg-04{
	font-size: 1.6em;
	
}
.clientes,.nuestros-precios,.preguntas-frecuentes,.contactenos{
	padding: 40px 0;
	
}
.contactenos{
	padding-bottom: 0;
	
}
.clientes h2,.como-funciona h2,.nuestros-precios h2,.preguntas-frecuentes h2,.contactenos h2{
	font-size: 1.8em;
		text-align: center;
		color: #282528;
		margin: 0 0 40px 0;
		padding: 0;
	
}
.nuestros-precios h2{
	color: #dd1971;
	
}
.nuestros-precios h2 span{
	font-size: 0.6em;
		display: block;
	
}
.clientes .imgclientes{
	position: relative;
		overflow: hidden;
		max-width: 255px;
		margin: 0 auto;
	
}
.clientes .imgclientes .stars{
	position: absolute;
		left: 0;
		right: 0;
		top: 5px;
		text-align: center;
	
}
.clientes .imgclientes .name{
	position: absolute;
		left: 10px;
		right: 0;
		bottom: 0;
		color: #fff;
		text-shadow: 0 0 3px rgba(0,0,0,0.5);
	
}
.clientes .content {
  background: #dd4180;
	  padding: 30px 20px;
	  min-height: 200px;
	  color: #fff;
	  margin: 1px auto 30px auto;
	  max-width: 256px;
	  text-align: center
}
.clientes .imgclientes .hover{
	padding: 20px 30px;
		background: rgba(221,42,114, 0.9);
		color: #fff;
		text-align: center;
		font: 300 1em 'Helvetica Neue';
		position: absolute;
		left: 0;
		right: 0;
		top: -100%;
		bottom: 0;
		z-index: 1;
		opacity: 0;
	
}
.clientes .imgclientes:hover .hover{
	top: 0;
		opacity: 1;
	
}
.clientes .imgclientes .hover,.clientes .imgclientes:hover .hover,.menunav nav ul li a,.menunav nav ul li a:hover{
	-webkit-transition: all 500ms ease;
		-moz-transition: all 500ms ease;
		-ms-transition: all 500ms ease;
		-o-transition: all 500ms ease;
		transition: all 500ms ease;
	
}
.clientes .imgclientes .hover p{
	margin: 10px 0;
	
}
.clientes .imgclientes .hover p strong{
	font: 900 1em 'Helvetica Neue';
	
}
.clientes .name{
	font-size: 0.9;
		margin: 10px auto;
		max-width: 255px;
	
}
.clientes .name span{
	display: block;
		font: normal 1.1em 'Miriad Bold';
	
}
.stars{
	text-align: center;
		margin: 0 0 30px 0;
	
}
.footer{
	padding: 20px 0;
		border-top: 5px solid #dd1971;
	
}
.footer .webpay{
	margin: -10px 0;
	
}
.btnmenu{
	background: none;
		border: 1px solid #dd1971;
		border-radius: 3px;
		padding: 6px;
		margin: 18px 0 0 0;
	
}
.btnmenu span{
	display: block;
		height: 1px;
		width: 24px;
		background: #dd1971;
		margin: 0 0 5px 0;
	
}
.btnmenu span:last-child{
	margin: 0;
	
}
.como-funciona {
  padding: 40px 0 0 0;
	  min-height: calc(100% - 488px);
	
}
.como-funciona .img-responsive{
	margin: 26px 0 0 0;
	
}
.como-funciona ul.list-cf{
	margin: 20px 0;
		text-align: left;
	
}
.como-funciona ul.list-cf li{
	margin: 10px 0;
		font-size: 1.3em;
	
}
.como-funciona ul.list-cf li .fa{
	color: #dd1971;
		font-size: 0.9em;
	
}
.como-funciona ul.list-cf li a{
	color: #dd1971;
	
}
.como-funciona ul.list-cf li ul{
	margin: 20px 0 20px 40px;
	
}
.como-funciona ul.list-cf li ul li{
	font-size: 1em;
	
}
.como-funciona ul.list-cf li .num{
	float: left;
		margin: -3px 15px 5px 0;
		width: 24px;
		height: 24px;
		border-radius: 50%;
		background: #dd1971;
		text-align: center;
		font-size: 0.7em;
		line-height: 24px;
		color: #fff;
	
}
.como-funciona ul.list-cf li ul li strong{
	color: #000;
	
}
.como-funciona .faqs{
	margin: 30px auto;
		width: 80%;
	
}
.como-funciona .faqs a{
	display: block;
		padding: 15px;
		border: 3px solid #ef1679;
		border-radius: 3px;
		font: normal 1.6em 'Miriad Bold';
		color: #252225;
	
}
.nuestros-precios ul{
	padding: 0 20px;
	
}
.nuestros-precios .nav-tabs,.nuestros-precios .nav-tabs>li{
	margin: 0;
		padding: 0;
	
}
.nuestros-precios .nav-tabs{
	padding: 0 1px;
		border-bottom: 4px solid #dd1971;
		text-align: center;
	
}
.nuestros-precios .nav-tabs>li{
	float: none;
		display: inline-block;
		position: relative;
	
}
.nuestros-precios .nav-tabs>li>a{
	font: bold 12px 'Arial', sans-serif;
		text-transform: uppercase;
		background: #f6f8fa;
		color: #b9bcc6;
		padding: 20px;
		border: none;
	
}
.nuestros-precios .nav-tabs>li.active{
	bottom: -4px;
	
}
.nuestros-precios .nav-tabs>li.active>a{
	border: none;
		border-top: 4px solid #ed5565;
		margin-bottom: -4px;
		padding: 20px;
		background: #fff;
		color: #ed5565;
	
}
.nuestros-precios ul li{
	padding: 6px 0;
		color: #ef1679;
	
}
.nuestros-precios .tab-content{
	padding: 60px 0;
		font-size: 1.15em;
		color: #dd1971;
	
}
.nuestros-precios .tab-content table th{
	font-weight: bold;
		font-size: 1.3em;
	
}
.preguntas-frecuentes .panel-default .panel-heading,.preguntas-frecuentes .panel,.preguntas-frecuentes .panel-default .panel-heading+.panel-collapse .panel-body,.preguntas-frecuentes .panel-group .panel-heading+.panel-collapse .panel-body{
	background: none;
		border: none;
		box-shadow: none;
		color: #252225
}
.preguntas-frecuentes .panel-default .panel-heading+.panel-collapse .panel-body,.preguntas-frecuentes .panel-group .panel-heading+.panel-collapse .panel-body{
	background: #fceef4;
		line-height: 1.3em;
		font-size: 1.1em;
	
}
.preguntas-frecuentes .panel-title a{
	font-size: 1.15em;
	
}
.borders .form-control,.borders select.form-control{
	border-bottom: none;
		border-radius: 0;
		-webkit-appearance: none;
	
}
.borders .form-control:first-child{
	border-radius: 4px 4px 0 0;
	
}
.borders .form-control:last-child,.borders select.form-control:last-child{
	border-radius: 0 0 4px 4px;
		border-bottom: 1px solid #ccc;
	
}
.contactenos .heading{
	padding: 20px;
		font-size: 1.5em;
		text-transform: uppercase;
		color: #fff;
		text-align: center;
		background: #ea80aa;
		border-radius: 4px 4px 0 0;
	
}
.contactenos form{
	padding: 30px;
		background: #df4180;
		border-radius: 0 0 4px 4px;
		margin: 0 0 30px 0;
	
}
.contactenos p{
	font-size: 1.1em;
		color: #989898;
	
}
textarea{
	resize: none;
	
}
.address{
	margin: 0 0 40px 0;
	
}
.address h3{
	margin: 30px 0 10px 0;
		padding: 0;
		font-size: 2.5em;
		color: #dd1971;
		text-transform: uppercase;
	
}
.address h4{
	margin: 0 0 10px 0;
		padding: 0;
		font-size: 1.3em;
		color: #dd1971;
		text-transform: uppercase;
	
}
.contactenos form .btn{
	text-transform: uppercase;
	
}
.contactenos form a.link{
	margin: 0 auto;
		color: #fff;
		text-align: center;
		display: block;
	
}
.contactenos .text-right .img-responsive{
	display: inline-block;
	
}
.contactenos .msje h3,.contactenos .msje h4{
	text-align: center;
		margin: 30px 0;
	
}
.contactenos .col-md-4.hidden-sm img.img-responsive{
	position: relative;
		bottom: -18px;
	
}
@media (max-width: 1170px){
	.pedir{
		display: none;
		
}

}
@media (max-width: 992px){
	img.img-movil{
 		margin: 30px auto 0 auto;
		
}
	.menunav nav ul li a{
		padding: 0 15px;
		
}

}
@media (max-width: 768px){
	.nuestros-precios .nav-tabs>li{
		text-align: left;
			display: block;
		
}
	.nuestros-precios .nav-tabs>li a{
		display: inline-block;
		
}
	.nuestros-precios .nav-tabs>li.active{
		bottom: 0;
		
}
	.nuestros-precios .nav-tabs>li.active>a{
		margin: 0;
		
}
	nav{
		position: relative;
		
}
	.menunav nav ul{
		position: absolute;
			left: -15px;
			right: -15px;
			top: 47px;
			background: #fff;
			z-index: 10;
			display: none;
		
}
	.menunav nav ul li{
		float: none;
			height: 42px;
		
}
	.menunav nav ul li a{
		line-height: 42px;
			border-bottom: 1px solid #dd1971;
		
}
	.banner h1{
		font-size: 2em;
			padding: 2em 0 0 0;
		
}
	.banner h1 span.opencom,	.banner h1 span.closecom{
		display: none;
		
}
	.simplespasos ul.menupasos li.vivo a,	.simplespasos ul.menupasos li.lockers a{
		font-size: 1.5em;
			height: auto;
			line-height: normal;
			padding: 15px 30px;
		
}
	.footer .webpay{
		margin: 10px 0;
			text-align: center;
		
}
	
}

#the-modal {
    position:    absolute;
	    top:         50%;
	    left:        50%;
	    width:        526px;
	    height:       393px;
	    margin-left: -263px;
	    margin-top:  -194px;
	
}

#main_content {
	padding-top:20px;
	padding-bottom:50px;
}

/* CUSTOM BOOSTRAP CSS */
.alert {
	border-color: transparent !important;
	border-radius: 0;
}

.alert-success,
.alert-info {
	color: #dd1971;
	background-color: #fceef4;
}

a {
	color: #dd1971;
}

a:hover {
	color: #000;
}

.btn {
	background: #dd1971;
	border: none;
	border-radius: 0;
}

.btn:hover {
	background: #000;

}

.text-center {
	text-align: center;
}

a#login_with_facebook {
	background-color: transparent !important;
}

@media (max-width: 767px) {
  body {
    padding-right: 0;
    padding-left: 0;
  }

  .navbar-fixed-top, .navbar-fixed-bottom {
    margin-right: 0;
    margin-left: 0;
  }
  
  .navbar {
	  margin-bottom: 0;
  }
  
  .menunav nav {
  	padding: 0 15px
  }
  .menunav nav li {
	  padding: 0 15px
  }

  #main_content > .container {
	  padding-left: 15px;
	  padding-right: 15px;
  }

}

.foo {
  width: 376px;
  margin: auto;
  height: 100px;
}