.owl-carousel .owl-wrapper:after {
	content:".";
	display:block;
	clear:both;
	visibility:hidden;
	line-height:0;
	height:0
}

.owl-carousel {
	display:none;
	position:relative;
	width:100%;
	-ms-touch-action:pan-y
}

.owl-carousel .owl-wrapper {
	display:none;
	position:relative;
	-webkit-transform:translate3d(0px, 0px, 0px)
}

.owl-carousel .owl-wrapper-outer {
	overflow:hidden;
	position:relative;
	width:100%
}

.owl-carousel .owl-wrapper-outer.autoHeight {
	-webkit-transition:height 500ms ease-in-out;
	-moz-transition:height 500ms ease-in-out;
	-ms-transition:height 500ms ease-in-out;
	-o-transition:height 500ms ease-in-out;
	transition:height 500ms ease-in-out
}

.owl-carousel .owl-item {
	float:left
}

.owl-controls .owl-page,.owl-controls .owl-buttons div {
	cursor:pointer
}

.owl-controls {
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0)
}

.grabbing {
	cursor:url(grabbing.png) 8 8,move
}

.owl-carousel .owl-wrapper,.owl-carousel .owl-item {
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	-webkit-transform:translate3d(0, 0, 0);
	-moz-transform:translate3d(0, 0, 0);
	-ms-transform:translate3d(0, 0, 0)
}

.owl-theme .owl-controls {
	margin-top:10px;
	text-align:center
}

.owl-theme .owl-controls .owl-buttons div {
	color:#FFF;
	display:inline-block;
	zoom:1;
	*display:inline;
	margin:5px;
	padding:3px 10px;
	font-size:12px;
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	border-radius:30px;
	background:#869791;
	filter:Alpha(Opacity=50);
	opacity:0.5
}

.owl-theme .owl-controls.clickable .owl-buttons div:hover {
	filter:Alpha(Opacity=100);
	opacity:1;
	text-decoration:none
}

.owl-theme .owl-controls .owl-page {
	display:inline-block;
	zoom:1;
	*display:inline
}

.owl-theme .owl-controls .owl-page span {
	display:block;
	width:12px;
	height:12px;
	margin:5px 7px;
	filter:Alpha(Opacity=50);
	opacity:0.5;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	border-radius:20px;
	background:#869791
}

.owl-theme .owl-controls .owl-page.active span,.owl-theme .owl-controls.clickable .owl-page:hover span {
	filter:Alpha(Opacity=100);
	opacity:1
}

.owl-theme .owl-controls .owl-page span.owl-numbers {
	height:auto;
	width:auto;
	color:#FFF;
	padding:2px 10px;
	font-size:12px;
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	border-radius:30px
}

.owl-item.loading {
	min-height:150px;
	background:url(AjaxLoader.gif) no-repeat center center
}

body,html,h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6,p,.p {
	font-family:"merriweather", serif;
	font-style:normal;
	font-weight:300
}

.brand-mobile {
	display:none
}

.owl-theme .owl-controls .owl-buttons div {
	position:absolute;
	bottom:100%
}

.owl-theme .owl-controls .owl-buttons .owl-prev {
	left:0px;
	top:50%;
	background:transparent;
	margin:-40px 0px 0px 0px;
	padding:0px 0px 0px 0px
}

.owl-theme .owl-controls .owl-buttons .owl-next {
	right:0px;
	top:50%;
	background:transparent;
	margin:-40px 0px 0px 0px;
	padding:0px 0px 0px 0px
}

span.black {
	background-color:black;
	width:200px;
	height:1px;
	margin:0 auto;
	display:block;
	margin-bottom:50px
}

#how {
	margin-top:-10px
}

a {
	word-break:break-all
}

.contact {
	background-color:black;
	padding:5px 0px 5px 0px
}

.contact .fa {
	padding:0px 10px 0px 20px
}

.contact .container {
	font-size:12px;
	font-weight:lighter;
	letter-spacing:0.08em;
	opacity:0.7;
	color:white
}

header.header-10 {
	background:#eeeeee;
	border-bottom:solid #cfcfcf 1px
}

header.header-10 img {
	height:80px;
	position:relative;
	top:-14px
}

header.header-10 .header-background {
	background-color:#eeeeee
}

header.header-10 .navbar .nav>li>a {
	color:#747378;
	font-weight:normal
}

header.header-10 .navbar .nav>li>a:hover {
	color:#58585f
}

header.header-10 .navbar .btn.btn-success {
	background: white;
	font-weight:normal;
	color:#499b99;
	font-size:17px
}

header.header-10 .navbar .btn:hover {
	color:white;
	background-color:#499b99
}

footer {
	background-color:black;
	color:white;
	font-weight:lighter;
	text-transform:uppercase;
	padding-bottom:0px;
	padding-top:12px;
	letter-spacing:0.1em;
	text-align:center
}

footer p {
	font-size:12px
}

footer a {
	text-decoration:none;
	color:inherit
}

footer a:hover {
	opacity:0.9;
	color:white
}

body .navbar-collapse .nav>li>a {
	text-transform:none
}

.header-10-sub {
	height:480px
}

.header-10-sub .background {
	background:url("assets/header.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	opacity:0.8
}

.header-4 {
	padding-top:108px;
	padding-bottom:0px;
	height:607px;
	text-align:right
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
.header-4 {
	padding-top:108px
}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
.header-4 {
	padding-top:74px
}
}

@media screen and (min-width: 401px) and (max-width: 767px) {
.header-4 {
	padding-top:30px;
	height:708px
}
}

@media screen and (max-width: 400px) {
.header-4 {
	padding-top:30px;
	height:752px
}
}

.header-4 .icon {
	height:20px;
	padding-right:15px;
	position:relative;
	top:-2px
}

.header-4 .hero-unit h1 {
	font-weight:100;
	font-size:32px
}

@media screen and (max-width: 400px) {
.header-4 .hero-unit h1 {
	color:black
}
}

.header-4 .hero-unit li {
	line-height:1.5em
}

.header-4 .background {
	background:url("assets/header.png");
	background-size:cover;
	background-repeat:no-repeat;
	opacity:1
}

@media screen and (max-width: 400px) {
.header-4 .background {
	display:none
}
}

.header-4 .background.gradient {
	background:url("assets/home/hero_backer.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	opacity:1
}

.header-4 .backer {
	padding-top:40px;
	padding-bottom:40px;
	font-weight:300
}

@media screen and (max-width: 767px) {
.header-4 .backer {
	margin:0
}
}

.header-4 .backer p {
	font-size:20px;
	margin-bottom:20px;
	color:#f1feee
}

.header-4 .backer .btn-primary {
	font-family:"helvetica", serif;
	font-style:normal;
	font-weight:800;
	letter-spacing:0.1em;
	border:solid white 2px;
	font-size:16px;
	text-transform:uppercase;
	background-color:transparent
}

@media screen and (min-width: 768px) and (max-width: 991px) {
.header-4 .backer .btn-primary {
	font-size:12px
}
}

.header-4 .backer .btn-primary:hover {
	background-color:rgba(255,255,255,0.2)
}

.header-4 .blue {
	background-color:#3097d1;
	opacity:0.9
}

.header-4 .green {
	background-color:#41afa4;
	opacity:0.9
}

.price-5 {
	padding-bottom:0px;
	padding-top:80px
}

.price-5 .plans li {
	font-size:16px;
	margin-bottom:20px;
	line-height:30px
}

.price-5 .plans .plan:hover .description {
	opacity:1;
	filter:alpha(opacity=100)
}

.price-5 .plans .title {
	padding-top:40px
}

.price-5 .terms {
	font-size:18px;
	line-height:24px;
	font-family:"merriweather"
}

.price-5 .plans .plan-2.only-2 {
	border-right:0px solid #e5e5e5 !important
}

h5.headering {
	font-size:22px;
	padding-bottom:20px;
	line-height:1.4em;
	margin-top:-40px
}

.content-4 {
	text-align:center
}

.content-4 h3 {
	color:#324252;
	font-family:"merriweather", serif;
	font-style:normal;
	font-weight:300;
	font-size:36px
}

.content-4 .features p {
	font-family:"merriweather", serif;
	font-style:normal;
	font-weight:300;
	font-size:26px;
	line-height:1.4em
}

.content-4 .features>[class*="col-sm-"] {
	padding-top:120px
}

.content-4 .features>[class*="col-sm-"]>img:first-child {
	position:relative;
	top:-40px;
	left:0px;
	height:120px
}

.content-18 {
	background-color:#f3f3f1;
	padding-top:0px;
	padding-bottom:0px
}

.content-18 .carousel.hidden-xs,.content-18 .owl-carousel.hidden-xs {
	background-image:url("assets/carousel/carousel_wreath.jpg");
	background-repeat:no-repeat;
	background-position:center 90px
}

.content-18 .carousel .quote-text {
	font-size:18px;
	color:#74757a;
	max-width:700px;
	font-family:"merriweather", serif;
	font-style:italic;
	font-weight:300
}

.content-18 .carousel .quote-author {
	margin-top:25px;
	margin-bottom:50px;
	line-height:1.2em;
	font-weight:normal;
	color:#747c83;
	font-size:16px
}

.content-18 .item {
	padding-top:50px;
	padding-bottom:50px
}

.content-18 .item img {
	padding-top:80px;
	padding-bottom:20px
}

.content-18 .item .quote-text {
	margin:0 auto;
	font-size:26px;
	color:#74757a;
	max-width:700px;
	font-style:italic;
	font-weight:300
}

.content-18 .item .quote-author {
	margin-top:25px;
	margin-bottom:50px;
	line-height:1.2em;
	font-weight:normal;
	color:#747c83;
	font-size:16px;
	font-family:"helvetica", serif
}

html,body {
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
	overflow-x:hidden
}

.blog-2.home .promo {
	margin-top:40px
}

.blog-2.home .max {
	max-width:40%;
	margin:10px
}

.blog-2.home .max.next {
	background-color:#28b09e;
	color:white
}

.blog-2.home .max.next:hover {
	background-color:white;
	color:#28b09e
}

.blog-2 {
	font-weight:300;
	background-color:#ecf0f1
}

.blog-2 .owl-carousel.iphone {
	display:none;
	position:relative;
	width:100%;
	top:550px;
	left:160px
}

.blog-2 .owl-carousel.iphone.visible-md {
	display:none;
	position:relative;
	width:100%;
	top:550px;
	left:0px
}

.blog-2 .arrow-br {
	position:relative;
	bottom:70px;
	left:-100px;
	height:140px
}

.blog-2 h3 {
	padding-bottom:10px;
	font-family:"merriweather", serif;
	font-style:normal;
	font-weight:300
}

.blog-2 h4 {
	font-size:34px;
	color:#666668;
	margin-bottom:80px;
	font-family:"merriweather", serif;
	font-style:normal;
	font-weight:300;
	line-height:1.4em
}

.blog-2 p {
	font-size:24px;
	line-height:1.4em;
	color:#7f898b;
	margin-bottom:50px;
	font-family:"merriweather", serif;
	font-style:normal;
	font-weight:300;
	margin:0 auto
}

.blog-2 small {
	color:#7f898b;
	font-size:18px
}

.blog-2 h4.hang {
	margin-bottom:30px
}

.blog-2 .promo h4 a {
	color:blue;
	text-decoration:none
}

.blog-2 .promo h4 a:hover {
	opacity:0.6
}

.blog-2 .btn-inverse {
	border:solid #28b09e 2px;
	background-color:transparent;
	text-transform:uppercase;
	color:#28b09e;
	width:100%;
	margin:0 auto
}

.blog-2 .btn:hover {
	color:white;
	background-color:#28b09e
}

.blog-2 .background img.right {
	position:absolute;
	right:-700px
}

.blog-2.white {
	background-color:white
}

.content-23 p {
	font-size:32px;
	margin-bottom:30px
}

.content-23 .background {
	background:url("assets/home/aqua_backer.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	opacity:0.8
}

.content-23 .icon {
	height:20px;
	padding-right:15px;
	position:relative;
	top:-2px
}

.content-23 .btn-primary {
	font-family:"helvetica", serif;
	font-style:normal;
	font-weight:800;
	letter-spacing:0.1em;
	border:solid white 2px;
	font-size:16px;
	text-transform:uppercase;
	background-color:transparent;
	padding:20px 40px 20px 40px
}

.content-23 .btn-primary:hover {
	background-color:rgba(255,255,255,0.2)
}

.content-23 .hero-unit.hero-unit-bordered h1 {
	font-size:40px;
	font-weight:normal;
	color:white;
	font-weight:500;
	border:2px solid white;
	display:inline-block;
	margin:0;
	padding:50px 50px
}

.lockers .background {
	background:url("assets/home/lockers.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	opacity:1
}

.lockers p.text-center {
	padding-bottom:20px
}

.content-4.home {
	padding-bottom:400px;
	position:relative
}

.content-4.home #bottomimage {
	position:absolute;
	bottom:0px;
	left:0px;
	z-index:-4;
	width:100%
}

.content-4.home .hold {
	padding-bottom:20px
}

.content-4.home p {
	font-family:"merriweather", serif;
	font-style:normal;
	font-weight:300;
	font-size:26px;
	line-height:1.8em;
	color:#2d2a2b
}

.content-4.home .row p {
	font-size:18px
}


#register-phone {
    margin-top: 60px;
}



@media screen and (max-width: 440px) {
.brand-mobile {
	display:inherit;
	margin-top:15px
}

.navbar-form {
    display:none;
}

.brand {
	display:none !important;
}

}


