@font-face {
	font-family:'Lato';
	src:url("fonts/lato/lato-black.eot");
	src:url("fonts/lato/lato-black.eot?#iefix") format("embedded-opentype"),
url("fonts/lato/lato-black.woff") format("woff"),
url("fonts/lato/lato-black.ttf") format("truetype"),
url("fonts/lato/lato-black.svg#latoblack") format("svg");
	font-weight:900;
	font-style:normal
}

@font-face {
	font-family:'Lato';
	src:url("fonts/lato/lato-bold.eot");
	src:url("fonts/lato/lato-bold.eot?#iefix") format("embedded-opentype"),
url("fonts/lato/lato-bold.woff") format("woff"),
url("fonts/lato/lato-bold.ttf") format("truetype"),
url("fonts/lato/lato-bold.svg#latobold") format("svg");
	font-weight:bold;
	font-style:normal
}

@font-face {
	font-family:'Lato';
	src:url("fonts/lato/lato-bolditalic.eot");
	src:url("fonts/lato/lato-bolditalic.eot?#iefix") format("embedded-opentype"),
url("fonts/lato/lato-bolditalic.woff") format("woff"),
url("fonts/lato/lato-bolditalic.ttf") format("truetype"),
url("fonts/lato/lato-bolditalic.svg#latobold-italic") format("svg");
	font-weight:bold;
	font-style:italic
}

@font-face {
	font-family:'Lato';
	src:url("fonts/lato/lato-italic.eot");
	src:url("fonts/lato/lato-italic.eot?#iefix") format("embedded-opentype"),
url("fonts/lato/lato-italic.woff") format("woff"),
url("fonts/lato/lato-italic.ttf") format("truetype"),
url("fonts/lato/lato-italic.svg#latoitalic") format("svg");
	font-weight:normal;
	font-style:italic
}

@font-face {
	font-family:'Lato';
	src:url("fonts/lato/lato-light.eot");
	src:url("fonts/lato/lato-light.eot?#iefix") format("embedded-opentype"),
url("fonts/lato/lato-light.woff") format("woff"),
url("fonts/lato/lato-light.ttf") format("truetype"),
url("fonts/lato/lato-light.svg#latolight") format("svg");
	font-weight:300;
	font-style:normal
}

@font-face {
	font-family:'Lato';
	src:url("fonts/lato/lato-regular.eot");
	src:url("fonts/lato/lato-regular.eot?#iefix") format("embedded-opentype"),
url("fonts/lato/lato-regular.woff") format("woff"),
url("fonts/lato/lato-regular.ttf") format("truetype"),
url("fonts/lato/lato-regular.svg#latoregular") format("svg");
	font-weight:normal;
	font-style:normal
}

@font-face {
	font-family:"Flat-UI-Icons";
	src:url("fonts/flat-ui-icons-regular.eot");
	src:url("fonts/flat-ui-icons-regular.eot?#iefix") format("embedded-opentype"),
url("fonts/flat-ui-icons-regular.woff") format("woff"),
url("fonts/flat-ui-icons-regular.ttf") format("truetype"),
url("fonts/flat-ui-icons-regular.svg#flat-ui-icons-regular") format("svg");
	font-weight:normal;
	font-style:normal
}

[data-icon]:before {
	font-family:'Flat-UI-Icons';
	content:attr(data-icon);
	speak:none;
	font-weight:normal;
	font-variant:normal;
	text-transform:none;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale
}

.fui-arrow-right,
.fui-arrow-left,
.fui-cmd,
.fui-check-inverted,
.fui-heart,
.fui-location,
.fui-plus,
.fui-check,
.fui-cross,
.fui-list,
.fui-new,
.fui-video,
.fui-photo,
.fui-volume,
.fui-time,
.fui-eye,
.fui-chat,
.fui-search,
.fui-user,
.fui-mail,
.fui-lock,
.fui-gear,
.fui-radio-unchecked,
.fui-radio-checked,
.fui-checkbox-unchecked,
.fui-checkbox-checked,
.fui-calendar-solid,
.fui-pause,
.fui-play,
.fui-check-inverted-2 {
	display:inline-block;
	font-family:'Flat-UI-Icons';
	speak:none;
	font-style:normal;
	font-weight:normal;
	font-variant:normal;
	text-transform:none;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale
}

.fui-arrow-right:before {
	content:"\e02c"
}

.fui-arrow-left:before {
	content:"\e02d"
}

.fui-cmd:before {
	content:"\e02f"
}

.fui-check-inverted:before {
	content:"\e006"
}

.fui-heart:before {
	content:"\e007"
}

.fui-location:before {
	content:"\e008"
}

.fui-plus:before {
	content:"\e009"
}

.fui-check:before {
	content:"\e00a"
}

.fui-cross:before {
	content:"\e00b"
}

.fui-list:before {
	content:"\e00c"
}

.fui-new:before {
	content:"\e00d"
}

.fui-video:before {
	content:"\e00e"
}

.fui-photo:before {
	content:"\e00f"
}

.fui-volume:before {
	content:"\e010"
}

.fui-time:before {
	content:"\e011"
}

.fui-eye:before {
	content:"\e012"
}

.fui-chat:before {
	content:"\e013"
}

.fui-search:before {
	content:"\e01c"
}

.fui-user:before {
	content:"\e01d"
}

.fui-mail:before {
	content:"\e01e"
}

.fui-lock:before {
	content:"\e01f"
}

.fui-gear:before {
	content:"\e024"
}

.fui-radio-unchecked:before {
	content:"\e02b"
}

.fui-radio-checked:before {
	content:"\e032"
}

.fui-checkbox-unchecked:before {
	content:"\e033"
}

.fui-checkbox-checked:before {
	content:"\e034"
}

.fui-calendar-solid:before {
	content:"\e022"
}

.fui-pause:before {
	content:"\e03b"
}

.fui-play:before {
	content:"\e03c"
}

.fui-check-inverted-2:before {
	content:"\e000"
}

.dropdown-arrow-inverse {
	border-bottom-color:#34495e !important;
	border-top-color:#34495e !important
}

body {
	font-family:"Lato",
 Helvetica,
 Arial,
 sans-serif;
	font-size:18px;
	line-height:1.72222;
	color:#34495e;
	background:#ffffff
}

a {
	color:#16a085;
	text-decoration:none;
	-webkit-transition:0.25s;
	transition:0.25s
}

a:hover,
a:focus {
	color:#1abc9c;
	text-decoration:none
}

a:focus {
	outline:none
}

.img-rounded {
	border-radius:6px
}

.img-thumbnail {
	padding:4px;
	line-height:1.72222;
	background:#ffffff;
	border:2px solid #bdc3c7;
	border-radius:6px;
	-webkit-transition:all 0.25s ease-in-out;
	transition:all 0.25s ease-in-out;
	display:inline-block;
	max-width:100%;
	height:auto
}

.img-comment {
	font-size:15px;
	line-height:1.2;
	font-style:italic;
	margin:24px 0
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family:inherit;
	font-weight:700;
	line-height:1.1;
	color:inherit
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small {
	color:#e7e9ec
}

h1,
h2,
h3 {
	margin-top:30px;
	margin-bottom:15px
}

h4,
h5,
h6 {
	margin-top:15px;
	margin-bottom:15px
}

h6 {
	font-weight:normal
}

h1,
.h1 {
	font-size:61px
}

h2,
.h2 {
	font-size:53px
}

h3,
.h3 {
	font-size:40px
}

h4,
.h4 {
	font-size:29px
}

h5,
.h5 {
	font-size:28px
}

h6,
.h6 {
	font-size:24px
}

p {
	font-size:18px;
	line-height:1.72222;
	margin:0 0 15px
}

.lead {
	margin-bottom:30px;
	font-size:28px;
	line-height:1.46428571;
	font-weight:300
}

@media (min-width: 768px) {
	.lead {
	font-size:30.006px
}


}

small,
.small {
	font-size:83%;
	line-height:2.067
}

.text-muted {
	color:#bdc3c7
}

.text-inverse {
	color:#ffffff
}

.text-primary {
	color:#1abc9c
}

a.text-primary:hover {
	color:#15967d
}

.text-warning {
	color:#f1c40f
}

a.text-warning:hover {
	color:#c19d0c
}

.text-danger {
	color:#e74c3c
}

a.text-danger:hover {
	color:#b93d30
}

.text-success {
	color:#2ecc71
}

a.text-success:hover {
	color:#25a35a
}

.text-info {
	color:#3498db
}

a.text-info:hover {
	color:#2a7aaf
}

.bg-primary {
	color:#ffffff;
	background:#34495e
}

a.bg-primary:hover {
	background:#222f3d
}

.bg-success {
	background:#dff0d8
}

a.bg-success:hover {
	background:#c1e2b3
}

.bg-info {
	background:#d9edf7
}

a.bg-info:hover {
	background:#afd9ee
}

.bg-warning {
	background:#fcf8e3
}

a.bg-warning:hover {
	background:#f7ecb5
}

.bg-danger {
	background:#f2dede
}

a.bg-danger:hover {
	background:#e4b9b9
}

.page-header {
	padding-bottom:14px;
	margin:60px 0 30px;
	border-bottom:1px solid #e7e9ec
}

ul,
ol {
	margin-bottom:15px
}

dl {
	margin-bottom:30px
}

dt,
dd {
	line-height:1.72222
}

@media (min-width: 768px) {
	.dl-horizontal dt {
	width:160px
}

.dl-horizontal dd {
	margin-left:180px
}


}

abbr[title],
abbr[data-original-title] {
	border-bottom:1px dotted #bdc3c7
}

blockquote {
	border-left:3px solid #e7e9ec;
	padding:0 0 0 16px;
	margin:0 0 30px
}

blockquote p {
	font-size:20px;
	line-height:1.55;
	font-weight:normal;
	margin-bottom:.4em
}

blockquote small,
blockquote .small {
	font-size:18px;
	line-height:1.72222;
	font-style:italic;
	color:inherit
}

blockquote small:before,
blockquote .small:before {
	content:""
}

blockquote.pull-right {
	padding-right:16px;
	padding-left:0;
	border-right:3px solid #e7e9ec;
	border-left:0
}

blockquote.pull-right small:after {
	content:""
}

address {
	margin-bottom:30px;
	line-height:1.72222
}

code,
kbd,
pre,
samp {
	font-family:Monaco,
 Menlo,
 Consolas,
 "Courier New",
 monospace
}

code {
	padding:2px 6px;
	font-size:85%;
	color:#c7254e;
	background:#f9f2f4;
	border-radius:4px
}

kbd {
	padding:2px 6px;
	font-size:85%;
	color:#ffffff;
	background:#34495e;
	border-radius:4px;
	box-shadow:none
}

pre {
	padding:8px;
	margin:0 0 15px;
	font-size:13px;
	line-height:1.72222;
	color:inherit;
	background:#ffffff;
	border:2px solid #e7e9ec;
	border-radius:6px;
	white-space:pre
}

.pre-scrollable {
	max-height:340px
}

.thumbnail {
	display:block;
	padding:4px;
	margin-bottom:5px;
	line-height:1.72222;
	background:#ffffff;
	border:2px solid #bdc3c7;
	border-radius:6px;
	-webkit-transition:all 0.25s ease-in-out;
	transition:all 0.25s ease-in-out
}

.thumbnail>img,
.thumbnail a>img {
	display:block;
	max-width:100%;
	height:auto;
	margin-left:auto;
	margin-right:auto
}

a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
	border-color:#16a085
}

.thumbnail .caption {
	padding:9px;
	color:#34495e
}

.btn {
	border:none;
	font-size:15px;
	font-weight:normal;
	line-height:1.4;
	border-radius:4px;
	padding:10px 15px;
	-webkit-font-smoothing:subpixel-antialiased;
	-webkit-transition:border .25s linear,
 color .25s linear,
 background .25s linear;
	transition:border .25s linear,
 color .25s linear,
 background .25s linear
}

.btn:hover,
.btn:focus {
	outline:none;
	color:#ffffff
}

.btn:active,
.btn.active {
	outline:none;
	-webkit-box-shadow:none;
	box-shadow:none
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
	background:#bdc3c7;
	color:rgba(255,
255,
255,
0.75);
	opacity:0.7;
	filter:alpha(opacity=70)
}

.btn>[class^="fui-"] {
	margin:0 1px;
	position:relative;
	line-height:1;
	top:1px
}

.btn-xs.btn>[class^="fui-"] {
	font-size:11px;
	top:0
}

.btn-hg.btn>[class^="fui-"] {
	top:2px
}

.btn-default {
	color:#ffffff;
	background:#bdc3c7
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
	color:#ffffff;
	background:#cacfd2;
	border-color:#cacfd2
}

.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
	background:#a1a6a9;
	border-color:#a1a6a9
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
	background:#bdc3c7;
	border-color:#bdc3c7
}

.btn-primary {
	color:#ffffff;
	background:#1abc9c
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
	color:#ffffff;
	background:#48c9b0;
	border-color:#48c9b0
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
	background:#16a085;
	border-color:#16a085
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
	background:#1abc9c;
	border-color:#1abc9c
}

.btn-info {
	color:#ffffff;
	background:#3498db
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
	color:#ffffff;
	background:#5dade2;
	border-color:#5dade2
}

.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
	background:#2c81ba;
	border-color:#2c81ba
}

.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
	background:#3498db;
	border-color:#3498db
}

.btn-danger {
	color:#ffffff;
	background:#e74c3c
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
	color:#ffffff;
	background:#ec7063;
	border-color:#ec7063
}

.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
	background:#c44133;
	border-color:#c44133
}

.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
	background:#e74c3c;
	border-color:#e74c3c
}

.btn-success {
	color:#ffffff;
	background:#2ecc71
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
	color:#ffffff;
	background:#58d68d;
	border-color:#58d68d
}

.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
	background:#27ad60;
	border-color:#27ad60
}

.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
	background:#2ecc71;
	border-color:#2ecc71
}

.btn-warning {
	color:#ffffff;
	background:#f1c40f
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
	color:#ffffff;
	background:#f5d313;
	border-color:#f5d313
}

.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
	background:#cda70d;
	border-color:#cda70d
}

.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
	background:#f1c40f;
	border-color:#f1c40f
}

.btn-inverse {
	color:#ffffff;
	background:#34495e
}

.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.open .dropdown-toggle.btn-inverse {
	color:#ffffff;
	background:#415b76;
	border-color:#415b76
}

.btn-inverse:active,
.btn-inverse.active,
.open .dropdown-toggle.btn-inverse {
	background:#2c3e50;
	border-color:#2c3e50
}

.btn-inverse.disabled,
.btn-inverse[disabled],
fieldset[disabled] .btn-inverse,
.btn-inverse.disabled:hover,
.btn-inverse[disabled]:hover,
fieldset[disabled] .btn-inverse:hover,
.btn-inverse.disabled:focus,
.btn-inverse[disabled]:focus,
fieldset[disabled] .btn-inverse:focus,
.btn-inverse.disabled:active,
.btn-inverse[disabled]:active,
fieldset[disabled] .btn-inverse:active,
.btn-inverse.disabled.active,
.btn-inverse[disabled].active,
fieldset[disabled] .btn-inverse.active {
	background:#34495e;
	border-color:#34495e
}

.btn-embossed {
	-webkit-box-shadow:inset 0 -2px 0 rgba(0,
0,
0,
0.15);
	box-shadow:inset 0 -2px 0 rgba(0,
0,
0,
0.15)
}

.btn-embossed.active,
.btn-embossed:active {
	-webkit-box-shadow:inset 0 2px 0 rgba(0,
0,
0,
0.15);
	box-shadow:inset 0 2px 0 rgba(0,
0,
0,
0.15)
}

.btn-wide {
	min-width:140px;
	padding-left:30px;
	padding-right:30px
}

.btn-link {
	color:#16a085
}

.btn-link:hover,
.btn-link:focus {
	color:#1abc9c;
	text-decoration:underline;
	background:transparent
}

.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
	color:#bdc3c7;
	text-decoration:none
}

.btn-hg {
	padding:13px 20px;
	font-size:22px;
	line-height:1.227;
	border-radius:6px
}

.btn-lg {
	padding:10px 19px;
	font-size:17px;
	line-height:1.471;
	border-radius:6px
}

.btn-sm {
	padding:9px 13px;
	font-size:13px;
	line-height:1.385;
	border-radius:4px
}

.btn-xs {
	padding:6px 9px;
	font-size:12px;
	line-height:1.083;
	border-radius:3px
}

.btn-tip {
	font-weight:300;
	padding-left:10px;
	font-size:92%
}

.btn-block {
	white-space:normal
}

.btn-default .caret {
	border-top-color:#ffffff
}

.btn-primary .caret,
.btn-success .caret,
.btn-warning .caret,
.btn-danger .caret,
.btn-info .caret {
	border-top-color:#ffffff
}

.dropup .btn-default .caret {
	border-bottom-color:#ffffff
}

.dropup .btn-primary .caret,
.dropup .btn-success .caret,
.dropup .btn-warning .caret,
.dropup .btn-danger .caret,
.dropup .btn-info .caret {
	border-bottom-color:#ffffff
}

.btn-group-xs>.btn {
	padding:6px 9px;
	font-size:12px;
	line-height:1.083;
	border-radius:3px
}

.btn-group-sm>.btn {
	padding:9px 13px;
	font-size:13px;
	line-height:1.385;
	border-radius:4px
}

.btn-group-lg>.btn {
	padding:10px 19px;
	font-size:17px;
	line-height:1.471;
	border-radius:6px
}

.btn-group-gh>.btn {
	padding:13px 20px;
	font-size:22px;
	line-height:1.227;
	border-radius:6px
}

.btn-group>.btn+.btn {
	margin-left:0
}

.btn-group>.btn+.dropdown-toggle {
	border-left:2px solid rgba(52,
73,
94,
0.15);
	padding-left:12px;
	padding-right:12px
}

.btn-group>.btn+.dropdown-toggle .caret {
	margin-left:3px;
	margin-right:3px
}

.btn-group>.btn.btn-gh+.dropdown-toggle .caret {
	margin-left:7px;
	margin-right:7px
}

.btn-group>.btn.btn-sm+.dropdown-toggle .caret {
	margin-left:0;
	margin-right:0
}

.dropdown-toggle .caret {
	margin-left:8px
}

.btn-group>.btn,
.btn-group>.dropdown-menu,
.btn-group>.popover {
	font-weight:400
}

.btn-group:focus .dropdown-toggle {
	outline:none;
	-webkit-transition:0.25s;
	transition:0.25s
}

.btn-group.open .dropdown-toggle {
	color:rgba(255,
255,
255,
0.75);
	-webkit-box-shadow:none;
	box-shadow:none
}

.btn-toolbar .btn.active {
	color:#ffffff
}

.btn-toolbar .btn>[class^="fui-"] {
	font-size:16px;
	margin:0 1px
}

.caret {
	border-width:8px 6px;
	border-bottom-color:#34495e;
	border-top-color:#34495e;
	border-style:solid;
	border-bottom-style:none;
	-webkit-transition:0.25s;
	transition:0.25s;
	-webkit-transform:scale(1.001);
	-ms-transform:scale(1.001);
	transform:scale(1.001)
}

.dropup .caret,
.dropup .btn-lg .caret,
.navbar-fixed-bottom .dropdown .caret {
	border-bottom-width:8px
}

.btn-lg .caret {
	border-top-width:8px;
	border-right-width:6px;
	border-left-width:6px
}

.select {
	display:inline-block;
	margin-bottom:10px
}

[class*="span"]>.select[class*="span"] {
	margin-left:0
}

.select[class*="span"] .btn {
	width:100%
}

.select.select-block {
	display:block;
	float:none;
	margin-left:0;
	width:auto
}

.select.select-block:before,
.select.select-block:after {
	content:" ";
	display:table
}

.select.select-block:after {
	clear:both
}

.select.select-block .btn {
	width:100%
}

.select.select-block .dropdown-menu {
	width:100%
}

.select .btn {
	width:220px
}

.select .btn.btn-hg .filter-option {
	left:20px;
	right:40px;
	top:13px
}

.select .btn.btn-hg .caret {
	right:20px
}

.select .btn.btn-lg .filter-option {
	left:18px;
	right:38px
}

.select .btn.btn-sm .filter-option {
	left:13px;
	right:33px
}

.select .btn.btn-sm .caret {
	right:13px
}

.select .btn.btn-xs .filter-option {
	left:13px;
	right:33px;
	top:5px
}

.select .btn.btn-xs .caret {
	right:13px
}

.select .btn .filter-option {
	height:26px;
	left:13px;
	overflow:hidden;
	position:absolute;
	right:33px;
	text-align:left;
	top:10px
}

.select .btn .caret {
	position:absolute;
	right:16px;
	top:50%;
	margin-top:-3px
}

.select .btn .dropdown-toggle {
	border-radius:6px
}

.select .btn .dropdown-menu {
	min-width:100%
}

.select .btn .dropdown-menu dt {
	cursor:default;
	display:block;
	padding:3px 20px
}

.select .btn .dropdown-menu li:not(.disabled)>a:hover small {
	color:rgba(255,
255,
255,
0.004)
}

.select .btn .dropdown-menu li>a {
	min-height:20px
}

.select .btn .dropdown-menu li>a.opt {
	padding-left:35px
}

.select .btn .dropdown-menu li small {
	padding-left:.5em
}

.select .btn .dropdown-menu li>dt small {
	font-weight:normal
}

.select .btn>.disabled,
.select .btn .dropdown-menu li.disabled>a {
	cursor:default
}

.select .caret {
	border-bottom-color:#ffffff;
	border-top-color:#ffffff
}

legend {
	display:block;
	width:100%;
	padding:0;
	margin-bottom:15px;
	font-size:24px;
	line-height:inherit;
	color:inherit;
	border-bottom:none
}

textarea {
	font-size:20px;
	line-height:24px;
	padding:5px 11px
}

input[type="search"] {
	-webkit-appearance:none !important
}

label {
	font-weight:normal;
	font-size:15px;
	line-height:2.4
}

.form-control:-moz-placeholder {
	color:#b2bcc5
}

.form-control::-moz-placeholder {
	color:#b2bcc5;
	opacity:1
}

.form-control:-ms-input-placeholder {
	color:#b2bcc5
}

.form-control::-webkit-input-placeholder {
	color:#b2bcc5
}

.form-control.placeholder {
	color:#b2bcc5
}

.form-control {
	border:2px solid #bdc3c7;
	color:#34495e;
	font-family:"Lato",
 Helvetica,
 Arial,
 sans-serif;
	font-size:15px;
	line-height:1.467;
	padding:8px 12px;
	height:42px;
	-webkit-appearance:none;
	border-radius:6px;
	-webkit-box-shadow:none;
	box-shadow:none;
	-webkit-transition:border .25s linear,
 color .25s linear,
 background .25s linear;
	transition:border .25s linear,
 color .25s linear,
 background .25s linear
}

.form-group.focus .form-control,
.form-control:focus {
	border-color:#1abc9c;
	outline:0;
	-webkit-box-shadow:none;
	box-shadow:none
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
	background:#f4f6f6;
	border-color:#d5dbdb;
	color:#d5dbdb;
	cursor:default;
	opacity:0.7;
	filter:alpha(opacity=70)
}

.form-control.flat {
	border-color:transparent
}

.form-control.flat:hover {
	border-color:#bdc3c7
}

.form-control.flat:focus {
	border-color:#1abc9c
}

.input-sm {
	height:35px;
	padding:6px 10px;
	font-size:13px;
	line-height:1.462;
	border-radius:6px
}

select.input-sm {
	height:35px;
	line-height:35px
}

textarea.input-sm,
select[multiple].input-sm {
	height:auto
}

.input-lg {
	height:45px;
	padding:10px 15px;
	font-size:17px;
	line-height:1.235;
	border-radius:6px
}

select.input-lg {
	height:45px;
	line-height:45px
}

textarea.input-lg,
select[multiple].input-lg {
	height:auto
}

.input-hg {
	height:53px;
	padding:10px 16px;
	font-size:22px;
	line-height:1.318;
	border-radius:6px
}

select.input-hg {
	height:53px;
	line-height:53px
}

textarea.input-hg,
select[multiple].input-hg {
	height:auto
}

.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline {
	color:#f1c40f
}

.has-warning .form-control {
	color:#f1c40f;
	border-color:#f1c40f;
	-webkit-box-shadow:none;
	box-shadow:none
}

.has-warning .form-control:-moz-placeholder {
	color:#f1c40f
}

.has-warning .form-control::-moz-placeholder {
	color:#f1c40f;
	opacity:1
}

.has-warning .form-control:-ms-input-placeholder {
	color:#f1c40f
}

.has-warning .form-control::-webkit-input-placeholder {
	color:#f1c40f
}

.has-warning .form-control.placeholder {
	color:#f1c40f
}

.has-warning .form-control:focus {
	border-color:#f1c40f;
	-webkit-box-shadow:none;
	box-shadow:none
}

.has-warning .input-group-addon {
	color:#f1c40f;
	border-color:#f1c40f;
	background:#ffffff
}

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline {
	color:#e74c3c
}

.has-error .form-control {
	color:#e74c3c;
	border-color:#e74c3c;
	-webkit-box-shadow:none;
	box-shadow:none
}

.has-error .form-control:-moz-placeholder {
	color:#e74c3c
}

.has-error .form-control::-moz-placeholder {
	color:#e74c3c;
	opacity:1
}

.has-error .form-control:-ms-input-placeholder {
	color:#e74c3c
}

.has-error .form-control::-webkit-input-placeholder {
	color:#e74c3c
}

.has-error .form-control.placeholder {
	color:#e74c3c
}

.has-error .form-control:focus {
	border-color:#e74c3c;
	-webkit-box-shadow:none;
	box-shadow:none
}

.has-error .input-group-addon {
	color:#e74c3c;
	border-color:#e74c3c;
	background:#ffffff
}

.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline {
	color:#2ecc71
}

.has-success .form-control {
	color:#2ecc71;
	border-color:#2ecc71;
	-webkit-box-shadow:none;
	box-shadow:none
}

.has-success .form-control:-moz-placeholder {
	color:#2ecc71
}

.has-success .form-control::-moz-placeholder {
	color:#2ecc71;
	opacity:1
}

.has-success .form-control:-ms-input-placeholder {
	color:#2ecc71
}

.has-success .form-control::-webkit-input-placeholder {
	color:#2ecc71
}

.has-success .form-control.placeholder {
	color:#2ecc71
}

.has-success .form-control:focus {
	border-color:#2ecc71;
	-webkit-box-shadow:none;
	box-shadow:none
}

.has-success .input-group-addon {
	color:#2ecc71;
	border-color:#2ecc71;
	background:#ffffff
}

.help-block {
	font-size:15px;
	margin-bottom:5px;
	color:inherit
}

.form-group {
	position:relative;
	margin-bottom:20px
}

.form-horizontal .control-label,
.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
	margin-top:0;
	margin-bottom:0;
	padding-top:6px
}

.form-horizontal .form-group {
	margin-left:-15px;
	margin-right:-15px
}

.form-horizontal .form-group:before,
.form-horizontal .form-group:after {
	content:" ";
	display:table
}

.form-horizontal .form-group:after {
	clear:both
}

.form-horizontal .form-control-static {
	padding-top:6px
}

.form-group {
	position:relative
}

.form-control+.input-icon {
	position:absolute;
	top:2px;
	right:2px;
	line-height:37px;
	vertical-align:middle;
	font-size:20px;
	color:#b2bcc5;
	background:#ffffff;
	padding:0 12px 0 0;
	border-radius:6px
}

.input-hg+.input-icon {
	line-height:49px;
	padding:0 16px 0 0
}

.input-lg+.input-icon {
	line-height:41px;
	padding:0 15px 0 0
}

.input-sm+.input-icon {
	font-size:18px;
	line-height:30px;
	padding:0 10px 0 0
}

.has-success .input-icon {
	color:#2ecc71
}

.has-warning .input-icon {
	color:#f1c40f
}

.has-error .input-icon {
	color:#e74c3c
}

.form-control[disabled]+.input-icon,
.form-control[readonly]+.input-icon,
fieldset[disabled] .form-control+.input-icon,
.form-control.disabled+.input-icon {
	color:#d5dbdb;
	background:transparent;
	opacity:0.7;
	filter:alpha(opacity=70)
}

.input-group-hg>.form-control,
.input-group-hg>.input-group-addon,
.input-group-hg>.input-group-btn>.btn {
	height:53px;
	padding:10px 16px;
	font-size:22px;
	line-height:1.318;
	border-radius:6px
}

select.input-group-hg>.form-control,
select.input-group-hg>.input-group-addon,
select.input-group-hg>.input-group-btn>.btn {
	height:53px;
	line-height:53px
}

textarea.input-group-hg>.form-control,
textarea.input-group-hg>.input-group-addon,
textarea.input-group-hg>.input-group-btn>.btn,
select[multiple].input-group-hg>.form-control,
select[multiple].input-group-hg>.input-group-addon,
select[multiple].input-group-hg>.input-group-btn>.btn {
	height:auto
}

.input-group-lg>.form-control,
.input-group-lg>.input-group-addon,
.input-group-lg>.input-group-btn>.btn {
	height:45px;
	padding:10px 15px;
	font-size:17px;
	line-height:1.235;
	border-radius:6px
}

select.input-group-lg>.form-control,
select.input-group-lg>.input-group-addon,
select.input-group-lg>.input-group-btn>.btn {
	height:45px;
	line-height:45px
}

textarea.input-group-lg>.form-control,
textarea.input-group-lg>.input-group-addon,
textarea.input-group-lg>.input-group-btn>.btn,
select[multiple].input-group-lg>.form-control,
select[multiple].input-group-lg>.input-group-addon,
select[multiple].input-group-lg>.input-group-btn>.btn {
	height:auto
}

.input-group-sm>.form-control,
.input-group-sm>.input-group-addon,
.input-group-sm>.input-group-btn>.btn {
	height:35px;
	padding:6px 10px;
	font-size:13px;
	line-height:1.462;
	border-radius:6px
}

select.input-group-sm>.form-control,
select.input-group-sm>.input-group-addon,
select.input-group-sm>.input-group-btn>.btn {
	height:35px;
	line-height:35px
}

textarea.input-group-sm>.form-control,
textarea.input-group-sm>.input-group-addon,
textarea.input-group-sm>.input-group-btn>.btn,
select[multiple].input-group-sm>.form-control,
select[multiple].input-group-sm>.input-group-addon,
select[multiple].input-group-sm>.input-group-btn>.btn {
	height:auto
}

.input-group-addon {
	padding:10px 12px;
	font-size:15px;
	color:#ffffff;
	text-align:center;
	background:#bdc3c7;
	border:1px solid #bdc3c7;
	border-radius:6px;
	-webkit-transition:border .25s linear,
 color .25s linear,
 background .25s linear;
	transition:border .25s linear,
 color .25s linear,
 background .25s linear
}

.input-group-hg .input-group-addon,
.input-group-lg .input-group-addon,
.input-group-sm .input-group-addon {
	line-height:1
}

.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child>.btn,
.input-group-btn:first-child>.dropdown-toggle,
.input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
	border-bottom-right-radius:0;
	border-top-right-radius:0
}

.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:last-child>.btn,
.input-group-btn:last-child>.dropdown-toggle,
.input-group-btn:first-child>.btn:not(:first-child) {
	border-bottom-left-radius:0;
	border-top-left-radius:0
}

.form-group.focus .input-group-addon,
.input-group.focus .input-group-addon {
	background:#1abc9c;
	border-color:#1abc9c
}

.form-group.focus .input-group-btn>.btn-default+.btn-default,
.input-group.focus .input-group-btn>.btn-default+.btn-default {
	border-left-color:#16a085
}

.form-group.focus .input-group-btn .btn,
.input-group.focus .input-group-btn .btn {
	border-color:#1abc9c;
	background:#ffffff;
	color:#1abc9c
}

.form-group.focus .input-group-btn .btn-default,
.input-group.focus .input-group-btn .btn-default {
	color:#ffffff;
	background:#1abc9c
}

.form-group.focus .input-group-btn .btn-default:hover,
.input-group.focus .input-group-btn .btn-default:hover,
.form-group.focus .input-group-btn .btn-default:focus,
.input-group.focus .input-group-btn .btn-default:focus,
.form-group.focus .input-group-btn .btn-default:active,
.input-group.focus .input-group-btn .btn-default:active,
.form-group.focus .input-group-btn .btn-default.active,
.input-group.focus .input-group-btn .btn-default.active,
.open .dropdown-toggle.form-group.focus .input-group-btn .btn-default,
.open .dropdown-toggle.input-group.focus .input-group-btn .btn-default {
	color:#ffffff;
	background:#48c9b0;
	border-color:#48c9b0
}

.form-group.focus .input-group-btn .btn-default:active,
.input-group.focus .input-group-btn .btn-default:active,
.form-group.focus .input-group-btn .btn-default.active,
.input-group.focus .input-group-btn .btn-default.active,
.open .dropdown-toggle.form-group.focus .input-group-btn .btn-default,
.open .dropdown-toggle.input-group.focus .input-group-btn .btn-default {
	background:#16a085;
	border-color:#16a085
}

.form-group.focus .input-group-btn .btn-default.disabled,
.input-group.focus .input-group-btn .btn-default.disabled,
.form-group.focus .input-group-btn .btn-default[disabled],
.input-group.focus .input-group-btn .btn-default[disabled],
fieldset[disabled] .form-group.focus .input-group-btn .btn-default,
fieldset[disabled] .input-group.focus .input-group-btn .btn-default,
.form-group.focus .input-group-btn .btn-default.disabled:hover,
.input-group.focus .input-group-btn .btn-default.disabled:hover,
.form-group.focus .input-group-btn .btn-default[disabled]:hover,
.input-group.focus .input-group-btn .btn-default[disabled]:hover,
fieldset[disabled] .form-group.focus .input-group-btn .btn-default:hover,
fieldset[disabled] .input-group.focus .input-group-btn .btn-default:hover,
.form-group.focus .input-group-btn .btn-default.disabled:focus,
.input-group.focus .input-group-btn .btn-default.disabled:focus,
.form-group.focus .input-group-btn .btn-default[disabled]:focus,
.input-group.focus .input-group-btn .btn-default[disabled]:focus,
fieldset[disabled] .form-group.focus .input-group-btn .btn-default:focus,
fieldset[disabled] .input-group.focus .input-group-btn .btn-default:focus,
.form-group.focus .input-group-btn .btn-default.disabled:active,
.input-group.focus .input-group-btn .btn-default.disabled:active,
.form-group.focus .input-group-btn .btn-default[disabled]:active,
.input-group.focus .input-group-btn .btn-default[disabled]:active,
fieldset[disabled] .form-group.focus .input-group-btn .btn-default:active,
fieldset[disabled] .input-group.focus .input-group-btn .btn-default:active,
.form-group.focus .input-group-btn .btn-default.disabled.active,
.input-group.focus .input-group-btn .btn-default.disabled.active,
.form-group.focus .input-group-btn .btn-default[disabled].active,
.input-group.focus .input-group-btn .btn-default[disabled].active,
fieldset[disabled] .form-group.focus .input-group-btn .btn-default.active,
fieldset[disabled] .input-group.focus .input-group-btn .btn-default.active {
	background:#1abc9c;
	border-color:#1abc9c
}

.input-group-btn .btn {
	background:#ffffff;
	border:2px solid #bdc3c7;
	color:#bdc3c7;
	line-height:18px
}

.input-group-btn .btn-default {
	color:#ffffff;
	background:#bdc3c7
}

.input-group-btn .btn-default:hover,
.input-group-btn .btn-default:focus,
.input-group-btn .btn-default:active,
.input-group-btn .btn-default.active,
.open .dropdown-toggle.input-group-btn .btn-default {
	color:#ffffff;
	background:#cacfd2;
	border-color:#cacfd2
}

.input-group-btn .btn-default:active,
.input-group-btn .btn-default.active,
.open .dropdown-toggle.input-group-btn .btn-default {
	background:#a1a6a9;
	border-color:#a1a6a9
}

.input-group-btn .btn-default.disabled,
.input-group-btn .btn-default[disabled],
fieldset[disabled] .input-group-btn .btn-default,
.input-group-btn .btn-default.disabled:hover,
.input-group-btn .btn-default[disabled]:hover,
fieldset[disabled] .input-group-btn .btn-default:hover,
.input-group-btn .btn-default.disabled:focus,
.input-group-btn .btn-default[disabled]:focus,
fieldset[disabled] .input-group-btn .btn-default:focus,
.input-group-btn .btn-default.disabled:active,
.input-group-btn .btn-default[disabled]:active,
fieldset[disabled] .input-group-btn .btn-default:active,
.input-group-btn .btn-default.disabled.active,
.input-group-btn .btn-default[disabled].active,
fieldset[disabled] .input-group-btn .btn-default.active {
	background:#bdc3c7;
	border-color:#bdc3c7
}

.input-group-hg .input-group-btn .btn {
	line-height:31px
}

.input-group-lg .input-group-btn .btn {
	line-height:21px
}

.input-group-sm .input-group-btn .btn {
	line-height:19px
}

.input-group-btn:first-child>.btn {
	border-right-width:0;
	margin-right:-2px
}

.input-group-btn:last-child>.btn {
	border-left-width:0;
	margin-left:-2px
}

.input-group-btn>.btn-default+.btn-default {
	border-left:2px solid #bdc3c7
}

.input-group-btn>.btn:first-child+.btn .caret {
	margin-left:0
}

.input-group-rounded .input-group-btn+.form-control,
.input-group-rounded .input-group-btn:last-child .btn {
	border-bottom-right-radius:20px;
	border-top-right-radius:20px
}

.input-group-hg.input-group-rounded .input-group-btn+.form-control,
.input-group-hg.input-group-rounded .input-group-btn:last-child .btn {
	border-bottom-right-radius:27px;
	border-top-right-radius:27px
}

.input-group-lg.input-group-rounded .input-group-btn+.form-control,
.input-group-lg.input-group-rounded .input-group-btn:last-child .btn {
	border-bottom-right-radius:25px;
	border-top-right-radius:25px
}

.input-group-rounded .form-control:first-child,
.input-group-rounded .input-group-btn:first-child .btn {
	border-bottom-left-radius:20px;
	border-top-left-radius:20px
}

.input-group-hg.input-group-rounded .form-control:first-child,
.input-group-hg.input-group-rounded .input-group-btn:first-child .btn {
	border-bottom-left-radius:27px;
	border-top-left-radius:27px
}

.input-group-lg.input-group-rounded .form-control:first-child,
.input-group-lg.input-group-rounded .input-group-btn:first-child .btn {
	border-bottom-left-radius:25px;
	border-top-left-radius:25px
}

.input-group-rounded .input-group-btn+.form-control {
	padding-left:0
}

.checkbox,
.radio {
	margin-bottom:12px;
	padding-left:32px;
	position:relative;
	-webkit-transition:color 0.25s linear;
	transition:color 0.25s linear;
	font-size:14px;
	line-height:1.5
}

/*.checkbox input,
.radio input {
	outline:none !important;
	display:none
}*/

.checkbox .icons,
.radio .icons {
	color:#bdc3c7;
	display:block;
	height:20px;
	left:0;
	position:absolute;
	top:0;
	width:20px;
	text-align:center;
	line-height:21px;
	font-size:20px;
	cursor:pointer;
	-webkit-transition:color 0.25s linear;
	transition:color 0.25s linear
}

.checkbox .icons .first-icon,
.radio .icons .first-icon,
.checkbox .icons .second-icon,
.radio .icons .second-icon {
	display:inline-table;
	position:absolute;
	left:0;
	top:0;
	background:transparent;
	margin:0;
	opacity:1;
	filter:alpha(opacity=100)
}

.checkbox .icons .second-icon,
.radio .icons .second-icon {
	opacity:0;
	filter:alpha(opacity=0)
}

.checkbox:hover,
.radio:hover {
	-webkit-transition:color 0.25s linear;
	transition:color 0.25s linear
}

.checkbox:hover .first-icon,
.radio:hover .first-icon {
	opacity:0;
	filter:alpha(opacity=0)
}

.checkbox:hover .second-icon,
.radio:hover .second-icon {
	opacity:1;
	filter:alpha(opacity=100)
}

.checkbox.checked,
.radio.checked {
	color:#1abc9c
}

.checkbox.checked .first-icon,
.radio.checked .first-icon {
	opacity:0;
	filter:alpha(opacity=0)
}

.checkbox.checked .second-icon,
.radio.checked .second-icon {
	opacity:1;
	filter:alpha(opacity=100);
	color:#1abc9c;
	-webkit-transition:color 0.25s linear;
	transition:color 0.25s linear
}

.checkbox.disabled,
.radio.disabled {
	cursor:default;
	color:#e6e8ea
}

.checkbox.disabled .icons,
.radio.disabled .icons {
	color:#e6e8ea
}

.checkbox.disabled .first-icon,
.radio.disabled .first-icon {
	opacity:1;
	filter:alpha(opacity=100)
}

.checkbox.disabled .second-icon,
.radio.disabled .second-icon {
	opacity:0;
	filter:alpha(opacity=0)
}

.checkbox.disabled.checked .icons,
.radio.disabled.checked .icons {
	color:#e6e8ea
}

.checkbox.disabled.checked .first-icon,
.radio.disabled.checked .first-icon {
	opacity:0;
	filter:alpha(opacity=0)
}

.checkbox.disabled.checked .second-icon,
.radio.disabled.checked .second-icon {
	opacity:1;
	filter:alpha(opacity=100);
	color:#e6e8ea
}

.checkbox.primary .icons,
.radio.primary .icons {
	color:#34495e
}

.checkbox.primary.checked,
.radio.primary.checked {
	color:#1abc9c
}

.checkbox.primary.checked .icons,
.radio.primary.checked .icons {
	color:#1abc9c
}

.checkbox.primary.disabled,
.radio.primary.disabled {
	cursor:default;
	color:#bdc3c7
}

.checkbox.primary.disabled .icons,
.radio.primary.disabled .icons {
	color:#bdc3c7
}

.checkbox.primary.disabled.checked .icons,
.radio.primary.disabled.checked .icons {
	color:#bdc3c7
}

.radio+.radio,
.checkbox+.checkbox {
	margin-top:10px
}

.navbar {
	font-size:16px;
	min-height:53px;
	margin-bottom:30px;
	border:none;
	border-radius:6px
}

