/*
Theme Name: Laundry Locker
Author: Create Online
Description: A Resonsive Single Page Template for WordPress
Version: 1.0
Tags: Responsive, Template
*/

@charset "utf-8";

html {
	max-width:100%;
	overflow-x:hidden;
}

body {
	font-family: 'Source Sans Pro',sans-serif;
	color: #5b5b5b;
	max-width:100%;
	overflow-x:hidden;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
}

h1, h2, h3, h4, h5, h6 {
	color:#14a7eb;
	font-family: 'Source Sans Pro', sans-serif;
}

h1 {
	font-size: 35px;
}
@media only screen and (min-width: 768px) {
	h1 {
		font-size: 50px;
	}
}

h1.alt-heading {
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    line-height: 55px;
}

h2{
    font-size: 24px;
    font-weight: 700;
}

h3{
    font-size: 26px;
}

a {
	color: #14a7eb;
	font-weight:500;
}

a:hover, a:focus, a:active {
	text-decoration: none;
	opacity:0.9;
	color: #2588b6;
}

.banner-text-shadow {
	text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.50);
}

*:focus {
	outline-style:none !important;
}

button:focus {
	outline:0 !important;
}

iframe {
	border:none;
}

img {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility:hidden;
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
	filter:none;
	-webkit-filter: blur(0px);
	-moz-filter: blur(0px);
	-ms-filter: blur(0px);
	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');
}

.wow {
   visibility: hidden;
 }

hr {
    border:none;
    height:2px;
    background-color: rgba(151,151,151,0.15);
    margin-left: 0;
}
hr.green {
    width:140px;
    background-color: #69d22b;
    height:3px;
}
hr.white {
    width:140px;
    background-color: #fff;
    height:3px;
}
.text-center hr {
    margin-left:auto;
    margin-right: auto;
}
.text-right hr {
    margin-right: 0;
}
.pulse {
    animation-name: stretch;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-fill-mode: none;
    animation-play-state: running;
}
@keyframes stretch {
  0% {
    transform: scale(.125);
  }
  100% {
    transform: scale(1);
  }
}

.sep-right {
    border-right: 2px solid rgba(151,151,151,0.15);
}

@media (min-width: 768px){
    .container {
        width: 750px;
    }
}
@media (min-width: 840px){
    .container {
        width: 810px;
    }
}
@media (min-width: 1090px){
    .container {
        width: 1060px;
    }
}
@media (min-width: 1290px){
    .container {
        width: 1260px;
    }
}

/* ==========================================================================
   Page Content Selection Style
============================================================================= */

::-moz-selection { /* Code for Firefox */
	color:#f6f5f2;
    background: #14a7eb;
}

::selection {
	color:#f6f5f2;
    background: #14a7eb;
}

/********************************************************************
 Promo Bar
********************************************************************/

.promo-bar {
	height:54px;
	background-color: #14a7eb;
	width:100%;
	padding:13px 0 0;
    color:#fff;
    text-align: center;
    letter-spacing: 1px;
    display: none;
}
.home .promo-bar {
    display: block;
}
.promo-bar .container {
    position: relative;
}
.promo-bar img {
    position: relative;
    top:-5px;
    margin-right: 14px;
}
.promo-bar .btn {
    border: 2px solid #fff;
    color:#fff;
    border-radius: 0;
    font-size: 16px;
    height: 32px;
    line-height: 14px;
    margin-left: 15px;
    position: relative;
    top: -4px;
    width: 188px;
    padding: 6px 15px;
}
.promo-bar .promo-close {
	color:#fff;
	float:right;
    font-size: 30px;
    position: absolute;
    top: -1px;
    right: -60px;
}

/********************************************************************
 Header
********************************************************************/

.navbar {
    margin-bottom: 0;
    width: 100%;
    -webkit-transition: all .3s  cubic-bezier(0,0,1,1);
    -moz-transition: all .3s  cubic-bezier(0,0,1,1);
    -o-transition: all .3s  cubic-bezier(0,0,1,1);
    -ms-transition: all .3s  cubic-bezier(0,0,1,1);
    transition: all .3s  cubic-bezier(0,0,1,1);
    padding:0 0 25px 0;
    background-color:#fff;
    -webkit-box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.27);
    -moz-box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.27);
    box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.27);
}
.home .navbar {
    position:absolute;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.shrink.navbar  {
	position:fixed;
    width: 100%;
    z-index: 500;
    top: 0;
    padding: 0;
    -webkit-box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.27);
    -moz-box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.27);
    box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.27);
}
.home .shrink.navbar {
    background-color:#fff;
}
a.navbar-brand {
    padding: 15px 35px 15px 15px;
}
.shrink a.navbar-brand {
    padding: 15px 35px 57px 15px;
}
.shrink .navbar-brand>img {
    height: 45px;
}
.navbar-brand>img {
    height: 59px;
}
ul.nav.navbar-nav {
    margin-top: 25px;
}
.shrink ul.nav.navbar-nav {
    margin-top: 15px;
}
.navbar-nav>li>a {
    letter-spacing: 0.9px;
    text-transform: uppercase;
    font-size: 18px;
    position: relative;
    padding: 10px 15px;
}
.navbar-nav>li:nth-child(4)>a {
    text-transform: none;
}
.navbar-nav>li>a:hover,
.navbar-nav>li.active-page>a{
    background-color: transparent;
    color: #14a7eb;
    opacity: 1;
}
.navbar-nav>li>a:hover:after,
.navbar-nav>li.active-page>a:after {
    content: '';
    height: 2px;
    width: 60%;
    background-color: #14a7eb;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.navbar-nav>li>a:focus {
    color: #2588b6;
    background-color: transparent;
}
a.btn.btn-login,
a.btn.btn-signup {
    border: 1px solid #69d22b;
    border-radius: 0;
    color: #69d22b !important;
    width: 106px;
}
a.btn.btn-signup {
    background-color: #69d22b !important;
    color: #fff !important;
}
a.btn.btn-login:after,
a.btn.btn-signup:after {
    display: none;
}
@media (min-width: 768px) {
    .navbar-nav {
        float: right;
    }
}

/********************************************************************
 Header - Tabs
********************************************************************/

.navbar.navbar-tab  {
    position: fixed;
    top: 130px;
    background-image: url('../laundry-theme/images/tab-banner.png');
    background-size: cover;
    background-position: 50%;
    padding:0;
    border-radius: 0;
}
.shrink.navbar.navbar-tab  {
    top: 110px;
    z-index:499;
    padding: 0;
    box-shadow: none;
}
.navbar-tab .navbar-nav {
    width: 100%;
    text-align: center;
}
.how-it-works .navbar-tab .container {
    max-width: 1000px;
}
.navbar-tab .navbar-nav>li {
    float: none;
    display: inline-block;
    width: calc(33.33% - 3px);
    position: relative;
}

.navbar-tab .navbar-nav>li a {
    color:#fff !important;
    font-size: 24px;
    text-transform: capitalize;
    letter-spacing: 0;
    padding-bottom:0;
    padding-top:0;
}
.navbar-tab .navbar-nav>li.active:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 12.5px 10px 12.5px;
    border-color: transparent transparent #ffffff transparent;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    margin: 0 auto;
}
.navbar-tab .navbar-nav>li.active img {
    -webkit-filter: drop-shadow(0px 0px 5px rgba(255,255,255,0.80));
}
.navbar-tab .navbar-nav>li.active a {
    font-weight: 700;
}
.navbar-tab .navbar-nav>li a:after {
    display:none;
}

/********************************************************************
 How It Works Page
********************************************************************/


.how-it-works .navbar-tab ul.nav {
    margin-top: 7.73px;
    margin-bottom: -1px;
}
.how-it-works .navbar.navbar-tab  {
    position: inherit;
    background-color: #14A7EB;
    padding: 0;
    top:71px;
    background-image: none;
    box-shadow: none !important;
}
.how-it-works .navbar-tab .navbar-nav>li a {
    font-size: 18px;
}
.how-it-works .tab-img img {
    width: 24px;
    margin: 6.5px auto 10px;
}
.how-it-works .navbar-nav li:nth-child(2) .tab-img img {
    width: 35px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.how-it-works .navbar-nav li:last-child .tab-img img {
    width: 30px;
    margin-top: 12px;
    margin-bottom: 13px;
}

/* ==========================================================================
   How It Works Columns
============================================================================= */

.process-column {
    position: relative;
    padding-bottom: 15px;
}
h4.process-number {
    width: 32px;
    height: 32px;
    margin: -15px auto 25px;
    color: #fff;
    font-size: 18px;
    background-color: #FBAC30;
    border-radius: 100%;
    line-height: 32px;
    position: relative;
}
h4.process-title {
    font-size: 24px;
    letter-spacing: 0.03px;
    text-transform: uppercase;
    font-weight: 700;
}
.process-column p {
    letter-spacing: 0.03px;
    max-width: 240px;
    margin: 0 auto;
    font-size: 16px;
    color: #5b5b5b;
    line-height: 24px;
}
.process-column hr.green {
    position: absolute;
    bottom:0;
    margin-bottom: 0;
    left: 0;
    right: 0;
}

/********************************************************************
 Pricing Page
********************************************************************/


.pricing .navbar-tab ul.nav.navbar-nav {
    margin-top: 7px;
    margin-bottom: 0;
}
.pricing .navbar.navbar-tab  {
    position: relative;
    top:0;
    -webkit-transition: all 0s  cubic-bezier(0,0,1,1);
    -moz-transition: all 0s  cubic-bezier(0,0,1,1);
    -o-transition: all 0s  cubic-bezier(0,0,1,1);
    -ms-transition: all 0s  cubic-bezier(0,0,1,1);
    transition: all 0s  cubic-bezier(0,0,1,1);
    background-color: #14A7EB;
    background-image: none;
}
.pricing .navbar.navbar-tab.shrink-tab  {
    position: fixed;
    top:71px;
    box-shadow: none !important;
}
.pricing .navbar.navbar-tab li {
    width: calc(20% - 5px);
}
.pricing .navbar.navbar-tab li a {
    font-size: 18px;
}
.pricing .tab-img {
    width: 40px;
    margin: 5px auto 14px;
}
.pricing .navbar-tab .navbar-nav li:first-child .tab-img {
    margin-top: 7px;
    margin-bottom: 18px;
}
.pricing .navbar-tab .navbar-nav li:nth-child(2) .tab-img,
.pricing .navbar-tab .navbar-nav li:nth-child(3) .tab-img{
    margin-bottom: 16px;
}
.pricing .navbar-tab .navbar-nav li:last-child .tab-img {
    margin-bottom: 19px;
    margin-top: 8px;
}

.one-page-area.shrink-tab-area {
    padding-top: 150px;
}

/********************************************************************
 Pricing Table
********************************************************************/

.pricing-table {
    width: 100%;
    text-align: left;
    margin-top:50px;
}
.pricing-table tr td {
    vertical-align: bottom;
}
.pricing-table tr td:first-child {
    width: calc(100% - 65px);
    position: relative;
}
#dry-clean .pricing-table tr td:first-child {
    width: 100%;
}
.pricing-table tr td:last-child {
    width: 65px;
}
#other .pricing-table tr td:last-child {
    width: 103px;
}
#shoe .pricing-table tr td:last-child {
    width: 82px;
}
.pricing-table tr td:first-child:after {
    content: '';
    width: calc(100% - 5px);
    height: 2px;
    position: absolute;
    bottom: 4px;
    left: 0;
    background-image: url('../laundry-theme/images/pricing-dot.jpg');
    background-size: contain;
    background-repeat: repeat-x;
}
.pricing-table tr td:first-child span {
    position: relative;
    background-color: #fff;
    z-index: 1;
    padding-right: 5px;
}

#dry-clean,
#laundered-shirts,
#wash-fold,
#other,
#shoe {
    position: relative;
    width: 100%;
}
#dry-clean:before,
#laundered-shirts:before,
#wash-fold:before,
#other:before,
#shoe:before {
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    width: 33.33%;
    height: 100%;
    background-size: contain;
}
#dry-clean:before {
    background-image: url('../laundry-theme/images/top.png');
    left: -5.5%;
    background-position: 0 50%;
}
#laundered-shirts:before {
    background-image: url('../laundry-theme/images/shirt.png');
    background-position: 0 50%;
    width: calc(100% + 100px);
    height: calc(100% + 350px);
    background-size: contain;
    top: -215px;
    right: -75%;
}
#wash-fold:before {
    background-image: url('../laundry-theme/images/pile%20of%20clothes.png');
    background-position: 0 75px;
    width: 40%;
    left: -13%;
}
#wash-fold:after {
    background-image: url('../laundry-theme/images/detergent.png');
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    width: 33.33%;
    height: 100%;
    background-size: contain;
    z-index: -1;
    background-position: 0;
    right: 0;
    bottom: -36%;
}
#other:before {
    background-image: url('../laundry-theme/images/wedding-dress.png');
    background-position: 0 75px;
    width: 40%;
    left: -12%;
}
#other:after {
    background-image: url('../laundry-theme/images/handbag.png');
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    width: 33.33%;
    height: 100%;
    background-size: contain;
    z-index: 1;
    background-position: 0;
    right: 0;
    bottom: -50%;
}

/********************************************************************
 Promo Box
********************************************************************/

.promo-box {
    background-color: #fff;
    border:1px solid #69d22b;
    padding: 20px;
    margin-top:50px;
}
.promo-box h4  {
    font-size: 22.4px;
    line-height: 27px;
}
.promo-box p  {
    font-size: 16px;
    line-height: 19px;
}
.promo-box .btn {
    min-width: 200px;
}

/********************************************************************
 Location Page
********************************************************************/

#locations-banner {
    border-bottom:2px solid rgba(151,151,151,0.15);
    background-repeat: no-repeat;
}
#locations-banner .container {
    border-bottom: 1px solid #c3c0c0;
    position: relative;
    bottom: -1px;
}
#locations-banner .input-group.location-search {
    position: relative;
    top: -485px;
    margin: 0 auto -121px;
}
.location-search input.form-control {
    height: 62px;
    width: 444px;
    border-radius: 0;
    border: 1px solid #3bcdfe;
    color: #5b5b5b;
    font-size: 19.2px;
    letter-spacing: 1px;
    line-height: 24px;
    padding-left: 65px;
    padding-right: 65px;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 2px 4 px 0px rgba(0,0,0,0.5);
    text-align: center;
}
.location-search .btn {
    padding: 0;
    border: none;
    background-color: transparent;
    min-width: inherit !important;
}
.location-search span.input-group-btn {
    position: absolute;
    left: 15px;
    top: 12.5px;
    z-index: 4;
}
.location-search input::-webkit-input-placeholder{
  color: #5b5b5b;
}
.location-search input:-moz-placeholder {
  color: #5b5b5b;
}
.location-search input::-moz-placeholder {
  color: #5b5b5b;
}
.location--search input:-ms-input-placeholder {
  color: #5b5b5b;
}

#locations-banner h4 img {
    margin-right: 15px;
    position: relative;
    top: -3px;
}
#locations-banner h4 {
    background-color: #fff;
    display: inline-block;
    padding: 15px;
    font-size: 18px;
    line-height: 24px;
    color: #fbac30;
    margin: 0;
    border-top: 1px solid #fbac30;
    border-left: 1px solid #fbac30;
    border-right: 1px solid #fbac30;
    position: relative;
}
#locations-banner a {
    position: relative;
    z-index: 2;
}

.location-box {
    max-width: 350px;
    padding-left: 45px;
    position: relative;
}
.location-box .location-heading img {
    position: absolute;
    left: 0;
}
.location-list {
    padding: 0;
}
.location-list li {
    list-style: none;
    padding: 2px 0;
    position: relative;
}
.location-list li a:after{
    content: '>';
    position: absolute;
    top: 3px;
    padding-left: 5px;
}
.map-modal iframe {
    width: 100% !important;
    margin-bottom: -7px;
}
.map-modal p {
    margin: 0;
}
.map-modal .modal-body {
    padding: 0;
}
.map-modal .modal-dialog-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
}

/********************************************************************
 FAQ Page
********************************************************************/

/* FAQ Tabs */

.faq-tabs {
    display: table;
}
.faq-tabs .nav-tabs {
    display: table-cell;
    border: none;
}
.faq-tabs .nav-tabs li {
    display: block !important;
    float: none;
    border: none;
    width: 300px;
    background-color: aliceblue;
    margin-bottom: 10px;
}
.faq-tabs .nav-tabs li a {
    border: none;
    color: #14a7eb;
    background-color: #f6f5f2;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.9px;
    border-radius: 0;
    padding: 13px 15px;
    position: relative;
}
.faq-tabs .nav-tabs li a:hover, .faq-tabs .nav-tabs li.active a {
    background-color: #14a7eb;
    color: #fff;
    border: none;
    opacity: 1;
}
.faq-tabs .nav-tabs li a:after {
    content: '5';
    font-family: 'ElegantIcons';
    position: absolute;
    right: 15px;
    font-size: 22px;
}
.faq-tabs .tab-content {
    padding-left: 80px;
    display: table-cell;
}

.faqs .panel-default {
    border: none;
    box-shadow: none;
}
.faqs .panel-default>.panel-heading {
    border: none !important;
    background-color: transparent;
    color: #14a7eb;
    padding: 0;
}
.faqs .panel-default>.panel-heading h4 {
    line-height: 45px;
    font-size: 20px;
    border: none !important;
}
.faqs .panel-default>.panel-heading h4 a {
    color: #14a7eb !important;
    opacity: 1;
}
.faqs .panel-default>.panel-heading+.panel-collapse>.panel-body {
    border: none;
    padding: 20px 0 5px;
}

.faqs ol {
    padding-left: 18px;
}
.faqs ol li {
    padding-bottom: 25px;
    line-height: 26px;
}
.faqs ol li:last-child {
    padding-bottom: 0;
}

.faqs .faq-tabs-mobile > .panel-default>.panel-heading h4 a {
    background-color: #f6f5f2;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.9px;
    border-radius: 0;
    padding: 13px 15px;
    display: block;
    position: relative
}

.faqs .faq-tabs-mobile > .panel-default>.panel-heading h4 a:after {
    content: '5';
    font-family: 'ElegantIcons';
    position: absolute;
    right: 15px;
    font-size: 20px;
}
.faqs .faq-tabs-mobile > .panel-default>.panel-heading.active h4 a {
    background-color: #14a7eb;
    color: #fff !important;
}
.faqs .faq-tabs-mobile > .panel-default>.panel-heading.active h4 a:after {
    content: 'M';
    font-family: 'ElegantIcons';
    position: absolute;
    right: 15px;
    background-color: rgba(255,255,255,0.3);
    border-radius: 100%;
    width: 25px;
    height: 25px;
    text-align: center;
}

.faqs .faq-tabs-mobile .panel-default>.panel-heading h4 {
    line-height: 22px;
    margin-bottom: 15px;
}
.faqs .faq-tabs-mobile .panel-default>.panel-heading h4 a {
    font-size: 16px;
}
.faqs .faq-tabs-mobile .panel-default>.panel-heading h4 a b {
    display: block;
}
.faqs .faq-tabs-mobile .panel-default>.panel-heading+.panel-collapse>.panel-body {
    font-size: 16px;
    padding: 5px;
}
.faqs .faq-tabs-mobile ol li {
    padding-bottom: 15px;
}

/********************************************************************
 Contact Page
********************************************************************/

.address-box {
    border: 2px solid #69d22b;
    display: inline-block;
    padding: 35px 90px 65px;
}

/********************************************************************
 Business/Sustainability/About Us Page
********************************************************************/

.business .navbar,
.sustainability .navbar,
.about-us .navbar{
    padding: 0;
}

.about-us-box {
    background-color: rgba(255,255,255,0.9);
    display: inline-block;
    min-width: 550px;
    padding: 5px 15px 30px;
}
.about-us-box h1 {
    font-size: 50px;
    line-height: 77px;
}

.page-template-business h4 {
    text-align: center;
}
.page-template-business .page-content .col-md-12 {
    max-width: 840px;
    float: none;
    margin: 0 auto;
}

.page-template-about .page-content .col-md-12 {
    max-width: 840px;
    float: none;
    margin: 0 auto;
}

.page-template-sustainability h4 {
    max-width: 840px;
    margin: 0 auto;
}
.page-template-sustainability.page-id-168 h4 {
    font-size: 20px !important;
    line-height: 30px !important;
}
.page-id-580 .sustainability-icon img {
    top: 0 !important;
}

.page-id-593 .section-img h1, .page-id-593 .section-img h4 {
    color: #14a7eb !important;
}
.page-id-593 .section-img hr {
    background-color: #69d22b;
}
.sustainability-icon img {
	max-height: 140px;
	max-width: 224px;
}

/********************************************************************
 Vertically Centred Divs
********************************************************************/

@media (min-width:992px) {
	.vertical-center-box {
		display: -webkit-box;
		-webkit-box-align: center;
		display: flex;
		-moz-box-align: center;
		display: -ms-flexbox;
		-ms-flex-align: center;
		display: box;
		box-align: center;
		-webkit-align-items: center;
		align-items: center;
	}
}
@media (min-width:768px) and (max-width:991px) {
	.vertical-center-box-tablet {
		display: -webkit-box;
		-webkit-box-align: center;
		display: flex;
		-moz-box-align: center;
		display: -ms-flexbox;
		-ms-flex-align: center;
		display: box;
		box-align: center;
		-webkit-align-items: center;
		align-items: center;
	}
}

/********************************************************************
	Theme Background Section
********************************************************************/

.theme-background-section {
	background-size: cover;
	background-position: top left;
	position:relative;
    background-repeat: no-repeat;
}
.theme-background-section .video-bg-div {
	display:table-row-group;
}
.theme-background-section .video-bg {
	position: absolute;
    right: 0;
    bottom: 0;
	top: inherit;
	min-width: 100%;
    min-height: 100%;
	width: auto;
    height: auto;
	background-size: cover;
}
.theme-background-section .map {
	position: absolute;
    right: 0;
    bottom: 0;
	min-width: 100%;
    min-height: 100%;
	width: auto;
    height: auto;
    z-index: -100;
	background-size: cover;
}
.theme-background-section.parallax {
	background-attachment: fixed;
}
.theme-background-section.fs-overlay:before {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	content:'';
	background: rgba(0,0,0,0.6);
	z-index:1;
}
.theme-background-section.fs-overlay.light:before {
	background: rgba(255,255,255,0.75);
}
.theme-background-section .content-container {
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	z-index:2;
}
.theme-background-section .content-inner-container {
	display: table-cell;
    vertical-align: middle;
    max-width: 450px;
	margin: -150px auto 0 auto;
	display: table-cell;
	vertical-align: middle;
	padding: 100px 8%;
}
.theme-background-section .content-inner-container.top {
    vertical-align: top;
}
.theme-background-section .content-inner-container.bottom {
    vertical-align: bottom;
}

/* ==========================================================================
   Section Image
============================================================================= */

.section-img {
    padding: 150px 0;
    background-size: cover;
}
.section-colored {
    padding: 150px 0;
    background-color:#14a7eb;
}
.section-side-image {
	padding: 0px;
	position: relative;
}
.section-side-image .image-container {
	overflow: hidden;
	position: absolute;
	height: 100%;
	padding: 0px;
	top: 0px;
}
.image-holder {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-size: cover !important;
	z-index: 0;
}
.section-side-image .image-container.pull-right{
	right: 0;
}
.side-image-content {
	padding-top: 150px;
	padding-bottom: 150px;
}

/* ==========================================================================
   Buttons
============================================================================= */

.page-content .btn {
    min-width: 200px;
}
.btn {
    border-radius: 0;
    box-shadow:none !important;
    font-size: 18px;
    line-height: 22px;
    padding: 10px 25px;
}
.btn-green {
    color:#fff;
    background-color: #69d22b;
    border:none;
}
.btn-green:hover {
    color:#fff;
    background-color: #61b430;
}
.btn-green:focus {
    color:#fff;
    background-color: #639346;
}

.btn-orange {
    color:#fff;
    background-color: #fbac30;
    border:none;
}
.btn-orange:hover {
    color:#fff;
    background-color: #cd9742;
}
.btn-orange:focus {
    color:#fff;
    background-color: #a88247;
}

/* ==========================================================================
   Home
============================================================================= */

#home-banner {
    padding:219px 8px 166px;
    position: relative;
    border-bottom: 1px solid #1492CD;
}
#home-banner .jump {
    text-align: center;
    position: absolute;
    bottom: -201px;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 1;
}
#home-banner h1 {
    color:#5b5b5b;
    font-size: 46px;
    text-shadow: 0px 1px 1px rgba(12, 12, 12, 1);
    margin-bottom: 31px;
    margin-top: 0;
}
#home-banner h3 {
    color:#5b5b5b;
    -webkit-text-stroke: 1px #979797;
    margin-bottom: 35px;
}
.btn.btn-fb {
    color: #3C5A99;
    background-color: transparent;
    border: 1px solid #3C5A99;
    padding: 10px 15px;
}
.btn.btn-fb:hover {
    color: #fff;
    background-color: #3C5A99;
}
.btn-fb i.social_facebook {
    position: relative;
    padding-right: 15px;
    margin-right: 15px;
}
.btn-fb i.social_facebook:after {
    content: '';
    width: 1px;
    height: calc(100% + 26px);
    background-color: #3C5A99;
    position: absolute;
    top: -11px;
    right: 0;
}
.btn-fb:hover i.social_facebook {
    color:#fff;
}
.btn-fb:hover i.social_facebook:after {
    height: calc(100% + 26px);
    background-color: #fff;
}
#home-banner .btn-fb {
    margin-left:25px;
}

.home #how-it-works p {
    max-width: 227px;
    margin: 0 auto 10px;
    font-weight: 300;
}

#bubble-img img {
    max-width: 80px;
}

/* ==========================================================================
   Home Search Input Group
============================================================================= */

.home-search {
    max-width: 444px;
    margin:0 auto;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.5);
    position: relative;
}
.home-search input {
    height: 50px;
    border-radius: 0;
    border: 1px solid #69d22b !important;
    font-size: 18px;
    color:#5b5b5b;
    box-shadow: none !important;
    padding-left:50px;
}
.home-search:before {
    content: '';
    width: 25px;
    height: 39px;
    background-image: url('../laundry-theme/images/map-pin-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 10;
    left: 15px;
    top: 7px;
}
.home-search .input-group-btn .btn {
    height: 50px;
    font-size: 50px;
    padding: 0;
    min-width: inherit;
}
.home-search .input-group-btn .btn i {
    position: relative;
    top:-1px;
}
.home-search input::-webkit-input-placeholder{
  color: #5b5b5b;
}
.home-search input:-moz-placeholder {
  color: #5b5b5b;
}
.home-search input::-moz-placeholder {
  color: #5b5b5b;
}
.home-search input:-ms-input-placeholder {
  color: #5b5b5b;
}


.established-line-img {
    position: relative;
}
.established-line-img:before,
.established-line-img:after{
    content: '';
    width: calc(45% - 79.5px);
    height: 3px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -1.5px;
}
.established-line-img:after{
    left: inherit;
    right: 0;
}

ul.body-list {
    padding: 0;
}
ul.body-list li {
    padding: 10px 0;
    list-style: none;
}

.img-table {
    width: 100%;
}
.img-table td {
    width: 50%;
    padding: 25px 15px;
}
ul.img-table li {
    vertical-align: middle;
    width: calc(16.667% - 5px);
    display: inline-block;
    padding:0 15px;
}

/* ==========================================================================
   404 Error Page
============================================================================= */

.error {
    text-align: center;
    padding: 100px 15px 130px;
    background-image: url(/images/laundrylocker/bubble-bg.png);
    background-position: 50% 100%;
    background-size: cover;
}
.error h1 {
    font-size: 100px;
    font-weight: bold;
    text-shadow: 0px 5px 15px rgba(150, 150, 150, 0.6);
    font-family: 'Dancing Script', cursive;
    margin: 0 0 25px;
}
.error h4 {
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
    margin: 0;
}
.error hr.green {
    margin:35px auto 25px;
}

/* ==========================================================================
   Owl Carousel
============================================================================= */

.owl-theme .owl-controls .owl-buttons div {
    color: #14a7eb;
    font-size: 60px;
    background-color: transparent;
    opacity: 1;
    position: absolute;
    top: 50%;
    margin-top: -33px;
}
.owl-theme .owl-controls .owl-buttons .owl-prev {
    left: -65px;
}
.owl-theme .owl-controls .owl-buttons .owl-next {
    right: -65px;
}

/* ==========================================================================
   Customer Carousel
============================================================================= */

.customer-carousel .item {
    padding: 0 50px;
}

/* ==========================================================================
   Footer
============================================================================= */

footer {
    background-color: #565759;
    color: #fff;
    padding: 50px 0;
    position: relative;
    z-index: 1;
    font-weight: 300;
}
footer .footer-column {
    margin-bottom: 50px;
}
footer a,
footer a:hover {
    color:#fff;
    font-weight: 300;
}
footer .menu-list {
    list-style:none;
    padding: 12.5px 0 0;
    margin: 0;
    border-top:2px solid #fff;
    width: 100%;
}
footer .menu-list li{
    padding: 2.5px 10px;
    font-size: 20px;
}
ul.social-list {
    list-style: none;
    margin: -12.5px 0 0;
    padding: 0;
}
ul.social-list li {
    display: inline-block;
    padding: 12.5px;
}
ul.social-list li a {
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    display: block;
    border-radius: 100%;
    line-height: 53px;
    font-size: 20px;
    color:#fff;
    opacity: 1;
}
ul.social-list li:last-child a {
    font-size: 22px;
    line-height: 48px;
}
footer .footer-copyright {
    padding-top:30px;
    border-top:1px solid #fff;
}
footer img {
    image-rendering: pixelated;
    -webkit-filter: contrast(1.25);
    filter: contrast(1.25);
}

/* ==========================================================================
   Dark Section Font Color
============================================================================= */

.text-light {
	color: #fff !important;
}
.text-light h1,
.text-light h2,
.text-light h3,
.text-light h4,
.text-light h5,
.text-light h6{
	color: #fff;
}
.text-light.fa {
	color:#fff;
}
.text-light a {
	color: #fff;
}
.text-light a:hover {
	color:#fff;
}
.text-light.blog a {
	color: #fff;
	opacity: 0.7;
}
.text-light.blog a:hover,
.text-light .blog a:hover {
	opacity: 1;
	text-decoration:none;
}
.text-light .filter  a:hover {
	opacity: 1;
	text-decoration:none;
}

/* Lighter */

.text-lighter {
	color: #aaa;
}
.text-lighter h1,
.text-lighter h2,
.text-lighter h3,
.text-lighter h4,
.text-lighter h5,
.text-lighter h6{
	color: #aaa;
}
.text-lighter.fa {
	color:#aaa;
}
.text-lighter a {
	color: #aaa;
}
.text-lighter a:hover {
	color:#fff;
}
.text-lighter a.btn:hover {
	text-decoration: none;
}
.text-lighter.blog a {
	color: #aaa;
}
.text-lighter.blog a:hover,
.text-lighter .blog a:hover {
	color:#fff;
}

.text-normal,
.text-normal a,
a.text-normal {
	color:#464845 !important;
}

/* ==========================================================================
   Extra Font Style
============================================================================= */

.text-secondary {
    font-family: 'Dancing Script', cursive !important;
}
.text-main {
	font-family: 'Source Sans Pro', sans-serif !important;
}
.text-blue {
	color: #14a7ec !important;
}
.text-green {
	color: #69d22b !important;
}
.text-orange {
	color: #fbac30 !important;
}
.text-white {
	color: #f6f5f2 !important;
}
.text-grey {
	color: #ecf0f2 !important;
}
.text-dark-grey {
	color: #5b5b5b !important;
}
.text-vertical-large {
	line-height: 180% !important;
}
.weight-300 {
	font-weight: 300 !important;
}
.weight-400 {
	font-weight: 400 !important;
}
.weight-500 {
	font-weight: 500 !important;
}
.weight-600 {
	font-weight: 600 !important;
}
.weight-700 {
	font-weight: 700 !important;
}
.heading-size {
	font-size:36px !important;
}

/********************************************************************
 Other Styles
********************************************************************/

.theme-background {
	background-color:#fc2af3 !important;
}

/* Letter Spacings */

.letter-spacing-0 {
	letter-spacing: 0px !important;
}
.letter-spacing-1 {
	letter-spacing: 1px !important;
}
.letter-spacing-2 {
	letter-spacing: 2px !important;
}
.letter-spacing-3 {
	letter-spacing: 3px !important;
}
.letter-spacing-4 {
	letter-spacing: 4px !important;
}
.letter-spacing-5 {
	letter-spacing: 5px !important;
}
.letter-spacing-10 {
	letter-spacing: 10px !important;
}

/* Word Spacings */

.word-spacing-1 {
	word-spacing: 1px !important;
}
.word-spacing-2 {
	word-spacing: 2px !important;
}
.word-spacing-3 {
	word-spacing: 3px !important;
}
.word-spacing-4 {
	word-spacing: 4px !important;
}
.word-spacing-5 {
	word-spacing: 5px !important;
}
.word-spacing-10 {
	word-spacing: 10px !important;
}

/* Margins */

.no-margin-top {
	margin-top: 0 !important;
}
.no-margin-bottom {
	margin-bottom: 0 !important;
}
.no-margin-left {
	margin-left: 0 !important;
}
.no-margin-right {
	margin-right: 0 !important;
}
.no-margin-side {
	margin-left: 0 !important;
	margin-right: 0 !important;
}
.no-margin {
	margin: 0 !important;
}
.mar-top-100 {
	margin-top: 100px !important;
}
.mar-top-50 {
	margin-top: 50px !important;
}
.mar-top-45 {
	margin-top: 45px !important;
}
.mar-top-40 {
	margin-top: 40px !important;
}
.mar-top-35 {
	margin-top: 35px !important;
}
.mar-top-30 {
	margin-top: 30px !important;
}
.mar-top-25 {
	margin-top: 25px !important;
}
.mar-top-20 {
	margin-top: 20px !important;
}
.mar-top-15 {
	margin-top: 15px !important;
}
.mar-top-10 {
	margin-top: 10px !important;
}
.mar-top-5 {
	margin-top: 5px !important;
}
.mar-bot-100 {
	margin-bottom: 100px !important;
}
.mar-bot-50 {
	margin-bottom: 50px !important;
}
.mar-bot-45 {
	margin-bottom: 45px !important;
}
.mar-bot-40 {
	margin-bottom: 40px !important;
}
.mar-bot-35 {
	margin-bottom: 35px !important;
}
.mar-bot-30 {
	margin-bottom: 30px !important;
}
.mar-bot-25 {
	margin-bottom: 25px !important;
}
.mar-bot-20 {
	margin-bottom: 20px !important;
}
.mar-bot-15 {
	margin-bottom: 15px !important;
}
.mar-bot-10 {
	margin-bottom: 10px !important;
}
.mar-bot-5 {
	margin-bottom: 5px !important;
}
.mar-left-100 {
	margin-left: 100px !important;
}
.mar-left-50 {
	margin-left: 50px !important;
}
.mar-left-45 {
	margin-left: 45px !important;
}
.mar-left-40 {
	margin-left: 40px !important;
}
.mar-left-35 {
	margin-left: 35px !important;
}
.mar-left-30 {
	margin-left: 30px !important;
}
.mar-left-25 {
	margin-left: 25px !important;
}
.mar-left-20 {
	margin-left: 20px !important;
}
.mar-left-15 {
	margin-left: 15px !important;
}
.mar-left-10 {
	margin-left: 10px !important;
}
.mar-left-5 {
	margin-left: 5px !important;
}
.mar-right-100 {
	margin-right: 100px !important;
}
.mar-right-50 {
	margin-right: 50px !important;
}
.mar-right-45 {
	margin-right: 45px !important;
}
.mar-right-40 {
	margin-right: 40px !important;
}
.mar-right-35 {
	margin-right: 35px !important;
}
.mar-right-30 {
	margin-right: 30px !important;
}
.mar-right-25 {
	margin-right: 25px !important;
}
.mar-right-20 {
	margin-right: 20px !important;
}
.mar-right-15 {
	margin-right: 15px !important;
}
.mar-right-10 {
	margin-right: 10px !important;
}
.mar-right-5 {
	margin-right: 5px !important;
}

/* Paddings */

.no-padding-top {
	padding-top: 0 !important;
}
.no-padding-bottom {
	padding-bottom: 0 !important;
}
.no-padding-left {
	padding-left: 0 !important;
}
.no-padding-right {
	padding-right: 0 !important;
}
.no-padding-side {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.no-padding {
	padding: 0 !important;
}
.pad-left-100 {
	padding-left: 100px !important;
}
.pad-left-50 {
	padding-left: 50px !important;
}
.pad-left-45 {
	padding-left: 45px !important;
}
.pad-left-40 {
	padding-left: 40px !important;
}
.pad-left-35 {
	padding-left: 35px !important;
}
.pad-left-30 {
	padding-left: 30px !important;
}
.pad-left-25 {
	padding-left: 25px !important;
}
.pad-left-20 {
	padding-left: 20px !important;
}
.pad-left-15 {
	padding-left: 15px !important;
}
.pad-left-10 {
	padding-left: 10px !important;
}
.pad-left-5 {
	padding-left: 5px !important;
}
.pad-right-100 {
	padding-right: 100px !important;
}
.pad-right-50 {
	padding-right: 50px !important;
}
.pad-right-45 {
	padding-right: 45px !important;
}
.pad-right-40 {
	padding-right: 40px !important;
}
.pad-right-35 {
	padding-right: 35px !important;
}
.pad-right-30 {
	padding-right: 30px !important;
}
.pad-right-25 {
	padding-right: 25px !important;
}
.pad-right-20 {
	padding-right: 20px !important;
}
.pad-right-15 {
	padding-right: 15px !important;
}
.pad-right-10 {
	padding-right: 10px !important;
}
.pad-right-5 {
	padding-right: 5px !important;
}
.pad-top-100 {
	padding-top: 100px !important;
}
.pad-top-50 {
	padding-top: 50px !important;
}
.pad-top-45 {
	padding-top: 45px !important;
}
.pad-top-40 {
	padding-top: 40px !important;
}
.pad-top-35 {
	padding-top: 35px !important;
}
.pad-top-30 {
	padding-top: 30px !important;
}
.pad-top-25 {
	padding-top: 25px !important;
}
.pad-top-20 {
	padding-top: 20px !important;
}
.pad-top-15 {
	padding-top: 15px !important;
}
.pad-top-10 {
	padding-top: 10px !important;
}
.pad-top-5 {
	padding-top: 5px !important;
}
.pad-bot-100 {
	padding-bottom: 100px !important;
}
.pad-bot-50 {
	padding-bottom: 50px !important;
}
.pad-bot-45 {
	padding-bottom: 45px !important;
}
.pad-bot-40 {
	padding-bottom: 40px !important;
}
.pad-bot-35 {
	padding-bottom: 35px !important;
}
.pad-bot-30 {
	padding-bottom: 30px !important;
}
.pad-bot-25 {
	padding-bottom: 25px !important;
}
.pad-bot-20 {
	padding-bottom: 20px !important;
}
.pad-bot-15 {
	padding-bottom: 15px !important;
}
.pad-bot-10 {
	padding-bottom: 10px !important;
}
.pad-bot-5 {
	padding-bottom: 5px !important;
}

/* Desktop Screens */

@media only screen and (min-width :992px) {

	/* Alignment */

	.text-left-desktop {
		text-align:left !important;
	}
	.text-center-desktop {
		text-align:center !important;
	}
	.text-right-desktop {
		text-align:right !important;
	}
	.img-center-desktop {
		margin-left:auto !important;
		margin-right: auto !important;
		display:block !important;
	}
	.img-left-desktop {
		margin-left:inherit !important;
		margin-right: auto !important;
		display:block !important;
	}
	.img-right-desktop {
		margin-left:auto !important;
		margin-right: inherit !important;
		display:block !important;
	}

	/* Margins - Desktop Specific */

	.no-margin-top-desktop{
		margin-top: 0 !important;
	}
	.no-margin-bottom-desktop{
		margin-bottom: 0 !important;
	}
	.no-margin-left-desktop{
		margin-left: 0 !important;
	}
	.no-margin-right-desktop{
		margin-right: 0 !important;
	}
	.no-margin-side-desktop{
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	.no-margin-desktop{
		margin: 0 !important;
	}
	.mar-top-100-desktop{
		margin-top: 100px !important;
	}
	.mar-top-50-desktop{
		margin-top: 50px !important;
	}
	.mar-top-45-desktop{
		margin-top: 45px !important;
	}
	.mar-top-40-desktop{
		margin-top: 40px !important;
	}
	.mar-top-35-desktop{
		margin-top: 35px !important;
	}
	.mar-top-30-desktop{
		margin-top: 30px !important;
	}
	.mar-top-25-desktop{
		margin-top: 25px !important;
	}
	.mar-top-20-desktop{
		margin-top: 20px !important;
	}
	.mar-top-15-desktop{
		margin-top: 15px !important;
	}
	.mar-top-10-desktop{
		margin-top: 10px !important;
	}
	.mar-top-5-desktop{
		margin-top: 5px !important;
	}
	.mar-bot-100-desktop{
		margin-bottom: 100px !important;
	}
	.mar-bot-50-desktop{
		margin-bottom: 50px !important;
	}
	.mar-bot-45-desktop{
		margin-bottom: 45px !important;
	}
	.mar-bot-40-desktop{
		margin-bottom: 40px !important;
	}
	.mar-bot-35-desktop{
		margin-bottom: 35px !important;
	}
	.mar-bot-30-desktop{
		margin-bottom: 30px !important;
	}
	.mar-bot-25-desktop{
		margin-bottom: 25px !important;
	}
	.mar-bot-20-desktop{
		margin-bottom: 20px !important;
	}
	.mar-bot-15-desktop{
		margin-bottom: 15px !important;
	}
	.mar-bot-10-desktop{
		margin-bottom: 10px !important;
	}
	.mar-bot-5-desktop{
		margin-bottom: 5px !important;
	}
	.mar-left-100-desktop{
		margin-left: 100px !important;
	}
	.mar-left-50-desktop{
		margin-left: 50px !important;
	}
	.mar-left-45-desktop{
		margin-left: 45px !important;
	}
	.mar-left-40-desktop{
		margin-left: 40px !important;
	}
	.mar-left-35-desktop{
		margin-left: 35px !important;
	}
	.mar-left-30-desktop{
		margin-left: 30px !important;
	}
	.mar-left-25-desktop{
		margin-left: 25px !important;
	}
	.mar-left-20-desktop{
		margin-left: 20px !important;
	}
	.mar-left-15-desktop{
		margin-left: 15px !important;
	}
	.mar-left-10-desktop{
		margin-left: 10px !important;
	}
	.mar-left-5-desktop{
		margin-left: 5px !important;
	}
	.mar-right-100-desktop{
		margin-right: 100px !important;
	}
	.mar-right-50-desktop{
		margin-right: 50px !important;
	}
	.mar-right-45-desktop{
		margin-right: 45px !important;
	}
	.mar-right-40-desktop{
		margin-right: 40px !important;
	}
	.mar-right-35-desktop{
		margin-right: 35px !important;
	}
	.mar-right-30-desktop{
		margin-right: 30px !important;
	}
	.mar-right-25-desktop{
		margin-right: 25px !important;
	}
	.mar-right-20-desktop{
		margin-right: 20px !important;
	}
	.mar-right-15-desktop{
		margin-right: 15px !important;
	}
	.mar-right-10-desktop{
		margin-right: 10px !important;
	}
	.mar-right-5-desktop{
		margin-right: 5px !important;
	}

	/* Paddings - Desktop Specific */

	.no-padding-top-desktop{
		padding-top: 0 !important;
	}
	.no-padding-bottom-desktop{
		padding-bottom: 0 !important;
	}
	.no-padding-left-desktop{
		padding-left: 0 !important;
	}
	.no-padding-right-desktop{
		padding-right: 0 !important;
	}
	.no-padding-side-desktop{
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.no-padding-desktop{
		padding: 0 !important;
	}
	.pad-left-100-desktop{
		padding-left: 100px !important;
	}
	.pad-left-50-desktop{
		padding-left: 50px !important;
	}
	.pad-left-45-desktop{
		padding-left: 45px !important;
	}
	.pad-left-40-desktop{
		padding-left: 40px !important;
	}
	.pad-left-35-desktop{
		padding-left: 35px !important;
	}
	.pad-left-30-desktop{
		padding-left: 30px !important;
	}
	.pad-left-25-desktop{
		padding-left: 25px !important;
	}
	.pad-left-20-desktop{
		padding-left: 20px !important;
	}
	.pad-left-15-desktop{
		padding-left: 15px !important;
	}
	.pad-left-10-desktop{
		padding-left: 10px !important;
	}
	.pad-left-5-desktop{
		padding-left: 5px !important;
	}
	.pad-right-100-desktop{
		padding-right: 100px !important;
	}
	.pad-right-50-desktop{
		padding-right: 50px !important;
	}
	.pad-right-45-desktop{
		padding-right: 45px !important;
	}
	.pad-right-40-desktop{
		padding-right: 40px !important;
	}
	.pad-right-35-desktop{
		padding-right: 35px !important;
	}
	.pad-right-30-desktop{
		padding-right: 30px !important;
	}
	.pad-right-25-desktop{
		padding-right: 25px !important;
	}
	.pad-right-20-desktop{
		padding-right: 20px !important;
	}
	.pad-right-15-desktop{
		padding-right: 15px !important;
	}
	.pad-right-10-desktop{
		padding-right: 10px !important;
	}
	.pad-right-5-desktop{
		padding-right: 5px !important;
	}
	.pad-top-100-desktop{
		padding-top: 100px !important;
	}
	.pad-top-50-desktop{
		padding-top: 50px !important;
	}
	.pad-top-45-desktop{
		padding-top: 45px !important;
	}
	.pad-top-40-desktop{
		padding-top: 40px !important;
	}
	.pad-top-35-desktop{
		padding-top: 35px !important;
	}
	.pad-top-30-desktop{
		padding-top: 30px !important;
	}
	.pad-top-25-desktop{
		padding-top: 25px !important;
	}
	.pad-top-20-desktop{
		padding-top: 20px !important;
	}
	.pad-top-15-desktop{
		padding-top: 15px !important;
	}
	.pad-top-10-desktop{
		padding-top: 10px !important;
	}
	.pad-top-5-desktop{
		padding-top: 5px !important;
	}
	.pad-bot-100-desktop{
		padding-bottom: 100px !important;
	}
	.pad-bot-50-desktop{
		padding-bottom: 50px !important;
	}
	.pad-bot-45-desktop{
		padding-bottom: 45px !important;
	}
	.pad-bot-40-desktop{
		padding-bottom: 40px !important;
	}
	.pad-bot-35-desktop{
		padding-bottom: 35px !important;
	}
	.pad-bot-30-desktop{
		padding-bottom: 30px !important;
	}
	.pad-bot-25-desktop{
		padding-bottom: 25px !important;
	}
	.pad-bot-20-desktop{
		padding-bottom: 20px !important;
	}
	.pad-bot-15-desktop{
		padding-bottom: 15px !important;
	}
	.pad-bot-10-desktop{
		padding-bottom: 10px !important;
	}
	.pad-bot-5-desktop{
		padding-bottom: 5px !important;
	}
}

@media screen and (min-width :1200px) and (max-width: 1289px) {

    /* Header */

    .navbar-nav>li>a {
        font-size: 16px;
    }
}

@media screen and (min-width :992px) and (max-width: 1289px) {

    /* How It Works */

    .how-it-works h1 {
        font-size: 45px;
        line-height: 40px;
    }
    .how-it-works .process-column.pad-top-50 {
        padding-top: 20px !important;
    }
    .how-it-works h4.process-title {
        margin-top: -10px;
    }
    .how-it-works .one-page-area .col-md-12.mar-top-50,
    .how-it-works .one-page-area a.btn-orange {
        margin-top: 30px !important;
    }
    .one-page-section > .container {
        padding-bottom: 20px !important;
        padding-top: 5px !important;
    }

    /* Sustanibility */

    .page-template-sustainability h4 {
        font-size: 22px !important;
        line-height: 30px !important;
    }
}

@media screen and (min-width :992px) and (max-width: 1199px) {

    /* Promo Bar */

    .promo-bar .promo-close {
        right: 0;
    }

    /* Header */

    .navbar-right {
        margin-right: 0;
    }
    .navbar-nav>li>a {
        font-size: 14px;
    }
    a.btn.btn-login, a.btn.btn-signup {
        width: inherit;
        position: relative;
        top: -5px;
    }

    /* Home Banner */

    #home-banner h1 {
        font-size: 40px;
    }
    #home-banner h3 {
        font-size: 24px;
    }
}

@media screen and (min-width :992px) and (max-width: 1089px) {

    /* Header */

    .navbar-brand>img {
        height: 45px;
        margin-top: 10px;
    }
    .navbar-nav>li>a {
        padding: 10px;
        font-size: 13px;
    }
    .shrink a.navbar-brand {
        padding: 0px 35px 61px 15px;
    }
}

@media screen and (min-width :992px) and (max-width: 1089px) {

    /* Header */

    .how-it-works .navbar-static-top .navbar-brand {
        background-size: contain;
        background-position: 50%;
    }

}

/*Tablets & Mobiles*/

@media screen and (max-width:991px){

    /* Header */

    .shrink.navbar {
        background-color: #fff;
    }
    a.navbar-brand {
        margin: 0 auto;
        padding: 35px 15px;
        float: none;
        display: inline-block;
    }
    .navbar-right {
        margin-right: 0;
    }

    /* Home Banner */

    #home-banner .jump {
        bottom: -482px;
    }

    /* Pricing Page */

    .pricing .navbar.navbar-tab li a {
        font-size: 15px;
    }

	/* True Font */

	h1.true-size-tablet {
		font-size:36px !important;
	}
	h2.true-size-tablet {
		font-size:30px !important;
	}
	h3.true-size-tablet {
		font-size:24px !important;
	}
	h4.true-size-tablet {
		font-size:18px !important;
	}
	h5.true-size-tablet {
		font-size:14px !important;
	}
	h6.true-size-tablet {
		font-size:12px !important;
	}
	p.true-size-tablet,
	span.true-size-tablet{
		font-size:14px !important;
	}
}

/*Tablet Screens*/

@media screen and (min-width :768px) and (max-width: 991px) {

    /* Header */

    .navbar,
    .shrink .navbar {
        padding-bottom:0;
    }
    .navbar-header {
        height: 87px;
    }
    a.navbar-brand {
        margin: 0 auto;
        padding: 25px 0 25px 15px;
        float: none;
        display: inline-block;
    }
    .shrink a.navbar-brand {
        padding: 25px 0 25px 15px;
    }
    .navbar-brand>img,
    .shrink .navbar-brand>img {
        height: 40px;
    }
    .navbar-nav>li>a {
        font-size: 13px;
        padding: 5px;
    }
    ul.nav.navbar-nav {
        margin-top: 30px;
        float: right;
        padding-right: 5px;
    }
    .shrink ul.nav.navbar-nav {
        margin-top: 30px;
    }
    ul.nav.navbar-nav.navbar-right {
        margin-top: 29px;
        padding-right: 0;
    }
    a.btn.btn-login, a.btn.btn-signup {
        width: 66px;
        padding: 5px;
    }
    .navbar-tab ul.nav.navbar-nav {
        margin-left: 0;
    }

    /* Home Banner */

    #home-banner h1 {
        font-size: 40px;
    }
    #home-banner h3 {
        font-size: 24px;
    }

    /* Pricing Page */

    .pricing .navbar.navbar-tab.shrink-tab {
        top: 87px;
    }
    .one-page-area.shrink-tab-area {
        padding-top: 0;
    }
    #dry-clean:before {
        left: -15%;
    }
    #wash-fold:after {
        right: -5%;
        bottom: -36%;
    }

    /* Faq Tabs */

    .faq-tabs .tab-content {
        padding-left: 30px;
    }
    .faqs .panel-default>.panel-heading h4 {
        line-height: 30px;
    }

	/* Alignment */

	.text-left-tablet {
		text-align:left !important;
	}
	.text-center-tablet {
		text-align:center !important;
	}
	.text-right-tablet {
		text-align:right !important;
	}
	.img-center-tablet {
		margin-left:auto !important;
		margin-right: auto !important;
		display:block !important;
	}
	.img-left-tablet {
		margin-left:inherit !important;
		margin-right: auto !important;
		display:block !important;
	}
	.img-right-tablet {
		margin-left:auto !important;
		margin-right: inherit !important;
		display:block !important;
	}

	/* Margins - Tablet Specific */

	.no-margin-top-tablet{
		margin-top: 0 !important;
	}
	.no-margin-bottom-tablet{
		margin-bottom: 0 !important;
	}
	.no-margin-left-tablet{
		margin-left: 0 !important;
	}
	.no-margin-right-tablet{
		margin-right: 0 !important;
	}
	.no-margin-side-tablet{
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	.no-margin-tablet{
		margin: 0 !important;
	}
	.mar-top-100-tablet{
		margin-top: 100px !important;
	}
	.mar-top-50-tablet{
		margin-top: 50px !important;
	}
	.mar-top-45-tablet{
		margin-top: 45px !important;
	}
	.mar-top-40-tablet{
		margin-top: 40px !important;
	}
	.mar-top-35-tablet{
		margin-top: 35px !important;
	}
	.mar-top-30-tablet{
		margin-top: 30px !important;
	}
	.mar-top-25-tablet{
		margin-top: 25px !important;
	}
	.mar-top-20-tablet{
		margin-top: 20px !important;
	}
	.mar-top-15-tablet{
		margin-top: 15px !important;
	}
	.mar-top-10-tablet{
		margin-top: 10px !important;
	}
	.mar-top-5-tablet{
		margin-top: 5px !important;
	}
	.mar-bot-100-tablet{
		margin-bottom: 100px !important;
	}
	.mar-bot-50-tablet{
		margin-bottom: 50px !important;
	}
	.mar-bot-45-tablet{
		margin-bottom: 45px !important;
	}
	.mar-bot-40-tablet{
		margin-bottom: 40px !important;
	}
	.mar-bot-35-tablet{
		margin-bottom: 35px !important;
	}
	.mar-bot-30-tablet{
		margin-bottom: 30px !important;
	}
	.mar-bot-25-tablet{
		margin-bottom: 25px !important;
	}
	.mar-bot-20-tablet{
		margin-bottom: 20px !important;
	}
	.mar-bot-15-tablet{
		margin-bottom: 15px !important;
	}
	.mar-bot-10-tablet{
		margin-bottom: 10px !important;
	}
	.mar-bot-5-tablet{
		margin-bottom: 5px !important;
	}
	.mar-left-100-tablet{
		margin-left: 100px !important;
	}
	.mar-left-50-tablet{
		margin-left: 50px !important;
	}
	.mar-left-45-tablet{
		margin-left: 45px !important;
	}
	.mar-left-40-tablet{
		margin-left: 40px !important;
	}
	.mar-left-35-tablet{
		margin-left: 35px !important;
	}
	.mar-left-30-tablet{
		margin-left: 30px !important;
	}
	.mar-left-25-tablet{
		margin-left: 25px !important;
	}
	.mar-left-20-tablet{
		margin-left: 20px !important;
	}
	.mar-left-15-tablet{
		margin-left: 15px !important;
	}
	.mar-left-10-tablet{
		margin-left: 10px !important;
	}
	.mar-left-5-tablet{
		margin-left: 5px !important;
	}
	.mar-right-100-tablet{
		margin-right: 100px !important;
	}
	.mar-right-50-tablet{
		margin-right: 50px !important;
	}
	.mar-right-45-tablet{
		margin-right: 45px !important;
	}
	.mar-right-40-tablet{
		margin-right: 40px !important;
	}
	.mar-right-35-tablet{
		margin-right: 35px !important;
	}
	.mar-right-30-tablet{
		margin-right: 30px !important;
	}
	.mar-right-25-tablet{
		margin-right: 25px !important;
	}
	.mar-right-20-tablet{
		margin-right: 20px !important;
	}
	.mar-right-15-tablet{
		margin-right: 15px !important;
	}
	.mar-right-10-tablet{
		margin-right: 10px !important;
	}
	.mar-right-5-tablet{
		margin-right: 5px !important;
	}

	/* Paddings - Tablet Specific */

	.no-padding-top-tablet{
		padding-top: 0 !important;
	}
	.no-padding-bottom-tablet{
		padding-bottom: 0 !important;
	}
	.no-padding-left-tablet{
		padding-left: 0 !important;
	}
	.no-padding-right-tablet{
		padding-right: 0 !important;
	}
	.no-padding-side-tablet{
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.no-padding-tablet{
		padding: 0 !important;
	}
	.pad-left-100-tablet{
		padding-left: 100px !important;
	}
	.pad-left-50-tablet{
		padding-left: 50px !important;
	}
	.pad-left-45-tablet{
		padding-left: 45px !important;
	}
	.pad-left-40-tablet{
		padding-left: 40px !important;
	}
	.pad-left-35-tablet{
		padding-left: 35px !important;
	}
	.pad-left-30-tablet{
		padding-left: 30px !important;
	}
	.pad-left-25-tablet{
		padding-left: 25px !important;
	}
	.pad-left-20-tablet{
		padding-left: 20px !important;
	}
	.pad-left-15-tablet{
		padding-left: 15px !important;
	}
	.pad-left-10-tablet{
		padding-left: 10px !important;
	}
	.pad-left-5-tablet{
		padding-left: 5px !important;
	}
	.pad-right-100-tablet{
		padding-right: 100px !important;
	}
	.pad-right-50-tablet{
		padding-right: 50px !important;
	}
	.pad-right-45-tablet{
		padding-right: 45px !important;
	}
	.pad-right-40-tablet{
		padding-right: 40px !important;
	}
	.pad-right-35-tablet{
		padding-right: 35px !important;
	}
	.pad-right-30-tablet{
		padding-right: 30px !important;
	}
	.pad-right-25-tablet{
		padding-right: 25px !important;
	}
	.pad-right-20-tablet{
		padding-right: 20px !important;
	}
	.pad-right-15-tablet{
		padding-right: 15px !important;
	}
	.pad-right-10-tablet{
		padding-right: 10px !important;
	}
	.pad-right-5-tablet{
		padding-right: 5px !important;
	}
	.pad-top-100-tablet{
		padding-top: 100px !important;
	}
	.pad-top-50-tablet{
		padding-top: 50px !important;
	}
	.pad-top-45-tablet{
		padding-top: 45px !important;
	}
	.pad-top-40-tablet{
		padding-top: 40px !important;
	}
	.pad-top-35-tablet{
		padding-top: 35px !important;
	}
	.pad-top-30-tablet{
		padding-top: 30px !important;
	}
	.pad-top-25-tablet{
		padding-top: 25px !important;
	}
	.pad-top-20-tablet{
		padding-top: 20px !important;
	}
	.pad-top-15-tablet{
		padding-top: 15px !important;
	}
	.pad-top-10-tablet{
		padding-top: 10px !important;
	}
	.pad-top-5-tablet{
		padding-top: 5px !important;
	}
	.pad-bot-100-tablet{
		padding-bottom: 100px !important;
	}
	.pad-bot-50-tablet{
		padding-bottom: 50px !important;
	}
	.pad-bot-45-tablet{
		padding-bottom: 45px !important;
	}
	.pad-bot-40-tablet{
		padding-bottom: 40px !important;
	}
	.pad-bot-35-tablet{
		padding-bottom: 35px !important;
	}
	.pad-bot-30-tablet{
		padding-bottom: 30px !important;
	}
	.pad-bot-25-tablet{
		padding-bottom: 25px !important;
	}
	.pad-bot-20-tablet{
		padding-bottom: 20px !important;
	}
	.pad-bot-15-tablet{
		padding-bottom: 15px !important;
	}
	.pad-bot-10-tablet{
		padding-bottom: 10px !important;
	}
	.pad-bot-5-tablet{
		padding-bottom: 5px !important;
	}
}

/*Mobile Screen*/

@media screen and (max-width: 767px) {
    
    .error h1 {
        font-size: 50px;
    }

    footer img {
        image-rendering: inherit;
    }

    h1.alt-heading {
        font-size: 44px;
        line-height: 50px;
    }

    .sep-right {
        border-right: none;
        border-bottom: 2px solid rgba(151,151,151,0.15);
    }

    .about-us-box {
        min-width: inherit;
        padding: 20px 75px 50px;
    }
    .about-us-box h1 {
        font-size: 40px;
    }

    ul.img-table {
        padding: 0;
    }
    ul.img-table li {
        width: calc(33.33% - 3px);
        padding: 5px 15px;
    }

    /* Promo Bar */

    .promo-bar {
        font-size: 15px;
        letter-spacing: 0.45px;
    }
    .promo-bar .promo-close {
        display: none;
    }
    .promo-bar .btn {
        font-size: 13px;
        top: -3px;
        line-height: 17px;
        width:inherit;
    }
    .promo-bar img {
        height: 22px;
    }

    /* Header */

    .navbar{
        position: relative;
        background-color:#fff;
        padding:0;
        -webkit-box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.27) !important;
        -moz-box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.27) !important;
        box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.27) !important;
    }
    .home .navbar {
        position: relative;
    }
    .shrink.navbar{
        position: fixed;
    }
    .shrink.navbar {
        padding-bottom: 0;
    }
    .navbar-header {
        margin-right: 0 !important;
        width: calc(100% + 30px);
    }
    a.navbar-brand {
        width: 100%;
        text-align: center;
        margin-bottom: -6px;
        padding:10px 20px 50px;
    }
    a.navbar-brand img {
        margin: 0 auto;
        height: 42px;
    }
    .navbar-toggle {
        position: absolute;
        left: 15px;
        top: 12px;
        z-index:2;
    }
    .shrink .navbar-toggle {
        top: 15px;
    }
	.navbar-toggle .icon-bar {
        background-color: #c3c0c0;
        height: 3px;
		-webkit-transform: rotate(45deg) translate3d(5px, 5px, 0);
		-o-transform: rotate(45deg) translate3d(5px, 5px, 0);
		-ms-transform: rotate(45deg) translate3d(5px, 5px, 0);
		-moz-transform: rotate(45deg) translate3d(5px, 5px, 0);
		transform: rotate(45deg) translate3d(5px, 5px, 0);
        opacity: 1;
        -webkit-transition: -webkit-transform 0.15s linear;
		-o-transition: -o-transform 0.15s linear;
		-ms-transition: -ms-transform 0.15s linear;
		-moz-transition: -moz-transform 0.15s linear;
		transition: transform 0.15s linear;
		-webkit-transform-origin: 50% 50%;
		-o-transform-origin: 50% 50%;
		-ms-transform-origin: 50% 50%;
		-moz-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
	}
	.navbar-toggle .icon-bar+.icon-bar {
		opacity: 0;
	}
	.navbar-toggle .icon-bar+.icon-bar+.icon-bar {
		-webkit-transform: rotate(-45deg) translate3d(5px, -5px, 0);
		-o-transform: rotate(-45deg) translate3d(5px, -5px, 0);
		-ms-transform: rotate(-45deg) translate3d(5px, -5px, 0);
		-moz-transform: rotate(-45deg) translate3d(5px, -5px, 0);
		transform: rotate(-45deg) translate3d(5px, -5px, 0);
        opacity: 1;
	}
    .navbar-toggle.collapsed .icon-bar {
		display: block;
		opacity: 1;
		-webkit-transition: -webkit-transform 0.15s linear;
		-o-transition: -o-transform 0.15s linear;
		-ms-transition: -ms-transform 0.15s linear;
		-moz-transition: -moz-transform 0.15s linear;
		transition: transform 0.15s linear;
		-webkit-transform-origin: 50% 50%;
		-o-transform-origin: 50% 50%;
		-ms-transform-origin: 50% 50%;
		-moz-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
	}
	.navbar-toggle.collapsed .icon-bar+.icon-bar {
		-webkit-transition: opacity 0.1s linear;
		-o-transition: opacity 0.1s linear;
		-ms-transition: opacity 0.1s linear;
		-moz-transition: opacity 0.1s linear;
		transition: opacity 0.1s linear;
	}

	.navbar-toggle.collapsed .icon-bar,
    .navbar-toggle.collapsed .icon-bar+.icon-bar+.icon-bar{
		-webkit-transform: rotate(0) translate3d(5px, -5px, 0);
		-o-transform: rotate(0) translate3d(5px, -5px, 0);
		-ms-transform: rotate(0) translate3d(5px, -5px, 0);
		-moz-transform: rotate(0) translate3d(5px, -5px, 0);
		transform: rotate(0) translate3d(5px, -5px, 0);
        opacity: 1;
	}
    #navbar {
        position: absolute;
        width: 100%;
        background-color: rgb(255, 255, 255);
        max-height: 100vh !important;
        overflow-y: scroll !important;
        overflow-x: hidden !important;
    }
    ul.nav.navbar-nav {
        margin-top: 15px;
    }
    .navbar-nav>li {
        padding: 0;
        border-bottom: 1.5px solid #ecf0f2;
    }
    .navbar-nav>li:first-child {
        border-top: 1.5px solid #ecf0f2;
    }
    .navbar-nav>li>a {
        padding: 12px 50px;
        font-size: 16px;
    }
    .navbar-nav>li>a:hover,
    .navbar-nav>li>a:focus,
    .navbar-nav>li.active-page>a{
        background-color: #fafafa;
    }
    .navbar-nav>li>a:after {
        display: none;
    }
    .navbar-nav>li.visible-xs {
        border-bottom: none;
    }
    .navbar-nav>li.visible-xs>a {
        text-transform: capitalize;
        font-size: 18px;
        padding-bottom: 5px;
    }
    ul.nav.navbar-nav.navbar-right {
        text-align: center;
        margin: 0;
    }
    ul.nav.navbar-nav.navbar-right li {
        border: none !important;
        display: inline-block;
        margin:0 -2px;
    }
    ul.nav.navbar-nav.navbar-right li a {
        padding:10px 15px;
    }

    .navbar-tab .navbar-nav {
        margin: 7.5px 0 0;
        height: 185px;
    }
    .navbar-tab .navbar-nav>li {
        border: none !important;
        text-align: center;
    }
    .navbar-tab .navbar-nav>li a {
        background-color: transparent;
        padding: 0;
        font-size: 16px;
        word-spacing: 100vw;
    }

    .how-it-works .navbar-tab ul.nav.navbar-nav {
        height: 94px !important;
    }
    .how-it-works .navbar-tab ul li:nth-child(2) {
        height: 185px;
        position: relative;
        top: -9px;
    }
    .how-it-works .navbar-tab .navbar-nav>li a span {
        display: inherit;
    }
    .how-it-works .navbar-tab .navbar-nav>li:nth-child(2) a span {
        position: relative;
        top: 10px;
    }

    .how-it-works .navbar-static-top {
        background-color: #fff;
        position: relative;
    }
    .how-it-works .shrink.navbar-static-top {
        position: fixed;
    }
    .how-it-works .navbar-static-top .navbar-brand {
        background: none !important;
        padding: 10px 20px 50px;
    }
    .how-it-works .navbar-static-top .navbar-brand img {
        visibility: visible;
    }
    .how-it-works .shrink.navbar-static-top .navbar-brand {
        padding: 15px 20px 55px;
    }
    .how-it-works .navbar-static-top .navbar-nav>li.active-page>a,
    .how-it-works .navbar-static-top .navbar-nav>li>a {
        color: #14a7eb;
    }
    .how-it-works .navbar-tab ul li {
        height: auto !important;
    }
    .how-it-works .navbar-tab.shrink .navbar-nav {
        height: 82.5px !important;
    }
    .how-it-works .navbar-tab .navbar-nav>li a {
        font-size: 14px;
        word-spacing: inherit;
    }
    .how-it-works .tab-img img {
        width: 30px;
    }
    .how-it-works .navbar-tab li:nth-child(2) .tab-img img {
        width: 45px;
        margin-top: 20px;
    }
    .how-it-works .navbar-tab li:last-child .tab-img img {
        width: 35px;
        margin-top: 14px;
    }
    .how-it-works .shrink .navbar-nav li:nth-child(2) .tab-img img {
        margin-top: 18px;
    }
    .how-it-works .shrink .navbar-nav li:last-child .tab-img img {
        margin-top: 11px;
    }

    .process-column, h4.process-title {
        height: auto !important;
    }

    /* Pricing Page */

    /* .pricing .navbar {
        position: relative;
        background-color: #fff;
    } */
    .pricing .navbar.navbar-tab {
        box-shadow: none !important;
    }
    .pricing .navbar-tab ul.nav.navbar-nav {
        margin-top: 10px;
        margin-bottom: -1px;
        height: inherit;
    }
    .pricing .navbar.navbar-tab.shrink-tab {
        top: 71px;
    }
    .pricing .navbar.navbar-tab li a {
        font-size: 12px;
        line-height: 15px;
    }
    .pricing .navbar.navbar-tab li:nth-child(1) a span,
    .pricing .navbar.navbar-tab li:nth-child(3) a span,
    .pricing .navbar.navbar-tab li:nth-child(5) a span{
        word-wrap: break-word !important;
        overflow-wrap: break-word !important;
        display: block;
        margin: 0 auto;
    }
    .pricing .navbar.navbar-tab li:nth-child(3) a span {
        width: 40px;
        word-spacing: normal;
    }
    .pricing .navbar.navbar-tab li:nth-child(4) a span {
        position: relative;
        top: -7px;
    }
    .pricing .navbar.navbar-tab li:nth-child(5) a span {
        width: 70.5px;
        word-spacing: normal;
    }
    .pricing .tab-img {
        width: 30px;
    }
    .pricing .navbar-tab .navbar-nav li:nth-child(3) .tab-img,
    .pricing .navbar-tab .navbar-nav li:nth-child(4) .tab-img {
        margin-top: 6px;
    }
    .one-page-area.shrink-tab-area {
        padding-top: 220px;
    }

    .pricing-table {
        font-size: 16px;
    }
    .pricing-table tr td:first-child {
        width: calc(100% - 58px);
    }
    .pricing-table tr td:last-child {
        width: 58px;
    }
    #other .pricing-table tr td:last-child {
        width: 92px;
    }
    #shoe .pricing-table tr td:last-child {
        width: 73px;
    }

    #dry-clean:before,
    #laundered-shirts:before,
    #wash-fold:before,
    #other:before,
    #shoe:before,
    #wash-fold:after,
    #other:after {
        display: none;
    }
    #dry-clean > .container {
        margin-top: 0 !important;
    }

    /* Locations Page */

    .location-search input.form-control {
        width: 100%;
    }
    #locations-area {
        background-size: inherit !important;
    }

    /* Sustanibility */

    .page-template-sustainability h4 {
        font-size: 22px !important;
        line-height: 30px !important;
    }

    /* Footer */

    footer {
        text-align:center;
        padding:15px 0;
    }
    footer .menu-list {
        padding: 0;
        border: none;
    }
    footer .menu-list li {
        padding: 0;
    }
    footer .menu-list li a {
        padding: 15px 0;
        display: block;
        border-top: 1px solid rgba(255,255,255,0.4);
    }
    footer .menu-list li a:hover {
        background-color: #68696b;
    }
    footer .menu-list li:last-child a {
        border-bottom: 1px solid rgba(255,255,255,0.4);
    }
    ul.social-list li {
        padding: 5px;
    }
    footer .btn-login {
        background-color:#fff;
    }
    footer .footer-copyright {
        border-top:none;
        padding:0 15px;
    }
    footer .footer-copyright p {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 15px !important;
    }
    footer .footer-column {
        margin-bottom: 20px;
    }

    /* Owl Carousel */

    .owl-theme .owl-controls .owl-buttons .owl-prev {
        left: -35px;
    }
    .owl-theme .owl-controls .owl-buttons .owl-next {
        right: -35px;
    }

    /* Home Banner */

    #home-banner {
        background-position: 60% -60% !important;
        background-size: 175%;
        background-repeat: no-repeat;
        padding-top: 30px;
        padding-bottom: 250px;
    }
    #home-banner .jump {
        bottom: -282px;
    }
    #home-banner h1 {
        font-size: 32px;
        margin-bottom: 30px;
    }
    #home-banner h3 {
        font-size: 20px;
    }
    #home-banner .btn-green {
        width: 253px;
        display: block;
        margin: 0 auto;
    }
    #home-banner .btn-fb {
        margin: 15px 0 0;
        width: 253px;
    }

    /* How It Works Gradient */

    #how-it-works {
        background-color: #14A7EB;
        background-image: none;
    }

    /* Bubble Image Section */

    #bubble-img {
        padding-bottom: 100px !important;
        background-size: auto;
        background-repeat: no-repeat;
        background-color: #fff;
    }

    /* Skyline Image Section */

    #skyline-img {
        background-size: cover;
    }

	/* Alignment */

	.text-left-mobile {
		text-align:left !important;
	}
	.text-center-mobile {
		text-align:center !important;
	}
	.text-right-mobile {
		text-align:right !important;
	}
	.img-center-mobile {
		margin-left:auto !important;
		margin-right: auto !important;
		display:block !important;
	}
	.img-left-mobile {
		margin-left:inherit !important;
		margin-right: auto !important;
		display:block !important;
	}
	.img-right-mobile {
		margin-left:auto !important;
		margin-right: inherit !important;
		display:block !important;
	}

	/* True Font */


	.text-mobile-big {
		font-size:36px !important;
		margin:0;
	}
	h1.true-size-mobile {
		font-size:36px !important;
	}
	h2.true-size-mobile {
		font-size:30px !important;
	}
	h3.true-size-mobile {
		font-size:24px !important;
	}
	h4.true-size-mobile {
		font-size:18px !important;
	}
	h5.true-size-mobile {
		font-size:14px !important;
	}
	h6.true-size-mobile {
		font-size:12px !important;
	}
	p.true-size-mobile,
	span.true-size-mobile{
		font-size:14px !important;
	}
	h4.heading-size {
		font-size:24px !important;
	}

	/* Margins - Mobile Specific */

	.no-margin-top-mobile {
		margin-top: 0 !important;
	}
	.no-margin-bottom-mobile {
		margin-bottom: 0 !important;
	}
	.no-margin-left-mobile {
		margin-left: 0 !important;
	}
	.no-margin-right-mobile {
		margin-right: 0 !important;
	}
	.no-margin-side-mobile {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	.no-margin-mobile {
		margin: 0 !important;
	}
	.mar-top-100-mobile {
		margin-top: 100px !important;
	}
	.mar-top-50-mobile {
		margin-top: 50px !important;
	}
	.mar-top-45-mobile {
		margin-top: 45px !important;
	}
	.mar-top-40-mobile {
		margin-top: 40px !important;
	}
	.mar-top-35-mobile {
		margin-top: 35px !important;
	}
	.mar-top-30-mobile {
		margin-top: 30px !important;
	}
	.mar-top-25-mobile {
		margin-top: 25px !important;
	}
	.mar-top-20-mobile {
		margin-top: 20px !important;
	}
	.mar-top-15-mobile {
		margin-top: 15px !important;
	}
	.mar-top-10-mobile {
		margin-top: 10px !important;
	}
	.mar-top-5-mobile {
		margin-top: 5px !important;
	}
	.mar-bot-100-mobile {
		margin-bottom: 100px !important;
	}
	.mar-bot-50-mobile {
		margin-bottom: 50px !important;
	}
	.mar-bot-45-mobile {
		margin-bottom: 45px !important;
	}
	.mar-bot-40-mobile {
		margin-bottom: 40px !important;
	}
	.mar-bot-35-mobile {
		margin-bottom: 35px !important;
	}
	.mar-bot-30-mobile {
		margin-bottom: 30px !important;
	}
	.mar-bot-25-mobile {
		margin-bottom: 25px !important;
	}
	.mar-bot-20-mobile {
		margin-bottom: 20px !important;
	}
	.mar-bot-15-mobile {
		margin-bottom: 15px !important;
	}
	.mar-bot-10-mobile {
		margin-bottom: 10px !important;
	}
	.mar-bot-5-mobile {
		margin-bottom: 5px !important;
	}
	.mar-left-100-mobile {
		margin-left: 100px !important;
	}
	.mar-left-50-mobile {
		margin-left: 50px !important;
	}
	.mar-left-45-mobile {
		margin-left: 45px !important;
	}
	.mar-left-40-mobile {
		margin-left: 40px !important;
	}
	.mar-left-35-mobile {
		margin-left: 35px !important;
	}
	.mar-left-30-mobile {
		margin-left: 30px !important;
	}
	.mar-left-25-mobile {
		margin-left: 25px !important;
	}
	.mar-left-20-mobile {
		margin-left: 20px !important;
	}
	.mar-left-15-mobile {
		margin-left: 15px !important;
	}
	.mar-left-10-mobile {
		margin-left: 10px !important;
	}
	.mar-left-5-mobile {
		margin-left: 5px !important;
	}
	.mar-right-100-mobile {
		margin-right: 100px !important;
	}
	.mar-right-50-mobile {
		margin-right: 50px !important;
	}
	.mar-right-45-mobile {
		margin-right: 45px !important;
	}
	.mar-right-40-mobile {
		margin-right: 40px !important;
	}
	.mar-right-35-mobile {
		margin-right: 35px !important;
	}
	.mar-right-30-mobile {
		margin-right: 30px !important;
	}
	.mar-right-25-mobile {
		margin-right: 25px !important;
	}
	.mar-right-20-mobile {
		margin-right: 20px !important;
	}
	.mar-right-15-mobile {
		margin-right: 15px !important;
	}
	.mar-right-10-mobile {
		margin-right: 10px !important;
	}
	.mar-right-5-mobile {
		margin-right: 5px !important;
	}

	/* Paddings - Mobile Specific */

	.no-padding-top-mobile {
		padding-top: 0 !important;
	}
	.no-padding-bottom-mobile {
		padding-bottom: 0 !important;
	}
	.no-padding-left-mobile {
		padding-left: 0 !important;
	}
	.no-padding-right-mobile {
		padding-right: 0 !important;
	}
	.no-padding-side-mobile {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.no-padding-mobile {
		padding: 0 !important;
	}
	.pad-left-100-mobile {
		padding-left: 100px !important;
	}
	.pad-left-50-mobile {
		padding-left: 50px !important;
	}
	.pad-left-45-mobile {
		padding-left: 45px !important;
	}
	.pad-left-40-mobile {
		padding-left: 40px !important;
	}
	.pad-left-35-mobile {
		padding-left: 35px !important;
	}
	.pad-left-30-mobile {
		padding-left: 30px !important;
	}
	.pad-left-25-mobile {
		padding-left: 25px !important;
	}
	.pad-left-20-mobile {
		padding-left: 20px !important;
	}
	.pad-left-15-mobile {
		padding-left: 15px !important;
	}
	.pad-left-10-mobile {
		padding-left: 10px !important;
	}
	.pad-left-5-mobile {
		padding-left: 5px !important;
	}
	.pad-right-100-mobile {
		padding-right: 100px !important;
	}
	.pad-right-50-mobile {
		padding-right: 50px !important;
	}
	.pad-right-45-mobile {
		padding-right: 45px !important;
	}
	.pad-right-40-mobile {
		padding-right: 40px !important;
	}
	.pad-right-35-mobile {
		padding-right: 35px !important;
	}
	.pad-right-30-mobile {
		padding-right: 30px !important;
	}
	.pad-right-25-mobile {
		padding-right: 25px !important;
	}
	.pad-right-20-mobile {
		padding-right: 20px !important;
	}
	.pad-right-15-mobile {
		padding-right: 15px !important;
	}
	.pad-right-10-mobile {
		padding-right: 10px !important;
	}
	.pad-right-5-mobile {
		padding-right: 5px !important;
	}
	.pad-top-100-mobile {
		padding-top: 100px !important;
	}
	.pad-top-50-mobile {
		padding-top: 50px !important;
	}
	.pad-top-45-mobile {
		padding-top: 45px !important;
	}
	.pad-top-40-mobile {
		padding-top: 40px !important;
	}
	.pad-top-35-mobile {
		padding-top: 35px !important;
	}
	.pad-top-30-mobile {
		padding-top: 30px !important;
	}
	.pad-top-25-mobile {
		padding-top: 25px !important;
	}
	.pad-top-20-mobile {
		padding-top: 20px !important;
	}
	.pad-top-15-mobile {
		padding-top: 15px !important;
	}
	.pad-top-10-mobile {
		padding-top: 10px !important;
	}
	.pad-top-5-mobile {
		padding-top: 5px !important;
	}
	.pad-bot-100-mobile {
		padding-bottom: 100px !important;
	}
	.pad-bot-50-mobile {
		padding-bottom: 50px !important;
	}
	.pad-bot-45-mobile {
		padding-bottom: 45px !important;
	}
	.pad-bot-40-mobile {
		padding-bottom: 40px !important;
	}
	.pad-bot-35-mobile {
		padding-bottom: 35px !important;
	}
	.pad-bot-30-mobile {
		padding-bottom: 30px !important;
	}
	.pad-bot-25-mobile {
		padding-bottom: 25px !important;
	}
	.pad-bot-20-mobile {
		padding-bottom: 20px !important;
	}
	.pad-bot-15-mobile {
		padding-bottom: 15px !important;
	}
	.pad-bot-10-mobile {
		padding-bottom: 10px !important;
	}
	.pad-bot-5-mobile {
		padding-bottom: 5px !important;
	}

	/* Theme Background Section */

	.theme-background-section .content-inner-container {
		padding: 100px 8%;
	}
}

@media screen and (max-width: 649px) and (min-width: 612px) {

    /* Home Banner */

    #home-banner {
        background-position: 60% -100% !important;
    }
}
@media screen and (max-width: 611px) and (min-width: 580px) {

    /* Home Banner */

    #home-banner {
        background-position: 60% -80% !important;
        background-size: 215%;
    }
}
@media screen and (max-width: 579px) and (min-width: 400px) {

    /* Home Banner */

    #home-banner {
        background-position: 50% 110% !important;
        background-size: 150%;
    }
}
@media screen and (max-width: 399px) {

    /* Promo Bar */

    .promo-bar {
        font-size: 12px;
    }

    .promo-bar .btn {
        font-size: 12px;
        padding: 6px 10px;
    }

    /* Home Banner */

    #home-banner {
        background-position: 100% 145% !important;
        background-size: 200%;
    }
}


/* narrow list */
.list-narrow {
	max-width: 260px;
    margin: 0 auto;
}

/* a smaller paragraph */
p.small {
	font-size: 18px;
	line-height: 1.4;
}

#bootstrap2x #content_left_column {
    margin-right: 3em;
}

#bootstrap2x select#expMo, #bootstrap2x select#expYr,
#bootstrap2x select#kiosk_expMo, #bootstrap2x select#kiosk_expYr {
    width: 50px;
    background-color: #ffffff;
}

#bootstrap2x #setup_access_button {
    float: right;
    margin: 5px;
}


#bootstrap2x #setup_access_button,
#bootstrap2x #update_access_button,
#bootstrap2x #remove_access_button {
    width: 30%;
}