/*** Microthemer Styles ***/

/* =Body
-------------------------------------------------------------- */

/* =Main Menu
-------------------------------------------------------------- */




/* Extra Large Desktop
************************************************************************/
@media (min-width: 1200px) {

	/* =Body
	-------------------------------------------------------------- */
	/* Hero Section */
	.hero-section {
		width: 300px !important;
		margin-left: 850px !important;
	}

	/* =Main Menu
	-------------------------------------------------------------- */
	/* Font Menu Size IPad */
	.navbar-nav>li>a {
	}
}



/* Large Desktop
************************************************************************/
@media (min-width: 980px) and (max-width:1199px) {

	/* =Body
	-------------------------------------------------------------- */
	/* Hero Section */
	.hero-section {
		width: 300px !important;
		margin-top: 60px !important;
		margin-left: 600px !important;
	}

	/* =Main Menu
	-------------------------------------------------------------- */
	/* Font Menu Size IPad */
	.navbar-nav>li>a {
		font-size: 14px !important;
	}
}



/* Desktop & Tablet
************************************************************************/
@media (min-width: 768px) and (max-width: 979px) {

	/* =Body
	-------------------------------------------------------------- */
	/* Hero Section */
	.hero-section {
		width: 300px !important;
		margin-top: 60px !important;
		margin-left: 500px !important;
	}

	/* =Main Menu
	-------------------------------------------------------------- */
	/* Font Menu Size IPad */
	.navbar-nav>li>a {
	}
}



/* Tablet & Phone
************************************************************************/
@media (max-width: 767px) {

	/* =Body
	-------------------------------------------------------------- */
	/* Hero Section */
	.hero-section {
		margin-left: 100px !important;
	}
}



/* Phone
************************************************************************/
@media (max-width: 480px) {

	/* =Body
	-------------------------------------------------------------- */
	/* Hero Section */
	.hero-section {
		margin-left: 25px !important;
	}
}