/*boostrap mods*/
        
        .btn-primary {
        	margin-top: 3px;
            margin-bottom: 3px;
            background-color: #05547b;
            background-image: -ms-linear-gradient(top, #14496D, #05547b);
            background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#14496D), to(#05547b));
            background-image: -webkit-linear-gradient(top, #14496D, #05547b);
            background-image: -o-linear-gradient(top, #14496D, #05547b);
            background-image: -moz-linear-gradient(top, #14496D, #05547b);
            background-image: linear-gradient(to bottom, #14496D 0%,#05547b 100%);
            background-repeat: repeat-x;
            border-color: #05547b!important;    
            filter: progid:dximagetransform.microsoft.gradient(startColorstr='#14496D', endColorstr='#05547b', GradientType=0);
            filter: progid:dximagetransform.microsoft.gradient(enabled=false);
        }
        
        .btn-primary:hover,
        .btn-primary:active,
        .btn-primary.active,
        .btn-primary.disabled,
        .btn-primary[disabled] {
          background-color: #14496D;
          *background-color: #05547b;
        }
        
        .btn-success {
        	margin-top: 3px;
            margin-bottom: 3px;
            background-color: #05547b;
            background-image: -ms-linear-gradient(top, #14496D, #05547b);
            background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#14496D), to(#05547b));
            background-image: -webkit-linear-gradient(top, #14496D, #05547b);
            background-image: -o-linear-gradient(top, #14496D, #05547b);
            background-image: -moz-linear-gradient(top, #14496D, #05547b);
            background-image: linear-gradient(top, #14496D, #05547b);
            background-repeat: repeat-x;
            border-color: #05547b!important;
            filter: progid:dximagetransform.microsoft.gradient(startColorstr='#14496D', endColorstr='#05547b', GradientType=0);
            filter: progid:dximagetransform.microsoft.gradient(enabled=false);
        }
        
        .btn-success:hover,
        .btn-success:active,
        .btn-success.active,
        .btn-success.disabled,
        .btn-success[disabled] {
          background-color: #14496D;
          *background-color: #05547b;
        }
        
        .btn-danger {
        	margin-top: 3px;
            margin-bottom: 3px;
            background-color: #05547b;
            background-image: -ms-linear-gradient(top, #14496D, #05547b);
            background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#14496D), to(#05547b));
            background-image: -webkit-linear-gradient(top, #14496D, #05547b);
            background-image: -o-linear-gradient(top, #14496D, #05547b);
            background-image: -moz-linear-gradient(top, #14496D, #05547b);
            background-image: linear-gradient(top, #14496D, #05547b);
            background-repeat: repeat-x;
            border-color: #05547b!important;
            filter: progid:dximagetransform.microsoft.gradient(startColorstr='#14496D', endColorstr='#05547b', GradientType=0);
            filter: progid:dximagetransform.microsoft.gradient(enabled=false);
        }
        
        .btn-danger:hover,
        .btn-danger:active,
        .btn-danger.active,
        .btn-danger.disabled,
        .btn-danger[disabled] {
          background-color: #14496D;
          *background-color: #05547b!important;
        }
        
        .btn-info {
        	margin-top: 3px;
            margin-bottom: 3px;
            background-color: #05547b;
            background-image: -ms-linear-gradient(top, #14496D, #05547b);
            background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#14496D), to(#05547b));
            background-image: -webkit-linear-gradient(top, #14496D, #05547b);
            background-image: -o-linear-gradient(top, #14496D, #05547b);
            background-image: -moz-linear-gradient(top, #14496D, #05547b);
            background-image: linear-gradient(top, #14496D, #05547b);
            background-repeat: repeat-x;
            border-color: #05547b!important;
            filter: progid:dximagetransform.microsoft.gradient(startColorstr='#14496D', endColorstr='#05547b', GradientType=0);
            filter: progid:dximagetransform.microsoft.gradient(enabled=false);
        }
        
        .btn-info:hover,
        .btn-info:active,
        .btn-info.active,
        .btn-info.disabled,
        .btn-info[disabled] {
          background-color: #14496D;
          *background-color: #05547b;
        }
        
        .calloutBannerPic {
		    width: 60%;
		}
		
		.calloutBannerText div {
			float:none!important;
		}
		
		.pay-option-sub .btn {
			display:inline!important;
	    }
	    
	    .pay-option-icon img,.pay-option-selected img, .pay-option-action img {
			display:inline!important;	    
	    }
	    
	    input, select{
	    	height: 30px!important;
	    }
	    
	    .kiosk-access-form {	    
	    	width: 430px!important;
	    	height: 170px!important;
	    }
	    
	    .kiosk-access-buttons {		    
		    bottom: -20px;
		    margin-left: 20px;
	    }
	    
	    .kiosk-access-buttons input{
	    	padding: 0px!important;
	    }
	    	    
		#kiosk_cardNumber {
		    text-indent: 10em;
		}	  
		.btn-danger {
			padding:0px!important;
		}
		
		.btn-primary {
			padding:4px 10px 4px 10px!important;
		}		
		.alert>img {
			display:inline;
		}
		@media (max-width: 979px) {
			.navbar-inner {
				/*margin-top: 110px*/
			}   
			.navbar .nav>li {
				clear:both;
			}
			
			 #mainContent{
		      	margin-left: 24px;
	    		margin-right: 25px;
		     }			
			.container>.row>.col-md-12{
				background-color: #1A1A1A;
			}
			.breadcrumb {
				margin-top: 44px;
			}
	        .navbar-fixed-top {	        
	          height: 4px !important;
	        }	
	        .navbar-header {
	        	margin-top: 45px;
	        	margin-left: 30px;
	        	height: 100px;	        	
	        }
   	
	        .navbar-fixed-top.is-scrolling, .navbar-fixed-top.innernav {    
    			height: 180px;
	        }
	        .container>.span9 {
	        	margin-left: 0px!important;
	        }
		 }
		 
		 #mainContent{
	      	margin-top: 130px;
	      	margin-left: 24px;
    		margin-right: 25px;
	     }
	     .page-header {
	         text-align: left;
	         font-size: 35px;
	     }
	     #kiosk_expMo,#kiosk_expYr{
	         font-size: 14px;
	     }
	     h3 {
    		font-size: 25px;
	     }
	     
	     h2 {
		    font-size: 25px!important;		    
		    text-align: left!important;
		}
	     
	     .alert .close {
    		position: inherit!important;
	     }
	     
	     .breadcrumb>li+li:before {
		    content: "";		 
	     }
	     
	     .breadcrumb{
	        white-space: nowrap;
	     }