/* Enter Your Custom CSS Here */


.wrapper-lg {
  padding: 50px;
}

section#section-howitworkssteps {
  position: relative;
  overflow: hidden;
  margin-top: -100px;
  padding-bottom: 35px;
}

#owl-carousel-shots-phone .owl-controls .owl-buttons .owl-prev {
  left: -75px;
  top: 200px;
}

#owl-carousel-shots-phone .owl-controls .owl-buttons .owl-next {
  right: -75px;
  top: 200px;
}

#owl-carousel-shots-phone .owl-controls .owl-buttons div {
  background: 0;
  color: #05547b;
  position: absolute;
  font-size: 42px;
  font-weight: 400;
}

h3 {
  font-size: 33px;
  line-height: 36px;
  font-weight: 600;
}

a.jumptarget:before {
content:"";
display:block;
height:50px; /* fixed header height*/
margin:-50px 0 0; /* negative fixed header height */
}