/*

Theme Name: SmartMVP
Theme URI: http://themeforest.net
Description: Responsive One Page Portfolio
Version: 1.1.4
Author: bitfade
Author URI: http://themeforest.net/user/bitfade
License: GNU General Public License v2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: photoblogging

*/

.alignright{
	float:right;
	clear:right;
	margin-left:20px;
	margin-bottom:10px;
}

.alignleft{
	float:left;
	clear:left;
	margin-right:20px;
	margin-bottom:10px;
}

.aligncenter{
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
}


/* to go on top of wp admin bar */
.peFlareLightbox {
	z-index: 99999 !important;
}