@import "../account/base";

@font-face {
  font-family: "lato";
  src: url("/fonts/hakuyosha/lato-regular.ttf") format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "lato";
  src: url("/fonts/hakuyosha/lato-bold.ttf") format('truetype');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "lato";
  src: url("/fonts/hakuyosha/lato-italic.ttf") format('truetype');
  font-style:  italic;
  font-weight: normal;
}

@font-face {
  font-family: "roboto";
  src: url("/fonts/hakuyosha/roboto.woff2") format('woff2');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "museo slab";
  src: url("/fonts/hakuyosha/Museo_Slab_500.otf") format('opentype');
  font-style: normal;
  font-weight: normal;
}

body {
  background: #195fcc;
}

body, p {
  font-family: lato;
  color: #666;
}

h2, h3 {
  font-family: "museo slab";
  color: #333;
}

body > .container {
  background: #FFF;
}

.container {
  max-width: 960px;
  padding-bottom: 0px;
}

#header {
  border-bottom: 10px solid #195fcc;
}

.navbar {
}

.navbar .logo {
  width: 100%;
}

.navbar .nav {
}

.navbar .nav > li {
  margin: 0 20px;
}

.navbar .nav > li > a {
  font-size: 18px;
  line-height: 27px;
  color: #006;
  text-decoration: none;
  text-shadow: none;
  font-weight: normal;
  padding: 0;
  border-bottom: 1px solid #FFF;
}

.navbar .nav > li > a:hover {
  border-bottom: 1px solid #006;
  color: #006;
}

@media (max-width: 979px) {
  .navbar-inner {
    background-color: #195fcc;
    background-image: none;
    color: #FFF;
  }

  .navbar .nav > li > a,
  .navbar .nav > li > a:hover,
  .navbar .brand {
    color: #FFF;
  }

  #main_menu .nav > li > a,
  #main_menu .nav > li > a:hover{
    color: #999;
  }
}



#footer {
  background: #f1f1f1;
}

#footer .awards {
  padding: 20px 0 20px 40px;
}

#footer .awards img {
  max-width: 495px;
  width: 100%;
}

#footer .bbb {
  float: right;
  padding: 20px 40px 0 0;
}

#footer p {
  background: inherit;
  color: #000;
}

#footer p a {
  color: #000;
}

#footer p a:hover {
  text-decoration: none;
}

#customer_locations {
  margin: 20px 4em;
}

.kiosk-access-info {
  width: 25% !important;
}

.kiosk-access-form {
  width: 60% !important;
  height: auto !important;
}