.recaptcha_is_showing_audio #u6154.mode-audio:hover,.recaptcha_isnot_showing_audio #u6154.mode-image:hover
{
	width: 18px;
	height: 18px;
	min-height: 0px;
	margin: 20px -10000px 0px 0px;
}

.recaptcha_isnot_showing_audio #u6154.mode-image:active,.recaptcha_is_showing_audio #u6154.mode-audio:active
{
	width: 18px;
	height: 18px;
	min-height: 0px;
	margin: 20px -10000px 0px 0px;
}

.version.index /* version checker */
{
	color: #0000F8;
	background-color: #DBFCDC;
}

.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 960px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#pu5072
{
	width: 0.01px;
	margin-left: -100px;
}

#u5072
{
	z-index: 18;
	height: 1071px;
	background: -webkit-gradient(linear, center top, center bottom, from(#82BC00),color-stop(100%, #000000));
	background: -webkit-linear-gradient(top,#82BC00 ,#000000 100%);
	background: linear-gradient(to bottom,#82BC00 ,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF82BC00, endColorstr=#FF000000, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF82BC00', endColorstr='#FF000000', GradientType=0)";
}

#u5072-bw
{
	z-index: 18;
	margin-top: 1393px;
	height: 1071px;
}

#u5495
{
	z-index: 20;
	height: 553px;
	background: transparent url("/css/cleanbox/images/homeback_header.jpg") no-repeat center top;
	background-size: cover;
}

#u5495-bw
{
	z-index: 20;
	height: 553px;
}

#u5496
{
	z-index: 21;
	border-color: #000000;
	padding-bottom: 1093px;
	background: #CCCCCC url("/css/cleanbox/images/dot%20hatch%20fine-u5496-fr.png") repeat left top;
	background-color: rgba(0,0,0,0.2);
}

#services
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 1394px;
}

#ppu5408
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 100px;
}

#page_position_content,#pu5408
{
	width: 0.01px;
}

#u5408
{
	z-index: 102;
	margin-right: -10000px;
	margin-top: 11px;
}

#pu4687-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 605px;
}

#u4687-4
{
	z-index: 98;
	width: 340px;
	min-height: 37px;
	margin-left: 15px;
}

#u4687-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 340px;
	margin: 0px 0px 0px 15px;
}

#pu5592-4
{
	width: 0.01px;
	margin-top: 41px;
}

#u5592-4
{
	z-index: 171;
	width: 104px;
	min-height: 23px;
	margin-right: -10000px;
}

#u5592-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 104px;
	/*margin: 0px -10000px -1px 0px;*/
}

#u5593-4
{
	z-index: 175;
	width: 104px;
	min-height: 23px;
	/*margin-right: -10000px;*/
	left: 120px;
}

#u5592-4.MuseLinkActive,#u5593-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 104px;
	margin: 0px -10000px -1px 0px;
}

#u5593-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 104px;
	margin: 0px -10000px -1px 0px;
}

#u2714
{
	z-index: 23;
	width: 960px;
	height: 40px;
	margin-top: 413px;
}

#top
{
	width: 22px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 1074px;
}


#u5511
{
	z-index: 24;
	height: 109px;
}

#u5511-bw
{
	z-index: 24;
	margin-top: 553px;
	height: 109px;
}

#u3107
{
	z-index: 25;
	min-height: 318px;
	border-style: none;
	border-color: transparent;
	background-color: #F4F4F4;
	padding-bottom: 63px;
}

#u3118-9
{
	z-index: 26;
	width: 245px;
	min-height: 46px;
	background-color: transparent;
	line-height: 1.5;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 153px;
	left: 72px;
}

#u3119-16
{
	z-index: 35;
	width: 234px;
	min-height: 46px;
	background-color: transparent;
	line-height: 1.5;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 153px;
	left: 336px;
}

#u3119-10,#u3119-12
{
	font-size: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#u4975-7
{
	z-index: 51;
	width: 214px;
	min-height: 46px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 153px;
	left: 602px;
}

#u4975-3,#u4975-5
{
	font-size: 16px;
	line-height: 1.5;
}

#u3120-11
{
	z-index: 58;
	width: 228px;
	min-height: 45px;
	background-color: transparent;
	line-height: 1.5;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 154px;
	left: 850px;
}

#u3118-3,#u3118-5,#u3119-3,#u3119-7,#u3120-3,#u3120-5
{
	font-size: 16px;
	color: #7F7F7F;
}

#u3118-7,#u3119-9,#u3119-14,#u3120-7,#u3120-9
{
	color: #7F7F7F;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u3118-7  span,#u3119-9  span,#u3119-14  span,#u4975-2,#u3120-7  span,#u3120-9  span /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.5;
}

#u3107-bw
{
	z-index: 25;
	min-height: 318px;
	margin-top: 1012px;
}

#u4680
{
	z-index: 103;
	width: 499px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 98px;
}

#pamphletu5607
{
	z-index: 179;
	width: 0.01px;
	height: 25px;
	padding-bottom: 4px;
	margin-right: -10000px;
	margin-top: 76px;
	left: 949px;
}

#u5608
{
	z-index: 180;
	width: 114px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 3px;
}

#u5609
{
	width: 123px;
	padding-bottom: 4px;
	top: -2px;
	left: -3px;
}

#u5594-4
{
	z-index: 182;
	width: 114px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 3px;
}

#u5609:hover #u5594-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 114px;
	margin: 2px -10000px -1px 0px;
}

#u5609.PamphletThumbSelected #u5594-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 114px;
	margin: 2px -10000px -1px 0px;
}

#u5612popup
{
	z-index: 186;
}

#u5612
{
	width: 472px;
	padding-bottom: 44px;
	top: -64px;
	left: -600px;
}

#u5617
{
	z-index: 187;
	width: 350px;
	height: 639px;
	padding-left: 26px;
	padding-top: 17px;
	padding-right: 52px;
	margin-right: -10000px;
	top: 22px;
	left: 22px;
}

#u5657-4
{
	z-index: 301;
	width: 155px;
	min-height: 47px;
	margin-left: 1px;
}

#u5650
{
	z-index: 300;
	margin-top: 5px;
}

#widgetu5625
{
	z-index: 188;
	width: 0.01px;
	height: 495px;
	margin-left: 2px;
	margin-top: 29px;
}

#widgetu5632
{
	z-index: 189;
	width: 342px;
	height: 47px;
	margin-right: -10000px;
	margin-top: 178px;
	left: -1px;
}

#widgetu5632.fld-err-st
{
	width: 342px;
	height: 47px;
	min-height: 0px;
	margin: 178px -10000px 0px 0px;
}

#u5634-4
{
	z-index: 190;
	width: 200px;
	min-height: 20px;
	margin-right: -10000px;
	left: 1px;
}

#u5635-4
{
	z-index: 194;
	width: 328px;
	min-height: 14px;
	padding: 6px;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu5632.focus-st #u5635-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#u5633-4
{
	z-index: 198;
	width: 130px;
	min-height: 20px;
	margin-right: -10000px;
	left: 211px;
}

#u5636-4
{
	z-index: 202;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 464px;
	left: 148px;
}

#u5626-4
{
	z-index: 206;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 464px;
	left: 148px;
}

#u5637-4
{
	z-index: 210;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 464px;
	left: 148px;
}

#widgetu5625.frm-sub-st #u5636-4,#widgetu5625.frm-subm-err-st #u5626-4,#widgetu5625.frm-subm-ok-st #u5637-4
{
	min-height: 25px;
}

#u5627-17
{
	z-index: 214;
	min-height: 30px;
	width: 130px;
	margin-right: -10000px;
	margin-top: 464px;
}

#widgetu5638
{
	z-index: 231;
	width: 342px;
	height: 101px;
	margin-right: -10000px;
	margin-top: 236px;
	left: -1px;
}

#widgetu5638.fld-err-st
{
	width: 342px;
	height: 101px;
	min-height: 0px;
	margin: 236px -10000px 0px 0px;
}

#u5641-4
{
	z-index: 232;
	width: 200px;
	min-height: 20px;
	margin-right: -10000px;
	left: 1px;
}

#u5639-4
{
	z-index: 236;
	width: 328px;
	min-height: 68px;
	padding: 6px;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu5638.focus-st #u5639-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu5638.fld-err-st #u5639-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#u5640-4
{
	z-index: 240;
	width: 130px;
	min-height: 20px;
	margin-right: -10000px;
	left: 211px;
}

#widgetu5638_input,#widgetu5638_prompt
{
	width: 328px;
	min-height: 68px;
	padding: 6px;
}

#widgetu5642
{
	z-index: 244;
	width: 342px;
	height: 47px;
	margin-right: -10000px;
	left: -1px;
}

#widgetu5642.fld-err-st
{
	width: 342px;
	height: 47px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5645-4
{
	z-index: 245;
	width: 200px;
	min-height: 20px;
	margin-right: -10000px;
	left: 1px;
}

#u5643-4
{
	z-index: 249;
	width: 328px;
	min-height: 14px;
	padding: 6px;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu5632.fld-err-st #u5635-4,#widgetu5642.focus-st #u5643-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#u5644-4
{
	z-index: 253;
	width: 130px;
	min-height: 20px;
	margin-right: -10000px;
	left: 211px;
}

#widgetu5646
{
	z-index: 257;
	width: 342px;
	height: 47px;
	margin-right: -10000px;
	margin-top: 59px;
	left: -1px;
}

#widgetu5646.fld-err-st
{
	width: 342px;
	height: 47px;
	min-height: 0px;
	margin: 59px -10000px 0px 0px;
}

#u5649-4
{
	z-index: 258;
	width: 200px;
	min-height: 20px;
	margin-right: -10000px;
	left: 1px;
}

#u5647-4
{
	z-index: 262;
	width: 328px;
	min-height: 14px;
	padding: 6px;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu5642.fld-err-st #u5643-4,#widgetu5646.focus-st #u5647-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#u5648-4
{
	z-index: 266;
	width: 130px;
	min-height: 20px;
	margin-right: -10000px;
	left: 211px;
}

#widgetu5653
{
	z-index: 270;
	width: 342px;
	height: 47px;
	margin-right: -10000px;
	margin-top: 118px;
	left: -1px;
}

#widgetu5653.fld-err-st
{
	width: 342px;
	height: 47px;
	min-height: 0px;
	margin: 118px -10000px 0px 0px;
}

#u5656-4
{
	z-index: 271;
	width: 200px;
	min-height: 20px;
	margin-right: -10000px;
	left: 1px;
}

#u5654-4
{
	z-index: 275;
	width: 328px;
	min-height: 14px;
	padding: 6px;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu5646.fld-err-st #u5647-4,#widgetu5653.focus-st #u5654-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu5653.fld-err-st #u5654-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#u5655-4
{
	z-index: 279;
	width: 130px;
	min-height: 20px;
	margin-right: -10000px;
	left: 211px;
}

#widgetu6149
{
	z-index: 283;
	width: 342px;
	height: 109px;
	margin-right: -10000px;
	margin-top: 346px;
	left: -1px;
}

#widgetu6149.fld-err-st
{
	width: 342px;
	height: 109px;
	min-height: 0px;
	margin: 346px -10000px 0px 0px;
}

#u6150-4
{
	z-index: 284;
	width: 200px;
	min-height: 20px;
	margin-right: -10000px;
	left: 1px;
}

#widgetu5632.fld-err-st #u5634-4,#widgetu5638.fld-err-st #u5641-4,#widgetu5642.fld-err-st #u5645-4,#widgetu5646.fld-err-st #u5649-4,#widgetu5653.fld-err-st #u5656-4,#widgetu6149.fld-err-st #u6150-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 0px -10000px 0px 0px;
}

#u6152-4
{
	z-index: 288;
	width: 328px;
	min-height: 14px;
	padding: 6px;
	margin-right: -10000px;
	margin-top: 81px;
}

#widgetu6149.focus-st #u6152-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 81px -10000px 0px 0px;
}

#widgetu6149.fld-err-st #u6152-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 81px -10000px 0px 0px;
}

#u6151-4
{
	z-index: 292;
	width: 130px;
	min-height: 20px;
	margin-right: -10000px;
	left: 211px;
}

#widgetu5632.fld-err-st #u5633-4,#widgetu5638.fld-err-st #u5640-4,#widgetu5642.fld-err-st #u5644-4,#widgetu5646.fld-err-st #u5648-4,#widgetu5653.fld-err-st #u5655-4,#widgetu6149.fld-err-st #u6151-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 130px;
	margin: 0px -10000px 0px 0px;
}

#recaptcha_image
{
	width: 301px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 1px;
}

#u6154
{
	z-index: 297;
	width: 18px;
	height: 18px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 313px;
}

#u6185
{
	z-index: 298;
	width: 18px;
	height: 18px;
	margin-right: -10000px;
	margin-top: 39px;
	left: 313px;
}

#u6185:hover
{
	width: 18px;
	height: 18px;
	min-height: 0px;
	margin: 39px -10000px 0px 0px;
}

#u6185:active
{
	width: 18px;
	height: 18px;
	min-height: 0px;
	margin: 39px -10000px 0px 0px;
}

#u6201
{
	z-index: 299;
	width: 18px;
	height: 18px;
	margin-right: -10000px;
	margin-top: 58px;
	left: 313px;
}

#u6201:hover
{
	width: 18px;
	height: 18px;
	min-height: 0px;
	margin: 58px -10000px 0px 0px;
}

#u6201:active
{
	width: 18px;
	height: 18px;
	min-height: 0px;
	margin: 58px -10000px 0px 0px;
}

#widgetu5632_input,#widgetu5632_prompt,#widgetu5642_input,#widgetu5642_prompt,#widgetu5646_input,#widgetu5646_prompt,#widgetu5653_input,#widgetu5653_prompt,#recaptcha_response_field,#widgetu6149_prompt
{
	width: 328px;
	min-height: 14px;
	padding: 6px;
}

#widgetu5632.focus-st #widgetu5632_input,#widgetu5632.fld-err-st #widgetu5632_input,#widgetu5632.focus-st #widgetu5632_prompt,#widgetu5632.fld-err-st #widgetu5632_prompt,#widgetu5638.focus-st #widgetu5638_input,#widgetu5638.fld-err-st #widgetu5638_input,#widgetu5638.focus-st #widgetu5638_prompt,#widgetu5638.fld-err-st #widgetu5638_prompt,#widgetu5642.focus-st #widgetu5642_input,#widgetu5642.fld-err-st #widgetu5642_input,#widgetu5642.focus-st #widgetu5642_prompt,#widgetu5642.fld-err-st #widgetu5642_prompt,#widgetu5646.focus-st #widgetu5646_input,#widgetu5646.fld-err-st #widgetu5646_input,#widgetu5646.focus-st #widgetu5646_prompt,#widgetu5646.fld-err-st #widgetu5646_prompt,#widgetu5653.focus-st #widgetu5653_input,#widgetu5653.fld-err-st #widgetu5653_input,#widgetu5653.focus-st #widgetu5653_prompt,#widgetu5653.fld-err-st #widgetu5653_prompt,#widgetu6149.focus-st #recaptcha_response_field,#widgetu6149.fld-err-st #recaptcha_response_field,#widgetu6149.focus-st #widgetu6149_prompt,#widgetu6149.fld-err-st #widgetu6149_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#u5621
{
	width: 28px;
	padding-bottom: 5px;
	top: -23px;
	left: -209px;
}

#u5621:hover
{
	width: 28px;
	min-height: 0px;
	margin: 0px;
}

#u5622-4
{
	z-index: 306;
	width: 20px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 4px;
}

#u4918
{
	z-index: 311;
	height: 33px;
	width: 31px;
	top: 125px;
	left: 50%;
	margin-left: 517px;
}

#u5539
{
	z-index: 314;
	height: 33px;
	width: 31px;
	top: 125px;
	left: 50%;
	margin-left: 517px;
}

#u3106
{
	z-index: 319;
	height: 320px;
	border-color: #000000;
	background-color: #FFFFFF;
}

#u3106-bw
{
	z-index: 319;
	margin-top: 2478px;
	height: 320px;
}

#pu4945
{
	width: 0.01px;
	padding-bottom: 2667px;
	margin-left: -100px;
	margin-top: -2652px;
}

#u4945
{
	z-index: 19;
	height: 493px;
	background: #000000 url("/css/cleanbox/images/truck_lockerpad.jpg") no-repeat center top;
	background-size: cover;
}

#u4945-bw
{
	z-index: 19;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 563px;
}

#u5553-8
{
	z-index: 89;
	width: 959px;
	min-height: 229px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 146px;
	left: 0px;
}

#u5553-5
{
	color: #82BC00;
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#u3115-8
{
	z-index: 81;
	width: 959px;
	min-height: 229px;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 147px;
	left: 2px;
}

#u5553-2,#u3115-2
{
	font-size: 48px;
	line-height: 1.67;
}

#u5553-4,#u3115-4
{
	font-size: 29px;
}

#u5553-6,#u3115-6
{
	font-size: 45px;
	line-height: 1.57;
}

#u5147
{
	z-index: 141;
	width: 959px;
	height: 3px;
	background-color: #FFFFFF;
	position: fixed;
	top: 1589px;
	left: 0px;
}

#u5144
{
	z-index: 140;
	width: 959px;
	height: 3px;
	background-color: #FFFFFF;
	position: fixed;
	top: 1811px;
	left: 0px;
}

#u5145
{
	z-index: 139;
	width: 959px;
	height: 3px;
	background-color: #FFFFFF;
	position: fixed;
	top: 2029px;
	left: 0px;
}

#u5135
{
	z-index: 138;
	width: 959px;
	height: 3px;
	background-color: #FFFFFF;
	position: fixed;
	top: 2243px;
	left: 0px;
}

#u4895
{
	z-index: 320;
	width: 431px;
	background-color: transparent;
	position: fixed;
	top: 2478px;
	left: 2px;
}

#u4978
{
	z-index: 69;
	position: fixed;
	top: 1036px;
	left: 36px;
}

#u5125
{
	z-index: 144;
	position: fixed;
	top: 2076px;
	left: 152px;
}

#u5093-6
{
	z-index: 118;
	width: 438px;
	min-height: 81px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: left;
	font-size: 35px;
	position: fixed;
	top: 2306px;
	left: 181px;
}

#u5077-6
{
	z-index: 104;
	width: 379px;
	min-height: 81px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: left;
	font-size: 35px;
	position: fixed;
	top: 1437px;
	left: 195px;
}

#u5117
{
	z-index: 143;
	position: fixed;
	top: 1629px;
	left: 220px;
}

#u5089-8
{
	z-index: 110;
	width: 372px;
	min-height: 81px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: left;
	font-size: 35px;
	position: fixed;
	top: 1870px;
	left: 223px;
}

#pamphletu5558
{
	z-index: 151;
	width: 0.01px;
	height: 67px;
	position: fixed;
	top: 766px;
	left: 238px;
}

#u5570
{
	z-index: 152;
	width: 486px;
	position: relative;
	margin-right: -10000px;
}

#u5571
{
	position: absolute;
	width: 486px;
	height: 67px;
}

.ie #u5571
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u5563
{
	position: absolute;
	width: 692px;
	border-style: none;
	border-color: transparent;
	background-color: #232323;
	background-color: rgba(0,0,0,0.86);
	padding-bottom: 44px;
	top: -131px;
	left: 498px;
	-pie-background: rgba(0,0,0,0.86);
}

#u5563popup
{
	z-index: 154;
}

#u5568
{
	z-index: 155;
	width: 633px;
	height: 853px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	padding: 23px 3px 1px 12px;
}

#u5577
{
	z-index: 163;
	width: 633px;
	background-color: transparent;
	position: relative;
}

#u5569-7
{
	z-index: 156;
	width: 412px;
	min-height: 40px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-left: 10px;
	padding-top: 10px;
	color: #DEDEDE;
	line-height: 1.4;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 106px;
	margin-top: 11px;
	position: relative;
}

#u5574
{
	position: absolute;
	width: 28px;
	border-width: 2px;
	border-style: solid;
	border-color: #71B205;
	background-color: transparent;
	border-radius: 20px 20px 20px 0px ;
	padding-bottom: 5px;
	top: -122px;
	left: 1168px;
}

#u5574:hover
{
	background-color: #63A833;
	width: 28px;
	min-height: 0px;
	margin: 0px;
}

#u5575-4
{
	z-index: 166;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 1.4;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 4px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u5509-4
{
	z-index: 147;
	width: 471px;
	min-height: 49px;
	background: #73B533 url("/css/cleanbox/images/u5509-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#85C837),color-stop(26%, #73B533));
	background: -webkit-linear-gradient(top,#85C837 ,#73B533 26%);
	background: linear-gradient(to bottom,#85C837 ,#73B533 26%);
	border-style: solid;
	border-color: #252525;
	color: #FFFFFF;
	line-height: 1.31;
	text-align: center;
	font-size: 21px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: fixed;
	top: 774px;
	left: 246px;
	border-width: 0px 0px 3px;
}

#u5509-4:hover
{
	background: #73B533 url("/css/cleanbox/images/u5509-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#85C837),color-stop(26%, #73B533));
	background: -webkit-linear-gradient(top,#85C837 ,#73B533 26%);
	background: linear-gradient(to bottom,#85C837 ,#73B533 26%);
	border-style: none;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 51px;
	width: 471px;
	margin: 0px 0px 2px;
}

#u4981
{
	z-index: 70;
	position: fixed;
	top: 1041px;
	left: 292px;
}

#u5492-4
{
	z-index: 73;
	width: 217px;
	min-height: 49px;
	background: #73B533 url("/css/cleanbox/images/u5509-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#85C837),color-stop(26%, #73B533));
	background: -webkit-linear-gradient(top,#85C837 ,#73B533 26%);
	background: linear-gradient(to bottom,#85C837 ,#73B533 26%);
	border-style: solid;
	border-color: #252525;
	color: #FFFFFF;
	line-height: 1.31;
	text-align: center;
	font-size: 21px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: fixed;
	top: 394px;
	left: 300px;
	border-width: 0px 0px 3px;
}

#u5509-4::before,#u5492-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: 0px;
	left: 0px;
	bottom: -3px;
	right: 0px;
	box-shadow: inset 1px 1px 2px rgba(255,255,255,0.75), inset -1px -1px 2px rgba(0,0,0,0.75);
}

#u5492-4:hover
{
	border-style: none;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 51px;
	width: 217px;
	margin: 0px 0px 2px;
}

#u5509-4:hover::before,#u5492-4:hover::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 1px 1px 2px rgba(255,255,255,0.75), inset -1px -1px 2px rgba(0,0,0,0.75);
}

#u5509-2,#u5492-2
{
	padding-top: 10px;
}

#u5091-6
{
	z-index: 132;
	width: 512px;
	min-height: 81px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: left;
	font-size: 35px;
	position: fixed;
	top: 2088px;
	left: 324px;
}

#u5086-8
{
	z-index: 124;
	width: 334px;
	min-height: 81px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: left;
	font-size: 35px;
	position: fixed;
	top: 1648px;
	left: 390px;
}

#u6506
{
	z-index: 97;
	width: 118px;
	height: 82px;
	background-color: transparent;
	position: fixed;
	top: 566px;
	left: 418px;
}

#U6519_animation
{
	width: 118px;
	height: 82px;
	border: none;
}

.js #u6506.ose_pre_init
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u5537-4
{
	z-index: 322;
	width: 551px;
	min-height: 95px;
	background-color: transparent;
	color: #82BC00;
	line-height: 1.5;
	text-align: center;
	font-size: 35px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: fixed;
	top: 2556px;
	left: 453px;
}

#u5346
{
	z-index: 77;
	width: 50px;
	-pie-box-shadow: none;
	box-shadow: none;
	border-bottom-width: 3px;
	border-style: solid;
	border-color: #252525;
	position: fixed;
	top: 394px;
	left: 536px;
}

.Normal-Social
{
	border-style: none;
	-pie-box-shadow: none;
	box-shadow: 0px 4px 0px rgba(0,0,0,0.15);
	border-color: #000000;
	background-color: transparent;
}

#u5138
{
	z-index: 145;
	position: fixed;
	top: 1842px;
	left: 538px;
}

#u5102
{
	z-index: 142;
	position: fixed;
	top: 1413px;
	left: 557px;
}

#u4993
{
	z-index: 72;
	position: fixed;
	top: 1043px;
	left: 573px;
}

#u5348
{
	z-index: 79;
	width: 50px;
	-pie-box-shadow: none;
	box-shadow: none;
	border-bottom-width: 3px;
	border-style: solid;
	border-color: #252525;
	position: fixed;
	top: 394px;
	left: 605px;
}

#u5346 img.shadow,#u5348 img.shadow
{
	-pie-box-shadow: none;
	box-shadow: none;
}

#u5346:hover,#u5348:hover
{
	border-style: none;
	width: 50px;
	min-height: 0px;
	margin: 0px 0px 3px;
}

#u5393
{
	z-index: 146;
	position: fixed;
	top: 2272px;
	left: 610px;
}

#u4984
{
	z-index: 71;
	position: fixed;
	top: 1041px;
	left: 819px;
}

.js #u3118-9.ose_pre_init,.js #u3119-16.ose_pre_init,.js #u4975-7.ose_pre_init,.js #u3120-11.ose_pre_init,.js #u4945.ose_pre_init,.js #u4978.ose_pre_init,.js #u5125.ose_pre_init,.js #u5093-6.ose_pre_init,.js #u5077-6.ose_pre_init,.js #u5117.ose_pre_init,.js #u5089-8.ose_pre_init,.js #u5509-4.ose_pre_init,.js #u4981.ose_pre_init,.js #u5091-6.ose_pre_init,.js #u5086-8.ose_pre_init,.js #u5537-4.ose_pre_init,.js #u5138.ose_pre_init,.js #u5102.ose_pre_init,.js #u4993.ose_pre_init,.js #u5393.ose_pre_init,.js #u4984.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#pu5392
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -16px;
}

#u5392
{
	z-index: 316;
	min-height: 19px;
	background-color: #000000;
	padding-bottom: 2px;
}

#locations
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 1px;
}

#u5392-bw
{
	z-index: 316;
	min-height: 19px;
}

#u6570
{
	z-index: 318;
	min-height: 348px;
	border-color: #71B205;
	background-color: transparent;
}

#u6570-bw
{
	z-index: 318;
	min-height: 348px;
	margin-top: 100px;
}

#u6569
{
	z-index: 326;
	min-height: 117px;
	background-color: #71B205;
	padding-bottom: 26px;
}

#u5496_align_to_page,#u3107_align_to_page,#u5392_align_to_page,#u6569_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u6572-6
{
	z-index: 327;
	width: 753px;
	min-height: 81px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 35px;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: 206px;
}

#u3119-5,#u3115-5,#u5093-2,#u5077-2,#u5089-2,#u5091-2,#u5086-2,#u6572-2
{
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#u5093-4,#u5077-4,#u5089-4,#u5089-6,#u5091-4,#u5086-4,#u5086-6,#u6572-4
{
	font-family: open-sans, sans-serif;
	font-weight: 400;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u5093-4  span,#u5077-4  span,#u5089-4  span,#u5089-6  span,#u5091-4  span,#u5086-4  span,#u5086-6  span,#u6572-4  span /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.7;
}

#u3118-6,#u3119-8,#u3119-11,#u3119-13,#u3120-6,#u3120-8,#u5093-3,#u5077-3,#u5089-3,#u5089-5,#u5091-3,#u5086-3,#u5086-5,#u6572-3
{
	font-size: 16px;
}

#u6569-bw
{
	z-index: 326;
	min-height: 117px;
}

#u2700
{
	z-index: 2;
	min-height: 331px;
	padding-bottom: 87px;
}

#u2700_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#pu2702-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 46px;
	margin-left: 100px;
}

#u2702-4
{
	z-index: 3;
	width: 358px;
	min-height: 39px;
}

#u2703-4
{
	z-index: 7;
	width: 483px;
	min-height: 57px;
	margin-top: 5px;
}

#u4742
{
	z-index: 17;
	width: 483px;
	min-height: 135px;
	margin-top: 24px;
}

#u4728
{
	z-index: 13;
	width: 50px;
	margin-right: -10000px;
	margin-top: 54px;
	left: 886px;
}

#u4734
{
	z-index: 15;
	width: 50px;
	margin-right: -10000px;
	margin-top: 54px;
	left: 948px;
}

#u2706
{
	z-index: 11;
	width: 50px;
	margin-right: -10000px;
	margin-top: 54px;
	left: 1010px;
}

#u4728:hover,#u4734:hover,#u2706:hover
{
	width: 50px;
	min-height: 0px;
	margin: 54px -10000px 3px 0px;
}

#u2700-bw
{
	z-index: 2;
	min-height: 331px;
	margin-top: 2px;
}

body
{
	position: relative;
	/*min-width: 960px;*/
}

#page .verticalspacer
{
	clear: both;
}


/*boostrap mods*/


.btn-primary {
	margin-top: 3px;
    margin-bottom: 3px;
    background-color: #82BC00;
    background-image: -ms-linear-gradient(top, #436622, #82BC00);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#436622), to(#82BC00));
    background-image: -webkit-linear-gradient(top, #436622, #82BC00);
    background-image: -o-linear-gradient(top, #436622, #82BC00);
    background-image: -moz-linear-gradient(top, #436622, #82BC00);
    background-image: linear-gradient(to bottom, #436622 0%,#82BC00 100%);
    background-repeat: repeat-x;
    border-color: #000000;    
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#436622', endColorstr='#82BC00', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #436622;
  *background-color: #82BC00;
}

.btn-success {
	margin-top: 3px;
    margin-bottom: 3px;
    background-color: #82BC00;
    background-image: -ms-linear-gradient(top, #436622, #82BC00);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#436622), to(#82BC00));
    background-image: -webkit-linear-gradient(top, #436622, #82BC00);
    background-image: -o-linear-gradient(top, #436622, #82BC00);
    background-image: -moz-linear-gradient(top, #436622, #82BC00);
    background-image: linear-gradient(top, #436622, #82BC00);
    background-repeat: repeat-x;
    border-color: #000000;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#436622', endColorstr='#82BC00', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #436622;
  *background-color: #82BC00;
}

.btn-danger {
	margin-top: 3px;
    margin-bottom: 3px;
    background-color: #82BC00;
    background-image: -ms-linear-gradient(top, #436622, #82BC00);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#436622), to(#82BC00));
    background-image: -webkit-linear-gradient(top, #436622, #82BC00);
    background-image: -o-linear-gradient(top, #436622, #82BC00);
    background-image: -moz-linear-gradient(top, #436622, #82BC00);
    background-image: linear-gradient(top, #436622, #82BC00);
    background-repeat: repeat-x;
    border-color: #000000;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#436622', endColorstr='#82BC00', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  background-color: #436622;
  *background-color: #82BC00;
}

.btn-info {
	margin-top: 3px;
    margin-bottom: 3px;
    background-color: #82BC00;
    background-image: -ms-linear-gradient(top, #436622, #82BC00);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#436622), to(#82BC00));
    background-image: -webkit-linear-gradient(top, #436622, #82BC00);
    background-image: -o-linear-gradient(top, #436622, #82BC00);
    background-image: -moz-linear-gradient(top, #436622, #82BC00);
    background-image: linear-gradient(top, #436622, #82BC00);
    background-repeat: repeat-x;
    border-color: #000000;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#436622', endColorstr='#82BC00', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  background-color: #436622;
  *background-color: #82BC00;
}


a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #82BC00;
    text-decoration: none;
}

.alert-info {
    color: #333333;
    background-color: #F1F1F1;
    border-color: #ABAAAA;
}
@media (max-width: 960px) {
	.container {
		/*width: auto;*/
	}
	.offset1, .footer {
	    margin-left: 10px;
	}
	.navbar .brand {
	    /* padding-right: 59px; */
	    padding-left: 28px;
	    margin: 0px 0 0 0px;
	}
		
	.navbar .btn-navbar {	
	    margin-right: 21px;
	    display: block;
	}

	.nav-collapse .nav {	 
	    margin: 0 0 9px 10px;
	}
	
     #u4728 {
         margin-top: 192px;
         left: 416px;
    }
    
    #u4734 {
        margin-top: 192px;
        left: 476px;
   }
   
    #u2706 {
        margin-top: 192px;
        left: 536px;
   }   
}