.nls-None > li:before,.nls-None .list3 > li:before,.nls-None .list6 > li:before
{
	margin-right: 6px;
	content: '•';
}

.nls-None .list1 > li:before,.nls-None .list4 > li:before,.nls-None .list7 > li:before
{
	margin-right: 6px;
	content: '○';
}

.nls-None,.nls-None .list1,.nls-None .list2,.nls-None .list3,.nls-None .list4,.nls-None .list5,.nls-None .list6,.nls-None .list7,.nls-None .list8
{
	padding-left: 34px;
}

.nls-None.rtl-list,.nls-None .list1.rtl-list,.nls-None .list2.rtl-list,.nls-None .list3.rtl-list,.nls-None .list4.rtl-list,.nls-None .list5.rtl-list,.nls-None .list6.rtl-list,.nls-None .list7.rtl-list,.nls-None .list8.rtl-list
{
	padding-left: 0px;
	padding-right: 34px;
}

.nls-None .list2 > li:before,.nls-None .list5 > li:before,.nls-None .list8 > li:before
{
	margin-right: 6px;
	content: '-';
}

.nls-None.rtl-list > li:before,.nls-None .list1.rtl-list > li:before,.nls-None .list2.rtl-list > li:before,.nls-None .list3.rtl-list > li:before,.nls-None .list4.rtl-list > li:before,.nls-None .list5.rtl-list > li:before,.nls-None .list6.rtl-list > li:before,.nls-None .list7.rtl-list > li:before,.nls-None .list8.rtl-list > li:before
{
	margin-right: 0px;
	margin-left: 6px;
}

.TabbedPanelsTab
{
	white-space: nowrap;
}

.MenuBar  .MenuBarView,.MenuBar  .SubMenuView /* Resets for ul and li in menus */
{
	display: block;
	list-style: none;
}

.MenuBar .SubMenu
{
	display: none;
	position: absolute;
}

.NoWrap
{
	white-space: nowrap;
	word-wrap: normal;
}

.rootelem /* the root of the artwork tree */
{
	margin-left: auto;
	margin-right: auto;
}

.colelem /* a child element of a column */
{
	display: inline;
	float: left;
	clear: both;
}

.colelem100 /* a child element of a column that is 100% width */
{
	clear: both;
}

.grpelem /* a child element of a group */
{
	display: inline;
	float: left;
}

.clearfix:after /* force a container to fit around floated items */
{
	content: "\0020";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

*:first-child+html .clearfix /* IE7 */
{
	zoom: 1;
}

.clip_frame /* used to clip the contents as in the case of an image frame */
{
	overflow: hidden;
}

.inclusion_context /* context for positioning a group of elements that share the same height */
{
	display: table;
	table-layout: fixed;
	width: 0.01px;
}

.inclelem /* element of an inclusion context */
{
	display: table-cell;
	vertical-align: top;
}

.f3s_mid /* 3-slice frame, middle slice */
{
	background-repeat: repeat;
}

.f3s_top,.f3s_bot /* 3-slice frame, top slice */
{
	background-repeat: no-repeat;
}

.f9s_top_left,.f9s_bot_left /* 9-slice frame, left corner slice */
{
	background-repeat: no-repeat;
	background-position: left;
}

.f9s_top_right,.f9s_bot_right /* 9-slice frame, right corner slice */
{
	background-repeat: no-repeat;
	background-position: right;
}

.f9s_top_mid,.f9s_bot_mid /* 9-slice frame, top/bottom horizontal slice */
{
	background-repeat: repeat-x;
	background-position: 0px 0px;
}

.f9s_mid_left /* 9-slice frame, left vertical slice */
{
	background-repeat: repeat-y;
	background-position: left;
}

.f9s_mid_right /* 9-slice frame, right vertical slice */
{
	background-repeat: repeat-y;
	background-position: right;
}

.f9s_center /* 9-slice frame, center slice */
{
	background-repeat: repeat;
	background-position: 0px 0px;
}

.popup_anchor /* anchors an abspos popup */
{
	position: relative;
	width: 0px;
	height: 0px;
}

.popup_element
{
	z-index: 100000;
}

.svg
{
	display: block;
	vertical-align: top;
}

span.wrap /* used to force wrap after floated array when nested inside a paragraph */
{
	content: '';
	clear: left;
	display: block;
}

span.actAsInlineDiv /* used to simulate a DIV with inline display when already nested inside a paragraph */
{
	display: inline-block;
}

.position_content,.excludeFromNormalFlow /* used when child content is larger than parent */
{
	float: left;
}

.preload_images /* used to preload images used in non-default states */
{
	position: absolute;
	overflow: hidden;
	left: -9999px;
	top: -9999px;
	height: 1px;
	width: 1px;
}

preload /* used to specifiy the dimension of preload item */
{
	height: 1px;
	width: 1px;
}

.animateStates
{
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}

input:focus,textarea:focus /* remove default focussed input styling */
{
	outline: none;
}

textarea
{
	resize: none;
	overflow: auto;
}

.fld-prompt /* form placeholders cursor behavior */
{
	pointer-events: none;
}

.wrapped-input /* form inputs & placeholders let div styling show thru */
{
	position: absolute;
	top: 0;
	left: 0;
	background: transparent;
	border: none;
}

.submit-btn /* form submit buttons on top of sibling elements */
{
	z-index: 50000;
	cursor: pointer;
}

.anchor_item /* used to specify anchor properties */
{
	width: 22px;
	height: 18px;
}

.MenuBar .SubMenuVisible,.MenuBarVertical .SubMenuVisible,.MenuBar .SubMenu .SubMenuVisible,.popup_element.Active,span.actAsPara,.actAsDiv,a.nonblock.nontext,img.block
{
	display: block;
}

.ose_ei
{
	visibility: hidden;
	z-index: 0;
}

.widget_invisible,.js .invi,.js .mse_pre_init,.js .an_invi /* used to hide the widget before loaded */
{
	visibility: hidden;
}

.no_vert_scroll
{
	overflow-y: hidden;
}

.always_vert_scroll
{
	overflow-y: scroll;
}

.always_horz_scroll
{
	overflow-x: scroll;
}

.popup_element.Inactive,.js .disn,.hidden
{
	display: none;
}

.fullscreen
{
	overflow: hidden;
	left: 0px;
	top: 0px;
	position: fixed;
	height: 100%;
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.fullwidth
{
	position: absolute;
}

.borderbox
{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.scroll_wrapper
{
	position: absolute;
	overflow: auto;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.browser_width > *
{
	position: absolute;
	left: 0px;
	right: 0px;
}

.list0 li,.MenuBar .MenuItemContainer,.SlideShowContentPanel .fullscreen img
{
	position: relative;
}

.accordion_wrapper
{
	display: inline;
	float: left;
	width: 0px;
}

.fld-checkbox input[type=checkbox],.fld-radiobutton input[type=radio] /* Hide native checkbox */
{
	position: absolute;
	overflow: hidden;
	clip: rect(0px, 0px, 0px, 0px);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

.fld-checkbox input[type=checkbox] + label,.fld-radiobutton input[type=radio] + label
{
	display: inline-block;
	background-repeat: no-repeat;
	cursor: pointer;
	float: left;
	width: 100%;
	height: 100%;
}





/*boostrap mods*/


.btn-primary {
	margin-top: 3px;
    margin-bottom: 3px;
    background-color: #c10110;
    background-image: -ms-linear-gradient(top, #82000a, #c10110);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#82000a), to(#c10110));
    background-image: -webkit-linear-gradient(top, #82000a, #c10110);
    background-image: -o-linear-gradient(top, #82000a, #c10110);
    background-image: -moz-linear-gradient(top, #82000a, #c10110);
    background-image: linear-gradient(to bottom, #82000a 0%,#c10110 100%);
    background-repeat: repeat-x;
    border-color: #000000;    
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#82000a', endColorstr='#c10110', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #82000a;
  *background-color: #c10110;
}

.btn-success {
	margin-top: 3px;
    margin-bottom: 3px;
    background-color: #c10110;
    background-image: -ms-linear-gradient(top, #82000a, #c10110);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#82000a), to(#c10110));
    background-image: -webkit-linear-gradient(top, #82000a, #c10110);
    background-image: -o-linear-gradient(top, #82000a, #c10110);
    background-image: -moz-linear-gradient(top, #82000a, #c10110);
    background-image: linear-gradient(top, #82000a, #c10110);
    background-repeat: repeat-x;
    border-color: #000000;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#82000a', endColorstr='#c10110', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #82000a;
  *background-color: #c10110;
}

.btn-danger {
	margin-top: 3px;
    margin-bottom: 3px;
    background-color: #c10110;
    background-image: -ms-linear-gradient(top, #82000a, #c10110);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#82000a), to(#c10110));
    background-image: -webkit-linear-gradient(top, #82000a, #c10110);
    background-image: -o-linear-gradient(top, #82000a, #c10110);
    background-image: -moz-linear-gradient(top, #82000a, #c10110);
    background-image: linear-gradient(top, #82000a, #c10110);
    background-repeat: repeat-x;
    border-color: #000000;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#82000a', endColorstr='#c10110', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  background-color: #82000a;
  *background-color: #c10110;
}

.btn-info {
	margin-top: 3px;
    margin-bottom: 3px;
    background-color: #c10110;
    background-image: -ms-linear-gradient(top, #82000a, #c10110);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#82000a), to(#c10110));
    background-image: -webkit-linear-gradient(top, #82000a, #c10110);
    background-image: -o-linear-gradient(top, #82000a, #c10110);
    background-image: -moz-linear-gradient(top, #82000a, #c10110);
    background-image: linear-gradient(top, #82000a, #c10110);
    background-repeat: repeat-x;
    border-color: #000000;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#82000a', endColorstr='#c10110', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  background-color: #82000a;
  *background-color: #c10110;
}


a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #c10110;
    text-decoration: none;
}

.alert-info {
    color: #333333;
    background-color: #F1F1F1;
    border-color: #ABAAAA;
}


