@font-face {
  font-family: "ETmodules";
  src: url("/fonts/rockymountainlaundries/modules.eot");
  src: url("/fonts/rockymountainlaundries/modules.eot?#iefix") format("embedded-opentype"),
    url("/fonts/rockymountainlaundries/modules.ttf") format("truetype"),
    url("/fonts/rockymountainlaundries/modules.woff") format("woff"),
    url("/fonts/rockymountainlaundries/modules.svg#ETmodules") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/rockymountainlaundries/OpenSans.woff2") format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/rockymountainlaundries/OpenSans-Semibold.woff2") format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/rockymountainlaundries/OpenSans-Bold.woff2") format('woff2');
}

$navbar-font: bold 14px/14px 'Open Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
$h2-font: bold 30x/39px 'Open Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
$h3-font: 600 18px/27px 'Open Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
$text-font: 300 14px/24px 'Open Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
$button-font: 500 12px/20px 'Open Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
$footer-font: 12px/20px 'Open Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;