@import "../account/base";
@import "fonts";

body {
  overflow-x: hidden;
  color: #818181;
  font: $text-font;
}

h1, h2, a {
  color: #666
}

h2 {
  font: $h2-font;
  color: #0000FF;
  border-bottom: 1px solid #0000ff !important;
}

h3, h3 a {
  font: $h3-font;
  color: #0000FF;
}

#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar {
  margin: 8px 0;

  .navbar-inner {
    background: #00F;
  }

  .navbar-inner-menu {
    padding: 0;
  }

  /* Dropdown Arrows */
  .menu-item-has-children > a:first-child:after {
    font-family: "ETmodules";
    font-size: 16px;
    font-weight: 800;
    content: "3";
  }

}

.navbar .logo {
  float: left;
  height: 90px;
}

.navbar .nav {
  float: right;
  margin: 25px 0 0 0;

  .sub-menu {
    list-style: none;
  }

  ._mi {
    font-size: 16.8px;
  }

  li {
    position: relative;
    line-height: 1em;
  }

  li li {
    position: relative;
    line-height: 2em;
    text-align: center;
  }

  li ul {
    position: absolute;
    padding: 20px 0;
  }

  li ul {
    visibility: hidden;
    z-index: 9999;
    width: 240px;
    border-top: 3px solid #00F;
    opacity: 0;
    background: #fff;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  li ul {
    text-align: left;
    -webkit-transform: translate3d(0, 0, 0);
  }

  li.et-hover > ul {
    visibility: visible;
  }

  li:hover > ul {
    visibility: visible;
    opacity: 0.7;
  }

  li li ul {
    z-index: 1000;
    top: -23px;
    left: 240px;
  }

  li.et-reverse-direction-nav li ul {
    right: 240px;
    left: auto;
  }

  li:hover {
    visibility: inherit;
    /* fixes IE7 'sticky bug' */
  }

  li li a,
  .et_mobile_menu li a {
    font-size: 14px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    i {
      margin-top: 5px;
    }
  }

  ul li a:hover,
  .et_mobile_menu li a:hover {
    opacity: 0.7;
    background-color: rgba(0, 0, 0, 0.03);
    text-decoration: none;
  }
}

.navbar .nav li a {
  float: none;
  color: #333;
  text-decoration: none;
  text-shadow: none;
  font: $navbar-font;
  -webkit-font-smoothing: antialiased;

}

.navbar .nav li a:hover {
  transition: all 0.4s ease-in-out;
  color: inherit;
  text-decoration: none
}

.social-div {
  float: right;
  padding-top: 16px;
  margin-right: 40px;
  .social {
    color: #737c7c;
    font-size: 20px;
    text-decoration: none;
  }
  .social.fa.fa-instagram {
    margin-right: 8px;
    padding-top: 0;
  }
}


.btn {
  border: 1px solid #666;
  border-radius: 3px;
  padding: 12px 14px;
  cursor: pointer;
  font: $button-font;
  text-align: center;
  text-decoration: none;
  line-height: 1em;
  color: #FFF;
  background-color: #2C3538;
  background-image: none !important;
  box-shadow: none;
  text-shadow: none !important;
}

.btn:hover {
  background-color: #0000ff;
  border-color: #0000CC;
}

.alert-info {
  background: #DDD;
}

.alert-info * {
  text-shadow: none;
}

#kiosk_cardNumber {
  width: 150px;
}

#footer {
  position: absolute;
  left: 0;
  background: #222;
  p {
    margin: 0;
    padding-top: 3px;
  }
  .footer {
    margin: 0 auto;
  }
  .social-div {
    float: right;
  }
  .logo_footer {
    float: left;
  }
  .footer_copyright {
    font: $footer-font;
    float: left;
    margin-left: 20px;
    line-height: 44px;
  }

  .et-social-icons {
    float: right;
    font-family: ETmodules;
    margin: 0;
    padding-top: 3px;
  }

  .et-social-icons li {
    display: inline-block;
    margin-left: 20px;
  }

  .et-social-icon a {
    display: inline-block;
    position: relative;
    color: #666;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    transition: color 300ms ease 0s;
  }

  .et-social-icon span {
    display: none;
  }

  /* Icons */
  .et-social-facebook a.icon:before {
    content: "\e093";
  }

  .et-social-twitter a.icon:before {
    content: "\e094";
  }

  .et-social-google-plus a.icon:before {
    content: "\e096";
  }

  .et-social-pinterest a.icon:before {
    content: "\e095";
  }

  .et-social-linkedin a.icon:before {
    content: "\e09d";
  }

  .et-social-tumblr a.icon:before {
    content: "\e097";
  }

  .et-social-instagram a.icon:before {
    content: "\e09a";
  }

  .et-social-skype a.icon:before {
    content: "\e0a2";
  }

  .et-social-flikr a.icon:before {
    content: "\e0a6";
  }

  .et-social-myspace a.icon:before {
    content: "\e0a1";
  }

  .et-social-dribbble a.icon:before {
    content: "\e09b";
  }

  .et-social-youtube a.icon:before {
    content: "\e0a3";
  }

  .et-social-vimeo a.icon:before {
    content: "\e09c";
  }

  .et-social-rss a.icon:before {
    content: "\e09e";
  }

  #top-header .et-social-icon a {
    font-size: 14px;
  }

}

@media (max-width: 979px) {
  body {
    padding: 0;
  }

  .container {
    padding: 0;
  }

  .navbar .brand {
    text-align: center;

    img {
      width: 90%;
      margin: 0 auto;
    }
  }

  .navbar .btn-navbar {
    min-width: auto;
  }

  .navbar .nav {
    float: none;
    width: 100%;
    margin-top: 0;
  }

  /* Mobile Menu */
  .et_mobile_menu {
    display: none;
    visibility: visible;
    position: absolute;
    z-index: 9999;
    left: 0;
    width: 100%;
    padding: 5%;
    border-top: 3px solid #2ea3f2;
    opacity: 1;
    background: #fff;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  #main-header .et_mobile_menu li ul,
  .et_pb_fullwidth_menu .et_mobile_menu li ul {
    display: block !important;
    visibility: visible !important;
    padding-left: 10px;
  }

  .et_mobile_menu li li {
    padding-left: 5%;
  }

  .et_mobile_menu li a {
    display: block;
    padding: 10px 5%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.03);
    color: #666;
  }

  .et_mobile_menu .menu-item-has-children > a {
    background-color: rgba(0, 0, 0, 0.03);
    font-weight: bold;
  }

  .et_mobile_menu li .menu-item-has-children > a {
    background-color: transparent;
  }

  .et_mobile_nav_menu {
    display: none;
    float: right;
  }

  #footer {
    .footer {
      width: auto;
      text-align: center;
      margin: 10px 0;

      ul {
        float: none;
        margin: 0 auto;
      }

      p {
        clear: both;
        padding: 0 20px;
      }
    }
  }
}