#nav-wrapper { height:75px; margin:auto;}
#lucy-logo{ width: 400px; height:110px; float:left;}
#lucy-logo-small{ width: 233px; height:110px; float:left;}
#translate-bar{ background:#ffffff; height:30px; width:100%;}
#menu-area{ background:#0067b2; height:auto;}
.the-body-area{ margin-top:100px; display:block;}
ul.service-bullets  { margin: 5px 0;padding: 30px 0 0 0;}
ul.service-bullets li { background:url('/images/lucyslaundry/checkit.png') no-repeat; float: left; padding-left: 25px; margin-left: 0px; width: 33%; list-style: none;}
.clear {clear:both;}
ul.mobile-service-bullets  { margin: 5px 0;padding: 30px 0 0 0;}
ul.mobile-service-bullets li { background:url('/images/lucyslaundry/checkit.png') no-repeat; float: left; padding-left: 25px; margin-left: 0px; width: 100%; list-style: none;}
ul.clearing-thumbs li {
float: left;
margin: 10px;
list-style: none;
}
/* Stylesheet: My Touches Modified On 2013-07-09 20:29:04 */
