@charset "utf-8";
/* CSS Document */

@media only screen and (max-width : 1220px) {
	.column-2-bg{
		background-position:right;
	}
	.welcome{
		width:450px;
	}
	.column-2{
		padding-bottom:20px;
		background-size:30%;
	}
	.column-3{
		width:95%;
	}
	/*.app{
		width:210px;
	}*/
	.vid-left{
		width:240px;
	}
	.howitwork a{
		width:90px;
	}
	.vid-left.group > h2{
		font-size:16px;
	}
	.logo{
		width:35%;
		height:auto;
		margin-top:3%;
	}
	.logo img{
		width:100%;
		float:left;
	}
	.header{
		width:96%;
	}
	.nav{
		width:65%;
	}
	.nav ul{
		float:right;
	}
	.nav ul li a{
		font-size:13px;
	}
	}
	@media only screen and (max-width : 1100px) {
	.nav ul li a{
		font-size:12px;
	}
	}
	@media only screen and (max-width : 1050px) {
	
	/*.app{
		width:27%;
	}*/
	/*.howitwork a {
	    margin-right: 1.3%;
	    margin-top: 45px;
	    width: 24%;
	}*/
	.vid{
		width:95%;
	}
	.watch{
		font-size:35px;
	}
	.services{
		width:95%;
	}
	.testimonials{
		width:95%;
	}
	.bx-wrapper {
	    margin: 0 auto 60px;
	    max-width: unset !important;
	    padding: 0;
	    position: relative;
	    width: 100%;
	}
	.apps{
		width:95%;
	}
	.main-conetent{
		width:95%;
	}
	#primary{
		width:64%;
	}
	#secondary{
		width:32%;
	}
	}
	@media only screen and (max-width : 979px) {
	#header{
		background:#FFF;
	}
	.header{
		width:100%;
	}
	.logo{
		margin-left:15px;
	}
	.top-right{
		margin-right:15px;
	}
	.nav{
		float:left;
		width:100%;
		background-image:none;
		border-top:solid 2px #000;
		text-align:center;
	}
	.menu-main-container {
	    margin: auto;
	    width: 98%;
	}
	.nav ul{
		width:100%;
	}
	.nav ul li{
		padding:0 2%;
	}
	.nav ul li a{
		color:#000;
		font-size:13px;
	}
	.dont{
		color:#000;
	}
	.rigster a{
		color:#000;
	}
	.top-right{
		width:520px;
	}
	.shadule{
		width:100%;
	}
	.column-2{
		background-size:36%;
	}
	.column-2-bg{
		background-image:none;
	}
	.welcome{
		width:68%;
		float:right;
	}
	#column-2, .column-2, .column-2-bg{
		min-height:initial !important;
	}
	.app{
		text-align:center;
		margin:auto;
		float:none;
		clear:both;
		top:25px;
		margin-bottom:20px;
	}
	.app img{
		width:auto;
		height:auto;
	}
	.howitwork{
		width:660px;
		margin: 0 auto;
		float:none;
	}
	.vid-left{
		width:100%;
		margin-top:25px;
		margin-bottom:20px;
	}
	
	.vid-left.group > h2 {
	    font-size: 20px;
	}
	.vid-inner{
		width:500px;
		float:none;
		margin:0 auto;
		clear:both;
	}
	.howitwork a {
	    margin-right: 18px;
	    margin-top: 45px;
	    width: 150px;
	}
	.service-box{
		min-height:300px;
	}
	.quote{
		display:none;
	}
	.testi-content{
		width:100%;
		margin-left:0;
		text-align:center;
	}
	.content p{
		margin-top:0;
	}
	.footer{
		width:90%;
	}
	.quick{
		width:20%;
	}
	.contact-details{
		width:30%;
	}
	.subscr{
		width:35%;
	}
	.follow{
		width:15%;
	}
	.footer h1{
		font-size:16px;
	}
	.es_caption{
		width:90% !important;
	}
	}
	@media only screen and (max-width : 860px) {
	.top-right{
		width:450px;
	}
	.sh{
		font-size:14px;
		line-height:38px;
	}
	.foru-7 a img {
	    width: 100%;
	}
	/*.foru-7 a {
	    float: left;
	    height: 30px;
	    margin-right: 7px;
	    margin-top: 12px;
	    width: 30px;
	}*/
	/*.nav ul li{
		padding:0 2.5%;
	}*/
	.watch {
	    font-size: 30px;
	    line-height: 45px;
	}
	.phone{
		font-size:20px;
	}
	.contact-details span{
		font-size:12px;
	}
	.es_caption{
		font-size:13px !important;
	}
	.contact-details {
	    width: 32%;
	}
	.subscr {
	    width: 32%;
	}
	.footer h1 {
	    font-size: 14px;
	}
	.quick ul li{
		font-size:12px;
	}
	.nav ul li {
	    padding: 0 10px;
	}
	#primary{
		width:100%;
	}
	#secondary{
		width:100%;
	}
	#secondary .service-box{
		width:47%;
	}
	#secondary .service-box:last-child{
		float:right;
	}
	}
	@media only screen and (max-width : 979px) {
	#header{
		padding-bottom:20px;
	}
	.logo{
		width:100%;
		text-align:center;
	}
	.logo img{
		width:300px;
		float:none;
	}
	.top-right{
		float:none;
		margin:auto;
		clear:both;
		padding-top:20px;
	}
	.nav{
		display:none;
	}
	#sideSlideToggle{
		display:block;
	}
	
	.dont {
	    color: #000000;
	    padding-bottom: 10px;
	    text-align: center;
	    width: 100%;
		font-size:14px;
	}
	.dont br{
		display:none;
	}
	.goahed{
		width:100%;
	}
	.rigster {
	    float: right;
	    text-align: center;
	    width: 100%;
	}
	.rigster a{
		float:none;
		display:inline-block;
	}
	.rigster span{
		float:none;
		display:inline-block;
	}
	.column-2{
		background-image:none;
	}
	.welcome {
	    float: none;
	    width: 95%;
	}
	
	.contact-details, .quick, .subscr, .follow {
	    width: 50%;
	}
	#footer, #footer-lg{
		background-image:none;
		padding-bottom:20px;
	}
	.footer h1 {
	    border-bottom: 1px solid #ffffff;
	    font-size: 14px;
	    margin-bottom: 10px !important;
	    padding-bottom: 20px;
	}
	.follow a{
		padding-bottom:10px;	
	}
	.foru-7{
		float:none;
		margin:auto;
	}
	}
	@media only screen and (max-width : 700px) {
	.howitwork{
		width:300px;
		margin-top:25px;
	}
	.tooltip2, .tooltip4{
		margin-right:0 !important;
		float:right !important;
	}
	.vid-left{
		margin-top:0;
	}
	.howitwork a {
	    margin-top: 0;
	    min-height: 170px;
	    width: 130px;
		margin-bottom:20px;
	}
	.howitwork a h2{
		font-size:16px;
		line-height:18px;
	}
	.howitwork h1{
		margin-bottom:25px;
	}
	.app{
		margin-top:0;
	}
	.app{
		width:250px;
	}
	.app img{
		width:100%;
	}
	.plapp a{
	     height: 32px;
	    width: 32px;
	}
	.plapp a img {
	    height: 32px !important;
	    width: 32px !important;
	}
	.vid-left {
	    float: none;
	    margin: auto;
	    width: 95%;
		margin-top:15px;
	}
	.vid-right{
		display:none;
	}
	.watch{
		width:100%;
		padding-top:0;
		float:none;
		text-align:center;
		font-size:25px;
		line-height:normal;
	}
	.service-box{
	    clear: both;
	    float: none;
	    margin: auto auto 30px;
	    position: relative;
	    width: 80%;
		min-height:270px;
	}
	.service-box:nth-child(3n+3) {
	    margin: auto;
	}
	.service-inner{
		padding:3% 0;
	}
	.service-inner h3{
		font-size:16px;
	}
	#secondary{
		text-align:center;
	}
	#secondary h1{
		text-align:left;
	}
	#secondary .service-box{
		width:80%;
		float:none;
		margin:20px auto 10px;
	}
	#secondary .service-box:last-child{
		float:none;
	}
	}
	@media only screen and (max-width : 570px) {
	.vid-inner{
		float:left;
		width:100%;
	}	
	}
	@media only screen and (max-width : 520px) {
	.top-right{
		width:100%;
	}
	.shadule{
		text-align:center;
	}
	.sh{
		width:95%;
		/*display:inline-block;*/
		padding:0;
		text-align:center;
		float:none;
	}
	.foru-7 {
	    float: none;
	    margin: 6px auto auto;
	    width: 95%;
		text-align:center;
	}
	.foru-7 a {
	    display: inline-block;
	    float: none;
	    height: 33px;
	    margin-right: 10px;
	    margin-top: 10px;
	    width: 32px;
	}
	.phn{
		font-size:16px;
		padding-bottom:8px;
		line-height:28px;
	}
	.logo img{
		width:220px;
	}
	.welcome p {
	    font-size: 14px;
	    line-height: 27px;
	    margin-top: 10px;
		padding:0 10px;
	}
	.welcome h1{
		font-size:20px;
	}
	.welcome a{
		margin-top:10px;
		height: 35px;
	    line-height: 34px;
		font-size:14px;
	}
	.watch{
		font-size:18px;
	}
	.service-box{
		width:90%;
	}
	.testimonials h1{
		font-size:20px;
	}
	#apps{
		padding-top:8%;
	}
	.apps{
		text-align:center;
	}
	.apps a{
		display:inline-block;
		margin:auto;
		width:60%;
		float:none;
		margin-bottom:20px;
	}
	.contact-details, .quick, .subscr, .follow {
	    width: 100%;
	}	
    
    .navbar .brand, .span7, .logo, .menu-item, .footer, #account_menu {
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .es_textbox_class, .subscr { 
    	 float: none; 
    	 width: none;
    }
    
}