@font-face {
  font-family: 'Birdseye';
  src: url("/fonts/comfortcube/Birdseye.woff2") format("woff2");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/comfortcube/Roboto-Regular.woff2") format("woff2"); }
@font-face {
  font-family: 'Patua One';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/comfortcube/PatuaOne-Regular.woff2") format("woff2"); }
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/comfortcube/Karla-Regular.woff2") format("woff2"); }
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/comfortcube/Karla-Bold.woff2") format("woff2"); }
@font-face {
  font-family: 'Karla';
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/comfortcube/Karla-Italic.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }
@font-face {
  font-family: 'Karla';
  font-style: italic;
  font-weight: 700;
  src: url("/fonts/comfortcube/Karla-BoldItalic.woff2") format("woff2"); }
@font-face {
  font-family: 'Amaranth';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/comfortcube/Amaranth.woff2") format("woff2"); }
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/comfortcube/Montserrat-Regular.woff2") format("woff2"); }
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/comfortcube/Montserrat-Bold.woff2") format("woff2"); }
@font-face {
  font-family: 'Sansation';
  src: url("/fonts/comfortcube/Sansation.ttf") format("truetype"); }
@font-face {
  font-family: 'wsocial';
  src: url("/fonts/comfortcube/wsocial.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/comfortcube/Lato.woff2") format("woff2"); }

/*# sourceMappingURL=fonts.css.map */
