@charset "UTF-8";
ul.inline {
  list-style: none; }

ul.inline li {
  display: inline-block; }

#default_account_nav ul,
#default_account_nav ol {
  list-style: none;
  list-style-image: none;
  margin-left: 0;
  padding: 0; }

.invalid {
  color: red; }

.laundry_plan .green {
  color: #6D9E2C;
  background: white !important;
  border: none;
  filter: none; }

.row-fluid [class*="span"].center, .center {
  margin: 0 auto;
  float: none; }

.navbar-inner-menu {
  min-height: 35px;
  padding-right: 20px;
  padding-left: 20px; }

#btnSignIn {
  padding: 5px 30px;
  font-weight: bold;
  font-size: 16px; }

#signInWrapper {
  width: 145px;
  padding: 10px;
  background-color: #d5e5f5;
  float: right;
  border-radius: 3px;
  margin-top: 5px;
  text-align: center; }

#getStartedWrapper {
  display: block;
  clear: both;
  float: right;
  margin-top: 5px; }

.btn-home {
  font-weight: bold; }

.container {
  padding: 10px 0; }

.navbar .nav > li.login {
  display: none; }

/* New Styles */
.hero-block {
  background: #0f4174;
  /* Old browsers */
  background: -moz-linear-gradient(top, #0f4174 0%, #3e7bb4 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0f4174), color-stop(100%, #3e7bb4));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #0f4174 0%, #3e7bb4 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #0f4174 0%, #3e7bb4 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #0f4174 0%, #3e7bb4 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #0f4174 0%, #3e7bb4 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f4174', endColorstr='#3e7bb4',GradientType=0 );
  /* IE6-9 */ }

.calloutBanner {
  background: #f5f7f2;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f5f7f2 0%, #ffffff 71%, #dee2d4 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f7f2), color-stop(71%, #ffffff), color-stop(100%, #dee2d4));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f5f7f2 0%, #ffffff 71%, #dee2d4 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f5f7f2 0%, #ffffff 71%, #dee2d4 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f5f7f2 0%, #ffffff 71%, #dee2d4 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f5f7f2 0%, #ffffff 71%, #dee2d4 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f7f2', endColorstr='#dee2d4',GradientType=0 );
  /* IE6-9 */
  height: 130px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.51);
  -moz-box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.51);
  box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.51);
  margin-bottom: 20px;
  display: block;
  clear: both;
  height: auto;
  overflow-y: auto;
  overflow-x: hidden; }

.calloutSpecial {
  background-color: #EAF2FB;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.51);
  -moz-box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.51);
  box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.51);
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px; }

.blueGradient {
  background: #103f75;
  /* Old browsers */
  background: -moz-linear-gradient(top, #103f75 0%, #3e7bb4 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #103f75), color-stop(100%, #3e7bb4));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #103f75 0%, #3e7bb4 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #103f75 0%, #3e7bb4 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #103f75 0%, #3e7bb4 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #103f75 0%, #3e7bb4 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#103f75', endColorstr='#3e7bb4',GradientType=0 );
  /* IE6-9 */
  -webkit-box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.75); }

.calloutBannerPic {
  float: left;
  width: 40%; }

.calloutBannerText {
  float: left;
  width: 50%;
  margin-left: 5%;
  text-align: left; }

.calloutBannerPicc20 {
  float: left;
  width: 30%; }

.calloutBannerTextc20 {
  float: left;
  width: 60%;
  margin-left: 5%;
  text-align: left; }

.calloutServices {
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 10px; }

.calloutServices .homeWhiteMed {
  text-align: center; }

#calloutLeft {
  margin-left: 5px;
  float: left; }

.calloutH1 {
  font-size: 25px; }

.calloutH2 {
  font-size: 18px; }

#fourSteps {
  margin-left: 5px; }

#fourSteps li {
  margin-right: 5px;
  vertical-align: top;
  float: left;
  text-align: center; }

#fourSteps li img {
  width: 85%;
  height: 85%; }

#fourSteps li.last {
  margin-right: 0px; }

.questionsWrapper {
  float: left;
  width: 800px;
  margin-left: -161px;
  padding-left: 161px;
  border: 1px solid Gray;
  border-radius: 5px;
  padding-top: 6px;
  margin-bottom: 10px; }

.questionsSection {
  float: left;
  width: 150px;
  margin-top: 20px;
  margin-left: 10px; }

.questionsList {
  float: left;
  margin-top: 8px;
  margin-left: 10px;
  text-align: left; }

.howtoWrapper, .partnersWrapper {
  border: 1px solid silver;
  border-radius: 5px;
  margin-bottom: 50px; }

.partnersRow {
  margin-bottom: 30px; }

.partnersRow h3 {
  margin-top: 15px; }

.partnersType {
  margin-top: 40px; }

#lockerPics {
  text-align: center; }

#lockerPics li {
  margin-bottom: 10px; }

.howtoIcon {
  text-align: center; }

#howtoVideo {
  margin-bottom: 10px; }

#howtoVideo iframe {
  width: 100%; }

#map {
  width: 100%;
  height: 400px; }

.pricingTableInner {
  width: 100%;
  display: block;
  clear: both; }

.pricingColumn {
  text-align: right; }

.dryCleanNote {
  padding: 10px 0;
  border-top: 1px dotted silver;
  border-bottom: 1px dotted silver; }

.pricingTableInner div.bodyReg {
  padding: 10px; }

.laundryPlansButton {
  margin-top: 5px;
  clear: both; }

ul#locationTablePublic {
  margin-bottom: 50px; }

ul#locationTablePublic li {
  margin-bottom: 10px; }

.bodyRegItemMap {
  font-size: 17px; }

.bodyRegItemMap a {
  color: #6D9E2C; }

.btn-success {
  background-color: #61930a; }

/*.span4.kiosk-access-form {
    width: 60%;
    height: 160px;
}*/
.kiosk-access-buttons {
  right: 0; }

#setup_access_button, #update_access_button, #remove_access_button {
  width: 100%; }

#credit_card_form {
  width: 100%; }

#billing_info_fields div.span2 {
  width: 40%; }

#credit_card_fields input, #billing_info_fields input, #billing_info_fields select {
  width: 100%; }

div.control-group.span1 {
  width: 20%; }

#homeBannerCta .btn-primary, .calloutServices .btn-primary {
  background-color: #1a4385;
  background-image: -ms-linear-gradient(top, #1a4385, #163873);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1a4385), to(#163873));
  background-image: -webkit-linear-gradient(top, #1a4385, #163873);
  background-image: -o-linear-gradient(top, #1a4385, #163873);
  background-image: -moz-linear-gradient(top, #1a4385, #163873);
  background-image: linear-gradient(top, #1a4385, #163873);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#1a4385',endColorstr='#163873',GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false); }

.calloutBanner .btn-primary {
  background-color: #266CAC;
  font-weight: bold; }

.btn-primary:hover, .btn-success:hover {
  background-position: 0 0; }

.row-fluid .row .offset1 {
  margin-left: 130px; }

#work_info_form button {
  margin-top: 20px;
  text-align: center;
  display: block; }

#work_info_form input {
  width: 90%;
  margin-bottom: 20px; }

#work_info_form label {
  font-size: 15px; }

.WorkInfoFormWrapper h3 {
  font-size: 18px;
  margin-bottom: 20px; }

.privacy_policy p {
  font-size: 14px; }

.privacy_policy ul {
  font-size: 14px;
  margin: 20px 0 45px 0; }

.privacy_policy ul li {
  margin-bottom: 15px; }

.privacy_policy h3 {
  margin: 20px 0 5px 0; }

h2.gray-header {
  /*color:#666;*/
  margin: 10px 0;
  min-height: 42px; }

.centered {
  text-align: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  /*color:#666;*/
  font-size: 1em;
  line-height: 1.4em; }

.header-with-space {
  clear: both;
  margin: 20px 0; }

.blue-btn {
  display: inline-block;
  text-align: center;
  padding: 10px 40px;
  background-color: #36ace0;
  color: #fff;
  font-size: 14px;
  margin-top: 25px;
  text-decoration: none; }

.blue-btn:hover {
  color: #fff;
  text-decoration: none; }

.max-image {
  max-width: 100%; }

#dryCleanTable {
  background-color: #EAF2FB;
  color: #266CAC;
  border: none; }

#dryCleanTable thead th {
  text-align: right;
  border: none; }

#dryCleanTable th, #dryCleanTable td {
  border: none;
  font-size: 14px; }

#dryCleanTable .priceCell {
  text-align: right; }

@media (max-width: 979px) {
  .row-fluid .row .offset1 {
    margin-left: 0px; } }
.span7.offset1 {
  margin-left: 45px !important; }

.row-fluid .row {
  margin-left: 0px; }

.fluid-container {
  margin-left: 30px; }

h2.h2Faq {
  border-bottom: 1px dashed #ccc;
  margin: 1em 0 2em; }

h1.turnaround, h2.turnaround, h4.turnaround, h1.howitworks, h3.turnaround_title, h3.howitworks, h2.concierge_h2 {
  color: #266CAC; }

.bodyBigGray {
  color: #4a4a4a;
  font-size: 15px; }

h1.turnaround, h2.turnaround {
  text-align: center; }

h3.howitworks {
  font-size: 19px;
  text-align: center;
  margin: 15px 0 25px 0;
  font-weight: 700; }

h3.turnaround_title {
  border-bottom: 1px solid #979797; }

.howitworks_pic {
  margin: 0 auto;
  display: block; }

.howitworks_wrapper {
  margin: 25px 0; }

.howitworks_col {
  width: 168px;
  margin-right: 26px;
  display: inline-block;
  float: left; }

.howitworks_col_last {
  width: 168px;
  margin-right: 0;
  display: inline-block;
  float: left; }

.howitworks_col p, .howitworks_col_last p {
  line-height: 1.4;
  min-height: 184px; }

.howitworks_link {
  color: #6D9E2C;
  font-weight: 700;
  font-size: 13px;
  text-transform: capitalize; }

.howto_hero_pic {
  width: 619px;
  margin-bottom: 15px; }

.concierge_pic {
  max-width: 150px;
  display: block;
  margin: 0 auto; }

.concierge_h2 {
  font-size: 18px;
  color: #4a4a4a;
  line-height: 1; }

.concierge_p {
  margin-top: 15px; }

.concierge_wrapper {
  margin-top: 25px; }

.concierge_row {
  margin-bottom: 30px; }

.small_letter {
  font-size: 13px; }

h3.pricing_title {
  font-size: 18px;
  color: #4a4a4a;
  margin-bottom: 15px; }

@media (max-width: 1199px) {
  #scheduled-lm-button {
    margin-top: 43px; }

  #homeVideo {
    width: 350px; }

  .calloutBannerPic {
    float: left;
    width: 40%; }

  .calloutBannerPic img {
    width: 100px;
    height: 100px; }

  .calloutBannerText {
    float: left;
    width: 50%;
    margin-left: 10%;
    text-align: left; }

  .calloutBannerPicc20 {
    display: none; }

  .calloutBannerTextc20 {
    width: 90%; }

  .calloutBannerTextc20 a {
    margin-top: 10px; }

  a.navText {
    margin-left: 20px; }

  #fourSteps li {
    margin-right: 0px;
    font-size: 13px; }

  #fourSteps li img {
    width: 70px; }

  .calloutH1 {
    font-size: 23px; }

  .calloutH2 {
    font-size: 15px; }

  #calloutIphone {
    width: 50px; }

  .howitworks_col {
    width: 140px;
    margin-right: 16px;
    display: inline-block;
    float: left; }

  .howitworks_col_last {
    width: 140px;
    margin-right: 0;
    display: inline-block;
    float: left; }

  h3.howitworks {
    font-size: 15px;
    text-align: center;
    margin: 15px 0 25px 0;
    font-weight: 700; }

  .howitworks_pic {
    width: 90px; }

  .howto_hero_pic {
    width: 495px; } }
@media (max-width: 979px) {
  #homeVideo {
    width: 350px; }

  #homeText {
    width: 100%;
    text-align: center; }

  #fourStepsWrapper {
    width: 100%; }

  a.navText {
    margin-left: 20px; }

  #fourSteps li {
    margin-right: 0px;
    font-size: 13px; }

  #fourSteps li img {
    width: 70px; }

  .calloutH1 {
    font-size: 23px; }

  .calloutH2 {
    font-size: 15px; }

  #calloutIphone {
    width: 50px; }

  .calloutBannerPic, .calloutBannerPicc20 {
    display: none; }

  .calloutBannerText, .calloutBannerTextc20 {
    width: 100%;
    margin: 0; }

  .span4 .testimonies {
    width: 45%;
    float: none; }

  #fb_share, #twitter_share {
    display: none; }

  h2.h2Faq {
    margin: 20px 0;
    border-bottom: 1px solid gray; }

  .howtoIcon img {
    width: 50px; }

  #lockerPics li img {
    width: 100%; }

  h1.turnaround, h2.turnaround, h4.turnaround {
    margin-bottom: 25px; }

  h4.turnaround {
    font-size: 18px;
    text-align: center; }

  h3.howitworks {
    font-size: 24px;
    text-align: center;
    margin: 15px 0 25px 0;
    font-weight: 700; }

  .howitworks_col {
    width: 100%;
    margin-right: 0;
    display: inline-block;
    float: left; }

  .howitworks_col_last {
    width: 100%;
    margin-right: 0;
    display: inline-block;
    float: left; }

  .howto_hero_pic {
    width: 375px; }

  .concierge_pic {
    max-width: 120px; }

  .howitworks_col p, .howitworks_col_last p {
    min-height: 0; } }
@media (max-width: 767px) {
  .span7.offset1 {
    margin-left: 0px !important; }

  .footerSpan {
    text-align: center;
    border: 0px solid transparent; }

  #fb_share, #twitter_share {
    display: inline; }

  #fourStepsWrapper {
    margin-left: 15%; }

  #fourSteps li {
    margin-right: 20px;
    font-size: 15px; }

  #fourSteps li img {
    width: 80px; }

  .testimonies {
    margin-top: 20px; }

  #rightBanners {
    margin-top: 20px; }

  .calloutBannerText {
    text-align: center; }

  .calloutBannerText a {
    margin: 0 auto;
    margin-top: 10px; }

  #firstTime {
    margin: 20px auto;
    width: 50%; }

  .howtoIcon img {
    width: 80px; }

  #howtoVideo iframe {
    height: 300px; }

  #fourSteps {
    margin-left: 30px; }

  .pricingTableInner div.bodyReg.span9 {
    float: left; }

  .pricingTableInner div.bodyReg.span3 {
    float: right; }

  .laundryPlansButton {
    margin-top: 5px; }

  .howto_hero_pic {
    width: 100%; }

  .fluid-container {
    margin-left: 0; } }
@media (max-width: 570px) {
  #fourStepsWrapper {
    margin-left: 0; } }
@media (max-width: 570px) {
  #fourSteps li img {
    width: 60px; } }
@media (max-width: 479px) {
  #fourStepsWrapper {
    margin: 0 auto;
    margin-left: 0; }

  #fourSteps li {
    margin-right: 5px;
    font-size: 13px; }

  #fourSteps li img {
    width: 50px; } }
@media (max-width: 466px) {
  #fourSteps {
    margin-left: 55px; } }
@media (max-width: 444px) {
  .homeWhiteMed {
    color: #fff;
    font-size: 18px;
    line-height: 5px;
    text-decoration: none; }

  .homeWhiteBig {
    color: #fff;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 25px; }

  #homeBannerCta {
    margin: 25px 0 0 0; }

  /*#sign_up_free {
      margin-top: 15px;
  }*/ }
.shoeshine-hero {
  max-width: 600px; }

@media (max-width: 1200px) {
  .shoeshine-hero {
    max-width: 500px; } }
@media (max-width: 1000px) {
  .shoeshine-hero {
    max-width: 400px; } }
.media-icons .span1 {
  width: 12%;
  *width: 12%;
  height: 80px;
  vertical-align: bottom; }

.fluid-video {
  width: 100%;
  height: 380px; }

@media (max-width: 1000px) {
  .media-icons .span1 {
    width: auto;
    margin: 5px 20px !important;
    float: left; }

  .services .span2 {
    width: 10em;
    height: auto;
    float: left;
    margin-right: 10px; } }
@font-face {
  font-family: 'Birdseye';
  src: url("/fonts/comfortcube/Birdseye.woff2") format("woff2");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/comfortcube/Roboto-Regular.woff2") format("woff2"); }
@font-face {
  font-family: 'Patua One';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/comfortcube/PatuaOne-Regular.woff2") format("woff2"); }
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/comfortcube/Karla-Regular.woff2") format("woff2"); }
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/comfortcube/Karla-Bold.woff2") format("woff2"); }
@font-face {
  font-family: 'Karla';
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/comfortcube/Karla-Italic.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }
@font-face {
  font-family: 'Karla';
  font-style: italic;
  font-weight: 700;
  src: url("/fonts/comfortcube/Karla-BoldItalic.woff2") format("woff2"); }
@font-face {
  font-family: 'Amaranth';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/comfortcube/Amaranth.woff2") format("woff2"); }
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/comfortcube/Montserrat-Regular.woff2") format("woff2"); }
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/comfortcube/Montserrat-Bold.woff2") format("woff2"); }
@font-face {
  font-family: 'Sansation';
  src: url("/fonts/comfortcube/Sansation.ttf") format("truetype"); }
@font-face {
  font-family: 'wsocial';
  src: url("/fonts/comfortcube/wsocial.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/comfortcube/Lato.woff2") format("woff2"); }
body {
  overflow-x: hidden;
  color: #818181;
  font: 300 14px/24px Karla, sans-serif; }

h1, h2, a {
  color: #373c40; }

h2 {
  font: bold 25px/36px Karla, sans-serif;
  border-bottom: 1px solid #373c40 !important; }

h3, h3 a {
  font: bold 18px/27px Karla, sans-serif;
  color: #373c40; }

#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }
  #header .container {
    padding: 0; }

.navbar {
  margin: 8px auto; }

.navbar .logo {
  float: left; }

.navbar .nav {
  float: right; }
  .navbar .nav .dropdown-menu {
    border: 1px solid #000;
    border-radius: 0;
    padding: 0;
    font: normal 13px/normal "Montserrat", sans-serif; }
    .navbar .nav .dropdown-menu a {
      text-transform: uppercase;
      padding: 5px 10px; }
    .navbar .nav .dropdown-menu a:hover {
      background: #e3e3e3;
      color: #000; }
  .navbar .nav .dropdown-menu:after, .navbar .nav .dropdown-menu:before {
    display: none; }
  .navbar .nav .dropdown:hover .dropdown-menu {
    display: block; }

.navbar .login {
  list-style: none;
  float: right;
  margin-top: 25px;
  padding-left: 15px; }

.navbar .nav > li {
  margin: 5px 5px 5px 0; }

.navbar .nav > li > a {
  float: none;
  padding: 10px 20px;
  color: #000;
  letter-spacing: normal;
  text-decoration: none;
  text-shadow: none;
  font: 500 13px/13px "Lato";
  border: 1px solid transparent; }

.navbar .nav > li > a:hover {
  color: #000;
  opacity: 0.6; }

.social-div {
  float: right;
  padding-top: 16px;
  margin-right: 40px; }
  .social-div .social {
    color: #737c7c;
    font-size: 20px;
    text-decoration: none; }
  .social-div .social.fa.fa-instagram {
    margin-right: 8px;
    padding-top: 0; }

.btn, .wsite-button {
  border: 1px solid #000;
  border-radius: 0px;
  padding: 14px 30px;
  cursor: pointer;
  font: normal 12px/12px Amaranth, sans-serif;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1em;
  color: #000;
  background-color: #FFF;
  background-image: none !important;
  box-shadow: none;
  text-shadow: none !important; }
  .btn .icon-white, .wsite-button .icon-white {
    background-image: url("/bootstrap/img/glyphicons-halflings.png"); }

.btn:hover .icon-white {
  background-image: url("/bootstrap/img/glyphicons-halflings-white.png"); }

.alert-info {
  border-radius: 0;
  background-color: #929292;
  border: 1px solid #626262; }
  .alert-info * {
    text-shadow: none; }
  .alert-info h1, .alert-info p {
    color: #FFF; }

input, textarea, select {
  border-radius: 0;
  border: 1px solid #333; }

#kiosk_cardNumber {
  width: 150px; }

#footer {
  position: absolute;
  left: 0;
  background: #F2F2F2;
  padding-top: 30px; }
  #footer .footer {
    margin: 0 auto;
    padding: 60px 40px; }
    #footer .footer h2 {
      font: bold 18px/22.5px "Montserrat", sans-serif;
      border: 0 !important; }
    #footer .footer .map h2 {
      color: #5cbce0;
      margin-bottom: 20px; }
    #footer .footer .testimonies h2 {
      color: #818181; }
      #footer .footer .testimonies h2 em {
        font-weight: normal;
        margin-top: 5px; }
    #footer .footer .contact h2 {
      color: #000;
      margin-bottom: 20px; }
    #footer .footer .contact ul {
      margin-left: 0; }
    #footer .footer .contact .wsite-social {
      padding: 10px 0; }
      #footer .footer .contact .wsite-social a {
        color: #000;
        font-size: 20px;
        margin: 5px; }

@media (max-width: 979px) {
  body {
    padding: 0; }

  .container {
    padding: 0; }

  .navbar .btn-navbar, .navbar .btn-navbar:hover {
    min-width: auto;
    background: #FFF;
    border: 0; }
    .navbar .btn-navbar .icon-bar, .navbar .btn-navbar:hover .icon-bar {
      background-color: #000;
      box-shadow: none; }
  .navbar .nav {
    float: none;
    width: 100%;
    margin-top: 0;
    text-align: center; }
  .navbar .nav > li {
    margin: 0; }
  .navbar .nav > li > a {
    padding: 10px 0;
    color: #000;
    font: 500 13px/13px "Lato";
    margin: 0;
    display: block;
    border: 0; }
  .navbar .nav > li > a:hover {
    background: rgba(0, 0, 0, 0.05);
    border: 0;
    border-radius: 0; }

  #interior_mobile_menu .navbar-inner {
    background: #FFF;
    box-shadow: none;
    border-bottom: 1px solid #0971ce; }

  #interior_mobile_menu .brand,
  #interior_mobile_menu .btn-group {
    color: #0971ce; }

  #footer .footer {
    width: auto;
    margin-left: 20px; } }
@font-face {
  font-family: "wsocial";
  src: url(//cdn2.editmysite.com/fonts/wSocial/wsocial.eot?cachebust=true);
  src: url(//cdn2.editmysite.com/fonts/wSocial/wsocial.eot?cachebust=true#iefix) format("embedded-opentype"), url(//cdn2.editmysite.com/fonts/wSocial/wsocial.woff?cachebust=true) format("woff"), url(//cdn2.editmysite.com/fonts/wSocial/wsocial.ttf?cachebust=true) format("truetype"), url(//cdn2.editmysite.com/fonts/wSocial/wsocial.svg?cachebust=true#wsocial) format("svg");
  font-weight: normal;
  font-style: normal; }
.wsite-social-dribbble:before {
  content: ""; }

.wsite-com-product-social-dribbble:before {
  content: ""; }

.wsite-social-color .wsite-social-dribbble:before {
  content: "\e60c";
  color: #f077a0; }

.wsite-social-square .wsite-social-dribbble, .wsite-social-square.wsite-social-dribbble {
  background-color: #f077a0; }

.wsite-social-square .wsite-social-dribbble:after, .wsite-social-square.wsite-social-dribbble:after {
  content: "\e60c";
  color: #ffffff; }

.wsite-social-mail:before {
  content: ""; }

.wsite-com-product-social-mail:before {
  content: ""; }

.wsite-social-color .wsite-social-mail:before {
  content: "\e603";
  color: #363b3e; }

.wsite-social-square .wsite-social-mail, .wsite-social-square.wsite-social-mail {
  background-color: #363b3e; }

.wsite-social-square .wsite-social-mail:after, .wsite-social-square.wsite-social-mail:after {
  content: "\e603";
  color: #ffffff; }

.wsite-social-facebook:before {
  content: ""; }

.wsite-com-product-social-facebook:before {
  content: ""; }

.wsite-social-color .wsite-social-facebook:before {
  content: "\e600";
  color: #3b5998; }

.wsite-social-square .wsite-social-facebook, .wsite-social-square.wsite-social-facebook {
  background-color: #3b5998; }

.wsite-social-square .wsite-social-facebook:after, .wsite-social-square.wsite-social-facebook:after {
  content: "\e600";
  color: #ffffff; }

.wsite-social-flickr-left:before {
  content: ""; }

.wsite-com-product-social-flickr-left:before {
  content: ""; }

.wsite-social-color .wsite-social-flickr-left:before {
  content: "\e60d";
  color: #0063dc; }

.wsite-social-square .wsite-social-flickr-left, .wsite-social-square.wsite-social-flickr-left {
  background-color: #0063dc; }

.wsite-social-square .wsite-social-flickr-left:after, .wsite-social-square.wsite-social-flickr-left:after {
  content: "\e60d";
  color: #ffffff; }

.wsite-social-flickr-right:before {
  content: ""; }

.wsite-com-product-social-flickr-right:before {
  content: ""; }

.wsite-social-color .wsite-social-flickr-right:before {
  content: "\e60e";
  color: #ff0084; }

.wsite-social-square .wsite-social-flickr-right, .wsite-social-square.wsite-social-flickr-right {
  background-color: #ff0084; }

.wsite-social-square .wsite-social-flickr-right:after, .wsite-social-square.wsite-social-flickr-right:after {
  content: "\e60e";
  color: #ffffff; }

.wsite-social-flickr:before {
  content: ""; }

.wsite-com-product-social-flickr:before {
  content: ""; }

.wsite-social-color .wsite-social-flickr:before {
  content: "\e608";
  color: #0063dc; }

.wsite-social-square .wsite-social-flickr, .wsite-social-square.wsite-social-flickr {
  background-color: #0063dc; }

.wsite-social-square .wsite-social-flickr:after, .wsite-social-square.wsite-social-flickr:after {
  content: "\e608";
  color: #ffffff; }

.wsite-social-plus:before {
  content: ""; }

.wsite-com-product-social-plus:before {
  content: ""; }

.wsite-social-color .wsite-social-plus:before {
  content: "\e604";
  color: #dd4b39; }

.wsite-social-square .wsite-social-plus, .wsite-social-square.wsite-social-plus {
  background-color: #dd4b39; }

.wsite-social-square .wsite-social-plus:after, .wsite-social-square.wsite-social-plus:after {
  content: "\e604";
  color: #ffffff; }

.wsite-social-instagram:before {
  content: ""; }

.wsite-com-product-social-instagram:before {
  content: ""; }

.wsite-social-color .wsite-social-instagram:before {
  content: "\e607";
  color: #3f729b; }

.wsite-social-square .wsite-social-instagram, .wsite-social-square.wsite-social-instagram {
  background-color: #3f729b; }

.wsite-social-square .wsite-social-instagram:after, .wsite-social-square.wsite-social-instagram:after {
  content: "\e607";
  color: #ffffff; }

.wsite-social-linkedin:before {
  content: ""; }

.wsite-com-product-social-linkedin:before {
  content: ""; }

.wsite-social-color .wsite-social-linkedin:before {
  content: "\e602";
  color: #388abe; }

.wsite-social-square .wsite-social-linkedin, .wsite-social-square.wsite-social-linkedin {
  background-color: #388abe; }

.wsite-social-square .wsite-social-linkedin:after, .wsite-social-square.wsite-social-linkedin:after {
  content: "\e602";
  color: #ffffff; }

.wsite-social-pinterest:before {
  content: ""; }

.wsite-com-product-social-pinterest:before {
  content: ""; }

.wsite-social-color .wsite-social-pinterest:before {
  content: "\e609";
  color: #cc2127; }

.wsite-social-square .wsite-social-pinterest, .wsite-social-square.wsite-social-pinterest {
  background-color: #cc2127; }

.wsite-social-square .wsite-social-pinterest:after, .wsite-social-square.wsite-social-pinterest:after {
  content: "\e609";
  color: #ffffff; }

.wsite-social-rss:before {
  content: ""; }

.wsite-com-product-social-rss:before {
  content: ""; }

.wsite-social-color .wsite-social-rss:before {
  content: "\e605";
  color: #f26522; }

.wsite-social-square .wsite-social-rss, .wsite-social-square.wsite-social-rss {
  background-color: #f26522; }

.wsite-social-square .wsite-social-rss:after, .wsite-social-square.wsite-social-rss:after {
  content: "\e605";
  color: #ffffff; }

.wsite-social-twitter:before {
  content: ""; }

.wsite-com-product-social-twitter:before {
  content: ""; }

.wsite-social-color .wsite-social-twitter:before {
  content: "\e601";
  color: #00aced; }

.wsite-social-square .wsite-social-twitter, .wsite-social-square.wsite-social-twitter {
  background-color: #00aced; }

.wsite-social-square .wsite-social-twitter:after, .wsite-social-square.wsite-social-twitter:after {
  content: "\e601";
  color: #ffffff; }

.wsite-social-vimeo:before {
  content: ""; }

.wsite-com-product-social-vimeo:before {
  content: ""; }

.wsite-social-color .wsite-social-vimeo:before {
  content: "\e60a";
  color: #1ab7ea; }

.wsite-social-square .wsite-social-vimeo, .wsite-social-square.wsite-social-vimeo {
  background-color: #1ab7ea; }

.wsite-social-square .wsite-social-vimeo:after, .wsite-social-square.wsite-social-vimeo:after {
  content: "\e60a";
  color: #ffffff; }

.wsite-social-yahoo:before {
  content: ""; }

.wsite-com-product-social-yahoo:before {
  content: ""; }

.wsite-social-color .wsite-social-yahoo:before {
  content: "\e60b";
  color: #400191; }

.wsite-social-square .wsite-social-yahoo, .wsite-social-square.wsite-social-yahoo {
  background-color: #400191; }

.wsite-social-square .wsite-social-yahoo:after, .wsite-social-square.wsite-social-yahoo:after {
  content: "\e60b";
  color: #ffffff; }

.wsite-social-youtube:before {
  content: ""; }

.wsite-com-product-social-youtube:before {
  content: ""; }

.wsite-social-color .wsite-social-youtube:before {
  content: "\e606";
  color: #b31217; }

.wsite-social-square .wsite-social-youtube, .wsite-social-square.wsite-social-youtube {
  background-color: #b31217; }

.wsite-social-square .wsite-social-youtube:after, .wsite-social-square.wsite-social-youtube:after {
  content: "\e606";
  color: #ffffff; }

.wsite-social-color .wsite-social-flickr:before {
  content: "\803";
  color: #0063dc; }

.wsite-social-color .wsite-social-flickr:after {
  content: "\804";
  color: #ff0084; }

.wsite-social .wsite-social-item {
  display: inline-block; }

.wsite-social-item, #wsite-com-product-social-sharing .wsite-com-product-social-facebook, #wsite-com-product-social-sharing .wsite-com-product-social-twitter, #wsite-com-product-social-sharing .wsite-com-product-social-pinterest, #wsite-com-product-social-sharing .wsite-com-product-social-plus {
  display: inline;
  vertical-align: middle;
  width: auto;
  height: auto;
  background-image: none;
  background-repeat: no-repeat;
  text-transform: none;
  text-decoration: none; }

.wsite-social-item:hover, #wsite-com-product-social-sharing .wsite-com-product-social-facebook:hover, #wsite-com-product-social-sharing .wsite-com-product-social-twitter:hover, #wsite-com-product-social-sharing .wsite-com-product-social-pinterest:hover, #wsite-com-product-social-sharing .wsite-com-product-social-plus:hover {
  text-decoration: none; }

.wsite-social-item:before, .wsite-social-item:after, #wsite-com-product-social-sharing .wsite-com-product-social-facebook:before, #wsite-com-product-social-sharing .wsite-com-product-social-facebook:after, #wsite-com-product-social-sharing .wsite-com-product-social-twitter:before, #wsite-com-product-social-sharing .wsite-com-product-social-twitter:after, #wsite-com-product-social-sharing .wsite-com-product-social-pinterest:before, #wsite-com-product-social-sharing .wsite-com-product-social-pinterest:after, #wsite-com-product-social-sharing .wsite-com-product-social-plus:before, #wsite-com-product-social-sharing .wsite-com-product-social-plus:after {
  font-family: "wsocial";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.wsite-social-item.hidden, #wsite-com-product-social-sharing .wsite-com-product-social-facebook.hidden, #wsite-com-product-social-sharing .wsite-com-product-social-twitter.hidden, #wsite-com-product-social-sharing .wsite-com-product-social-pinterest.hidden, #wsite-com-product-social-sharing .wsite-com-product-social-plus.hidden {
  display: none !important; }

#wsite-com-product-social-sharing .wsite-com-product-social-facebook, #wsite-com-product-social-sharing .wsite-com-product-social-twitter, #wsite-com-product-social-sharing .wsite-com-product-social-pinterest, #wsite-com-product-social-sharing .wsite-com-product-social-plus {
  display: inline-block;
  text-indent: -9999px;
  position: relative;
  width: 24px;
  height: 24px; }

#wsite-com-product-social-sharing .wsite-com-product-social-facebook:before, #wsite-com-product-social-sharing .wsite-com-product-social-twitter:before, #wsite-com-product-social-sharing .wsite-com-product-social-pinterest:before, #wsite-com-product-social-sharing .wsite-com-product-social-plus:before {
  display: block;
  position: absolute;
  text-indent: 0; }

.social-dribbble .social-label:before, .social-dropdown-item.social-dribbble:before {
  content: ""; }

.social-dropdown-item.social-dribbble {
  background-image: none; }

.social-mail .social-label:before, .social-dropdown-item.social-mail:before {
  content: ""; }

.social-dropdown-item.social-mail {
  background-image: none; }

.social-facebook .social-label:before, .social-dropdown-item.social-facebook:before {
  content: ""; }

.social-dropdown-item.social-facebook {
  background-image: none; }

.social-flickr-left .social-label:before, .social-dropdown-item.social-flickr-left:before {
  content: ""; }

.social-dropdown-item.social-flickr-left {
  background-image: none; }

.social-flickr-right .social-label:before, .social-dropdown-item.social-flickr-right:before {
  content: ""; }

.social-dropdown-item.social-flickr-right {
  background-image: none; }

.social-flickr .social-label:before, .social-dropdown-item.social-flickr:before {
  content: ""; }

.social-dropdown-item.social-flickr {
  background-image: none; }

.social-plus .social-label:before, .social-dropdown-item.social-plus:before {
  content: ""; }

.social-dropdown-item.social-plus {
  background-image: none; }

.social-instagram .social-label:before, .social-dropdown-item.social-instagram:before {
  content: ""; }

.social-dropdown-item.social-instagram {
  background-image: none; }

.social-linkedin .social-label:before, .social-dropdown-item.social-linkedin:before {
  content: ""; }

.social-dropdown-item.social-linkedin {
  background-image: none; }

.social-pinterest .social-label:before, .social-dropdown-item.social-pinterest:before {
  content: ""; }

.social-dropdown-item.social-pinterest {
  background-image: none; }

.social-rss .social-label:before, .social-dropdown-item.social-rss:before {
  content: ""; }

.social-dropdown-item.social-rss {
  background-image: none; }

.social-twitter .social-label:before, .social-dropdown-item.social-twitter:before {
  content: ""; }

.social-dropdown-item.social-twitter {
  background-image: none; }

.social-vimeo .social-label:before, .social-dropdown-item.social-vimeo:before {
  content: ""; }

.social-dropdown-item.social-vimeo {
  background-image: none; }

.social-yahoo .social-label:before, .social-dropdown-item.social-yahoo:before {
  content: ""; }

.social-dropdown-item.social-yahoo {
  background-image: none; }

.social-youtube .social-label:before, .social-dropdown-item.social-youtube:before {
  content: ""; }

.social-dropdown-item.social-youtube {
  background-image: none; }

.social-badge-item .social-label {
  background-image: none; }

.social-badge-item .social-label:before {
  font-family: "wsocial";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  font-size: 14px;
  top: 15px;
  padding-left: 9px;
  color: #fff;
  width: 14px;
  text-align: center; }

.social-dropdown-item:before {
  font-family: "wsocial";
  position: absolute;
  right: 12px;
  font-size: 9px;
  width: 15px;
  text-align: center; }

/*# sourceMappingURL=style.css.map */
