/* =Main CSS File
-----------------------------------------------------------------------------*/
.container-block { position: relative; display: block; width: 100%; }
.grid-1000, .grid-1200 { position: relative; display: block; margin: 0 auto; }
.grid-1200 { max-width: 1220px; }
.grid-1000 { max-width: 1020px; }

.intro-bg{
  /*background: url(../img/intro-bg.jpg) no-repeat center center;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.services-bg{
/*  background: url(../img/services-bg.jpg) no-repeat center center; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.faq-bg{
  /*background: url(../img/faq-bg.jpg) no-repeat center center; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.lato{
  font-family: 'Lato', sans-serif;
}

.item-padding{
  padding: 1.5rem;
}
.overlay-content{
  position: relative;
  display: block;
  z-index: 5;
}
.overlay-color-bg{
  padding: 1em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.white{
  color:#fff;
}
.white-bg{
  background-color: #fff;
}

.blue-l{
  color: #31CBEC;
}
.blue-l-bg{
  background-color: #31CBEC;
}
.blue-d{
  color: #387a96;
}
.blue-d-bg{
  background-color: #387a96;
}
.gray{
  color: #888;
}
.gray-l{
  color: #c7c8ca;
}
.gray-l-bg{
  background-color: #f4f2ef;
}
.gray-m{
  color: #666;
}
.gray-d{
  color: #333132;
}
.gray-d-bg{
  background-color: #333132;
}
.triangle-d{
  background: url(/images/tintolocker/triangle.png);
  position: absolute;
  display: block;
  z-index: 20;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25px;
}
.triangle{
  background: url(/images/tintolocker/triangle-d.png);
  position: absolute;
  display: block;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 25px;
}

.item-10{
    position: relative;
    width: 100%;
    height: 10px;
}
.item-20{
    position: relative;
    width: 100%;
    height: 20px;
}
.item-30{
    position: relative;
    width: 100%;
    height: 30px;
}
.item-60{
    position: relative;
    width: 100%;
    height: 60px;
}
.item-90{
    position: relative;
    width: 100%;
    height: 90px;
}
.item-120{
    position: relative;
    width: 100%;
    height: 120px;
}

.menu-main {
  position: relative;
  z-index: 99;
  display: block;
  width: 100%;
  height: 55px;
}
.navigation-padding {
  padding: .7rem;
}
/* =End of Main CSS File
-----------------------------------------------------------------------------*/
/* =Normalize
-----------------------------------------------------------------------------*/
/* line 5, ../../../Sass/imperavi-kube-scss/scss/_normalize.scss */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 8, ../../../Sass/imperavi-kube-scss/scss/_normalize.scss */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 92, ../../../Sass/imperavi-kube-scss/scss/_normalize.scss */
html,
body,
div,
span,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 102, ../../../Sass/imperavi-kube-scss/scss/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* line 106, ../../../Sass/imperavi-kube-scss/scss/_normalize.scss */
button,
input {
  line-height: normal;
}

/* line 110, ../../../Sass/imperavi-kube-scss/scss/_normalize.scss */
button,
select {
  text-transform: none;
}

/* Structure tags */
/* line 125, ../../../Sass/imperavi-kube-scss/scss/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/* line 130, ../../../Sass/imperavi-kube-scss/scss/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/* line 133, ../../../Sass/imperavi-kube-scss/scss/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* To prevent some browsers from inserting quotes on q and p */
/* line 139, ../../../Sass/imperavi-kube-scss/scss/_normalize.scss */
blockquote,
q {
  quotes: none;
}

/* line 145, ../../../Sass/imperavi-kube-scss/scss/_normalize.scss */
blockquote p:before,
blockquote p:after,
q:before,
q:after {
  content: '';
  content: none;
}

/* Table reset */
/* line 150, ../../../Sass/imperavi-kube-scss/scss/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 156, ../../../Sass/imperavi-kube-scss/scss/_normalize.scss */
caption,
th,
td {
  text-align: left;
  vertical-align: top;
  font-weight: normal;
}

/* line 162, ../../../Sass/imperavi-kube-scss/scss/_normalize.scss */
thead th,
thead td {
  font-weight: bold;
  vertical-align: bottom;
}

/* Image inside */
/* line 169, ../../../Sass/imperavi-kube-scss/scss/_normalize.scss */
a img,
th img,
td img {
  vertical-align: top;
}

/* line 175, ../../../Sass/imperavi-kube-scss/scss/_normalize.scss */
button,
input,
select,
textarea {
  margin: 0;
}

/* line 178, ../../../Sass/imperavi-kube-scss/scss/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* Normalize buttons in IE */
/* line 184, ../../../Sass/imperavi-kube-scss/scss/_normalize.scss */
button {
  width: auto;
  overflow: visible;
}

/* Hand cursor on clickable controls */
/* line 191, ../../../Sass/imperavi-kube-scss/scss/_normalize.scss */
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}

/* Trick with vertical align for radio and checkbox  */
/* line 196, ../../../Sass/imperavi-kube-scss/scss/_normalize.scss */
input[type="radio"],
input[type="checkbox"] {
  font-size: 110%;
  position: relative;
  top: -1px;
}

/* Normalize search fields */
/* line 202, ../../../Sass/imperavi-kube-scss/scss/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
}

/* line 205, ../../../Sass/imperavi-kube-scss/scss/_normalize.scss */
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 208, ../../../Sass/imperavi-kube-scss/scss/_normalize.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ddd;
}

/* Responsive media */
/* line 216, ../../../Sass/imperavi-kube-scss/scss/_normalize.scss */
img,
video {
  max-width: 100%;
  height: auto;
}

/* line 220, ../../../Sass/imperavi-kube-scss/scss/_normalize.scss */
img {
  -ms-interpolation-mode: bicubic;
}

/* line 223, ../../../Sass/imperavi-kube-scss/scss/_normalize.scss */
audio {
  width: 100%;
}

/* =Typography
-----------------------------------------------------------------------------*/
/* line 3, ../../../Sass/imperavi-kube-scss/scss/_typography.scss */
body {
  font-family: 'Lato', sans-serif;
  background-color: #333132;
  color: #333333;
  font-size: 18px;
  line-height: 16px;
  line-height: 1rem;
  
}

/* line 10, ../../../Sass/imperavi-kube-scss/scss/_typography.scss */
a {
  color: #333;
  text-decoration: none;
}
/* line 13, ../../../Sass/imperavi-kube-scss/scss/_typography.scss */
a:focus, a:hover {
  color: #31CBEC;
}

/* line 23, ../../../Sass/imperavi-kube-scss/scss/_typography.scss */
.title,
h1,
h2,
h3,
h4,
h5,
h6 {
  
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

/* line 29, ../../../Sass/imperavi-kube-scss/scss/_typography.scss */
h1 {
  font-size: 48px;
  line-height: 1.3em;
  margin-bottom: .25em;
  font-weight: 900;
}

/* line 34, ../../../Sass/imperavi-kube-scss/scss/_typography.scss */
h2 {
  font-size: 34px;
  line-height: 1.111em;
  margin-bottom: .5em;
}

/* line 39, ../../../Sass/imperavi-kube-scss/scss/_typography.scss */
h3 {
  font-size: 24px;
  line-height: 1.333em;
  margin-bottom: 1em;
}

/* line 44, ../../../Sass/imperavi-kube-scss/scss/_typography.scss */
h4 {
  font-size: 18px;
  line-height: 1.5em;
  margin-bottom: .333em;
}

/* line 49, ../../../Sass/imperavi-kube-scss/scss/_typography.scss */
h5 {
  font-size: 14px;
  line-height: 16px;
  line-height: 1rem;
  margin-bottom: .25em;
}

/* line 54, ../../../Sass/imperavi-kube-scss/scss/_typography.scss */
h6 {
  font-size: 12px;
  text-transform: uppercase;
  line-height: 16px;
  line-height: 1rem;
  margin-bottom: .25em;
}

/* =Subheading
-----------------------------------------------------------------------------*/
/* line 67, ../../../Sass/imperavi-kube-scss/scss/_typography.scss */
hgroup h1:first-child,
hgroup h2:first-child,
hgroup h3:first-child,
hgroup h4:first-child,
hgroup h5:first-child {
  margin-bottom: 0;
}

/* line 74, ../../../Sass/imperavi-kube-scss/scss/_typography.scss */
h1.subheading,
h2.subheading,
h3.subheading,
h4.subheading,
h5.subheading {
  font-weight: 300;
}

/* line 77, ../../../Sass/imperavi-kube-scss/scss/_typography.scss */
h1.subheading {
  font-size: 30px;
}

/* line 80, ../../../Sass/imperavi-kube-scss/scss/_typography.scss */
h2.subheading {
  font-size: 24px;
}

/* line 83, ../../../Sass/imperavi-kube-scss/scss/_typography.scss */
h3.subheading {
  font-size: 18px;
}

/* line 86, ../../../Sass/imperavi-kube-scss/scss/_typography.scss */
h4.subheading {
  font-size: 14px;
}

/* line 89, ../../../Sass/imperavi-kube-scss/scss/_typography.scss */
h5.subheading {
  font-size: 12px;
}

/* =Lead
-----------------------------------------------------------------------------*/
/* line 95, ../../../Sass/imperavi-kube-scss/scss/_typography.scss */
.lead {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.4em;
  margin-bottom: .75em;
}

/* line 109, ../../../Sass/imperavi-kube-scss/scss/_typography.scss */
p,
ul,
ol,
dl,
dd,
dt,
blockquote,
td,
th {
  line-height: 26px;
  line-height: 1.8rem;
}

/* line 117, ../../../Sass/imperavi-kube-scss/scss/_typography.scss */
ul,
ol,
ul ul,
ol ol,
ul ol,
ol ul {
  margin: 0px 0px 0px 16px;
  margin: 0rem 0rem 0rem 1rem;
}

/* line 120, ../../../Sass/imperavi-kube-scss/scss/_typography.scss */
ol ol li {
  list-style-type: lower-alpha;
}

/* line 123, ../../../Sass/imperavi-kube-scss/scss/_typography.scss */
ol ol ol li {
  list-style-type: lower-roman;
}

/* line 137, ../../../Sass/imperavi-kube-scss/scss/_typography.scss */
p,
ul,
ol,
dl,
blockquote,
hr,
pre,
table,
form,
fieldset,
figure,
address {
  margin-bottom: 16px;
  margin-bottom: 1rem;
}

/* line 140, ../../../Sass/imperavi-kube-scss/scss/_typography.scss */
address {
  font-style: normal;
}

/* line 143, ../../../Sass/imperavi-kube-scss/scss/_typography.scss */
dl dt {
  font-weight: 500;
}

/* line 146, ../../../Sass/imperavi-kube-scss/scss/_typography.scss */
dd {
  margin-left: 1em;
}

/* line 149, ../../../Sass/imperavi-kube-scss/scss/_typography.scss */
blockquote {
  font-size: 16px;
  font-style: italic;
  position: relative;
  padding-left: 16px;
  padding-left: 1rem;
  margin-left: 0;
  border-left: 2px solid #dbdada;
}
/* line 156, ../../../Sass/imperavi-kube-scss/scss/_typography.scss */
blockquote p {
  margin-bottom: .5em;
}

/* line 161, ../../../Sass/imperavi-kube-scss/scss/_typography.scss */
blockquote small,
cite {
  color: #777;
  font-style: italic;
}

/* line 166, ../../../Sass/imperavi-kube-scss/scss/_typography.scss */
small,
blockquote cite {
  font-size: 12px;
  line-height: 1;
}

/* line 170, ../../../Sass/imperavi-kube-scss/scss/_typography.scss */
del {
  text-decoration: line-through;
}

/* line 174, ../../../Sass/imperavi-kube-scss/scss/_typography.scss */
abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

/* line 179, ../../../Sass/imperavi-kube-scss/scss/_typography.scss */
strong,
b {
  font-weight: bold;
}

/* line 183, ../../../Sass/imperavi-kube-scss/scss/_typography.scss */
em,
i {
  font-style: italic;
}

/* line 187, ../../../Sass/imperavi-kube-scss/scss/_typography.scss */
sub,
sup {
  font-size: 10px;
  line-height: 0;
  position: relative;
}

/* line 192, ../../../Sass/imperavi-kube-scss/scss/_typography.scss */
sup {
  top: -0.5em;
}

/* line 195, ../../../Sass/imperavi-kube-scss/scss/_typography.scss */
sub {
  bottom: -0.25em;
}

/* line 198, ../../../Sass/imperavi-kube-scss/scss/_typography.scss */
figcaption {
  font-size: 12px;
  font-style: italic;
}

/* line 203, ../../../Sass/imperavi-kube-scss/scss/_typography.scss */
ins,
mark {
  background-color: #fddc43;
  color: #0f0f0f;
  text-decoration: none;
}

/* line 211, ../../../Sass/imperavi-kube-scss/scss/_typography.scss */
pre,
code,
kbd,
samp {
  font-size: 90%;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* line 215, ../../../Sass/imperavi-kube-scss/scss/_typography.scss */
pre {
  font-size: 90%;
  line-height: 1.45em;
  color: #333333;
  background: #f6f6f6;
  padding: 16px;
  padding: 1rem;
  overflow: auto;
}

/* line 223, ../../../Sass/imperavi-kube-scss/scss/_typography.scss */
code {
  padding: 3px 3px 1px 3px;
  display: inline-block;
  line-height: 1;
  background: #f6f6f6;
  border: 1px solid #ddd;
}

/* line 230, ../../../Sass/imperavi-kube-scss/scss/_typography.scss */
pre code {
  font-size: 100%;
  border: none;
  padding: 0;
  background: none;
  line-height: 16px;
  line-height: 1rem;
}

/* line 237, ../../../Sass/imperavi-kube-scss/scss/_typography.scss */
kbd {
  padding: 2px 6px 1px 6px;
  line-height: 1;
  display: inline-block;
  border-radius: .3em;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px white inset;
  background-color: #fafafa;
  border: 1px solid #ccc;
  color: #333333;
  font-weight: normal;
  white-space: nowrap;
}

/* line 250, ../../../Sass/imperavi-kube-scss/scss/_typography.scss */
button:active,
button:focus {
  outline: none;
}

/* line 265, ../../../Sass/imperavi-kube-scss/scss/_typography.scss */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="phone"],
input[type="tel"],
input[type="number"],
input[type="datetime"],
input[type="date"],
input[type="search"],
input[type="datetime-local"],
textarea,
select[multiple="multiple"] {
  /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  line-height: 1;
  font-size: 14px;
  border-radius: 0;
  background: #fff;
  box-shadow: none;
  border: 1px solid #bbbcc0;
  outline: none;
  padding: 7px 5px;
  position: relative;
  z-index: 2;
  -webkit-appearance: none;
}

/* line 289, ../../../Sass/imperavi-kube-scss/scss/_typography.scss */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="phone"],
input[type="tel"],
input[type="number"],
input[type="datetime"],
input[type="date"],
input[type="search"],
input[type="datetime-local"] {
  height: 2.3em;
}

/* line 292, ../../../Sass/imperavi-kube-scss/scss/_typography.scss */
input[type="range"] {
  position: relative;
  top: 3px;
}

/* line 297, ../../../Sass/imperavi-kube-scss/scss/_typography.scss */
select[multiple="multiple"],
textarea {
  line-height: 1.35em;
}

/* line 300, ../../../Sass/imperavi-kube-scss/scss/_typography.scss */
fieldset {
  padding: 16px;
  padding: 1rem;
  margin-bottom: 16px;
  margin-bottom: 1rem;
  border: 1px solid #dbdada;
}

/* line 305, ../../../Sass/imperavi-kube-scss/scss/_typography.scss */
legend {
  font-weight: bold;
  padding: 0 1em;
  margin-left: -1em;
}

/* line 311, ../../../Sass/imperavi-kube-scss/scss/_typography.scss */
tfoot th,
tfoot td {
  background-color: #f4f4f4;
}

/* line 315, ../../../Sass/imperavi-kube-scss/scss/_typography.scss */
th,
td {
  border-bottom: 1px solid #eee;
  padding: 8px 10px;
}

/* line 319, ../../../Sass/imperavi-kube-scss/scss/_typography.scss */
table caption {
  text-transform: uppercase;
  padding: 0 1em;
  color: #777;
  font-size: 12px;
}

/* =Grid
-----------------------------------------------------------------------------*/
/* line 60, ../../../Sass/imperavi-kube-scss/scss/_mixins.scss */
.units-container:after,
.units-row:after {
  content: "";
  display: table;
  clear: both;
}

/* line 7, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
.units-container {
  /* it's the trick to not collapse padding-top in the child element */
  padding-top: 1px;
  margin-top: -1px;
}

/* line 11, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
.units-row {
  margin-bottom: 16px;
  margin-bottom: 1rem;
}

/* line 15, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
.width-100, .unit-100 {
  width: 100%;
}

/* line 16, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
.width-90, .unit-90 {
  width: 90%;
}

/* line 17, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
.width-80, .unit-80 {
  width: 80%;
}

/* line 18, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
.width-75, .unit-75 {
  width: 75%;
}

/* line 19, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
.width-70, .unit-70 {
  width: 70%;
}

/* line 20, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
.width-66, .unit-66 {
  width: 66.6%;
}

/* line 21, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
.width-65, .unit-65 {
  width: 65%;
}

/* line 22, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
.width-60, .unit-60 {
  width: 60%;
}

/* line 23, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
.width-50, .unit-50 {
  width: 50%;
}

/* line 24, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
.width-40, .unit-40 {
  width: 40%;
}

/* line 25, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
.width-35, .unit-35 {
  width: 35%;
}

/* line 26, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
.width-33, .unit-33 {
  width: 33.3%;
}

/* line 27, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
.width-30, .unit-30 {
  width: 30%;
}

/* line 28, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
.width-25, .unit-25 {
  width: 25%;
}

/* line 29, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
.width-20, .unit-20 {
  width: 20%;
}

/* line 30, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
.width-10, .unit-10 {
  width: 10%;
}

/* line 33, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
input.width-100,
input.unit-100 {
  width: 98.6%;
}

/* line 35, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
textarea.width-100,
textarea.unit-100 {
  width: 98.8%;
}

/* line 37, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
select.width-100,
select.unit-100 {
  width: 99.4%;
}

/* line 53, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
.units-row .unit-90,
.units-row .unit-80,
.units-row .unit-75,
.units-row .unit-70,
.units-row .unit-66,
.units-row .unit-65,
.units-row .unit-60,
.units-row .unit-50,
.units-row .unit-40,
.units-row .unit-35,
.units-row .unit-33,
.units-row .unit-30,
.units-row .unit-25,
.units-row .unit-20,
.units-row .unit-10 {
  float: left;
  margin-left: 3%;
}
/* line 56, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
.units-row .unit-90:first-child,
.units-row .unit-80:first-child,
.units-row .unit-75:first-child,
.units-row .unit-70:first-child,
.units-row .unit-66:first-child,
.units-row .unit-65:first-child,
.units-row .unit-60:first-child,
.units-row .unit-50:first-child,
.units-row .unit-40:first-child,
.units-row .unit-35:first-child,
.units-row .unit-33:first-child,
.units-row .unit-30:first-child,
.units-row .unit-25:first-child,
.units-row .unit-20:first-child,
.units-row .unit-10:first-child {
  margin-left: 0;
}

/* line 60, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
.units-row .unit-90 {
  width: 89.7%;
}

/* line 61, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
.units-row .unit-80 {
  width: 79.4%;
}

/* line 62, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
.units-row .unit-75 {
  width: 74.25%;
}

/* line 63, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
.units-row .unit-70 {
  width: 69.1%;
}

/* line 64, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
.units-row .unit-66 {
  width: 65.66667%;
}

/* line 65, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
.units-row .unit-65 {
  width: 65.66667%;
}

/* line 66, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
.units-row .unit-60 {
  width: 58.8%;
}

/* line 67, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
.units-row .unit-50 {
  width: 48.5%;
}

/* line 68, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
.units-row .unit-40 {
  width: 38.2%;
}

/* line 69, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
.units-row .unit-35 {
  width: 31.33333%;
}

/* line 70, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
.units-row .unit-33 {
  width: 31.33333%;
}

/* line 71, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
.units-row .unit-30 {
  width: 27.9%;
}

/* line 72, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
.units-row .unit-25 {
  width: 22.75%;
}

/* line 73, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
.units-row .unit-20 {
  width: 17.6%;
}

/* line 74, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
.units-row .unit-10 {
  width: 7.3%;
}

/* line 90, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
.unit-push-90,
.unit-push-80,
.unit-push-75,
.unit-push-70,
.unit-push-66,
.unit-push-65,
.unit-push-60,
.unit-push-50,
.unit-push-40,
.unit-push-35,
.unit-push-33,
.unit-push-30,
.unit-push-25,
.unit-push-20,
.unit-push-10 {
  position: relative;
}

/* line 93, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
.unit-push-90 {
  left: 92.7%;
}

/* line 94, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
.unit-push-80 {
  left: 82.4%;
}

/* line 95, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
.unit-push-75 {
  left: 77.25%;
}

/* line 96, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
.unit-push-70 {
  left: 72.1%;
}

/* line 97, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
.unit-push-66 {
  left: 68.66667%;
}

/* line 98, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
.unit-push-65 {
  left: 68.66667%;
}

/* line 99, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
.unit-push-60 {
  left: 61.8%;
}

/* line 100, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
.unit-push-50 {
  left: 51.5%;
}

/* line 101, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
.unit-push-40 {
  left: 41.2%;
}

/* line 102, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
.unit-push-35 {
  left: 34.33333%;
}

/* line 103, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
.unit-push-33 {
  left: 34.33333%;
}

/* line 104, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
.unit-push-30 {
  left: 30.9%;
}

/* line 105, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
.unit-push-25 {
  left: 25.75%;
}

/* line 106, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
.unit-push-20 {
  left: 20.6%;
}

/* line 107, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
.unit-push-10 {
  left: 10.3%;
}

/* line 109, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
.units-row .unit-push-right {
  float: right;
}

/* line 114, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
.centered,
.unit-centered {
  float: none !important;
  margin: 0 auto !important;
}

/* line 118, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
.left-right-unit-padding {
  padding: 0px 16px 0px 16px;
  padding: 0rem 1rem 0rem 1rem;
}

/* line 121, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
.unit-padding {
  padding: 24px;
  padding: 1.5rem;
}

/* line 139, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
.units-padding .unit-100,
.units-padding .unit-90,
.units-padding .unit-80,
.units-padding .unit-75,
.units-padding .unit-70,
.units-padding .unit-66,
.units-padding .unit-65,
.units-padding .unit-60,
.units-padding .unit-50,
.units-padding .unit-40,
.units-padding .unit-35,
.units-padding .unit-33,
.units-padding .unit-30,
.units-padding .unit-25,
.units-padding .unit-20,
.units-padding .unit-10 {
  padding: 16px;
  padding: 1rem;
}

/* line 157, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
.units-split .unit-90,
.units-split .unit-80,
.units-split .unit-75,
.units-split .unit-70,
.units-split .unit-66,
.units-split .unit-65,
.units-split .unit-60,
.units-split .unit-50,
.units-split .unit-40,
.units-split .unit-35,
.units-split .unit-33,
.units-split .unit-30,
.units-split .unit-25,
.units-split .unit-20,
.units-split .unit-10 {
  margin-left: 0;
}

/* line 160, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
.units-split .unit-90 {
  width: 90%;
}

/* line 161, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
.units-split .unit-80 {
  width: 80%;
}

/* line 162, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
.units-split .unit-75 {
  width: 75%;
}

/* line 163, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
.units-split .unit-70 {
  width: 70%;
}

/* line 164, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
.units-split .unit-66 {
  width: 66.6%;
}

/* line 165, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
.units-split .unit-65 {
  width: 65%;
}

/* line 166, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
.units-split .unit-60 {
  width: 60%;
}

/* line 167, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
.units-split .unit-50 {
  width: 50%;
}

/* line 168, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
.units-split .unit-40 {
  width: 40%;
}

/* line 169, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
.units-split .unit-35 {
  width: 35%;
}

/* line 170, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
.units-split .unit-33 {
  width: 33.3%;
}

/* line 171, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
.units-split .unit-30 {
  width: 30%;
}

/* line 172, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
.units-split .unit-25 {
  width: 25%;
}

/* line 173, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
.units-split .unit-20 {
  width: 20%;
}

/* line 174, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
.units-split .unit-10 {
  width: 10%;
}

/* =Tablet and Desktop
-----------------------------------------------------------------------------*/
@media (min-width: 768px) {
  /* line 180, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
  .desktop-hide {
    display: none;
  }
}
/* =Responsive
-----------------------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
  /* line 188, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
  .mobile-text-centered {
    text-align: center;
  }

  /* line 191, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
  .mobile-hide {
    display: none;
  }

  .colorNegroMobile {
    color: #888;
  }

  .sticky-wrapper {
    xdisplay: none;
  }

  /* line 194, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
  .mobile-width-100 {
    width: 100%;
  }

  /* line 212, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
  .units-row .unit-90,
  .units-row .unit-80,
  .units-row .unit-75,
  .units-row .unit-70,
  .units-row .unit-66,
  .units-row .unit-65,
  .units-row .unit-60,
  .units-row .unit-50,
  .units-row .unit-40,
  .units-row .unit-35,
  .units-row .unit-33,
  .units-row .unit-30,
  .units-row .unit-25,
  .units-row .unit-20,
  .units-row .unit-10 {
    width: 100%;
    float: none;
    margin-left: 0;
    margin-bottom: 16px;
    margin-bottom: 1rem;
  }

  /* line 233, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
  .unit-push-90,
  .unit-push-80,
  .unit-push-75,
  .unit-push-70,
  .unit-push-66,
  .unit-push-65,
  .unit-push-60,
  .unit-push-50,
  .unit-push-40,
  .unit-push-35,
  .unit-push-33,
  .unit-push-30,
  .unit-push-25,
  .unit-push-20,
  .unit-push-10 {
    left: 0;
  }

  /* line 237, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
  .units-row .unit-push-right {
    float: none;
  }

  /* line 255, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
  .units-mobile-50 .unit-90,
  .units-mobile-50 .unit-80,
  .units-mobile-50 .unit-75,
  .units-mobile-50 .unit-70,
  .units-mobile-50 .unit-66,
  .units-mobile-50 .unit-65,
  .units-mobile-50 .unit-60,
  .units-mobile-50 .unit-50,
  .units-mobile-50 .unit-40,
  .units-mobile-50 .unit-30,
  .units-mobile-50 .unit-35,
  .units-mobile-50 .unit-33,
  .units-mobile-50 .unit-25,
  .units-mobile-50 .unit-20,
  .units-mobile-50 .unit-10 {
    float: left;
    margin-left: 3%;
    width: 48.5%;
  }

  /* line 274, ../../../Sass/imperavi-kube-scss/scss/_grid.scss */
  .units-mobile-50 .unit-90:first-child,
  .units-mobile-50 .unit-80:first-child,
  .units-mobile-50 .unit-75:first-child,
  .units-mobile-50 .unit-70:first-child,
  .units-mobile-50 .unit-66:first-child,
  .units-mobile-50 .unit-65:first-child,
  .units-mobile-50 .unit-60:first-child,
  .units-mobile-50 .unit-50:first-child,
  .units-mobile-50 .unit-40:first-child,
  .units-mobile-50 .unit-35:first-child,
  .units-mobile-50 .unit-30:first-child,
  .units-mobile-50 .unit-33:first-child,
  .units-mobile-50 .unit-25:first-child,
  .units-mobile-50 .unit-20:first-child,
  .units-mobile-50 .unit-10:first-child {
    margin-left: 0;
  }
}
/* =Blocks
-----------------------------------------------------------------------------*/
/* line 7, ../../../Sass/imperavi-kube-scss/scss/_blocks.scss */
.blocks-2,
.blocks-3,
.blocks-4,
.blocks-5,
.blocks-6 {
  padding-left: 0;
  list-style: none;
  margin-left: -3%;
}
/* line 60, ../../../Sass/imperavi-kube-scss/scss/_mixins.scss */
.blocks-2:after,
.blocks-3:after,
.blocks-4:after,
.blocks-5:after,
.blocks-6:after {
  content: "";
  display: table;
  clear: both;
}
/* line 12, ../../../Sass/imperavi-kube-scss/scss/_blocks.scss */
.blocks-2 li,
.blocks-3 li,
.blocks-4 li,
.blocks-5 li,
.blocks-6 li {
  height: auto;
  float: left;
  margin-bottom: 16px;
  margin-bottom: 1rem;
  margin-left: 3%;
}

/* line 20, ../../../Sass/imperavi-kube-scss/scss/_blocks.scss */
.blocks-2 > li {
  width: 47%;
}

/* line 21, ../../../Sass/imperavi-kube-scss/scss/_blocks.scss */
.blocks-3 > li {
  width: 30.33333%;
}

/* line 22, ../../../Sass/imperavi-kube-scss/scss/_blocks.scss */
.blocks-4 > li {
  width: 22%;
}

/* line 23, ../../../Sass/imperavi-kube-scss/scss/_blocks.scss */
.blocks-5 > li {
  width: 17%;
}

/* line 24, ../../../Sass/imperavi-kube-scss/scss/_blocks.scss */
.blocks-6 > li {
  width: 13.66667%;
}

/* line 26, ../../../Sass/imperavi-kube-scss/scss/_blocks.scss */
.block-first {
  clear: both;
}

/* =Responsive
-----------------------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
  /* line 38, ../../../Sass/imperavi-kube-scss/scss/_blocks.scss */
  .blocks-2,
  .blocks-3,
  .blocks-4,
  .blocks-5,
  .blocks-6 {
    margin-left: 0;
    margin-bottom: 16px;
    margin-bottom: 1rem;
  }

  /* line 47, ../../../Sass/imperavi-kube-scss/scss/_blocks.scss */
  .blocks-2 > li,
  .blocks-3 > li,
  .blocks-4 > li,
  .blocks-5 > li,
  .blocks-6 > li {
    float: none;
    margin-left: 0;
    width: 100%;
  }

  /* line 54, ../../../Sass/imperavi-kube-scss/scss/_blocks.scss */
  .blocks-mobile-50 > li,
  .blocks-mobile-33 > li {
    float: left;
    margin-left: 3%;
  }

  /* line 59, ../../../Sass/imperavi-kube-scss/scss/_blocks.scss */
  .blocks-mobile-33,
  .blocks-mobile-50 {
    margin-left: -3%;
  }

  /* line 63, ../../../Sass/imperavi-kube-scss/scss/_blocks.scss */
  .blocks-mobile-50 > li {
    width: 47%;
  }

  /* line 66, ../../../Sass/imperavi-kube-scss/scss/_blocks.scss */
  .blocks-mobile-33 > li {
    width: 30.33333%;
  }
}
/* =Navs
-----------------------------------------------------------------------------*/
/* NavBar */
/* line 5, ../../../Sass/imperavi-kube-scss/scss/_navigation.scss */
.navbar {
  margin-bottom: 16px;
  margin-bottom: 1rem;
}
/* line 60, ../../../Sass/imperavi-kube-scss/scss/_mixins.scss */
.navbar:after {
  content: "";
  display: table;
  clear: both;
}

/* line 9, ../../../Sass/imperavi-kube-scss/scss/_navigation.scss */
.navbar-left {
  float: left;
}

/* line 12, ../../../Sass/imperavi-kube-scss/scss/_navigation.scss */
.navbar-right {
  float: right;
}

/* line 15, ../../../Sass/imperavi-kube-scss/scss/_navigation.scss */
.navbar ul {
  list-style: none;
  margin: 0;
}
/* line 60, ../../../Sass/imperavi-kube-scss/scss/_mixins.scss */
.navbar ul:after {
  content: "";
  display: table;
  clear: both;
}

/* line 20, ../../../Sass/imperavi-kube-scss/scss/_navigation.scss */
.navbar ul li {
  float: left;
  margin-right: 16px;
  margin-right: 1rem;
}

/* line 24, ../../../Sass/imperavi-kube-scss/scss/_navigation.scss */
.navbar-right ul li {
  margin-right: 0;
  margin-left: 16px;
  margin-left: 1rem;
}

/* line 29, ../../../Sass/imperavi-kube-scss/scss/_navigation.scss */
.navbar ul li a,
.navbar ul li span {
  display: block;
  text-decoration: none;
}

/* line 33, ../../../Sass/imperavi-kube-scss/scss/_navigation.scss */
.navbar ul li a:hover {
  color: #31CBEC;
}

/* line 37, ../../../Sass/imperavi-kube-scss/scss/_navigation.scss */
.navbar ul li.active a,
.navbar ul li span {
  text-decoration: none;
  cursor: text;
  color: rgba(0, 0, 0, 0.4);
}

/* Fullwidth */
/* line 45, ../../../Sass/imperavi-kube-scss/scss/_navigation.scss */
.fullwidth ul {
  width: 100%;
}

/* line 48, ../../../Sass/imperavi-kube-scss/scss/_navigation.scss */
.fullwidth li {
  float: none !important;
  margin: 0;
  display: table-cell;
  width: 1%;
  text-align: center;
}

/* line 56, ../../../Sass/imperavi-kube-scss/scss/_navigation.scss */
.fullwidth li a,
.fullwidth li span {
  display: block;
}

/* Vertical */
/* line 62, ../../../Sass/imperavi-kube-scss/scss/_navigation.scss */
.nav {
  margin-bottom: 16px;
  margin-bottom: 1rem;
}

/* line 65, ../../../Sass/imperavi-kube-scss/scss/_navigation.scss */
.nav ul {
  list-style: none;
  margin: 0;
}

/* line 69, ../../../Sass/imperavi-kube-scss/scss/_navigation.scss */
.nav ul li ul {
  margin-left: 2em;
  font-size: .95em;
}

/* line 74, ../../../Sass/imperavi-kube-scss/scss/_navigation.scss */
.nav ul li a,
.nav ul li span {
  display: block;
  padding: 5px 0;
}

/* line 79, ../../../Sass/imperavi-kube-scss/scss/_navigation.scss */
.nav ul li ul li a,
.nav ul li ul li span {
  padding: 4px 0;
}

/* line 82, ../../../Sass/imperavi-kube-scss/scss/_navigation.scss */
.nav ul li a {
  text-decoration: none;
}

/* line 85, ../../../Sass/imperavi-kube-scss/scss/_navigation.scss */
.nav ul li a:hover {
  color: #31CBEC;
  text-decoration: underline;
}

/* line 90, ../../../Sass/imperavi-kube-scss/scss/_navigation.scss */
.nav ul li.active a,
.nav ul li span {
  text-decoration: none;
  cursor: text;
  color: rgba(0, 0, 0, 0.4);
}

/* Stroked */
/* line 97, ../../../Sass/imperavi-kube-scss/scss/_navigation.scss */
.nav-stroked li {
  border-bottom: 1px solid #eee;
}

/* line 100, ../../../Sass/imperavi-kube-scss/scss/_navigation.scss */
.nav-stroked li:last-child {
  border-bottom: none;
}

/* Stacked */
/* line 105, ../../../Sass/imperavi-kube-scss/scss/_navigation.scss */
.nav-stacked ul {
  border: 1px solid #eee;
  border-bottom: 0;
}

/* line 109, ../../../Sass/imperavi-kube-scss/scss/_navigation.scss */
.nav-stacked ul li {
  border-bottom: 1px solid #eee;
}

/* line 113, ../../../Sass/imperavi-kube-scss/scss/_navigation.scss */
.nav-stacked ul li a,
.nav-stacked ul li span {
  padding: 5px 10px;
}

/* line 116, ../../../Sass/imperavi-kube-scss/scss/_navigation.scss */
.nav-stacked ul li a:hover {
  background-color: #f5f5f5;
}

/* Stats */
/* line 121, ../../../Sass/imperavi-kube-scss/scss/_navigation.scss */
.nav-stats li {
  position: relative;
}

/* line 125, ../../../Sass/imperavi-kube-scss/scss/_navigation.scss */
.nav-stats li a,
.nav-stats li span {
  padding-right: 50px;
}

/* line 128, ../../../Sass/imperavi-kube-scss/scss/_navigation.scss */
.nav-stats sup {
  position: absolute;
  top: 50%;
  right: 0;
  color: rgba(0, 0, 0, 0.4);
}

/* line 134, ../../../Sass/imperavi-kube-scss/scss/_navigation.scss */
.nav-stats.nav-stacked sup {
  right: .5em;
}

/* Breadcrumbs */
/* line 140, ../../../Sass/imperavi-kube-scss/scss/_navigation.scss */
.breadcrumbs {
  margin-bottom: 16px;
  margin-bottom: 1rem;
}
/* line 60, ../../../Sass/imperavi-kube-scss/scss/_mixins.scss */
.breadcrumbs:after {
  content: "";
  display: table;
  clear: both;
}

/* line 144, ../../../Sass/imperavi-kube-scss/scss/_navigation.scss */
.breadcrumbs ul {
  font-size: .9em;
  color: rgba(0, 0, 0, 0.4);
  list-style: none;
  margin: 0;
}
/* line 60, ../../../Sass/imperavi-kube-scss/scss/_mixins.scss */
.breadcrumbs ul:after {
  content: "";
  display: table;
  clear: both;
}

/* line 151, ../../../Sass/imperavi-kube-scss/scss/_navigation.scss */
.breadcrumbs ul li {
  float: left;
  margin-right: 3px;
}

/* line 155, ../../../Sass/imperavi-kube-scss/scss/_navigation.scss */
.breadcrumbs li + li:before {
  content: " > ";
  color: #aaa;
  font-size: 12px;
  margin: 0 3px;
  position: relative;
  top: -1px;
}

/* line 163, ../../../Sass/imperavi-kube-scss/scss/_navigation.scss */
.breadcrumbs-sections li + li:before {
  content: " | ";
  top: 0;
}

/* line 167, ../../../Sass/imperavi-kube-scss/scss/_navigation.scss */
.breadcrumbs-path li + li:before {
  content: " / ";
  top: 0;
}

/* line 171, ../../../Sass/imperavi-kube-scss/scss/_navigation.scss */
.breadcrumbs ul li a {
  color: #0f0f0f;
  text-decoration: none;
}

/* line 175, ../../../Sass/imperavi-kube-scss/scss/_navigation.scss */
.breadcrumbs ul li.active a {
  text-decoration: none;
  cursor: text;
  color: rgba(0, 0, 0, 0.4);
}

/* line 180, ../../../Sass/imperavi-kube-scss/scss/_navigation.scss */
.breadcrumbs ul li a:hover {
  color: #0f0f0f;
  text-decoration: underline;
}

/* =Pagination
-----------------------------------------------------------------------------*/
/* line 187, ../../../Sass/imperavi-kube-scss/scss/_navigation.scss */
.pagination {
  position: relative;
  left: -9px;
  margin-left: 0;
  list-style: none;
}
/* line 60, ../../../Sass/imperavi-kube-scss/scss/_mixins.scss */
.pagination:after {
  content: "";
  display: table;
  clear: both;
}

/* line 194, ../../../Sass/imperavi-kube-scss/scss/_navigation.scss */
.pagination li {
  float: left;
  margin-right: 2px;
}

/* line 199, ../../../Sass/imperavi-kube-scss/scss/_navigation.scss */
.pagination li a,
.pagination li span {
  display: block;
  padding: 7px 9px;
  line-height: 1;
  border-radius: 3px;
  color: #0f0f0f;
  text-decoration: none;
}

/* line 207, ../../../Sass/imperavi-kube-scss/scss/_navigation.scss */
.pagination span {
  border: 1px solid #ddd;
}

/* line 211, ../../../Sass/imperavi-kube-scss/scss/_navigation.scss */
.pagination li a:focus,
.pagination li a:hover {
  text-decoration: none;
  background-color: #0f0f0f;
  color: #fff;
}

/* =Responsive
-----------------------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
  /* line 226, ../../../Sass/imperavi-kube-scss/scss/_navigation.scss */
  .navbar-left,
  .navbar-right,
  .navbar ul li,
  .navbar-right ul li,
  .subnav-right ul,
  .subnav ul li,
  .subnav-right ul li {
    float: none;
    text-align: center;
  }

  /* line 233, ../../../Sass/imperavi-kube-scss/scss/_navigation.scss */
  .navbar ul li,
  .navbar-right ul li,
  .subnav ul li,
  .subnav-right ul li {
    margin-left: 0;
    margin-right: 0;
  }

  /* line 237, ../../../Sass/imperavi-kube-scss/scss/_navigation.scss */
  .fullwidth ul {
    width: auto;
  }

  /* line 240, ../../../Sass/imperavi-kube-scss/scss/_navigation.scss */
  .fullwidth li {
    display: block;
    width: auto;
  }
}
/* =Tables
-----------------------------------------------------------------------------*/
/* line 4, ../../../Sass/imperavi-kube-scss/scss/_tables.scss */
table.table-bordered td,
table.table-bordered th {
  border: 1px solid #ddd;
}

/* line 8, ../../../Sass/imperavi-kube-scss/scss/_tables.scss */
table.table-simple td,
table.table-simple th {
  border: none;
  padding-left: 0;
}

/* line 13, ../../../Sass/imperavi-kube-scss/scss/_tables.scss */
table.table-flat td,
table.table-flat th {
  border: none;
  padding: 0;
}

/* line 17, ../../../Sass/imperavi-kube-scss/scss/_tables.scss */
table.table-striped tbody tr:nth-child(odd) td {
  background-color: #f8f8f8;
}

/* line 20, ../../../Sass/imperavi-kube-scss/scss/_tables.scss */
table.table-hovered tbody tr:hover td {
  background-color: #f4f4f4;
}

/* Responsive Tables */
/* line 25, ../../../Sass/imperavi-kube-scss/scss/_tables.scss */
.table-container {
  width: 100%;
  overflow: auto;
  margin-bottom: 16px;
  margin-bottom: 1rem;
}
/* line 29, ../../../Sass/imperavi-kube-scss/scss/_tables.scss */
.table-container table {
  margin-bottom: 0;
}
/* line 32, ../../../Sass/imperavi-kube-scss/scss/_tables.scss */
.table-container::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
}
/* line 37, ../../../Sass/imperavi-kube-scss/scss/_tables.scss */
.table-container::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 3px solid #fff;
  background-color: rgba(0, 0, 0, 0.3);
}

/* =Forms
-----------------------------------------------------------------------------*/
/* line 4, ../../../Sass/imperavi-kube-scss/scss/_forms.scss */
.forms label {
  display: block;
  margin-bottom: 1.6em;
}
/* line 9, ../../../Sass/imperavi-kube-scss/scss/_forms.scss */
.forms fieldset {
  padding-bottom: .5em;
  border-radius: 4px;
}
/* line 28, ../../../Sass/imperavi-kube-scss/scss/_forms.scss */
.forms input[type="text"], .forms input[type="password"], .forms input[type="email"], .forms input[type="url"], .forms input[type="phone"], .forms input[type="tel"], .forms input[type="number"], .forms input[type="datetime"], .forms input[type="date"], .forms input[type="search"], .forms input[type="range"], .forms input[type="file"], .forms input[type="datetime-local"], .forms textarea, .forms select {
  display: block;
}

/* line 48, ../../../Sass/imperavi-kube-scss/scss/_forms.scss */
.forms-inline input[type="text"], .forms-inline input[type="password"], .forms-inline input[type="email"], .forms-inline input[type="url"], .forms-inline input[type="phone"], .forms-inline input[type="tel"], .forms-inline input[type="number"], .forms-inline input[type="datetime"], .forms-inline input[type="date"], .forms-inline input[type="search"], .forms-inline input[type="range"], .forms-inline input[type="file"], .forms-inline input[type="datetime-local"], .forms-inline textarea, .forms-inline select,
.forms-inline-list input[type="text"],
.forms-inline-list input[type="password"],
.forms-inline-list input[type="email"],
.forms-inline-list input[type="url"],
.forms-inline-list input[type="phone"],
.forms-inline-list input[type="tel"],
.forms-inline-list input[type="number"],
.forms-inline-list input[type="datetime"],
.forms-inline-list input[type="date"],
.forms-inline-list input[type="search"],
.forms-inline-list input[type="range"],
.forms-inline-list input[type="file"],
.forms-inline-list input[type="datetime-local"],
.forms-inline-list textarea,
.forms-inline-list select {
  display: inline-block;
}

/* line 54, ../../../Sass/imperavi-kube-scss/scss/_forms.scss */
.forms-list,
.forms-inline-list {
  margin: 0;
  padding: 0;
  margin-bottom: 1.6em;
  list-style: none;
}

/* line 62, ../../../Sass/imperavi-kube-scss/scss/_forms.scss */
.forms-list label,
.forms-inline-list li,
.forms-inline-list li label {
  display: inline-block;
  margin-bottom: 0;
}

/* line 66, ../../../Sass/imperavi-kube-scss/scss/_forms.scss */
.forms-inline-list li label {
  margin-right: 1.6em;
}

/* line 69, ../../../Sass/imperavi-kube-scss/scss/_forms.scss */
.forms-inline-list li {
  margin-bottom: 3px;
}

/* line 72, ../../../Sass/imperavi-kube-scss/scss/_forms.scss */
.forms-list li {
  margin-bottom: 6px;
}

/* line 75, ../../../Sass/imperavi-kube-scss/scss/_forms.scss */
.forms-desc {
  margin-top: 4px;
  color: rgba(0, 0, 0, 0.4);
  font-size: 12px;
  line-height: 1.4em;
}

/* line 84, ../../../Sass/imperavi-kube-scss/scss/_forms.scss */
input[type="radio"],
input[type="checkbox"] {
  position: relative;
  top: -1px;
}

/* line 99, ../../../Sass/imperavi-kube-scss/scss/_forms.scss */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="phone"],
input[type="tel"],
input[type="number"],
input[type="datetime"],
input[type="date"],
input[type="search"],
input[type="datetime-local"],
textarea {
  -moz-transition: border ease 0.5s;
  transition: border ease 0.5s;
}

/* line 102, ../../../Sass/imperavi-kube-scss/scss/_forms.scss */
input[type="range"] {
  position: relative;
  top: 3px;
}

/* line 106, ../../../Sass/imperavi-kube-scss/scss/_forms.scss */
textarea {
  line-height: 1.4em;
}

/* line 109, ../../../Sass/imperavi-kube-scss/scss/_forms.scss */
select {
  margin-bottom: 0 !important;
}

/* States */
/* line 115, ../../../Sass/imperavi-kube-scss/scss/_forms.scss */
.error,
.success {
  font-weight: normal;
  font-size: 12px;
}

/* line 122, ../../../Sass/imperavi-kube-scss/scss/_forms.scss */
input.input-error,
textarea.input-error,
select.input-error,
.input-error {
  border-color: #d70a16;
  box-shadow: 0 0 0 2px rgba(215, 10, 22, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2) inset;
}

/* line 129, ../../../Sass/imperavi-kube-scss/scss/_forms.scss */
input.input-success,
textarea.input-success,
select.input-success,
.input-success {
  border-color: #159776;
  box-shadow: 0 0 0 2px rgba(21, 151, 118, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2) inset;
}

/* line 137, ../../../Sass/imperavi-kube-scss/scss/_forms.scss */
input.input-gray,
textarea.input-gray,
select.input-gray,
.input-gray {
  border-color: #ccc;
  box-shadow: 0 0 0 2px rgba(204, 204, 204, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2) inset;
}

/* line 143, ../../../Sass/imperavi-kube-scss/scss/_forms.scss */
input:focus,
textarea:focus {
  outline: none;
  border-color: #5ca9e4;
  box-shadow: 0 0 0 2px rgba(70, 161, 231, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2) inset;
}

/* line 150, ../../../Sass/imperavi-kube-scss/scss/_forms.scss */
input.input-search,
input[type="search"] {
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 0;
  border-radius: 15px;
}

/* Append & Prepend */
/* line 158, ../../../Sass/imperavi-kube-scss/scss/_forms.scss */
.input-groups {
  display: table !important;
}

/* line 161, ../../../Sass/imperavi-kube-scss/scss/_forms.scss */
.input-groups input {
  width: 100%;
}

/* line 167, ../../../Sass/imperavi-kube-scss/scss/_forms.scss */
.input-groups input,
.input-groups .input-append,
.input-groups .input-prepend,
.input-groups .btn-append {
  display: table-cell !important;
}

/* line 172, ../../../Sass/imperavi-kube-scss/scss/_forms.scss */
.input-groups .btn-append,
.input-groups .input-append,
.input-groups .input-prepend {
  width: 1%;
  vertical-align: middle;
}

/* line 177, ../../../Sass/imperavi-kube-scss/scss/_forms.scss */
.input-groups .input-append,
.input-groups .input-prepend {
  background-color: #eee;
  border: 1px solid #ccc;
  margin: 0;
  padding: 0 7px;
  color: rgba(0, 0, 0, 0.5);
  line-height: 1;
  font-size: 12px;
  white-space: nowrap;
}

/* line 187, ../../../Sass/imperavi-kube-scss/scss/_forms.scss */
.input-groups .input-prepend {
  border-right: none;
}

/* line 190, ../../../Sass/imperavi-kube-scss/scss/_forms.scss */
.input-groups .input-append {
  position: relative;
  z-index: 1;
  border-left: none;
}

/* line 195, ../../../Sass/imperavi-kube-scss/scss/_forms.scss */
.input-groups .btn-append .btn {
  display: block;
  height: auto;
  border-radius: 0 4px 4px 0;
}

/* =Mobile (Portrait)
-----------------------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
  /* line 205, ../../../Sass/imperavi-kube-scss/scss/_forms.scss */
  .forms-list label {
    display: inline-block;
  }
}
/* =Buttons
-----------------------------------------------------------------------------*/
/* line 3, ../../../Sass/imperavi-kube-scss/scss/_buttons.scss */
.btn {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  text-align: center;
  text-decoration: none;
  color: #333333;
  margin: 0;
  border: none;
  border-radius: 3px;
  box-shadow: none;
  cursor: pointer;
  background: #eeeded;
  padding: 9px 20px;
  height: 2.3em;
}
/* line 28, ../../../Sass/imperavi-kube-scss/scss/_buttons.scss */
.btn:hover {
  color: rgba(0, 0, 0, 0.5);
  background: #dbdada;
}

/* line 33, ../../../Sass/imperavi-kube-scss/scss/_buttons.scss */
input[type="submit"].btn {
  -webkit-appearance: none;
}

/* line 36, ../../../Sass/imperavi-kube-scss/scss/_buttons.scss */
.btn-small {
  font-size: 11px;
  padding: 7px 16px;
}

/* line 40, ../../../Sass/imperavi-kube-scss/scss/_buttons.scss */
.btn-outline {
  background: none;
  border: 1px solid #ddd;
  padding: 8px 19px;
}
/* line 44, ../../../Sass/imperavi-kube-scss/scss/_buttons.scss */
.btn-outline.btn-small {
  padding: 6px 15px;
}

/* line 53, ../../../Sass/imperavi-kube-scss/scss/_buttons.scss */
.btn-blue,
.btn-red,
.btn-green,
.btn-black {
  color: #fff;
}
/* line 55, ../../../Sass/imperavi-kube-scss/scss/_buttons.scss */
.btn-blue:hover,
.btn-red:hover,
.btn-green:hover,
.btn-black:hover {
  color: rgba(255, 255, 255, 0.7);
}

/* line 59, ../../../Sass/imperavi-kube-scss/scss/_buttons.scss */
.btn-white {
  background: #fff;
}
/* line 61, ../../../Sass/imperavi-kube-scss/scss/_buttons.scss */
.btn-white:hover {
  background: #f2f2f2;
}

/* line 63, ../../../Sass/imperavi-kube-scss/scss/_buttons.scss */
.btn-white.btn-outline {
  background: none;
  border-color: rgba(255, 255, 255, 0.85);
  color: rgba(255, 255, 255, 0.85);
}
/* line 67, ../../../Sass/imperavi-kube-scss/scss/_buttons.scss */
.btn-white.btn-outline:hover {
  color: rgba(0, 0, 0, 0.9);
  background: #fff;
}

/* line 72, ../../../Sass/imperavi-kube-scss/scss/_buttons.scss */
.btn-blue {
  background: #31CBEC;
}
/* line 74, ../../../Sass/imperavi-kube-scss/scss/_buttons.scss */
.btn-blue:hover {
  background: #14B4D6;
}

/* line 76, ../../../Sass/imperavi-kube-scss/scss/_buttons.scss */
.btn-red {
  background: #d70a16;
}
/* line 78, ../../../Sass/imperavi-kube-scss/scss/_buttons.scss */
.btn-red:hover {
  background: #a60811;
}

/* line 80, ../../../Sass/imperavi-kube-scss/scss/_buttons.scss */
.btn-green {
  background: #159776;
}
/* line 82, ../../../Sass/imperavi-kube-scss/scss/_buttons.scss */
.btn-green:hover {
  background: #0f6a53;
}

/* line 84, ../../../Sass/imperavi-kube-scss/scss/_buttons.scss */
.btn-yellow {
  background: #fddc43;
  color: #000;
}
/* line 87, ../../../Sass/imperavi-kube-scss/scss/_buttons.scss */
.btn-yellow:hover {
  background: #e7be02;
}

/* line 91, ../../../Sass/imperavi-kube-scss/scss/_buttons.scss */
.btn-black {
  background: #000;
}
/* line 93, ../../../Sass/imperavi-kube-scss/scss/_buttons.scss */
.btn-black:hover {
  background: #333333;
}

/* line 98, ../../../Sass/imperavi-kube-scss/scss/_buttons.scss */
.btn-active,
.btn[disabled],
.btn-disabled {
  border: none;
  background: none;
  background-color: #dbdada;
  color: rgba(0, 0, 0, 0.5);
}
/* line 103, ../../../Sass/imperavi-kube-scss/scss/_buttons.scss */
.btn-active:hover,
.btn[disabled]:hover,
.btn-disabled:hover {
  color: rgba(0, 0, 0, 0.5);
}

/* line 107, ../../../Sass/imperavi-kube-scss/scss/_buttons.scss */
.btn-active {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset;
}

/* line 111, ../../../Sass/imperavi-kube-scss/scss/_buttons.scss */
.btn[disabled],
.btn-disabled {
  cursor: default;
  box-shadow: none;
}

/* line 119, ../../../Sass/imperavi-kube-scss/scss/_buttons.scss */
.btn-blue.btn-active,
.btn-red.btn-active,
.btn-green.btn-active,
.btn-black.btn-active {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7) inset;
}

/* line 134, ../../../Sass/imperavi-kube-scss/scss/_buttons.scss */
.btn-blue.btn-active,
.btn-red.btn-active,
.btn-green.btn-active,
.btn-black.btn-active,
.btn-blue.btn-disabled,
.btn-red.btn-disabled,
.btn-green.btn-disabled,
.btn-black.btn-disabled,
.btn-blue[disabled],
.btn-red[disabled],
.btn-green[disabled],
.btn-black[disabled] {
  color: rgba(255, 255, 255, 0.6);
}
/* line 136, ../../../Sass/imperavi-kube-scss/scss/_buttons.scss */
.btn-blue.btn-active:hover,
.btn-red.btn-active:hover,
.btn-green.btn-active:hover,
.btn-black.btn-active:hover,
.btn-blue.btn-disabled:hover,
.btn-red.btn-disabled:hover,
.btn-green.btn-disabled:hover,
.btn-black.btn-disabled:hover,
.btn-blue[disabled]:hover,
.btn-red[disabled]:hover,
.btn-green[disabled]:hover,
.btn-black[disabled]:hover {
  color: rgba(255, 255, 255, 0.6);
}

/* line 143, ../../../Sass/imperavi-kube-scss/scss/_buttons.scss */
.btn-white.btn-active,
.btn-white.btn-disabled,
.btn-white[disabled] {
  background: #f2f2f2;
}

/* line 148, ../../../Sass/imperavi-kube-scss/scss/_buttons.scss */
.btn-blue.btn-active,
.btn-blue.btn-disabled,
.btn-blue[disabled] {
  background: #2f4483;
}

/* line 153, ../../../Sass/imperavi-kube-scss/scss/_buttons.scss */
.btn-red.btn-active,
.btn-red.btn-disabled,
.btn-red[disabled] {
  background: #a60811;
}

/* line 158, ../../../Sass/imperavi-kube-scss/scss/_buttons.scss */
.btn-green.btn-active,
.btn-green.btn-disabled,
.btn-green[disabled] {
  background: #0f6a53;
}

/* line 163, ../../../Sass/imperavi-kube-scss/scss/_buttons.scss */
.btn-yellow.btn-active,
.btn-yellow.btn-disabled,
.btn-yellow[disabled] {
  background: #e7be02;
}

/* line 168, ../../../Sass/imperavi-kube-scss/scss/_buttons.scss */
.btn-black.btn-active,
.btn-black.btn-disabled,
.btn-black[disabled] {
  background: #4d4d4d;
}

/* =Helpers
-----------------------------------------------------------------------------*/
/* line 60, ../../../Sass/imperavi-kube-scss/scss/_mixins.scss */
.group:after {
  content: "";
  display: table;
  clear: both;
}

/* line 6, ../../../Sass/imperavi-kube-scss/scss/_helpers.scss */
.small {
  font-size: 12px;
}

/* line 10, ../../../Sass/imperavi-kube-scss/scss/_helpers.scss */
.nowrap,
.nowrap td {
  white-space: nowrap;
}

/* line 14, ../../../Sass/imperavi-kube-scss/scss/_helpers.scss */
.req,
.required {
  font-weight: normal;
  color: #d70a16;
}

/* line 18, ../../../Sass/imperavi-kube-scss/scss/_helpers.scss */
.color-gray {
  color: #777;
}

/* line 21, ../../../Sass/imperavi-kube-scss/scss/_helpers.scss */
.color-gray-light {
  color: #999;
}

/* line 24, ../../../Sass/imperavi-kube-scss/scss/_helpers.scss */
.color-black {
  color: #000;
}

/* line 28, ../../../Sass/imperavi-kube-scss/scss/_helpers.scss */
.color-red,
.error {
  color: #d70a16;
}

/* line 32, ../../../Sass/imperavi-kube-scss/scss/_helpers.scss */
.color-green,
.success {
  color: #159776;
}

/* line 35, ../../../Sass/imperavi-kube-scss/scss/_helpers.scss */
.underlined {
  text-decoration: underline;
}

/* line 38, ../../../Sass/imperavi-kube-scss/scss/_helpers.scss */
.text-centered {
  text-align: center;
}

/* line 41, ../../../Sass/imperavi-kube-scss/scss/_helpers.scss */
.text-left {
  text-align: left;
}

/* line 44, ../../../Sass/imperavi-kube-scss/scss/_helpers.scss */
.text-right {
  text-align: right;
}

/* line 47, ../../../Sass/imperavi-kube-scss/scss/_helpers.scss */
.text-justified {
  text-align: justify;
}

/* line 50, ../../../Sass/imperavi-kube-scss/scss/_helpers.scss */
.last {
  margin-right: 0 !important;
}

/* line 53, ../../../Sass/imperavi-kube-scss/scss/_helpers.scss */
.pause {
  margin-bottom: 0.5em !important;
}

/* line 56, ../../../Sass/imperavi-kube-scss/scss/_helpers.scss */
.end {
  margin-bottom: 0 !important;
}

/* line 59, ../../../Sass/imperavi-kube-scss/scss/_helpers.scss */
.thin {
  font-weight: 100;
}

/* line 62, ../../../Sass/imperavi-kube-scss/scss/_helpers.scss */
.light {
  font-weight: 300;
}

/* line 65, ../../../Sass/imperavi-kube-scss/scss/_helpers.scss */
.normal {
  font-weight: normal;
}

/* line 68, ../../../Sass/imperavi-kube-scss/scss/_helpers.scss */
.bold {
  font-weight: bold;
}

/* line 71, ../../../Sass/imperavi-kube-scss/scss/_helpers.scss */
.heavy {
  font-weight: 900;
}

/* line 74, ../../../Sass/imperavi-kube-scss/scss/_helpers.scss */
.italic {
  font-style: italic;
}

/* line 77, ../../../Sass/imperavi-kube-scss/scss/_helpers.scss */
.left {
  float: left;
}

/* line 80, ../../../Sass/imperavi-kube-scss/scss/_helpers.scss */
.right {
  float: right;
}

/* line 84, ../../../Sass/imperavi-kube-scss/scss/_helpers.scss */
.no-select {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;
}

/* line 93, ../../../Sass/imperavi-kube-scss/scss/_helpers.scss */
.upperz {
  z-index: 20;
}

/* line 96, ../../../Sass/imperavi-kube-scss/scss/_helpers.scss */
.midz {
  z-index: 15;
}

/* line 99, ../../../Sass/imperavi-kube-scss/scss/_helpers.scss */
.lowerz {
  z-index: 10;
}

/* line 102, ../../../Sass/imperavi-kube-scss/scss/_helpers.scss */
.relative {
  position: relative;
}

/* line 105, ../../../Sass/imperavi-kube-scss/scss/_helpers.scss */
.absolute {
  position: absolute;
}

/* line 108, ../../../Sass/imperavi-kube-scss/scss/_helpers.scss */
.inline {
  display: inline;
}

/* line 111, ../../../Sass/imperavi-kube-scss/scss/_helpers.scss */
.inline-block {
  display: inline-block;
}

/* line 114, ../../../Sass/imperavi-kube-scss/scss/_helpers.scss */
.right-padding {
  padding-right: 0px 16px 0px 16px;
  padding-right: 0rem 1rem 0rem 1rem;
}

/* line 117, ../../../Sass/imperavi-kube-scss/scss/_helpers.scss */
.left-padding {
  padding-left: 0px 16px 0px 16px;
  padding-left: 0rem 1rem 0rem 1rem;
}

/*Custom Font Sizes*/
/* line 123, ../../../Sass/imperavi-kube-scss/scss/_helpers.scss */
.supersmall {
  font-size: 10px;
}

/* line 126, ../../../Sass/imperavi-kube-scss/scss/_helpers.scss */
.small {
  font-size: 12px;
}
.medium{
  font-size: 16px;
}
/* line 129, ../../../Sass/imperavi-kube-scss/scss/_helpers.scss */
.big {
  font-size: 18px;
}

/* line 132, ../../../Sass/imperavi-kube-scss/scss/_helpers.scss */
.verybig {
  font-size: 26px;
}

/* line 135, ../../../Sass/imperavi-kube-scss/scss/_helpers.scss */
.extrabig {
  font-size: 42px;
}

/* line 138, ../../../Sass/imperavi-kube-scss/scss/_helpers.scss */
.text-uppercase {
  text-transform: uppercase;
}

/* Responsive embedded objects */
/* line 143, ../../../Sass/imperavi-kube-scss/scss/_helpers.scss */
.video-wrapper {
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  margin-bottom: 16px;
  margin-bottom: 1rem;
}
/* line 150, ../../../Sass/imperavi-kube-scss/scss/_helpers.scss */
.video-wrapper iframe, .video-wrapper object, .video-wrapper embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.round-border{
  -webkit-border-radius: 25px 25px 25px 25px;
  border-radius: 25px 25px 25px 25px;
}

/* =Responsive
-----------------------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
  /* line 164, ../../../Sass/imperavi-kube-scss/scss/_helpers.scss */
  .left,
  .right {
    float: none;
  }
}
/* string content */
/* line 2, ../../../Sass/imperavi-kube-scss/scss/_prettyprint.scss */
.str {
  color: #dd1144;
}

/* a keyword */
/* line 7, ../../../Sass/imperavi-kube-scss/scss/_prettyprint.scss */
.kwd {
  color: #333333;
}

/* a comment */
/* line 12, ../../../Sass/imperavi-kube-scss/scss/_prettyprint.scss */
.com {
  color: #999988;
}

/* a type name */
/* line 17, ../../../Sass/imperavi-kube-scss/scss/_prettyprint.scss */
.typ {
  color: #445588;
}

/* a literal value */
/* line 22, ../../../Sass/imperavi-kube-scss/scss/_prettyprint.scss */
.lit {
  color: #445588;
}

/* punctuation */
/* line 27, ../../../Sass/imperavi-kube-scss/scss/_prettyprint.scss */
.pun {
  color: #888;
}

/* lisp open bracket */
/* line 32, ../../../Sass/imperavi-kube-scss/scss/_prettyprint.scss */
.opn {
  color: #333333;
}

/* lisp close bracket */
/* line 37, ../../../Sass/imperavi-kube-scss/scss/_prettyprint.scss */
.clo {
  color: #333333;
}

/* a markup tag name */
/* line 42, ../../../Sass/imperavi-kube-scss/scss/_prettyprint.scss */
.tag {
  color: #333;
}
a.tag:hover {
  background-color: #eee;
  color: #000;
}

/* a markup attribute name */
/* line 47, ../../../Sass/imperavi-kube-scss/scss/_prettyprint.scss */
.atn {
  color: #51a7c9;
}

/* a markup attribute value */
/* line 52, ../../../Sass/imperavi-kube-scss/scss/_prettyprint.scss */
.atv {
  color: #709c1a;
}

/* a declaration */
/* line 57, ../../../Sass/imperavi-kube-scss/scss/_prettyprint.scss */
.dec {
  color: #666;
}

/* a variable name */
/* line 62, ../../../Sass/imperavi-kube-scss/scss/_prettyprint.scss */
.var {
  color: teal;
}

/* a function name */
/* line 67, ../../../Sass/imperavi-kube-scss/scss/_prettyprint.scss */
.fun {
  color: #990000;
}

/*  MFG Labs iconset 1.0
    
    -------------------------------------------------------
    
    License
    -------------------------------------------------------
    • The MFG Labs iconset font is licensed under the SIL Open Font License - http://scripts.sil.org/OFL
    • MFG Labs inconset CSS files are licensed under the MIT License -
      http://opensource.org/licenses/mit-license.html
    • The MFG Labs iconset pictograms are licensed under the CC BY 3.0 License - http://creativecommons.org/licenses/by/3.0/
    • Attribution is no longer required in Font Awesome 3.0, but much appreciated:
      MFG Labs inconset by MFG Labs

    Contact
    -------------------------------------------------------
    Email: martin.charpentier@mfglabs.com
    Twitter: http://twitter.com/mfg_labs
    

    */
@font-face {
    font-family: 'mfg_labs_iconsetregular';
    src: url('/fonts/tintolocker/mfglabsiconset-webfont.eot');
    src: url('/fonts/tintolocker/mfglabsiconset-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/tintolocker/mfglabsiconset-webfont.woff') format('woff'),
         url('/fonts/tintolocker/mfglabsiconset-webfont.ttf') format('truetype'),
         url('/fonts/tintolocker/mfglabsiconset-webfont.svg#mfg_labs_iconsetregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

i, .icon {
  font-family: 'mfg_labs_iconsetregular';
  font-style: normal;
  speak: none;
  font-weight: normal;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
}

.icon1-5x { font-size: 1.5em; }
.icon2x { font-size: 2em; }
.icon3x { font-size: 3em; }



/* style exemples */
.gradient {
  color: #999;
  text-shadow: 1px 1px 1px rgba(27, 27, 27, 0.19);
  
  background-image: -webkit-gradient(
  linear,
  left top, left bottom,
  from(rgba( 182, 182, 182, 1)),
  to(rgba(60, 60, 60, 1))
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.gradient:hover, .gradient .current {
  color: #eee;
  text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.25);
  
  background-image: -webkit-gradient(
  linear,
  left top, left bottom,
  from(rgba( 255, 255, 255, 1)),
  to(rgba(187, 187, 187, 1))
  );
  
}

/*  MFG Labs iconset uses the Unicode Private Use Area (PUA) to ensure screen
    readers do not read off random characters that represent icons.
    We also use semantic unicode when they are available for the icon we provide. */

.icon-cloud:before                { content: "\2601"; }
.icon-at:before                   { content: "\0040"; }
.icon-plus:before                 { content: "\002B"; }
.icon-minus:before                { content: "\2212"; }

.icon-arrow_up:before             { content: "\2191"; }
.icon-arrow_down:before           { content: "\2193"; }
.icon-arrow_right:before          { content: "\2192"; }
.icon-arrow_left:before           { content: "\2190"; }
.icon-chevron_down:before         { content: "\f004"; }
.icon-chevron_up:before           { content: "\f005"; }
.icon-chevron_right:before        { content: "\f006"; }
.icon-chevron_left:before         { content: "\f007"; }
.icon-reorder:before              { content: "\f008"; }
.icon-list:before                 { content: "\f009"; }
.icon-reorder_square:before       { content: "\f00a"; }
.icon-reorder_square_line:before  { content: "\f00b"; }
.icon-coverflow:before            { content: "\f00c"; }
.icon-coverflow_line:before       { content: "\f00d"; }
.icon-pause:before                { content: "\f00e"; }
.icon-play:before                 { content: "\f00f"; }

.icon-step_forward:before         { content: "\f010"; }
.icon-step_backward:before        { content: "\f011"; }
.icon-fast_forward:before         { content: "\f012"; }
.icon-fast_backward:before        { content: "\f013"; }
.icon-cloud_upload:before         { content: "\f014"; }
.icon-cloud_download:before       { content: "\f015"; }
.icon-data_science:before         { content: "\f016"; }
.icon-data_science_black:before   { content: "\f017"; }
.icon-globe:before                { content: "\f018"; }
.icon-globe_black:before          { content: "\f019"; }
.icon-math_ico:before             { content: "\f01a"; }
.icon-math:before                 { content: "\f01b"; }
.icon-math_black:before           { content: "\f01c"; }
.icon-paperplane_ico:before       { content: "\f01d"; }
.icon-paperplane:before           { content: "\f01e"; }
.icon-paperplane_black:before     { content: "\f01f"; }

/* \f020 doesn't work in Safari. all shifted one down */
.icon-color_balance:before        { content: "\f020"; }
.icon-star:before                 { content: "\2605"; }
.icon-star_half:before            { content: "\f022"; }
.icon-star_empty:before           { content: "\2606"; }
.icon-star_half_empty:before      { content: "\f024"; }
.icon-reload:before               { content: "\f025"; }

.icon-heart:before                { content: "\2665"; }
.icon-heart_broken:before         { content: "\f028"; }
.icon-hashtag:before              { content: "\f029"; }
.icon-reply:before                { content: "\f02a"; }
.icon-retweet:before              { content: "\f02b"; }
.icon-signin:before               { content: "\f02c"; }
.icon-signout:before              { content: "\f02d"; }
.icon-download:before             { content: "\f02e"; }
.icon-upload:before               { content: "\f02f"; }


.icon-placepin:before             { content: "\f031"; }
.icon-display_screen:before       { content: "\f032"; }
.icon-tablet:before               { content: "\f033"; }
.icon-smartphone:before           { content: "\f034"; }
.icon-connected_object:before     { content: "\f035"; }
.icon-lock:before                 { content: "\F512"; }
.icon-unlock:before               { content: "\F513"; }
.icon-camera:before               { content: "\F4F7"; }
.icon-isight:before               { content: "\f039"; }
.icon-video_camera:before         { content: "\f03a"; }
.icon-random:before               { content: "\f03b"; }
.icon-message:before              { content: "\F4AC"; }
.icon-discussion:before           { content: "\f03d"; }
.icon-calendar:before             { content: "\F4C5"; }
.icon-ringbell:before             { content: "\f03f"; }

.icon-movie:before                { content: "\f040"; }
.icon-mail:before                 { content: "\2709"; }
.icon-pen:before                  { content: "\270F"; }
.icon-settings:before             { content: "\9881"; }
.icon-measure:before              { content: "\f044"; }
.icon-vector:before               { content: "\f045"; }
.icon-vector_pen:before           { content: "\2712"; }
.icon-mute_on:before              { content: "\f047"; }
.icon-mute_off:before             { content: "\f048"; }
.icon-home:before                 { content: "\2302"; }
.icon-sheet:before                { content: "\f04a"; }
.icon-arrow_big_right:before      { content: "\21C9"; }
.icon-arrow_big_left:before       { content: "\21C7"; }
.icon-arrow_big_down:before       { content: "\21CA"; }
.icon-arrow_big_up:before         { content: "\21C8"; }
.icon-dribbble_circle:before      { content: "\f04f"; }

.icon-dribbble:before             { content: "\f050"; }
.icon-facebook_circle:before      { content: "\f051"; }
.icon-facebook:before             { content: "\f052"; }
.icon-git_circle_alt:before       { content: "\f053"; }
.icon-git_circle:before           { content: "\f054"; }
.icon-git:before                  { content: "\f055"; }
.icon-octopus:before              { content: "\f056"; }
.icon-twitter_circle:before       { content: "\f057"; }
.icon-twitter:before              { content: "\f058"; }
.icon-google_plus_circle:before   { content: "\f059"; }
.icon-google_plus:before          { content: "\f05a"; }
.icon-linked_in_circle:before     { content: "\f05b"; }
.icon-linked_in:before            { content: "\f05c"; }
.icon-instagram:before            { content: "\f05d"; }
.icon-instagram_circle:before     { content: "\f05e"; }
.icon-mfg_icon:before             { content: "\f05f"; }
.icon-xing:before                 { content: "\F532"; }
.icon-xing_circle:before          { content: "\F533"; }

.icon-mfg_icon_circle:before      { content: "\f060"; }
.icon-user:before                 { content: "\f061"; }
.icon-user_male:before            { content: "\f062"; }
.icon-user_female:before          { content: "\f063"; }
.icon-users:before                { content: "\f064"; }

.icon-file_open:before            { content: "\F4C2"; }
.icon-file_close:before           { content: "\f067"; }
.icon-file_alt:before             { content: "\f068"; }
.icon-file_close_alt:before       { content: "\f069"; }
.icon-attachment:before           { content: "\f06a"; }
.icon-check:before                { content: "\2713"; }
.icon-cross_mark:before           { content: "\274C"; }
.icon-cancel_circle:before        { content: "\F06E"; }
.icon-check_circle:before         { content: "\f06d"; }
.icon-magnifying:before           { content: "\F50D"; }

.icon-inbox:before                { content: "\f070"; }
.icon-clock:before                { content: "\23F2"; }
.icon-stopwatch:before            { content: "\23F1"; }
.icon-hourglass:before            { content: "\231B"; }
.icon-trophy:before               { content: "\f074"; }
.icon-unlock_alt:before           { content: "\F075"; }
.icon-lock_alt:before             { content: "\F510"; }
.icon-arrow_doubled_right:before  { content: "\21D2"; }
.icon-arrow_doubled_left:before   { content: "\21D0"; }
.icon-arrow_doubled_down:before   { content: "\21D3"; }
.icon-arrow_doubled_up:before     { content: "\21D1"; }
.icon-link:before                 { content: "\f07B"; }
.icon-warning:before              { content: "\2757"; }
.icon-warning_alt:before          { content: "\2755"; }
.icon-magnifying_plus:before      { content: "\f07E"; }
.icon-magnifying_minus:before     { content: "\f07F"; }

.icon-white_question:before       { content: "\2754"; }
.icon-black_question:before       { content: "\2753"; }
.icon-stop:before                 { content: "\f080"; }
.icon-share:before                { content: "\f081"; }
.icon-eye:before                  { content: "\f082"; }
.icon-trash_can:before            { content: "\f083"; }
.icon-hard_drive:before           { content: "\f084"; }
.icon-information_black:before    { content: "\f085"; }
.icon-information_white:before    { content: "\f086"; }
.icon-printer:before              { content: "\f087"; }
.icon-letter:before               { content: "\f088"; }
.icon-soundcloud:before           { content: "\f089"; }
.icon-soundcloud_circle:before    { content: "\f08A"; }
.icon-anchor:before               { content: "\2693"; }

.icon-female_sign:before          { content: "\2640"; }
.icon-male_sign:before            { content: "\2642"; }
.icon-joystick:before             { content: "\F514"; }
.icon-high_voltage:before         { content: "\26A1"; }
.icon-fire:before                 { content: "\F525"; }
.icon-newspaper:before            { content: "\F4F0"; }
.icon-chart:before                { content: "\F526"; }
.icon-spread:before               { content: "\F527"; }

.icon-spinner_1:before            { content: "\F528"; }
.icon-spinner_2:before            { content: "\F529"; }

.icon-chart_alt:before            { content: "\F530"; }
.icon-label:before                { content: "\F531"; }

.icon-brush:before                { content: "\E000"; }
.icon-refresh:before              { content: "\E001"; }

.icon-node:before                 { content: "\E002"; }
.icon-node_2:before               { content: "\E003"; }
.icon-node_3:before               { content: "\E004"; }
.icon-link_2_nodes:before         { content: "\E005"; }
.icon-link_3_nodes:before         { content: "\E006"; }
.icon-link_loop_nodes:before      { content: "\E007"; }
.icon-node_size:before            { content: "\E008"; }
.icon-node_color:before           { content: "\E009"; }
.icon-layout_directed:before      { content: "\E010"; }
.icon-layout_radial:before        { content: "\E011"; }
.icon-layout_hierarchical:before  { content: "\E012"; }
.icon-node_link_direction:before  { content: "\E013"; }
.icon-node_link_short_path:before { content: "\E014"; }
.icon-node_cluster:before         { content: "\E015"; }
.icon-display_graph:before        { content: "\E016"; }
.icon-node_link_weight:before     { content: "\E017"; }
.icon-more_node_links:before      { content: "\E018"; }
.icon-node_shape:before           { content: "\E00A"; }
.icon-node_icon:before            { content: "\E00B"; }
.icon-node_text:before            { content: "\E00C"; }
.icon-node_link_text:before       { content: "\E00D"; }
.icon-node_link_color:before      { content: "\E00E"; }
.icon-node_link_shape:before      { content: "\E00F"; }

.icon-credit_card:before          { content: "\F4B3"; }
.icon-disconnect:before           { content: "\F534"; }
.icon-graph:before                { content: "\F535"; }
.icon-new_user:before             { content: "\F536"; }


.map-block{
  height: 600px; 
}
.map-block iframe{
  width: 100%;
  height: 100%;
}
.bg-overlay{
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 2;
  top:0;
  left: 0;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  opacity: .1;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .intro-bg{
    //background: url(../img/intro-bg-resp_.jpg) #ffffff no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  h1 {
    font-size: 32px;
    line-height: 1.3em;
    margin-bottom: .25em;
    font-weight: 900;
  }
  .services-bg{
    //background: url(../img/services-bg-resp_.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .faq-bg{
    //background: url(../img/faq-bg-resp.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .map-block{
    height: 100%;
  }
}
.auto-margin{
  margin: 0 auto;
}

.red-bg {
  background-color: red;
}

textarea {
   font-family: inherit;
   font-size: inherit;
   font-size: 14px;
}

.menuTop {
  font-size: 12px;
}

.cursorPointer {
  cursor: pointer;
}