/*
	Theme Name: Latitude Child Theme
	Theme URI: http://www.aaronhartland.com/themes/latitude/
	Description: Latitude is a 2 or 3-column Widget-ready child theme created for the Genesis Framework.
	Author: Aaron Hartland	
	Author URI: http://www.aaronhartland.com
	Version: 1.0

	Template: genesis
	Template Version: 1.7.1

	License: GNU General Public License v2.0
	License URI: http://www.opensource.org/licenses/gpl-license.php
*/


/* Table of Contents

* Import Fonts
* Defaults
* Hyperlinks
* Wrap
* Header
* Image Header - Partial Width
* Image Header - Full Width
* Navigation Constants
* Header Right Navigation
* Primary Navigation
* Primary Navigation Extras
* Secondary Navigation
* Inner
* Breadcrumb
* Taxonomy Description
* Content-Sidebar Wrap
* Content
* Column Classes
* Headlines
* Unordered / Ordered Lists
* Post Info
* Post Meta
* Author Box
* Sticky Posts
* Archive Page
* Images
* Post Navigation
* Primary / Secondary Sidebars
* Dropdowns
* Featured Page / Post
* User Profile
* Buttons
* Search Form
* eNews & Updates Widget
* Calendar Widget
* Footer Widgets
* Footer
* Comments
* Gravity Forms

*/


/* Import Fonts
------------------------------------------------------------ */

@import url(https://fonts.googleapis.com/css?family=Oswald);


/* Defaults
------------------------------------------------------------ */
body { 	background: #34A7E0; }

body,
h1,
h2,
h2 a,
h2 a:visited,
h3,
h4,
h5,
h6,
p,
input,
select,
textarea {
	color: #333;
	font-family: Georgia, Times, 'Times New Roman', serif;
	font-size: 15px;
	font-weight: normal;
	line-height: 24px;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

input,
select,
textarea,
.breadcrumb,
.sticky,
.taxonomy-description,
.wp-caption {
	background-color: #f5f5f5;
	border: 1px solid #ddd;
}

ol,
ol li,
ul,
ul li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ol li {
	list-style-type: decimal;
}

ul li {
	list-style-type: square;
}


/* Hyperlinks
------------------------------------------------------------ */

a,
a:visited {
	color: #34a7e0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a img {
	border: none;
}

a:focus, a:hover, a:active {
	outline: medium none;
}


/* Wrap
------------------------------------------------------------ */

#wrap {
	border-top: 5px solid #C5C5C5;
}


/* Header
------------------------------------------------------------ */

#header {
	background-color: #34a7e0;
	min-height: 120px;
	margin: 0 auto;
	overflow: hidden;
	width: 960px;
}

#header .wrap {
	margin: 0 auto;
	width: 960px;
}

#title-area {
	float: left;
	overflow: hidden;
	padding: 30px 0 0;
	width: 450px;
}

#title {
	font-family: 'Oswald', arial, serif;
	font-size: 48px;
	line-height: 60px;
	margin: 0 0 10px;
	text-transform: uppercase;
}

#title a,
#title a:hover {
	color: #fff;
	text-decoration: none;
}

#description {
	display: none;
}

#header .widget-area {
	float: right;
	padding: 50px 0 0;
	width: 500px;
}

#header .widget-area ul li {
	margin: 0;
}


/* Image Header - Partial Width
------------------------------------------------------------ */

.header-image #title-area,
.header-image #title,
.header-image #title a {
	display: block;
	float: left;
	height: 100px;
	overflow: hidden;
	padding: 0;
	text-indent: -9999px;
	width: 300px;
}

.header-image #description {
	display: block;
	overflow: hidden;
}


/* Image Header - Full Width
------------------------------------------------------------ */

.header-full-width #title-area,
.header-full-width #title,
.header-full-width #title a {
	width: 960px;
}


/* Navigation Constants
------------------------------------------------------------ */

li:hover ul ul,
li.sfHover ul ul {
	left: -9999px;
}

li:hover,
li.sfHover {
	position: static;
}


/* Header Right Navigation
------------------------------------------------------------ */

#header ul.nav,
#header ul.menu {
	float: right;
}

#header ul.nav ul,
#header ul.menu ul {
	float: right;
	margin: 0;
	padding: 0;
	width: 100%;
}

#header ul.nav li,
#header ul.menu li {
	float: left;
	list-style-type: none;
}

#header ul.nav li a,
#header ul.menu li a {
	color: #fff;
	display: block;
	font-family: 'Oswald', arial, serif;
	font-size: 16px;
	padding: 7px 10px 5px;
	position: relative;
	text-decoration: none;
}

#header ul.nav li a:hover,
#header ul.nav li a:active,
#header ul.nav .current_page_item a,
#header ul.nav .current-cat a,
#header ul.nav .current-menu-item a,
#header ul.menu li a:hover,
#header ul.menu li a:active,
#header ul.menu .current_page_item a,
#header ul.menu .current-cat a,
#header ul.menu .current-menu-item a {
	color: #333;
}

#header ul.nav li a .sf-sub-indicator,
#header ul.menu li a .sf-sub-indicator {
	display: block;
	overflow: hidden;
	position: absolute;
	text-indent: -9999px;
}

#header ul.nav li li a,
#header ul.nav li li a:link,
#header ul.nav li li a:visited,
#header ul.menu li li a,
#header ul.menu li li a:link,
#header ul.menu li li a:visited {
	background-color: #333;
	color: #fff;
	font-size: 12px;
	padding: 5px 10px;
	position: relative;
	width: 128px;
}

#header ul.nav li li a:hover,
#header ul.nav li li a:active,
#header ul.menu li li a:hover,
#header ul.menu li li a:active {
	color: #34A7E0;
	background-color: #3d3d3d;
}

#header ul.nav li ul,
#header ul.menu li ul {
	height: auto;
	left: -9999px;
	position: absolute;
	width: 160px;
	z-index: 9999;
}

#header ul.nav li ul a,
#header ul.menu li ul a {
	width: 150px;
}

#header ul.nav li ul ul,
#header ul.menu li ul ul {
	margin: -34px 0 0 148px;
}

#header ul.nav li:hover>ul,
#header ul.nav li.sfHover ul,
#header ul.menu li:hover>ul,
#header ul.menu li.sfHover ul {
	left: auto;
}


/* Primary Navigation
------------------------------------------------------------ */

#nav {
	background-color: #333;
	border-top: 3px solid #222;
	overflow: hidden;
}

#nav .wrap {
	color: #fff;
	font-family: 'Oswald', arial, serif;
	margin: 0 auto;
	overflow: hidden;
	width: 960px;
}

#nav ul {
	float: left;
	width: 100%;
}

#nav li {
	float: left;
	list-style-type: none;
}

#nav li a {
	color: #fff;
	display: block;
	font-size: 14px;
	padding: 9px 15px 11px;
	position: relative;
	text-decoration: none;
}

#nav li a:hover,
#nav li a:active,
#nav .current_page_item a,
#nav .current-cat a,
#nav .current-menu-item a {
	background-color: #3d3d3d;
	color: #34a7e0;
}

#nav li a .sf-sub-indicator {
	display: block;
	overflow: hidden;
	position: absolute;
	text-indent: -9999px;
}

#nav li li a,
#nav li li a:link,
#nav li li a:visited {
	background-color: #333;
	color: #fff;
	font-size: 12px;
	padding: 5px 10px;
	position: relative;
	width: 128px;
}

#nav li li a:hover,
#nav li li a:active {
	color: #34a7e0;
	background-color: #3d3d3d;
}

#nav li ul {
	height: auto;
	left: -9999px;
	position: absolute;
	width: 160px;
	z-index: 9999;
}

#nav li ul a {
	width: 150px;
}

#nav li ul ul {
	margin: -34px 0 0 148px;
}

#nav li:hover>ul,
#nav li.sfHover ul {
	left: auto;
}


/* Primary Navigation Extras
------------------------------------------------------------ */

#nav li.right {
	float: right;
	padding: 9px 15px 10px;
}

#nav li.right a {
	background: none;
	border: none;
	color: #fff;
	display: inline;
	text-decoration: none;
}

#nav li.right a:hover {
	color: #fff;
	text-decoration: underline;
}

#nav li.search {
	padding: 4px 10px 0;
}

#nav li.rss a {
	background: url(images/rss.png) no-repeat center left;
	margin: 0 0 0 10px;
	padding: 7px 0 5px 16px;
}

#nav li.twitter a {
	background: url(images/twitter-nav.png) no-repeat center left;
	padding: 7px 0 5px 20px;
}


/* Secondary Navigation
------------------------------------------------------------ */

#subnav {
	background-color: #333333;
	border-top: 3px solid #222222;
	clear: both;
	color: #FFFFFF;
	font-family: 'Oswald',arial,serif;
	margin: 0 auto;
	overflow: hidden;
}

#subnav .wrap{
	width: 960px;
	margin: 0 auto;
}

#subnav ul {
	float: left;
	width: 100%;
}

#subnav li {
	float: left;
	list-style-type: none;
}

#subnav li a {
	color: #fff;
	display: block;
	font-size: 13px;
	padding: 8px 14px 10px;
	position: relative;
	text-decoration: none;
}

#subnav li a:hover,
#subnav li a:active,
#subnav .current_page_item a,
#subnav .current-cat a,
#subnav .current-menu-item a {
	background-color: #34a7e0;
	color: #fff;
}

#subnav li a .sf-sub-indicator {
	display: block;
	overflow: hidden;
	position: absolute;
	text-indent: -9999px;
}

#subnav li li a,
#subnav li li a:link,
#subnav li li a:visited {
	background-color: #34a7e0;
	color: #fff;
	font-size: 12px;
	padding: 5px 10px;
	position: relative;
	width: 138px;
}

#subnav li li a:hover,
#subnav li li a:active {
	background-color: #666;
}

#subnav li ul {
	height: auto;
	left: -9999px;
	position: absolute;
	width: 160px;
	z-index: 9999;
}

#subnav li ul a {
	width: 140px;
}

#subnav li ul ul {
	margin: -34px 0 0 158px;
}

#subnav li:hover>ul,
#subnav li.sfHover ul {
	left: auto;
}


/* Featured
------------------------------------------------------------ */

.featured {
	margin: 0 auto;
	height: 370px;
	padding: 0;
	width: 960px;
}


.slider-previous, .slider-previous:hover {
	left: -54px !important;
}

.slider-next, .slider-next:hover {
	right: -54px !important;
}

#genesis-slider h2, #genesis-slider h2 a, #genesis-slider h2 a:visited {
	font-size: 24px;
	line-height: 30px;
}



/* Welcome
------------------------------------------------------------ */

.welcome {
	border-bottom: 3px double #EEEEEE;
	color: #444444;
	font-family: Georgia,Times,'Times New Roman',serif;
	font-size: 24px;
	font-style: italic;
	font-weight: normal;
	line-height: 36px;
	padding: 25px 0;
	text-align: center;
}

.welcome p {
	color: #444;
	font-family: Georgia, Times, 'Times New Roman', serif;
	font-size: 24px;
	font-weight: normal;
	line-height: 36px;
	font-style: italic;
	text-align: center;
}


/* Home Middle
------------------------------------------------------------ */

.home-middle {
	margin: 0 auto;
	overflow: hidden;
	padding: 25px 0 0;
	width: 960px;
}

.home-middle p {
	padding-top: 10px;
}

.home-middle-1 {
	float: left;
	padding: 0 21px 0 0;
	width: 306px;
}

.home-middle-2 {
	float: left;
	width: 306px;
}

.home-middle-3 {
	float: right;
	width: 306px;
}




/* Inner
------------------------------------------------------------ */
.home #inner {}
.home #inner .wrap {}

#inner {
	overflow: hidden;
	padding: 25px 0 0;
	background: #fff;
}

#inner .wrap {
	width: 960px;
	margin: 0 auto;
}

	
.full-width-content #inner {
	background: #fff;
}


/* Breadcrumb
------------------------------------------------------------ */

.breadcrumb {
	font-size: 12px;
	margin: 0 0 30px;
	padding: 5px 10px;
}


/* Taxonomy Description
------------------------------------------------------------ */

.taxonomy-description {
	margin: 0 0 30px;
	padding: 10px;
}


/* Content-Sidebar Wrap
------------------------------------------------------------ */

#content-sidebar-wrap {
	float: left;
	width: 790px;
}

.content-sidebar #content-sidebar-wrap,
.sidebar-content #content-sidebar-wrap {
	width: 960px;
}

.sidebar-content-sidebar #content-sidebar-wrap,
.sidebar-sidebar-content #content-sidebar-wrap {
	float: right;
}

.content-sidebar-sidebar #content-sidebar-wrap,
.sidebar-sidebar-content #content-sidebar-wrap {
	width: 790px;
}


.full-width-content #content-sidebar-wrap {
	width: 960px;
}


/* Content
------------------------------------------------------------ */

#content {
	float: left;
	padding: 0;
	width: 490px;
}

.content-sidebar #content,
.sidebar-content #content {
	width: 660px;
}

.sidebar-content #content,
.sidebar-sidebar-content #content {
	float: right;
}

.content-sidebar-sidebar #content,
.sidebar-sidebar-content #content {
	width: 490px;
}

.full-width-content #content {
	width: 960px;
}

blockquote {
	background-color: #f5f5f5;
	border-left: 5px solid #ddd;
	margin: 5px 15px 25px;
	padding: 20px 20px 0;
}

blockquote p {
	color: #666;
	font-style: italic;
}

.post {
	border-bottom: 5px solid #eee;
	margin: 0 0 40px;
	padding: 0 0 20px;
}

.single .post {
	border: none;
	margin: 0;
	padding: 0 0 20px;
}

.entry-content {
	overflow: hidden;
}

.entry-content a,
.entry-content a:visited {
	text-decoration: underline;
}

.entry-content a:hover {
	text-decoration: none;
}

.entry-content p {
	padding: 0 0 20px;
}

.clear {
	clear: both;
}

.clear-line {
	border-bottom: 1px solid #ddd;
	clear: both;
	margin: 0 0 15px;
}

.note {
	background: none repeat scroll 0 0 #F5F5F5;
	margin: 0 0 15px;
	padding: 5px 10px;
}


/* Column Classes
------------------------------------------------------------ */

.five-sixths,
.four-fifths,
.four-sixths,
.one-fifth,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fifths,
.three-fourths,
.three-sixths,
.two-fifths,
.two-fourths,
.two-sixths,
.two-thirds {
	float: left;
	margin: 0 0 20px;
	padding-left: 3%;
}

.one-half,
.three-sixths,
.two-fourths {
	width: 48%;
}

.one-third,
.two-sixths {
	width: 31%;
}

.four-sixths,
.two-thirds {
	width: 65%;
}

.one-fourth {
	width: 22.5%;
}

.three-fourths {
	width: 73.5%;
}

.one-fifth {
	width: 17.4%;
}

.two-fifths {
	width: 37.8%;
}

.three-fifths {
	width: 58.2%;
}

.four-fifths {
	width: 78.6%;
}

.one-sixth {
	width: 14%;
}

.five-sixths {
	width: 82%;
}

.first {
	clear: both;
	padding-left: 0;
}


/* Headlines
------------------------------------------------------------ */

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #333;
	font-family: 'Oswald', arial, serif;
	margin: 0 0 15px;
}

h1,
h2,
h2 a,
h2 a:visited {
	color: #333;
	font-family: 'Oswald', arial, serif;
	font-size: 30px;
	line-height: 36px;
}

h2 a:hover {
	color: #34a7e0;
	text-decoration: none;
}

.widget-area h2 {
	font-size: 14px;
	font-weight: bold;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 18px;
}

.widget-area h4 {
	border-bottom: 5px solid #ddd;
	color: #34a7e0;
	margin: 0 0 10px;
	padding: 0 0 5px;
	text-transform: uppercase;
}

#footer-widgets .widget-area h4 {
	border: none;
}

h5 {
	font-size: 14px;
}

h6 {
	font-size: 12px;
}


/* Unordered / Ordered Lists
------------------------------------------------------------ */

.entry-content ol,
.entry-content ul {
	margin: 0;
	padding: 0 0 20px;
}

.entry-content ol {
	margin: 0;
}

.archive-page ul li,
.entry-content ul li {
	list-style-type: square;
	margin: 0 0 0 30px;
	padding: 0;
}

.entry-content ol li {
	margin: 0 0 0 35px;
}

.archive-page ul ul,
.entry-content ul ul,
.entry-content ol ol {
	padding: 0;
}


/* Post Info
------------------------------------------------------------ */

.post-info {
	font-family: 'Oswald', arial, serif;
	font-size: 12px;
	margin: 0 0 15px;
}


/* Post Meta
------------------------------------------------------------ */

.post-meta {
	clear: both;
	font-family: 'Oswald', arial, serif;
	font-size: 12px;
}


/* Author Box
------------------------------------------------------------ */

.author-box {
	border-bottom: 5px solid #eee;
	border-top: 5px solid #eee;
	margin: 0 0 40px;
	overflow: hidden;
	padding: 10px 0;
}

.author-box p {
	font-size: 14px;
	line-height: 20px;
}

/* Sticky Posts
------------------------------------------------------------ */

.sticky {
	margin: 0 0 40px;
	padding: 10px;
}


/* Archive Page
------------------------------------------------------------ */

.archive-page {
	float: left;
	padding: 20px 0;
	width: 50%;
}


/* Images
------------------------------------------------------------ */

.avatar,
.featuredpage img,
.featuredpost img,
.post-image {
	background-color: #f5f5f5;
	border: 1px solid #ddd;
	padding: 4px;
}

.author-box .avatar {
	background-color: #fff;
	float: left;
	height: 75px;
	margin: 0 10px 0 0;
	width: 75px;
}

.post-image {
	margin: 0 10px 10px 0;
}

.comment-list li .avatar { 
	background-color: #fff;
	float: left;
	height: 33px;
	margin: 0 5px 0 0;
	padding: 4px;
	width: 33px;
}

img.centered,
.aligncenter {
	display: block;
	margin: 0 auto 10px;
}

img.alignnone {
	display: inline;
	margin: 0 0 10px;
}

img.alignleft {
	display: inline;
	margin: 0 10px 10px 0;
}

img.alignright {
	display: inline;
	margin: 0 0 10px 10px;
}

.alignleft {
	float: left;
	margin: 0 10px 0 0;
}

.alignright {
	float: right;
	margin: 0 0 0 10px;
}

.wp-caption {
	padding: 5px;
	text-align: center;
}

p.wp-caption-text {
	font-size: 11px;
	line-height: 12px;
	padding: 5px 0;
}

.wp-smiley,
.wp-wink {
	border: none;
	float: none;
}


/* Post Navigation
------------------------------------------------------------ */

.navigation {
	overflow: hidden;
	padding: 20px 0;
	width: 100%;
}

.navigation li {
	display: inline;
}

.navigation li a,
.navigation li.disabled,
.navigation li a:hover,
.navigation li.active a {
	background-color: #333;
	border: 1px solid #333;
	color: #fff;
	padding: 5px 8px;
}

.navigation li a:hover,
.navigation li.active a {
	background-color: #34a7e0;
	border: 1px solid #34a7e0;
	text-decoration: none;
}


/* Primary / Secondary Sidebars
------------------------------------------------------------ */

.sidebar {
	display: inline;
	float: right;
	font-size: 13px;
	line-height: 20px;
	width: 280px;
}

#sidebar-alt {
	float: left;
	width: 150px;
}

.sidebar p {
	font-size: 14px;
	line-height: 22px;
}

.sidebar-content #sidebar,
.sidebar-sidebar-content #sidebar {
	float: left;
}

.content-sidebar-sidebar #sidebar-alt {
	float: right;
}

.sidebar .widget {
	margin: 0 0 30px;
}

.widget-area ol,
.widget-area ul {
	margin: 0 0 0 20px;
}

.widget-area ol ol,
.widget-area ul ul {
	margin: 0 0 0 15px;
}

.widget-area ul li {
	list-style-type: square;
	margin: 0 0 5px;
	word-wrap: break-word;
}

.widget-area ul li a,
.widget-area ul li a:visited {
	color: #333;
	text-decoration: underline;
}

.widget-area ul li a:hover {
	color: #34a7e0;
}

.widget-area ol li {
	list-style-type: decimal;
}


/* Dropdowns
------------------------------------------------------------ */

#cat,
.widget_archive select {
	display: inline;
	font-size: 12px;
	margin: 5px 0 0;
	padding: 3px;
	width: 100%;
}


/* Featured Page / Post
------------------------------------------------------------ */

.featuredpage,
.featuredpost {
	clear: both;
	margin: 0 0 15px;
	overflow: hidden;
}

.featuredpage .page,
.featuredpost .post {
	margin: 0 0 15px;
	overflow: hidden;
	padding: 0 0 5px;
}


/* User Profile
------------------------------------------------------------ */

.user-profile {
	overflow: hidden;
}


/* Buttons
------------------------------------------------------------ */

div.gform_footer input.button,
.enews #subbutton,
.searchsubmit,
#submit {
	background-color: #666;
	border: 1px solid #666;
	color: #fff;
	cursor: pointer;
	font-family: 'Oswald', arial, serif;
	font-size: 12px !important;
	font-weight: normal !important;
	padding: 5px 7px;
	text-decoration: none;
	text-transform: uppercase;
}

.reply a,
.reply a:visited {
	font-weight: normal;
}

#header .searchsubmit {
	border: 3px solid #c5c5c5;
}

div.gform_footer input.button:hover,
.enews #subbutton:hover,
.searchsubmit:hover,
#submit:hover {
	background-color: #333;
	border: 1px solid #333;
	color: #fff;
	text-decoration: none;
}

#header .searchsubmit:hover {
	border: 3px solid #c5c5c5;
}


/* Search Form
------------------------------------------------------------ */

#header .searchform {
	float: right;
	padding: 23px 0 0;
}

#nav .searchform {
	float: right;
}

.s {
	color: #666;
	font-family: 'Oswald', arial, serif;
	font-size: 12px;
	margin: 5px 1px 0 0;
	padding: 5px 0 5px 7px;
	width: 200px;
}

#header .s {
	border: 3px solid #c5c5c5;
}

#nav .s {
	margin: 3px 1px 0 0;
}

#sidebar .s {
	background-color: #fff;
	width: 180px;
}


/* eNews and Update Widget
------------------------------------------------------------ */

.enews #subbox {
	background-color: #fff;
	color: #666;
	font-family: 'Oswald', arial, serif;
	font-size: 12px;
	margin: 5px 5px 0 0;
	padding: 6px 0 6px 7px;
	width: 200px;
}


/* Calendar Widget
------------------------------------------------------------ */

#wp-calendar {
	width: 100%;
}

#wp-calendar caption {
	font-size: 12px;
	font-style: italic;
	padding: 2px 5px 0 0;
	text-align: right;
}

#wp-calendar thead {
	background-color: #f5f5f5;
	font-weight: bold;
	margin: 10px 0 0;
}

#wp-calendar td {
	background-color: #f5f5f5;
	padding: 2px;
	text-align: center;
}


/* Footer Widgets
------------------------------------------------------------ */

#footer-widgets {
	background-color: #333;
	border-top: 3px solid #222;
	clear: both;
	overflow: hidden;
	padding: 20px 0 0;
}

#footer-widgets .wrap {
	color: #fff;
	font-size: 12px;
	line-height: 20px;
	margin: 0 auto;
	width: 960px;
}

#footer-widgets .widget {
	background: none;
	border: none;
	margin: 0 0 20px;
	padding: 0;
}

#footer-widgets p {
	color: #fff;
	font-size: 12px;
	line-height: 20px;
	padding: 0 0 10px;
}

#footer-widgets a,
#footer-widgets a:visited {
	color: #fff;
	text-decoration: underline;
}

#footer-widgets a:hover {
	text-decoration: none;
}

#footer-widgets ul {
	color: #fff;
	list-style-type: none;
}

#footer-widgets ul li {
	list-style-type: square;
}

#footer-widgets #wp-calendar thead,
#footer-widgets #wp-calendar td {
	background: none;
}

.footer-widgets-1 {
	float: left;
	padding: 0 21px 0 0;
	width: 306px;
}

.footer-widgets-2 {
	float: left;
	width: 306px;
}

.footer-widgets-3 {
	float: right;
	width: 306px;
}


/* Footer
------------------------------------------------------------ */

#footer {
	background-color: #34a7e0;
	border-top: 5px solid #c5c5c5;
	clear: both;
	overflow: hidden;
}

#footer .wrap {
	font-family: Georgia, Times, 'Times New Roman', serif;
	font-size: 12px;
	margin: 0 auto;
	overflow: hidden;
	padding: 15px 0;
	width: 960px;
}

#footer p {
	font-family: Georgia, Times, 'Times New Roman', serif;
	color: #fff;
	font-size: 13px;
}

#footer a,
#footer a:visited {
	color: #fff;
}

#footer .gototop {
	float: left;
	width: 200px;
}

#footer .creds {
	float: right;
	text-align: right;
	width: 755px;
}


/* Comments
------------------------------------------------------------ */

#comments,
#respond {
	margin: 0;
	overflow: hidden;
	padding: 10px 0 20px;
}

#author,
#comment,
#email,
#url {
	font-size: 12px;
	margin: 10px 5px 0 0;
	padding: 5px;
	width: 250px;
}

#comment {
	height: 150px;
	margin: 10px 0;
	width: 98%;
}

.ping-list {
	margin: 0 0 40px;
}

.comment-list ol,
.ping-list ol {
	margin: 0;
	padding: 10px;
}

.comment-list li,
.ping-list li {
	font-weight: bold;
	list-style: none;
	margin: 10px 0 0;
	padding: 10px;
}

.comment-list li ul li {
	list-style-type: none;
}

.comment-list p,
.ping-list p {
	font-weight: normal;
	margin: 10px 5px 10px 0;
	padding: 0;
	text-transform: none;
}

.comment-list ul.children {
	margin-top: 20px;
}

.comment-list ul.children li.comment  {
	background: #fff;
}

.comment-list cite,
.ping-list cite {
	font-style: normal;
	font-weight: bold;
}

.commentmetadata {
	font-weight:normal;
}

.comment-author { 
	background: #e5e5e5;
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
	padding: 8px 10px 0;
}

.comment-meta { 
	background: #e5e5e5;
	font-size: 14px;
	padding: 0 10px 8px;
}

.nocomments {
	text-align: center;
}

#comments .navigation {
	display: block;
	padding: 0;
}

.thread-alt,
.thread-even {
	background: #f5f5f5;
}

.alt,
.depth-1,
.even {
	border: 1px solid #ddd;
}


/* Gravity Forms
------------------------------------------------------------ */

div.gform_wrapper input,
div.gform_wrapper select,
div.gform_wrapper textarea {
	color: #333;
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	font-size: 12px;
	padding: 4px 5px;
}

div.gform_footer input.button {
	color: #fff;
}

div.gform_wrapper .ginput_complex label {
	font-size: 12px;
}

div.gform_wrapper li,
div.gform_wrapper form li {
	margin: 0 0 10px;
}

div.gform_wrapper .gform_footer {
	border: none;
	margin: 0;
	padding: 0;
}



/* Portfolio Page
------------------------------------------------------------ */
.page-template-page_portfolio-php img {
	border: 1px solid #DDDDDD;
	margin: 0 0 10px;
	max-width: none;
	padding: 6px;
}

.page-template-page_portfolio-php h2 a,
.page-template-page_portfolio-php h2 a:visited {
	font-size: 16px;
	line-height: 20px;
}

.page-template-page_portfolio-php .featuredpage .page, 
.page-template-page_portfolio-php .featuredpost .post {
    float: left;
    margin: 0 12px 10px;
    overflow: hidden;
    padding: 5px 0 10px;
    width: 216px;
}




