/* Enter Your Custom CSS Here */

/* Body */

@media (max-width:600px) {
h1, .hb-text-large {
  font-size:2em !important;
}
}

#main-wrapper #main-content {
  padding-top: 0;
}

#hb-page-title.hb-color-background, #main-content, .hb-image-bg-wrap {
    background-color: #ffffff !important;
}

.no-margin {
  margin: 0 !important;
}
p.hb-text-large {
    font-size: 55px;
}


h1 {
    padding-bottom: 30px;
}

#main-wrapper .iconz-header i.hb-icon-float-none {
  display: inline !important;
}

/* Header */

#hb-header .container, #footer .container, #copyright-wrapper .container {
  max-width:1140px;
}

#header-inner.nav-type-2 #logo {
  padding: 10px 0 0 0;
}

#login-button {
  background-color: #18a454;
  padding: 5px 30px;
  color:white;
  margin: 0 10px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.65);
  -moz-box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.65);
  box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.65);
}

#sign-button {
  background-color: #ed522c;
  padding: 5px 30px;
  color:white;
  margin: 0 10px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.65);
  -moz-box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.65);
  box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.65);
}

#sign-button:hover, #login-button:hover {
  opacity:.7;
}

/* Menu Bar */

#main-nav {
  text-align:center;
}

#main-nav li {
  float:none;
  border-left: 1px #f27925 solid;
  line-height: 5px!important;
}

#header-inner.nav-type-2 #main-nav > li > a {
   line-height: 18px!important;
}

.light-menu-dropdown #main-nav ul.sub-menu li a, .light-menu-dropdown #main-nav ul.sub-menu li {
   border: none !important;
}

#header-inner.nav-type-2 #main-nav > li > ul.sub-menu {
  border: 2px solid #eee;
  border-radius: 10px;
  padding-top:5px !important;
  padding-bottom:5px !important;
}

#main-nav ul.sub-menu::before {
  border-style: solid !important;
  border-width: 0 15px 20px 15px !important; 
  position:absolute; 
  display: inline-block;
  left: 20px; 
  top:-20px;
  border-color: transparent transparent #eee transparent !important;
  content: '';
}

#main-nav ul.sub-menu::after {
  position:absolute; 
  left:20px; 
  top: -16px; 
  display: inline-block;
  border-style: solid !important;
  border-width: 0 15px 20px 15px !important;
  border-color: transparent transparent #fff transparent !important;
  content: '';
}

.light-menu-dropdown #main-nav ul.sub-menu li a, .light-menu-dropdown #main-nav ul.sub-menu li {
  color:#f27925 !important;
  padding: 0 0 0 8px;
  line-height: 20px;
  font-size:13px;
  text-align:left;
  background-color:#fff !important;
}
.light-menu-dropdown #main-nav ul.sub-menu li a:hover, .light-menu-dropdown #main-nav ul.sub-menu li:hover {
  color:#ed522c !important;
  background-color:#fff !important;
}

.sf-menu ul{
  width:13em;
}

/* Footer */
#footer.dark-style .footer-row a:hover {
  color: #fff !important;
  opacity: .5;
}
#footer .social-icons {
  padding-left: 13px;
}

#footer {
  border-top:  #f27925 5px solid;
}
#footer.footer-bg-image {
    background-size: inherit !important;
    background-position: top center !important;
    background-repeat: repeat !important;
}
/* Home */

.big-button {
  background-color: #ed522c;
  padding: 10px 35px;
  color:white;
  margin: 0 10px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.65);
  -moz-box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.65);
  box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.65);
}

.hero-home {
  background-size: 155px;
}
@media (min-width: 1000px) {
  .hb-no-frame.right-arrows ::before {
      position: absolute;
      left: 87%;
      top: 74px;
      content: '\e2b5';
      font-family: Icomoon;
      font-weight: 400;
      font-style: normal;
      text-decoration: inherit;
      -webkit-font-smoothing: antialiased;
      display: inline;
      width: auto;
      height: auto;
      line-height: normal;
      vertical-align: middle;
      background-image: none;
      background-position: 0 0;
      background-repeat: repeat;
      margin-top: 0;
      color: #ed522c;
      font-size: 2.5em;
  }
}

@media (max-width: 600px) {
  .hb-no-frame.right-arrows ::before {
      position: absolute;
      left: 45%;
      bottom: 110px;
      content: '\e2b7';
      font-family: Icomoon;
      font-weight: 400;
      font-style: normal;
      text-decoration: inherit;
      -webkit-font-smoothing: antialiased;
      display: inline;
      width: auto;
      height: auto;
      line-height: normal;
      vertical-align: middle;
      background-image: none;
      background-position: 0 0;
      background-repeat: repeat;
      margin-top: 0;
      color: #ed522c;
      font-size: 2.5em;
  }
.hb-no-frame.right-arrows {
	margin-bottom:75px;
}
}

.hb-no-frame.image-pad {
  padding: 0 15% 10px 15%;
}

/* How it Works */

.hb-teaser-column.alternative {
  padding: 35px;
}

.hb-accordion-pane {
  display: inline-block;
  border: none !important;
}

.hb-accordion-tab, .hb-accordion-tab.active-toggle {
  border-color: #f27925 !important;
  background-color: #f27925;
  color: #ffffff;
  font-weight: 700 !important;
  margin-bottom: 10px;
}

.hb-accordion-tab:hover, .hb-accordion-tab.active-toggle:hover {
  border-color: #f27925 !important;
  background-color: #ed522c;
  color: #ffffff;
  font-weight: 700 !important;
  margin-bottom: 10px;
}

.hb-accordion-tab i, .hb-accordion-tab i.icon-angle-right {
  color: #ffffff !important;
}

/* Pricing */

.easy-table.easy-table-minimal tr:nth-child(odd) {
    background-color: #eee;
}

.easy-table.easy-table-minimal, .easy-table.easy-table-minimal tbody, .easy-table.easy-table-minimal tr, .easy-table.easy-table-minimal td  {
    border: none !important;
}

/* Package Lockers */

.wpb_wrapper .wpcf7 form {
	color: #f27925;
  	font-weight:700;
  	size:1.25em;
}

.wpb_wrapper .wpcf7 form .wpcf7-form-control {
	border: 1px solid #f27925;
    border-radius: 10px;
}

.wpb_wrapper .wpcf7 form input.wpcf7-form-control.wpcf7-submit {
	border: 1px solid #f27925;
    border-radius: 10px;
    background-color: #ed522c;
  padding: 5px 30px !important;
  text-transform: capitalize;
    font-size: 1.25em;
    font-weight: 300;
  color:white;
  border-radius: 15px;
  -webkit-box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.65);
  -moz-box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.65);
  box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.65);
}

.wpb_wrapper .wpcf7 form input.wpcf7-form-control.wpcf7-submit:hover {
  opacity:.7;
}


.long-form {
  width:95%; 
  display:inline-block; 
  padding-right:2%;
  margin-bottom:20px;
}

/* Request Lockers */
@media (min-width: 700px) {
.long-form {
  width:45%; 
}
}
@media (max-width:1000px) and (min-width:600px) {
#main-content .smallify-4 .wpb_column {
  display: inline-block !important;
    width: 48% !important;
    float: none !important;
}
}


/* Locations */

.mapp-layout {
    border: none;
}

/* Billing */
.pay-options {
    overflow: auto;
}