::selection {
    background: #ed522c;
    color: #FFF;
}

::-moz-selection {
    background: #ed522c;
    color: #FFF;
}

a:hover,
.user-entry a,
#lang_sel_footer a:hover,
.widget_calendar tbody a,
#header-bar a:hover,
.minimal-skin #main-nav > li a:hover,
#header-inner.stuck .second-skin #main-nav > li > a:hover,
.minimal-skin #main-nav li.current-menu-item > a,
.minimal-skin #main-nav li.sfHover > a,
.minimal-skin #main-nav > li.current-menu-ancestor > a,
#close-fancy-search,
article.search-entry a.search-thumb:hover,
.map-info-section .minimize-section:hover,
.hb-blog-small h3.title a:hover,
.post-header .post-meta-info a:hover,
.post-content h2.title a,
.like-holder:hover i,
.comments-holder:hover i,
.share-holder:hover i,
.comments-holder a:hover,
.hb-blog-grid .comments-holder:hover,
.hb-blog-grid .like-holder:hover,
.most-liked-list li:hover .like-count,
.simple-read-more:hover,
.team-member-box:hover .team-member-name,
.testimonial-author .testimonial-company:hover,
.close-modal:hover,
.hb-tabs-wrapper .nav-tabs li.active a,
.hb-icon,
.hb-logout-box small a:hover,
.hb-gallery-sort li.hb-dd-header:hover strong,
.filter-tabs li a:hover,
ul.social-list li a:hover,
div.pp_default .pp_close:hover,
#main-wrapper .hb-woo-product.sale .price,
.woocommerce .star-rating span,
.woocommerce-page .star-rating span,
.woocommerce-page div.product p.price,
.hb-focus-color,
#main-wrapper .hb-main-content .hb-blog-box-categories a:hover {
    color: #ed522c;
}

.hb-focus-color,
.light-text a:hover,
#header-bar.style-1 .top-widget .active,
#header-bar.style-2 .top-widget .active,
.top-widget:hover > a,
#header-bar.style-2 .top-widget:hover > a,
.top-widget.social-list a:hover,
#main-wrapper .hb-dropdown-box a:hover,
.social-list ul li a:hover,
.light-menu-dropdown #main-nav ul.sub-menu li a:hover,
.light-menu-dropdown #main-nav ul.sub-menu li.sfHover > a,
.light-menu-dropdown #main-nav ul.sub-menu li.current-menu-item > a,
.light-menu-dropdown #main-nav ul.sub-menu li.current-menu-ancestor > a,
#fancy-search .ui-autocomplete li a:hover,
#fancy-search .ui-autocomplete li:hover span.search-title,
#fancy-search .ui-autocomplete li a,
.share-holder .hb-dropdown-box ul li a:hover,
.share-holder .hb-dropdown-box ul li a:hover i,
.share-holder.active,
.share-holder.active i,
.author-box .social-list li a:hover,
#respond small a:hover,
.commentmetadata a:hover time,
.comments-list .reply a,
#footer.dark-style a:hover,
.feature-box i.ic-holder-1,
.feature-box.alternative i.ic-holder-1,
.portfolio-simple-wrap .standard-gallery-item:hover .portfolio-description h3 a,
#copyright-wrapper a:hover,
.hb-effect-1 #main-nav > li > a::before,
.hb-effect-1 a::after,
.third-skin.hb-effect-1 #main-nav > li > a:hover,
.third-skin.hb-effect-1 #main-nav > li.current-menu-item > a,
.third-skin.hb-effect-1 #main-nav > li.sfHover > a,
.second-skin.hb-effect-9 #main-nav #nav-search > a:hover,
.hb-effect-10 #main-nav > li > a:hover,
.hb-effect-10 #main-nav > li #nav-search a:hover,
.hb-effect-10 #main-nav > li.current-menu-item > a,
.like-holder:hover,
.comments-holder:hover,
.share-holder:hover,
#main-nav ul.sub-menu li a:hover,
.hb-side-nav li.menu-item-has-children:hover > a,
.hb-side-nav li a:hover,
.hb-side-nav li.current-menu-item > a,
.hb-side-nav li.current-menu-ancestor > a,
.hb-post-carousel .hb-post-info .hb-post-title:hover,
.hb-post-carousel .hb-owl-item .hb-owl-read-more:hover span,
.hb-post-carousel .hb-owl-item .hb-owl-read-more:hover {
    color: #ed522c!important;
}

.light-style .feature-box i.ic-holder-1,
.light-style .feature-box.alternative i.ic-holder-1,
.light-style .feature-box h4.bold {
    color: #f9f9f9 !important;
}

.light-style .feature-box-content p {
    color: #ccc;
}

.like-holder.like-active i,
.like-holder.like-active {
    color: #da4c26 !important;
}

.hb-icon-container,
.feature-box i.ic-holder-1 {
    border-color: #ed522c;
}

.main-navigation.default-skin #main-nav > li > a:hover > span,
.main-navigation.default-skin #main-nav > li.current-menu-item > a > span,
.main-navigation.default-skin #main-nav > li.sfHover > a > span,
.simple-read-more,
.team-member-box.tmb-2:hover .team-member-description,
.hb-logout-box small a:hover,
#pre-footer-area,
span[rel="tooltip"] {
    border-bottom-color: #ed522c;
}

.hb-pricing-item:hover,
.hb-process-steps ul:before,
.pace .pace-activity,
.wpb_tabs .nav-tabs li.active a,
#hb-preloader .spinner,
.default-loading-icon:before {
    border-top-color: #ed522c;
}

blockquote.pullquote,
.author-box,
#main-wrapper .widget_nav_menu ul.menu li.current-menu-item > a,
.hb-callout-box h3,
.pace .pace-activity,
.hb-non-transparent .hb-side-nav > li > a:hover,
.hb-non-transparent .hb-side-nav > li.current-menu-item > a,
.hb-non-transparent .hb-side-nav > li.current-menu-ancestor > a,
.hb-non-transparent .hb-side-nav > li.sfHover > a,
.hb-tabs-wrapper.tour-style.left-tabs > .nav-tabs > li.active a,
.logout-dropdown ul li:hover,
.tribe-events-calendar thead th,
.light-menu-dropdown #main-nav ul.sub-menu li a:hover,
.light-menu-dropdown #main-nav ul.sub-menu li.sfHover > a,
.light-menu-dropdown #main-nav ul.sub-menu li.current-menu-item > a,
.light-menu-dropdown #main-nav ul.sub-menu li.current-menu-ancestor > a,
.light-menu-dropdown #main-nav ul.sub-menu li.sfHover > a {
    border-left-color: #ed522c;
}

#main-wrapper .right-sidebar .widget_nav_menu ul.menu li.current-menu-item > a,
.hb-tabs-wrapper.tour-style.right-tabs > .nav-tabs > li.active a,
.tribe-events-calendar thead th {
    border-right-color: #ed522c;
}

#to-top:hover,
#contact-button:hover,
#contact-button.active-c-button,
.pagination ul li span,
.single .pagination span,
.single-post-tags a:hover,
div.overlay,
.portfolio-simple-wrap .standard-gallery-item:hover .hb-gallery-item-name:before,
.progress-inner,
.woocommerce .wc-new-badge,
#main-wrapper .coupon-code input.button:hover,
.woocommerce-page #main-wrapper button.button:hover,
#main-wrapper input.checkout-button,
.side-nav-bottom-part ul li a:hover,
#main-wrapper #place_order,
#mobile-menu.interactive .open-submenu.active,
#mobile-menu.interactive .open-submenu:hover,
.widget_product_search input[type=submit],
.tribe-events-calendar thead th {
    background-color: #ed522c;
}

#header-dropdown .close-map:hover,
#sticky-shop-button:hover,
#sticky-shop-button span,
.quote-post-format .quote-post-wrapper a,
.link-post-format .quote-post-wrapper a,
.status-post-format .quote-post-wrapper a,
span.highlight,
mark,
.feature-box:hover:not(.standard-icon-box) .hb-small-break,
.content-box i.box-icon,
.hb-button,
input[type=submit],
a.read-more,
.hb-effect-2 #main-nav > li > a > span::after,
.hb-effect-3 #main-nav > li > a::before,
.hb-effect-4 #main-nav > li > a::before,
.hb-effect-6 #main-nav > li > a::before,
.hb-effect-7 #main-nav > li > a span::after,
.hb-effect-8 #main-nav > li > a:hover span::before,
.hb-effect-9 #main-nav > li > a > span::before,
.hb-effect-9 #main-nav > li > a > span::after,
.hb-effect-10 #main-nav > li > a:hover span::before,
.hb-effect-10 #main-nav > li.current-menu-item > a span::before,
#main-nav > li.sfHover > a span::before,
#main-nav > li.current-menu-ancestor > a span::before,
.pace .pace-progress,
#main-wrapper .hb-bag-buttons a.checkout-button,
.hb-owl-slider .owl-prev:hover,
.hb-owl-slider .owl-next:hover,
#tribe-bar-form .tribe-bar-submit input[type=submit] {
    background: #ed522c;
}

.filter-tabs li.selected a,
#main-wrapper .single_add_to_cart_button:hover {
    background: #ed522c !important;
}

table.focus-header th,
.second-skin #main-nav > li a:hover,
.second-skin #main-nav > li.current-menu-item > a,
.second-skin #main-nav > li.sfHover > a,
#header-inner.stuck .second-skin #main-nav > li > a:hover,
.second-skin #main-nav > li.current-menu-item > a,
.crsl-nav a:hover,
.feature-box:hover i.ic-holder-1 {
    background: #ed522c;
    color: #FFF;
}

.load-more-posts:hover,
.dropcap.fancy,
.tagcloud > a:hover,
.hb-icon.hb-icon-medium.hb-icon-container:hover,
#main-wrapper #tribe-events .tribe-events-button {
    background-color: #ed522c;
    color: #FFF;
}

.filter-tabs li.selected a {
    border-color: #ed522c !important;
}

.hb-second-light:hover {
    background: #FFF!important;
    color: #ed522c!important;
}

.hb-effect-11 #main-nav > li > a:hover::before,
.hb-effect-11 #main-nav > li.sfHover > a::before,
.hb-effect-11 #main-nav > li.current-menu-item > a::before,
.hb-effect-11 #main-nav > li.current-menu-ancestor > a::before {
    color: #ed522c;
    text-shadow: 7px 0 #ed522c, -7px 0 #ed522c;
}

#main-wrapper .product-loading-icon {
    background: rgba(237, 82, 44, 0.85);
}

.hb-single-next-prev a:hover {
    background: #ed522c;
}

.hb-more-details:hover,
.hb-buy-button:hover {
    color: #FFF;
    background: rgba(237, 82, 44, 0.8);
}

.hb-button,
input[type=submit] {
    box-shadow: 0 3px 0 0 #bb2000;
}

.hb-button.special-icon i,
.hb-button.special-icon i::after {
    background: #bb2000;
}

#main-wrapper a.active-language,
#main-wrapper a.active-language:hover {
    color: #aaa !important;
}

.feature-box:hover:not(.standard-icon-box):not(.alternative) i,
#main-wrapper .hb-bag-buttons a:hover,
#main-wrapper .hb-dropdown-box .hb-bag-buttons a:hover,
#main-wrapper .social-icons.dark li a:hover i,
#main-wrapper #footer .social-icons.dark li a i,
#footer.dark-style ul.social-icons.light li a:hover,
#main-wrapper .hb-single-next-prev a:hover {
    color: #FFF !important;
}

#header-bar,
#fancy-search input[type=text] {
    color: #0a0101
}

#fancy-search::-webkit-input-placeholder {
    color: #0a0101
}

#header-bar a {
    color: #f27925
}

#header-bar {
    border-bottom-color: #ffffff
}

#header-bar .top-widget {
    border-right-color: #ffffff!important;
    border-left-color: #ffffff;
}

#header-inner.nav-type-2 .main-navigation {
    border-top-color: #ffffff;
}

#header-inner-bg {
    border-bottom-color: #ffffff
}

#main-nav li#nav-search::before {
    background: #ffffff
}

#header-inner.nav-type-2 #main-nav > li:first-child > a,
#header-inner.nav-type-2 li#nav-search > a {
    border-left-color: #ffffff;
}

#header-inner.nav-type-2 #main-nav > li > a {
    border-right-color: #ffffff;
}

#header-inner.stuck #header-inner-bg {
    border-bottom-color: #ffffff !important;
}

#header-inner.stuck #main-nav li#nav-search::before {
    background: #ffffff
}

#main-wrapper #main-nav > li > a,
#main-wrapper #header-inner-bg {
    color: #f27925;
}

body:not(.page-template-page-presentation-fullwidth) #main-wrapper #main-nav > li > a,
#main-wrapper #header-inner-bg {
    color: #f27925 !important;
}

#main-wrapper #header-inner.stuck #main-nav > li > a,
#main-wrapper #header-inner.stuck #header-inner-bg {
    color: #f27925 !important;
}

#pre-footer-area {
    background-color: #ffffff;
}

#pre-footer-area {
    color: #0a0909;
}

#footer,
body #lang_sel_footer {
    background-color: #ed522c;
}

#footer {
    color: #ffffff;
}

#main-wrapper #footer {
    color: #ffffff;
}

#copyright-wrapper {
    background: #ed522c;
}

#copyright-wrapper,
#copyright-text {
    color: #ffffff;
}

body {
    background-color: #ffffff;
}

#hb-side-section {
    background-color: #ffffff;
}

#main-wrapper .hb-main-content,
#main-wrapper .hb-sidebar,
.hb-testimonial-quote p {
    color: #0a0a0a;
}

#main-wrapper .hb-main-content a,
select {
    color: #f27925
}

#main-wrapper .hb-main-content a:hover {
    color: #ed522c;
}

.portfolio-single-meta ul,
.content-box,
#main-wrapper .hb-accordion-pane,
.hb-accordion-tab,
.hb-box-cont,
.hb-tabs-wrapper.tour-style .tab-content,
.hb-tabs-wrapper .nav-tabs li a,
.hb-callout-box,
.hb-teaser-column .teaser-content,
.hb-pricing-item,
.hb-testimonial:after,
.hb-testimonial,
.tmb-2 .team-member-description,
.recent-comments-content,
.recent-comments-content:after,
.hb-tweet-list.light li,
.hb-tweet-list.light li:after,
fieldset,
table,
.wp-caption-text,
.gallery-caption,
.author-box,
.comments-list .children > li::before,
.widget_nav_menu ul.menu,
.comments-list li.comment > div.comment-body,
.hb-dropdown-box,
#contact-panel,
.filter-tabs li a,
#contact-panel::after,
.hb-flexslider-wrapper.bordered-wrapper,
.bordered-wrapper,
iframe.fw {
    border-color: #18a454;
}

#main-content .left-sidebar .hb-main-content.col-9,
table th,
table th,
table td,
#main-content .hb-sidebar,
.comments-list .children,
.tmb-2 .team-member-img,
.hb-tabs-wrapper .tab-content,
div.pp_default .pp_close {
    border-left-color: #18a454;
}

table td,
.hb-blog-small .meta-info,
#main-wrapper .widget_nav_menu ul.menu ul li:first-child,
#main-wrapper .bottom-meta-section,
.comments-list .children > li::after,
.tmb-2 .team-member-img,
h5.hb-heading span:not(.special-amp):before,
h4.hb-heading span:not(.special-amp):before,
h4.hb-heading span:not(.special-amp):after,
h5.hb-heading span:not(.special-amp):after,
h3.hb-heading span:not(.special-amp):before,
h3.hb-heading span:not(.special-amp):after,
h4.lined-heading span:not(.special-amp):before,
h4.lined-heading span:not(.special-amp):after,
.hb-fw-separator,
.hb-separator-s-1,
.hb-separator-extra,
.hb-separator-25,
.hb-gal-standard-description .hb-small-separator {
    border-top-color: #18a454;
}

.woocommerce div.product .woocommerce-tabs ul.tabs:before {
    border-bottom-color: #18a454;
}

.pricing-table-caption,
.pricing-table-price,
#hb-page-title,
.share-holder .hb-dropdown-box ul li,
.hb-blog-small .meta-info,
.hb_latest_posts_widget article,
.most-liked-list li,
ul.hb-ul-list.line-list li,
ol.line-list li,
ul.line-list li,
#hb-blog-posts.unboxed-blog-layout article,
.hb-tabs-wrapper .nav-tabs,
#main-wrapper .wpb_content_element .wpb_tour_tabs_wrapper .wpb_tabs_nav a,
.hb-tabs-wrapper .tab-content,
.hb-tabs-wrapper.tour-style .nav-tabs li.active a,
.hb-box-cont-header,
.hb-separator.double-border,
.portfolio-single-meta ul.meta-list li {
    border-bottom-color: #18a454;
}

#main-content .col-9.hb-main-content,
#main-content .left-sidebar .hb-sidebar.col-3,
.tmb-2 .team-member-img,
.hb-tabs-wrapper .tab-content,
.hb-tabs-wrapper.tour-style.right-tabs .nav-tabs > li.active a,
div.pp_default .pp_nav {
    border-right-color: #18a454;
}

.pagination ul li a,
.pagination ul li span.page-numbers.dots,
.single .pagination a,
.page-links a,
.hb-skill-meter .hb-progress-bar,
.hb-counter .count-separator span,
.hb-small-break {
    background-color: #18a454;
}

#main-wrapper .hb-tabs-wrapper:not(.wpb_tabs) ul li:last-child a,
.darker-border .hb-separator {
    border-bottom-color: #18a454 !important;
}

.darker-border .hb-separator {
    border-top-color: #18a454 !important;
}

h1,
h1.extra-large,
h1 a,
article.single h1.title {
    color: #18a454;
}

.hb-page-title.dark-text h1,
.hb-page-title.light-text h1,
p.hb-text-large {
    color: #18a454!important;
}

#main-wrapper h1.hb-bordered-heading {
    color: #18a454;
    border-color: #18a454;
}

h2,
#hb-page-title h2 {
    color: #18a454;
}

#main-wrapper h2.hb-bordered-heading {
    color: #18a454;
    border-color: #18a454;
}

h3,
#respond h3,
h3.title-class,
.hb-callout-box h3,
.hb-gal-standard-description h3 {
    color: #f27925;
}

#main-wrapper h3.hb-bordered-heading {
    color: #f27925;
    border-color: #f27925;
}

h4,
.widget-item h4,
.content-box h4,
.feature-box h4.bold {
    color: #f27925;
}

#main-wrapper h4.hb-bordered-heading {
    color: #f27925;
    border-color: #f27925;
}

.vc_custom_1460273502375 {
    margin-bottom: 30px !important;
    background-image: url(//www.drycleanlockers.com/wp-content/uploads/2016/04/locker-bg.png?id=87) !important;
}

.vc_custom_1460278017841 {
    margin-top: 50px !important;
}

.vc_custom_1460278043837 {
    padding-top: 45px !important;
    background-color: #eeeeee !important;
}

.vc_custom_1460278141232 {
    padding-top: 30px !important;
}

.vc_custom_1460272352966 {
    margin-top: 100px !important;
}

.vc_custom_1460277056917 {
    margin-top: 15px !important;
}

.vc_custom_1460409272427 {
    padding-top: 45px !important;
}

body,
.team-position,
.hb-single-next-prev .text-inside,
.hb-dropdown-box.cart-dropdown .buttons a,
input[type=text],
textarea,
input[type=email],
input[type=password],
input[type=tel],
#fancy-search input[type=text],
#fancy-search .ui-autocomplete li .search-title,
.quote-post-format .quote-post-wrapper blockquote,
table th,
.hb-button,
input[type=submit],
a.read-more,
blockquote.pullquote,
blockquote,
.hb-skill-meter .hb-skill-meter-title,
.hb-tabs-wrapper .nav-tabs li a,
#main-wrapper .coupon-code input.button,
#main-wrapper .form-row input.button,
#main-wrapper input.checkout-button,
#main-wrapper input.hb-update-cart,
.woocommerce-page #main-wrapper .shipping-calculator-form-hb button.button,
.hb-accordion-pane,
.hb-accordion-tab {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0px;
    font-weight: normal;
}

a.read-more,
input[type=submit],
.hb-caption-layer .hb-button,
.hb-push-button-text,
#pre-footer-area .hb-button,
.hb-button,
.hb-single-next-prev .text-inside,
#main-wrapper .coupon-code input.button,
#main-wrapper .form-row input.button,
#main-wrapper input.checkout-button,
#main-wrapper input.hb-update-cart,
.woocommerce-page #main-wrapper .shipping-calculator-form-hb button.button {
    font-weight: 700;
    letter-spacing: 1px
}

#hb-side-menu li a,
#main-nav ul.sub-menu li a,
#main-nav ul.sub-menu ul li a,
#main-nav,
#main-nav li a,
.light-menu-dropdown #main-nav > li.megamenu > ul.sub-menu > li > a,
#main-nav > li.megamenu > ul.sub-menu > li > a {
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    letter-spacing: 0px;
    font-weight: 700;
    text-transform: uppercase;
}

#main-nav ul.sub-menu li a,
#hb-side-menu ul.sub-menu li a,
#main-nav ul.sub-menu ul li a,
ul.sub-menu .widget-item h4,
#main-nav > li.megamenu > ul.sub-menu > li > a #main-nav > li.megamenu > ul.sub-menu > li > a,
#main-nav > li.megamenu > ul.sub-menu > li > a {
    font-family: "PT Sans", sans-serif;
    font-size: 12px;
    letter-spacing: 0px;
    font-weight: 700;
    text-transform: uppercase;
}

#copyright-wrapper,
#copyright-wrapper a {
    font-family: "PT Sans", sans-serif;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0px;
    font-weight: ;
}

h1,
article.single h1.title,
#hb-page-title .light-text h1,
#hb-page-title .dark-text h1 {
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0px;
        color: #18a454;
}

h2,
#hb-page-title h2,
.post-content h2.title {
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0px;
        color: #18a454;
}

h3,
h3.title-class,
.hb-callout-box h3,
.hb-gal-standard-description h3 {
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0px;
        color: #18a454;
}

h4,
.widget-item h4,
#respond h3,
.content-box h4,
.feature-box h4.bold {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0px;
    font-weight: 700;
}

h5,
#comments h5,
#respond h5,
.testimonial-author h5 {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0px;
    font-weight: ;
}

h6,
h6.special {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0px;
    font-weight: ;
}

#pre-footer-area {
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 0px;
    font-weight: ;
}

h1.modern,
h2.modern,
h3.modern,
h4.modern,
h5.modern,
h6.modern {
    font-family: "PT Sans", sans-serif;
    letter-spacing: 0px;
    font-weight: ;
    text-transform: none;
}

#logo img,
.stuck #logo img {
    max-height: 100px;
}

.hb-main-content {
    float: none;
    margin: 0 auto;
}

a.btn, .btn.btn-primary {
	background: #ed522c;
	color: rgba(255,255,255,1)!important;
    box-shadow: 0 3px 0 0 #bb2000;
    font-weight: 700;
    letter-spacing: 1px;
	font-family: "PT Sans", sans-serif;
    font-size: 16px;
    padding: 15px 16px 13px!important;
    text-transform: uppercase;
    margin-top: 2em;
    border-radius: 15px;
}

div.on-creditcard a.btn, div.on-creditcard input[type="submit"],
#update_kiosk_card_form a.btn,   #update_kiosk_card_form input[type="submit"]{
    padding: 4px 4px 4px 4px !important;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 18px;
    width: 20em !important;
    text-transform: uppercase;
    border-radius: 15px;
}

#update_kiosk_card_form a.btn,   #update_kiosk_card_form input[type="submit"]{
    width: 15em !important;
    margin-bottom: 0 !important;
    float: left !important; 
    margin-top: 1em !important;
}

#update_kiosk_card_form .kiosk-access-buttons {
    position: relative !important;
    margin-left: -2em;
    margin-top: -2em;
}

a.btn:hover, .btn.btn-primary:hover {
	background: #323436;
	box-shadow: 0 3px 0 0 rgba(0,0,0,1);
}

input.btn {
	margin-bottom: -2em;
}

.form-inline input.btn {
    margin-bottom: -10em;
}

select {
    padding: 0 !important;
}

.radio input[type="radio"], .checkbox input[type="checkbox"] {
    float: left;
    margin-left: -18px;
    margin-right: 1.5rem;
}

#TB_overlay {
    z-index: 1000;
}
#TB_window {
    z-index: 1002;
}

select, input[type="text"], input[type="password"], input[type="email"] {
    min-height: 40px;
}

input.btn-large {
    margin-bottom: 2em;
}