/*
Theme Name: Smart Mag Child
Theme URI: http://theme-sphere.com/
Description: A child theme of SmartMag
Author: ThemeSphere
Author URI: http://theme-sphere.com
Template: smart-mag
Version: 1.0
*/

@import url("style-parent.css");

.main-featured .blocks h3{
    display:none;
}

.main-featured .cat {
     display:none;
}

#pf-content img.blockImage, #pf-content img.block, #pf-content img.alignnone {
    
    float: left !important;
    margin-right:50px;
    clear:none !important;
    
}
#pf-content img, #pf-content img.smallImage {
   
    clear: none !important;
   
}