p {
    font-family:"Source Sans Pro",Tahoma,Arial,sans-serif;
	font-size:16px;
	line-height:1.4em;
	font-family:"adelle";
	font-size:13px;
	line-height:1.7em;
}

.span7.offset1,
.span12.offset1 {
    margin-left: 30px;
}

.alert {
    border: none;
    color: #fff;
    text-shadow: none;
}

.alert-success {
    background: rgba(0,120,0,.5);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#80007800', endColorstr='#80007800'); /* IE */
}

.alert-error {
    background: rgba(120,0,0,.5);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#80780000', endColorstr='#80780000'); /* IE */
}

.alert-info {
    background: rgba(0,0,0,.5);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#80000000', endColorstr='#80000000'); /* IE */
}

.close {
    color: #fff;
    opacity: 1;
    text-shadow: none;
    font-family: sans-serif;
    font-size: 14px;
}

button, .btn {
    border-radius: 0px;
    background-image: none !important;
    box-shadow: none !important;
}

a.btn {
    color: #444;
}

a.btn-primary,
a.btn-success {
    color: #fff;
}

.btn-primary {
    background: #1E90FF;
}

.btn-primary:hover {
    background: #1B82E6;
}

legend,
label {
    color: #ccc;
}

.breadcrumb {
    background: transparent;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #fff;
    border-radius: 0;
    filter: none;
}

.breadcrumb li {
    text-shadow: none;
}

.page-header {
    border: none;
}

#title-area {
    padding-top: 20px;
}

.site-title img {
    max-height: 150px;
}

table thead tr th {
    background: #1E90FF !important;
}

.table-striped tbody tr:nth-child(even) td,
.table-striped tbody tr:nth-child(even) th {
    background: #1E90FF !important;
}

.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
    background: transparent;
}

.table-striped tbody tr:hover td,
.table-striped tbody tr:hover th {
    background: inherit
}

.well {
    background: transparent;
    border: 1px solid #fff;
}


@media (max-width: 767px) {

.navbar-fixed-top, .navbar-fixed-bottom {
    margin-left: -25px;
    margin-right: -25px;
}

body {
    padding: 0;
}

.span7.offset1,
.span12.offset1 {
    margin-left: 0;
}

}

.icon {
    background-image: url("/bootstrap/img/glyphicons-halflings-white.png");
}


#main_content .preference {
    background-color: #1E90FF;
    font-size:12px;
    border: none;
}


#TB_window {
    background: transparent !important;
    color: #fff !important;
}

#main_content .location-item {
    color: #fff;
}

#main_content .location-item.active {
    border-color: #fff;
}
