/*============================================
  General
  ============================================*/
.cdp-cookies-alerta {
	width: 100%;
	color:#bbbbbb;
	background-color: #444444;
	z-index: 10000;
}
.cdp-cookies-alerta .cdp-cookies-texto {
	max-width: 960px;
	margin: 0 auto;
	padding: 5px 10px 5px 10px;
}
.cdp-cookies-alerta .cdp-cookies-texto h4 {
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 16px;
	color:#ffffff;
	padding: 0 0 5px 0;
	margin: 0;
	text-rendering: optimizeLegibility;
}
.cdp-cookies-alerta .cdp-cookies-texto p {
	padding: 5px 0;
	margin: 0;
	text-align: center;
	color:#bbbbbb;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 10px;
	font-weight: normal;
	line-height: 11px;
	text-rendering: optimizeLegibility;
}
.cdp-cookies-alerta .cdp-cookies-texto a {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #ff8888;
	text-decoration: none;
	border: 0;
	text-rendering: optimizeLegibility;
}
.cdp-cookies-alerta .cdp-cookies-texto a:hover, 
.cdp-cookies-alerta .cdp-cookies-texto a:active, 
.cdp-cookies-alerta .cdp-cookies-texto a:visited {
	color: #ffcccc;
}

/*============================================
  Modo ventana, pos superior
  ============================================*/
.cdp-cookies-layout-ventana.cdp-cookies-pos-superior {
	display: none;
	position: fixed;
	top: 0;
}

/*============================================
  Modo ventana, pos inferior
  ============================================*/
.cdp-cookies-layout-ventana.cdp-cookies-pos-inferior {
	display: none;
	position: fixed;
	bottom: 0;
}

/*============================================
  Modo pagina, pos superior
  ============================================*/
.cdp-cookies-layout-pagina.cdp-cookies-pos-superior {
}

/*============================================
  Modo pagina, pos inferior
  ============================================*/
.cdp-cookies-layout-pagina.cdp-cookies-pos-inferior {
}

/*============================================
  Alineación
  ============================================*/
.cdp-cookies-alerta.cdp-cookies-textos-izq .cdp-cookies-texto h4,
.cdp-cookies-alerta.cdp-cookies-textos-izq .cdp-cookies-texto p {
	text-align: left;
}

/*============================================
  Color gris
  ============================================*/
.cdp-cookies-alerta.cdp-cookies-tema-gris {
	background-color: #444444;
	border-top:1px solid #222222;
	border-bottom:1px solid #222222;
}
.cdp-cookies-alerta.cdp-cookies-tema-gris .cdp-cookies-texto h4 {
	color: #ffffff;
}
.cdp-cookies-alerta.cdp-cookies-tema-gris .cdp-cookies-texto p {
	color: #bbbbbb;
}
.cdp-cookies-alerta.cdp-cookies-tema-gris .cdp-cookies-texto a {
	color: #ff8888 !important;
}
.cdp-cookies-alerta.cdp-cookies-tema-gris .cdp-cookies-texto a:hover,
.cdp-cookies-alerta.cdp-cookies-tema-gris .cdp-cookies-texto a:active,
.cdp-cookies-alerta.cdp-cookies-tema-gris .cdp-cookies-texto a:visited {
	color: #ffcccc !important;
}

/*============================================
  Color blanco
  ============================================*/
.cdp-cookies-alerta.cdp-cookies-tema-blanco {
	background-color: #ffffff;
	border-top:1px solid #dddddd;
	border-bottom:1px solid #dddddd;
}
.cdp-cookies-alerta.cdp-cookies-tema-blanco .cdp-cookies-texto h4 {
	color: #666666;
}
.cdp-cookies-alerta.cdp-cookies-tema-blanco .cdp-cookies-texto p {
	color: #888888;
}
.cdp-cookies-alerta.cdp-cookies-tema-blanco .cdp-cookies-texto a {
	color: #cc8888;
}
.cdp-cookies-alerta.cdp-cookies-tema-blanco .cdp-cookies-texto a:hover,
.cdp-cookies-alerta.cdp-cookies-tema-blanco .cdp-cookies-texto a:active,
.cdp-cookies-alerta.cdp-cookies-tema-blanco .cdp-cookies-texto a:visited {
	color: #eeaaaa;
}

/*============================================
  Color rojo
  ============================================*/
.cdp-cookies-alerta.cdp-cookies-tema-rojo {
	background-color: #e04729;
	border-top:1px solid #99301b;
	border-bottom:1px solid #99301b;
}
.cdp-cookies-alerta.cdp-cookies-tema-rojo .cdp-cookies-texto h4 {
	color: #ffffff;
}
.cdp-cookies-alerta.cdp-cookies-tema-rojo .cdp-cookies-texto p {
	color: #dddddd;
}
.cdp-cookies-alerta.cdp-cookies-tema-rojo .cdp-cookies-texto a {
	color: #febebe;
}
.cdp-cookies-alerta.cdp-cookies-tema-rojo .cdp-cookies-texto a:hover,
.cdp-cookies-alerta.cdp-cookies-tema-rojo .cdp-cookies-texto a:active,
.cdp-cookies-alerta.cdp-cookies-tema-rojo .cdp-cookies-texto a:visited {
	color: #ffffff;
}

/*============================================
  Color azul
  ============================================*/
.cdp-cookies-alerta.cdp-cookies-tema-azul {
	background-color: #5492e0;
	border-top:1px solid #3f6da7;
	border-bottom:1px solid #3f6da7;
}
.cdp-cookies-alerta.cdp-cookies-tema-azul .cdp-cookies-texto h4 {
	color: #ffffff;
}
.cdp-cookies-alerta.cdp-cookies-tema-azul .cdp-cookies-texto p {
	color: #eeeeee;
}
.cdp-cookies-alerta.cdp-cookies-tema-azul .cdp-cookies-texto a {
	color: #b7d7ff;
}
.cdp-cookies-alerta.cdp-cookies-tema-azul .cdp-cookies-texto a:hover,
.cdp-cookies-alerta.cdp-cookies-tema-azul .cdp-cookies-texto a:active,
.cdp-cookies-alerta.cdp-cookies-tema-azul .cdp-cookies-texto a:visited {
	color: #dcebff;
}

/*============================================
  Color verde
  ============================================*/
.cdp-cookies-alerta.cdp-cookies-tema-verde {
	background-color: #0b7000;
	border-top:1px solid #064000;
	border-bottom:1px solid #064000;
}
.cdp-cookies-alerta.cdp-cookies-tema-verde .cdp-cookies-texto h4 {
	color: #ffffff;
}
.cdp-cookies-alerta.cdp-cookies-tema-verde .cdp-cookies-texto p {
	color: #dddddd;
}
.cdp-cookies-alerta.cdp-cookies-tema-verde .cdp-cookies-texto a {
	color: #75c76c;
}
.cdp-cookies-alerta.cdp-cookies-tema-verde .cdp-cookies-texto a:hover,
.cdp-cookies-alerta.cdp-cookies-tema-verde .cdp-cookies-texto a:active,
.cdp-cookies-alerta.cdp-cookies-tema-verde .cdp-cookies-texto a:visited {
	color: #c4ffbe;
}

/*============================================
  boton cerrar
  ============================================*/
.cdp-cookies-alerta .cdp-cookies-boton-cerrar {
	font-size: 12px;
	line-height: 14px;
	display: block;
	width: 75px;
	margin: 5px auto;
	text-decoration: none;
	border: none;
	text-shadow: 1px 1px 2px #000;
	text-align: center;
	padding: 3px 10px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
	background-color: #222;
	color: #fff !important;
}
.cdp-cookies-alerta .cdp-cookies-boton-cerrar:hover {
	background-color: #888;
	color: #fff !important;
}

/* colores */
.cdp-cookies-alerta.cdp-cookies-tema-gris .cdp-cookies-boton-cerrar {
}
.cdp-cookies-alerta.cdp-cookies-tema-gris .cdp-cookies-boton-cerrar:hover {
}

/*============================================
  boton créditos
  ============================================*/
.cdp-cookies-boton-creditos {
	font-size: 10px;
	float:right;
	padding: 10px 0;
}


label {
    font-size: 15px;
    font-weight: normal;
    line-height: 18px;
}

.btn-primary {
    background-color: #38a6d9;
    background-image: none;
   
    border-color: #0055cc #0055cc #003580;
   
    filter: none;
    
}

.btn-info,btn-success {
    background-color: #7AB522;
    background-image: none;
    filter: none;
}

.btn-info:hover,btn-success:hover {
    background-color: #7AB522;
}



.btn-primary:hover {
     background-color: #38a6d9;
}

p {
    font-size: 15px;
}

ul li a, h3 a {
    color: #38a6d9
}