/* @import url(css/reset.css); */
@import url(css/960_24_col_responsive.css);
/*@import url(css/prettyPhoto.css);*/
@import url(css/columns.css);
@import url(https://fonts.googleapis.com/css?family=Rokkitt);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic);




/* LLAMADA FUENTES DE LA PLANCHADORA*/

/* ****** HELVETICA ROUNDED ****** */

@font-face {
    font-family: 'HelveticaRounded_Bold';
    src: url('css/fonts/HRb/HelveticaRounded_Bold.eot');
    src: url('css/fonts/HRb/HelveticaRounded_Bold.eot') format('embedded-opentype'),
         url('css/fonts/HRb/HelveticaRounded_Bold.woff') format('woff'),
         url('css/fonts/HRb/HelveticaRounded_Bold.ttf') format('truetype'),
         url('css/fonts/HRb/HelveticaRounded_Bold.svg') format('svg');
        font-weight: normal;
    	font-style: normal;
}

@font-face {
    font-family: 'HelveticaRounded_BoldOblique';
    src: url('css/fonts/HRb/HelveticaRounded_BoldOblique.eot');
    src: url('css/fonts/HRb/HelveticaRounded_BoldOblique.eot') format('embedded-opentype'),
         url('css/fonts/HRb/HelveticaRounded_BoldOblique.woff') format('woff'),
         url('css/fonts/HRb/HelveticaRounded_BoldOblique.ttf') format('truetype'),
         url('css/fonts/HRb/HelveticaRounded_BoldOblique.svg') format('svg');
        font-weight: normal;
    	font-style: normal;
}

@font-face {
    font-family: 'HelveticaRounded_CondBold';
    src: url('css/fonts/HRcb/HelveticaRounded_CondBold.eot');
    src: url('css/fonts/HRcb/HelveticaRounded_CondBold.eot') format('embedded-opentype'),
         url('css/fonts/HRcb/HelveticaRounded_CondBold.woff') format('woff'),
         url('css/fonts/HRcb/HelveticaRounded_CondBold.ttf') format('truetype'),
         url('css/fonts/HRcb/HelveticaRounded_CondBold.svg') format('svg');
        font-weight: normal;
    	font-style: normal;
}

@font-face {
    font-family: 'HelveticaRounded_CondBoldObl';
    src: url('css/fonts/HRcb/HelveticaRounded_CondBoldObl.eot');
    src: url('css/fonts/HRcb/HelveticaRounded_CondBoldObl.eot') format('embedded-opentype'),
         url('css/fonts/HRcb/HelveticaRounded_CondBoldObl.woff') format('woff'),
         url('css/fonts/HRcb/HelveticaRounded_CondBoldObl.ttf') format('truetype'),
         url('css/fonts/HRcb/HelveticaRounded_CondBoldObl.svg') format('svg');
        font-weight: normal;
    	font-style: normal;
}

/* ****** HELVETICA NEUE ****** */

@font-face {
    font-family: 'HelveticaNeue_LtTh';
    src: url('css/fonts/Ht/HelveticaNeueLT-Th.eot');
    src: url('css/fonts/Ht/HelveticaNeueLT-Th.eot') format('embedded-opentype'),
         url('css/fonts/Ht/HelveticaNeueLT-Th.woff') format('woff'),
         url('css/fonts/Ht/HelveticaNeueLT-Th.ttf') format('truetype'),
         url('css/fonts/Ht/HelveticaNeueLT-Th.svg') format('svg');
        font-weight: normal;
    	font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue57_Condensed';
    src: url('css/fonts/HN57C/Helvetica57_Condensed.eot');
    src: url('css/fonts/HN57C/Helvetica57_Condensed.eot') format('embedded-opentype'),
         url('css/fonts/HN57C/Helvetica57_Condensed.woff') format('woff'),
         url('css/fonts/HN57C/Helvetica57_Condensed.ttf') format('truetype'),
         url('css/fonts/HN57C/Helvetica57_Condensed.svg') format('svg');
        font-weight: normal;
    	font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue_LtCn';
    src: url('css/fonts/Hlc/HelveticaNeue_LtCn.eot');
    src: url('css/fonts/Hlc/HelveticaNeue_LtCn.eot') format('embedded-opentype'),
         url('css/fonts/Hlc/HelveticaNeue_LtCn.woff') format('woff'),
         url('css/fonts/Hlc/HelveticaNeue_LtCn.ttf') format('truetype'),
         url('css/fonts/Hlc/HelveticaNeue_LtCn.svg') format('svg');
        font-weight: normal;
    	font-style: normal;
}

@font-face {
    
    src: url('css/fonts/Htc/Helvetica_CondensedThin.eot');
    src: url('css/fonts/Htc/Helvetica_CondensedThin.eot') format('embedded-opentype'),
         url('css/fonts/Htc/Helvetica_CondensedThin.woff') format('woff'),
         url('css/fonts/Htc/Helvetica_CondensedThin.ttf') format('truetype'),
         url('css/fonts/Htc/Helvetica_CondensedThin.svg') format('svg');
        font-weight: normal;
    	font-style: normal;
}








body {
	font-size:18px;
	color:#000;
	font-family: 'PT Sans', sans-serif;
	
}
h1, h2, h3, h4, h6, p {
	font-family: 'PT Sans', sans-serif;
	font-weight:normal;
	color:#000;
}
h1 {
	font-size:36px;
}
h2 {
	font-size:30px;
}
h3 {
	font-size:30px;
}
h4 {
	font-size:30px;
}
/*h5 {
	font-size:16px;*/
}
h6 {
	font-size:30px;
}

a {
	text-decoration:none;
	color:#000;
}


a img {
	border:none;
}
:focus {
	outline:none;
}
input[type="submit"] {
	cursor:pointer;
}

ol {
    list-style:decimal;
}
ul {
    list-style:disc;
}
li {
    margin-left:30px;
}
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.625em;
	margin-top:5px;
}
p, dl, hr, h1, h2, h3, h4, h6, ol, ul, pre, table, address, fieldset, figure {
    margin-bottom:15px;
    font-weight:normal;
}

.main-container{
	margin:0;
	padding:0;
	/*padding-right:30px;*/
}

.header{
	width:100%;
	z-index:12;
	margin-top:60px;
}
.header .logo {
	margin-top:20px;
	padding-right:10px;
	padding-left:10px;
	/*padding-bottom:20px;*/
	float:left;
	background-color:#fff;
	height:120px;
	
}
header .logo img {
	max-width:100%;
	height:auto;
	position:relative;
	overflow:visible;
}
/* Titulo de header: TINTORERÍA Y LAVANDERÍA*/
.header-info {
	height:120px;
	text-align:left;
	background: url(images/head-01.png) left 20px no-repeat;
	background-size:100%;
	overflow:hidden;
	margin-left:-27px;
}

.header-info img {
	text-align:left;
	float:left;
	
}
.header-info p.cell{
	display:block;
}
.header-info p {
	font-size:40px;
	line-height:24px;
	text-transform:lowercase;
	text-align:right;
	color:#fff;
	margin-top:30px;
	padding-right:20px;
	background: url(images/head-02.png) left 20px no-repeat;
}
.call-us {
	margin-top:0;
	padding-bottom:4px;
}
.header-info a.btn{
	background:#00CCCC;
	/*display:inline-block;
	visibility:hidden;*/
}

.bgimagecolor{
	padding-left:15px;
	padding-right:15px;

}

html {	
	background: url(images/head_bgx.png) repeat-x;
	background-position: 0px 80px;

	}
/*Menu Style
=================================*/

.lan_wrapper{
	margin: 0 auto;
	z-index:12;
	position: fixed;
	float:right;
	top:10px;
	right:10px;
	height:18px;
	width:160px;
	}

.tel_wrapper {
	visibility:hidden;
	margin: 0 auto;
	height:80px;
	z-index:11;
	position: fixed;
	float:left;
	font-size:30px;
	color:#122432;
	font-family: 'PT Sans', sans-serif;
	padding:0px 0 20px 30px;
	}

.menu_wrapper {
	margin: 0 auto;
	padding:0;
	text-align: center;
	width:100%;
	height:30px;
	z-index:10;
	position: fixed;
	background-color:#fff;
	padding-top: 30px;
	padding-bottom: 10px;
}
#menu {
	width:120%;
	margin: 0 auto;
	text-align: center;
	margin-left:10px;
	float:left;
	left: 50%;
	right: 50%;
	display:inline;
	overflow:visible; 
}
#menu li {
	margin: 0 auto;
	text-align: center;
	list-style-type:none;
	margin-right:0;
	float:left;
}
#menu li a {
	margin: 0 auto;
	text-align: center;
	line-height:40px;
	margin:0;
	padding:0px 9px 0px 9px;
	position:relative;
	color:#000;
	text-decoration:none;
	font-family: 'PT Sans', sans-serif;
	font-size:18px;
	}
#menu li.current-menu-item a, #menu li.current_page_item a, #menu li.current-menu-parent a, #menu li.current_page_parent a, #menu li a.selected, #menu li a:hover {
	margin:0;
	/*background:url(images/menutip.png) bottom center no-repeat;*/
	color:#36a6d9;
}
#menu li.current-menu-item {
	color:#36a6d9;
}
#menu li.current-menu-item a {
	color:#000;
}
#menu li li a, #menu li li a.selected, #menu li li a:hover {
	background-color:#000;
	color:#36a6d9;
	
	
}
#menu li.current-menu-item a:hover, #menu li.current-menu-parent a:hover, #menu li.current_page_parent a:hover, #menu li a:hover.selected {
	text-decoration:none;
	color:#36a6d9;
}
#menu .ddsmoothmenu {
	margin:0;
	padding:0;
	list-style:none;
	position:relative;
	margin-top:0px;
	margin-left:0px;
	margin-bottom:0;
	
}
#menu .ddsmoothmenu li > ul {
	margin-left:15px;
	position: absolute;
	left: 0;
	display: none;
	visibility: hidden;
	margin-top:0px;
	background:#fff;
}
#menu .ddsmoothmenu li > ul li > ul {
	margin-top:1px;
	margin-left:0;
}
#menu .ddsmoothmenu li {
	margin:0 !important;
	position: relative;
	display: inline;
	float: left;
	padding-left:10px;
	color:#7f7f80;
}
/* editar submenus */
#menu .ddsmoothmenu li li {
	font-size:16px;
	color:#000;
	padding:0px 0;
	background-color:#36a6d9;
	border-bottom:4px solid #ecedf0;
}
#menu .ddsmoothmenu li li a {
	width:180px;
	height:auto;
	float:none;
	display: block;
	text-align:left;
	text-shadow:none;
	padding-left:10px;
	margin:0;
	text-decoration: none;
	position:relative;
	background-color:#36a6d9;
	
}

#menu .ddsmoothmenu li li a:after {
	width:100%;
	content: '';
	position:absolute;
	left:0;
	top:0;
}
#menu .ddsmoothmenu li li li li:last-child a, #menu .ddsmoothmenu li li li li:last-child a:after {
	border-top:none;
	background-image:none;
}
#menu .ddsmoothmenu li li:last-child a:after {
	width:100%;
	content: '';
	position:absolute;
	left:0;
	bottom:0;
	border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-khtml-border-radius:5px;
	color:#000;
	background:none;
	background-image:none;
}
* html #menu .ddsmoothmenu li li a {
	display: inline-block;
}
#menu .ddsmoothmenu li li a:link, #menu .ddsmoothmenu li li a:visited {
	color: #000;
}
#menu .ddsmoothmenu li li a.selected, #menu .ddsmoothmenu li li a:hover {
	color: #ddd;
}
#menu .ddsmoothmenu li ul li {
	display: list-item;
	float: none;
}
#menu .ddsmoothmenu li ul li ul {
	margin-top:0px;
	padding-top:0;
	color:#fff;
	top: 0;
}
#menu .ddsmoothmenu li ul li ul li {
	margin-top:-2px;
}
* html .ddsmoothmenu {
	height: 1%;
}
.downarrowclass {
	display:block;
	position: absolute;
	width:0;
	height:0;
	overflow:hidden;
	top: 0;
	right: 0;
	display:none !important;
}
.rightarrowclass {
	display:block;
	width:5px;
	height:7px;
	position: absolute;
	margin-top:-3px;
	top: 50%;
	right: 8px;
}
/* ######### CSS for shadow added to sub menus  ######### */

.ddshadow {
	width:0;
	height:0;
	position: absolute;
	left: 0;
	top: 0;
	display:none;
}
/* ---- menu ---- */

 #menu li.current-menu-parent a, #menu li.current_page_parent a, #menu li a.selected, #menu li a:hover {
	color:#36a6d9;
	
}
#menu li.current-menu-item a:hover, #menu li.current-menu-parent a:hover, #menu li.current_page_parent a:hover, #menu li a:hover.selected {
	color:#36a6d9;
}
#menu .ddsmoothmenu li li {
	color:#36a6d9;
}
#menu li.current_page_item a {
	color:#36a6d9;
}
#menu .ddsmoothmenu li li:last-child a{
background:none;
}
/* top search 
=======================================*/
.top-search{
	margin:0;
	padding:0;
	max-width:100%;
}
.top-search .searchform {
	background-color:#fff;
	width:235px;
	height:30px;
	border:none;
	position:relative;
	float:right;
	margin-right:15px;
	margin-top:12px;
}
.top-search .searchform input[type="text"] {
	width:200px;
	height:29px;
	background:#fff;
	border:none;
	padding:1px 0px 0px 7px;
	color:#343434;
}
.top-search .searchform input[type="submit"] {
	position:absolute;
	right:6px;
	top:7px;
	background:url(images/search.png) no-repeat;
	width:18px;
	height:18px;
	border:none;
	cursor:pointer;
}
/* Slider 
==========================================*/
.slider-wrapper {
	font-weight:normal;
	padding-top:0px;
	padding-bottom:32px;
	border-bottom:4px solid #ecedf0;
}
/* #Slider Style Flexslider
================================================== */




/*content
=============================================*/
.content {
	margin:0;
	padding:0;
	overflow:hidden;
	margin-bottom:22px;
	padding-bottom:22px;
	margin-top:22px;
	max-width:100%;
	border-bottom:4px solid #ecedf0;
	font-size:18px;
	
}
/* Front-page: titulo 1*/ 
.content h1 {
	font-size:36px;
	text-align:center;
	color:#000;
	line-height:45px;
	font-weight:normal;
}

.content h2 {
	font-size:36px;
	
}

.content h3 {
	text-align:center;
	color:#000;
	}
/*Feature Content
================================================*/

.feature-content {
	text-align:center;
	margin-top:0;
	padding:0;
	margin-top:22px;
	overflow:hidden;
	max-width:100%;
}
.feature-content h2 {
	font-size:36px;
	color:#122432;
	margin-top:20px;
	text-align:left;

}
.feature-content h2 a:hover {
	color:#025fd3;
}
h2.ftitle {
	font-size:36px;
}

.feature-content-inner h2 {
	font-size:36px;
	color:#000;
	margin-bottom:12px;
	text-align:center;
}
.feature-content-inner p {
	font-size:18px;
	width:100%;
	margin-bottom:30px;
	text-align:center;
	color:#000;
}

.feature-content-inner p a:hover{
	color:#37a6d9;
}
.feature-content .circle-content{
	overflow:hidden;
}
.feature-content-inner {
	margin:0;
	padding:0;
	max-width:100%;
	text-align:center;
}

.numero{
	margin:0;
	padding:0;
	margin-top:0px;
	margin-bottom:0px;
	max-width:100%;
	text-align:center;
	font-size:30px;
	line-height:15px;
	z-index:9999;
}

.n_verde{
	color:#9dab13;
}
.n_azul{
	color:#14579f;
}
.feature-content-inner .circle {
	max-width:100%;
	height:auto;
	display:block;
	border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;-khtml-border-radius:10px;
	font-size:30px;
	color:#fff;
	line-height:100px;
	text-align:center;
	display:block;
	margin-bottom:22px;	
}
.feature-content-inner .circle img {
	max-width:100%;
	height:auto;
	border-radius:20px;-moz-border-radius:20px;-webkit-border-radius:20px;-khtml-border-radius:20px;
	/*margin:5px;*/
	text-align:center;
	background-color:#eaf4f7;
	
}
.feature-content-inner .circle img:hover {
	/*opacity:0.5;*/
	/*color:#025fd3;*/
	background-color:#36a6d9;
}

.feature-content-inner .square {
	text-align:center;
	width:100%;
	height:100%;
	overflow:hidden;
	margin-bottom:-40px;
	}

.feature-content-inner .square .square_home_2 {
	text-align:center;
	float:left;
	width:29%;
	margin-left: 2%;
	margin-right: 2%;
}

/* BOTONES ************************************************************************** */
.buttons{
	margin:0;
	padding:0;
	max-width:100%;
	text-align:center;
	padding-top: 44px;
	padding-bottom:22px;
	margin-top:30px;
	margin-bottom:22px;
}

.buttons-h1 {
	width:100%;
	padding-top: 22px;
	padding-bottom:0px;
	margin-top:22px;
	margin-bottom:0px;
	display:block;
	background: none;
}

.boton_cuadrado {
	max-width:100%;
	min-width:200px;
	font-size:30px;
	padding: 110px 10px 10px 10px;
	text-decoration:none;
	text-transform:lowercase; 
	display:inline-block;
	font-weight:normal; 
	color: #000;
}

.buttons a{
	width:auto;
	
}

.boton_home_azul {	
	background: url(images/Laundrop_boton_azul.png) top center no-repeat;
	background-size:100px 100px;
	}
.boton_home_verde {	
	background: url(images/Laundrop_boton_verde.png) top center no-repeat;
	background-size:100px 100px;
	}
.boton_home_azul_oscuro {	
	background: url(images/Laundrop_boton_azul_oscuro.png) top center no-repeat;
	background-size:100px 100px;
	}
	
.boton_home_solicitar {	
	background: url(images/Laundrop_solicitar.png) top center no-repeat;
	background-size:100px 100px;
	}
.boton_home_registrate{	
	background: url(images/Laundrop_registrate.png) top center no-repeat;
	background-size:100px 100px;
	}
.boton_home_saber{	
	background: url(images/Laundrop_saber_mas.png) top center no-repeat;
	background-size:100px 100px;
	}
.boton_como_funciona{	
	background: url(images/Laundrop_como_funciona.png) top center no-repeat;
	background-size:125px 125px;
	padding: 130px 10px 30px 10px;
	
	}
	
.boton_home_azul:hover, .boton_home_verde:hover, .boton_home_solicitar:hover,  .boton_home_registrate:hover, .boton_home_saber:hover{	
	background-size:110px 110px;
	}
	
.boton_como_funciona:hover{	
	background-size:135px 135px;
	}

.button_1:hover {
	color: #15589e;
}

.linea {
	max-width:100%;
	height:1px;
	margin-top:30px;	
	margin-bottom:30px;	
	border-bottom:4px solid #ecedf0;
}

.bgcolor1{background-color:#ff6f32;}
.bgcolor2{background-color:#34936a;}
.bgcolor3{background-color:#7271b5;}
.bgcolor4{background-color:#7f132d;}


#pedido, #order {top:1500px;}

/*testimonial
=============================================*/
.testimonial {
	color:#717273;
	font-size:13px;
	margin:0;
	max-width:100%;
	position:relative;
	margin-top:87px;
}
.testimonial h2 {
	font-size:21px;
	color:#122432;
	background:url(images/titlebg.png) center repeat-x;
	margin-bottom:33px;
	text-align:center;
	
}
.testimonial .titlebg {
	background-image:none;
	background:none;
	background-color:#fff;
	padding-left:8px;
	padding-right:8px;
}
/* #testimonial slider
================================================== */
 .testimonial .slides_container {
	max-width:100%;
	position:relative;
	
}
.testimonial .slides_container div.slide {
	width:950px;
}
.testimonial .item {
	width:950px;
	margin:0 0px;
}
.testimonial .item p{
	color:#999;
	text-align:center;
}
.testimonial .pagination {
	overflow:hidden;
	text-align:center;
	margin-top:35px;
	margin-left:-5px;
	margin-bottom:0;
}
.testimonial .pagination li {
	display:inline;
	margin:0 3px;
	list-style:none;
}
.testimonial .pagination li a {
	display:inline-block;
	width:10px;
	height:0;
	padding-top:10px;
	background-image:url(images/pagination22.png);
	background-position:0 0;
	overflow:hidden;	
}
.testimonial .pagination li.current a {
	background-position:0 -12px;
}
#slides_testimonial .next{	
	cursor: pointer;
	background:#515156;
	height:20px;
	width:40px;
	color:#fafafa;
	margin:0 2px;
	margin-top:20px;
	text-align:center;
	text-decoration:none!important;
	position:absolute;
	bottom:-6px;
	right:0px;
	}

#slides_testimonial .prev{	
	cursor: pointer;
	background:#515156;
	height:20px;
	width:40px;
	color:#fafafa;
	margin:0 2px;
	margin-top:20px;
	text-align:center;
	text-decoration:none!important;		
	position:absolute;
	bottom:-6px;
	right:50px;
}
#slides_testimonial .prev:hover,#slides_testimonial .next:hover {
	background: #F7D705!important;
}
/*feature post news in blog
=============================================*/
.feature-post {
	margin:0;
	padding:0;
	text-align:center;
	overflow:hidden;
	max-width:100%;
	width:980px;
	margin-top:46px;
}
.feature-post h2 {
	margin:0;
	font-size:21px;
	line-height:22px;
	color:#122432;
	background:url(images/titlebg.png) center repeat-x;
	margin-bottom:44px;
}
.feature-post .titlebg {
	background-image:none;
	background:none;
	background-color:#fff;
	padding-left:8px;
	padding-right:8px;
	
}
.feature-post .feature-box {
	float:left;
	width:180px;
	margin-right:12px;
}
.feature-post .feature-box:last-child{
	margin-right:0;

} 

.feature-post .feature-post-inner img{
	padding:5px;
	border:solid 1px #ddddde;
}
.feature-post .feature-post-inner h2 {
	font-size:21px;
	color:#122432;
	margin-top:18px;
	margin-bottom:18px;
	background-color:#fff;
	background-image:none;
}

.feature-post .feature-post-inner p{
	margin-bottom:0;
}

.feature-post .feature-post-inner h2 a:hover {
	color:#025fd3;
}
h2.title {
	background:url(images/titlebg.png) center repeat-x;
}
/*signup
=============================================*/
.signup{
	max-width:100%;
	height:auto;
}

.signup .titlebg {
	text-align:center;
}
.signuparea {
	max-width:100%;
	height:auto;
}
.signuparea .signup-content {
	height:auto;
	width:100%;
	text-align:left;
	color:#fff;
}

.signup-content .signupinfo {
	min-height:100px;
	max-width:100%;
	overflow:visible;
	font-size:16px;
}
.signup-content .signuplogin {
	max-width:100%;
}
.signup-content .signuplogin .signupform {
margin-top:-20px;
}
.signupform input[type="text"] {
	margin:0px;
	margin-right: 6px;
	border:solid 1px #36a6d9;
	text-align:left;
	padding-left:8px;
	color:#000;
	height:25px;
	width: 160px;
	background-color:#c6dde5;
	float:left;
	height: 18px;
	border-radius: 0;
}
.signupform input[type="text"]:focus {
	background-color:#fff;
}
.signupform input[type="submit"] {
	width:20%;
	height:25px;
	float:left;
	margin:0px;
	border:none;
	background:url(images/signup_icon.png) left top no-repeat;
	background-size:25px 25px;
	padding-top:0px;
}
.signupform input[type="submit"]:hover {
	margin-left:2px;
}

/*page heading
==============================*/
/*Titulo de pagina*/
.page-heading h1 {
	font-size:36px;
	margin:0;
	text-shadow:0 1px 1px #fff;
	padding-top:20px;
	border-bottom:1px solid #ecedf0;
	font-weight:normal;
	padding-bottom:20px;
	color:#000;
	
}
h1.post_title.single{
	font-size:36px;
	line-height:28px;
	padding-bottom:10px;
	text-shadow:0 1px 1px #fff;
	padding-top:20px;
	width:630px;
}
.page-heading h1 span{
	width:630px !important;
}
/*Servicios
===================================================*/
.ser-servicio {
	font-size:18px;
	float:left;
	width:70%;
	padding-left:3%;
	
}
.ser-precio {
	font-size:18px;
	text-align:right;
	padding-right:3%;
	
	
}

.ser-linea{
	max-width:100%;
	height:1px;
	margin-top:10px;
	/*margin-bottom:5px;	*/
	border-bottom:1px solid #ecedf0;
}




/*Blog Page
===================================================*/
.page-content {
	margin:0;
	padding-bottom:30px;
	overflow:hidden;
	max-width:100%;
	margin-top:30px;
	
}
.content-bar {
	padding-top:1px;
}
.content-bar .post {
	position:relative;
	margin-bottom:20px;
}
.content-bar img{
	max-width:630px;
	height:auto;
}
.content-bar .post .post_title {
	padding-top:0;
	margin-top:0;
	line-height:22px;
}

.content-bar .post h1.post_title {
	padding-top:0;
	margin-top:0;
	line-height:22px;
	
}

.content-bar .post .post_title a {
	color:#122432;
	font-size:30px;
	line-height:30px;
	margin-top:0;
}
.content-bar .post .post_title a:hover {
	color:#025fd3;
}
.content-bar .post .post_content {
	overflow:hidden;
	text-shadow:0 1px 0 #fff;
	line-height:19px;
	color:#717273;
	
}
.content-bar .post .post_content img.postimg {
	margin-top:20px;
	margin-bottom:20px;
	padding:9px;
	border:solid 1px #ddddde;
	max-width:100%;	
}
.content-bar .post.single .post_content img {
	max-width:100%;
	height:auto;
	background:none;
	padding:0;
}
.content-bar .post .post_content .read_more {
	display:block;
	color:#c5a809;
	font-size:13px;
	float:left;
	margin-bottom:20px;
	margin-top:20px;
}
.content-bar .post .post_content .read_more:hover {
	opacity:0.5;
	color:#025fd3;
}
.content-bar .post .post_meta {
	list-style-type:none;
	color:#7e7d7d;
	padding-top:0px;
	border-top:1px dashed #eeeeee;
	border-bottom: dashed 1px #eeeeee;
	padding-top:10px;
	padding-bottom:10px;
}
.content-bar .post .post_meta span {
	color:#7e7d7d;
	
}
.content-bar .post .post_meta a {
	color:#d8aa08;
}
.content-bar .post .post_meta a:hover {
	opacity:0.5;
	color:#025fd3;
}
.content-bar .post .post_meta li {
	display:inline;
	margin-right:10px;
	margin:0;
}

.content-bar .post .post_meta .posted_by {
	float:left;
	text-align:center;
	margin-right:10px;
}

.content-bar .post .post_meta .posted_by a{
	margin-left:10px;
}


.content-bar .post .post_meta .post_category {
	margin-left:15px;
	margin-right:10px;
}

.content-bar .post .post_meta .post_date{
	margin-left:15px;
	margin-right:10px;
}


.content-bar .post .post_meta .post_comment {
	float:right;
	text-align:center;
}
.content-bar .post .post_meta .post_comment a {
	color:#d8aa08;
}

.content-bar .tag{
	margin-bottom:10px;
}
/*-----------------------------------------------------*/
/* Commentlist Style*/
/*-----------------------------------------------------*/
#commentsbox {
    margin:0;
}
ol.commentlist {
    clear:both;
    list-style:none;
    margin:0;
    overflow:hidden;
}
ol.commentlist li.comment {
    line-height:18px;
    margin:5px 0 15px;
    padding:10px;
    margin-right:0;
    overflow:hidden;
    padding-right:0;
}
ol.commentlist li.comment .comment-body {
    position:relative;
    padding-top:10px;
    padding-left:15px;
    padding-right:15px;
    border-bottom:4px solid #eaeaea;
    background-color:#fafafa;
    margin-bottom:30px;
    margin-left:75px;
}
ol.commentlist li.comment .comment-author a:link, ol.commentlist li.comment .comment-author a:visited {
    color:#000;
    font-weight:700;
    text-decoration:none !important;
}
cite.fn {
    color:#141413;
    font-style:normal;
}
ol.commentlist li.comment .comment-author .avatar {
    float:left;
    margin-right:10px;
    margin-bottom:10px;
    position:absolute;
    left:-85px;
    top:0px;
    width:45px;
    height:45px;
    border:1px solid #D5D5D5;
    background-color:#fff;
    border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-khtml-border-radius:5px;
    padding:5px;
}
ol.commentlist li.comment .comment-meta a {
    color:#5d5d5c;
    text-decoration:none !important;
}
ol.commentlist li.comment p {
    line-height:22px;
    margin-top:5px;
    color:#6b6d6b;
    margin-bottom:40px;
}
ol.commentlist li.comment ul.children li.depth-2 {
    margin:0 0 0px 50px;
}
ol.commentlist li.comment ul.children li.depth-3 {
    margin:0 0 0px 50px;
}
ol.commentlist li.comment ul.children li.depth-4 {
    margin:0 0 0px 50px;
}
ol.commentlist li.comment ul.children li.depth-5 {
    margin:0 0 0px 50px;
}
.comment-meta.commentmetadata {
    margin-top:10px;
}
ol.commentlist li.comment .reply {
    position:absolute;
    left:20px;
    bottom:-15px;
    margin-top:15px;
    margin-bottom:20px;
    cursor:pointer;
}
ol.commentlist li.comment .reply a {
    cursor:pointer;
    color:#6c6c6c;
	padding:5px 15px;
	text-indent:-99999px;
}
ol.commentlist li.comment a.comment-reply-link{
 	width:103px;
    height:40px;
	padding:20px 35px;
	background:url(images/reply.png) no-repeat;
	text-indent:99999px;
	color:#fff;
	font-size:0;
}
ol.commentlist li.comment ul.children {
    list-style:none;
    text-indent:0;
    margin:1em 0 0;
}
.comment-nav {
    height:20px;
    padding:5px;
}
.comment-nav a:link, .comment-nav a:visited {
    color:#f96e02;
}
#respond {
    padding:0px 0px;
    margin:10px 0px;
}
#respond h3 {
   font-size:30px;
   color:#000;
   font-weight:normal;
   padding:10px 0;
}
#commentform {
    margin-bottom:50px;
}
#commentform p {
    color:#444;
}
#commentform a {
    color:#0454A8;
    margin-top:15px;
    margin-bottom:0;
}
#respond label {
    display:block;
    margin-right:15px;
    margin-bottom:10px;
    color:#9b9494;
	font-size:14px;
}
#respond .required {
}
#respond label small {
    font-size:10px;
}
#respond input#submit {
    border:none;
    color:#989898;
    font-size:15px;
    padding:8px 10px;
    margin-top:15px;
   margin-bottom:5px;
   background: #a39476;
   color:#fff;
}
#respond .required {
    /*display:none;*/
}
p.comment-notes{
display:none;
}
#respond input#submit:hover {
    opacity:0.5;
	color: #025fd3;
}

#commentform p.form-allowed-tags{
	display:none;
}
/* Commentform Style
-------------------------------------------------------*/
#commentform input[type="text"] {
    width:61%;
    height:26px;
    border:none;
    padding:5px 10px;
    border:1px solid #d9dada;
	background-color: #f9f3e6;
}
#commentform input[type="text"]:focus, textarea#comment:focus {
    background:#fff;
    border:1px solid #FFCC66;
}
input#commentSubmit {
    border:none;
    color:#fff;
    margin-top:25px;
    width:115px;
    height:35px;
    text-align:center;
    font-size:16px;
    padding:5px 0;
    border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;-khtml-border-radius:3px;
	background: #a39476;
	color:#fff;
}
input#commentSubmit:hover {
    opacity:0.5;
	color: #025fd3;
}
textarea#comment {
	border:1px solid #d9dada;
	width:97%;
	height:207px;
	padding:5px 5px;
	color:#555;
	clear:both;
	background-color: #f9f3e6;
}
#nav-single {
	overflow:hidden;
	margin-bottom:20px;
}
.nav-previous {
	float: left;
	width: 50%;
}
.nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
/*Sidebar 
====================================================*/
.sidebar {
	margin:0;
	padding:0;
	padding-left:25px;
	padding-top:5px;
	}

.sidebar h3{
	border-bottom:1px dashed #d5d5d8;
	padding-bottom:12px;
	font-size:24px;
	line-height:22px;
	margin:0;
	margin-bottom:12px;
}

 .searchform {
	background:#f7f7f8;
	width:97%;
	border:1px solid #dfdddd;
	position:relative;
	margin-bottom:0px;
}
 .searchform input[type="text"] {
	
	width:97%;
	height:36px;
	background-color:#f8f8f8;
	border:none;
	padding:1px 0px 0px 7px;
	color:#666;
}
 .searchform input[type="submit"] {
	position:absolute;
	right:-15px;
	top:10px;
	background:url(images/search.png) no-repeat;
	width:35px;
	height:34px;
	border:none;
	cursor:pointer;
}
.content-bar .searchform {
	background:#f7f7f8;
	width:240px;
	border:1px solid #dfdddd;
	position:relative;
	margin-bottom:0px;
	margin-top:20px;
}
 .content-bar .searchform input[type="text"] {
	width:210px;
	height:36px;
	background-color:#f8f8f8;
	border:none;
	padding:1px 0px 0px 7px;
	color:#666;
}
 .content-bar .searchform input[type="submit"] {
	position:absolute;
	right:-15px;
	top:12px;
	background:url(images/search.png) no-repeat;
	width:35px;
	height:34px;
	border:none;
	cursor:pointer;
}
.side-search input[type="text"] {
	width:272px;
	height:36px;
	background-color:#f8f8f8;
	border:solid 1px #dddbdb;
	padding-left:10px;
	color:#c8c6c6;
	
}
.side-search input[type="text"]:focus {
	border:solid 1px #025fd3;
}

.sidebar p {
	text-align:left;
}
.sidebar ul {
	list-style:none;
	margin-top:10px;
	width:80%;
}
.sidebar ul li {
	margin-left:0;
	padding:5px;
	font-size:20px;
	text-align:right;
	}
.sidebar ul li a {
	color:#7f7f80;
	font-size:20px;
}
.sidebar ul li a:hover {
	color:#15589e;
}

.sidebar ul li ul {
	padding:0px;
	margin-top:-5px;
	margin-bottom:-5px;
}

.sidebar ul li ul li{
	margin-top:-5px;
	margin-bottom:-10px;
}

.sidebar ul li  ul li a {
	color:#7f7f80;
	font-size:12px;
	line-height:10px;
		padding:0px;
}
.sidebar ul li ul li a:hover {
	color:#025fd3;
}
.sidebar li.twidget {
	border-bottom:1px dashed #d5d5d8;
	margin-bottom:10px;
	margin-top:10px;
}
.sidebar li span.twidgetlink {
	color:#d8aa08;
}

.sidebar .tagcloud{
	padding-bottom:12px;
}

.sidebar .textwidget{
	padding-bottom:12px;
}

/*Fullwidth Page
================================================== */
.fullwidth {
	background:#fff;
	margin-bottom:30px;
	margin-top:15px;
}

.fullwidth h1, contact-page h1 {
	margin-bottom:0px;
}

.fullwidth h2, .contact-page h2 {
	font-size:30px;
	color:#000;
	margin-top:40px;
	margin-bottom:20px;
	text-align:center;
	width:100%;	
}
.fullwidth h3, .contact-page h3 {
	font-size:30px;
	color:#000;
	text-align:center;
	margin-top:0px;
	margin-bottom:20px;
}

.fullwidth h5, .contact-page h5 {
	
	font-size:30px;
	color:#37a6d9;
	text-align:left;
	margin-top:10px;
	margin-bottom:10px;
}
.fullwidth p, .contact-page p {
	
	color:#000;
	font-size:18px;
	text-align:left;
	margin-top:20px;
	
}

.fullwidth p a, .contact-page p a, .fullwidth li a, .fullwidth h2 a {color:#37a6d9;}
.fullwidth p a:hover, .contact-page p a:hover, .fullwidth li a:hover, .fullwidth h2 a:hover 	{color:#025fd3;}

.fullwidth h3 a {
	text-decoration:none;
	color:#36a6d9;
}
.fullwidth h3 a:hover {
	text-decoration:none;
	color:#0a77d9;
}

.fullwidth li {
	
	color:#000;
	font-size:18px;
	text-align:left;
	
}

.li_laundrop{
	list-style-type: none;
    margin: 0px;
	color:#75b72b;
	background-image: url('images/icon_li.png');
    background-repeat: no-repeat;
    background-position: 0px 5px; 
    padding-left: 20px; 
    background-size: 14px;
	
}

.fullwidth img {
	margin-bottom:0px;
	margin-top:0px;
}

.prize {
	width: 140px;
	float:left;
	display:inline;
	margin:5px;
	text-align:center;
}

.prize .item-icon{
	background: #15589e;
   	width: 140px;
	-webkit-border-radius: 4px;-moz-border-radius: 4px;-ms-border-radius: 4px;-o-border-radius: 4px;border-radius: 4px;
	-webkit-box-shadow: 0.1em 0.1em 0.3em #333;
	-moz-box-shadow: 0.1em 0.1em 0.3em #333;
	box-shadow: 0.1em 0.1em 0.3em #333;
}

.prize .item-name{
	color:#999a9c;
	font-size:20px;
	text-align:center;
	width:100%;
		
}
.prize .item-price{
	color:#797a7d;
	font-size:15x;
	text-align:center;
	width:100%;
	
}

/* Imagenes resaltadas */

.resaltado {
	max-width:98%;
	
	border-radius:20px;-moz-border-radius:20px;-webkit-border-radius:20px;-khtml-border-radius:20px;
	text-align:center;
	padding:2%;
	margin:0px;
}

.resaltado img{
	width:90%;
	
	margin:0 auto;
	margin:5%;
}

.resaltado_fullwidth {
	width:300px;
	height:300px;
	border-radius:20px;-moz-border-radius:20px;-webkit-border-radius:20px;-khtml-border-radius:20px;
	text-align:center;
	margin:0 auto !important;
	
}

.resaltado_fullwidth img{
	width:300px;
	height:300px;
}

.r_verde {background-color:#ddebc2;}
.r_verde:hover {background-color:#a9cb6b;}

.r_azul {background-color:#eaf4f7;}
.r_azul:hover {	background-color:#0b465f;}

.r_azul_oscuro {background-color:#c0e0ed;}
.r_azul_oscuro:hover {	background-color:#3f87aa;}

.r_naranja {background-color:#efca9c;}
.r_naranja:hover {	background-color:#ff6f32;}

.r_w100 {}


.sin_espacio_superior {
	margin-top:0px;
	padding-top:0px;
}

/* Marcos */

.marco_titulo {
	color: #214762;
}




/*contact page
=======================================================*/
.contact-page{
	max-width:100%;
	margin:0;
	padding:0;
}


#contactForm{
	margin:0;
	padding:0;
	overflow:hidden;
	margin-top: 30px;
	border:#36a6d9 2px solid;
	border-radius:20px;-moz-border-radius:20px;-webkit-border-radius:20px;-khtml-border-radius:20px;
	padding:2% 5% 2% 5%;
	width:80%;
	float:right;
}

#contactForm .error {
	color:#f19300;  /*error naranja*/
	float:left;
}
#contactForm input, .contactform textarea, .contactform label {
	margin-bottom:5px;
	width:100%;
	text-align:left;
	
}
#contactForm input[type="text"], #contactForm textarea {
	background-color:none;
}
#contactForm input[type="text"] {
	height:15px;
	border:#36a6d9 1px solid;
	border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;-khtml-border-radius:4px;
	width:97%;
	padding:5px;
	color:#000;
	
	font-size:13px;
	
}
#contactForm label {
	float:left;
	clear:both;
	font-size:13px;
	padding-top:2px;
	
}
#contactForm input[type="submit"] {
	clear:both;
	width:auto;
	float:right;
	cursor:pointer;
	margin-top:10px;
	border:none;
	background:none;
	padding:5px;
	color:#000;
	
	font-size:13px;
}
#contactForm input[type="submit"]:hover {
	color:#36a6d9;
	text-shadow:none;
	
}
#contactForm textarea {
	height:75px;
	padding-top:5px;
	border:#36a6d9 1px solid;
	border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;-khtml-border-radius:4px;
	width:97%;
	color:#000;
	
	font-size:13px;
	text-align:left;
	padding:1%;

}
#contactForm input[type="text"]:focus, #contactForm textarea:focus {
	background: none;
	border:1px solid #77B71A;
}
.contact-page {
	overflow: hidden;
	margin-bottom: 30px;
}

.content_bg .sidebar .contact-info span {
	color:#576f21;
}
.content_bg .sidebar .contact-info p {
	margin:10px 0;
}

.thanks {
	margin:0;
	padding:0;
	margin-top: 30px;
	border:#36a6d9 2px solid;
	border-radius:20px;-moz-border-radius:20px;-webkit-border-radius:20px;-khtml-border-radius:20px;
	padding:2% 5% 2% 5%;
	width:80%;
	float:right;	
}

/*Gallery page
================================================*/
.gallery h1.page-title {
	margin-bottom:22px;
	margin-top:10px;
	border-bottom:solid 1px #e8e7e7;
	padding-bottom:15px;
	max-width:100%;
}
.gallery h1.page-title a:hover {
	color:#d8aa08;
}
.gallery span.viewall {
	color:#d8aa08;
}
.gallery .zoom {
	width:20px;
	height:18px;
	background:url(images/zoom.png) 0 5px no-repeat;
	padding-left:25px;
}
 .gallery .thumbnail {
	list-style-type:none;
	overflow:hidden;
	margin:0 auto;
	margin-left:-15px;
	padding:0px;
	max-width:970px;
	padding-top:20px;
}
.gallery .thumbnail li {
	margin:0px;
	float:left;
	background:none;
	margin-bottom:0px;
	margin-left:15px;
	
}
.gallery .thumbnail li img {
	height:242px;
	width:215px;
	border:5px solid #dad1bf;
}
.gallery .thumbnail li img:hover {
	border:5px solid #d8aa08;
}
.gallery ul.thumbnail li {
	color:#5c5445;
	font-size:22px;
	background-color:#dad1bf;
	margin-bottom:25px;
	text-align:center;
}
.gallery ul.thumbnail li a:hover {
	color:#d8aa08;
}
/*	 
================================================*/
.footer-wrapper {
	margin: 0 auto;
	background-color:#36a6d9;
	overflow:hidden;
}

.footer {
	margin: 0 auto;
	position:relative;
	padding:30px 0px 20px 0px;
}

.footer .footer_logo{
	margin: 0px 0px 15px 15px;
	font-size:40px;
	color:#fff;
	overflow:hidden;
}
.footer .widget_inner .sitelink a {
	color:#fff;
	margin-top:25px;
	display:block;
}
.footer .widget_inner .sitelink a:hover {
	color:#fff;
}
.footer .widget_inner {
	color:#fff;
}
.footer .widget_inner.last {
	overflow:hidden;
}
.footer .widget_inner a {
	color: #fff;
}
.footer .widget_inner a:hover {
	color:#08455e;
}

.footer h1, .footer h3, .footer h4, .footer h5, .footer h6 {
	color:#fff;
	padding-bottom:8px;
	font-size:22px;	
}
.footer h2 {
	color:#fff;
	padding-bottom:8px;
}
.footer p {
	color:#fff;
	font-size:16px;
}
.footer ul {
	list-style:none;
	margin-left: 0;
}
.footer ul li {
	margin-left:0px;
	margin-bottom:10px;
	font-size:16px;
}
.footer ul li a {
	color:#8298ad;
}
.footer ul li a:hover {
	color:#fff;
}
ul.social-links {
	list-style:none;
	
}
ul.Social-links li {
	margin:0;
	display:inline;
	width:60px;
	height:50px;
	position:relative;
	float:left;
	text-align:center;
}
ul.Social-links li a {
	margin:0 10px 0 0;
	line-height: 50px; 
}
ul.Social-links li a img{
	width:45px;
	height:45px;
}
ul.Social-links li a:hover {
}
ul.Social-links li a:hover img{
	width:50px;
	height:50px;
}

.pos_redes{
	padding-left:50px;
}

.footer_bottom {
	background-color:#000;
	overflow:hidden;
	font-size: 16px;
}
.footer_bottom .footer_bottom_inner span.copyright a{
	float:right;
	color:#a3a3a3;
	margin-top:15px;
	margin-bottom:15px;
}

.footer_bottom .footer_bottom_inner span.copyright a:hover{
	color:#fff;
}

.footer_bottom .footer_bottom_inner span.blog-desc {
    float:left;
    color:#a3a3a3;
    margin-top:15px;
    margin-bottom:15px;
}
/* #Special Columns
================================================== */
pre {
	margin: 10px 0px 40px 0px;
	padding: 0 10px 0px 10px;
	display: block;
	clear: both;
	background: #cccccc url('images/codebg.jpg');
	line-height: 20px;
	font-size: 11px;
	border: 1px solid #cfcfcf;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

/* #Wordpress Core Classes
================================================== */
blockquote {
	padding-left:60px;
	min-height:40px;
	background:url(images/blockqoute.png) no-repeat;
}
blockquote {
	margin-top:40px;
	margin-bottom:40px;
}
blockquote img {
	float: left;
	margin-right:15px;
}
.gallery-caption {
	color: #666;
	font-family: Arial, sans-serif;
	font-size: 12px;
}
.alignnone {
	margin: 5px 20px 20px 0;
	display: block;
	clear:both;
}
.aligncenter, div.aligncenter {
	display:block;
	margin: 5px auto 5px auto;
}
.alignright {
	float:right;
	margin: 5px 0 20px 20px;
}
.alignleft {
	float:left;
	margin: 5px 20px 20px 0;
}
.aligncenter {
	display: block;
	margin: 5px auto 5px auto;
}
a img.alignright {
	float:right;
	margin: 5px 0 20px 20px;
}
a img.alignnone {
	margin: 5px 20px 20px 0;
}
a img.alignleft {
	float:left;
	margin: 5px 20px 20px 0;
}
a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto
}
.wp-caption {
	background:#fff;
	border:1px solid #f0f0f0;
	max-width:96%;
	text-align:center;
	padding:8px 3px 10px;
}
.wp-caption.alignright {
	margin:5px 0 20px 20px;
}
.wp-caption img {
	border:0 none;
	height:auto;
	max-width:98.5%;
	width:auto;
	margin:0;
	padding:0;
}
.wp-caption p.wp-caption-text {
	font-size:11px;
	line-height:17px;
	margin:0;
	padding:8px 4px 5px;
}
/*Calendar style*/
#wp-calendar caption {
	text-align: center;
	background:#17517a;
	color: #fff;
	border-bottom: 2px solid #e6eef7;
	
}
#wp-calendar {
	color: #555;
	width: 95%;
	text-align: center;
	color:#fff;
}
#wp-calendar a {
	color: #000;
	color:#17517a;
}
.footer #wp-calendar a {
	color:#17517a;
}
#wp-calendar caption, #wp-calendar td, #wp-calendar th {
	text-align: center;
}
#wp-calendar caption {
	font-size: 11px;
	font-weight: 500;
	padding: 5px 0 3px 0;
	text-transform: uppercase;
}
#wp-calendar th {
	background: #f4f4f4;
	font-weight: bold;
	border:solid 1px #e2e2e3;
}

.footer #wp-calendar th {
	background: #e0e0e0;
	border:solid 1px #e2e2e3;
}

#wp-calendar tfoot td {
	background: #f4f4f4;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border:solid 1px #f4f4f4;
	color:#fff;
}
.footer #wp-calendar tbody td {
	color:#000;
}

.footer #wp-calendar tbody td#next.pad{
	padding-right:5px;
}

#wp-calendar tbody td {
	color:#c0c0c0;
	padding:5px;
	background:#e9eaeb;
	border: solid 1px #fcfcfd;
}
#wp-calendar tbody td.pad{
	background-color:#f9fafb; 
}

#wp-calendar tbody td#today {
	background-color:#fdfdfd;
}

#calendar_wrap {
	display: block;
	margin-bottom: 30px;
}

/*Blog Page Pagging
===========================================*/
ul.paging {
	margin:0px;
	padding:0px;
	float:left;
	margin-top:20px;
	margin-bottom:20px;
}
ul.paging li {
	margin:0px;
	padding:0px;
	display:inline;
	margin-right:10px;
}
ul.paging li a {
color: #777;
display: inline-block;
background: #fff;
padding: 5px 10px;
border-radius: 5px;
margin-right:0px;
border:1px solid #ddd;
}
ul.paging a.active, ul.paging a:hover, ul.paging a.current {
		background:#eee;
	background: -moz-linear-gradient(top, rgba(249, 249, 249, 1) 0%, rgba(242, 242, 242, 1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249, 249, 249, 1)), color-stop(100%,rgba(242, 242, 242, 1)));
background: -webkit-linear-gradient(top, rgba(249, 249, 249, 1) 0%,rgba(242, 242, 242, 1) 100%);
background: -o-linear-gradient(top, rgba(249, 249, 249, 1) 0%,rgba(242, 242, 242, 1) 100%);
background: -ms-linear-gradient(top, rgba(249, 249, 249, 1) 0%,rgba(242, 242, 242, 1) 100%);
background: linear-gradient(to bottom, rgba(249, 249, 249, 1) 0%,rgba(242, 242, 242, 1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#f2f2f2',GradientType=0 );
border-color: #E0DDDD;
-webkit-box-shadow: 1px 1px 0 #f2f2f2 inset;
-moz-box-shadow: 1px 1px 0 #f2f2f2 inset;
box-shadow: 1px 1px 0 #f2f2f2 inset;
text-shadow: 1px 1px 0 white !important;
-webkit-border-radius: 5px 5px 5px 5px;
-moz-border-radius: 5px 5px 5px 5px;
border-color: #AAA #AAA #999;
-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.25),inset 0 0 3px #fff;
-ms-box-shadow: 0 1px 2px rgba(0,0,0,0.25),inset 0 0 3px #fff;
-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25),inset 0 0 3px white;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25),inset 0 0 3px white;
filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#fff0f0f0,EndColorStr=#ffe6e6e6);
background-image: -moz-linear-gradient(top,#F0F0F0 0,#E6E6E6 100%);
background-image: -ms-linear-gradient(top,#F0F0F0 0,#E6E6E6 100%);
background-image: -o-linear-gradient(top,#F0F0F0 0,#E6E6E6 100%);
background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#F0F0F0),color-stop(100%,#E6E6E6));
background-image: -webkit-linear-gradient(top,#F0F0F0 0,#E6E6E6 100%);
background-image: linear-gradient(to bottom,#F0F0F0 0,#E6E6E6 100%);
color: #999;
}


/*=======================================================*/
/*=======================================================*/
/*=======================================================*/
/*=======================================================*/
/* Responsive Dropdown Menu Style */
/*=======================================================*/
/*=======================================================*/
/*=======================================================*/
/*=======================================================*/

#mobile_menu {
	margin: 0 auto;
    text-align: center;
    background: #36a6d9;
    top: 30px !important;
    z-index: 9999;
	list-style:none;
}
#mobile_menu ul {
	margin: 0 auto;
	list-style:none;
}
.it_mobile_menu {
	margin: 0 auto;
	text-align: center;
    position: absolute;
    top: 46px !important;
	z-index: 1000;
    display: none;
}

.it_mobile_menu ul {
	margin: 0 auto;
    display: block !important;
    visibility: visible !important;
    border-bottom: 2px solid #ecedf0;
}


.it_mobile_menu li{
    margin: 0;
    
}
.it_mobile_menu li a {
    font-size: 14px;
    line-height: 14px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-decoration: none;
    text-shadow:none;
    border-bottom: 2px solid #ecedf0;
    margin: 0 !important;
    color: #ecedf0;
}
.it_mobile_menu li:last-child a{
    border-bottom:none; 
   
}
.it_mobile_menu li a:hover {
    color: #3B3B3B;
}
.it_mobile_menu > li.current_page_item > a {
    color: #15589e;
    font-weight:bold
}

.it_mobile_menu ul li a{
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
.it_mobile_menu ul li:last-child a{
	padding-bottom: 5px !important; 
}

.it_mobile_menu li> li.current_page_item > a {
    color: #15589e;
    font-weight:bold
}
.it_mobile_menu ul a{
     border-bottom: none;
}


/* ************************************************** BOTON CIRCULAR DE MENU */

.mobile_nav {
    display: none;
    position: relative;
   	height: 30px;
   	top:-15px;
   	margin:0 auto;
	text-align:center;
	width:100%;
	right:0px;
   
}

.mobile_nav:before, .mobile_nav:after {
    content: '';
    position: absolute;
    top: 0;
    width: 2px;
    height: 100%;
}
.mobile_nav:before {
    left: 0;
}
.mobile_nav:after {
    right: 0;
}
.mobile_nav:hover {
    text-decoration: none;
    color:#3B3B3B;
}
.mobile_nav > span {
	right:0px;
	top:0px;
   	float:right;
    width: 30px;
    height: 30px;
    background: url(images/responsive_arrow.png) no-repeat;
    position: absolute;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.mobile_nav.opened > span {
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}


.nobreak {word-break: keep-all;}


/* ********************************************************************************** */
/* ********************************************************************************** */
/* ********************************************************************************** */
/* ********************************************************************************** */
/* ********************************************************************************** */
/* ********************************************************************************** */
/* ********************************************************************************** */
/* ********************************************************************************** */
/* ********************************************************************************** */
/* ********************************************************************************** */
/* ********************************************************************************** */
/* ********************************************************************************** */
/* ********************************************************************************** */
/* ********************************************************************************** */
/* ********************************************************************************** */
/* ********************************************************************************** */
/* ********************************************************************************** */
/* ********************************************************************************** */
/* ********************************************************************************** */
/* Media screen */
/* 960 - 768 */
/* Max 767 */
/* 481 - 767 mobile menu */
/* 600 - 481 resaltado, columns */
/* Max 480 */

/* ********************************************************************************** */
/* *************************** 768 - 960 ******************************************** */
/* ********************************************************************************** */
@media only screen and (min-width: 768px) and (max-width: 960px) {
/* ******************************************* Contenedores */
.main-container{
	margin:0;
	padding:0;
	padding-right:0;
}

.bgimagecolor{
	
	padding-left:0px;
	padding-right:0px;
}

/* ******************************************* head 768 - 960 */

.header{
	width:100%;
	z-index:12;
	margin-top:60px;
}
.header .logo {
	height:120px;
}
.header-info {
	height:120px;
	width:100%;
	text-align:left;
	background: url(images/head-01.png) right 20px no-repeat;
	background-size:100%;
	overflow:hidden;
	margin-left:40px;
}
.header-info p {
	font-size:30px;
	margin-right:10px;
	padding-right:40px;
}

h1.post_title.single{
	width:505px;
}
.top-search .searchform {
	display:none;
}

/* ******************************************* menu 768 - 960 */


#menu {
	margin: 0 auto;
	margin-right:10px;
	
}

#menu li a {
	font-size:16px;
	line-height:40px;
	padding:0px 1px 0px 1px;
	}
	
/* ******************************************* slider 768 - 960 */

.flexslider .slides img {
	display: block;
	width:755px;
	height:310px;
}
 .feature-content {
 text-align:center;
}

/* testimonial */
 .testimonial .slides_container {
	max-width:760px;
	
}
.testimonial .slides_container div.slide {
	max-width:760px;
}
.testimonial .item {
	max-width:760px;
	margin:0 0px;
}

/* ******************************************* feature-content 768 - 960 */

 .feature-content .feature-content-inner {
	 
	 margin-left:0;
}
 .feature-content .feature-content-inner .readmore {
}
.feature-post .feature-box{
	margin-bottom:35px;
	overflow:hidden;
	margin-right:30px;
	float:none;
	display:inline-block;
	vertical-align:top;
}

/* ******************************************* sign area 768 - 960 */

.signuparea .signup-content {
	height:auto;
}
 .signup-content .signupinfo {
	margin-bottom:30px;
}
 .signup-content .signuplogin {
	
}
 .signup-content .signuplogin .signupform {
  	margin-right:0;
}
.signupform input[type="text"] {
	margin-right:5px;
	padding-left:4px;
	width:65%;

}
 .signupform input[type="submit"] {
	
}



/* ******************************************* content bar 768 - 960 */
.content-bar .post .post_content img.postimg {
	max-width:93%;	
}
.content-bar img{
	max-width:90%;
	height:auto;
}
.content-bar .post .post_meta {
	padding-bottom: 20px;
}
/* ******************************************* footer 768 - 960 */
.footer .footer_logo{
	margin: 0px 0px 15px 0px;
	
	
}
.pos_redes{
	padding-left:30px;
}
/* ******************************************* como funciona 768 - 960 */
.resaltado {
	max-width:98%;
	border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;-khtml-border-radius:10px;
	padding:2%;
}




}
/* ********************************************************************************** */
/* *************************** Max 767 ********************************************** */
/* ********************************************************************************** */
@media only screen and (max-width: 767px) {

/* ******************************************* Contenedores */

html {	
	background: url(images/head_bgx.png) repeat-x;
	background-position: 0px 150px;

	}
.bgimagecolor{
	padding-left:0px;
	padding-right:0px;
}



/* ******************************************* menu Max 767 */
.menu_wrapper {
	top: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
}

/* ************************************************* language Max 767 */
.lan_wrapper{
	position: relative;
	top:5px;
	float:left;
	margin-left:0;
	left:0px;
	}


/* ******************************************* head Max 767 */ 
.header{
	width:100%;
	z-index:12;
	margin-top:10px;
	top:0px;
}
.header .logo {
	padding-top:0px;
	padding-right:0px;
	padding-left:0px;
	float:none;
	background:none;
	width:100%;
	text-align:center;
	margin: -25px 0 -20px 0px;
}
.header-info {
	height:120px;
	width:100%;
	text-align:left;
	background: url(images/head-01.png) right 20px no-repeat;
	background-size:100%;
	overflow:hidden;
	margin-left:0px;
	margin-top:-20px;
	
}
.header-info p {
	font-size:24px;
	margin-right:30px;
	width:100%;
}

.tel_wrapper {
	margin:0 auto;
	text-align:center;
	width:100%;
	visibility:visible;
	height:25px;
	z-index:11;
	font-size:20px;
	padding:0px;
	margin-top:-15px;
	margin-left:0px;
	left:0px;
	position: relative;
	color:#122432;
	font-family: 'PT Sans', sans-serif;
	background:#e8e8e8;
}


/* ******************************************* Menu Max 767 */
/* ******************************************* Menu Max 767 */
/* ******************************************* Menu Max 767 */
/* ******************************************* Menu Max 767 */
/* ******************************************* Menu Max 767 */ 


#mobile_menu {
    width: 100%;
	margin:0 auto;
	text-align:center;
}

#MainNav {
	margin:0 auto;
	text-align:center;
}


ul.ddsmoothmenu {
	display: none;
}
.it_mobile_menu a {
	display: block;
	padding-left:0px;
	color: #3B3B3B;
	padding-top: 3px;
	padding-bottom: 3px;
}

.ddsmoothmenu .sub-menu{
	margin-left:100px !important;
	visibility:hidden;
}

.ddsmoothmenu .sub-menu li{
	margin: 0 !important;
	padding: 0 !important;
	clear:both;
	
	}
.ddsmoothmenu {
	text-align: center;
}
li.depth-4 ul.children {
	padding-left: 0;
}

/* ******************** BOTON CIRCULAR DE MENU */

.mobile_nav {
	display: inline-block;
}


/* ******************************************* Logo Max 767 */ 

.logo {
	text-align:center;
}
.top-search .searchform {
	display:none;
}

.top-search .searchform {
	margin-top:30px;
	padding-right:10px;
	margin-left:80px;
	width:50%;
	float:left;
}

/* ******************************************* feature-content Max 767 */


 .feature-content {
 	text-align:center;
}
 .feature-content .feature-content-inner {
	 max-width:600px;
	 text-align:center;
	 
	 margin-bottom:25px;
}
 .feature-content .feature-content-inner p{
 	margin-bottom:25px;
 }
 .feature-content .feature-content-inner .readmore {
	
}
.feature-post .feature-box{
	margin-bottom:10px;
	overflow:hidden;
	float:none;
	display:compact;
	padding-bottom:0px;
	
	
}
.feature-post .feature-box p{
	margin-bottom:25px;
}
/* ******************************************* sign area */
.signuparea {
	text-align:center;
	margin-bottom:15px;
}
 .signuparea .signup-content {
 text-align:center;
}
.signup-content .signupinfo {
text-align:center;
}
.signup-content .signuplogin {
text-align:center;
margin-top:-50px;
margin-bottom:50px;
}
.signup-content .signuplogin .signupform {
}

.signupform input[type="text"] {
	margin:0px;
	text-align:center;
	width:100%;
	float:center;
}

.signupform input[type="submit"] {
	width:100%;
	height:50px;
	margin:0px;
	background:url(images/signup_icon.png) center top no-repeat;
	background-size:50px 50px;
	margin:10px;
	
}
.signupform input[type="submit"]:hover {
	margin-left:0px;
}

/* ******************************************* content bar Max 767 */
.content-bar .post .post_content img.postimg {
	max-width:93%;	
}
h1.post_title.single{
	width:471px;
	text-align:center;
}
.content-bar img{
	max-width:470px;
	height:auto;
}
.content-bar .post .post_meta {
	padding-bottom: 20px;
}


/* ******************************************* footer Max 767 */

.footer {
	float:none;
	text-align:center;
	
}

.sidebar {
	 padding-left:0px;
	 padding-top:40px;
	 max-width:100%;
	text-align:center;
}

.footer-wrapper {
	padding-left:0px;
}

ul.Social-links{

margin-bottom:30px;
text-align:center;
padding-left:180px;
padding-bottom:40px;
}




ul.Social-links li {
	margin:0;
	display:inline;
	width:60px;
	height:50px;
	position:relative;
	float:left;
	text-align:center;
}
ul.Social-links li a {
	margin:0 10px 0 0;
	line-height: 50px; 
}

.pos_redes{
	padding-left:0px;
}


.footer_bottom {
	text-align:center;
}

.footer_bottom .footer_bottom_inner span.blog-desc {
    float:none;
	margin-top:10px;
	margin-bottom:10px;
	display:block;
}

.footer_bottom .footer_bottom_inner span.copyright a{
	float:none;
	margin-top:20px;
	margin-bottom:20px;
	display:block;
}

/* ******************************************* como funciona resaltado Max 767 */
.resaltado {
	max-width:90%;
	border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-khtml-border-radius:5px;
	padding:2%;
}

.resaltado_fullwidth {
	width:270px;
	height:270px;
}

.resaltado_fullwidth img{
	width:270px;
	height:270px;
}



}
/* **************************************************************************************** */
/* *************************** max 600 ********************************************** */
/* **************************************************************************************** */
@media only screen and (max-width: 600px) {

/* Imagenes resaltadas */

.resaltado {
	width:240px;
	height:240px;
	border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;-khtml-border-radius:10px;
	padding:0%; !important;
	text-align:center !important;
	padding:2%;
	margin:0 auto !important;

}
.resaltado img{
	width:216px;
	height:216px;
	position:relative;
}


}


/* ********************************************************************************** */
/* *************************** Max 480 ********************************************** */
/* ********************************************************************************** */
@media only screen and (max-width: 480px) {

/* ************************************************* contenedores */
html {	
	background: url(images/head_bgx.png) repeat-x;
	background-position: 0px 150px;
	}
	




/*=======================================================*/
/* Responsive Dropdown Menu Style */
/*=======================================================*/




/* ************************************************* head Max 480*/
.logo {
	padding-top:10px;
	margin:0;
	text-align:center;
}
.logo img {
	margin:0;
}
 .header-info{
	background: url(images/head-01.png) right 20px no-repeat;
	background-size:160%;
	margin-left:0px;
	margin-top:-20px;
}

.header-info p {
	font-size:12px;
	line-height:15px;
	margin-right:0px;
	width:100%;
	overflow:visible;
}



/* ************************************************* slider Max 480*/
.flexslider .slides img {
	display: block;
	width:292px;
	height:120px;
}

 .mobieMenu {
	margin-right:20px;
}
 .top-search .searchform {
	margin-top:30px;
	padding-right:10px;
	margin-left:0;
	width:96%;
	float:left;
}
 .top-search .searchform input[type="text"] {
	 width:280px;
}
 .slider-wrapper {
	 padding-top:5px;
	 padding-bottom:5px;
	 margin-left:10px;
}
 .flexslider {
	margin-top:5px;
}
 .flex-caption {
	display:none;
}
 .flex-direction-nav {
	 height: 0;
	 position:absolute;
	 top: 175px;
	 right:120px;
	 border: solid 1px #FF0000;
	 display:none;
}
 
/* Control Nav */
 .flex-control-nav {
	 position: absolute;
	 bottom: 15px;
	 text-align:right;
	 right:20px;
	 text-indent: -9999px;
	 display:inline-block;
	 width:15px;
}
 .flex-control-nav li {
	 margin: 0 0 0 5px;
	 zoom: 1;
	 display:block;
}
.flex-control-nav li:first-child {
 	margin: 0;
}
 .flex-control-nav li a {
	 width: 15px;
	 height: 20px;
	 background:url(images/pagination.png) no-repeat;
	 cursor: pointer;
	 display:inline-block;
}

@-moz-document url-prefix() {
.flex-control-nav li a {
	 width: 15px;
	 height: 20px;
	 background:url(images/pagination.png) 0 0 no-repeat;
	 cursor: pointer;
	 overflow:hidden;
	 margin-top:0;
 }

}



 .flex-control-nav li a:hover {
 	background-position: 0 -20px;
}
 .flex-control-nav li a.active {
	 background-position: 0px -20px;
	 cursor: default;
}
 .feature-content {
 	text-align:center;
}
 .testimonial .slides_container {
	width:290px;
	height:auto;
}
.testimonial .slides_container div.slide {
	width:290px;
	height:auto;
}
.testimonial .item {
	width:290px;
	height:auto;
	margin:0 0px;
}

/* ************************************************* feature Max 480*/
 .feature-content .feature-content-inner {
	
}
 .feature-content .feature-content-inner .readmore {
	

}
 .feature-post .feature-box {
	 margin:0 auto;
}

.boton_home_azul {	
	margin-bottom:30px;
	}

/* ************************************************* signarea Max 480*/
.signup-content .signuplogin {
 	 margin-top:0px;
}

/* ************************************************* content Max 480*/
.content-bar .post .post_content img.postimg {
	max-width:93%;	
}
h1.post_title.single{
	width:292px;
	text-align:center;
}
.content-bar img{
	max-width:292px;
	height:auto;
}
.content-bar .post .post_meta {
	padding-bottom: 20px;
}


/* ************************************************* footer Max 480*/

ul.Social-links{

margin-bottom:30px;
text-align:center;
padding-left:90px;
padding-bottom:40px;
}

/* ************************************************* columns Max 480*/

.resaltado {
	width:150px;
	height:150px;
	border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;-khtml-border-radius:10px;
	padding:0%; !important;
	text-align:center !important;
	padding:2%;
	margin:0 auto !important;

}
.resaltado img{
	width:135px;
	height:135px;
	position:relative;
}

.resaltado_fullwidth {
	width:240px;
	height:240px;
}

.resaltado_fullwidth img{
	width:240px;
	height:240px;
	
}




}
