@import 'fonts/MyriadPro/stylesheet.css';
@import 'fonts/PFDinDisplayPro/stylesheet.css';

/* long story short */

*{
	outline: none !important;
}

html {
    
}

html, body {
    border: 0;
    padding: 0;
    margin: 0;
    min-width: 1000px;
    font-family: Arial;
}

body {
    font-family: 'pf_dindisplay_proregular';
    font-size: 16px;
}

.clear {
    clear: both;
}

.rightAlign {
    text-align: right;
    position: relative;
}

.hidden {
    display: none;
    opacity: 0;
    visibility: hidden;
}

p {
    margin: 0 0 1.4em;
}

article h1:first-of-type, article h2:first-of-type,
section h1:first-of-type, section h2:first-of-type {
    margin-top: 0px;
}

form.feedback label {
    display: none;
}

.error {
    -webkit-box-shadow: inset 0px 0px 1px 1px red!important;
    box-shadow: inset 0px 0px 1px 1px red!important;
}

.valid {
    -webkit-box-shadow: inset 0px 0px 1px 1px yellowgreen!important;
    box-shadow: inset 0px 0px 1px 1px yellowgreen!important;
}

.arrowCont {
    position: relative;
    background-color: #434f56;
    -webkit-transition: background 150ms ease-in;
    -moz-transition: background 150ms ease-in;
    -ms-transition: background 150ms ease-in;
    -o-transition: background 150ms ease-in;
    transition: background 150ms ease-in;
}

.arrowCont:hover {
    background-color: #546570;
}

.arrowCont.left {
    -webkit-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
}

.arrowCont.right {
    -webkit-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
}

.arrowCont .arrow {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height 32px;
    width: 13px;
    background-repeat: no-repeat;
    background-position: center center;
}

.left .arrow {
    background-image: url(img/arrowLeft.png);
}

.right .arrow {
    background-image: url(img/arrowRight.png);
}

.grad {
    background: url(img/gradBG.png) center top repeat-y;
}

.wrap {
    margin: 0 auto;
    padding: 0 45px;
    width: 1000px;
    position: relative;
}

.ib {
    display: inline-block;
    vertical-align: top;
}

.mid {
    vertical-align: middle;
}

.ic {
    width: 42px;
    height: 42px;
    opacity: 1.0;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: 60% auto;
    background-size: 60% auto;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all 150ms ease-in;
    -moz-transition: all 150ms ease-in;
    -ms-transition: all 150ms ease-in;
    -o-transition: all 150ms ease-in;
    transition: all 150ms ease-in;
}

.ic:hover {
    opacity: .8;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.ic#fb {
    background-color: #2b3990;
    background-image: url(img/icons/facebook.png);/*svg*/
}

.ic#tw {
    background-color: #27aae0;
    background-image: url(img/icons/twitter.png);/*svg*/
}

header.section {
    padding: 31px 0 24px;
}

header.section h1 {
    margin: 0;
    font-size: 40px;
    text-align: center;
}

header.section h1 span {
    display: inline-block;
    position: relative;
    padding: 8px 4px;
}

header.section h1 span a {
    position: absolute;
    top: 0;
    left: 100%;
    font-size: 16px;
    font-weight: 100;
    display: block;
    display: block;
    white-space: nowrap;
    color: #000;
    text-decoration: none;
    border-bottom: 1px dotted #000;
}

header.section h1 span a:hover {
    border-bottom-style: solid;
}

a {
    color: #7ed126;
    text-decoration: none;
    border-bottom: 1px dotted #7ed126;
}

a:hover {
    color: #93e53b;
    text-decoration: none;
    border-bottom: 1px solid #93e53b;
}

a.notd {
    text-decoration: none;
    border-width: 0;
}

a.notd:hover {
    text-decoration: none;
    border-width: 0;
}

::-moz-selection { background: #5af; color: #fff; text-shadow: none; }
::selection { background: #5af; color: #fff; text-shadow: none; }

@-webkit-keyframes rotateAndZoom {
    0%   { -webkit-transform: rotate(0deg); }
    50%  { -webkit-transform: rotate(360deg); }
    100% { -webkit-transform: scale(1.1); font-size: 25px; }
}

@-moz-keyframes rotateAndZoom {
    0%   { -moz-transform: rotate(0deg); }
    50%  { -moz-transform: rotate(360deg); }
    100% { -moz-transform: scale(1.1); font-size: 25px; }
}

@-o-keyframes rotateAndZoom {
    0%   { -o-transform: rotate(0deg); }
    50%  { -o-transform: rotate(360deg); }
    100% { -o-transform: scale(1.1); font-size: 25px; }
}

@keyframes rotateAndZoom {
    0%   { transform: rotate(0deg); }
    50%  { transform: rotate(360deg); }
    100% { transform: scale(1.1); font-size: 25px; }
}

/* So the adventure begins */

.cyanBG {
    background-color: #2d769c;
    height: 331px;
    margin-bottom: -331px;
}

nav.big {
    z-index: 999;
    position: fixed;
    height: 39px;
    padding: 3px 0;
    width: 1000px;
    background: #b4babf;
    background: -moz-linear-gradient(top,  #b4babf 0%, #44525b 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4babf), color-stop(100%,#44525b));
    background: -webkit-linear-gradient(top,  #b4babf 0%,#44525b 100%);
    background: -o-linear-gradient(top,  #b4babf 0%,#44525b 100%);
    background: -ms-linear-gradient(top,  #b4babf 0%,#44525b 100%);
    background: linear-gradient(to bottom,  #b4babf 0%,#44525b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4babf', endColorstr='#44525b',GradientType=0 );
}

nav.big .lang {
    padding: 0 4px;
    overflow: hidden;
    text-align: center;
    border-left: 1px solid rgba(0, 0, 0, .1);
}

nav.big .lang span {
    position: relative;
    vertical-align: top;
    display: inline-block;
    -webkit-transition: all 150ms ease-in;
    -moz-transition: all 150ms ease-in;
    -ms-transition: all 150ms ease-in;
    -o-transition: all 150ms ease-in;
    transition: all 150ms ease-in;
}

nav.big .lang span a {
    position: relative;
    display: block;
    padding: 0 9px;
    color: #fff;
    line-height: 32px;
    border: 3px solid rgba(0, 0, 0, 0);
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -webkit-transition: all 150ms ease-in;
    -moz-transition: all 150ms ease-in;
    -ms-transition: all 150ms ease-in;
    -o-transition: all 150ms ease-in;
    transition: all 150ms ease-in;
}

nav.big .lang span a.current,
nav.big .lang span a:hover {
    border-color: #82cff1 #53beeb #12a7e4;
}

nav.big > ul {
    width: 820px;
    float: left;
    margin: 0 5px 0 10px;
    padding: 0;
    list-style: none;
}

nav.big > ul > li {
    position: relative;
    vertical-align: top;
    display: inline-block;
    -webkit-transition: all 150ms ease-in;
    -moz-transition: all 150ms ease-in;
    -ms-transition: all 150ms ease-in;
    -o-transition: all 150ms ease-in;
    transition: all 150ms ease-in;
}

nav.big > ul li > a:hover,
/*nav.big > ul li.current-menu-item > a,*/
nav.big > ul li.nav-active > a {
    border-color: #82cff1 #53beeb #12a7e4;
}

nav.big > ul > li > a {
    position: relative;
    display: block;
    padding: 0 10px;
    color: #fff;
    line-height: 32px;
    border: 3px solid rgba(0, 0, 0, 0);
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -webkit-transition: all 150ms ease-in;
    -moz-transition: all 150ms ease-in;
    -ms-transition: all 150ms ease-in;
    -o-transition: all 150ms ease-in;
    transition: all 150ms ease-in;
}

nav.big > ul li > .arrowDown {
    padding: 0 14px 0 10px;
    background: url(img/arrowDown.png) 98% 15px no-repeat;
}

nav.big > ul li > .arrowDown:hover + ul {
    padding: 3px;
    border-width: 3px;
    opacity: 1;
}

nav.big > ul li > .arrowDown.h,
nav.big > ul li > .arrowDown:hover {
    border-bottom: 0;
    border-color: #424f57;
    background-color: #424f57;
    -webkit-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
}

nav.big ul li ul {
    position: absolute;
    top: 35px;
    left: 0;
    margin: 0;
    overflow: hidden;
    display: block;
    height: 0;
    width: 166px;
    padding: 0 3px;
    border: 3px solid #424f57;
    border-width: 0;
    -webkit-border-radius: 0 8px 8px 8px;
    border-radius: 0 8px 8px 8px;
    opacity: 0;
    background-color: #424f57;
    -webkit-transition: all 150ms ease-in;
    -moz-transition: all 150ms ease-in;
    -ms-transition: all 150ms ease-in;
    -o-transition: all 150ms ease-in;
    transition: all 150ms ease-in;
}

nav.big ul li ul:hover {padding: 3px; border-width: 3px; opacity: 1; }

nav.big ul li ul li {
    display: block;
    width: 0;
    border: 0;
    white-space: nowrap;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all 150ms ease-in;
    -moz-transition: all 150ms ease-in;
    -ms-transition: all 150ms ease-in;
    -o-transition: all 150ms ease-in;
    transition: all 150ms ease-in;
}

nav.big ul li ul li a {
    color: #fff;
    display: block;
    text-decoration: none;
    border: 0;
    padding: 7px;
}

nav.big ul li ul li:hover {
    width: 100%;
    background-color: #2aafe7;
}

nav.big.static {
    position: static;
}

#header {
    padding-top: 45px;
}

.topLine {
    white-space: nowrap;
    background-color: #fff;
}

.topLine .logo {
    padding: 17px 35px 17px 35px;
}

.topLine .tagLine {
    font-size: 19px;
}

.topLine .tagLine div:first-child {
    color: #1aa9e5;
}

.topLine .tagLine div:last-child {
    color: #8ab62d;
}

.social {
    padding: 0 15px 0 5px;
}

.topLine .phone {
    position: relative;
}

.topLine .phone div:first-child {
    color: #49545b;
    font-size: 14px;
    margin-top: -3px;
}

.topLine .phone .bigger {
    font-size: 32px;
    line-height: 32px;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.76);
    text-shadow: 1px 1px 2px #fff, 0 0 0 #000;
    font-family: 'pf_dindisplay_problack';
}

.topLine .login .user-on,
.topLine .login .user {
    /*position: absolute;*/
    z-index: 1;
    margin: 0 0 0 20px;
    padding: 5px 10px;
    border: 0;
    outline: 0;
    border: 3px solid #fff;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, .3);
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, .3);
    background: #87d434;
    background: -moz-linear-gradient(top,  #87d434 0%, #7abb34 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#87d434), color-stop(100%,#7abb34));
    background: -webkit-linear-gradient(top,  #87d434 0%,#7abb34 100%);
    background: -o-linear-gradient(top,  #87d434 0%,#7abb34 100%);
    background: -ms-linear-gradient(top,  #87d434 0%,#7abb34 100%);
    background: linear-gradient(to bottom,  #87d434 0%,#7abb34 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87d434', endColorstr='#7abb34',GradientType=0 );
    white-space: nowrap;
}

.topLine .login .user-on:hover,
.topLine .login .user:hover {
    background: #91dd3f;
    background: -moz-linear-gradient(top,  #91dd3f 0%, #86d135 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#91dd3f), color-stop(100%,#86d135));
    background: -webkit-linear-gradient(top,  #91dd3f 0%,#86d135 100%);
    background: -o-linear-gradient(top,  #91dd3f 0%,#86d135 100%);
    background: -ms-linear-gradient(top,  #91dd3f 0%,#86d135 100%);
    background: linear-gradient(to bottom,  #91dd3f 0%,#86d135 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91dd3f', endColorstr='#86d135',GradientType=0 );
}

.topLine .login .user-on img,
.topLine .login .user img {
    margin-right: 4px;
}

.topLine .login .user-on span,
.topLine .login .user span {
    color: #fff;
    font-size: 14px;
    line-height: 19px;
    overflow: hidden;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
    max-width: 200px;
    text-overflow: ellipsis;
}

.news {
    min-height: 380px;
    padding-bottom: 30px;
    background: #ffffff;
    background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 50%, #efefef 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#ffffff), color-stop(100%,#efefef));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 50%,#efefef 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#ffffff 50%,#efefef 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#ffffff 50%,#efefef 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 50%,#efefef 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 );
}

.news .newsContainer {
    text-align: justify;
    width: 900px;
    margin: 0 auto;
}

.news .newsContainer .newsArticle {
    position: relative;
    width: 29%;
    top: 1.2em;
    text-align: left;
}

.news .newsContainer:before{
    content: '';
    display: block;
    width: 100%;
    margin-bottom: -1.2em;
}

.news .newsContainer:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.news .newsContainer .newsArticle {
    line-height: 17px;
}

.news .newsContainer .newsArticle .timeStamp a {
    border-bottom: 1px solid #0073a3;
    color: #0073a3;
    text-decoration: none;
}

.news .newsContainer .newsArticle .timeStamp a:hover {
    border-bottom: 1px solid #37abdd;
    color: #37abdd;
}

.news .newsContainer .newsArticle h4 {
    margin: 18px 0;
}

.news .newsContainer .newsArticle .moreLink {
    margin-top: 5px;
    display: block;
    width: 21px;
    height: 18px;
    background-color: rgba(255, 255, 255, 0);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #0073a3;
    font-size: 30px;
    line-height: 4px;
    text-decoration: none;
    -webkit-transition: all 150ms ease-in;
    -moz-transition: all 150ms ease-in;
    -ms-transition: all 150ms ease-in;
    -o-transition: all 150ms ease-in;
    transition: all 150ms ease-in;
    -webkit-box-shadow: 0 0px 0px 0 rgba(255, 255, 255, 0);
    box-shadow: 0 0px 0px 0 rgba(255, 255, 255, 0);
}

.news .newsContainer .newsArticle .moreLink:hover {
    width: 36px;
    margin-top: 10px;
    padding: 0 10px 5px;
    color: #37abdd;
    font-size: 36px;
    letter-spacing: 3px;
    background-color: rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0 3px 6px 0 rgba(104, 136, 165, .3);
    box-shadow: 0 3px 6px 0 rgba(104, 136, 165, .3);
}

#about .tabs {
    width: 900px;
    margin: 0 auto;
    position: relative;
    min-height: 370px;
}

.tabs nav {
    text-align: center;
    /*margin-bottom: 40px;*/
}

.tabs nav ul {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.tabs nav ul li {
    cursor: pointer;
    padding: 5px 15px 7px;
    margin: 0 1px;
    border-width: 3px;
    border-style: solid;
    border-color: #eaeaea #ddd #cdcdcd;
    color: #575757;
    font-size: 21px;
    font-weight: 600;
    -webkit-border-radius: 8px 0;
    border-radius: 8px 0;
    -webkit-transition: all 150ms ease-in;
    -moz-transition: all 150ms ease-in;
    -ms-transition: all 150ms ease-in;
    -o-transition: all 150ms ease-in;
    transition: all 150ms ease-in;
}

.tabs nav ul:hover li {
    border-color: #eaeaea #ddd #cdcdcd!important;
    color: #575757!important;
}

.tabs nav ul li.active {
    border-color: #82cff1 #53beeb #12a7e4;
    color: #000;
}

.tabs nav ul li:hover {
    border-color: #82cff1 #53beeb #12a7e4!important;
    color: #575757!important;
}

.tabs nav span {
    position: relative;
    padding: 8px;
}

.tabs nav span a {
    position: absolute;
    top: 0;
    left: 100%;
    font-size: 16px;
    font-weight: 100;
    display: block;
    display: block;
    white-space: nowrap;
    color: #000;
    text-decoration: none;
    border-bottom: 1px dotted #000;
}

.tabs nav span a:hover {
    border-bottom-style: solid;
}

.tabs .tabContent {
    position: absolute;
    top: 60px;
}

.tabs .tabContent .text p:last-child {
    margin: 0;
    padding-bottom: 1.4em;
}

.about .tabs .tabContent figure {
    position: relative;
    float: right;
    margin-left: 50px;
    width: 49%;
}

.about .tabs .tabContent figure img {
    width: 100%;
}

.about .tabs .tabContent figure figcaption {
    position: absolute;
    bottom: 0;
    height: 48px;
    width: 100%;
    color: #fff;
    text-align: center;
    line-height: 48px;
    font-weight: 600;
    font-size: 21px;
    background: #94d4ef;
    background: -moz-linear-gradient(top,  #94d4ef 0%, #1aa9e3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#94d4ef), color-stop(100%,#1aa9e3));
    background: -webkit-linear-gradient(top,  #94d4ef 0%,#1aa9e3 100%);
    background: -o-linear-gradient(top,  #94d4ef 0%,#1aa9e3 100%);
    background: -ms-linear-gradient(top,  #94d4ef 0%,#1aa9e3 100%);
    background: linear-gradient(to bottom,  #94d4ef 0%,#1aa9e3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94d4ef', endColorstr='#1aa9e3',GradientType=0 );
}

.about .tabs .tabContent .text {
    overflow: hidden;
}

.about footer {
    text-align: justify;
    width: 900px;
    margin: 0 auto;
    padding-bottom: 2.2em;
}

.about footer span {
    text-align: center;
    max-width: 20%;
    top: 1.2em;
    position: relative;
}

.about footer:before{
    content: '';
    display: block;
    width: 100%;
    
}

.about footer:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.about footer span div {
    
}

.howDoesItWork {
    background: #efefef;
    background: -moz-linear-gradient(top,  #efefef 0%, #ffffff 50%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(50%,#ffffff), color-stop(100%,#ffffff));
    background: -webkit-linear-gradient(top,  #efefef 0%,#ffffff 50%,#ffffff 100%);
    background: -o-linear-gradient(top,  #efefef 0%,#ffffff 50%,#ffffff 100%);
    background: -ms-linear-gradient(top,  #efefef 0%,#ffffff 50%,#ffffff 100%);
    background: linear-gradient(to bottom,  #efefef 0%,#ffffff 50%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#ffffff',GradientType=0 );
}

.howDoesItWork .bigIcons {
    width: 900px;
    margin: 0 auto;
}

.howDoesItWork .bigIcons:before{
    content: '';
    display: block;
    width: 100%;
    margin-bottom: -1.2em;
}

.howDoesItWork .bigIcons:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.howDoesItWork .bigIcons .step {
    text-align: center;
    width: 24.5%;
    top: 1.2em;
    position: relative;
}

.step .icon {
    position: relative;
    margin-bottom: 10px;
    display: inline-block;
    height: 78px;
    width: 78px;
    padding: 20px;
    border: 3px solid #fff;
    color: rgba(255, 255, 255, 0);
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: inset 0 0 20px 0 rgba(0, 0, 0, .1), 3px 3px 4px 0 rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 20px 0 rgba(0, 0, 0, .1), 3px 3px 4px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 250ms ease-in;
    -moz-transition: all 250ms ease-in;
    -ms-transition: all 250ms ease-in;
    -o-transition: all 250ms ease-in;
    transition: all 250ms ease-in;
}

.step .icon img, .step .icon div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    -webkit-transition: all 250ms ease-in;
    -moz-transition: all 250ms ease-in;
    -ms-transition: all 250ms ease-in;
    -o-transition: all 250ms ease-in;
    transition: all 250ms ease-in;
}

.step .icon img {
    opacity: 1;
}

.step .icon div {
    cursor: default;
    height: 79px;
    line-height: 79px;
    font-size: 79px;
    font-weight: 900;
    text-align: center;
    opacity: 0;
}

.step:hover .icon {
    color: #7ed126;
    border-color: #7ed126;
}

.step:nth-child(2n):hover .icon {
    color: #07a4e6;
    border-color: #07a4e6;
}

.step:hover .icon img {
    opacity: 0;
}

.step:hover .icon div {
    opacity: 1;
}

.step div.ib {
    cursor: default;
    font-weight: 700;
}

.howDoesItWork .twoCols {
    position: relative;
    width: 900px;
    padding: 90px 0 70px;
    margin: 0 auto;
}

.howDoesItWork .twoCols span {
    position: relative;
    width: 49.5%;
}

.howDoesItWork .twoCols span figure {
    float: left;
    width: 30%;
}

.howDoesItWork .twoCols span .text {
    overflow: hidden;
    padding: 0 15px 0 0;
}

#app {
    background-color: #2f769c;
}

.app {
    color: #fff;
    position: relative;
    height: 700px;
    background: url(img/appPhone.png) right 45px no-repeat;
    -webkit-transition: all 150ms ease-in;
    -moz-transition: all 150ms ease-in;
    -ms-transition: all 150ms ease-in;
    -o-transition: all 150ms ease-in;
    transition: all 150ms ease-in;
}

.appContainer {
    padding: 75px 50px;
}

.appContainer header.appHeader h1 {
    font-size: 60px;
    line-height: 60px;
    font-weight: 500;
}

.appContainer .appsWrap {
    margin: 90px 0 0;
}

.appContainer .appsWrap table td {
    padding-right: 15px;
}

.appContainer .appsWrap table td div {
    margin-bottom: 20px;
}

.callForm {
    height: 290px;
    border: 5px solid #fff;
    border-left: 0;
    border-right: 0;
    color: #fff;
    text-align: center;
    background-color: #444e56;
}

.callForm header.section {
    padding-bottom: 35px;
}

.callForm header.section h1 {
    font-weight: 700;
}

.requireCall input[type=text] {
    height: 39px;
    width: 216px;
    padding: 0 12px;
    margin: 0 6px;
    border: 0;
    outline: none;
    font-size: 16px;
    font-weight: 200;
    font-family: 'pf_dindisplay_proregular', arial;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 1.0);
    box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 1.0);
    -webkit-transition: all 150ms ease-in;
    -moz-transition: all 150ms ease-in;
    -ms-transition: all 150ms ease-in;
    -o-transition: all 150ms ease-in;
    transition: all 150ms ease-in;
}

.requireCall input[type=text]:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .5);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .5);
    -moz-transform: translateY(-2px);
    -webkit-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px);
}

.requireCall input[type=text]:focus {
    cursor: text;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .7);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .7);
    -moz-transform: translateY(-0px);
    -webkit-transform: translateY(-0px);
    -o-transform: translateY(-0px);
    -ms-transform: translateY(-0px);
    transform: translateY(-0px);
}

.requireCall input[type=submit] {
    padding: 11px 13px;
    border: 0;
    outline: 0;
    border: 3px solid #fff;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, .3);
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, .3);
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
    background: #87d434;
    background: -moz-linear-gradient(top,  #87d434 0%, #7abb34 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#87d434), color-stop(100%,#7abb34));
    background: -webkit-linear-gradient(top,  #87d434 0%,#7abb34 100%);
    background: -o-linear-gradient(top,  #87d434 0%,#7abb34 100%);
    background: -ms-linear-gradient(top,  #87d434 0%,#7abb34 100%);
    background: linear-gradient(to bottom,  #87d434 0%,#7abb34 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87d434', endColorstr='#7abb34',GradientType=0 );
    -webkit-transition: all 150ms ease-in;
    -moz-transition: all 150ms ease-in;
    -ms-transition: all 150ms ease-in;
    -o-transition: all 150ms ease-in;
    transition: all 150ms ease-in;
}

.requireCall input[type=submit]:hover {
    background: #91dd3f;
    background: -moz-linear-gradient(top,  #91dd3f 0%, #86d135 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#91dd3f), color-stop(100%,#86d135));
    background: -webkit-linear-gradient(top,  #91dd3f 0%,#86d135 100%);
    background: -o-linear-gradient(top,  #91dd3f 0%,#86d135 100%);
    background: -ms-linear-gradient(top,  #91dd3f 0%,#86d135 100%);
    background: linear-gradient(to bottom,  #91dd3f 0%,#86d135 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91dd3f', endColorstr='#86d135',GradientType=0 );
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.requireCall input[type=submit]:active {
    -moz-transform: scale(.95);
    -webkit-transform: scale(.95);
    -o-transform: scale(.95);
    -ms-transform: scale(.95);
    transform: scale(.95);
}

.callForm .subscr {
    padding: 20px 0 37px;
}

.specialOffer {
    height: 103px;
    background: #94d4ef;
    background: -moz-linear-gradient(top,  #94d4ef 0%, #1aa9e3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#94d4ef), color-stop(100%,#1aa9e3));
    background: -webkit-linear-gradient(top,  #94d4ef 0%,#1aa9e3 100%);
    background: -o-linear-gradient(top,  #94d4ef 0%,#1aa9e3 100%);
    background: -ms-linear-gradient(top,  #94d4ef 0%,#1aa9e3 100%);
    background: linear-gradient(to bottom,  #94d4ef 0%,#1aa9e3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94d4ef', endColorstr='#1aa9e3',GradientType=0 );
}

.specialOffer .price {
    margin-left: 20px;
    padding: 0 27px;
    height: 61px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: #fff;
    font-size: 40px;
    font-weight: 400;
    line-height: 61px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
}

.specialOffer .price span.bigger {
    font-size: 40px;
    font-weight: 900;
}

.specialOffer .text {
    width: 490px;
}

.specialOffer .text .headAdv {
    color: #383838;
    font-size: 24px;
}

.specialOffer .text .adv {
    color: #fff;
    font-size: 17px;
}

.specialOffer img {
    padding: 15px 0;
    margin: 0 20px;
}

.questions {
    padding: 0 0 20px;
    background: #ffffff;
    background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 50%, #efefef 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#ffffff), color-stop(100%,#efefef));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 50%,#efefef 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#ffffff 50%,#efefef 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#ffffff 50%,#efefef 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 50%,#efefef 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 );
}

.questionsContainer .col {
    width: 38%;
    margin-left: 10%;
}

.questionsContainer .col .question {
    padding: 8px;
    margin: -8px;
    margin-bottom: 40px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all 150ms ease-in;
    -moz-transition: all 150ms ease-in;
    -ms-transition: all 150ms ease-in;
    -o-transition: all 150ms ease-in;
    transition: all 150ms ease-in;
}

.questionsContainer .col .question:hover {
    background-color: #fff;
    box-shadow: 0px 3px 7px 0 rgba(60, 87, 102, 0.25);
}

.questionsContainer .col .question .qHeader {
    position: relative;
    margin-bottom: 8px;
    min-height: 50px;
    font-size: 16px;
    font-weight: 700;
}

.questionsContainer .col .question .answer {
    position: relative;
}

.questionsContainer .col .question .qHeader:before,
.questionsContainer .col .question .answer:before {
    position: absolute;
    right: 100%;
    margin-right: 20px;
    width: 36px;
    height: 36px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    font-weight: 900;
    font-size: 21px;
    line-height: 36px;
    -webkit-transition: all 350ms ease-in;
    -moz-transition: all 350ms ease-in;
    -ms-transition: all 350ms ease-in;
    -o-transition: all 350ms ease-in;
    transition: all 350ms ease-in;
}

.questionsContainer .col .question .qHeader:before {
    content: '?';
    border: 3px solid #7ed126;
}

.questionsContainer .col .question .answer:before {
    content: '!';
    border: 3px solid #07a4e6;
}

.questionsContainer .col .question:hover .qHeader:before {
    -webkit-animation: rotateAndZoom 1s forwards;
    -moz-animation: rotateAndZoom 1s forwards;
    -o-animation: rotateAndZoom 1s forwards;
    animation: rotateAndZoom 1s forwards;
}

#footer .bottomLine {
    position: relative;
    padding: 19px;
    border-top: 5px solid #fff;
    background-color: #2d769c;
}

#footer .bottomLine .logo {
    cursor: pointer;
    padding: 20px;
}

#footer .bottomLine .phone {
    padding: 0 30px 0 70px;
    color: #fff;
    font-size: 14px;
}

#footer .bottomLine .phone .bigger {
    font-size: 32px;
    line-height: 32px;
    font-weight: 900;
    color: #fff;
}

#footer .bottomLine .phone .social {
    margin-top: 8px;
    padding: 0;
}

#footer .bottomLine .work input {
    padding: 11px 13px;
    margin: 0 0 15px 90px;
    border: 0;
    outline: 0;
    border: 3px solid #fff;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, .3);
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, .3);
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
    background: #02a0e2;
    background: -moz-linear-gradient(top,  #02a0e2 0%, #2ec2ff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#02a0e2), color-stop(100%,#2ec2ff));
    background: -webkit-linear-gradient(top,  #02a0e2 0%,#2ec2ff 100%);
    background: -o-linear-gradient(top,  #02a0e2 0%,#2ec2ff 100%);
    background: -ms-linear-gradient(top,  #02a0e2 0%,#2ec2ff 100%);
    background: linear-gradient(to bottom,  #02a0e2 0%,#2ec2ff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#02a0e2', endColorstr='#2ec2ff',GradientType=0 );
    -webkit-transition: all 150ms ease-in;
    -moz-transition: all 150ms ease-in;
    -ms-transition: all 150ms ease-in;
    -o-transition: all 150ms ease-in;
    transition: all 150ms ease-in;
}

#footer .bottomLine .work input:hover {
    background: #07b3fd;
    background: -moz-linear-gradient(top,  #07b3fd 0%, #45c7ff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#07b3fd), color-stop(100%,#45c7ff));
    background: -webkit-linear-gradient(top,  #07b3fd 0%,#45c7ff 100%);
    background: -o-linear-gradient(top,  #07b3fd 0%,#45c7ff 100%);
    background: -ms-linear-gradient(top,  #07b3fd 0%,#45c7ff 100%);
    background: linear-gradient(to bottom,  #07b3fd 0%,#45c7ff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#07b3fd', endColorstr='#45c7ff',GradientType=0 );
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

#footer .bottomLine .work input:active {
    -moz-transform: scale(.95);
    -webkit-transform: scale(.95);
    -o-transform: scale(.95);
    -ms-transform: scale(.95);
    transform: scale(.95);
}

#footer .bottomLine .work .castcom {
    color: #fff;
    font-family: MyriadPro-Regular, tahoma;
    font-size: 14px;
    text-align: right;
}

#footer .bottomLine .work .castcom a {
    color: #fff;
    text-decoration: none;
    border: 0;
}

#footer .bottomLine .work .castcom a:hover {
    text-decoration: underline;
    border: 0;
}

.services .tabs {
    position: relative;
    height: 298px;
}

.services .tabContent figure {
    position: relative;
    margin-right: 5px;
    float: left;
    width: 334px;
}

.services .tabContent figure figcaption {
    position: absolute;
    bottom: 19px;
    left: 18px;
    width: 140px;
}

.services .tabContent figure figcaption h4,
.services .tabContent figure figcaption p {
    margin: 0;
}

.services .tabContent figure figcaption h4 {
    font-size: 26px;
    line-height: 32px;
}

.services .tabContent figure figcaption p a {
    border-color: #fff;
    color: #fff;
}

.services .tabContent .text {
    padding: 40px;
    height: 158px;
    overflow: hidden;
    background: #2fc2ff;
    background: -moz-linear-gradient(top,  #2fc2ff 0%, #01a0e2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2fc2ff), color-stop(100%,#01a0e2));
    background: -webkit-linear-gradient(top,  #2fc2ff 0%,#01a0e2 100%);
    background: -o-linear-gradient(top,  #2fc2ff 0%,#01a0e2 100%);
    background: -ms-linear-gradient(top,  #2fc2ff 0%,#01a0e2 100%);
    background: linear-gradient(to bottom,  #2fc2ff 0%,#01a0e2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2fc2ff', endColorstr='#01a0e2',GradientType=0 );
}

.services .tabContent .text p {
    margin: 0 0 .4;
}

.services .tabContent h3 {
    margin: 0 0 5px;
    color: #fff;
    font-size: 30px;
    font-weight: 900;
}

.auth {
    width: 500px;
}

.auth  h3 {
    text-align: center;
    margin: 0 0 1.2em;
}

.auth .authCol {
    font-family: MyriadPro-Regular, tahoma;
    padding: 5px;
}

.auth .authCol.left {
    width: 50%;
    float: left;
}

.auth .authCol.right {
    overflow: hidden;
}

.auth .authCol label {
    display: block;
    margin-bottom: .2em;
}

.auth .authCol input {
    outline: none;
}

.auth .authCol .field {
    margin-bottom: 1.2em;
    display: block;
    width: 190px;
    padding: 9px 12px;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);
    -webkit-transition: all 150ms ease-in;
    -moz-transition: all 150ms ease-in;
    -ms-transition: all 150ms ease-in;
    -o-transition: all 150ms ease-in;
    transition: all 150ms ease-in;
}

.auth .authCol .field:hover {
    border-color: #c4c4c4;
    -webkit-box-shadow: 0 2px 6px 0 rgba(0,0,0,.1);
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.1);
}

.auth .authCol .field:focus {
    border-color: #819bc1;
    -webkit-box-shadow: 0 0px 8px 0 rgba(0,0,0,.25);
    box-shadow: 0 0px 8px 0 rgba(0,0,0,.25);
}

.auth .authCol input[type=submit] {
    padding: 5px 18px;
    border: 0;
    border: 3px solid #fff;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, .2);
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, .2);
    color: #fff;
    line-height: 19px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
    background: #87d434;
    background: -moz-linear-gradient(top,  #87d434 0%, #7abb34 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#87d434), color-stop(100%,#7abb34));
    background: -webkit-linear-gradient(top,  #87d434 0%,#7abb34 100%);
    background: -o-linear-gradient(top,  #87d434 0%,#7abb34 100%);
    background: -ms-linear-gradient(top,  #87d434 0%,#7abb34 100%);
    background: linear-gradient(to bottom,  #87d434 0%,#7abb34 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87d434', endColorstr='#7abb34',GradientType=0 );
}

.auth .authCol input[type=submit]:hover {
    background: #91dd3f;
    background: -moz-linear-gradient(top,  #91dd3f 0%, #86d135 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#91dd3f), color-stop(100%,#86d135));
    background: -webkit-linear-gradient(top,  #91dd3f 0%,#86d135 100%);
    background: -o-linear-gradient(top,  #91dd3f 0%,#86d135 100%);
    background: -ms-linear-gradient(top,  #91dd3f 0%,#86d135 100%);
    background: linear-gradient(to bottom,  #91dd3f 0%,#86d135 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91dd3f', endColorstr='#86d135',GradientType=0 );
}

.auth .authCol form div {
    text-align: right;
    padding-right: 34px;
}

.auth .authCol .advert {
    padding: 10px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 148px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-size: 18px;
    background: #1dabe5;
    background: -moz-linear-gradient(top,  #1dabe5 0%, #37799a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1dabe5), color-stop(100%,#37799a));
    background: -webkit-linear-gradient(top,  #1dabe5 0%,#37799a 100%);
    background: -o-linear-gradient(top,  #1dabe5 0%,#37799a 100%);
    background: -ms-linear-gradient(top,  #1dabe5 0%,#37799a 100%);
    background: linear-gradient(to bottom,  #1dabe5 0%,#37799a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1dabe5', endColorstr='#37799a',GradientType=0 );
}

.auth .authCol .advert a {
    border-width: 0;
}

.auth .authCol .advert .realyFast {
    color: #a2e5ff;
    margin-top: 1.0em;
    text-transform: none;
}

.auth .authCol .advert .realyFast input {
    margin-top: .2em;
    text-transform: uppercase;
    background: #02a0e2;
    background: -moz-linear-gradient(top,  #02a0e2 0%, #2ec2ff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#02a0e2), color-stop(100%,#2ec2ff));
    background: -webkit-linear-gradient(top,  #02a0e2 0%,#2ec2ff 100%);
    background: -o-linear-gradient(top,  #02a0e2 0%,#2ec2ff 100%);
    background: -ms-linear-gradient(top,  #02a0e2 0%,#2ec2ff 100%);
    background: linear-gradient(to bottom,  #02a0e2 0%,#2ec2ff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#02a0e2', endColorstr='#2ec2ff',GradientType=0 );
}

.auth .authCol .advert .realyFast input:hover {
    background: #07b3fd;
    background: -moz-linear-gradient(top,  #07b3fd 0%, #45c7ff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#07b3fd), color-stop(100%,#45c7ff));
    background: -webkit-linear-gradient(top,  #07b3fd 0%,#45c7ff 100%);
    background: -o-linear-gradient(top,  #07b3fd 0%,#45c7ff 100%);
    background: -ms-linear-gradient(top,  #07b3fd 0%,#45c7ff 100%);
    background: linear-gradient(to bottom,  #07b3fd 0%,#45c7ff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#07b3fd', endColorstr='#45c7ff',GradientType=0 );
}


/* - Prices - */

.prices {
    width: 900px;
    margin: 0 auto;
    position: relative;
}

.prices .leftCol {
    width: 254px;
    float: left;
    margin-right: 5px;
    padding: 20px;
    background-color: #444e57;
}

.prices .rightCol {
    overflow: hidden;
}

.prices .leftCol ul,
.prices .rightCol ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.prices .leftCol ul li {
    cursor: pointer;
    padding: 5px 15px 7px;
    margin: 8px 0px;
    border-width: 3px;
    border-style: solid;
    border-color: #eaeaea #ddd #cdcdcd;
    color: #fff;
    font-size: 19px;
    font-weight: 200;
    -webkit-border-radius: 8px 0;
    border-radius: 8px 0;
    -webkit-transition: all 150ms ease-in;
    -moz-transition: all 150ms ease-in;
    -ms-transition: all 150ms ease-in;
    -o-transition: all 150ms ease-in;
    transition: all 150ms ease-in;
}

.prices .leftCol ul:hover li {
    border-color: #eaeaea #ddd #cdcdcd!important;
}

.prices .leftCol ul:hover li.active {
}

.prices .leftCol ul li.active {
    border-color: #82cff1 #53beeb #12a7e4;
}

.prices .leftCol ul li.active:hover {
}

.prices .leftCol ul li:hover {
    border-color: #82cff1 #53beeb #12a7e4!important;
}

.prices .rightCol:after {
    position: absolute;
    right: 14%;
    top: 0;
    content: ' ';
    display: block;
    width: 5px;
    height: 100%;
    background-color: #fff;
    
}

.prices .rightCol ul .priceTitle {
    background: #95d7f3;
    background: -moz-linear-gradient(top,  #95d7f3 0%, #02a1e2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#95d7f3), color-stop(100%,#02a1e2));
    background: -webkit-linear-gradient(top,  #95d7f3 0%,#02a1e2 100%);
    background: -o-linear-gradient(top,  #95d7f3 0%,#02a1e2 100%);
    background: -ms-linear-gradient(top,  #95d7f3 0%,#02a1e2 100%);
    background: linear-gradient(to bottom,  #95d7f3 0%,#02a1e2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#95d7f3', endColorstr='#02a1e2',GradientType=0 );
}

.prices .rightCol ul li ul li {
    background: #f7f7f7;
    background: -moz-linear-gradient(top,  #f7f7f7 0%, #e8e8e8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#e8e8e8));
    background: -webkit-linear-gradient(top,  #f7f7f7 0%,#e8e8e8 100%);
    background: -o-linear-gradient(top,  #f7f7f7 0%,#e8e8e8 100%);
    background: -ms-linear-gradient(top,  #f7f7f7 0%,#e8e8e8 100%);
    background: linear-gradient(to bottom,  #f7f7f7 0%,#e8e8e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#e8e8e8',GradientType=0 );
}

.prices .rightCol ul li ul li,
.prices .rightCol ul .priceTitle {
    min-height: 21px;
    line-height: 21px;
    padding: 14px 0;
    width: 100%;
} 

.prices .rightCol ul .priceTitle {
    cursor: pointer;
}

.prices .rightCol ul li .toLeft,
.prices .rightCol ul li .toRight,
.prices .rightCol ul li span {
    float: left;
}

.prices .rightCol ul li .toLeft {
    width: 76%;
    padding-left: 4%;
}

.prices .rightCol ul li .toRight {
    text-align: center;
    position: relative;
    width: 19%;
}

.prices .rightCol ul li .toRight .colHPrice {
    position: absolute;
    top: 0;
}

.prices .rightCol ul li .toRight .colHDrop,
.prices .rightCol ul li .toRight .colHPrice {
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    overflow: hidden;
    -webkit-transition: all 350ms ease-in;
       -moz-transition: all 350ms ease-in;
        -ms-transition: all 350ms ease-in;
         -o-transition: all 350ms ease-in;
            transition: all 350ms ease-in;
}

.prices .rightCol ul li .toRight .colHDrop {
    color: rgba( 0, 0, 0, 1 );
}

.prices .rightCol ul li .toRight .colHPrice {
    color: rgba( 0, 0, 0, 0 );
}

.prices .rightCol ul li.active .toRight .colHDrop {
    color: rgba( 0, 0, 0, 0 );
}

.prices .rightCol ul li.active .toRight .colHPrice {
    color: rgba( 0, 0, 0, 1 );
}

.prices .priceContainer {
    padding-bottom: 65px;
}


/* Контакты */ 

.contacts .tabs {
    padding-bottom: 25px;
}

.contacts .tabContent {
    position: relative;
    top: 25px;
}

.contacts .dima {
    width: 34%;
    padding: 0 4% 0 12%;
    float: left;
}

.contacts .dima .oneAdress {
    position: relative;
    min-height: 37px;
    padding: 0 25px 0 0;
    margin: 4px 0 26px;
    font-size: 14px;
}

.contacts .dima .oneAdress:before {
    position: absolute;
    top: 0px;
    left: -50px;
    content: ' ';
    display: block;
    width: 36px;
    height: 37px;
    background: url(img/map_marker.png) center center no-repeat;
}

.contacts .dima .oneAdress .phone {
    color: #0073a3;
    font-weight: 600;
}




/* 04-07-14 */ 
.news.innerPage {
    height: auto;
}

.news.innerPage article {
    margin-bottom: 65px;
}

.news.innerPage .newsContainer{
    text-align: left;
}

.news.innerPage .newsContainer .newsArticle{
    margin: 0 27px 65px;
}
.news.innerPage .newsContainer .newsArticle:nth-child(3n){
    margin-right: 0;
}
.news.innerPage .newsContainer .newsArticle:nth-child(3n+1){
    margin-left: 0;
}

.news.innerPage .newsContainer .newsArticle .moreLink {
    position: absolute;
}

.fancybox-wrap.fancybox-desktop.fancybox-type-html {
    -moz-transform: translateY(-700px);
    -webkit-transform: translateY(-700px);
    -o-transform: translateY(-700px);
    -ms-transform: translateY(-700px);
    transform: translateY(-700px);
    -webkit-transition: all 250ms ease-out;
       -moz-transition: all 250ms ease-out;
        -ms-transition: all 250ms ease-out;
         -o-transition: all 250ms ease-out;
            transition: all 250ms ease-out;
}

.fancybox-wrap.fancybox-desktop.fancybox-type-html.fancybox-opened {
    -moz-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}

@-moz-keyframes bounceOut {
        0%{ -moz-transform: scale(1.0)}
        
        50%{ -moz-transform: scale(1.7)}
        75%{ -moz-transform: scale(1.3)}
        100%{ -moz-transform: scale(1.5)}
}

@-webkit-keyframes bounceOut {
        0%{ -webkit-transform: scale(1.0)}
        
        50%{ -webkit-transform: scale(1.7)}
        75%{ -webkit-transform: scale(1.3)}
        100%{ -webkit-transform: scale(1.5)}
}

@-ms-keyframes bounceOut {
        0%{ -ms-transform: scale(1.0)}
        
        50%{ -ms-transform: scale(1.7)}
        75%{ -ms-transform: scale(1.3)}
        100%{ -ms-transform: scale(1.5)}
}

@-o-keyframes bounceOut {
        0%{ -o-transform: scale(1.0)}
        50%{ -o-transform: scale(1.7)}
        75%{ -o-transform: scale(1.3)}
        100%{ -o-transform: scale(1.5)}
}

@keyframes bounceOut {
        0%{ transform: scale(1.0)}
        50%{ transform: scale(1.7)}
        75%{ transform: scale(1.3)}
        100%{ transform: scale(1.5)}
}
















@media screen and (max-width: 1108px) {
    .grad {
        background: none;
    }
    
    .wrap {
        padding: 0;
    }
}

.about footer .ib:hover img {
    -webkit-animation: bounceOut .3s forwards ease-out; /* Safari 4+ */
    -moz-animation:    bounceOut .3s forwards ease-out; /* Fx 5+ */
    -o-animation:      bounceOut .3s forwards ease-out; /* Opera 12+ */
    animation:         bounceOut .3s forwards ease-out; /* IE 10+, Fx 29+ */
    animation-iteration-count: 1;
}

.about footer .ib img {
    -webkit-transition: all 150ms ease-out;
    -moz-transition: all 150ms ease-out;
    -ms-transition: all 150ms ease-out;
    -o-transition: all 150ms ease-out;
    transition: all 150ms ease-out;
    transform: scale(1.0)
}



.wrap .span12.offset1 {
    margin-left: 0;
}

.wrap .span10.offset1 {
    margin-left: 50px;
}

.wrap .span7.offset1 {
    margin-left: 45px;
}

div #kiosk_cardNumber {
    width: 153px;
    text-indent: 112px;
}

/*
.kiosk-access-buttons {
    margin: 0;
}

.kiosk-access-buttons p {
    margin: 5px 0 0;
}
*/
