/*
darkblue: 2935C
C:100 M:68 Y:4 K:0
#005BC3

lightblue: 2995C
C:80 M:12 Y:1 K:0
#00a9e0

green: 354C
C:94 M:0 Y:100 K:0

Typeface: Harabara
		  Myriad Pro
		  Baron Neue

*/


@font-face {
	font-family: 'Baron Neue';
	src: url('/fonts/usecleandrop/Baron Neue.eot');
	src: url('/fonts/usecleandrop/Baron Neue.woff') format('woff'), 
		 url('/fonts/usecleandrop/Baron Neue.ttf') format('truetype'), 
		 url('/fonts/usecleandrop/Baron Neue.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Harabara';
	src: url('/fonts/usecleandrop/Harabara Mais Demo.eot');
	src: url('/fonts/usecleandrop/Harabara Mais Demo.woff') format('woff'), 
		 url('/fonts/usecleandrop/Harabara Mais Demo.ttf') format('truetype'), 
		 url('/fonts/usecleandrop/Harabara Mais Demo.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


* {
	margin: 0;
	padding: 0;
}

body {
	height: 800px;

  	
}


.container {
    background-image: radial-gradient(#fff,#ecf8fe);
    /*padding-left: 30px;
    padding-right: 30px;	*/
}


.h-logo {
	display: inline-block;
	margin-right: 10px;
	
}

.h-nav {
	display: inline-block;
	position: relative;
}

header + div.row {
	margin-top: 20px;	
}

.hr {
	height:7px;
	width: 100%;
	background-color: #27429b;
	margin-top:3px;
  	/* will be "on top", if browser supports it */
 	background-image: linear-gradient(to right, #2b65b0, #40bfef);
}


.main-nav li{
	float:left;
	display:inline-block;
	padding-left: 10px;
	margin-right: 5px;
	
	background: transparent url(/images/usecleandrop/bullet.jpg) 0px 10px no-repeat;
	
}

.main-nav li:active,
.main-nav li.active {
	
	background: transparent url(/images/usecleandrop/bullet2.jpg) 0px 10px no-repeat;/* */
	
	/*background-image: radial-gradient(1px at 5px 50% , #40bfef 0%, #40bfef 5px, rgba(0, 0, 0, 0) 5px, rgba(0, 0, 0, 0) 5px);/* */
}

.main-nav li a{
	font-family: Arial, 'Myriad Pro';
	display:inline-block;
	font-size: 15px;
	padding: 5px 10px;
	color: #2469ae;
	font-weight:bold;
}


#si {
	width:85px; 
	height:85px;  
	margin-right:0;
	background-color: #f99b1c;
	color:#fff;
	position:absolute;
	top:45px;
	right:-70px;;
	
}

#si a {
	position:relative;
	height: 85px;
	text-align:center; 
	color:#fff;
	display:table-cell; 
	vertical-align:middle;
	width: 100px;
	font-family: 'Myriad Pro', Arial;
	font-size: 16px;
	
}

#si a div {

	
}

.circle {
	border-radius: 50%;
	display: inline-block;
	margin-right: 20px;
}


.service {
	margin-top: 60px;
    padding-right: 50px;
    text-align: right;
}






/************ aside ******************/

aside > .row > div {
	margin-bottom: 15px;
}

.gc {
	height: 100px;
	background-color: #00a9e0; 	
	border-radius: 10px;
}

.gd {
	height: 200px;
	background-color: #005BC3;
	border-radius: 10px;
}

.app-dl img {
	min-width: 100%;
}

/************ article ******************/

.slo {
	font-family: 'Myriad Pro', Arial;
	color: #005BC3;
	font-size: 20px;
	font-weight:bold;
	line-height: 1.2em;
}

.slo2 {
	font-family: 'Myriad Pro', Arial;
	color: #000;
	font-size: 19px;
	font-weight:bold;
}

.clean {
	font-family: 'Harabara', Arial;
	color: #005BC3;
}

.drop {
	font-family: 'Harabara', Arial;
	color: #00a9e0;
	font-weight:normal;
}

article h1 {
	font-family: 'Varela Round', sans-serif;
	color: #0055B7;
	font-weight:normal;
}

article p {
	font-size:15px;
	text-align:justify;	
	color: #777;
	font-weight:bold;
}

.steps {
	margin: 180px 0 50px 0;
}

.steps img {
	/* min-width: 100%; */
}

.footer {
	margin: 20px 0;
}

.footer a{
	color: #777;
	font-size: 13px;
}

.banner img {
	min-width: 100%;
}

.hr-dotted {
	margin: 25px 0 20px 0;
	border-top: 3px dotted #0055B7;
	width: 350px
}


.dotted {

	border-top: 3px dotted #0055B7;
	border-bottom: 3px dotted #0055B7;
	padding-bottom: 30px;
	
}

.started {
	font-family: 'Myriad Pro', Arial;
	background-color:#f99b1c;
	color:#fff; 
	padding: 5px 8px 2px 8px;
	display: inline-block;
	border-radius: 10px;
	font-weight:bold;
	font-size: 24px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.started:hover {
	text-decoration:none;
	color:#fff; 
	background-color:#00A7E1; 
}

.dotted-bottom {

	border-bottom: 3px dotted #0055B7;
	padding-bottom: 30px;
	
}



.step1 h3,
.step2 h3,
.step3 h3 {
	font-family: 'Myriad Pro', Arial;
	font-weight: bold;
	
}

.step1 h3 span{
	background-color: #00a9e0;
	color: #fff;
	padding: 6px 10px 4px 12px;
	border-radius: 20px;
	
}


.step2 h3 span{
	background-color: #005BC3;
	color: #fff;
	padding: 6px 10px 4px 12px;
	border-radius: 20px;
}

.step3 h3 span{
	background-color: #00AB39;
	color: #fff;
	padding: 6px 10px 4px 12px;
	border-radius: 20px;
}



.step1 p,
.step2 p,
.step3 p {
	margin: 0 15px;
	font-weight: bold;
	color: #005BC3;
}

.steps .row:hover {
	/* background-color: #fff; */
}

/************ pricing ******************/

#img-dollar {
	padding-top: 20px;
}

.content-pricing {
	
}


.pricing-article {
	font-family: 'Myriad Pro', Arial;
}

.contact-article h1,
.faq-article h1,
.pricing-article h1{
	color: #0055B7;
	font-weight:bold;
	
}


.pricing-article p{
	margin-right: 80px;
	color: #0055B7;
	font-size: 16px;
	font-weight:bold;
	
}

p.red {
	color:#ED1F24;
	font-size: 15px;
	font-weight: normal;
	margin-bottom: 50px
	
}


.pricing-article h4 {
	color: #3BB34A;
	letter-spacing: 3px;
	font-weight:bold;
	font-size: 25px;	
}


.pricelist {
	width: 350px;
	
}

.pricelist td {
	padding: 3px 0;
	color: #0055B7;
	font-weight:bold;
	font-size: 15px;
	
}

.pricelist tr td:last-child {
	text-align:center;
	background-color: #BEE9F4;
	width: 60px;
}

.f-remarks {
	color: #00AE41;
	margin-top: 30px;
	font-size: 12px;	
}

.f-remarks p {
	margin-left: 100px;
	margin-bottom: 0;
}

.f-remarks ul {
	margin-left: 100px;
}

.f-remarks ul li{
	float: left;
	margin-left: 10px;
}

.f-remarks ul li:nth-child(2){
	margin-left: 20px;
}

.asterisk {
	color: #00AE41;
	font-size: 20px;
	font-weight: bold;
		
}

/************ faq ******************/
.contact-article h4,
.faq-article h4 {
	color: #3BB34A;
	font-weight:bold;
	font-size: 24px;
	margin-top: 30px;	
}

.contact-article p,
.faq-article p {
	
	font-weight:bold;
	font-size: 15px;	
}


/************ bootstrap override ******************/


@media(min-width: 768px){

.container {
	/*max-width: 900px;*/
}

.slo {
	margin: 0 90px;
	text-align: center;
}

.slo2 {
	text-align: center;
}

}


@media (min-width: 768px) and (max-width: 992px) { 
.main-nav li {
    margin-right: 0px;

}

.main-nav li a {
    padding: 5px 3px 5px 7px
}

.service {
	margin-right: 50px;
}

#si {

	right: 0;
    top: 5px;
	
}

.pricing-article p{
	margin-right: 0;
}



.f-remarks ul li{
	float: none;
	margin-left: 10px;

}

.f-remarks ul li:nth-child(2) {
    margin-left: 10px;
}

.slo {
	margin: 0 0 15px 0;
	text-align: center;
	font-size: 19px;
}

.steps {
	margin: 50px 0 50px 0;
}

.step1 p,
.step2 p,
.step3 p {
	font-size: 20px;
}


.steps img {
	margin-top: 20px;
}


}



@media(max-width: 768px){
#si {
	width:auto; 
	height:auto;  


	color:#fff;
	position:static;
	background-color:transparent;
	
}

#si a {
	position:static;
	height: auto;
	color: #2469ae;

	
}

.circle {
	border-radius: none;
	display: inline-block;
}

.main-nav li {
    background-image: none;
    margin-right: 10px;
    margin-top: 10px;
    
}

.main-nav li.active {
	background-image: none;
}

.main-nav li a {
    padding: 10px 17px;
	font-size: 18px;
	border: 1px solid #2469ae;
	border-radius: 5px;

}

.main-nav li.active a{
	background-color: #00a9e0;
	color: #fff;
}

.service {
	margin-top:0;
}

.pricelist {
	width: 100%;
	
}

.pricing-article p{
	margin-right: 0;
}

.hr-dotted {
	width: 100%;
}



.f-remarks p {
	margin-left: 0;
}

.f-remarks ul {
	margin-left: 0;
}

.f-remarks ul li{
	float: none;
	margin-left: 10px;
}

.f-remarks ul li:nth-child(2) {
    margin-left: 10px;
}

.steps {
	margin: 50px 0 50px 0;
}


.steps img {
	margin-top: 20px;
}

}

















