body {
	color:#787878;
	font:14px/1.286 Arial, Helvetica, sans-serif;
	margin:0;
	background:#fff;
	min-width:980px;
}
a {
	color:#3299fe;
	text-decoration:none;
}
a:hover {text-decoration:underline;}
img {border:none;}
input,
textarea,
select {vertical-align:middle;}
form,
fieldset {
	margin:0;
	padding:0;
	border-style:none;
}
#wrapper {
	width:100%;
	position:relative;
}
#header {
	width:980px;
	overflow:hidden;
	margin:25px auto 20px;
}
.header-holder {
	width:959px;
	overflow:hidden;
	padding:0 0 20px 21px;
}
.logo {
	background:url(/images/logo.gif) no-repeat;
	text-indent:-9999px;
	overflow:hidden;
	width:316px;
	height:76px;
	float:left;
}
.logo a {
	display:block;
	height:100%;
}
.logoPowered {
	background:url(/images/logo-powered.jpg) no-repeat;
	text-indent:-9999px;
	overflow:hidden;
	width:305px;
	height:77px;
	float:left;
}
.logoPowered a {
	display:block;
	height:100%;
}
.form-holder {
	float:right;
	width:323px;
	text-align:right;
	margin:11px 0 0;
}
.login-form .row {
	float:left;
	width:100%;
}
.login-form label {
	float:left;
	font-size:12px;
	line-height:22px;
	color:#149dd8;
	margin:0 0 -1px;
}
.sub .form-holder {margin:5px 0 0;}
.sub .login-form label {margin:0 0 5px;}
.login-form {
	overflow:hidden;
	margin:0 6px 0 0;
	padding:0 0 3px;
}
.login-form .text-field {
	float:left;
	line-height:18px;
	font-size:11px;
	color:#858585;
	width:105px;
	height:18px;
	padding:2px 3px;
	border:1px solid #d0d4e0;
	margin:0 3px 0 0;
}
.login-form .btn-submit {
	background:#fe9900;
	width:85px;
	height:23px;
	padding:0 0 5px;
	cursor:pointer;
	border:none;
	color:#fff;
	font-size:12px;
	text-transform:uppercase;
	line-height:24px;
	margin:0;
}
*+html .login-form .btn-submit {line-height:20px;}
.mac .login-form .btn-submit{padding:0;}
.forget {
	text-decoration:underline;
	font-size:11px;
	line-height:14px;
	float:right;
}
.forget:hover {text-decoration:none;}
.nav-bar {
	overflow:hidden;
	width:963px;
	background:url(/images/bg-nav.gif) no-repeat;
	height:28px;
	padding:13px 11px 0 6px;
}
#nav {
	margin:0;
	padding:0;
	list-style:none;
	float:left;
	font-size:13px;
	z-index:1;
}
#nav li {
	float:left;
	padding:0 3px 0 4px;
	background:url(/images/sep.gif) no-repeat 0 50%;
}
#nav li:first-child {
	background:none;
	padding:0 3px 0 0;
}
#nav a {
	color:#606060;	
	font-weight:bold;
	padding:0 7px 0 0;
	display:block;
}
#nav span {
	padding:0 0 0 9px;
	height:25px;
}
#nav a:hover,
#nav .active a {
	color:#fff;
	text-decoration:none;
	background:url(/images/nav-hover.png) no-repeat 100% 0px;;
	padding:4px 6px 4px 0;
	cursor:pointer;
	margin:-4px 0 0;
	height:17px;
	float:left;
}
#nav a:hover span,
#nav .active a span {
	background:url(/images/nav-hover.png) no-repeat 0 -25px;
	float:left;
	height:22px;
	padding:4px 0 0 9px;
	margin:-4px 0 0;
	position:relative;
	z-index:10;
}
#nav .active a {
	font-weight:bold;
	color:#fff;
}
.select-form {
	float:right;
	margin:-3px 0 0;
}
.select-form select {
	width:213px;
	font-size:11px;
	color:#858585;
	height:23px;
	background:#fff;
	float:left;
}
.nav-bar h3 {
	float:right;
	margin:-3px 4px 0 0;
	font-size:13px;
	line-height:22px;
	font-weight:normal;
	color:#333;
	text-transform:uppercase;
}
#main {
	width:980px;
	overflow:hidden;
	margin:0 auto 26px;
}
.sub #main {
	padding:18px 0 18px;
	margin:0 auto;
}
*+html .sub #main {padding:18px 0 15px;}
.content-block {
	width:962px;
	padding:0 0 19px 18px;
	overflow:hidden;
}
.content {
	float:left;
	width:600px;
}
.content h1 {
	margin:0 0 8px;
	font-size:28px;
	line-height:34px;
	font-weight:bold;
	color:#fe9900;
}
.content p {margin:0 0 19px;}
.content p span {color:#fe9900;}
.content > p > strong {
	font-weight:normal;
	color:#0066cb;
	margin:0;
	line-height:18px;
}
.table-block1,
.table-block2,
.table-wide {
	overflow:hidden;
	width:600px;
	border:1px solid #d5d5d5;
	margin:0 0 14px 2px;
}
.table-block2 {
	width:236px;
	margin:0 0 21px;
}
.table-wide {
	width:600px;
	margin:0 0 21px;
}
.table-block1 h3,
.table-block2 h3,
h6, h5 {
	background:#58595b;
	padding:5px 11px 4px 11px;
	width:600px;
	margin:0;
	color:#fff;
	font-size:13px;
	line-height:22px;
	text-transform:capitalize;
}
.content-section .table-block1 h3 {background:#f07e24;}
.table-block2 h3 {
	background:#f07e24;
	width:214px;
}
h6 {
	background:#f07e24;
	width:97%;
}
h5 {
	background:#58595b;
	width:97%;
}

.table-block1 h4 {
	background:white;
	padding:5px 11px 4px 11px;
	margin:0;
	color:#58595b;
	font-size:13px;
	font-weight: normal;
	line-height:22px;
}
.table {
	width:100%;
	overflow:hidden;
	font-size:13px;
	line-height:32px;
	border-collapse:collapse;
	color:#545557;
	margin:0 0 -7px;
}
.table .active td,
.table .last td {background:#dcdcdc url(/images/bg-table.gif) repeat-x;}
.table .col1 {
	padding:0 5px 0 13px;
	width:242px;
	border-bottom:7px solid #fff;
}
.table-block2 .col1 {
	padding:0 5px 0 14px;
	width:100px;
	border-bottom:7px solid #fff;
}
.table-wide .col1 {
	width:150px;
	padding:0 3px;
	border-bottom:7px solid #fff;
	line-height:20px;
	font-weight:bold;
}
.table .col2 {
	width:202px;
	padding:0 5px;
	border-bottom:7px solid #fff;
   	line-height:20px;
}
.table-block2 .col2 {
	width:111px;
	padding:0 3px;
	border-bottom:7px solid #fff;
}
.table-wide .col2 {
	width:311px;
	padding:0 3px;
	border-bottom:7px solid #fff;
}
.table .col3 {
	width:208px;
	padding:0 3px;
	border-bottom:7px solid #fff;
}
.content-section .col1 {
	padding:0 5px 0 13px;
	width:121px;
	border-bottom:7px solid #fff;
}
.content-section .col2 {
	padding:0 5px;
	width:110px;
	border-bottom:7px solid #fff;
}
.content-section .col3 {
	padding:0 5px 0 5px;
	width:208px;
	border-bottom:7px solid #fff;
}
.text {
	color:#0266cb;
	font-size:13px;
	line-height:16px;
	font-weight:bold;
	margin:0 0 0 16px;
}
.box-aside {
	float:right;
	/*width:238px;*/
        width: 300px;
	margin:9px 0 0;
}
.post {
	/*width:186px;*/
        width: 275px;
	background:#eff0f0;
	padding:9px 36px 10px 14px;
	font-size:13px;
	line-height:18px;
	color:#545557;
	margin:0 0 0 1px;
}
.post p {margin:0 0 10px;}
.post h3 {
	margin:0 0 4px;
	font-size:13px;
	line-height:22px;
	font-weight:bold;
	color:#58595b;
}

.content-section {
	width:962px;
	padding:0 0 0 18px;
}
.content-section:after {
	content:"";
	display:block;
	clear:both;
}
.content-section .main-col {
	float:left;
	width:474px;
	margin:0 34px 0 0;
}
.content-section .info-col {
	float:left;
	margin:-7px 0 0;
	position:relative;
	width:453px;
}
.content-section h2 {
	margin:0 0 5px;
	font-size:30px;
	line-height:34px;
	font-weight:bold;
	color:#f07e24;
	text-transform:capitalize;
}
.list-services {
	margin:0 0 0 10px;
	padding:0;
	list-style:none;
}
.list-services li {
	padding:0 0 16px;
	overflow:hidden;
	width:100%;
}
.list-services a {color:#787878;}
.bullet1,
.bullet2,
.bullet3 {
	display:block;
	background:url(/images/bul1.gif) no-repeat;
	width:8px;
	height:15px;
	padding:0 0 0 16px;
}
.bullet2 {background:url(/images/bul2.gif) no-repeat;}
.bullet3 {background:url(/images/bul3.gif) no-repeat;}
.block {
	width:980px;
	margin:0 0 28px;
}
.blockOld {
	width:980px;
	background:#0066cb;
	margin:0 0 28px;
}
.block .holder {background:url(/images/bg-block-top.gif) no-repeat;}
.block .wrap {
	background:url(/images/bg-block-bottom.gif) no-repeat 0 100%;
	overflow:hidden;
	min-height:392px;
}
.carousel {
	width:980px;
	position:relative;
}
.carousel:after {
	display:block;
	clear:both;
	content:'';
}
.carousel .frame {
	width:897px;
	overflow:hidden;
	height:412px;
	position:relative;
	padding:36px 0 0;
	margin:0 0 0 43px;
}
.carousel .slide-list {
	position:relative;
	width:99999px;
	overflow:hidden;
	margin:0;
	padding:0;
	list-style:none;
}
.carousel .slide-list li {
	height:340px;
	position:relative;
	width:897px;
	float:left;
}
.carousel .slide-list img{
	float:right;
	margin:0 0 0 20px;
}
.info-block {
	color:#fff;
	margin:12px 0 0;
	overflow:hidden;
}
.info-block h2 {
	margin:0 0 12px;
	font-size:30px;
	line-height:34px;
	font-weight:normal;
}
.info-block p {margin:0 0 18px;}
.buttons {
	overflow:hidden;
	width:100%;
}
.register {
	float:left;
	background:url(/images/bg-btn-black.png) no-repeat;
	width:152px;
	height:44px;
	padding:0 0 0 50px;
	cursor:pointer;
	border:none;
	color:#fff;
	font-size:21px;
	text-transform:capitalize;
	line-height:44px;
	margin:6px 12px 0 0;
}
.more2 {
	float:left;
	background:url(/images/bg-btn-grey.png) no-repeat;
	width:122px;
	height:43px;
	padding:0 0 0 42px;
	cursor:pointer;
	border:none;
	color:#000;
	font-size:21px;
	line-height:43px;
	margin:6px 0 0;
}
.switcher {
	position:absolute;
	right:238px;
	bottom:10px;
}
.switcher ul{
	margin:0;
	padding:0;
	overflow:hidden;
	list-style:none;
}
.switcher li {
	float:left;
	margin:0 0 0 5px;
}
.switcher li a {
	text-indent:-9999px;
	background:url(/images/bg-switcher.gif) no-repeat;
	display:block;
	overflow:hidden;
	width:15px;
	height:15px;
}
.switcher li a:hover,
.switcher .active a {background:url(/images/bg-switcher.gif) no-repeat 0 -15px;}
.box {
	width:970px;
	margin:0 0 0 4px;
	background:url(/images/box-center.gif) repeat-y;
}
.box-holder {background:url(/images/box-top.gif) no-repeat;}
.box-frame {
	background:url(/images/box-bottom.gif) no-repeat 0 100%;
	overflow:hidden;
	padding:20px 14px 26px 30px;
	margin:0 -73px 0 0;
}
.box-content {
	float:left;
	width:260px;
	padding:0 73px 0 0;
	font-size:14px;
}
.more {
	display:block;
	background:url(/images/bg-btn-more.gif) no-repeat;
	width:105px;
	height:26px;
	line-height:25px;
	padding:0 0 0 11px;
	cursor:pointer;
	color:#fff;
	font-size:12px;
}
.more:hover,
.more.active {
	background:url(/images/btn-more-hover.gif) no-repeat;
	text-decoration:none;
}
.box-content h2 {
	font-size:30px;
	line-height:34px;
	margin:0 0 11px;
	color:#fe9900;
}
.visual {
	background:#fff;
	margin:0 0 7px 1px;
	display:block;
}
.visual img {
	vertical-align:top;
	padding:1px;
	border:1px solid #b4b4b4
}
.box-content p {margin:0 0 10px;}
#footer {
	width:100%;
	position:relative;
	background:#0066cb;
}
.footer-holder {
	width:904px;
	padding:39px 38px 75px 38px;
	margin:0 auto;
	overflow:hidden;
}
.menus {float:left;}
.menus h3,
.newsletter h3,
.networks-holder h3 {
	margin:0 0 9px;
	font-size:16px;
	line-height:18px;
	font-weight:normal;
	color:#db4;
	text-transform:uppercase;
}
.menus h3 span,
.newsletter h3 span,
.networks-holder h3 span {color:#43cde6;}
.menus ul {
	margin:0 16px 0 2px;
	padding:0;
	list-style:none;
	font-size:13px;
	font-weight:bold;
	line-height:16px;
	float:left;
	width:165px;
}
.menus li {margin:0 0 2px;}
.menus a {color:#fff;}
.newsletter {
	float:left;
	color:#db4;
	font-size:11px;
	line-height:14px;
	width:240px;
}
.newsletter p {margin:0;}
.email-form {
	margin:0 0 14px 0;
	padding:3px 0 0;
}
.email-form .row {
	overflow:hidden;
	margin:0 0 14px;
}

.text-field-white {
	/*width:217px;*/
        width: 250px;
	border:none;
	overflow:hidden;
	float:left;
	margin:0;
}

.text-field-white input {
    border: none;
    /*width: 184px;*/
    width: 250px;
}

.text-area-white
{
    float: left;
}

.text-area-white textarea {
	background:white;
	border:0;
	/*width:184px;*/
        width: 228px;
	padding:8px 11px 7px;
	line-height:16px;
	font-style:italic;
	float:left;
	margin:0;
	color:#656462;
}

.invalid {
    display: block;
    color: red;
}

.message ul {
    padding: 0;
    margin: 0;
}

.message ul li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.success {
    color: green;
}

.error {
    color: red;
}

.text-field input,
.text-field-white input{
    padding:6px 11px 9px;
}

.email-form .btn-submit {
	background:url(/images/bg-subscribe.gif) no-repeat;
	width:132px;
	height:31px;
	padding:0 0 2px;
	cursor:pointer;
	border:none;
	color:#fff;
	font-size:14px;
	font-weight: bold;
	line-height:31px;
}

*+html .email-form .btn-submit {line-height:27px;}
.networks-holder {
	float:right;
	width:124px;
	margin:0 55px 0 0;
}
.social-networks {
	list-style:none;
	padding:0;
	margin:11px -10px 0 0;
	overflow:hidden;
}
.social-networks li {
	display:inline-block;
	padding:0 5px 10px 0;
	vertical-align:top;
}
*+html .social-networks li {
	display:inline;
	padding:0 8px 10px 0;
}
.social-networks a {
	display:block;
	text-indent:-9999px;
	width:36px;
	height:37px;
	overflow:hidden;
}
.facebook {background:url(/images/ico-facebook.gif) no-repeat;}
.twitter {background:url(/images/ico-twitter.gif) no-repeat;}
.youtube {background:url(/images/ico-youtube.gif) no-repeat;}
.icon {background:url(/images/icon.gif) no-repeat;}
.google {background:url(/images/ico-google.gif) no-repeat;}
.rss {background:url(/images/ico-rss.gif) no-repeat;}
